Repository ROCm/rocm-libraries, pull requests merged in 2025-09, with the labels that each got.

#1274 [hipblaslt] restore tensile tuning from interruption with log
  projects/hipblaslt/tensilelite/Tensile/BenchmarkProblems.py
  projects/hipblaslt/tensilelite/Tensile/ClientWriter.py
  projects/hipblaslt/tensilelite/Tensile/Tensile.py
  projects/hipblaslt/tensilelite/client/include/BenchmarkTimer.hpp
  projects/hipblaslt/tensilelite/client/include/LogReporter.hpp
  projects/hipblaslt/tensilelite/client/main.cpp
  projects/hipblaslt/tensilelite/client/src/BenchmarkTimer.cpp
  projects/hipblaslt/tensilelite/client/src/ResultFileReporter.cpp
Labels: NoCI, project: hipblaslt, organization: ROCm

#1427 Update gardening.md Sep 02,2025
  docs/gardening.md
Labels: documentation, organization: ROCm, project: none

#1400 [rocsparse] use convert_to_int for bsrsm nos6 and nos7
  projects/rocsparse/clients/testings/testing_bsrsm.cpp
  projects/rocsparse/clients/tests/test_bsrsm.yaml
Labels: project: rocsparse, organization: ROCm

#1417 Fix GroupedGemm bug: hipblaslt runtime set same sync buffer for different gemm
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_mat.cpp
Labels: project: hipblaslt, organization: ROCm

#1317 SPIR-V using tuned configs
  projects/hipcub/.gitignore
  projects/hipcub/CMakeLists.txt
  projects/hipcub/hipcub/include/hipcub/backend/rocprim/device/device_for.hpp
  projects/hipcub/hipcub/include/hipcub/backend/rocprim/device/device_segmented_reduce.hpp
  projects/rocprim/CHANGELOG.md
  projects/rocprim/benchmark/benchmark_device_batch_memcpy.cpp
  projects/rocprim/benchmark/benchmark_device_merge_sort_block_sort.parallel.hpp
  projects/rocprim/benchmark/benchmark_device_reduce.parallel.hpp
  projects/rocprim/benchmark/benchmark_device_segmented_reduce.parallel.hpp
  projects/rocprim/rocprim/include/rocprim/config.hpp
  projects/rocprim/rocprim/include/rocprim/device/config_types.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_adjacent_difference.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_adjacent_find.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_batch_memcpy.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_config_helper.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_merge.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_nth_element.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_partition.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_reduce.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_reduce_by_key.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_run_length_encode.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_scan.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_scan_by_key.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_search.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_search_n.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_segmented_radix_sort.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_segmented_reduce.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_segmented_scan.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/lookback_scan_state.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_adjacent_difference.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_adjacent_find.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_copy.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_find_first_of.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_histogram.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_memcpy.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_merge.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_merge_inplace.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_merge_sort.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_nth_element.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_partition.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_radix_sort.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_reduce.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_reduce_by_key.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_run_length_encode.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_scan.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_scan_by_key.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_segmented_radix_sort.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_segmented_reduce.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_segmented_scan.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_select.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_transform.hpp
  projects/rocprim/rocprim/include/rocprim/device/specialization/device_radix_block_sort.hpp
  projects/rocprim/rocprim/include/rocprim/device/specialization/device_radix_merge_sort.hpp
  projects/rocprim/test/rocprim/CMakeLists.txt
  projects/rocprim/test/rocprim/test_device_batch_memcpy.cpp
  projects/rocprim/test/rocprim/test_device_scan.cpp
  projects/rocprim/test/rocprim/test_device_scan_by_key.cpp
  projects/rocprim/test/rocprim/test_device_search_n.cpp
  projects/rocprim/test/rocprim/test_linking_new_scan.hpp
Labels: documentation, project: hipcub, project: rocprim, organization: streamhpc

#1437 Add origami label
  .github/labeler.yml
Labels: organization: ROCm, github actions, project: none

#1095 [hipCUB][CCCL2.8 parity] Resolve match thread level reduction to cub
  projects/hipcub/CHANGELOG.md
  projects/hipcub/CMakeLists.txt
  projects/hipcub/hipcub/include/hipcub/backend/rocprim/thread/thread_operators.hpp
  projects/hipcub/hipcub/include/hipcub/backend/rocprim/thread/thread_reduce.hpp
  projects/hipcub/hipcub/include/hipcub/backend/rocprim/util_type.hpp
  projects/hipcub/test/hipcub/test_hipcub_block_exchange.cpp
  projects/hipcub/test/hipcub/test_hipcub_thread.cpp
Labels: project: hipcub, organization: streamhpc

#1123 [hipCUB] Pull rocPRIM dependency from monorepo, add new fetch option
  projects/hipcub/CHANGELOG.md
  projects/hipcub/CMakeLists.txt
  projects/hipcub/README.md
  projects/hipcub/cmake/Dependencies.cmake
  projects/hipcub/cmake/Summary.cmake
Labels: project: hipcub, organization: ROCm

#1415 [hipblaslt] check compiler support _Float16
  projects/hipblaslt/CMakeLists.txt
Labels: project: hipblaslt, organization: ROCm

#1381 [hipFFT] Remove conditional from body of test's target_include_directories cmake clause
  projects/hipfft/clients/tests/CMakeLists.txt
Labels: project: hipfft, organization: ROCm

#1455 [superbuild] Add project triggers
  .azuredevops/superbuild.yml
  CMakeLists.txt
  CMakePresets.json
  CONTRIBUTING.md
  cmake/modules/add_subdirectory_with_message.cmake
Labels: documentation, organization: ROCm, External CI, project: none

#1460 [hipblastlt] Fixed rotating num = -1 case
  projects/hipblaslt/tensilelite/client/src/BenchmarkTimer.cpp
  projects/hipblaslt/tensilelite/client/src/DataInitialization.cpp
Labels: project: hipblaslt, organization: ROCm

#1355 [Math-CI] Fix jenkins pipeline view
  projects/hipblas/.jenkins/precheckin-cuda.groovy
  projects/hipblas/.jenkins/precheckin.groovy
  projects/hipblas/.jenkins/static.groovy
  projects/hipblas/.jenkins/staticanalysis.groovy
  projects/hipfft/.jenkins/debug.groovy
  projects/hipfft/.jenkins/multigpu.groovy
  projects/hipfft/.jenkins/staticanalysis.groovy
  projects/hipfft/.jenkins/staticlibrary.groovy
  projects/hipsolver/.jenkins/debug.groovy
  projects/hipsolver/.jenkins/multicompiler.groovy
  projects/hipsolver/.jenkins/precheckin-cuda.groovy
  projects/hipsolver/.jenkins/precheckin.groovy
  projects/hipsolver/.jenkins/static.groovy
  projects/hipsolver/.jenkins/staticanalysis.groovy
  projects/hipsparse/.jenkins/precheckin-cuda.groovy
  projects/hipsparse/.jenkins/staticanalysis.groovy
  projects/rocsolver/.jenkins/debug.groovy
  projects/rocsolver/.jenkins/extended.groovy
  projects/rocsolver/.jenkins/precheckin.groovy
  projects/rocsolver/.jenkins/static.groovy
  projects/rocsolver/.jenkins/staticanalysis.groovy
  projects/rocsparse/.jenkins/asan.groovy
  projects/rocsparse/.jenkins/codecov.groovy
  projects/rocsparse/.jenkins/debug.groovy
  projects/rocsparse/.jenkins/extended.groovy
  projects/rocsparse/.jenkins/precheckin.groovy
  projects/rocsparse/.jenkins/static.groovy
  projects/rocsparse/.jenkins/staticanalysis.groovy
  shared/rocroller/.jenkins/code-coverage.groovy
  shared/rocroller/.jenkins/documentation.groovy
  shared/rocroller/.jenkins/performance.groovy
  shared/rocroller/.jenkins/precheckin.groovy
  shared/tensile/.jenkins/codecov.groovy
  shared/tensile/.jenkins/debug.groovy
  shared/tensile/.jenkins/extended.groovy
  shared/tensile/.jenkins/integration.groovy
  shared/tensile/.jenkins/nightly.groovy
  shared/tensile/.jenkins/precheckin.groovy
  shared/tensile/.jenkins/profiling.groovy
  shared/tensile/.jenkins/staticanalysis.groovy
Labels: shared: tensile, project: hipblas, project: hipfft, project: hipsolver, project: hipsparse, project: rocsolver, project: rocsparse, shared: rocroller, organization: ROCm

#1386 Enable ck implicit gemms on gfx950
  projects/miopen/src/include/miopen/solver/static_ck_common.hpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_bwd_v1r1.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_bwd_v1r1_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_bwd_v4r1.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_bwd_v4r1_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_fwd_v4r1.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_fwd_v4r4.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_fwd_v4r4_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_fwd_v4r4_xdlops_padded_gemm.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_fwd_v4r5_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_wrw_v4r4.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_wrw_v4r4_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_wrw_v4r4_xdlops_padded_gemm.cpp
  projects/miopen/test/gtest/gtest_common.cpp
  projects/miopen/test/gtest/unit_conv_solver.hpp
  projects/miopen/test/gtest/unit_conv_solver_ConvHipImplicitGemmBwdDataV1R1.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvHipImplicitGemmBwdDataV1R1Xdlops.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvHipImplicitGemmBwdDataV4R1.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvHipImplicitGemmBwdDataV4R1Xdlops.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvHipImplicitGemmForwardV4R4Xdlops.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvHipImplicitGemmForwardV4R4Xdlops_Padded_Gemm.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvHipImplicitGemmForwardV4R5Xdlops.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvHipImplicitGemmV4R1Fwd.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvHipImplicitGemmV4R1WrW.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvHipImplicitGemmWrwV4R4Xdlops.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvHipImplicitGemmWrwV4R4Xdlops_Padded_Gemm.cpp
Labels: project: miopen, organization: ROCm

#1270 [rocBLAS] fix OpenMP compile flags and build example
  projects/rocblas/clients/CMakeLists.txt
  projects/rocblas/clients/common/CMakeLists.txt
  projects/rocblas/clients/samples/CMakeLists.txt
  projects/rocblas/clients/samples/example_openmp.cpp
Labels: project: rocblas, organization: ROCm

#1459 Add implementation of SCLongBranchVccnz
  projects/hipblaslt/tensilelite/Tensile/Components/ShiftVectorComponents.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/extension.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/instruction/extension.cpp
Labels: gfx94x, gfx950, project: hipblaslt, organization: ROCm

#1435 [hipblaslt] Add missing copyright headers for hipBLASLt files
  projects/hipblaslt/clients/samples/04_hipblaslt_gemm_bias/sample_hipblaslt_gemm_bias.cpp
  projects/hipblaslt/clients/scripts/performance/git_info.py
  projects/hipblaslt/clients/scripts/performance/specs.py
  projects/hipblaslt/clients/tests/src/hipblaslt_gtest_ext_op.cpp
  projects/hipblaslt/docs/cleanup_text.sh
  projects/hipblaslt/tensilelite/Tensile/CustomYamlLoader.py
  projects/hipblaslt/tensilelite/Tensile/Utilities/origami/origami_grid_test.py
  projects/hipblaslt/tensilelite/Tensile/Utilities/origami/origami_module.cpp
  projects/hipblaslt/tensilelite/Tensile/Utilities/origami/origami_test.py
  projects/hipblaslt/tensilelite/Tensile/Utilities/origami/setup.py
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/format.hpp
  projects/hipblaslt/tensilelite/rocisa/setup.py
  projects/hipblaslt/tensilelite/rocisa/tox.ini
  projects/hipblaslt/tensilelite/src/analytical/StreamK.cpp
  projects/hipblaslt/tensilelite/tox.ini
Labels: project: hipblaslt, organization: ROCm

#1185 [rocBLAS] Users/torrezuk/swdev 544606 batched env hipblaslt (#1178)
  projects/rocblas/library/src/include/handle.hpp
Labels: project: rocblas, organization: ROCm

#1336 [rocPRIM] Fix hip version check for hipStreamLegacy usage
  projects/rocprim/rocprim/include/rocprim/device/config_types.hpp
  projects/rocprim/test/rocprim/test_config_dispatch.cpp
Labels: project: rocprim, organization: ROCm

#1500 Add DVC setup step to Windows CI workflow
  .github/workflows/therock-ci-windows.yml
Labels: organization: ROCm, github actions, project: none

#1290 fix lintian warnings
  projects/hiprand/CMakeLists.txt
  projects/rocblas/CMakeLists.txt
Labels: project: hiprand, project: rocblas, organization: ROCm

#1489 Run trailing-whitespace and end-of-file-fixer pre-commit hooks [1/8]
  .azuredevops/rocm_ci_caller.yml
  .github/requirements.txt
  .github/scripts/tests/therock_configure_ci_test.py
  .github/scripts/therock_configure_ci.py
  .github/workflows/therock-ci-linux.yml
  .github/workflows/update-docs.yml
  CONTRIBUTING.md
  cmake/modules/add_subdirectory_with_message.cmake
  docs/data/reference/env-variables/logging-env.rst
  docs/gardening.md
  docs/how-to-cherry-pick-monorepo-changes-to-release-staging.md
  docs/migration-process.md
Labels: documentation, organization: ROCm, External CI, github actions, project: none

#1195 [hipblaslt] Adding origami fp64 libs for gfx950
  projects/hipblaslt/clients/tests/data/matmul_gtest.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_D_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bljk_D_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bjlk_D_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_D_B_UserArgs.yaml
Labels: project: hipblaslt, organization: ROCm

#1472 [hipBLASLt] Add ScaleCD for F8F8S and BiasSource for F8SS data type gfx950
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_F8F8S_BH_BiasSHB_HAS_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_F8SS_BH_BiasSHB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bljk_F8F8S_BH_BiasSHB_HAS_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bljk_F8SS_BH_BiasSHB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bjlk_F8F8S_BH_BiasSHB_HAS_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bjlk_F8SS_BH_BiasSHB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_F8F8S_BH_BiasSHB_HAS_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_F8SS_BH_BiasSHB_HAS_SAB_SAV_UserArgs.yaml
Labels: project: hipblaslt, organization: ROCm

#1464 [hipblaslt] Fix compile definition for lazy loading
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/device-library/CMakeLists.txt
Labels: project: hipblaslt, organization: ROCm

#1515 LICENSE clean up
  README.md
  projects/hipblas-common/LICENSE.md
  projects/hipblas/LICENSE.md
  projects/hipblaslt/LICENSE.md
  projects/hipfft/LICENSE.md
  projects/hiprand/CMakeLists.txt
  projects/hiprand/LICENSE.md
  projects/hipsparse/LICENSE.md
  projects/hipsparselt/LICENSE.md
  projects/miopen/LICENSE.md
  projects/rocblas/LICENSE.md
  projects/rocfft/LICENSE.md
  projects/rocprim/CMakeLists.txt
  projects/rocprim/LICENSE.md
  projects/rocrand/CMakeLists.txt
  projects/rocrand/LICENSE.md
  projects/rocsparse/LICENSE.md
  shared/mxdatagenerator/LICENSE.md
  shared/rocroller/LICENSE.md
  shared/tensile/LICENSE.md
Labels: documentation, ci:docs-only, NoCI, project: miopen, shared: tensile, project: hipblas-common, project: hipblas, project: hipblaslt, project: hipfft, project: hiprand, project: hipsparse, project: hipsparselt, project: rocblas, project: rocfft, project: rocprim, project: rocrand, project: rocsparse, shared: rocroller, organization: ROCm, shared: mxdatagenerator

#1364 [rocthrust] Add a CMake option to allow tests to be built from installed ROCm libraries
  projects/rocthrust/CHANGELOG.md
  projects/rocthrust/CMakeLists.txt
  projects/rocthrust/README.md
  projects/rocthrust/cmake/Summary.cmake
  projects/rocthrust/docs/install/rocThrust-install-with-cmake.rst
  projects/rocthrust/test/CMakeLists.txt
  projects/rocthrust/testing/CMakeLists.txt
Labels: documentation, project: rocthrust, organization: ROCm

#1509 [hipblaslt] Docs: fix broken link to samples
  projects/hipblaslt/docs/how-to/how-to-use-hipblaslt-offline-tuning.rst
Labels: documentation, ci:docs-only, project: hipblaslt, organization: ROCm

#1461 MBSK last WG reduce R/W to WS
  projects/hipblaslt/tensilelite/Tensile/Components/GSU.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Labels: project: hipblaslt, organization: ROCm

#1404 [rocBLAS] cache and export handle device properties
  projects/rocblas/library/src/handle.cpp
  projects/rocblas/library/src/include/handle.hpp
Labels: project: rocblas, organization: ROCm

#1445 [hipblaslt] Enable ReLU/Clamp activation auxiliary output support for f16/bf16 data types
  projects/hipblaslt/clients/common/include/testing_auxiliary.hpp
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
  projects/hipblaslt/clients/tests/data/matmul_gtest.yaml
  projects/hipblaslt/library/include/hipblaslt/hipblaslt.h
  projects/hipblaslt/library/src/amd_detail/include/auxiliary.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/include/rocblaslt-types.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Ailk_Bjlk_BBS_BH_Bias_AuxB_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Ailk_Bjlk_BSS_BH_Bias_AuxS_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Ailk_Bjlk_HHS_BH_Bias_AuxH_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Ailk_Bjlk_HSS_BH_Bias_AuxS_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Ailk_Bljk_BBS_BH_Bias_AuxB_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Ailk_Bljk_BSS_BH_Bias_AuxS_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Ailk_Bljk_HHS_BH_Bias_AuxH_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Ailk_Bljk_HSS_BH_Bias_AuxS_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bjlk_BBS_BH_Bias_AuxB_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bjlk_BSS_BH_Bias_AuxS_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bjlk_HHS_BH_Bias_AuxH_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bjlk_HSS_BH_Bias_AuxS_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bljk_BSS_BH_Bias_AuxS_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bljk_HHS_BH_Bias_AuxH_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bljk_HSS_BH_Bias_AuxS_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/utility.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/utility.cpp
Labels: project: hipblaslt, organization: ROCm

#1470 [hipblaslt] Stream-K Parallel Reduction
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller_host.cpp
  projects/hipblaslt/tensilelite/Tensile/Components/LSU.py
  projects/hipblaslt/tensilelite/Tensile/Components/PersistentLoop.py
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/sk_reduction.yaml
  projects/hipblaslt/tensilelite/Tensile/Utilities/origami/origami_grid_test.py
  projects/hipblaslt/tensilelite/Tensile/Utilities/origami/origami_module.cpp
  projects/hipblaslt/tensilelite/Tensile/Utilities/origami/setup.py
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/include/Tensile/analytical/StreamK.hpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/src/analytical/StreamK.cpp
Labels: project: hipblaslt, organization: ROCm

#1513 Initialize scale_type
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
Labels: project: hipblaslt, organization: ROCm

#1511 Modify MIOPEN_BUILD_DRIVER_DEFAULT condition
  projects/miopen/CMakeLists.txt
Labels: project: miopen, organization: ROCm

#1249 [rocBLAS] use llvm-cov
  projects/rocblas/CMakeLists.txt
  projects/rocblas/library/CMakeLists.txt
Labels: project: rocblas, organization: ROCm, gardener

#1040 Environment variable to override WGM value at run-time for experiments
  projects/hipblaslt/tensilelite/include/Tensile/AMDGPU.hpp
  projects/hipblaslt/tensilelite/src/AMDGPU.cpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
Labels: project: hipblaslt, organization: ROCm

#1546 [hipblaslt] lapack libraries
  projects/hipblaslt/install.sh
Labels: project: hipblaslt

#1550 gfx942 tf32 equality tuning
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Ailk_Bjlk_S_MX_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Ailk_Bljk_S_MX_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Alik_Bjlk_S_MX_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Alik_Bljk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Alik_Bljk_S_MX_B_UserArgs.yaml
Labels: project: hipblaslt, organization: ROCm

#1465 [hipblaslt] Add TF32 kernels for TN, NT and NN for gfx950
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bjlk_S_MX_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bljk_S_MX_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_S_MX_B_UserArgs.yaml
Labels: project: hipblaslt, organization: ROCm

#1576 Add guards for __HIP_NO_HALF_OPERATORS__ macro
  projects/hipcub/hipcub/include/hipcub/backend/rocprim/thread/thread_operators.hpp
  projects/hipcub/test/hipcub/CMakeLists.txt
  projects/hipcub/test/hipcub/test_hipcub_no_half_operators.cpp
Labels: project: hipcub, organization: streamhpc

#1549 [hipblaslt] Correct logic for enabling preload kernel arguments in tensilelite
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Labels: project: hipblaslt, organization: ROCm

#1282 [origami] Enable standalone origami build
  .azuredevops/origami.yml
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/CMakeLists.txt
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/rocroller_host_internal.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller_host.cpp
  projects/hipblaslt/tensilelite/CMakeLists.txt
  projects/hipblaslt/tensilelite/Tensile/Utilities/origami/origami_module.cpp
  projects/hipblaslt/tensilelite/include/CMakeLists.txt
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/include/Tensile/PredictionLibrary.hpp
  projects/hipblaslt/tensilelite/include/Tensile/analytical/Hardware.hpp
  projects/hipblaslt/tensilelite/include/Tensile/analytical/StreamK.hpp
  projects/hipblaslt/tensilelite/include/Tensile/hip/HipHardware.hpp
  projects/hipblaslt/tensilelite/src/CMakeLists.txt
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/src/analytical/AnalyticalGemm.cpp
  projects/hipblaslt/tensilelite/src/analytical/CMakeLists.txt
  projects/hipblaslt/tensilelite/src/analytical/Hardware.cpp
  projects/hipblaslt/tensilelite/src/analytical/StreamK.cpp
  projects/hipblaslt/tensilelite/src/hip/HipHardware.cpp
  shared/origami/CMakeLists.txt
  shared/origami/README.md
  shared/origami/cmake/dependencies.cmake
  shared/origami/cmake/origami-config.cmake.in
  shared/origami/include/origami/gemm.hpp
  shared/origami/include/origami/hardware.hpp
  shared/origami/include/origami/streamk.hpp
  shared/origami/include/origami/utils.hpp
  shared/origami/python/CMakeLists.txt
  shared/origami/python/README.md
  shared/origami/python/origami_grid_test.py
  shared/origami/python/origami_module.cpp
  shared/origami/python/origami_test.py
  shared/origami/python/setup.py
  shared/origami/src/origami/gemm.cpp
  shared/origami/src/origami/hardware.cpp
  shared/origami/src/origami/streamk.cpp
  shared/origami/src/origami/utils.cpp
Labels: project: hipblaslt, organization: ROCm, External CI, shared: origami

#1502 [hipblaslt] Add custom main loop scheduling
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_F8B8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/Components/CustomSchedule.py
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Custom_Cijk_Ailk_Bjlk_BBS_BH_Bias_HA_S_SAV_NTD_SK3_UserArgs_MT256x256x64_MI16x16x1_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Custom_Cijk_Ailk_Bljk_BBS_BH_Bias_HA_S_SAV_NTD_SK3_UserArgs_MT256x256x64_MI16x16x1_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Custom_Cijk_Alik_Bljk_BBS_BH_Bias_AS_SAV_UserArgs_MT256x256x64_MI16x16x1_SN_K1_MIWT4_16_DTVA_gfx950.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Custom_Cijk_Alik_Bljk_BBS_BH_Bias_AS_SAV_UserArgs_MT256x256x64_MI16x16x1_SN_K1_MIWT4_16_WSGRB2_DTVA_gfx950.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Custom_Cijk_Alik_Bljk_BBS_BH_Bias_HA_S_SAV_NTD_SK3_UserArgs_MT256x256x64_MI16x16x1_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Custom_Cijk_Alik_Bljk_BBS_BH_MT256x256x64_MI16x16x1_UserArgs_shortname1_gfx950.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Custom_Cijk_Alik_Bljk_F8B8BS_BH_Bias_HA_S_SAB_SAV_NTD_SK3_UserArgs_MT256x256x128_MI16x16x1_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Custom_Cijk_Alik_Bljk_F8BS_BH_Bias_HA_S_SAB_SAV_NTD_SK3_UserArgs_MT256x256x128_MI16x16x1_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Custom_Cijk_Alik_Bljk_HHS_BH_Bias_HA_S_SAV_NTD_SK3_UserArgs_MT256x256x64_MI16x16x1_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Naming.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/custom.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/custom_mainloop_scheduling.yaml
Labels: gfx950, project: hipblaslt, organization: ROCm

#1498 [rocBLAS] Users/torrezuk/lwpmlse 871 gemvt revert revert
  projects/rocblas/CHANGELOG.md
  projects/rocblas/clients/gtest/gemv_gtest.yaml
  projects/rocblas/library/src/blas2/gemv_device.hpp
  projects/rocblas/library/src/blas2/rocblas_gemv_kernels.cpp
Labels: noTensile, TestLevel2Only, project: rocblas, organization: ROCm

#1358 [rocRAND][Code Coverage] Increase rocRAND code coverage to >= 80% for 7.1
  projects/rocrand/CMakeLists.txt
  projects/rocrand/test/internal/test_rocrand_host_prng.hpp
  projects/rocrand/test/internal/test_rocrand_lfsr113_prng.cpp
  projects/rocrand/test/internal/test_rocrand_mt19937_octo_engine_prng.cpp
  projects/rocrand/test/internal/test_rocrand_mt19937_prng.cpp
  projects/rocrand/test/internal/test_rocrand_mtgp32_prng.cpp
  projects/rocrand/test/internal/test_rocrand_philox_prng.cpp
  projects/rocrand/test/internal/test_rocrand_threefry2x32_20_prng.cpp
  projects/rocrand/test/internal/test_rocrand_threefry2x64_20_prng.cpp
  projects/rocrand/test/internal/test_rocrand_threefry4x32_20_prng.cpp
  projects/rocrand/test/internal/test_rocrand_threefry4x64_20_prng.cpp
  projects/rocrand/test/test_rocrand_generate_log_normal.cpp
  projects/rocrand/test/test_rocrand_generate_normal.cpp
  projects/rocrand/test/test_rocrand_generate_poisson.cpp
  projects/rocrand/test/test_rocrand_generate_uniform.cpp
Labels: project: rocrand, organization: ROCm

#1620 [rocroller] Some private headers now include boost multi_index.
  shared/rocroller/test/common/CMakeLists.txt
Labels: shared: rocroller

#1568 Update flags for hipsparse and rocsparse codecov jobs
  projects/hipsparse/.jenkins/common.groovy
  projects/rocsparse/.jenkins/common.groovy
Labels: project: hipsparse, project: rocsparse, organization: ROCm

#1605 Row-wise scaling for F8BS_TN on gfx950
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SABV_SAV_UserArgs.yaml
Labels: project: hipblaslt, organization: ROCm

#1628 [rocPRIM, rocThrust, hipCUB] cherry-picked the update for the monorepo install
  projects/hipcub/docs/index.rst
  projects/hipcub/docs/install/hipCUB-install-on-Windows.rst
  projects/hipcub/docs/install/hipCUB-install-overview.rst
  projects/hipcub/docs/install/hipCUB-install-with-cmake.rst
  projects/rocprim/docs/index.rst
  projects/rocprim/docs/install/rocPRIM-build-install-linux.rst
  projects/rocprim/docs/install/rocPRIM-build-install-windows.rst
  projects/rocprim/docs/install/rocPRIM-install-overview.rst
  projects/rocprim/docs/sphinx/_toc.yml.in
  projects/rocthrust/docs/index.rst
  projects/rocthrust/docs/install/rocThrust-install-overview.rst
  projects/rocthrust/docs/install/rocThrust-install-script.rst
  projects/rocthrust/docs/install/rocThrust-install-with-cmake.rst
  projects/rocthrust/docs/install/rocThrust-rmake-install.rst
Labels: documentation, ci:docs-only, organization: ROCm

#1608 Initialize CMAKE_Fortran_COMPILER for hipblaslt
  projects/hipblaslt/CMakeLists.txt
Labels: project: hipblaslt, organization: ROCm

#1387 [rocRoller] Split ComputeIndex nodes into individual Assign nodes
  shared/rocroller/lib/include/CMakeLists.txt
  shared/rocroller/lib/include/rocRoller/CodeGen/LoadStoreTileGenerator.hpp
  shared/rocroller/lib/include/rocRoller/KernelGraph/ControlGraph/ControlFlowRWTracer.hpp
  shared/rocroller/lib/include/rocRoller/KernelGraph/ControlGraph/Operation.hpp
  shared/rocroller/lib/include/rocRoller/KernelGraph/ControlToCoordinateMapper.hpp
  shared/rocroller/lib/include/rocRoller/KernelGraph/Transforms/All.hpp
  shared/rocroller/lib/include/rocRoller/KernelGraph/Transforms/AssignComputeIndex.hpp
  shared/rocroller/lib/include/rocRoller/Serialization/ControlToCoordinateMapper.hpp
  shared/rocroller/lib/source/CodeGen/LoadStoreTileGenerator.cpp
  shared/rocroller/lib/source/CodeGen/LowerFromKernelGraph.cpp
  shared/rocroller/lib/source/CommandSolution.cpp
  shared/rocroller/lib/source/KernelGraph/ControlFlowRWTracer.cpp
  shared/rocroller/lib/source/KernelGraph/ControlToCoordinateMapper.cpp
  shared/rocroller/lib/source/KernelGraph/CoordinateGraph/Transformer.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/AddComputeIndex.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/AssignComputeIndex.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/CMakeLists.txt
  shared/rocroller/test/catch/AssignComputeIndexTest.cpp
  shared/rocroller/test/catch/CMakeLists.txt
  shared/rocroller/test/unit/AddStreamKTest.cpp
  shared/rocroller/test/unit/KernelGraphTest.cpp
  shared/rocroller/test/unit/LDSTileCopyTest.cpp
  shared/rocroller/test/unit/PermLanesTest.cpp
Labels: shared: rocroller, organization: ROCm

#1555 [hipBLASLt] [rocRoller] Re-organize hipblasLt-rocRoller integration code
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/library/src/CMakeLists.txt
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/CMakeLists.txt
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/rocroller_host_internal.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/CMakeLists.txt
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/README.md
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/gemm.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/include/analytical_utils.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/include/gemm.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/include/kernel_type.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/include/parameter_selection.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/include/rocroller_host.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/include/runtime_args_selection.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/include/solution_selection.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/parameter_selection.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/rocroller_host.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/runtime_args_selection.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/solution_selection.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller_host.cpp
Labels: project: hipblaslt, organization: ROCm

#1631 Update documentation to refer to DVC instead of Git LFS
  projects/miopen/README.md
  projects/miopen/docs/install/build-source.rst
Labels: documentation, project: miopen, organization: ROCm

#1285 [rocRoller] Add tests to check if mxdatagenerator produces same data with same seed
  shared/rocroller/test/catch/mxDataGeneratorTest.cpp
Labels: shared: rocroller, organization: ROCm

#1611 Update CK commit hash for MI Open
  projects/miopen/requirements.txt
Labels: project: miopen, organization: ROCm

#1642 [ci] Always run post-job cleanup step if test fail
  .github/workflows/therock-test-packages.yml
Labels: organization: ROCm, github actions, project: none

#1526 Cherry-pick to release/rocm-rel-7.0: [hipblaslt] Docs: fix broken link to samples (#1509)
  projects/hipblaslt/docs/how-to/how-to-use-hipblaslt-offline-tuning.rst
Labels: documentation, ci:docs-only, project: hipblaslt, organization: ROCm

#1334 [hipblas] Add gfx1150, gfx1151, gfx1200 and gfx1201 support
  projects/hipblas/clients/common/utility.cpp
  projects/hipblas/clients/include/utility.h
Labels: project: hipblas, organization: ROCm

#1362 [rocsparse/hipsparse] Update CHANGELOG with recent updates
  projects/hipsparse/CHANGELOG.md
  projects/hipsparse/CMakeLists.txt
  projects/rocsparse/CHANGELOG.md
  projects/rocsparse/CMakeLists.txt
Labels: project: hipsparse, project: rocsparse, organization: ROCm

#1581 [rocThrust] Temporarily disable scan_by_key.inclusive test
  projects/rocthrust/test/test_scan_by_key.inclusive.cpp
Labels: project: rocthrust, organization: ROCm

#1510 [hipblaslt] Completed and enabled swizzleB feature
  projects/hipblaslt/clients/bench/src/client.cpp
  projects/hipblaslt/clients/common/include/hipblaslt_arguments.hpp
  projects/hipblaslt/clients/common/include/testing_auxiliary.hpp
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
  projects/hipblaslt/clients/samples/25_hipblaslt_gemm_swizzle_b/CMakeLists.txt
  projects/hipblaslt/clients/samples/25_hipblaslt_gemm_swizzle_b/sample_hipblaslt_gemm_swizzle_b.cpp
  projects/hipblaslt/clients/samples/CMakeLists.txt
  projects/hipblaslt/clients/scripts/performance/hipblaslt-perf
  projects/hipblaslt/clients/tests/data/hipblaslt_common.yaml
  projects/hipblaslt/clients/tests/data/matmul_gtest.yaml
  projects/hipblaslt/docs/conceptual/hipblaslt-clients.rst
  projects/hipblaslt/docs/reference/api-reference.rst
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bljk_BBS_STB_BH_Bias_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bljk_F8NBS_STB_BH_Bias_SH_HA_S_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bljk_F8NHS_STB_BH_Bias_HA_S_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bljk_HHS_STB_BH_Bias_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bljk_HSS_STB_BH_Bias_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/rocblaslt_mat_utils.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/swizzleB.yaml
  projects/hipblaslt/utilities/offline_tuning_scripts/README.md
  projects/hipblaslt/utilities/offline_tuning_scripts/gemm_tuning.py
  projects/hipblaslt/utilities/offline_tuning_scripts/utils.py
Labels: documentation, project: hipblaslt, organization: ROCm

#1371 [rocsparse] Fix documentation csric0 example
  projects/rocsparse/clients/samples/documentation_examples/precond/example_rocsparse_csric0.cpp
Labels: project: rocsparse, organization: ROCm

#1443 Run gentest.py with 'python' on Windows across `_parse_data.cpp` files
  projects/hipblas/clients/common/hipblas_parse_data.cpp
  projects/hipblaslt/clients/common/src/hipblaslt_parse_data.cpp
  projects/hipsparselt/clients/common/hipsparselt_parse_data.cpp
  projects/rocblas/clients/common/rocblas_parse_data.cpp
  projects/rocsparse/clients/common/rocsparse_parse_data.cpp
Labels: project: hipblas, project: hipblaslt, project: hipsparselt, project: rocblas, project: rocsparse, organization: ROCm

#1643 [hipblaslt] PTS: fixed the include path
  projects/hipblaslt/clients/scripts/performance/problems/matmul_probset1_bench.yaml
  projects/hipblaslt/clients/scripts/performance/problems/matmul_probset2_bench.yaml
Labels: project: hipblaslt, organization: ROCm

#1604 cmake: move USE_HIPRAND to target-specific definitions
  projects/rocfft/CMakeLists.txt
  projects/rocfft/clients/bench/CMakeLists.txt
  projects/rocfft/clients/samples/mpi/CMakeLists.txt
  projects/rocfft/clients/samples/multi_gpu/CMakeLists.txt
  projects/rocfft/clients/samples/rocfft/CMakeLists.txt
  projects/rocfft/clients/tests/CMakeLists.txt
Labels: project: rocfft, organization: ROCm

#1693 Tune gfx950 BBS_NN,NT,TN into Range liblogic
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Range/gfx950_Cijk_Ailk_Bjlk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Range/gfx950_Cijk_Ailk_Bljk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Range/gfx950_Cijk_Alik_Bljk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
Labels: project: hipblaslt, organization: ROCm

#1699 fft: update changelog for 7.1.0 release
  projects/hipfft/CHANGELOG.md
  projects/rocfft/CHANGELOG.md
Labels: documentation, ci:docs-only, project: hipfft, project: rocfft, organization: ROCm

#1696 Bias BBS TN to pick custom kernel
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  shared/origami/src/origami/gemm.cpp
Labels: project: hipblaslt, organization: ROCm, shared: origami

#1561 [MIOpen] Asm code fix and test update
  projects/miopen/src/env_debug.cpp
  projects/miopen/src/kernels/conv1x1wrw.s
  projects/miopen/test/gtest/gtest_common.hpp
  projects/miopen/test/gtest/smoke_solver_convasmbwdwrw.cpp
Labels: CI - Pass, project: miopen, organization: ROCm

#1393 [hipBLASLt] Fix wrong occupancy of the GlobalWrite for the MBSK kernel.
  projects/hipblaslt/tensilelite/Tensile/AsmStoreState.py
Labels: project: hipblaslt, organization: ROCm

#1586 [rocsparse] Move install of rocsparse_gentest.py file to /opt/rocm/libexec/rocsparse/test
  projects/rocsparse/clients/CMakeLists.txt
  projects/rocsparse/clients/common/rocsparse_parse_data.cpp
  projects/rocsparse/clients/common/utility.cpp
  projects/rocsparse/clients/include/utility.hpp
Labels: project: rocsparse, organization: ROCm

#1057 [hipblaslt] Update gfx12 F8BS TN SAB Vector Gridbase yaml for ROCm 7.0
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1200/GridBased/gfx1200_Cijk_Alik_Bljk_F8BS_BH_Bias_HA_S_SABV_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Alik_Bljk_F8BS_BH_Bias_HA_S_SABV_SAV_UserArgs.yaml
Labels: project: hipblaslt, organization: ROCm

#1685 Update tensile_tag.txt to match release/rocm-rel-7.0 old repo
  projects/rocblas/tensile_tag.txt
Labels: project: rocblas, organization: ROCm

#1421 [rocBLAS] Add gfx115X and gfx120X in tensile_host
  projects/rocblas/library/src/tensile_host.cpp
Labels: project: rocblas, organization: ROCm

#1698 Remove kernels Equality F8BS TN for gfx950
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SABV_SAV_UserArgs.yaml
Labels: project: hipblaslt, organization: ROCm

#1517 [hipBLASLt] Add ScaleCD for F8F8S and BiasSource for F8SS data type gfx950
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_F8F8S_BH_BiasSHB_HAS_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_F8SS_BH_BiasSHB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bljk_F8F8S_BH_BiasSHB_HAS_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bljk_F8SS_BH_BiasSHB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bjlk_F8F8S_BH_BiasSHB_HAS_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bjlk_F8SS_BH_BiasSHB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_F8F8S_BH_BiasSHB_HAS_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_F8SS_BH_BiasSHB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/tensilelite/Tensile/Components/Signature.py
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Custom_Cijk_Alik_Bljk_BBS_BH_Bias_HA_S_SAV_NTD_SK3_UserArgs_MT256x256x64_MI16x16x1_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Custom_Cijk_Alik_Bljk_F8B8BS_BH_Bias_HA_S_SAB_SAV_NTD_SK3_UserArgs_MT256x256x128_MI16x16x1_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Custom_Cijk_Alik_Bljk_F8BS_BH_Bias_HA_S_SAB_SAV_NTD_SK3_UserArgs_MT256x256x128_MI16x16x1_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Custom_Cijk_Alik_Bljk_HHS_BH_Bias_HA_S_SAV_NTD_SK3_UserArgs_MT256x256x64_MI16x16x1_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Source/lib/source/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/functions/f_math.cpp
Labels: project: hipblaslt, organization: ROCm

#1739 update the binding script
  shared/origami/python/origami_test.py
  shared/origami/src/origami/utils.cpp
Labels: project: hipblaslt, organization: ROCm, shared: origami

#1758 [rocsparse] Fix compilation error caused by no std::fma for _Float16 type
  projects/rocsparse/clients/common/rocsparse_host.cpp
Labels: project: rocsparse, organization: ROCm

#1738 [rocBLAS] [hipBLAS] CHANGELOG updates for 7.1
  projects/hipblas/CHANGELOG.md
  projects/rocblas/CHANGELOG.md
Labels: documentation, ci:docs-only, project: hipblas, project: rocblas, organization: ROCm

#1281 Add component teams to CMake ownership
  .github/CODEOWNERS
Labels: organization: ROCm, gardener, project: none

#1755 Factor out GFPLOPS expression for readability
  shared/rocroller/client/src/gemm.cpp
  shared/rocroller/lib/include/rocRoller/CodeGen/Instruction_impl.hpp
  shared/rocroller/lib/source/ExpressionTransformations/FastArithmetic.cpp
Labels: shared: rocroller, organization: ROCm

#1757 Added BBS SGEMM kernels to Equality for gfx950
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bjlk_S_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bljk_S_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
Labels: project: hipblaslt, organization: ROCm

#1783 [Ex CI] Added Origami to valid subtrees
  .github/repos-config.json
Labels: External CI, github actions, project: none

#1780 [rocPRIM] updated the changelog with 7.0.2 info
  projects/rocprim/CHANGELOG.md
Labels: documentation, ci:docs-only, project: rocprim, organization: ROCm

#1206 [hipfftw] Enabling hipfftw basic plans and testing thereof + paving the way for future developments on both sides
  projects/hipfft/clients/hipfftw_helper.h
  projects/hipfft/clients/tests/CMakeLists.txt
  projects/hipfft/clients/tests/gtest_main.cpp
  projects/hipfft/clients/tests/hipfftw_test.cpp
  projects/hipfft/library/CMakeLists.txt
  projects/hipfft/library/include/hipfft/hipfftw.h
  projects/hipfft/library/src/CMakeLists.txt
  projects/hipfft/library/src/amd_detail/hipfftw.cpp
  projects/hipfft/shared/accuracy_test.h
  projects/hipfft/shared/environment.h
  projects/hipfft/shared/fft_params.h
  projects/hipfft/shared/gpubuf.h
  projects/hipfft/shared/hostbuf.h
  projects/hipfft/shared/params_gen.h
  projects/hipfft/shared/sys_mem.h
  projects/hipfft/shared/test_params.h
  projects/rocfft/shared/accuracy_test.h
  projects/rocfft/shared/environment.h
  projects/rocfft/shared/fft_params.h
  projects/rocfft/shared/gpubuf.h
  projects/rocfft/shared/hostbuf.h
  projects/rocfft/shared/params_gen.h
  projects/rocfft/shared/sys_mem.h
Labels: project: hipfft, project: rocfft, organization: ROCm

#1775 docs(rocprim): add missing docs to transform output iterator
  projects/rocprim/rocprim/include/rocprim/iterator/transform_output_iterator.hpp
Labels: documentation, external contribution, project: rocprim

#1718 Pass vgprs in LSU to GSU MBSK for workspace access optimization
  projects/hipblaslt/tensilelite/Tensile/Components/GSU.py
  projects/hipblaslt/tensilelite/Tensile/Components/LSU.py
Labels: gfx942, gfx950, project: hipblaslt, organization: ROCm

#1790 [Ex CI] Removed require-auto-push flag in workflow for detecting subtrees
  .github/workflows/azure-ci-dispatcher.yml
Labels: organization: ROCm, External CI, github actions, project: none

#1794 [TheRock CI] Adding sharding to tests
  .github/workflows/therock-test-component.yml
  .github/workflows/therock-test-packages.yml
Labels: organization: ROCm, github actions, project: none

#1516 [rocBLAS] Stream Order Allocation as default
  projects/rocblas/clients/common/client_utility.cpp
  projects/rocblas/clients/include/blas2/testing_trsv.hpp
  projects/rocblas/clients/include/blas2/testing_trsv_batched.hpp
  projects/rocblas/clients/include/blas2/testing_trsv_strided_batched.hpp
  projects/rocblas/clients/include/blas3/testing_trsm.hpp
  projects/rocblas/clients/include/blas3/testing_trsm_batched.hpp
  projects/rocblas/clients/include/blas3/testing_trsm_strided_batched.hpp
  projects/rocblas/clients/include/blas3/testing_trtri.hpp
  projects/rocblas/clients/include/blas3/testing_trtri_batched.hpp
  projects/rocblas/clients/include/blas3/testing_trtri_strided_batched.hpp
  projects/rocblas/clients/include/blas_ex/testing_trsm_batched_ex.hpp
  projects/rocblas/clients/include/blas_ex/testing_trsm_ex.hpp
  projects/rocblas/clients/include/blas_ex/testing_trsm_strided_batched_ex.hpp
  projects/rocblas/clients/samples/example_solver_rocblas.cpp
  projects/rocblas/docs/how-to/Programmers_Guide.rst
  projects/rocblas/docs/reference/beta-features.rst
  projects/rocblas/docs/reference/memory-alloc.rst
  projects/rocblas/library/include/internal/rocblas-functions.h
  projects/rocblas/library/src/blas2/rocblas_trsv_imp.hpp
  projects/rocblas/library/src/handle.cpp
  projects/rocblas/library/src/include/handle.hpp
Labels: documentation, project: rocblas, organization: ROCm

#1802 CODEOWNERS: Adjust recently migrated projects
  .github/CODEOWNERS
  .github/labeler.yml
Labels: documentation, project: hipsolver, project: hipsparse, project: rocsolver, project: rocsparse, organization: ROCm, github actions, project: none, shared: origami, project: hipdnn

#1737 [hipblaslt] Add TF32 kernels for TN, TT, NT and NN for gfx950
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bjlk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bjlk_S_MX_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bljk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bljk_S_MX_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bjlk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_S_MX_B_UserArgs.yaml
Labels: project: hipblaslt, organization: ROCm

#1819 Tuning F8BS_TN on gfx950
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SABV_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
Labels: project: hipblaslt, organization: ROCm

#1641 Modifying the tf32 custom kernel heuristic based on arith intensity.
  shared/origami/src/origami/gemm.cpp
Labels: project: hipblaslt, organization: ROCm, shared: origami

#1793 [hipfftw] update changelog to reflect addition of hipfftw (as experimental for 7.1)
  projects/hipfft/CHANGELOG.md
Labels: project: hipfft, organization: ROCm

#1768 [rocBLAS] [hipBLAS] version and CHANGELOG update for 7.0.2
  projects/hipblas/CHANGELOG.md
  projects/hipblas/CMakeLists.txt
  projects/rocblas/CHANGELOG.md
  projects/rocblas/CMakeLists.txt
Labels: project: hipblas, project: rocblas, organization: ROCm

#1714 [rocRoller] Remove Boost and refactor Hypergraph
  shared/rocroller/CMakeLists.txt
  shared/rocroller/README.md
  shared/rocroller/codeql/exclude_paths.txt
  shared/rocroller/docker/dockerfile-ubuntu-clang
  shared/rocroller/docker/dockerfile-ubuntu-gcc
  shared/rocroller/lib/include/CMakeLists.txt
  shared/rocroller/lib/include/rocRoller/Graph/GraphUtilities_impl.hpp
  shared/rocroller/lib/include/rocRoller/Graph/Hypergraph.hpp
  shared/rocroller/lib/include/rocRoller/Graph/HypergraphIncidenceContainer.hpp
  shared/rocroller/lib/include/rocRoller/Graph/HypergraphIncidenceContainer_impl.hpp
  shared/rocroller/lib/include/rocRoller/Graph/Hypergraph_impl.hpp
  shared/rocroller/lib/include/rocRoller/KernelGraph/Utils_impl.hpp
  shared/rocroller/lib/include/rocRoller/Serialization/Hypergraph.hpp
  shared/rocroller/lib/source/CMakeLists.txt
  shared/rocroller/lib/source/CodeGen/LoadStoreTileGenerator.cpp
  shared/rocroller/lib/source/Graph/CMakeLists.txt
  shared/rocroller/lib/source/Graph/HypergraphIncidenceContainer.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/AddLDS.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/AddPrefetch.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/AddStreamK.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/ConnectWorkgroups.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/FuseLoops.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/KernelGraph_loop.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/LoopOverTileNumbers.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/LowerTensorContraction.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/Simplify.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/SwizzleScale.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/UnrollLoops.cpp
  shared/rocroller/lib/source/KernelGraph/Utils.cpp
  shared/rocroller/test/catch/CMakeLists.txt
  shared/rocroller/test/catch/HypergraphSerializationTest.cpp
  shared/rocroller/test/catch/HypergraphTest.cpp
  shared/rocroller/test/common/CMakeLists.txt
  shared/rocroller/test/unit/ControlGraphTest.cpp
Labels: shared: rocroller, organization: ROCm

#1753 Cherry-Pick StreamK Changes to rocm 7.0
  projects/hipblaslt/tensilelite/Tensile/Components/Signature.py
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/Source/client/include/LogReporter.hpp
  projects/hipblaslt/tensilelite/Tensile/Source/client/include/ResultReporter.hpp
  projects/hipblaslt/tensilelite/Tensile/Source/lib/source/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/Tensile/Tests/common/groupedgemm/grouped_gemm_userargs.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/sk_bgemm_div.yaml
Labels: organization: ROCm

#1844 [hipblaslt] Fix documentation issues
  projects/hipblaslt/README.md
  projects/hipblaslt/docs/conf.py
Labels: documentation, ci:docs-only, NoCI, project: hipblaslt

#1824 [HipDNN] Refactor cpu graph engine to use plan builders and a single registry
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/CpuFpReferenceBatchnorm.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/FlatbufferTensorAttributesUtils.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/cpu_graph_executor/BatchnormFwdInferencePlan.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/cpu_graph_executor/BatchnormFwdInferenceSignatureKey.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/cpu_graph_executor/BatchnormRegistry.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/cpu_graph_executor/BatchnormSignatureRegistryKey.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/cpu_graph_executor/CpuReferenceGraphExecutor.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/cpu_graph_executor/GenericBatchnormExecutor.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/cpu_graph_executor/IGraphNodePlanBuilder.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/cpu_graph_executor/IGraphNodePlanExecutor.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/cpu_graph_executor/PlanBuilderRegistry.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/cpu_graph_executor/TensorVariant.hpp
  projects/hipdnn/sdk/tests/CMakeLists.txt
  projects/hipdnn/sdk/tests/test_utilities/TestFlatbufferTensorAttributesUtils.cpp
  projects/hipdnn/sdk/tests/test_utilities/cpu_graph_executor/TestBatchnormFwdInferencePlan.cpp
  projects/hipdnn/sdk/tests/test_utilities/cpu_graph_executor/TestBatchnormFwdInferenceSignatureKey.cpp
  projects/hipdnn/sdk/tests/test_utilities/cpu_graph_executor/TestBatchnormSignatureRegistryKey.cpp
  projects/hipdnn/sdk/tests/test_utilities/cpu_graph_executor/TestCpuReferenceGraphExecutor.cpp
  projects/hipdnn/sdk/tests/test_utilities/cpu_graph_executor/TestTensorVariant.cpp
Labels: organization: ROCm, project: hipdnn

#1789 [origami] resolve performance drops
  shared/origami/src/origami/gemm.cpp
Labels: project: hipblaslt, organization: ROCm, shared: origami

#1845 fix makeParallelTensorFunctor compilation error at conv bwd
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/CpuFpReferenceConvolution.hpp
Labels: compiler bug, organization: ROCm, project: hipdnn

#1762 clients only needs find_package hipblaslt
  projects/rocblas/CMakeLists.txt
Labels: project: rocblas, organization: ROCm

#1201 Add MIopen CI status
  README.md
Labels: documentation, organization: ROCm

#1855 [hipDNN] Update dependencies to match TheRock versions
  projects/hipdnn/CMakeLists.txt
  projects/hipdnn/cmake/Tests.cmake
  projects/hipdnn/sdk/CMakeLists.txt
  projects/hipdnn/sdk/include/hipdnn_sdk/data_objects/batchnorm_attributes_generated.h
  projects/hipdnn/sdk/include/hipdnn_sdk/data_objects/batchnorm_backward_attributes_generated.h
  projects/hipdnn/sdk/include/hipdnn_sdk/data_objects/batchnorm_inference_attributes_generated.h
  projects/hipdnn/sdk/include/hipdnn_sdk/data_objects/convolution_bwd_attributes_generated.h
  projects/hipdnn/sdk/include/hipdnn_sdk/data_objects/convolution_common_generated.h
  projects/hipdnn/sdk/include/hipdnn_sdk/data_objects/convolution_fwd_attributes_generated.h
  projects/hipdnn/sdk/include/hipdnn_sdk/data_objects/data_types_generated.h
  projects/hipdnn/sdk/include/hipdnn_sdk/data_objects/engine_config_generated.h
  projects/hipdnn/sdk/include/hipdnn_sdk/data_objects/engine_details_generated.h
  projects/hipdnn/sdk/include/hipdnn_sdk/data_objects/graph_generated.h
  projects/hipdnn/sdk/include/hipdnn_sdk/data_objects/pointwise_attributes_generated.h
  projects/hipdnn/sdk/include/hipdnn_sdk/data_objects/tensor_attributes_generated.h
Labels: organization: ROCm, project: hipdnn

#1849 hipfft-test: link CMAKE_DL_LIBS, as dlopen is used for hipfftw tests
  projects/hipfft/clients/tests/CMakeLists.txt
Labels: ci:smoke, project: hipfft, organization: ROCm

#1827 [rocRoller] Don't dump debug graphs to .dot files in unit tests
  shared/rocroller/test/catch/IdentifyParallelDimensionsTest.cpp
  shared/rocroller/test/catch/RegisterTagManagerTest.cpp
Labels: shared: rocroller, organization: ROCm

#1868 [rocrand] Reorganize 7.1 changelog entries
  projects/rocrand/CHANGELOG.md
Labels: documentation, ci:docs-only, project: rocrand, organization: ROCm

#1854 Manifest change for migration of SOLVER repos
  .github/repos-config.json
Labels: organization: ROCm

#1878 Add preset for rocm 7.0.0 config
  projects/hipblaslt/CMakePresets.json
Labels: NoCI, project: hipblaslt

#1846 [rocRoller] Component system is not thread safe
  shared/rocroller/lib/include/rocRoller/Utilities/Component.hpp
  shared/rocroller/lib/include/rocRoller/Utilities/Component_Impl.hpp
  shared/rocroller/test/catch/UtilsTest.cpp
Labels: shared: rocroller, organization: ROCm

#1885 [hipDNN] Fix position independent code in cmake to work properly with TheRock
  projects/hipdnn/CMakeLists.txt
  projects/hipdnn/cmake/ClangToolChain.cmake
Labels: organization: ROCm, project: hipdnn
