Repository ROCm/rocm-libraries, pull requests merged in 2025-06, with the labels that each got.

#126 [rocRAND] Update HIP vector accesses in rocrand
  projects/rocrand/library/include/rocrand/rocrand_common.h
  projects/rocrand/library/include/rocrand/rocrand_philox4x32_10.h
  projects/rocrand/library/include/rocrand/rocrand_threefry2_impl.h
  projects/rocrand/library/include/rocrand/rocrand_threefry4_impl.h
Labels: project: rocrand, organization: ROCm

#118 Enable dependabot for docs
  .github/dependabot.yml
Labels: github actions

#142 [GitHub Actions] Disable auto subtree pull for MIOpen
  .github/repos-config.json
Labels: github actions, migration

#88 [rocprim] Remove .jenkins folder
  projects/rocprim/.jenkins/common.groovy
  projects/rocprim/.jenkins/precheckin.groovy
  projects/rocprim/.jenkins/static.groovy
Labels: ci:static-libraries, project: rocprim, organization: ROCm, migration

#158 [hipcub] remove .jenkins folder
  projects/hipcub/.jenkins/common.groovy
  projects/hipcub/.jenkins/precheckin.groovy
  projects/hipcub/.jenkins/staticanalysis.groovy
  projects/hipcub/.jenkins/staticlibrary.groovy
Labels: ci:static-libraries, project: hipcub, organization: ROCm

#159 [rocthrust] Remove .jenkins folder
  projects/rocthrust/.jenkins/common.groovy
  projects/rocthrust/.jenkins/precheckin.groovy
  projects/rocthrust/.jenkins/staticanalysis.groovy
  projects/rocthrust/.jenkins/staticlibrary.groovy
Labels: ci:static-libraries, project: rocthrust, organization: ROCm

#119 Ex CI: create roc/hipFFT triggers
  .azuredevops/hipfft.yml
  .azuredevops/rocfft.yml
Labels: organization: ROCm, External CI

#155 [GitHub Actions] Auto-label PRs to release-staging branches
  .github/workflows/pr-auto-label.yml
Labels: github actions

#161 Add build infra team to CMake codeowners
  .github/CODEOWNERS
Labels: NoCI

#169 [GitHub Actions] Fix for pushes to old repos
  .github/workflows/pr-merge-sync-patches.yml
Labels: github actions, migration

#202 Set codecov yamls to default to avoid confusion in general report
  codecov.yml
Labels: organization: ROCm

#150 Fix test failure with lower memory cards
  projects/rocprim/test/rocprim/test_device_merge.cpp
  projects/rocprim/test/rocprim/test_device_merge_sort.cpp
  projects/rocprim/test/rocprim/test_device_partition.cpp
  projects/rocprim/test/rocprim/test_device_select.cpp
Labels: project: rocprim

#171 [hipCUB] Fix backend call to rocPRIM with correct ScatterToStripedFlagged function
  projects/hipcub/CHANGELOG.md
  projects/hipcub/hipcub/include/hipcub/backend/rocprim/block/block_exchange.hpp
Labels: project: hipcub

#191 fix(rocthrust): qualify invocations to thrust::distance to resolve potential ambiguity
  projects/rocthrust/CHANGELOG.md
  projects/rocthrust/thrust/system/hip/detail/async/copy.h
  projects/rocthrust/thrust/system/hip/detail/async/exclusive_scan.h
  projects/rocthrust/thrust/system/hip/detail/async/for_each.h
  projects/rocthrust/thrust/system/hip/detail/async/inclusive_scan.h
  projects/rocthrust/thrust/system/hip/detail/async/reduce.h
Labels: bug, complexity_low, project: rocthrust

#216 [Ex CI] create Tensile trigger file
  .azuredevops/tensile.yml
Labels: organization: ROCm, External CI

#227 [hipCUB] add memory to benchmark_device_batch_memcpy (#219)
  projects/hipcub/benchmark/benchmark_device_batch_memcpy.cpp
Labels: project: hipcub, organization: ROCm

#230 [PRIMITIVES] removed Lauren as code owner (#190)
  projects/hipcub/.github/CODEOWNERS
  projects/hiprand/.github/CODEOWNERS
  projects/rocprim/.github/CODEOWNERS
  projects/rocrand/.github/CODEOWNERS
  projects/rocthrust/.github/CODEOWNERS
Labels: project: hipcub, project: hiprand, project: rocprim, project: rocrand, project: rocthrust, organization: ROCm

#226 [rocrand] backport from release-staging-7.0
  projects/rocrand/library/include/rocrand/rocrand_common.h
  projects/rocrand/library/include/rocrand/rocrand_philox4x32_10.h
  projects/rocrand/library/include/rocrand/rocrand_threefry2_impl.h
  projects/rocrand/library/include/rocrand/rocrand_threefry4_impl.h
Labels: project: rocrand, organization: ROCm

#223 [rocprim] backport from release-staging-7.0
  projects/rocprim/.gitlab-ci.yml
  projects/rocprim/.gitlab/report_noise.py
  projects/rocprim/.gitlab/run_benchmarks.py
  projects/rocprim/CHANGELOG.md
  projects/rocprim/benchmark/benchmark_utils.hpp
  projects/rocprim/common/utils_device_ptr.hpp
  projects/rocprim/docs/block_ops/data_mov_funcs.rst
  projects/rocprim/docs/concepts/spirv.rst
  projects/rocprim/docs/concepts/tuning.rst
  projects/rocprim/docs/doxygen/blockmodule.dox
  projects/rocprim/docs/index.rst
  projects/rocprim/docs/reference/intrinsics.rst
  projects/rocprim/docs/sphinx/_toc.yml.in
  projects/rocprim/rocprim/include/rocprim/block/block_load_func.hpp
  projects/rocprim/rocprim/include/rocprim/block/block_store_func.hpp
  projects/rocprim/rocprim/include/rocprim/config.hpp
  projects/rocprim/rocprim/include/rocprim/detail/merge_path.hpp
  projects/rocprim/rocprim/include/rocprim/detail/various.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_batch_memcpy.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_histogram.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_run_length_encode.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/lookback_scan_state.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_merge_inplace.hpp
  projects/rocprim/rocprim/include/rocprim/iterator/texture_cache_iterator.hpp
  projects/rocprim/rocprim/include/rocprim/thread/thread_load.hpp
  projects/rocprim/rocprim/include/rocprim/thread/thread_store.hpp
  projects/rocprim/rocprim/include/rocprim/warp/detail/warp_scan_dpp.hpp
  projects/rocprim/scripts/autotune-search/main.py
  projects/rocprim/test/common_test_header.hpp
  projects/rocprim/test/rocprim/test_device_merge.cpp
  projects/rocprim/test/rocprim/test_device_merge_sort.cpp
  projects/rocprim/test/rocprim/test_device_partition.cpp
  projects/rocprim/test/rocprim/test_device_select.cpp
  projects/rocprim/test/rocprim/test_intrinsics.cpp
  projects/rocprim/test/rocprim/test_utils_custom_test_types.hpp
Labels: project: rocprim, organization: ROCm

#221 [docs] How to cherry-pick to pre-monorepo branches
  docs/how-to-cherry-pick-monorepo-changes-to-release-staging.md
Labels: documentation, ci:docs-only, NoCI

#237 Fix contributing link
  README.md
Labels: documentation

#244 [Ex CI] enable draft checks
  .azuredevops/hipblas-common.yml
  .azuredevops/hipblaslt.yml
  .azuredevops/hipcub.yml
  .azuredevops/hipfft.yml
  .azuredevops/hiprand.yml
  .azuredevops/rocblas.yml
  .azuredevops/rocfft.yml
  .azuredevops/rocprim.yml
  .azuredevops/rocrand.yml
  .azuredevops/rocsolver.yml
  .azuredevops/rocthrust.yml
  .azuredevops/tensile.yml
Labels: organization: ROCm, External CI

#235 Document Outlining Sequence of a Single Library Migration
  docs/migration-process.md
Labels: documentation, migration

#245 diabling rocm_ci_caller.yml for forked repos
  .azuredevops/rocm_ci_caller.yml
Labels: organization: ROCm

#243 [tensile] Add thread include
  shared/tensile/Tensile/Source/client/source/BenchmarkTimer.cpp
  shared/tensile/Tensile/Source/client/source/HardwareMonitor.cpp
Labels: shared: tensile, organization: ROCm

#236 Avoid std::__decay built-in on windows
  projects/rocthrust/thrust/detail/functional/actor.h
Labels: project: rocthrust, organization: ROCm

#355 [Ex CI] create centralized Azure CI dispatcher workflow
  .github/requirements.txt
  .github/scripts/azure_resolve_subtree_deps.py
  .github/workflows/azure-ci-dispatcher.yml
Labels: External CI

#362 [hipblas-common] don't set CPACK_PACKAGING_INSTTALL_PREFIX for window…
  projects/hipblas-common/CMakeLists.txt
Labels: project: hipblas-common, organization: ROCm

#356 [Ex CI] disable YAML PR triggers and move to dispatch workflow
  .azuredevops/hipblas-common.yml
  .azuredevops/hipblaslt.yml
  .azuredevops/hipcub.yml
  .azuredevops/hipfft.yml
  .azuredevops/hiprand.yml
  .azuredevops/rocblas.yml
  .azuredevops/rocfft.yml
  .azuredevops/rocprim.yml
  .azuredevops/rocrand.yml
  .azuredevops/rocsolver.yml
  .azuredevops/rocthrust.yml
  .azuredevops/tensile.yml
  .github/workflows/azure-ci-dispatcher.yml
Labels: organization: ROCm, ci:azure

#370 update changelog for 7.0
  projects/hipblaslt/CHANGELOG.md
Labels: documentation, ci:docs-only, project: hipblaslt, organization: ROCm

#205 Update thread load inline asm to be compatible with llvm vgpr16 update
  projects/rocprim/rocprim/include/rocprim/thread/thread_load.hpp
Labels: project: rocprim, organization: ROCm

#385 Revert "Sync Github and Azure workflows with develop"
  .azuredevops/hipblas-common.yml
  .azuredevops/hipblaslt.yml
  .azuredevops/hipcub.yml
  .azuredevops/hipfft.yml
  .azuredevops/hiprand.yml
  .azuredevops/rocblas.yml
  .azuredevops/rocfft.yml
  .azuredevops/rocprim.yml
  .azuredevops/rocrand.yml
  .azuredevops/rocsolver.yml
  .azuredevops/rocthrust.yml
  .azuredevops/tensile.yml
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/repos-config.json
  .github/scripts/github_cli_client.py
  .github/scripts/therock_matrix.py
  .github/workflows/initial-setup.yml
  .github/workflows/merge-submodules.yml
  .github/workflows/pr-auto-label.yml
  .github/workflows/pr-merge-sync-patches-manual.yml
  .github/workflows/pr-merge-sync-patches.yml
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci.yml
  .github/workflows/update-release-staging-subtree.yml
Labels: organization: ROCm

#352 Remove duplicated ProblemType in generator when creating logic yamls
  projects/hipblaslt/tensilelite/Tensile/LibraryIO.py
  projects/hipblaslt/tensilelite/Tensile/Utilities/merge.py
Labels: project: hipblaslt, organization: ROCm

#399 [hipblas-common] don't set CPACK_PACKAGING_INSTTALL_PREFIX for window…
  projects/hipblas-common/CMakeLists.txt
Labels: project: hipblas-common, organization: ROCm

#367 Remove Unnecessary AuxH kernels in gfx12 Gridbased
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1200/Equality/gfx1200_Cijk_Ailk_Bjlk_HHS_BH_Bias_S_AuxH_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1200/Equality/gfx1200_Cijk_Ailk_Bljk_HHS_BH_Bias_S_AuxH_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1200/Equality/gfx1200_Cijk_Alik_Bjlk_HHS_BH_Bias_S_AuxH_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1200/Equality/gfx1200_Cijk_Alik_Bljk_HHS_BH_Bias_S_AuxH_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1200/GridBased/gfx1200_Cijk_Ailk_Bjlk_HHS_BH_Bias_HAS_AuxH_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1200/GridBased/gfx1200_Cijk_Ailk_Bljk_HHS_BH_Bias_HAS_AuxH_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1200/GridBased/gfx1200_Cijk_Alik_Bjlk_HHS_BH_Bias_HAS_AuxH_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1200/GridBased/gfx1200_Cijk_Alik_Bljk_HHS_BH_Bias_HAS_AuxH_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/Equality/gfx1201_Cijk_Ailk_Bjlk_HHS_BH_Bias_S_AuxH_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/Equality/gfx1201_Cijk_Ailk_Bljk_HHS_BH_Bias_S_AuxH_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/Equality/gfx1201_Cijk_Alik_Bjlk_HHS_BH_Bias_S_AuxH_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/Equality/gfx1201_Cijk_Alik_Bljk_HHS_BH_Bias_S_AuxH_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Ailk_Bjlk_HHS_BH_Bias_HAS_AuxH_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Ailk_Bljk_HHS_BH_Bias_HAS_AuxH_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Alik_Bjlk_HHS_BH_Bias_HAS_AuxH_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Alik_Bljk_HHS_BH_Bias_HAS_AuxH_SAV_UserArgs.yaml
Labels: project: hipblaslt, organization: ROCm

#413 Adds blas library migration schedule to README
  README.md
Labels: ci:docs-only

#448 [Ex CI] increase dispatch timeout
  .github/workflows/azure-ci-dispatcher.yml
Labels: External CI

#460 [Ex CI] update release-staging files
  .azuredevops/hipblas-common.yml
  .azuredevops/hipblaslt.yml
  .azuredevops/hipcub.yml
  .azuredevops/hipfft.yml
  .azuredevops/hiprand.yml
  .azuredevops/rocblas.yml
  .azuredevops/rocfft.yml
  .azuredevops/rocprim.yml
  .azuredevops/rocrand.yml
  .azuredevops/rocsolver.yml
  .azuredevops/rocthrust.yml
  .azuredevops/tensile.yml
  .github/workflows/azure-ci-dispatcher.yml
Labels: organization: ROCm, External CI
