Repository ROCm/rocm-libraries, pull requests merged in 2025-08, with the labels that each got.

#976 [hipSPARSELt] Updated test case to handle the special case of clippled relu when in < alpha and beta < alpha set out = beta.
  projects/hipsparselt/clients/include/spmm/testing_spmm.hpp
  projects/hipsparselt/tensilelite_tag.txt
Labels: project: hipsparselt, organization: ROCm

#668 Non-preemptible scheduler locking
  shared/rocroller/lib/include/rocRoller/CodeGen/Instruction.hpp
  shared/rocroller/lib/include/rocRoller/CodeGen/Instruction_impl.hpp
  shared/rocroller/lib/include/rocRoller/Scheduling/Costs/Cost.hpp
  shared/rocroller/lib/include/rocRoller/Scheduling/Scheduler.hpp
  shared/rocroller/lib/include/rocRoller/Scheduling/Scheduler_fwd.hpp
  shared/rocroller/lib/source/Costs/Cost.cpp
  shared/rocroller/lib/source/Expression_generate.cpp
  shared/rocroller/lib/source/Scheduler.cpp
  shared/rocroller/lib/source/Schedulers/CooperativeScheduler.cpp
  shared/rocroller/lib/source/Schedulers/PriorityScheduler.cpp
  shared/rocroller/lib/source/Schedulers/RandomScheduler.cpp
  shared/rocroller/lib/source/Schedulers/RoundRobinScheduler.cpp
  shared/rocroller/lib/source/Schedulers/SequentialScheduler.cpp
  shared/rocroller/test/unit/DependencyTest.cpp
  shared/rocroller/test/unit/EnumToStringTest.cpp
  shared/rocroller/test/unit/LockTest.cpp
  shared/rocroller/test/unit/SchedulerTest.cpp
Labels: shared: rocroller, organization: ROCm

#765 [hiprand] Remove wiki references in hipRAND Readme file
  projects/hiprand/README.md
Labels: documentation, ci:docs-only, project: hiprand, organization: ROCm

#1018 Revert "[BUG] [CONV] Fix incorrect stride calculation in MISA solvers…
  projects/miopen/src/conv/invokers/impl_gemm_dynamic.cpp
  projects/miopen/src/include/miopen/conv/asm_implicit_gemm.hpp
  projects/miopen/src/include/miopen/solver/problem_description_interpreter.hpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_bwd_v4r1_dynamic.cpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_gtc_bwd.cpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_gtc_bwd_nhwc.cpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_gtc_fwd.cpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_gtc_fwd_nchwc.cpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_gtc_fwd_nhwc.cpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_gtc_wrw_nhwc.cpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_v4r1_dynamic.cpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_wrw_gtc_dynamic_xdlops.cpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_wrw_v4r1_dynamic.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvAsmImplicitGemmGTCDynamicBwdXdlopsNHWC.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvAsmImplicitGemmGTCDynamicFwdXdlopsNHWC.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvAsmImplicitGemmGTCDynamicWrwXdlopsNHWC.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvAsmImplicitGemmV4R1DynamicBwd.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvAsmImplicitGemmV4R1DynamicFwd.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvAsmImplicitGemmV4R1DynamicFwd_1x1.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvAsmImplicitGemmV4R1DynamicWrw.cpp
Labels: project: miopen, organization: ROCm

#684 opening PR for updated gemv transpose kernel
  projects/rocblas/clients/gtest/gemv_gtest.yaml
  projects/rocblas/library/src/blas2/gemv_device.hpp
  projects/rocblas/library/src/blas2/rocblas_gemv_kernels.cpp
Labels: ci:codecoverage, ci:extended, noTensile, TestLevel2Only, project: rocblas, organization: ROCm

#971 Allow larger splitting factors for large-k problems
  projects/hipblaslt/tensilelite/Tensile/Source/lib/source/ContractionSolution.cpp
Labels: project: hipblaslt, organization: ROCm

#1041 Optimize device_select, device_partition for MI3xx multi-stream performance
  projects/rocprim/CHANGELOG.md
  projects/rocprim/rocprim/include/rocprim/device/detail/device_partition.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/ordered_block_id.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_partition.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_select.hpp
Labels: project: rocprim, organization: ROCm

#1013 [rocsparse] Use fused multiply add in rot kernel and host routine
  projects/rocsparse/clients/common/rocsparse_host.cpp
  projects/rocsparse/clients/tests/test_roti.yaml
  projects/rocsparse/library/src/level1/roti_device.h
Labels: project: rocsparse, organization: ROCm

#980 [hipSPARSELt] Used set_target_properties INSTALL_RPATH to set the RUNPATH
  projects/hipsparselt/clients/CMakeLists.txt
  projects/hipsparselt/clients/benchmarks/CMakeLists.txt
  projects/hipsparselt/clients/gtest/CMakeLists.txt
Labels: project: hipsparselt, organization: ROCm

#584 [hipblaslt] Fix semicolon typo
  projects/hipblaslt/tensilelite/Tensile/Source/lib/source/hip/HipSolutionAdapter.cpp
Labels: project: hipblaslt, organization: ROCm

#1028 [rocBLAS] Update tensile_tag.txt to tip of develop
  projects/rocblas/tensile_tag.txt
Labels: ci:extended, TestTensileOnly, project: rocblas, organization: ROCm

#983 mentioning hipsparse in rocsparse docs
  projects/rocsparse/README.md
  projects/rocsparse/docs/index.rst
Labels: project: rocsparse, organization: ROCm

#1050 [hipblas-common] don't duplicate rocm_setup_version
  projects/hipblas-common/CMakeLists.txt
Labels: project: hipblas-common, organization: ROCm

#845 [rocsparse] add the option to use integer values
  projects/rocsparse/clients/common/rocsparse_init.cpp
  projects/rocsparse/clients/include/rocsparse_init.hpp
  projects/rocsparse/clients/include/rocsparse_matrix_utils.hpp
  projects/rocsparse/clients/testings/testing_axpby.cpp
  projects/rocsparse/clients/testings/testing_axpyi.cpp
  projects/rocsparse/clients/testings/testing_csrmv_managed.cpp
  projects/rocsparse/clients/testings/testing_csrsm.cpp
  projects/rocsparse/clients/testings/testing_gather.cpp
  projects/rocsparse/clients/testings/testing_gemvi.cpp
  projects/rocsparse/clients/testings/testing_gthr.cpp
  projects/rocsparse/clients/testings/testing_gthrz.cpp
  projects/rocsparse/clients/testings/testing_roti.cpp
  projects/rocsparse/clients/testings/testing_scatter.cpp
  projects/rocsparse/clients/testings/testing_sctr.cpp
  projects/rocsparse/clients/testings/testing_spgemm_reuse_csr.cpp
  projects/rocsparse/clients/testings/testing_spitsv_csr.cpp
  projects/rocsparse/clients/testings/testing_spmm_batched_coo.cpp
  projects/rocsparse/clients/testings/testing_spmm_batched_csc.cpp
  projects/rocsparse/clients/testings/testing_spmm_batched_csr.cpp
  projects/rocsparse/clients/testings/testing_spmm_bsr.cpp
  projects/rocsparse/clients/testings/testing_spmm_coo.cpp
  projects/rocsparse/clients/testings/testing_spmm_csc.cpp
  projects/rocsparse/clients/testings/testing_spmm_csr.cpp
  projects/rocsparse/clients/testings/testing_spsv_coo.cpp
  projects/rocsparse/clients/testings/testing_spsv_csr.cpp
  projects/rocsparse/clients/tests/test_roti.yaml
Labels: project: rocsparse, organization: ROCm

#768 Add AddLocation annotation which can help trace origin of instructions.
  shared/rocroller/CMakeLists.txt
  shared/rocroller/lib/include/CMakeLists.txt
  shared/rocroller/lib/include/rocRoller/CodeGen/Annotate.hpp
  shared/rocroller/lib/include/rocRoller/CodeGen/Annotate_impl.hpp
  shared/rocroller/scripts/kgraph.py
  shared/rocroller/scripts/lib/rrperf/compare.py
  shared/rocroller/test/catch/AnnotateInstructionsTest.cpp
  shared/rocroller/test/unit/ErrorTest.cpp
Labels: shared: rocroller, organization: ROCm

#801 [hipblaslt] Fix lrvw calc when using default value
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Labels: gfx950, project: hipblaslt, organization: ROCm

#1083 Correct the way to get the number of GPU
  projects/miopen/test/test_perf.py
Labels: project: miopen, organization: ROCm

#1067 [rocsparse] Docs: Minor adjustments to index and readme
  projects/rocsparse/README.md
  projects/rocsparse/docs/index.rst
Labels: documentation, ci:docs-only, project: rocsparse, organization: ROCm

#843 [hipsparselt] Next cmake build system
  .cmake-format.py
  projects/hipsparselt/library/include/hipsparselt.h
  projects/hipsparselt/library/src/hcc_detail/hipsparselt.cpp
  projects/hipsparselt/next-cmake/CMakeLists.txt
  projects/hipsparselt/next-cmake/CMakePresets.json
  projects/hipsparselt/next-cmake/README.rst
  projects/hipsparselt/next-cmake/clients/CMakeLists.txt
  projects/hipsparselt/next-cmake/clients/bench/CMakeLists.txt
  projects/hipsparselt/next-cmake/clients/samples/CMakeLists.txt
  projects/hipsparselt/next-cmake/clients/test/CMakeLists.txt
  projects/hipsparselt/next-cmake/cmake/FetchGoogleTest.cmake
  projects/hipsparselt/next-cmake/cmake/FetchROCmCMake.cmake
  projects/hipsparselt/next-cmake/cmake/FindBLIS.cmake
  projects/hipsparselt/next-cmake/cmake/ROCmClientPackages.cmake
  projects/hipsparselt/next-cmake/cmake/hipSPARSELtLinkBLASLibraries.cmake
  projects/hipsparselt/next-cmake/cmake/hipSPARSELtSupportedArchitectures.cmake
  projects/hipsparselt/next-cmake/library/CMakeLists.txt
  projects/hipsparselt/next-cmake/library/include/CMakeLists.txt
  projects/hipsparselt/next-cmake/library/src/CMakeLists.txt
  projects/hipsparselt/next-cmake/library/src/hcc_detail/CMakeLists.txt
  projects/hipsparselt/next-cmake/library/src/hcc_detail/rocsparselt/CMakeLists.txt
  projects/hipsparselt/next-cmake/library/src/nvcc_detail/CMakeLists.txt
Labels: project: hipsparselt, organization: ROCm

#1032 [rocfft] remove .jenkins folder
  projects/rocfft/.jenkins/application.groovy
  projects/rocfft/.jenkins/common.groovy
  projects/rocfft/.jenkins/debug.groovy
  projects/rocfft/.jenkins/extended.groovy
  projects/rocfft/.jenkins/multigpu.groovy
  projects/rocfft/.jenkins/performance.groovy
  projects/rocfft/.jenkins/staticanalysis.groovy
  projects/rocfft/.jenkins/staticlibrary.groovy
Labels: ci:extended, project: rocfft, ci:multi-gpu, ci:performance

#857 [hipblaslt] cherry pick Origami for MX Datatypes (release)
  projects/hipblaslt/clients/gtest/matmul_gtest.yaml
  projects/hipblaslt/library/CMakeLists.txt
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/rocroller_host_internal.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller_host.cpp
  projects/hipblaslt/next-cmake/host-library/include/rocblaslt/CMakeLists.txt
  projects/hipblaslt/tensilelite/Tensile/Source/lib/source/analytical/Hardware.cpp
Labels: project: hipblaslt, organization: ROCm

#1022 MIOpen enhance 3D convolution for 7.0 RC3
  projects/miopen/src/include/miopen/conv/solvers.hpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_3d_grouped_fwd_xdlops.cpp
  projects/miopen/test/gtest/perf_config_HipImplicitGemm3DGroupFwdXdlops.cpp
Labels: project: miopen, organization: ROCm

#1030 [rocPRIM][Cherry Pick] Fix rocPRIM block_shuffle syntax error
  projects/rocprim/.jenkins/common.groovy
  projects/rocprim/.jenkins/precheckin.groovy
  projects/rocprim/.jenkins/static.groovy
  projects/rocprim/rocprim/include/rocprim/block/block_shuffle.hpp
Labels: project: rocprim, organization: ROCm

#1075 Update CK commit hash for MI Open
  projects/miopen/requirements.txt
Labels: project: miopen, organization: ROCm

#986 [hipSPARSELt] Used set_target_properties INSTALL_RPATH to set the RUNPATH
  projects/hipsparselt/clients/CMakeLists.txt
  projects/hipsparselt/clients/benchmarks/CMakeLists.txt
  projects/hipsparselt/clients/gtest/CMakeLists.txt
Labels: project: hipsparselt, organization: ROCm

#1108 [rocsparse] Fix rocsparse compilation failure as a result of missing semi-colons
  projects/rocsparse/clients/common/rocsparse_init.cpp
Labels: project: rocsparse, organization: ROCm

#1038 [rocRAND][Code Coverage][Cherry Pick] Increase Code Coverage for rocRAND (#409)
  projects/rocrand/.jenkins/common.groovy
  projects/rocrand/.jenkins/precheckin.groovy
  projects/rocrand/.jenkins/static.groovy
  projects/rocrand/.jenkins/staticanalysis.groovy
  projects/rocrand/test/internal/test_normal_distribution.cpp
  projects/rocrand/test/internal/test_rocrand_config_dispatch.cpp
  projects/rocrand/test/internal/test_rocrand_discrete.cpp
  projects/rocrand/test/internal/test_rocrand_log_normal.cpp
  projects/rocrand/test/internal/test_rocrand_mrg31k3p_prng.cpp
  projects/rocrand/test/internal/test_rocrand_mrg32k3a_prng.cpp
  projects/rocrand/test/internal/test_rocrand_mt19937_octo_engine_prng.cpp
  projects/rocrand/test/internal/test_rocrand_mt19937_prng.cpp
  projects/rocrand/test/internal/test_rocrand_mtgp32_prng.cpp
  projects/rocrand/test/internal/test_rocrand_normal.cpp
  projects/rocrand/test/internal/test_rocrand_philox_prng.cpp
  projects/rocrand/test/internal/test_rocrand_poisson.cpp
  projects/rocrand/test/internal/test_rocrand_scrambled_sobol32_qrng.cpp
  projects/rocrand/test/internal/test_rocrand_scrambled_sobol64_qrng.cpp
  projects/rocrand/test/internal/test_rocrand_sobol32_qrng.cpp
  projects/rocrand/test/internal/test_rocrand_sobol64_qrng.cpp
  projects/rocrand/test/internal/test_rocrand_sobol_qrng.hpp
  projects/rocrand/test/internal/test_rocrand_threefry2x32_20_prng.cpp
  projects/rocrand/test/internal/test_rocrand_threefry2x64_20_prng.cpp
  projects/rocrand/test/internal/test_rocrand_threefry4x32_20_prng.cpp
  projects/rocrand/test/internal/test_rocrand_threefry4x64_20_prng.cpp
  projects/rocrand/test/internal/test_rocrand_xorwow_prng.cpp
  projects/rocrand/test/internal/test_uniform_distribution.cpp
Labels: project: rocrand, project: rocthrust, organization: ROCm

#1071 [rocthrust] Add a CMake option to use system sqlite
  projects/rocthrust/CHANGELOG.md
  projects/rocthrust/cmake/Dependencies.cmake
  projects/rocthrust/cmake/Summary.cmake
  projects/rocthrust/docs/install/rocThrust-install-with-cmake.rst
  projects/rocthrust/test/CMakeLists.txt
Labels: project: rocthrust, organization: ROCm

#1042 Pre-swizzle scale data.
  shared/rocroller/client/CMakeLists.txt
  shared/rocroller/client/include/client/DataParallelGEMMSolution.hpp
  shared/rocroller/client/include/client/GEMMParameters.hpp
  shared/rocroller/client/include/client/GEMMParameters_serialization.hpp
  shared/rocroller/client/include/client/GraphInspector.hpp
  shared/rocroller/client/include/client/PreSwizzle.hpp
  shared/rocroller/client/src/GEMMParameters.cpp
  shared/rocroller/client/src/gemm.cpp
  shared/rocroller/client/test_gemm_client.py
  shared/rocroller/lib/include/CMakeLists.txt
  shared/rocroller/lib/include/rocRoller/KernelGraph/ControlGraph/Operation.hpp
  shared/rocroller/lib/include/rocRoller/KernelGraph/KernelGraph.hpp
  shared/rocroller/lib/include/rocRoller/KernelOptions_detail.hpp
  shared/rocroller/lib/include/rocRoller/Operations/BlockScale.hpp
  shared/rocroller/lib/include/rocRoller/Operations/Operation.hpp
  shared/rocroller/lib/include/rocRoller/Operations/Operations.hpp
  shared/rocroller/lib/include/rocRoller/Operations/Operations_fwd.hpp
  shared/rocroller/lib/include/rocRoller/Operations/Operations_impl.hpp
  shared/rocroller/lib/include/rocRoller/Serialization/ControlGraph.hpp
  shared/rocroller/lib/include/rocRoller/Serialization/Operations.hpp
  shared/rocroller/lib/include/rocRoller/TensorDescriptor.hpp
  shared/rocroller/lib/include/rocRoller/TensorDescriptor_impl.hpp
  shared/rocroller/lib/source/CMakeLists.txt
  shared/rocroller/lib/source/CommandSolution.cpp
  shared/rocroller/lib/source/KernelGraph/LowerFromCommand.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/LowerTensorContraction.cpp
  shared/rocroller/lib/source/Operations/BlockScale.cpp
  shared/rocroller/lib/source/Operations/Operation.cpp
  shared/rocroller/lib/source/TensorDescriptor.cpp
  shared/rocroller/scripts/lib/rrperf/rrsuites.py
  shared/rocroller/test/catch/CMakeLists.txt
  shared/rocroller/test/catch/TensorDescriptorTest.cpp
  shared/rocroller/test/common/include/common/mxDataGen.hpp
  shared/rocroller/test/unit/PermLanesTest.cpp
Labels: shared: rocroller, organization: ROCm

#950 Revert "-lFortranRuntime -lFortranDecimal" and use "-lflang_rt.runtime" instead
  projects/hipblaslt/clients/benchmarks/CMakeLists.txt
  projects/hipblaslt/clients/gtest/CMakeLists.txt
Labels: project: hipblaslt, organization: ROCm

#949 Revert "[Workaround] "-lflang_rt.runtime" not ready so use "-lFortranRuntime … (#656)"
  projects/hipsparselt/clients/benchmarks/CMakeLists.txt
  projects/hipsparselt/clients/gtest/CMakeLists.txt
Labels: project: hipsparselt, organization: ROCm

#1107 Clarify default Stream-K settings
  projects/hipblaslt/docs/how-to/how-to-use-streamk.rst
  projects/hipblaslt/docs/reference/env-variables.rst
Labels: documentation, ci:docs-only, project: hipblaslt, organization: ROCm

#1136 [rocFFT/hipFFT] Point to current rocm-cmake address for fallback
  projects/hipfft/cmake/dependencies.cmake
  projects/rocfft/CMakeLists.txt
Labels: project: hipfft, project: rocfft, organization: ROCm

#947 Avoid zero division in auto gsu and num enqueues
  projects/hipblaslt/tensilelite/Tensile/Source/client/main.cpp
  projects/hipblaslt/tensilelite/Tensile/Source/client/source/BenchmarkTimer.cpp
  projects/hipblaslt/tensilelite/Tensile/Source/lib/source/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gsu/auto_gsu_zero_dim.yaml
Labels: gfx12, gfx942, gfx94x, gfx950, gfxall, project: hipblaslt, organization: ROCm, imported pr

#1079 [stride when Swizzle] Accept stride_a=0, support --any_stride for bench
  projects/hipblaslt/clients/benchmarks/client.cpp
  projects/hipblaslt/clients/gtest/matmul_gtest.yaml
  projects/hipblaslt/clients/include/testing_matmul.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/rocblaslt_mat_utils.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_auxiliary.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_mat.cpp
Labels: project: hipblaslt, organization: ROCm

#1148 remove gfx942 bbs tn custom kernel
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Alik_Bljk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Alik_Bljk_BBS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942_80cu/Equality/aquavanjaram_Cijk_Alik_Bljk_BBS_BH_UserArgs.yaml
Labels: project: hipblaslt, organization: ROCm

#1105 Updated number of origami libraries with kernels with for some missing MTs
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bljk_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bljk_SB_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_SB_BiasS_HAS_SAV_UserArgs.yaml
Labels: project: hipblaslt, organization: ROCm

#1141 [rocBLAS] Revert "opening PR for updated gemv transpose kernel (#684)"
  projects/rocblas/clients/gtest/gemv_gtest.yaml
  projects/rocblas/library/src/blas2/gemv_device.hpp
  projects/rocblas/library/src/blas2/rocblas_gemv_kernels.cpp
Labels: project: rocblas, organization: ROCm

#1119 update epilogues in TF32 lib
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bljk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bjlk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
Labels: project: hipblaslt, organization: ROCm

#840 Force enabling solution rejection in TensileCreateLibrary and ClientWriter
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aldebaran/110CU/Equality/aldebaran_Cijk_Ailk_Bljk_HHS_BH_Bias_HAH_SAV.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1200/Equality/gfx1200_Cijk_Ailk_Bjlk_SB_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1200/Equality/gfx1200_Cijk_Ailk_Bljk_SB_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1200/Equality/gfx1200_Cijk_Alik_Bjlk_SB_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1200/Equality/gfx1200_Cijk_Alik_Bljk_DB_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1200/Equality/gfx1200_Cijk_Alik_Bljk_SB_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/Equality/gfx1201_Cijk_Ailk_Bjlk_SB_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/Equality/gfx1201_Cijk_Ailk_Bljk_SB_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/Equality/gfx1201_Cijk_Alik_Bjlk_SB_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/Equality/gfx1201_Cijk_Alik_Bljk_DB_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/Equality/gfx1201_Cijk_Alik_Bljk_SB_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/tensilelite/Tensile/ClientWriter.py
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/Run.py
Labels: gfx12, gfx942, gfx94x, gfx950, gfxall, project: hipblaslt, organization: ROCm, imported pr

#1158 [ROCm][Windows] Add missing MIOPEN_INTERNALS_EXPORT to convolution ocl functions
  projects/miopen/src/ocl/convolutionocl.cpp
Labels: project: miopen, organization: ROCm

#970 Add origami datatype and conversion function to python bindings
  projects/hipblaslt/tensilelite/Tensile/Source/lib/include/Tensile/analytical/Hardware.hpp
  projects/hipblaslt/tensilelite/Tensile/Utilities/origami/origami_module.cpp
Labels: project: hipblaslt, organization: ROCm

#1164 Add build and install rpath for hipfft-test and rocfft-test for finding libomp.so
  projects/hipfft/clients/tests/CMakeLists.txt
  projects/rocfft/clients/tests/CMakeLists.txt
Labels: ci:smoke, organization: ROCm

#1145 [hipblas] rewrite code coverage logic to use pure LLVM
  projects/hipblas/.jenkins/common.groovy
  projects/hipblas/CMakeLists.txt
  projects/hipblas/library/src/CMakeLists.txt
Labels: ci:codecoverage, project: hipblas, organization: ROCm

#1126 [hipBLAS] adding --clients-only option to build script
  projects/hipblas/CMakeLists.txt
  projects/hipblas/clients/CMakeLists.txt
  projects/hipblas/clients/benchmarks/CMakeLists.txt
  projects/hipblas/clients/gtest/CMakeLists.txt
  projects/hipblas/clients/samples/CMakeLists.txt
  projects/hipblas/library/src/CMakeLists.txt
  projects/hipblas/rmake.py
Labels: project: hipblas, organization: ROCm

#833 Add rotating_buffer, flush and use_gpu_timer to hipblaslt-bench output
  projects/hipblaslt/clients/include/argument_model.hpp
  projects/hipblaslt/clients/include/hipblaslt_arguments.hpp
  projects/hipblaslt/clients/include/testing_matmul.hpp
Labels: project: hipblaslt, organization: ROCm

#1194 [hipblaslt] Fix typo in custom bbs tn kernel
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Custom_Cijk_Alik_Bljk_BBS_BH_Bias_HA_S_SAV_NTD_SK3_UserArgs_MT256x256x64_MI16x16x1_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/custom.yaml
Labels: gfx950, project: hipblaslt, organization: ROCm

#1103 fft: compile/link device callback functions with -fgpu-rdc
  projects/hipfft/clients/samples/CMakeLists.txt
  projects/hipfft/clients/tests/CMakeLists.txt
  projects/rocfft/clients/samples/rocfft/CMakeLists.txt
  projects/rocfft/clients/tests/CMakeLists.txt
  projects/rocfft/docs/how-to/load-store-callbacks.rst
  projects/rocfft/library/src/CMakeLists.txt
Labels: project: hipfft, project: rocfft, organization: ROCm

#1205 FFT docs codeowner updates
  .github/CODEOWNERS
Labels: organization: ROCm

#1210 Autolabeler: Add glob for no project match
  .github/labeler.yml
Labels: github actions

#1143 [rocFFT] Fix for partial-pass kernels in kernel-generator.py
  projects/rocfft/library/src/device/kernel-generator.py
Labels: project: rocfft, organization: ROCm

#1215 Update rocm_ci_caller.yml disabling rocm-ci trigger for draft PRs
  .azuredevops/rocm_ci_caller.yml
Labels: organization: ROCm, External CI, project: none

#1193 Resolve tensile test faliures
  shared/tensile/.jenkins/common.groovy
  shared/tensile/.jenkins/precheckin.groovy
  shared/tensile/HostLibraryTests/CMakeLists.txt
  shared/tensile/Tensile/Source/CMakeLists.txt
  shared/tensile/Tensile/Source/cmake/TensileSupportedArchitectures.cmake
Labels: shared: tensile, organization: ROCm

#1204 [hipBLAS] Initial hipBLAS changelog updates for 3.1.0
  projects/hipblas/CHANGELOG.md
Labels: project: hipblas, organization: ROCm

#1233 Origami lib for F8BS_TN_SABV (#521)
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SABV_SAV_UserArgs.yaml
Labels: project: hipblaslt, organization: ROCm

#1241 [hipblaslt] Use correct MT for B for `mx_block_size`
  projects/hipblaslt/tensilelite/Tensile/Source/lib/source/analytical/AnalyticalGemm.cpp
Labels: project: hipblaslt, organization: ROCm

#1237 [hipblaslt] Allow tensilelite to be built from anywhere
  projects/hipblaslt/tensilelite/setup.py
Labels: project: hipblaslt, organization: ROCm

#1230 [rocroller] Bump mxdatagenerator
  shared/rocroller/.jenkins/common.groovy
  shared/rocroller/CMakeLists.txt
  shared/rocroller/test/common/include/common/Utilities.hpp
Labels: shared: rocroller, organization: ROCm

#1267 Add Stanley for gardening Aug 19, 2025
  docs/gardening.md
Labels: documentation, organization: ROCm, project: none

#1265 [rocPRIM] Fix hip version version check for hipStreamLegacy usage
  projects/rocprim/rocprim/include/rocprim/device/config_types.hpp
Labels: project: rocprim, organization: ROCm

#719 Performance optimization for histogram with large bin count on mi300x
  projects/rocprim/benchmark/benchmark_device_histogram.cpp
  projects/rocprim/benchmark/benchmark_device_histogram.parallel.hpp
  projects/rocprim/benchmark/benchmark_utils.hpp
  projects/rocprim/rocprim/include/rocprim/detail/various.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_histogram.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_config_helper.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_histogram.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_histogram.hpp
  projects/rocprim/scripts/autotune/templates/histogram_config_template
Labels: project: rocprim, organization: streamhpc

#1259 [hipfft] Fixes for build failures triggered by multi-stream tests on Windows
  projects/hipfft/clients/tests/multi_stream_test.cpp
Labels: project: hipfft, organization: ROCm

#1051 Enable hipBLASLt to use StreamK rocRoller kernels
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/rocroller_host.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller_host.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
Labels: project: hipblaslt, organization: ROCm

#1255 Users/randyspauldingamd/1694 enable igemm tests on gfx950
  projects/miopen/src/include/miopen/solver/implicitgemm_util.hpp
  projects/miopen/test/gtest/unit_conv_solver_ConvHipImplicitGemmBwdXdlops.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvHipImplicitGemmFwdXdlops.cpp
Labels: project: miopen, organization: ROCm

#1247 [rocsparse] Deprecate trace, debug, and bench logging
  projects/rocsparse/docs/how-to/using-rocsparse.rst
  projects/rocsparse/library/src/include/rocsparse_logging.hpp
Labels: documentation, project: rocsparse, organization: ROCm

#1263 [rocBLAS] client argument 2d scan support
  projects/rocblas/clients/common/rocblas_arguments.cpp
  projects/rocblas/clients/include/rocblas_arguments.hpp
  projects/rocblas/clients/include/rocblas_common.yaml
Labels: TestLevel2Only, project: rocblas, organization: ROCm

#1250 [rocprim] Extra slash in installation path
  projects/rocprim/rocprim/CMakeLists.txt
Labels: project: rocprim, organization: ROCm

#1142 [hipsparse/rocsparse] Docs: Add Windows install guide
  projects/hipsparse/CHANGELOG.md
  projects/hipsparse/docs/index.rst
  projects/hipsparse/docs/install/install-windows.rst
  projects/hipsparse/docs/install/install.rst
  projects/hipsparse/docs/sphinx/_toc.yml.in
  projects/rocsparse/docs/install/Linux_Install_Guide.rst
  projects/rocsparse/docs/install/Windows_Install_Guide.rst
Labels: documentation, ci:docs-only, project: hipsparse, project: rocsparse, organization: ROCm

#1269 [hipfft] Fixes for hipfft's simple tests on CUDA
  projects/hipfft/clients/tests/simple_test.cpp
  projects/hipfft/library/src/amd_detail/hipfft.cpp
  projects/hipfft/library/src/nvidia_detail/hipfft.cpp
Labels: project: hipfft, organization: ROCm

#1243 fix(rocprim): arrow operator iterators
  projects/rocprim/CHANGELOG.md
  projects/rocprim/rocprim/include/rocprim/device/detail/device_scan_by_key.hpp
  projects/rocprim/rocprim/include/rocprim/iterator/arg_index_iterator.hpp
  projects/rocprim/rocprim/include/rocprim/iterator/detail/common.hpp
  projects/rocprim/rocprim/include/rocprim/iterator/predicate_iterator.hpp
  projects/rocprim/rocprim/include/rocprim/iterator/texture_cache_iterator.hpp
  projects/rocprim/rocprim/include/rocprim/iterator/transform_iterator.hpp
  projects/rocprim/rocprim/include/rocprim/iterator/zip_iterator.hpp
  projects/rocprim/test/rocprim/test_arg_index_iterator.cpp
  projects/rocprim/test/rocprim/test_texture_cache_iterator.cpp
  projects/rocprim/test/rocprim/test_transform_iterator.cpp
Labels: external contribution, project: rocprim, organization: streamhpc

#1017 [hipfft] Removing hipfft_test_params.h
  projects/hipfft/clients/tests/gtest_main.cpp
  projects/hipfft/clients/tests/hipfft_test_params.h
Labels: project: hipfft, organization: ROCm

#1276 Productionize docs CI pipeline
  .github/workflows/update-docs.yml
Labels: organization: ROCm, github actions, project: none

#1111 [rocroller] Fix ASan build when using Ninja instead of Make
  shared/rocroller/lib/include/rocRoller/Utilities/Component_Impl.hpp
  shared/rocroller/lib/source/Assemblers/CMakeLists.txt
  shared/rocroller/lib/source/CMakeLists.txt
  shared/rocroller/lib/source/ExpressionTransformations/CMakeLists.txt
  shared/rocroller/test/CMakeLists.txt
Labels: shared: rocroller, organization: ROCm

#1054 [hipblaslt] Update gfx12 F8BS TN SAB Vector Gridbase yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1200/GridBased/gfx1200_Cijk_Alik_Bljk_F8BS_BH_Bias_HA_S_SABV_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Alik_Bljk_F8BS_BH_Bias_HA_S_SABV_SAV_UserArgs.yaml
Labels: project: hipblaslt, organization: ROCm

#1065 [rocRoller] Improve scheduler code quality
  shared/rocroller/.githooks/pre-commit
  shared/rocroller/lib/include/rocRoller/Scheduling/Scheduler.hpp
  shared/rocroller/lib/source/Expression_generate.cpp
  shared/rocroller/lib/source/Scheduler.cpp
  shared/rocroller/test/unit/SchedulerTest.cpp
Labels: shared: rocroller, organization: ROCm

#1296 Remove WorkspaceCheck in auto gsu
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/include/Tensile/ContractionTaskPredicates.hpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
Labels: project: hipblaslt, organization: ROCm

#1015 [rocroller] Fix CMake for GPUArchitectureGenerator YAML generation
  shared/rocroller/GPUArchitectureGenerator/CMakeLists.txt
Labels: shared: rocroller, organization: ROCm

#859 [hipCUB][CCCL2.8 parity] Add-for-each-in-extents-to-hipcub
  projects/hipcub/CHANGELOG.md
  projects/hipcub/hipcub/include/hipcub/backend/cub/device/device_for.hpp
  projects/hipcub/hipcub/include/hipcub/backend/rocprim/device/device_for.hpp
  projects/hipcub/hipcub/include/hipcub/backend/rocprim/util_mdspan.hpp
  projects/hipcub/test/hipcub/test_hipcub_device_for.cpp
Labels: project: hipcub, organization: streamhpc

#1279 [rocRoller] Delete unused kernel arguments
  shared/rocroller/lib/include/rocRoller/AssemblyKernel.hpp
  shared/rocroller/lib/include/rocRoller/AssemblyKernel_impl.hpp
  shared/rocroller/lib/include/rocRoller/KernelGraph/Transforms/AddDeallocate_detail.hpp
  shared/rocroller/lib/source/KernelGraph/ControlFlowArgumentTracer.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/AddDeallocate.cpp
  shared/rocroller/test/catch/ArgumentTracerTest.cpp
Labels: shared: rocroller, organization: ROCm

#1313 Revert "[miopen]Non standard squashed 3D tensor operation test (#1058)"
  projects/miopen/test/gtest/nonstandardsquash_tensor_op.cpp
  projects/miopen/test/gtest/ternary_tensor_ops.cpp
Labels: project: miopen, organization: ROCm

#1286 [hipRAND] Update CUDA compute capability detection with nvidia-smi based fallback
  projects/hiprand/cmake/SetupNVCC.cmake
Labels: project: hiprand, organization: ROCm

#1283 Origami heuristics update to pick MT512 for skinny sizes
  projects/hipblaslt/tensilelite/src/analytical/AnalyticalGemm.cpp
Labels: project: hipblaslt, organization: ROCm

#1309 Prevent Overflowing in skGrid SGPR
  projects/hipblaslt/tensilelite/Tensile/Components/Signature.py
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
Labels: project: hipblaslt, organization: ROCm

#1302 [hipblaslt] Support both dot2 and non-dot2 in TF32 emu
  projects/hipblaslt/tensilelite/Tensile/Components/LocalRead.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Labels: gfx950, project: hipblaslt, organization: ROCm

#1328 User/aazz44ss/gfx942 update
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Ailk_Bjlk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Ailk_Bjlk_HHS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Ailk_Bljk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
Labels: project: hipblaslt, organization: ROCm

#698 Reintroduce fix for spirv and unknown architecture when using lookback_scan_state
  projects/rocprim/rocprim/include/rocprim/device/detail/lookback_scan_state.hpp
Labels: project: rocprim, organization: streamhpc

#1287 [rocFFT/hipFFT] Docs: Remove reference to builds on non-AMD platforms
  projects/hipfft/README.md
  projects/hipfft/docs/install/building-installing-hipfft.rst
  projects/rocfft/README.md
Labels: documentation, ci:docs-only, project: hipfft, project: rocfft, organization: ROCm

#1174 Add smoke option to hipfft and rocfft rtest.xml
  projects/hipfft/rtest.xml
  projects/rocfft/rtest.xml
Labels: ci:smoke, project: hipfft, project: rocfft, organization: ROCm

#1342 [hipCUB] Avoid hipcub exclusive scan fallback on Windows
  projects/hipcub/test/hipcub/test_hipcub_block_radix_rank.cpp
Labels: project: hipcub, organization: ROCm

#1338 [origami] Compute CVT Overhead
  projects/hipblaslt/tensilelite/src/analytical/AnalyticalGemm.cpp
  projects/hipblaslt/tensilelite/src/analytical/Utils.cpp
Labels: project: hipblaslt, organization: ROCm

#1234 Move scale prefetch load to subiter 1 of unrolled Kloop
  shared/rocroller/lib/source/KernelGraph/Transformations/AddPrefetch.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/PrefetchScale.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/SwizzleScale.cpp
Labels: shared: rocroller, organization: ROCm

#1137 [rocThrust] Fix TBB support backend and update documentation
  projects/rocthrust/docs/how-to/rocThrust-build-backends.rst
  projects/rocthrust/docs/index.rst
  projects/rocthrust/docs/sphinx/_toc.yml.in
  projects/rocthrust/thrust/system/tbb/detail/reduce_by_key.inl
  projects/rocthrust/thrust/system/tbb/detail/scan.inl
Labels: documentation, project: rocthrust, organization: ROCm

#1375 [superbuild] Add pipeline trigger
  .azuredevops/superbuild.yml
Labels: External CI, project: none

#1352 Fix OpenMP and link tools against hip::host
  projects/rocsparse/clients/CMakeLists.txt
  projects/rocsparse/clients/tools/CMakeLists.txt
Labels: project: rocsparse, organization: ROCm

#1337 [rocsparse] Bmwcra 1 stress int
  projects/rocsparse/clients/testings/testing.hpp
  projects/rocsparse/clients/tests/test_spmm_coo.yaml
  projects/rocsparse/clients/tests/test_spmm_csc.yaml
Labels: project: rocsparse, organization: ROCm

#1311 [hipblaslt] Reduce build warnings
  projects/hipblaslt/clients/bench/src/client_extop_matrixtransform.cpp
  projects/hipblaslt/clients/bench/src/client_extop_softmax.cpp
  projects/hipblaslt/clients/bench/src/client_sequence.cpp
  projects/hipblaslt/clients/common/include/near.hpp
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
  projects/hipblaslt/clients/samples/15_hipblaslt_gemm_with_scale_a_b_vector/sample_hipblaslt_gemm_swizzleA_with_scale_a_b_vector.cpp
  projects/hipblaslt/clients/samples/19_hipblaslt_gemm_mix_precision_ext/sample_hipblaslt_gemm_mix_precision_ext.cpp
  projects/hipblaslt/clients/samples/25_hipblaslt_gemm_bias_swizzle_a_ext/sample_hipblaslt_gemm_bias_swizzle_a_ext.cpp
  projects/hipblaslt/clients/samples/25_hipblaslt_gemm_swizzle_a/sample_hipblaslt_gemm_swizzle_a.cpp
Labels: project: hipblaslt, organization: ROCm

#1361 Update CK commit hash for MI Open
  projects/miopen/requirements.txt
Labels: project: miopen, organization: ROCm

#1365 [hipblaslt] Resolve edge-case blas and msgpack dependencies
  projects/hipblaslt/clients/CMakeLists.txt
  projects/hipblaslt/cmake/FindBLIS.cmake
  projects/hipblaslt/install.sh
Labels: project: hipblaslt, organization: ROCm
