Repository ROCm/rocm-libraries, pull requests merged in 2025-07, with the labels that each got.

#403 clear normal operation hip error code of loadCodeObjectFile
  projects/hipblaslt/tensilelite/Tensile/Source/lib/source/hip/HipSolutionAdapter.cpp
Labels: project: hipblaslt, organization: ROCm

#471 support labels with spaces
  projects/rocblas/.jenkins/common.groovy
Labels: noTensile, project: rocblas, organization: ROCm

#482 [PR for rocm-rel-7.0] Refined the CU-Fallback case for XCC value
  projects/hipblaslt/tensilelite/Tensile/Source/lib/source/AMDGPU.cpp
Labels: project: hipblaslt, organization: ROCm

#437 PR 6 - Update navi32 library to new format
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Equality/navi32_Cijk_Ailk_Bjlk_DB_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Equality/navi32_Cijk_Ailk_Bjlk_HHS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Equality/navi32_Cijk_Ailk_Bjlk_I8II_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Equality/navi32_Cijk_Ailk_Bjlk_SB_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Equality/navi32_Cijk_Ailk_Bljk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Equality/navi32_Cijk_Ailk_Bljk_BBS_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Equality/navi32_Cijk_Ailk_Bljk_DB_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Equality/navi32_Cijk_Ailk_Bljk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Equality/navi32_Cijk_Ailk_Bljk_HHS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Equality/navi32_Cijk_Ailk_Bljk_HHS_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Equality/navi32_Cijk_Ailk_Bljk_I8II_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Equality/navi32_Cijk_Ailk_Bljk_SB_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Equality/navi32_Cijk_Alik_Bjlk_DB_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Equality/navi32_Cijk_Alik_Bjlk_SB_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Equality/navi32_Cijk_Alik_Bljk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Equality/navi32_Cijk_Alik_Bljk_BBS_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Equality/navi32_Cijk_Alik_Bljk_DB_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Equality/navi32_Cijk_Alik_Bljk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Equality/navi32_Cijk_Alik_Bljk_HHS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Equality/navi32_Cijk_Alik_Bljk_HHS_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Equality/navi32_Cijk_Alik_Bljk_I8II_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Equality/navi32_Cijk_Alik_Bljk_SB_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Ailk_Bjlk_BBS_BH_Bias_AuxB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Ailk_Bjlk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Ailk_Bjlk_BSS_BH_Bias_HAH.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Ailk_Bjlk_BSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Ailk_Bjlk_HHS_BH_Bias_AuxH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Ailk_Bjlk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Ailk_Bjlk_HSS_BH_Bias_HAH.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Ailk_Bjlk_HSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Ailk_Bjlk_I8BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Ailk_Bjlk_I8II_BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Ailk_Bljk_BBS_BH_Bias_AuxB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Ailk_Bljk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Ailk_Bljk_BSS_BH_Bias_HAH.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Ailk_Bljk_BSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Ailk_Bljk_HHS_BH_Bias_AuxH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Ailk_Bljk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Ailk_Bljk_HSS_BH_Bias_HAH.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Ailk_Bljk_HSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Ailk_Bljk_I8BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Ailk_Bljk_I8II_BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Alik_Bjlk_BBS_BH_Bias_AuxB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Alik_Bjlk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Alik_Bjlk_BSS_BH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Alik_Bjlk_HHS_BH_Bias_AuxH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Alik_Bjlk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Alik_Bjlk_HSS_BH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Alik_Bjlk_I8BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Alik_Bjlk_I8II_BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Alik_Bljk_BBS_BH_Bias_AuxB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Alik_Bljk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Alik_Bljk_BSS_BH_Bias_HAH.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Alik_Bljk_BSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Alik_Bljk_HHS_BH_Bias_AuxH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Alik_Bljk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Alik_Bljk_HSS_BH_Bias_HAH.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Alik_Bljk_HSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Alik_Bljk_I8BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/GridBased/navi32_Cijk_Alik_Bljk_I8II_BH_HAI_SAV_UserArgs.yaml
Labels: project: hipblaslt, organization: ROCm

#438 PR 7 - Update navi33 library to new format
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/Equality/navi33_Cijk_Ailk_Bjlk_DB_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/Equality/navi33_Cijk_Ailk_Bjlk_SB_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/Equality/navi33_Cijk_Ailk_Bljk_DB_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/Equality/navi33_Cijk_Ailk_Bljk_SB_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/Equality/navi33_Cijk_Alik_Bjlk_DB_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/Equality/navi33_Cijk_Alik_Bjlk_SB_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/Equality/navi33_Cijk_Alik_Bljk_DB_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/Equality/navi33_Cijk_Alik_Bljk_SB_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Ailk_Bjlk_BBS_BH_Bias_AuxB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Ailk_Bjlk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Ailk_Bjlk_BSS_BH_Bias_HAH.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Ailk_Bjlk_BSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Ailk_Bjlk_HHS_BH_Bias_AuxH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Ailk_Bjlk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Ailk_Bjlk_HSS_BH_Bias_HAH.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Ailk_Bjlk_HSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Ailk_Bjlk_I8BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Ailk_Bjlk_I8II_BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Ailk_Bljk_BBS_BH_Bias_AuxB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Ailk_Bljk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Ailk_Bljk_BSS_BH_Bias_HAH.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Ailk_Bljk_BSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Ailk_Bljk_HHS_BH_Bias_AuxH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Ailk_Bljk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Ailk_Bljk_HSS_BH_Bias_HAH.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Ailk_Bljk_HSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Ailk_Bljk_I8BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Ailk_Bljk_I8II_BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Alik_Bjlk_BBS_BH_Bias_AuxB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Alik_Bjlk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Alik_Bjlk_BSS_BH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Alik_Bjlk_HHS_BH_Bias_AuxH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Alik_Bjlk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Alik_Bjlk_HSS_BH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Alik_Bjlk_I8BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Alik_Bjlk_I8II_BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Alik_Bljk_BBS_BH_Bias_AuxB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Alik_Bljk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Alik_Bljk_BSS_BH_Bias_HAH.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Alik_Bljk_BSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Alik_Bljk_HHS_BH_Bias_AuxH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Alik_Bljk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Alik_Bljk_HSS_BH_Bias_HAH.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Alik_Bljk_HSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Alik_Bljk_I8BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi33/GridBased/navi33_Cijk_Alik_Bljk_I8II_BH_HAI_SAV_UserArgs.yaml
Labels: project: hipblaslt, organization: ROCm

#433 PR 2 - Update gfx1103 library to new format
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/Equality/gfx1103_Cijk_Ailk_Bjlk_DB_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/Equality/gfx1103_Cijk_Ailk_Bjlk_SB_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/Equality/gfx1103_Cijk_Ailk_Bljk_DB_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/Equality/gfx1103_Cijk_Ailk_Bljk_SB_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/Equality/gfx1103_Cijk_Alik_Bjlk_DB_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/Equality/gfx1103_Cijk_Alik_Bjlk_SB_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/Equality/gfx1103_Cijk_Alik_Bljk_DB_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/Equality/gfx1103_Cijk_Alik_Bljk_SB_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Ailk_Bjlk_BBS_BH_Bias_AuxB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Ailk_Bjlk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Ailk_Bjlk_BSS_BH_Bias_HAH.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Ailk_Bjlk_BSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Ailk_Bjlk_HHS_BH_Bias_AuxH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Ailk_Bjlk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Ailk_Bjlk_HSS_BH_Bias_HAH.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Ailk_Bjlk_HSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Ailk_Bjlk_I8BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Ailk_Bjlk_I8II_BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Ailk_Bljk_BBS_BH_Bias_AuxB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Ailk_Bljk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Ailk_Bljk_BSS_BH_Bias_HAH.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Ailk_Bljk_BSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Ailk_Bljk_HHS_BH_Bias_AuxH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Ailk_Bljk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Ailk_Bljk_HSS_BH_Bias_HAH.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Ailk_Bljk_HSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Ailk_Bljk_I8BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Ailk_Bljk_I8II_BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Alik_Bjlk_BBS_BH_Bias_AuxB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Alik_Bjlk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Alik_Bjlk_BSS_BH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Alik_Bjlk_HHS_BH_Bias_AuxH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Alik_Bjlk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Alik_Bjlk_HSS_BH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Alik_Bjlk_I8BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Alik_Bjlk_I8II_BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Alik_Bljk_BBS_BH_Bias_AuxB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Alik_Bljk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Alik_Bljk_BSS_BH_Bias_HAH.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Alik_Bljk_BSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Alik_Bljk_HHS_BH_Bias_AuxH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Alik_Bljk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Alik_Bljk_HSS_BH_Bias_HAH.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Alik_Bljk_HSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Alik_Bljk_I8BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1103/GridBased/gfx1103_Cijk_Alik_Bljk_I8II_BH_HAI_SAV_UserArgs.yaml
Labels: project: hipblaslt, organization: ROCm

#400 [rocThrust] Make constant, counting iterator constructors constexpr
  projects/rocthrust/thrust/iterator/constant_iterator.h
  projects/rocthrust/thrust/iterator/counting_iterator.h
Labels: project: rocthrust, organization: ROCm

#450 Reverse win gtest condition
  projects/rocprim/test/rocprim/test_utils_assertions.hpp
Labels: project: rocprim, organization: ROCm

#491 [hipblaslt] Update custom hhs/bbs tn kernel names
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Custom_Cijk_Alik_Bljk_BBS_BH_Bias_HA_S_SAV_NTD_SK3_UserArgs_MT256x256x64_MI16x16x1_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Custom_Cijk_Alik_Bljk_HHS_BH_Bias_HA_S_SAV_NTD_SK3_UserArgs_MT256x256x64_MI16x16x1_shortname0_gfx950.s
Labels: gfx950, project: hipblaslt, organization: ROCm

#505 Reverse win gtest condition (#450)
  projects/rocprim/test/rocprim/test_utils_assertions.hpp
Labels: project: rocprim, organization: ROCm

#513 refactor(rocrand): replace hip vector accessor macro and use underlyi…
  projects/rocrand/library/include/rocrand/rocrand_common.h
  projects/rocrand/library/include/rocrand/rocrand_philox4x32_10.h
  projects/rocrand/library/include/rocrand/rocrand_threefry2_impl.h
  projects/rocrand/library/include/rocrand/rocrand_threefry4_impl.h
Labels: project: rocrand, organization: ROCm

#487 hipBLASLt/rocRoller: Origami usage in rocRoller integration
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/rocroller_host_internal.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller_host.cpp
  projects/hipblaslt/next-cmake/host-library/include/rocblaslt/CMakeLists.txt
  projects/hipblaslt/tensilelite/Tensile/Source/lib/source/analytical/Hardware.cpp
Labels: gfx950, project: hipblaslt, organization: ROCm

#546 [GitHub Actions] Change patch behaviour to create per-file patches
  .github/scripts/pr_merge_sync_patches.py
Labels: github actions

#549 Update gardeners 2025-07-08
  docs/gardening.md
Labels: NoCI

#481 [hipBLASLt] add fused clamp
  projects/hipblaslt/clients/benchmarks/README.md
  projects/hipblaslt/clients/benchmarks/client.cpp
  projects/hipblaslt/clients/benchmarks/client_groupedgemm_fixed_mk.cpp
  projects/hipblaslt/clients/gtest/matmul_gtest.yaml
  projects/hipblaslt/clients/include/flops.hpp
  projects/hipblaslt/clients/include/hipblaslt_common.yaml
  projects/hipblaslt/clients/include/hipblaslt_datatype2string.hpp
  projects/hipblaslt/clients/include/testing_matmul.hpp
  projects/hipblaslt/clients/include/utility.hpp
  projects/hipblaslt/clients/samples/27_gemm_clamp_bias/sample_hipblaslt_gemm_clamp_bias.cpp
  projects/hipblaslt/clients/samples/CMakeLists.txt
  projects/hipblaslt/docs/conceptual/hipblaslt-clients.rst
  projects/hipblaslt/docs/what-is-hipBLASLt.rst
  projects/hipblaslt/library/include/hipblaslt/hipblaslt-ext.hpp
  projects/hipblaslt/library/include/hipblaslt/hipblaslt.h
  projects/hipblaslt/library/src/amd_detail/hipblaslt-ext.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/include/rocblaslt-types.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/handle.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/utility.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_auxiliary.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_mat.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/utility.cpp
  projects/hipblaslt/library/src/include/auxiliary.hpp
  projects/hipblaslt/tensilelite/Tensile/Activation.py
  projects/hipblaslt/tensilelite/Tensile/Source/client/source/Reference.cpp
  projects/hipblaslt/tensilelite/Tensile/Source/lib/include/Tensile/Activation.hpp
  projects/hipblaslt/tensilelite/Tensile/Source/lib/include/Tensile/ContractionProblemPredicates.hpp
  projects/hipblaslt/tensilelite/Tensile/Source/lib/source/Activation.cpp
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gemm_bias_strided_batched.yaml
Labels: project: hipblaslt, organization: ROCm

#232 [rocrand] Docs: Update repository and path information for rocm-libraries switchover
  projects/rocrand/README.md
  projects/rocrand/docs/conceptual/dynamic_ordering_configuration.rst
  projects/rocrand/docs/index.rst
  projects/rocrand/docs/install/installing.rst
  projects/rocrand/docs/sphinx/_toc.yml.in
Labels: ci:docs-only, project: rocrand, organization: ROCm

#532 [GitHub Actions] Fixes for Auto-Label Workflow and Removal of Fanout Code
  .github/repos-config.json
  .github/scripts/pr_category_label.py
  .github/scripts/pr_close_fanouts.py
  .github/scripts/pr_detect_changed_subtrees.py
  .github/scripts/pr_fanout.py
  .github/scripts/pr_fanout_sync_labels.py
  .github/scripts/repo_config_model.py
  .github/scripts/utils_fanout_naming.py
  .github/workflows/pr-auto-label.yml
  .github/workflows/pr-close-fanouts.yml
  .github/workflows/pr-fanout.yml
Labels: github actions

#515 [rocRoller] math-ci - set ROCROLLER_BUILD_DIR
  shared/rocroller/.jenkins/common.groovy
Labels: shared: rocroller, organization: ROCm

#562 [GitHub Actions] Extending PR patch workflow logic for file adds and moves
  .github/scripts/pr_merge_sync_patches.py
Labels: github actions

#517 find OpenMP config
  projects/rocblas/clients/CMakeLists.txt
  projects/rocblas/clients/benchmarks/CMakeLists.txt
  projects/rocblas/clients/gtest/CMakeLists.txt
Labels: noTensile, TestLevel2Only, project: rocblas, organization: ROCm

#566 [GitHub Actions] PR Patch Should Checkout Merge Commit
  .github/scripts/pr_merge_sync_patches.py
Labels: github actions

#568 [shared/rocroller] Fix performance job
  shared/rocroller/docker/user-image/start_user_container
  shared/rocroller/scripts/lib/rrperf/autoperf.py
  shared/rocroller/scripts/lib/rrperf/git.py
Labels: shared: rocroller, organization: ROCm

#547 Update codeowners for build infra
  .github/CODEOWNERS
Labels: NoCI

#573 [GitHub Actions] Format Patch Usage for Modified Files
  .github/scripts/pr_merge_sync_patches.py
  .github/workflows/pr-merge-sync-patches-manual.yml
  .github/workflows/pr-merge-sync-patches.yml
Labels: github actions

#511 [hipblaslt] Resolve 301 errors on 942
  projects/hipblaslt/library/src/amd_detail/hipblaslt-ext-op.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_transform.cpp
  projects/hipblaslt/tensilelite/Tensile/Source/lib/include/Tensile/hip/HipSolutionAdapter.hpp
  projects/hipblaslt/tensilelite/Tensile/Source/lib/source/hip/HipSolutionAdapter.cpp
Labels: project: hipblaslt, organization: ROCm

#576 [GitHub Actions] PR Patch - git am instead of git apply
  .github/scripts/pr_merge_sync_patches.py
  .github/workflows/pr-merge-sync-patches-manual.yml
  .github/workflows/pr-merge-sync-patches.yml
Labels: github actions

#563 Set default rocroller scheduler to Priority
  shared/rocroller/lib/include/rocRoller/Utilities/Settings.hpp
Labels: shared: rocroller, organization: ROCm

#333 [OPT] Tail Loop reload loop optimization
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Labels: project: hipblaslt, organization: ROCm

#372 Increase the coverage from 53% to 57% (500+ lines)
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/clients/gtest/CMakeLists.txt
  projects/hipblaslt/clients/gtest/auxiliary_gtest.cpp
  projects/hipblaslt/clients/gtest/auxiliary_gtest.yaml
  projects/hipblaslt/clients/include/testing_auxiliary.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt_internal.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/utility.hpp
  projects/hipblaslt/library/src/include/auxiliary.hpp
Labels: ci:codecoverage, project: hipblaslt, organization: ROCm

#521 Origami lib for F8BS_TN_SABV
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SABV_SAV_UserArgs.yaml
Labels: project: hipblaslt, organization: ROCm

#565 hotfix 7.0 use omp config
  projects/rocblas/clients/CMakeLists.txt
  projects/rocblas/clients/benchmarks/CMakeLists.txt
  projects/rocblas/clients/gtest/CMakeLists.txt
Labels: TestLevel3Only, project: rocblas, organization: ROCm

#514 Changing sgpr limits (#304)
  projects/hipblaslt/tensilelite/Tensile/Components/GSU.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Labels: gfx950, project: hipblaslt, organization: ROCm

#496 Use MTOffset instead of SGPR for reduction offset
  projects/hipblaslt/tensilelite/Tensile/Components/GSU.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Labels: project: hipblaslt, organization: ROCm

#499 Reduce No. temp SGPRs allocated for bias (#300)
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Labels: project: hipblaslt, organization: ROCm

#501 Support negative WGM for StreamK (#339)
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/sk_f8gemm_quick.yaml
Labels: project: hipblaslt, organization: ROCm

#599 [rocRAND] Add missing include for utility header
  projects/rocrand/library/include/rocrand/rocrand_common.h
Labels: project: rocrand

#611 [Ex CI] add summary check reporting to hipSPARSELt pipeline
  .azuredevops/hipsparselt.yml
Labels: organization: ROCm, External CI

#579 Don't load all dat for index related API
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
  projects/hipblaslt/tensilelite/Tensile/Source/lib/include/Tensile/MasterSolutionLibrary.hpp
  projects/hipblaslt/tensilelite/Tensile/Source/lib/include/Tensile/PlaceholderLibrary.hpp
  projects/hipblaslt/tensilelite/Tensile/Source/lib/include/Tensile/Serialization/PlaceholderLibrary.hpp
  projects/hipblaslt/tensilelite/Tensile/Source/lib/include/Tensile/Serialization/SolutionLibrary.hpp
  projects/hipblaslt/tensilelite/Tensile/Source/lib/include/Tensile/Tensile.hpp
  projects/hipblaslt/tensilelite/Tensile/Source/lib/include/Tensile/msgpack/Loading.hpp
  projects/hipblaslt/tensilelite/Tensile/Source/lib/include/Tensile/msgpack/MessagePack.hpp
  projects/hipblaslt/tensilelite/Tensile/Source/lib/source/Tensile.cpp
  projects/hipblaslt/tensilelite/Tensile/Source/lib/source/msgpack/MessagePack.cpp
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/Run.py
Labels: project: hipblaslt, organization: ROCm

#601 [tensile] Support gfx950 in HostLibraryTests
  shared/tensile/.jenkins/common.groovy
  shared/tensile/HostLibraryTests/configs/SolutionLibraries/KernelsLite.dat.gz
  shared/tensile/HostLibraryTests/configs/SolutionLibraries/KernelsLite.yaml.gz
  shared/tensile/HostLibraryTests/configs/SolutionLibraries/KernelsLiteMixed.dat.gz
  shared/tensile/HostLibraryTests/configs/SolutionLibraries/KernelsLiteMixed.yaml.gz
  shared/tensile/HostLibraryTests/configs/SolutionLibraries/KernelsTileLite.dat.gz
  shared/tensile/HostLibraryTests/configs/SolutionLibraries/KernelsTileLite.yaml.gz
  shared/tensile/HostLibraryTests/configs/lite_configs/gfx950_Cijk_Ailk_Bjlk_SB.yaml
  shared/tensile/HostLibraryTests/configs/lite_configs/gfx950_Cijk_Ailk_Bljk_SB.yaml
  shared/tensile/HostLibraryTests/configs/lite_configs/gfx950_Cijk_Alik_Bjlk_SB.yaml
  shared/tensile/HostLibraryTests/configs/lite_configs/gfx950_Cijk_Alik_Bljk_SB.yaml
  shared/tensile/HostLibraryTests/configs/lite_configs_mixed/gfx950_Cijk_Ailk_Bjlk_SB.yaml
  shared/tensile/HostLibraryTests/configs/lite_configs_mixed/gfx950_Cijk_Ailk_Bljk_SB.yaml
  shared/tensile/HostLibraryTests/configs/lite_configs_mixed/gfx950_Cijk_Alik_Bjlk_SB.yaml
  shared/tensile/HostLibraryTests/configs/lite_configs_mixed/gfx950_Cijk_Alik_Bljk_SB.yaml
  shared/tensile/HostLibraryTests/configs/tile_aware_selection/gfx950_Cijk_Ailk_Bjlk_SB.yaml
  shared/tensile/HostLibraryTests/configs/tile_aware_selection/gfx950_Cijk_Ailk_Bljk_SB.yaml
  shared/tensile/HostLibraryTests/configs/tile_aware_selection/gfx950_Cijk_Alik_Bjlk_SB.yaml
  shared/tensile/HostLibraryTests/configs/tile_aware_selection/gfx950_Cijk_Alik_Bljk_SB.yaml
Labels: shared: tensile, organization: ROCm

#524 [rocblas] Remove .jenkins folder V2
  projects/rocblas/.jenkins/asan.groovy
  projects/rocblas/.jenkins/codecov.groovy
  projects/rocblas/.jenkins/common.groovy
  projects/rocblas/.jenkins/debug.groovy
  projects/rocblas/.jenkins/extended.groovy
  projects/rocblas/.jenkins/multigpu.groovy
  projects/rocblas/.jenkins/precheckin.groovy
  projects/rocblas/.jenkins/static.groovy
  projects/rocblas/.jenkins/staticanalysis.groovy
  projects/rocblas/.jenkins/staticlibrary.groovy
  projects/rocblas/.jenkins/weekly.groovy
Labels: ci:debug, ci:extended, project: rocblas, organization: ROCm, ci:multi-gpu

#574 [shared/rocroller] Ensure mxDataGenerator CI params are used
  shared/rocroller/.jenkins/code-analysis.groovy
  shared/rocroller/.jenkins/common.groovy
  shared/rocroller/.jenkins/performance.groovy
  shared/rocroller/codeql/create_database
  shared/rocroller/docker/user-image/start_user_container
  shared/rocroller/scripts/lib/rrperf/autoperf.py
Labels: shared: rocroller, organization: ROCm

#595 [shared/rocroller] Fix AssertTest
  shared/rocroller/test/unit/AssertTest.cpp
Labels: shared: rocroller, organization: ROCm

#376 [hipBLASLt] Docs: change GitHub links and install instructions to account for repo change
  projects/hipblaslt/README.md
  projects/hipblaslt/docs/index.rst
  projects/hipblaslt/docs/install/building-installing-hipblaslt.rst
  projects/hipblaslt/docs/sphinx/_toc.yml.in
Labels: documentation, ci:docs-only, project: hipblaslt, organization: ROCm

#587 [rocThrust] Add check for 128-bit integer support
  projects/rocthrust/benchmarks/bench/transform/basic.cu
Labels: project: rocthrust

#640 use gemm_ex type in constexpr
  projects/rocblas/library/src/blas_ex/rocblas_gemm_ex_kernels.cpp
  projects/rocblas/library/src/src64/blas_ex/rocblas_gemm_ex_kernels_64.cpp
Labels: TestTensileOnly, project: rocblas, organization: ROCm

#670 [Ex CI] fix Trigger Azure cancelling rocm-ci-caller runs
  .github/workflows/azure-ci-dispatcher.yml
Labels: External CI

#672 [Ex CI] fix Trigger Azure cancelling rocm-ci-caller runs
  .github/workflows/azure-ci-dispatcher.yml
Labels: External CI

#567 [rocPRIM][rocThrust][rocRAND][hipRAND] Update changelogs and version numbers for ROCm 7.0 release
  projects/hiprand/CHANGELOG.md
  projects/hiprand/CMakeLists.txt
  projects/rocprim/CHANGELOG.md
  projects/rocrand/CHANGELOG.md
  projects/rocrand/CMakeLists.txt
  projects/rocthrust/CHANGELOG.md
Labels: project: hiprand, project: rocprim, project: rocrand, project: rocthrust

#659 Fix: put headers into development package but not runtime package
  projects/hipblaslt/library/CMakeLists.txt
Labels: project: hipblaslt

#655 -lflang_rt.runtime" not ready,use "-lFortranRuntime -lFortranDecimal"
  projects/hipblaslt/clients/benchmarks/CMakeLists.txt
  projects/hipblaslt/clients/gtest/CMakeLists.txt
Labels: project: hipblaslt

#411 [hipCUB][Code Coverage] Increase Code Coverage
  projects/hipcub/CHANGELOG.md
  projects/hipcub/test/hipcub/test_hipcub_block_discontinuity.cpp
  projects/hipcub/test/hipcub/test_hipcub_block_exchange.cpp
  projects/hipcub/test/hipcub/test_hipcub_block_merge_sort.cpp
  projects/hipcub/test/hipcub/test_hipcub_block_radix_rank.cpp
  projects/hipcub/test/hipcub/test_hipcub_block_radix_sort.cpp
  projects/hipcub/test/hipcub/test_hipcub_block_reduce.cpp
  projects/hipcub/test/hipcub/test_hipcub_block_run_length_decode.cpp
  projects/hipcub/test/hipcub/test_hipcub_block_scan.cpp
  projects/hipcub/test/hipcub/test_hipcub_block_shuffle.cpp
Labels: project: hipcub, organization: ROCm

#585 Update git hook install script to point to new pre-commit path
  shared/rocroller/.githooks/install
  shared/rocroller/.githooks/pre-commit
Labels: shared: rocroller, organization: ROCm

#673 [shared/mxdatagenerator] Use a saner way to select number of threads
  shared/mxdatagenerator/lib/include/DataGenerator.hpp
Labels: organization: ROCm, shared: mxdatagenerator

#696 Complete gfx1151 Tensile support
  shared/tensile/Tensile/Common.py
  shared/tensile/Tensile/Source/CMakeLists.txt
  shared/tensile/Tensile/Source/lib/include/Tensile/AMDGPU.hpp
  shared/tensile/Tensile/Source/lib/include/Tensile/PlaceholderLibrary.hpp
  shared/tensile/Tensile/Source/lib/include/Tensile/Serialization/Predicates.hpp
  shared/tensile/pytest.ini
Labels: shared: tensile, organization: ROCm

#645 [rocroller] Build system clean up
  shared/rocroller/.jenkins/precheckin.groovy
  shared/rocroller/CMakeLists.txt
  shared/rocroller/GPUArchitectureGenerator/CMakeLists.txt
  shared/rocroller/client/CMakeLists.txt
  shared/rocroller/test/CMakeLists.txt
  shared/rocroller/test/catch/CMakeLists.txt
  shared/rocroller/test/unit/ErrorTest.cpp
Labels: shared: rocroller, organization: ROCm

#689 Cherry-pick to release/rocm-rel-7.0 redo: [hipBLASLt] Docs: change GitHub links and install instructions to acc…
  projects/hipblaslt/README.md
  projects/hipblaslt/docs/index.rst
  projects/hipblaslt/docs/install/building-installing-hipblaslt.rst
  projects/hipblaslt/docs/sphinx/_toc.yml.in
Labels: documentation, ci:docs-only, project: hipblaslt, organization: ROCm

#638 Cherry-pick to release/rocm-rel-7.0: [rocrand] Docs: Update repository and path information for rocm-libra…
  projects/rocrand/README.md
  projects/rocrand/docs/conceptual/dynamic_ordering_configuration.rst
  projects/rocrand/docs/index.rst
  projects/rocrand/docs/install/installing.rst
  projects/rocrand/docs/sphinx/_toc.yml.in
Labels: documentation, ci:docs-only, project: rocrand, organization: ROCm

#642 Cherry-pick to release/rocm-rel-7.0: [hiprand] Docs: Update repository and path information for rocm-libra…
  projects/hiprand/README.md
  projects/hiprand/docs/index.rst
  projects/hiprand/docs/install/installation.rst
  projects/hiprand/docs/sphinx/_toc.yml.in
Labels: documentation, ci:docs-only, project: hiprand, organization: ROCm

#572 Fix stream-k small test for archs with less LDS
  shared/rocroller/lib/source/CodeGen/LoadStoreTileGenerator.cpp
  shared/rocroller/test/unit/GEMMTest.cpp
Labels: shared: rocroller, organization: ROCm

#541 [rocBLAS] Docs: Change GitHub links and install guides to account for repo change
  projects/rocblas/.github/CONTRIBUTING.rst
  projects/rocblas/docs/how-to/Contributors_Guide.rst
  projects/rocblas/docs/how-to/Programmers_Guide.rst
  projects/rocblas/docs/index.rst
  projects/rocblas/docs/install/Linux_Install_Guide.rst
  projects/rocblas/docs/install/Windows_Install_Guide.rst
  projects/rocblas/docs/sphinx/_toc.yml.in
Labels: documentation, ci:docs-only, project: rocblas, organization: ROCm

#526 [hipblaslt] supported swizzleA and LSU
  projects/hipblaslt/clients/benchmarks/client.cpp
  projects/hipblaslt/tensilelite/Tensile/Components/LSU.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/swizzleA.yaml
Labels: project: hipblaslt, organization: ROCm

#717 [rocBLAS] Docs: Correct Windows filename
  projects/rocblas/docs/install/Windows_Install_Guide.rst
Labels: documentation, ci:docs-only, project: rocblas, organization: ROCm

#709 [hipSPARSELt] Docs: Change GitHub links and install guides to account for repo change
  projects/hipsparselt/docs/index.rst
  projects/hipsparselt/docs/install/install-hipsparselt.rst
  projects/hipsparselt/docs/install/quick-start-install.rst
  projects/hipsparselt/docs/sphinx/_toc.yml.in
  projects/hipsparselt/docs/what-is-hipsparselt.rst
Labels: documentation, ci:docs-only, project: hipsparselt, organization: ROCm

#554 Add unit tests for AddDeallocate helpers.
  shared/rocroller/lib/include/rocRoller/KernelGraph/Transforms/AddDeallocate_detail.hpp
  shared/rocroller/lib/include/rocRoller/KernelGraph/Utils.hpp
  shared/rocroller/lib/source/KernelGraph/Transformations/AddDeallocate.cpp
  shared/rocroller/lib/source/KernelGraph/Utils.cpp
  shared/rocroller/test/catch/AddDeallocateTest.cpp
Labels: shared: rocroller, organization: ROCm

#699 Add rocBLAS yaml files for gfx1151
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Ailk_Bjlk_BBS_BH.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Ailk_Bjlk_BBS_BH_GB.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Ailk_Bjlk_HB.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Ailk_Bjlk_HB_GB.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Ailk_Bjlk_HHS_BH.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Ailk_Bjlk_HHS_BH_GB.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Ailk_Bjlk_I8II_BH.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Ailk_Bjlk_I8II_BH_GB.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Ailk_Bjlk_SB.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Ailk_Bljk_BBS_BH.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Ailk_Bljk_BBS_BH_GB.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Ailk_Bljk_HB.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Ailk_Bljk_HB_GB.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Ailk_Bljk_HHS_BH.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Ailk_Bljk_HHS_BH_GB.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Ailk_Bljk_I8II_BH.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Ailk_Bljk_I8II_BH_GB.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Ailk_Bljk_SB.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Alik_Bjlk_BBS_BH.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Alik_Bjlk_BBS_BH_GB.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Alik_Bjlk_HB.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Alik_Bjlk_HB_GB.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Alik_Bjlk_HHS_BH.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Alik_Bjlk_HHS_BH_GB.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Alik_Bjlk_I8II_BH.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Alik_Bjlk_I8II_BH_GB.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Alik_Bjlk_SB.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Alik_Bljk_BBS_BH.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Alik_Bljk_BBS_BH_GB.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Alik_Bljk_HB.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Alik_Bljk_HB_GB.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Alik_Bljk_HHS_BH.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Alik_Bljk_HHS_BH_GB.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Alik_Bljk_I8II_BH.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Alik_Bljk_I8II_BH_GB.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/strixhalo/strixhalo_Cijk_Alik_Bljk_SB.yaml
  projects/rocblas/tensile_tag.txt
Labels: project: rocblas, organization: ROCm

#596 Fix numVgprs issue when LDSTrInst is enabled
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Labels: project: hipblaslt

#718 [hipSPARSELt] upgrade tensielite version to v5.0.0
  projects/hipsparselt/CMakeLists.txt
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/tensile_host.cpp
  projects/hipsparselt/tensilelite_tag.txt
Labels: project: hipsparselt, organization: ROCm

#707 [shared/rocroller] Make perf job great again
  shared/rocroller/.jenkins/common.groovy
  shared/rocroller/.jenkins/performance.groovy
  shared/rocroller/scripts/lib/rrperf/compare.py
  shared/rocroller/scripts/lib/rrperf/rrsuites.py
Labels: shared: rocroller, organization: ROCm, ci:maintenance

#614 Modify LocalRead.py to deal with LDS > 64K
  projects/hipblaslt/tensilelite/Tensile/Components/LocalRead.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/lds_tr.yaml
Labels: project: hipblaslt

#741 CODEOWNERS: Removing individual accounts for migrated projects
  .github/CODEOWNERS
Labels: enhancement

#242 Increasing rocprim test coverage
  projects/rocprim/CHANGELOG.md
  projects/rocprim/benchmark/benchmark_device_merge_sort.cpp
  projects/rocprim/benchmark/benchmark_device_merge_sort.hpp
  projects/rocprim/benchmark/benchmark_utils.hpp
  projects/rocprim/common/utils_custom_type.hpp
  projects/rocprim/rocprim/include/rocprim/config.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_histogram.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_merge_sort.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_merge_sort_mergepath.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_histogram.hpp
  projects/rocprim/rocprim/include/rocprim/iterator/arg_index_iterator.hpp
  projects/rocprim/rocprim/include/rocprim/iterator/texture_cache_iterator.hpp
  projects/rocprim/rocprim/include/rocprim/thread/thread_reduce.hpp
  projects/rocprim/test/rocprim/CMakeLists.txt
  projects/rocprim/test/rocprim/test_arg_index_iterator.cpp
  projects/rocprim/test/rocprim/test_constant_iterator.cpp
  projects/rocprim/test/rocprim/test_counting_iterator.cpp
  projects/rocprim/test/rocprim/test_device_histogram.cpp
  projects/rocprim/test/rocprim/test_device_merge_sort.cpp
  projects/rocprim/test/rocprim/test_device_partition.cpp
  projects/rocprim/test/rocprim/test_device_scan.cpp
  projects/rocprim/test/rocprim/test_discard_iterator.cpp
  projects/rocprim/test/rocprim/test_predicate_iterator.cpp
  projects/rocprim/test/rocprim/test_rocprim_tuple.cpp
  projects/rocprim/test/rocprim/test_rocprim_types.cpp
  projects/rocprim/test/rocprim/test_texture_cache_iterator.cpp
  projects/rocprim/test/rocprim/test_thread_algos.cpp
  projects/rocprim/test/rocprim/test_transform_iterator.cpp
  projects/rocprim/test/rocprim/test_utils.hpp
  projects/rocprim/test/rocprim/test_utils_data_generation.hpp
  projects/rocprim/test/rocprim/test_utils_data_generation_with_rocrand.hpp
  projects/rocprim/test/rocprim/test_utils_get_random_data.hpp
  projects/rocprim/test/rocprim/test_warp_scan.hpp
  projects/rocprim/test/rocprim/test_zip_iterator.cpp
Labels: external contribution, project: rocprim

#730 [rocRoller] Allow non power of two tile sizes
  shared/rocroller/lib/source/CodeGen/Arithmetic/Multiply.cpp
  shared/rocroller/lib/source/CodeGen/Arithmetic/MultiplyHigh.cpp
  shared/rocroller/lib/source/ExpressionTransformations/FastDivision.cpp
  shared/rocroller/lib/source/KernelGraph/Utils.cpp
  shared/rocroller/test/unit/GEMMTest.cpp
  shared/rocroller/test/unit/KernelGraphTest/UpdateParameters.cpp
Labels: shared: rocroller, organization: ROCm

#760 Revert "[rocRoller] Allow non power of two tile sizes"
  shared/rocroller/lib/source/CodeGen/Arithmetic/Multiply.cpp
  shared/rocroller/lib/source/CodeGen/Arithmetic/MultiplyHigh.cpp
  shared/rocroller/lib/source/ExpressionTransformations/FastDivision.cpp
  shared/rocroller/lib/source/KernelGraph/Utils.cpp
  shared/rocroller/test/unit/GEMMTest.cpp
  shared/rocroller/test/unit/KernelGraphTest/UpdateParameters.cpp
Labels: shared: rocroller, organization: ROCm

#724 [hipblaslt] tensilelite: fix buffer inst with large offset
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Labels: project: hipblaslt, organization: ROCm

#666 [rocRAND] Add missing include for utility header (cherry-pick)
  projects/rocrand/library/include/rocrand/rocrand_common.h
Labels: project: rocrand, organization: ROCm

#667 [rocThrust] Add check for 128-bit integer support (cherry-pick)
  projects/rocthrust/benchmarks/bench/transform/basic.cu
Labels: project: rocthrust, organization: ROCm

#712 Cherry-pick to release/rocm-rel-7.0: [rocBLAS] Docs: Change GitHub links and install guides to account for…
  projects/rocblas/.github/CONTRIBUTING.rst
  projects/rocblas/docs/how-to/Contributors_Guide.rst
  projects/rocblas/docs/how-to/Programmers_Guide.rst
  projects/rocblas/docs/index.rst
  projects/rocblas/docs/install/Linux_Install_Guide.rst
  projects/rocblas/docs/install/Windows_Install_Guide.rst
  projects/rocblas/docs/sphinx/_toc.yml.in
Labels: documentation, ci:docs-only, project: rocblas, organization: ROCm

#721 Cherry-pick to release/rocm-rel-7.0: [hipSPARSELt] Docs: Change GitHub links and install guides to account…
  projects/hipsparselt/docs/index.rst
  projects/hipsparselt/docs/install/install-hipsparselt.rst
  projects/hipsparselt/docs/install/quick-start-install.rst
  projects/hipsparselt/docs/sphinx/_toc.yml.in
  projects/hipsparselt/docs/what-is-hipsparselt.rst
Labels: documentation, ci:docs-only, project: hipsparselt, organization: ROCm

#749 [rocsparse] Docs: Change GitHub links and install guides to account for mono-repo
  projects/rocsparse/README.md
  projects/rocsparse/docs/conceptual/rocsparse-design.rst
  projects/rocsparse/docs/how-to/using-rocsparse.rst
  projects/rocsparse/docs/index.rst
  projects/rocsparse/docs/install/Linux_Install_Guide.rst
  projects/rocsparse/docs/install/Windows_Install_Guide.rst
  projects/rocsparse/docs/sphinx/_toc.yml.in
Labels: documentation, ci:docs-only, project: rocsparse, organization: ROCm

#713 [rocsparse] add convertToInt
  projects/rocsparse/clients/benchmarks/rocsparse_arguments_config.cpp
  projects/rocsparse/clients/include/rocsparse_arguments.hpp
  projects/rocsparse/clients/include/rocsparse_common.yaml
  projects/rocsparse/clients/include/rocsparse_importer.hpp
  projects/rocsparse/clients/testings/testing_spmm_batched_coo.cpp
  projects/rocsparse/clients/testings/testing_spmm_batched_csc.cpp
  projects/rocsparse/clients/testings/testing_spmm_batched_csr.cpp
  projects/rocsparse/clients/tests/test_spmm_batched_coo.yaml
  projects/rocsparse/clients/tests/test_spmm_batched_csc.yaml
Labels: project: rocsparse, organization: ROCm

#651 Update MFMA Instructions for Origami
  projects/hipblaslt/tensilelite/Tensile/Source/lib/source/analytical/Hardware.cpp
Labels: project: hipblaslt

#679 Set -x to fail on test error in rocsparse Jenkins job
  projects/rocsparse/.jenkins/common.groovy
Labels: ci:asan, ci:codecoverage, project: rocsparse, organization: ROCm

#763 [hipSPARSELt] Added more protections when HIP_FP8_TYPE_OCP is not defined.
  projects/hipsparselt/clients/benchmarks/client.cpp
  projects/hipsparselt/clients/common/cblas_interface.cpp
  projects/hipsparselt/clients/gtest/compress_gtest.cpp
  projects/hipsparselt/clients/gtest/prune_gtest.cpp
  projects/hipsparselt/clients/gtest/spmm_gtest.cpp
  projects/hipsparselt/clients/include/hipsparselt_math.hpp
  projects/hipsparselt/clients/include/hipsparselt_random.hpp
  projects/hipsparselt/clients/include/spmm/testing_compress.hpp
  projects/hipsparselt/clients/include/type_dispatch.hpp
  projects/hipsparselt/clients/include/unit.hpp
  projects/hipsparselt/library/src/include/auxiliary.hpp
Labels: project: hipsparselt, organization: ROCm

#711 [rocPRIM] Temporary workaround for compiler issue on Navi3x (#701)
  projects/rocprim/rocprim/include/rocprim/block/block_load_func.hpp
Labels: project: rocprim, organization: ROCm

#723 Fix/handle leak (#531)
  projects/rocsparse/CHANGELOG.md
  projects/rocsparse/CMakeLists.txt
  projects/rocsparse/library/src/common/rocsparse_blas.cpp
Labels: project: rocsparse, organization: ROCm

#793 [rocRAND] Revert PR #446 (refactor(rocrand): replace hip vector accessor macro
  projects/rocrand/library/include/rocrand/rocrand_common.h
  projects/rocrand/library/include/rocrand/rocrand_philox4x32_10.h
  projects/rocrand/library/include/rocrand/rocrand_threefry2_impl.h
  projects/rocrand/library/include/rocrand/rocrand_threefry4_impl.h
Labels: project: rocrand

#761 TF32 performance refactor
  projects/hipblaslt/CHANGELOG.md
  projects/hipblaslt/clients/gtest/matmul_gtest.yaml
  projects/hipblaslt/clients/include/testing_matmul.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/GridBased/gfx950_Cijk_Ailk_Bjlk_S_MX_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/GridBased/gfx950_Cijk_Ailk_Bljk_S_MX_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/GridBased/gfx950_Cijk_Alik_Bjlk_S_MX_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/GridBased/gfx950_Cijk_Alik_Bljk_S_MX_B_UserArgs.yaml
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/Components/LocalRead.py
  projects/hipblaslt/tensilelite/Tensile/Components/LraTileAssignment.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/xfp32.yaml
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/common.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/instruction/common.cpp
Labels: project: hipblaslt, organization: ROCm

#797 [rocRoller] Fix perf job after breaking changes in yaml serialization
  shared/rocroller/client/include/client/BenchmarkSolution.hpp
  shared/rocroller/client/include/client/GEMMParameters_serialization.hpp
  shared/rocroller/client/src/codegen_stress_test.cpp
  shared/rocroller/client/src/gemm.cpp
  shared/rocroller/client/test_gemm_client.py
  shared/rocroller/scripts/lib/rrperf/problems.py
  shared/rocroller/scripts/lib/rrperf/rrsuites.py
Labels: shared: rocroller, organization: ROCm

#794 [rocsparse] Fix Windows compilation and linking failures
  projects/rocsparse/clients/benchmarks/CMakeLists.txt
  projects/rocsparse/clients/common/rocsparse.cpp
  projects/rocsparse/clients/include/rocsparse.hpp
  projects/rocsparse/clients/tests/CMakeLists.txt
  projects/rocsparse/library/include/rocsparse_bfloat16.h
Labels: project: rocsparse, organization: ROCm

#733 Refactor math instruction with data types
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller_host.cpp
  projects/hipblaslt/tensilelite/Tensile/Source/lib/include/Tensile/PredictionLibrary.hpp
  projects/hipblaslt/tensilelite/Tensile/Source/lib/include/Tensile/analytical/AnalyticalGemm.hpp
  projects/hipblaslt/tensilelite/Tensile/Source/lib/include/Tensile/analytical/Hardware.hpp
  projects/hipblaslt/tensilelite/Tensile/Source/lib/include/Tensile/analytical/Utils.hpp
  projects/hipblaslt/tensilelite/Tensile/Source/lib/source/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/Tensile/Source/lib/source/analytical/AnalyticalGemm.cpp
  projects/hipblaslt/tensilelite/Tensile/Source/lib/source/analytical/Hardware.cpp
  projects/hipblaslt/tensilelite/Tensile/Source/lib/source/analytical/Utils.cpp
  projects/hipblaslt/tensilelite/Tensile/Utilities/origami/README.md
  projects/hipblaslt/tensilelite/Tensile/Utilities/origami/origami_grid_test.py
  projects/hipblaslt/tensilelite/Tensile/Utilities/origami/origami_test.py
Labels: project: hipblaslt

#769 [rocsparse] add OutputRedirectListener
  projects/rocsparse/clients/tests/CMakeLists.txt
  projects/rocsparse/clients/tests/rocsparse_test_listeners.cpp
  projects/rocsparse/clients/tests/rocsparse_test_listeners.hpp
  projects/rocsparse/clients/tests/rocsparse_test_main.cpp
Labels: project: rocsparse, organization: ROCm

#795 [Ex CI] enable hipBLAS
  .azuredevops/hipblas.yml
  .github/scripts/azure_resolve_subtree_deps.py
Labels: organization: ROCm, External CI

#822 [hipSPARSELt] Fix typo of HIP_FP8_TYPE_OCP in clients
  projects/hipsparselt/clients/gtest/compress_gtest.cpp
  projects/hipsparselt/clients/gtest/spmm_gtest.cpp
Labels: project: hipsparselt, organization: ROCm

#803 [docs] Clarify gardening scope
  docs/gardening.md
Labels: ci:docs-only, NoCI

#817 [rocRoller] Allow more tile sizes
  shared/rocroller/lib/include/rocRoller/KernelGraph/Visitors.hpp
  shared/rocroller/lib/include/rocRoller/KernelOptions_detail.hpp
  shared/rocroller/lib/source/CodeGen/Arithmetic/Multiply.cpp
  shared/rocroller/lib/source/KernelGraph/Utils.cpp
  shared/rocroller/test/unit/GEMMTest.cpp
Labels: shared: rocroller, organization: ROCm

#694 Increase code coverage 57% -> 71.9% (more than 1500 lines covered)
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/clients/gtest/CMakeLists.txt
  projects/hipblaslt/clients/gtest/auxiliary_gtest.cpp
  projects/hipblaslt/clients/gtest/auxiliary_gtest.yaml
  projects/hipblaslt/clients/include/testing_auxiliary.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/logging.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/rocblaslt/UserDrivenTuningParser.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/rocblaslt/debug.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/rocblaslt/definitions.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/rocblaslt/handle.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/rocblaslt/logging.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/rocblaslt/rocblaslt_mat_utils.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/rocblaslt/rocroller_host.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/rocblaslt/status.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/rocblaslt/tensile_host.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/rocblaslt/tuple_helper.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/rocblaslt/utility.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/rocblaslt_mat_utils.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/utility.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
  projects/hipblaslt/tensilelite/Tensile/Source/lib/include/Tensile/TensorDescriptor.hpp
Labels: ci:codecoverage, project: hipblaslt, organization: ROCm

#847 [rocsparse] Move very long running pre_checkin tests to stress test category
  projects/rocsparse/clients/tests/test_bsric0.yaml
  projects/rocsparse/clients/tests/test_csric0.yaml
  projects/rocsparse/clients/tests/test_csrilu0.yaml
  projects/rocsparse/clients/tests/test_csrilusv.yaml
Labels: project: rocsparse, organization: ROCm

#830 [hipBLAS] Fix hipBLAS SO version from bad monorepo merge
  projects/hipblas/library/CMakeLists.txt
Labels: project: hipblas, organization: ROCm

#856 [hipBLASLt] Provide more tile sizes to Origami for MX datatypes
  projects/hipblaslt/clients/gtest/matmul_gtest.yaml
  projects/hipblaslt/library/CMakeLists.txt
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/rocroller_host_internal.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller_host.cpp
Labels: project: hipblaslt, organization: ROCm

#848 Heuristic Updates to Origami model
  projects/hipblaslt/tensilelite/Tensile/Source/lib/source/analytical/AnalyticalGemm.cpp
Labels: project: hipblaslt, organization: ROCm

#861 Fix Origami data type for TF32 on gfx950
  projects/hipblaslt/tensilelite/Tensile/Source/lib/source/analytical/Hardware.cpp
Labels: project: hipblaslt, organization: ROCm

#917 [rocsparse] Uncomment spmv_csr tests that were mistakenly disabled
  projects/rocsparse/clients/tests/test_spmv_csr.yaml
Labels: project: rocsparse, organization: ROCm

#832 [hipBLAS] Add Clang guards around usage of openmp config (#1050)
  projects/hipblas/clients/CMakeLists.txt
Labels: project: hipblas, organization: ROCm

#943 [rocsparse] Add Disclaimers regarding hipSPARSE
  projects/rocsparse/README.md
  projects/rocsparse/docs/index.rst
Labels: project: rocsparse, organization: ROCm

#930 [MIOpen] miopen-ci: Force checkout for every script call, and disable default checkout
  projects/miopen/Jenkinsfile
Labels: project: miopen, organization: ROCm

#956 [Ex CI] remove hardcoded PR number in Azure dispatcher
  .github/workflows/azure-ci-dispatcher.yml
Labels: External CI

#972 External CI: superbuild yaml
  .azuredevops/superbuild.yml
Labels: organization: ROCm, External CI

#846 [rocRoller] Add Timers to profile graph transformations
  shared/rocroller/lib/source/CodeGen/LowerFromKernelGraph.cpp
  shared/rocroller/lib/source/KernelGraph/GlobalConstraints.cpp
  shared/rocroller/lib/source/KernelGraph/KernelGraph.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/AddComputeIndex.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/AddConvert.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/AddDeallocate.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/AddDirect2LDS.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/AddF6LDSPadding.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/AddLDS.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/AddPrefetch.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/AddTransposeLoadCT.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/AliasDataFlowTags.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/CleanArguments.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/CleanLoops.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/ConstantPropagation.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/FuseExpressions.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/FuseLoops.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/InlineIncrements.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/InlineInits.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/KernelGraph_loop.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/LoadPacked.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/LoopOverTileNumbers.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/LowerLinear.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/LowerTensorContraction.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/LowerTile.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/NopExtraScopes.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/OrderEpilogueBlocks.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/OrderMemory.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/OrderMultiplyNodes.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/PrefetchScale.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/RemoveDuplicates.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/Simplify.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/SwizzleScale.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/UnrollLoops.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/UpdateParameters.cpp
Labels: shared: rocroller, organization: ROCm

#942 [Ex CI] enable hipSOLVER
  .azuredevops/hipsolver.yml
  .github/scripts/azure_resolve_subtree_deps.py
Labels: organization: ROCm, External CI
