Repository ROCm/rocm-libraries, pull requests merged in 2025-10, with the labels that each got.

#1907 Add reference to supported data types section
  projects/rocfft/docs/reference/api.rst
Labels: documentation, ci:docs-only, project: rocfft, organization: ROCm

#1769 Fix rocThrust 3.0.0 base NVCC job failures
  projects/rocthrust/CMakeLists.txt
  projects/rocthrust/cmake/DownloadProject.CMakeLists.cmake.in
  projects/rocthrust/extra/CMakeLists.txt
  projects/rocthrust/testing/cmake/check_namespace.cmake
  projects/rocthrust/thrust/detail/alignment.h
  projects/rocthrust/thrust/detail/attributes.h
  projects/rocthrust/thrust/detail/config/compiler.h
  projects/rocthrust/thrust/detail/config/config.h
  projects/rocthrust/thrust/detail/config/cpp_compatibility.h
  projects/rocthrust/thrust/detail/config/libcxx.h
  projects/rocthrust/thrust/detail/config/memory_resource.h
  projects/rocthrust/thrust/detail/config/preprocessor.h
  projects/rocthrust/thrust/detail/functional/actor.h
  projects/rocthrust/thrust/detail/functional/address_stability.h
  projects/rocthrust/thrust/detail/preprocessor.h
  projects/rocthrust/thrust/detail/type_traits.h
  projects/rocthrust/thrust/detail/vector_base.h
  projects/rocthrust/thrust/detail/vector_base.inl
  projects/rocthrust/thrust/functional.h
  projects/rocthrust/thrust/iterator/counting_iterator.h
  projects/rocthrust/thrust/iterator/detail/tuple_of_iterator_references.h
  projects/rocthrust/thrust/iterator/iterator_adaptor.h
  projects/rocthrust/thrust/iterator/permutation_iterator.h
  projects/rocthrust/thrust/iterator/zip_iterator.h
  projects/rocthrust/thrust/version.h
Labels: external contribution, project: rocthrust

#1533 rocFFT update for fftw cmake search and build
  projects/hipfft/clients/tests/CMakeLists.txt
  projects/rocfft/clients/tests/CMakeLists.txt
Labels: documentation, project: hipfft, project: rocfft, organization: ROCm

#1918 [hipDNN] Make pointwise attributes public
  projects/hipdnn/frontend/include/hipdnn_frontend/attributes/PointwiseAttributes.hpp
Labels: project: hipdnn

#1720 [rocThrust] fix: HIP compiler rejects THRUST_NODISCARD after THRUST_DEPRECATED
  projects/rocthrust/thrust/async/copy.h
  projects/rocthrust/thrust/async/for_each.h
  projects/rocthrust/thrust/async/reduce.h
  projects/rocthrust/thrust/async/sort.h
  projects/rocthrust/thrust/async/transform.h
  projects/rocthrust/thrust/detail/config/cpp_dialect.h
  projects/rocthrust/thrust/detail/config/deprecated.h
Labels: external contribution, project: rocthrust

#1426 [MIOpen] Implement a couple of improvements for bwd and wrw CK kernel selection
  projects/miopen/CHANGELOG.md
  projects/miopen/src/include/miopen/conv/solvers.hpp
  projects/miopen/src/include/miopen/generic_search.hpp
  projects/miopen/src/include/miopen/solver/implicitgemm_ck_util.hpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_3d_grouped_wrw_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_grouped_bwd_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_grouped_wrw_xdlops.cpp
Labels: project: miopen, organization: ROCm

#1008 Add other Origami libs
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_F8H_HF8S_BH_BiasSH_HAS_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_F8H_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_F8H_HSS_BH_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_HF8_HF8S_BH_BiasSH_HAS_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_HF8_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_HF8_HSS_BH_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_HH_B8F8HS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_HH_F8B8HS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_HH_F8HS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bljk_F8H_HF8S_BH_BiasSH_HAS_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bljk_F8H_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bljk_F8H_HSS_BH_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bljk_HF8_HF8S_BH_BiasSH_HAS_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bljk_HF8_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bljk_HF8_HSS_BH_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bljk_HH_B8F8HS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bljk_HH_F8B8HS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bljk_HH_F8HS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bjlk_F8H_HF8S_BH_BiasSH_HAS_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bjlk_F8H_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bjlk_F8H_HSS_BH_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bjlk_HF8_HF8S_BH_BiasSH_HAS_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bjlk_HF8_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bjlk_HF8_HSS_BH_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bjlk_HH_B8F8HS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bjlk_HH_F8B8HS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bjlk_HH_F8HS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_F8H_HF8S_BH_BiasSH_HAS_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_F8H_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_F8H_HSS_BH_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_HF8_HF8S_BH_BiasSH_HAS_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_HF8_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_HF8_HSS_BH_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_HH_B8F8HS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_HH_F8B8HS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_HH_F8HS_BH_BiasSH_HAS_SAV_UserArgs.yaml
Labels: project: hipblaslt

#1835 Users/cenxuan/thrust test scan by key inclusive cu occasionally fails
  projects/rocprim/CHANGELOG.md
  projects/rocprim/rocprim/include/rocprim/device/detail/device_scan_by_key.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_scan_common.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_scan_by_key.hpp
  projects/rocprim/test/rocprim/test_device_scan_by_key.cpp
  projects/rocthrust/CHANGELOG.md
  projects/rocthrust/test/test_scan_by_key.inclusive.cpp
Labels: external contribution, project: rocprim, project: rocthrust

#1931 [hipDNN] [ALMIOPEN-289] - Added conv fwd and bwd to cpu graph registry
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/CpuFpReferenceConvolution.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/FlatbufferDatatypeMapping.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/cpu_graph_executor/ConvolutionBwdPlan.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/cpu_graph_executor/ConvolutionBwdSignatureKey.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/cpu_graph_executor/ConvolutionFwdPlan.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/cpu_graph_executor/ConvolutionFwdSignatureKey.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/cpu_graph_executor/CpuReferenceGraphExecutor.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/cpu_graph_executor/PlanBuilderRegistry.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/cpu_graph_executor/PlanRegistrySignatureKey.hpp
  projects/hipdnn/sdk/tests/CMakeLists.txt
  projects/hipdnn/sdk/tests/test_utilities/cpu_graph_executor/ConvolutionGraphUtils.hpp
  projects/hipdnn/sdk/tests/test_utilities/cpu_graph_executor/ConvolutionTensorBundles.hpp
  projects/hipdnn/sdk/tests/test_utilities/cpu_graph_executor/TestConvolutionBwdPlan.cpp
  projects/hipdnn/sdk/tests/test_utilities/cpu_graph_executor/TestConvolutionBwdSignatureKey.cpp
  projects/hipdnn/sdk/tests/test_utilities/cpu_graph_executor/TestConvolutionFwdPlan.cpp
  projects/hipdnn/sdk/tests/test_utilities/cpu_graph_executor/TestConvolutionFwdSignatureKey.cpp
  projects/hipdnn/sdk/tests/test_utilities/cpu_graph_executor/TestCpuReferenceGraphExecutor.cpp
Labels: organization: ROCm, project: hipdnn

#1921 [hipdnn] Attribute ordering
  projects/hipdnn/sdk/include/hipdnn_sdk/plugin/EnginePluginApi.h
  projects/hipdnn/sdk/include/hipdnn_sdk/plugin/PluginApi.h
Labels: organization: ROCm, project: hipdnn

#1938 Use `find_package(Python3)` in hipblas
  projects/hipblas/CMakeLists.txt
  projects/hipblas/clients/gtest/CMakeLists.txt
  projects/hipblas/toolchain-linux.cmake
  projects/hipblas/toolchain-windows.cmake
Labels: project: hipblas, organization: ROCm

#1940 [rocsparse] Fix std::fma casting in host routines to properly deduce types
  projects/rocsparse/clients/common/rocsparse_host.cpp
Labels: project: rocsparse, organization: ROCm

#1937 [hipDNN] Pointwise attributes updates
  projects/hipdnn/frontend/include/hipdnn_frontend/attributes/PointwiseAttributes.hpp
  projects/hipdnn/frontend/tests/TestPointwiseAttributes.cpp
  projects/hipdnn/sdk/include/hipdnn_sdk/data_objects/pointwise_attributes_generated.h
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/FlatbufferGraphTestUtils.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/utilities/json/PointwiseAttributes.hpp
  projects/hipdnn/sdk/schemas/pointwise_attributes.fbs
Labels: organization: ROCm, project: hipdnn

#1863 Tuning F8BS_TN on gfx950
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SABV_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
Labels: project: hipblaslt, organization: ROCm

#1901 [HipDNN] Python framework for generating reference data from pytorch
  projects/hipdnn/reference_data_scripts/generate_batchnorm_reference.py
  projects/hipdnn/reference_data_scripts/utilities/batchnorm_inference.py
  projects/hipdnn/reference_data_scripts/utilities/common.py
  projects/hipdnn/reference_data_scripts/utilities/graph.py
  projects/hipdnn/reference_data_scripts/utilities/tensor.py
Labels: organization: ROCm, project: hipdnn

#1952 [rocfft] Avoid memory leaks when RTC exceptions are thrown.
  projects/rocfft/library/src/rtc_compile.cpp
Labels: project: rocfft, organization: ROCm

#1088 [hipCUB] Fix memory leaks in unit tests
  projects/hipcub/test/hipcub/test_hipcub_block_radix_sort.cpp
  projects/hipcub/test/hipcub/test_hipcub_block_scan.cpp
  projects/hipcub/test/hipcub/test_hipcub_caching_device_allocator.cpp
  projects/hipcub/test/hipcub/test_hipcub_device_copy.cpp
  projects/hipcub/test/hipcub/test_hipcub_device_for.cpp
  projects/hipcub/test/hipcub/test_hipcub_device_memcpy.cpp
  projects/hipcub/test/hipcub/test_hipcub_device_spmv.cpp
  projects/hipcub/test/hipcub/test_hipcub_grid.cpp
  projects/hipcub/test/hipcub/test_hipcub_iterators.cpp
  projects/hipcub/test/hipcub/test_hipcub_thread_operators.cpp
  projects/hipcub/test/hipcub/test_hipcub_util_ptx.cpp
  projects/hipcub/test/hipcub/test_hipcub_vector.cpp
Labels: project: hipcub, organization: ROCm

#1939 [hipDNN] Fix cmake issues found during adding hipDNN to TheRock
  projects/hipdnn/CMakeLists.txt
  projects/hipdnn/backend/tests/CMakeLists.txt
  projects/hipdnn/cmake/Tests.cmake
  projects/hipdnn/frontend/CMakeLists.txt
  projects/hipdnn/plugins/miopen_legacy_plugin/tests/CMakeLists.txt
  projects/hipdnn/sdk/CMakeLists.txt
  projects/hipdnn/sdk/cmake/hipdnn_sdkConfig_imported.cmake.in
  projects/hipdnn/sdk/cmake/hipdnn_sdkConfig_local.cmake.in
  projects/hipdnn/sdk/tests/CMakeLists.txt
  projects/hipdnn/tests/test_plugins/CMakeLists.txt
Labels: organization: ROCm, project: hipdnn

#1962 [hipDNN] Swap to RTLD_NOW plugin loading
  projects/hipdnn/backend/src/PlatformUtils.linux.cpp
Labels: organization: ROCm, project: hipdnn

#1710 [rocroller] Update README
  shared/rocroller/README.md
Labels: NoCI, project: hipblaslt, shared: rocroller, organization: ROCm

#1933 Fix StreamK ExtraIters Bug
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Labels: project: hipblaslt, organization: ROCm

#1971 [rocsolver] Prefer using fmt-header-only
  projects/rocsolver/clients/CMakeLists.txt
Labels: project: rocsolver, organization: ROCm

#1917 Add environment variable to use prediction libraries
  projects/hipblaslt/tensilelite/include/Tensile/Debug.hpp
  projects/hipblaslt/tensilelite/include/Tensile/ExactLogicLibrary.hpp
  projects/hipblaslt/tensilelite/src/Debug.cpp
Labels: project: hipblaslt, organization: ROCm

#1949 [hipblaslt] Add environment variable HIPBLASLT_OVERRIDE_COMPUTE_TYPE_XF32 (TF32)
  projects/hipblaslt/docs/reference/env-variables.rst
  projects/hipblaslt/library/src/amd_detail/hipblaslt.cpp
Labels: documentation, project: hipblaslt, organization: ROCm

#1970 Update CK commit hash for MI Open
  projects/miopen/requirements.txt
Labels: project: miopen, organization: ROCm

#1973 [rocRoller] Exclude deps from all install target
  projects/hipblaslt/CMakeLists.txt
  shared/rocroller/CMakeLists.txt
Labels: project: hipblaslt, shared: rocroller, organization: ROCm

#1958 [hipDNN] Add documentation for conv fwd
  projects/hipdnn/docs/OperationSupport.md
  projects/hipdnn/docs/Roadmap.md
  projects/hipdnn/samples/README.md
Labels: documentation, organization: ROCm, project: hipdnn

#1960 Update TheRock commit in workflow files
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-test-component.yml
Labels: organization: ROCm, github actions, project: none

#1941 [origami] Improvements to Origami Parameter Selection
  shared/origami/README.md
  shared/origami/include/origami/gemm.hpp
  shared/origami/include/origami/streamk.hpp
  shared/origami/python/.gitignore
  shared/origami/python/origami_module.cpp
  shared/origami/src/origami/gemm.cpp
  shared/origami/src/origami/streamk.cpp
  shared/origami/src/origami/utils.cpp
  shared/origami/tests/include/testing_origami.hpp
  shared/origami/tests/origami_gtest.cpp
  shared/origami/tests/origami_gtest.yaml
Labels: project: hipblaslt, organization: ROCm, shared: origami

#1955 [hipblaslt] Use new TheRock integration for configuring ASAN python launcher.
  projects/hipblaslt/CMakeLists.txt
Labels: project: hipblaslt, organization: ROCm

#1990 [hipblaslt] Add TLDS check for some CMS kernels
  projects/hipblaslt/tensilelite/Tensile/Components/CustomSchedule.py
Labels: gfx950, project: hipblaslt, organization: ROCm

#1965 [HipDNN]: Sort the graph topologically during validate to ensure graph is valid
  projects/hipdnn/backend/include/hipdnn_backend.h
  projects/hipdnn/docs/PluginDevelopment.md
  projects/hipdnn/frontend/include/hipdnn_frontend/Graph.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/Node.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/TopologicalSortingUtils.hpp
  projects/hipdnn/frontend/tests/CMakeLists.txt
  projects/hipdnn/frontend/tests/TestGraph.cpp
  projects/hipdnn/frontend/tests/TestTopologicalSortingUtils.cpp
  projects/hipdnn/sdk/include/hipdnn_sdk/plugin/flatbuffer_utilities/GraphWrapper.hpp
  projects/hipdnn/sdk/schemas/graph.fbs
Labels: documentation, organization: ROCm, project: hipdnn

#1956 [rocRoller] Skip running `MemoryViolation` and `STrap` death tests on GPU for gfx1201
  shared/rocroller/test/unit/AssertTest.cpp
Labels: project: hipblaslt, shared: rocroller, organization: ROCm

#1957 [rocroller][hipblaslt] Use add_subdirectory for mxdatagenerator in rocroller
  projects/hipblaslt/CMakeLists.txt
  shared/mxdatagenerator/CMakeLists.txt
  shared/rocroller/.jenkins/code-analysis.groovy
  shared/rocroller/.jenkins/code-coverage.groovy
  shared/rocroller/.jenkins/common.groovy
  shared/rocroller/.jenkins/performance.groovy
  shared/rocroller/.jenkins/precheckin.groovy
  shared/rocroller/.jenkins/staticanalysis.groovy
  shared/rocroller/CMakeLists.txt
  shared/rocroller/README.md
  shared/rocroller/codeql/create_database
  shared/rocroller/docker/dockerfile-ubuntu-clang
  shared/rocroller/docker/dockerfile-ubuntu-gcc
  shared/rocroller/scripts/lib/rrperf/autoperf.py
  shared/rocroller/scripts/lib/rrperf/git.py
  shared/rocroller/test/CMakeLists.txt
Labels: project: hipblaslt, shared: rocroller, organization: ROCm, shared: mxdatagenerator

#2000 [HipDNN]: During graph validation check we have no duplicate tensorIDs
  projects/hipdnn/frontend/include/hipdnn_frontend/Graph.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/BatchnormBackwardNode.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/BatchnormNode.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/Node.hpp
  projects/hipdnn/frontend/tests/TestBatchnormBackwardNode.cpp
  projects/hipdnn/frontend/tests/TestBatchnormNode.cpp
  projects/hipdnn/frontend/tests/TestConvolutionDgradNode.cpp
  projects/hipdnn/frontend/tests/TestConvolutionNode.cpp
  projects/hipdnn/frontend/tests/TestGraph.cpp
Labels: organization: ROCm, project: hipdnn

#2002 [origami] Fix Windows build
  shared/origami/src/origami/gemm.cpp
Labels: project: hipblaslt, organization: ROCm, shared: origami
