Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

feat: Add VOP3 modifiers for enhanced instruction handling
  shared/stinkytofu/include/ir/asm/StinkyAsmIR.hpp
  shared/stinkytofu/include/ir/asm/StinkyModifiers.hpp
  shared/stinkytofu/src/ir/asm/StinkyAsmEmitter.cpp
  shared/stinkytofu/src/ir/asm/StinkyAsmPrinter.cpp
  shared/stinkytofu/tests/unit/StinkyAsmEmitterTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat: Add DelayAluInsertionPass for RDNA4 ALU dependency handling
  shared/stinkytofu/CMakeLists.txt
  shared/stinkytofu/include/ir/asm/DelayAluInsertionPass.hpp
  shared/stinkytofu/src/ir/asm/DelayAluInsertionPass.cpp
  shared/stinkytofu/tests/CMakeLists.txt
  shared/stinkytofu/tests/unit/DelayAluInsertionPassTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

High-level IR pattern parsing and generation
  shared/stinkytofu/CMakeLists.txt
  shared/stinkytofu/include/ir/IRModule.hpp
  shared/stinkytofu/include/ir/IROpcode.hpp
  shared/stinkytofu/include/ir/StinkyInstructions.hpp
  shared/stinkytofu/include/ir/passes/HighLevelPeepholePass.hpp
  shared/stinkytofu/src/ir/IRModule.cpp
  shared/stinkytofu/src/ir/asm/PatternParser.cpp
  shared/stinkytofu/src/ir/passes/HighLevelPeepholePass.cpp
  shared/stinkytofu/tests/CMakeLists.txt
  shared/stinkytofu/tests/unit/asm/ConfigurableWaitCntPassTest.cpp
  shared/stinkytofu/tests/unit/asm/DeadCodeEliminationPassTest.cpp
  shared/stinkytofu/tests/unit/asm/DelayAluInsertionPassTest.cpp
  shared/stinkytofu/tests/unit/asm/DuplicateEliminationPassTest.cpp
  shared/stinkytofu/tests/unit/asm/OptimizationPipelineTest.cpp
  shared/stinkytofu/tests/unit/asm/PeepholeOptimizationPassTest.cpp
  shared/stinkytofu/tests/unit/asm/StinkyAsmEmitterTest.cpp
  shared/stinkytofu/tests/unit/asm/VirtualRegisterTest.cpp
  shared/stinkytofu/tests/unit/ir/CommutativeTest.cpp
  shared/stinkytofu/tests/unit/ir/HexLiteralTest.cpp
  shared/stinkytofu/tests/unit/ir/HighLevelPeepholePassTest.cpp
  shared/stinkytofu/tests/unit/ir/IRBuilderTest.cpp
  shared/stinkytofu/tests/unit/ir/IRModuleTest.cpp
  shared/stinkytofu/tests/unit/ir/IROpcodeTest.cpp
  shared/stinkytofu/tests/unit/ir/IRToAsmPipelineTest.cpp
  shared/stinkytofu/tests/unit/ir/IntrinsicFlowTest.cpp
  shared/stinkytofu/tests/unit/ir/PassManagerTest.cpp
  shared/stinkytofu/tools/intrinsic-compiler/intrinsic-compiler.cpp
  shared/stinkytofu/tools/tablegen/CMakeLists.txt
  shared/stinkytofu/tools/tablegen/GenHighLevelIR.cpp
  shared/stinkytofu/tools/tablegen/GenPatterns.cpp
  shared/stinkytofu/tools/tablegen/GenPatterns.h
  shared/stinkytofu/tools/tablegen/IRInstructionDefs.inc
  shared/stinkytofu/tools/tablegen/tablegen.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat: Move stream operators for instruction modifiers to StinkyAsmPrinter
  shared/stinkytofu/include/ir/asm/StinkyAsmPrinter.hpp
  shared/stinkytofu/include/ir/asm/StinkyModifiers.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat: Enhance ALU instruction handling with new modifiers and classification functions
  shared/stinkytofu/hardware/include/gfx/CommonInstsDSL.hpp
  shared/stinkytofu/hardware/src/gfx/Gfx1250.cpp
  shared/stinkytofu/include/ir/asm/StinkyAsmIR.hpp
  shared/stinkytofu/include/ir/asm/StinkyModifiers.hpp
  shared/stinkytofu/include/isa/gfx/Flags.def
  shared/stinkytofu/src/ir/asm/DelayAluInsertionPass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor: Make destRegs/srcRegs private with LLVM-style getters
  shared/stinkytofu/include/ir/asm/DefUseChain.hpp
  shared/stinkytofu/include/ir/asm/StinkyAsmIR.hpp
  shared/stinkytofu/include/ir/asm/dag/CDNA3.hpp
  shared/stinkytofu/include/ir/asm/dag/CDNA5.hpp
  shared/stinkytofu/src/StinkyBuilder.cpp
  shared/stinkytofu/src/ir/asm/DeadCodeEliminationPass.cpp
  shared/stinkytofu/src/ir/asm/DelayAluInsertionPass.cpp
  shared/stinkytofu/src/ir/asm/DuplicateEliminationPass.cpp
  shared/stinkytofu/src/ir/asm/PeepholeOptimizationPass.cpp
  shared/stinkytofu/src/ir/asm/ScheduleFirstLRsPass.cpp
  shared/stinkytofu/src/ir/asm/ScheduleLastLRsPass.cpp
  shared/stinkytofu/src/ir/asm/StinkyAsmEmitter.cpp
  shared/stinkytofu/src/ir/asm/StinkyAsmPrinter.cpp
  shared/stinkytofu/src/ir/asm/StinkyConfigurableWaitCntPass.cpp
  shared/stinkytofu/src/ir/asm/StinkyDAGSchedulerPass.cpp
  shared/stinkytofu/src/ir/rocisa/ToStinkyAsmPass.cpp
  shared/stinkytofu/src/stinkytofu.cpp
  shared/stinkytofu/tests/unit/ConfigurableWaitCntPassTest.cpp
  shared/stinkytofu/tests/unit/PeepholeOptimizationPassTest.cpp
  shared/stinkytofu/tests/unit/StinkyAsmEmitterTest.cpp
  shared/stinkytofu/tools/tablegen/GenPatterns.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Add StinkyTofu Python module with MLIR-style bindings
  shared/stinkytofu/python_module/src/python_bindings.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

chore: Update .gitignore to remove stinkytofu-opt entry
  shared/stinkytofu/.gitignore
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor: Unify def-use chain analysis
  shared/stinkytofu/include/ir/asm/DefUseChain.hpp
  shared/stinkytofu/include/ir/asm/dag/ReadyQueue.hpp
  shared/stinkytofu/include/stinkypasses.hpp
  shared/stinkytofu/src/ir/asm/PeepholeOptimizationPass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat: Enhance StinkyInstruction binding with new properties and methods
  shared/stinkytofu/python_module/src/python_bindings.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat: Align StinkyTofu Python API with rocisa for migration compatibility
  shared/stinkytofu/python_module/src/python_bindings.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor: Add automatic use-def chain maintenance (LLVM-style)
  shared/stinkytofu/include/ir/asm/StinkyAsmIR.hpp
  shared/stinkytofu/src/ir/asm/DelayAluInsertionPass.cpp
  shared/stinkytofu/src/ir/asm/OptimizationPipeline.cpp
  shared/stinkytofu/src/ir/asm/PeepholeOptimizationPass.cpp
  shared/stinkytofu/src/ir/asm/StinkyAsmIR.cpp
  shared/stinkytofu/src/ir/asm/StinkyDAGSchedulerPass.cpp
  shared/stinkytofu/src/stinkytofu.cpp
  shared/stinkytofu/tests/unit/DelayAluInsertionPassTest.cpp
  shared/stinkytofu/tests/unit/PeepholeOptimizationPassTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(stinkytofu): Remove deprecated structs and modernize OptimizationPipeline
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/pass/pass.cpp
  shared/stinkytofu/include/ir/Operation.hpp
  shared/stinkytofu/include/ir/StinkyIR.hpp
  shared/stinkytofu/include/ir/asm/OptimizationPipeline.hpp
  shared/stinkytofu/include/stinkytofu.hpp
  shared/stinkytofu/src/ir/Operation.cpp
  shared/stinkytofu/src/ir/StinkyIR.cpp
  shared/stinkytofu/src/ir/asm/OptimizationPipeline.cpp
  shared/stinkytofu/src/ir/operations/Activation.cpp
  shared/stinkytofu/src/stinkytofu.cpp
  shared/stinkytofu/tests/unit/ConfigurableWaitCntPassTest.cpp
  shared/stinkytofu/tests/unit/DeadCodeEliminationPassTest.cpp
  shared/stinkytofu/tests/unit/DuplicateEliminationPassTest.cpp
  shared/stinkytofu/tests/unit/OptimizationPipelineTest.cpp
  shared/stinkytofu/tests/unit/PeepholeOptimizationPassTest.cpp
  shared/stinkytofu/tests/unit/StinkyAsmEmitterTest.cpp
  shared/stinkytofu/tools/stinkytofu-opt/stinkytofu-opt.cpp
  shared/stinkytofu/tools/stinkytofu-opt/stinkytofu-opt.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(gfx): Remove YAML-based hardware configuration and related latency helper
  shared/stinkytofu/hardware/CMakeLists.txt
  shared/stinkytofu/hardware/data/Gfx1250.yaml
  shared/stinkytofu/hardware/data/Gfx942.yaml
  shared/stinkytofu/hardware/data/Gfx950.yaml
  shared/stinkytofu/hardware/include/gfx/CommonInstsDSL.hpp
  shared/stinkytofu/hardware/include/gfx/GpuArchManager.hpp
  shared/stinkytofu/hardware/include/gfx/InstDefDSL.hpp
  shared/stinkytofu/hardware/include/gfx/LatencyHelper.hpp
  shared/stinkytofu/hardware/src/gfx/GpuArchManager.cpp
  shared/stinkytofu/hardware/src/gfx/InstDefDSL.cpp
  shared/stinkytofu/hardware/src/gfx/LatencyHelper.cpp
  shared/stinkytofu/tools/tablegen/CMakeLists.txt
  shared/stinkytofu/tools/tablegen/tablegen.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor: Move LogicalInstructionDefs.inc to src/ir/logical/
  shared/stinkytofu/src/ir/logical/LogicalInstructionDefs.inc
  shared/stinkytofu/tools/tablegen/GenLogicalIR.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update .gitignore to refine generated file exclusions
  shared/stinkytofu/.gitignore
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] add from_rocisa in ModuleAdapter
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/StinkyTofu/ItemAdapters.py
  projects/hipblaslt/tensilelite/Tensile/StinkyTofu/MacroAdapter.py
  projects/hipblaslt/tensilelite/Tensile/StinkyTofu/ModuleAdapter.py
  projects/hipblaslt/tensilelite/Tensile/StinkyTofu/Rocisa_to_StinkyTofu_Migration_Strategy.md
  projects/hipblaslt/tensilelite/Tensile/StinkyTofu/Utilities.py
  projects/hipblaslt/tensilelite/Tensile/StinkyTofu/__init__.py
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/main.cpp
  shared/stinkytofu/CMakeLists.txt
  shared/stinkytofu/include/ir/asm/RegisterType.def
  shared/stinkytofu/include/ir/asm/StinkyAsmModule.hpp
  shared/stinkytofu/include/ir/logical/LogicalInstructionFactory.hpp
  shared/stinkytofu/python_module/src/python_bindings.cpp
  shared/stinkytofu/src/ir/asm/StinkyAsmModule.cpp
  shared/stinkytofu/src/ir/asm/StinkyAsmPrinter.cpp
  shared/stinkytofu/src/ir/rocisa/ToStinkyTofuUtils.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(gfx): Add architecture-specific instruction costs for Gfx942, Gfx950, and Gfx1250
  shared/stinkytofu/hardware/src/gfx/Gfx1250.cpp
  shared/stinkytofu/hardware/src/gfx/Gfx942.cpp
  shared/stinkytofu/hardware/src/gfx/Gfx950.cpp
  shared/stinkytofu/hardware/src/gfx/GpuArchManager.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Revise to more abstract IRBase in StinkyAsmModule
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/branch.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/pass.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/pass/pass.cpp
  shared/stinkytofu/hardware/src/gfx/Gfx1250.cpp
  shared/stinkytofu/hardware/src/gfx/Gfx942.cpp
  shared/stinkytofu/hardware/src/gfx/Gfx950.cpp
  shared/stinkytofu/include/ir/asm/StinkyAsmDirectives.hpp
  shared/stinkytofu/include/ir/asm/StinkyAsmIR.hpp
  shared/stinkytofu/include/ir/asm/StinkyAsmModule.hpp
  shared/stinkytofu/include/ir/asm/StinkySignature.hpp
  shared/stinkytofu/include/isa/ArchHelper.hpp
  shared/stinkytofu/include/stinkytofu.hpp
  shared/stinkytofu/src/ir/asm/StinkyAsmEmitter.cpp
  shared/stinkytofu/src/ir/asm/StinkyAsmIR.cpp
  shared/stinkytofu/src/ir/asm/StinkyAsmModule.cpp
  shared/stinkytofu/src/ir/asm/StinkySignature.cpp
  shared/stinkytofu/src/ir/asm/WaitCntLegalizationPass.cpp
  shared/stinkytofu/src/ir/rocisa/AllHwMappings.cpp
  shared/stinkytofu/src/ir/rocisa/ToStinkyAsmPass.cpp
  shared/stinkytofu/src/ir/rocisa/ToStinkyTofuUtils.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Add intrinsic-compiler with library system and Python bindings
  shared/stinkytofu/CMakeLists.txt
  shared/stinkytofu/docs/design/intrinsic-system.md
  shared/stinkytofu/docs/developer-guide/README.md
  shared/stinkytofu/docs/developer-guide/adding-new-asm-ir.md
  shared/stinkytofu/docs/developer-guide/adding-new-ir.md
  shared/stinkytofu/docs/user-guide/adding-intrinsics.md
  shared/stinkytofu/hardware/data/Gfx1250.yaml
  shared/stinkytofu/include/ir/IntrinsicCall.hpp
  shared/stinkytofu/include/ir/IntrinsicPatternConverter.hpp
  shared/stinkytofu/include/ir/logical/LogicalInstructionData.hpp
  shared/stinkytofu/include/ir/logical/LogicalInstructionFactory.hpp
  shared/stinkytofu/include/ir/logical/LogicalInstructions.hpp
  shared/stinkytofu/include/ir/logical/LogicalOpcode.hpp
  shared/stinkytofu/include/ir/passes/IntrinsicExpansionPass.hpp
  shared/stinkytofu/include/isa/gfx/GfxIsa.hpp
  shared/stinkytofu/lib/Intrinsics/Intrinsics.intrinsic
  shared/stinkytofu/python_module/CMakeLists.txt
  shared/stinkytofu/python_module/src/logical_count.cpp
  shared/stinkytofu/python_module/src/python_bindings.cpp
  shared/stinkytofu/src/ir/logical/LogicalOpcode.cpp
  shared/stinkytofu/src/ir/logical/passes/CompositeInstructionLoweringPass.cpp
  shared/stinkytofu/src/ir/passes/IntrinsicExpansionPass.cpp
  shared/stinkytofu/test/QUICKSTART.md
  shared/stinkytofu/test/scripts/PYTHON_MIGRATION.md
  shared/stinkytofu/tests/CMakeLists.txt
  shared/stinkytofu/tests/unit/ir/IntrinsicExpansionPassTest.cpp
  shared/stinkytofu/tests/unit/logical/LogicalCommutativeTest.cpp
  shared/stinkytofu/tests/unit/logical/LogicalIntrinsicFlowTest.cpp
  shared/stinkytofu/tests/unit/logical/LogicalModuleOwnershipTest.cpp
  shared/stinkytofu/tests/unit/logical/LogicalModuleTest.cpp
  shared/stinkytofu/tests/unit/logical/LogicalOpcodeTest.cpp
  shared/stinkytofu/tests/unit/logical/LogicalPeepholePassTest.cpp
  shared/stinkytofu/tests/unit/logical/LogicalToAsmPipelineTest.cpp
  shared/stinkytofu/tools/intrinsic-compiler/CMakeLists.txt
  shared/stinkytofu/tools/intrinsic-compiler/intrinsic-compiler.cpp
  shared/stinkytofu/tools/intrinsic-compiler/test_loader.cpp
  shared/stinkytofu/tools/tablegen/CMakeLists.txt
  shared/stinkytofu/tools/tablegen/GenLogicalIR.cpp
  shared/stinkytofu/tools/tablegen/GenPatterns.cpp
  shared/stinkytofu/tools/tablegen/LogicalInstructionDefs.inc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

test(asm): Disable comment alignment for StinkyAsmEmitter tests
  shared/stinkytofu/tests/unit/asm/StinkyAsmEmitterTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tests): Add Python test integration to CMake for StinkyTofu
  shared/stinkytofu/tests/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(ir): Implement MFMA, SMFMA, and MXMFMA mnemonic generation in ToStinkyAsmPass
  shared/stinkytofu/src/ir/logical/passes/ToStinkyAsmPass.cpp
  shared/stinkytofu/tests/unit/logical/LogicalToAsmMultiArchTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Harden IRParser/Lexer with diagnostics and error recovery tests
  shared/stinkytofu/include/ir/Diagnostic.hpp
  shared/stinkytofu/include/ir/asm/IRParser.hpp
  shared/stinkytofu/include/ir/asm/PatternParser.hpp
  shared/stinkytofu/include/ir/asm/StinkyAsmIR.hpp
  shared/stinkytofu/src/ir/asm/IRLexer.cpp
  shared/stinkytofu/src/ir/asm/IRParser.cpp
  shared/stinkytofu/src/ir/asm/PatternParser.cpp
  shared/stinkytofu/tests/CMakeLists.txt
  shared/stinkytofu/tests/unit/asm/FuzzTest.cpp
  shared/stinkytofu/tests/unit/asm/IRLexerTest.cpp
  shared/stinkytofu/tests/unit/asm/IRParserTest.cpp
  shared/stinkytofu/tests/unit/asm/PatternParserTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(ir): Enhance LogicalInstructions dump for Label handling
  shared/stinkytofu/include/ir/logical/LogicalInstructions.hpp
  shared/stinkytofu/python_module/tests/test_intrinsic_bindings.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(gfx): Implement cost management for GPU architecture instructions
  shared/stinkytofu/hardware/include/gfx/InstDefDSL.hpp
  shared/stinkytofu/hardware/src/gfx/GpuArchManager.cpp
  shared/stinkytofu/hardware/src/gfx/InstDefDSL.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs: Update developer guides to reflect C++ instruction cost system
  shared/stinkytofu/docs/developer-guide/adding-new-ir.md
  shared/stinkytofu/docs/developer-guide/how-to-add-new-architecture.md
  shared/stinkytofu/tools/tablegen/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tests): Add LogicalToAsmMultiArchTest for multi-architecture support
  shared/stinkytofu/tests/CMakeLists.txt
  shared/stinkytofu/tests/unit/logical/LogicalToAsmMultiArchTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(ir): Remove TensorLoadToLds opcode and update LogicalInstruction structure
  shared/stinkytofu/include/ir/logical/LogicalOpcode.hpp
  shared/stinkytofu/tools/tablegen/GenLogicalIR.cpp
  shared/stinkytofu/tools/tablegen/LogicalInstructionDefs.inc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hardware): Add architecture-specific register limits to GpuArch
  shared/stinkytofu/hardware/data/Gfx1250.yaml
  shared/stinkytofu/hardware/data/Gfx942.yaml
  shared/stinkytofu/hardware/data/Gfx950.yaml
  shared/stinkytofu/hardware/include/gfx/InstDefDSL.hpp
  shared/stinkytofu/hardware/src/gfx/Gfx1250.cpp
  shared/stinkytofu/hardware/src/gfx/Gfx942.cpp
  shared/stinkytofu/hardware/src/gfx/Gfx950.cpp
  shared/stinkytofu/hardware/src/gfx/InstDefDSL.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(hardware): Remove yaml-cpp dependency from gfxisa target
  shared/stinkytofu/hardware/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] fix asm output format
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  shared/stinkytofu/include/ir/asm/StinkyAsmEmitter.hpp
  shared/stinkytofu/src/ir/asm/StinkyAsmEmitter.cpp
  shared/stinkytofu/src/ir/asm/StinkyAsmModule.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Add ModuleOptions support that could store options
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  shared/stinkytofu/include/stinkytofu/bindings/python/Module.hpp
  shared/stinkytofu/include/stinkytofu/core/Function.hpp
  shared/stinkytofu/include/stinkytofu/core/PassManager.hpp
  shared/stinkytofu/include/stinkytofu/core/Types.hpp
  shared/stinkytofu/include/stinkytofu/ir/asm/StinkyAsmIR.hpp
  shared/stinkytofu/include/stinkytofu/ir/asm/StinkyModifiers.hpp
  shared/stinkytofu/include/stinkytofu/serialization/asm/IRParser.hpp
  shared/stinkytofu/include/stinkytofu/serialization/asm/StinkyAsmPrinter.hpp
  shared/stinkytofu/src/bindings/python/Module.cpp
  shared/stinkytofu/src/conversion/rocisa/ToStinkyTofuUtils.cpp
  shared/stinkytofu/src/core/PassManager.cpp
  shared/stinkytofu/src/ir/asm/StinkyAsmIR.cpp
  shared/stinkytofu/src/pipeline/backend/Gfx1250Backend.cpp
  shared/stinkytofu/src/serialization/asm/CMakeLists.txt
  shared/stinkytofu/src/serialization/asm/IRConverter.cpp
  shared/stinkytofu/src/serialization/asm/IRLexer.cpp
  shared/stinkytofu/src/serialization/asm/IRParser.cpp
  shared/stinkytofu/src/serialization/asm/ModifierSerializer.cpp
  shared/stinkytofu/src/serialization/asm/ModifierSerializer.hpp
  shared/stinkytofu/src/serialization/asm/StinkyAsmEmitter.cpp
  shared/stinkytofu/src/serialization/asm/StinkyAsmPrinter.cpp
  shared/stinkytofu/tests/unit/asm/FuzzTest.cpp
  shared/stinkytofu/tests/unit/asm/IRParserTest.cpp
  shared/stinkytofu/tools/stinkytofu-opt/README.md
  shared/stinkytofu/tools/stinkytofu-opt/tests/func.arch-gfx1250.stir
  shared/stinkytofu/tools/stinkytofu-opt/tests/func2.arch-gfx1250.stir
  shared/stinkytofu/tools/stinkytofu-opt/tests/stinkytofu_ir.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

docs: Update developer guide and architecture files with navigation tips and metadata structure
  shared/stinkytofu/docs/developer-guide/adding-new-ir.md
  shared/stinkytofu/hardware/src/gfx/Gfx1250.cpp
  shared/stinkytofu/hardware/src/gfx/Gfx942.cpp
  shared/stinkytofu/hardware/src/gfx/Gfx950.cpp
  shared/stinkytofu/src/hardware/Gfx1250ArchInfo.hpp
  shared/stinkytofu/src/hardware/Gfx942ArchInfo.hpp
  shared/stinkytofu/src/hardware/Gfx950ArchInfo.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(ir): Add IR verification passes and register width validation
  shared/stinkytofu/CMakeLists.txt
  shared/stinkytofu/include/ir/IRVerifierPass.hpp
  shared/stinkytofu/include/isa/gfx/GfxIsa.hpp
  shared/stinkytofu/include/support/Span.hpp
  shared/stinkytofu/src/hardware/Gfx1250ArchInfo.hpp
  shared/stinkytofu/src/ir/IRVerifierPass.cpp
  shared/stinkytofu/src/ir/asm/OptimizationPipeline.cpp
  shared/stinkytofu/tests/CMakeLists.txt
  shared/stinkytofu/tests/unit/ir/RegisterWidthValidationTest.cpp
  shared/stinkytofu/tools/tablegen/GenIsa.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] scheduling first local read instrucitons
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  shared/stinkytofu/include/stinkytofu/bindings/python/Module.hpp
  shared/stinkytofu/include/stinkytofu/ir/asm/StinkyAsmIR.hpp
  shared/stinkytofu/include/stinkytofu/pipeline/Backend.hpp
  shared/stinkytofu/include/stinkytofu/pipeline/BackendRegistry.hpp
  shared/stinkytofu/include/stinkytofu/transforms/asm/InsertVgprMsbPass.hpp
  shared/stinkytofu/python_module/src/python_bindings.cpp
  shared/stinkytofu/src/bindings/python/Module.cpp
  shared/stinkytofu/src/conversion/rocisa/ToStinkyTofuUtils.cpp
  shared/stinkytofu/src/pipeline/OptimizationPipeline.cpp
  shared/stinkytofu/src/pipeline/backend/Backend.cpp
  shared/stinkytofu/src/pipeline/backend/BackendRegistry.cpp
  shared/stinkytofu/src/pipeline/backend/Gfx1250Backend.cpp
  shared/stinkytofu/src/transforms/asm/CMakeLists.txt
  shared/stinkytofu/src/transforms/asm/DelayAluInsertionPass.cpp
  shared/stinkytofu/src/transforms/asm/InsertVgprMsbPass.cpp
  shared/stinkytofu/src/transforms/asm/ScheduleFirstLRsPass.cpp
  shared/stinkytofu/src/transforms/asm/ScheduleLastLRsPass.cpp
  shared/stinkytofu/src/transforms/asm/StinkyRemoveWaitCntPass.cpp
  shared/stinkytofu/src/transforms/asm/StinkyWaitCntInsertionPass.cpp
  shared/stinkytofu/tests/CMakeLists.txt
  shared/stinkytofu/tests/unit/asm/DelayAluInsertionPassTest.cpp
  shared/stinkytofu/tests/unit/asm/HwInstDescTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Miscellaneous fixes and minor improvements
  shared/stinkytofu/docs/design/instruction-def-t-system.md
  shared/stinkytofu/docs/developer-guide/adding-new-ir.md
  shared/stinkytofu/docs/developer-guide/how-to-add-new-architecture.md
  shared/stinkytofu/hardware/defs/Gfx1250Instructions.def
  shared/stinkytofu/hardware/include/Gfx1250.hpp
  shared/stinkytofu/hardware/include/Gfx942.hpp
  shared/stinkytofu/hardware/include/Gfx950.hpp
  shared/stinkytofu/hardware/include/gfx/GpuArchManager.hpp
  shared/stinkytofu/hardware/include/gfx/InstDefDSL.hpp
  shared/stinkytofu/hardware/src/gfx/Gfx1250.cpp
  shared/stinkytofu/hardware/src/gfx/Gfx942.cpp
  shared/stinkytofu/hardware/src/gfx/Gfx950.cpp
  shared/stinkytofu/hardware/src/gfx/GpuArchManager.cpp
  shared/stinkytofu/src/hardware/ArchHelper.cpp
  shared/stinkytofu/src/ir/asm/AsmVerifierPass.cpp
  shared/stinkytofu/src/ir/logical/LogicalInstructionDefs.inc
  shared/stinkytofu/src/ir/logical/passes/CompositeInstructionLoweringPass.cpp
  shared/stinkytofu/src/ir/logical/passes/ToStinkyAsmPass.cpp
  shared/stinkytofu/tests/unit/logical/LogicalToAsmMultiArchTest.cpp
  shared/stinkytofu/tools/tablegen/CMakeLists.txt
  shared/stinkytofu/tools/tablegen/GenLogicalIR.cpp
  shared/stinkytofu/tools/tablegen/GenLogicalToAsmMapping.cpp
  shared/stinkytofu/tools/tablegen/GenRocisaHwMapping.cpp
  shared/stinkytofu/tools/tablegen/tablegen.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] (phase1) Remove PipelineConfig, PipelineProfile, and OptimizationPipeline
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  shared/stinkytofu/docs/developer-guide/README.md
  shared/stinkytofu/docs/user-guide/global-parameters.md
  shared/stinkytofu/include/stinkytofu/bindings/python/Module.hpp
  shared/stinkytofu/include/stinkytofu/core/PassManager.hpp
  shared/stinkytofu/include/stinkytofu/pipeline/BackendRegistry.hpp
  shared/stinkytofu/include/stinkytofu/pipeline/OptLevel.hpp
  shared/stinkytofu/include/stinkytofu/pipeline/OptimizationPasses.hpp
  shared/stinkytofu/include/stinkytofu/pipeline/OptimizationPipeline.hpp
  shared/stinkytofu/include/stinkytofu/pipeline/ScopeAdaptor.hpp
  shared/stinkytofu/python_module/src/python_bindings.cpp
  shared/stinkytofu/src/bindings/python/Module.cpp
  shared/stinkytofu/src/conversion/rocisa/ToStinkyTofuUtils.cpp
  shared/stinkytofu/src/core/PassManager.cpp
  shared/stinkytofu/src/pipeline/CMakeLists.txt
  shared/stinkytofu/src/pipeline/OptimizationPipeline.cpp
  shared/stinkytofu/src/pipeline/backend/Backend.cpp
  shared/stinkytofu/src/pipeline/backend/BackendRegistry.cpp
  shared/stinkytofu/src/pipeline/backend/Gfx1250Backend.cpp
  shared/stinkytofu/src/pipeline/backend/Gfx942Backend.cpp
  shared/stinkytofu/tests/CMakeLists.txt
  shared/stinkytofu/tests/unit/asm/OptimizationPipelineTest.cpp
  shared/stinkytofu/tests/unit/asm/ScopeAdaptorTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[stinkytofu] Implement pure enum-based LogicalInstruction design
  projects/hipblaslt/tensilelite/Tensile/BenchmarkProblems.py
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/Components/Signature.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/cmp.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/common.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/mfma.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/pass.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/pass/pass.cpp
  shared/stinkytofu/CMakeLists.txt
  shared/stinkytofu/hardware/include/gfx/CommonInstsDSL.hpp
  shared/stinkytofu/hardware/src/gfx/Gfx1250.cpp
  shared/stinkytofu/hardware/src/gfx/Gfx942.cpp
  shared/stinkytofu/hardware/src/gfx/Gfx950.cpp
  shared/stinkytofu/include/ir/asm/LegalizationUtils.hpp
  shared/stinkytofu/include/ir/asm/StinkyAsmDirectives.hpp
  shared/stinkytofu/include/ir/asm/StinkyAsmEmitter.hpp
  shared/stinkytofu/include/ir/asm/StinkyAsmIR.hpp
  shared/stinkytofu/include/ir/asm/StinkyAsmPrinter.hpp
  shared/stinkytofu/include/ir/asm/StinkyModifiers.hpp
  shared/stinkytofu/include/ir/asm/StinkySignature.hpp
  shared/stinkytofu/include/isa/gfx/Flags.def
  shared/stinkytofu/include/stinkypasses.hpp
  shared/stinkytofu/python_module/src/python_bindings.cpp
  shared/stinkytofu/src/ir/asm/LegalizationUtils.cpp
  shared/stinkytofu/src/ir/asm/StinkyAsmEmitter.cpp
  shared/stinkytofu/src/ir/asm/StinkyAsmIR.cpp
  shared/stinkytofu/src/ir/asm/StinkyAsmModule.cpp
  shared/stinkytofu/src/ir/asm/StinkySignature.cpp
  shared/stinkytofu/src/ir/asm/WaitCntLegalizationPass.cpp
  shared/stinkytofu/src/ir/rocisa/AllHwMappings.cpp
  shared/stinkytofu/src/ir/rocisa/ToStinkyAsmPass.cpp
  shared/stinkytofu/src/ir/rocisa/ToStinkyTofuUtils.cpp
  shared/stinkytofu/tests/CMakeLists.txt
  shared/stinkytofu/tests/README.md
  shared/stinkytofu/tests/unit/logical/LogicalToAsmMultiArchTest.cpp
  shared/stinkytofu/tools/tablegen/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[stinkytofu] Update developer guide and remove CommonInstsDSL.hpp
  projects/hipblaslt/tensilelite/Tensile/BenchmarkProblems.py
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/Run.py
  projects/hipblaslt/tensilelite/rocisa/CMakeLists.txt
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/mem.hpp
  shared/stinkytofu/CMakeLists.txt
  shared/stinkytofu/docs/README.md
  shared/stinkytofu/docs/design/peephole-pattern-system.md
  shared/stinkytofu/docs/developer-guide/adding-new-ir.md
  shared/stinkytofu/docs/developer-guide/how-to-add-new-architecture.md
  shared/stinkytofu/docs/known-issues.md
  shared/stinkytofu/hardware/include/gfx/CommonInstsDSL.hpp
  shared/stinkytofu/hardware/include/gfx/InstDefDSL.hpp
  shared/stinkytofu/hardware/src/gfx/Gfx1250/Gfx1250.cpp
  shared/stinkytofu/hardware/src/gfx/Gfx942/Gfx942.cpp
  shared/stinkytofu/hardware/src/gfx/Gfx950/Gfx950.cpp
  shared/stinkytofu/include/stinkytofu/ir/asm/DefUseChain.hpp
  shared/stinkytofu/src/CMakeLists.txt
  shared/stinkytofu/src/analysis/CMakeLists.txt
  shared/stinkytofu/src/analysis/asm/CMakeLists.txt
  shared/stinkytofu/src/analysis/logical/CMakeLists.txt
  shared/stinkytofu/src/bindings/CMakeLists.txt
  shared/stinkytofu/src/bindings/python/CMakeLists.txt
  shared/stinkytofu/src/conversion/rocisa/CMakeLists.txt
  shared/stinkytofu/src/conversion/rocisa/ToStinkyTofuUtils.cpp
  shared/stinkytofu/src/core/CMakeLists.txt
  shared/stinkytofu/src/hardware/CMakeLists.txt
  shared/stinkytofu/src/ir/CMakeLists.txt
  shared/stinkytofu/src/ir/asm/CMakeLists.txt
  shared/stinkytofu/src/ir/logical/CMakeLists.txt
  shared/stinkytofu/src/pipeline/CMakeLists.txt
  shared/stinkytofu/src/serialization/CMakeLists.txt
  shared/stinkytofu/src/serialization/asm/CMakeLists.txt
  shared/stinkytofu/src/serialization/logical/CMakeLists.txt
  shared/stinkytofu/src/transforms/CMakeLists.txt
  shared/stinkytofu/src/transforms/asm/CMakeLists.txt
  shared/stinkytofu/src/transforms/logical/CMakeLists.txt
  shared/stinkytofu/tools/tablegen/GenInstructions.cpp
  shared/stinkytofu/tools/tablegen/README.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation
