Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(plugin_sdk): name the engine discarded on a duplicate id
  dnn-providers/hip-kernel-provider/src/core/Container.cpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/EngineManager.hpp
  projects/hipdnn/plugin_sdk/tests/TestEngineManager.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(backend): drop the private engineNameOrHex in the config reader
  projects/hipdnn/backend/src/heuristics/config/ConfigBuiltIn.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(frontend): pin the spelling an autotune override entry persists
  projects/hipdnn/frontend/tests/TestAutotuneFileWriter.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(navi32): correct the --fixed-iters rule in the runbook
  docs/navi32/NAVI32_RUNBOOK.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Print string version of RppStatus upon failure
  projects/rpp/utilities/test/src/framework/config_param.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

build(hipdnn): install uhd_gen's training dependencies in the dev image
  projects/hipdnn/dockerfiles/Dockerfile.ubuntu24
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(hip-kernel-provider): keep the model pack out of the install
  dnn-providers/hip-kernel-provider/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/fixtures/pointwise_model/README.md
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/fixtures/pointwise_model/pointwise_model.kmd.json
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/fixtures/pointwise_model/pointwise_model.ued.json
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/fixtures/pointwise_model/pointwise_model.uhd.json
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/fixtures/pointwise_model/pointwise_model_add.kdp.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[tensilelite] Drop the NT fp4 strip over-allocation
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Restore the changes unrelated to the NT subtile path
  projects/hipblaslt/tensilelite/Tensile/Common/MatrixInstructionNaming.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Validators/MatrixInstruction.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/config_helpers.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/test_config_helpers.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_MatrixInstructionNaming.py
  projects/hipblaslt/tensilelite/rocisa/rocisa/__init__.py
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/instruction/instruction.cpp
  projects/hipblaslt/tensilelite/rocisa_stinkytofu_adaptor/rocisa_stinkytofu_adaptor/__init__.py
  projects/hipblaslt/tensilelite/rocisa_stinkytofu_adaptor/rocisa_stinkytofu_adaptor/base.py
  projects/hipblaslt/tensilelite/test_categories.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Move RppStatus print to separate helper file
  projects/rpp/utilities/test/src/framework/config_param.hpp
  projects/rpp/utilities/test/src/framework/status_param.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix typos
  projects/rocfft/testing.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck): Fix 'unspecified' MinBlockPerCu value provided to compiler
  projects/composablekernel/include/ck_tile/host/kernel_launch.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(miopen-provider): satisfy clang-tidy on the 1D conv helpers
  dnn-providers/miopen-provider/MiopenUtils.hpp
  dnn-providers/miopen-provider/tests/engines/plans/TestMiopenConvFwdPlan.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen] Rename gfx9 APU guard to IsGfx9ConsumerApu and separate from xnack check
  projects/miopen/src/include/miopen/fusion/utils.hpp
  projects/miopen/src/include/miopen/target_properties.hpp
  projects/miopen/src/solver/conv/conv_asm_1x1u.cpp
  projects/miopen/src/solver/conv/conv_asm_1x1u_stride2.cpp
  projects/miopen/src/solver/conv/conv_asm_3x3u.cpp
  projects/miopen/src/solver/conv/conv_asm_dir_BwdWrW1x1.cpp
  projects/miopen/src/solver/conv/conv_asm_dir_BwdWrW3x3.cpp
  projects/miopen/src/solver/conv/conv_winoRxS.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Switch rocblas default backend to hipblaslt for f64 on gfx950
  projects/rocblas/library/src/tensile_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Restore the remaining changes unrelated to the NT subtile path
  projects/hipblaslt/tensilelite/Tensile/BenchmarkProblems.py
  projects/hipblaslt/tensilelite/Tensile/TensileLogic/Run.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/tdm_multicast_gfx1250.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_dynamic_hgemm_quick.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_dynamic_sgemm_quick.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_hybrid_quick.yaml
  projects/hipblaslt/tensilelite/pytest.ini
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(rocke): one (spec, arch) builder signature across library kernels (#11237)
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx942/attention/prefill/README.md
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx942/attention/prefill/attention_dense_prefill.py
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention/gfx942.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/attention_unified.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/attention_dense.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942_lds.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942_numeric.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_builder_signature_contract.py
  dnn-providers/hip-kernel-provider/rocke/platform/AGENTS.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/development/extending.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

- Twiddle kernels
  projects/rocfft/library/src/include/rtc_twiddle_gen.h
  projects/rocfft/library/src/include/rtc_twiddle_kernel.h
  projects/rocfft/library/src/rocfft_aot_helper.cpp
  projects/rocfft/library/src/rtc_twiddle_gen.cpp
  projects/rocfft/library/src/rtc_twiddle_kernel.cpp
  projects/rocfft/library/src/twiddles.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

More fixes for hipSPARSELt 7.14.0 doc generation.
  projects/hipsparselt/docs/reference/supported-functions.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hipdnn): pin the plan builder's two diagnostic paths
  projects/hipdnn/plugin_sdk/tests/ingestor/TestGenericPlanBuilder.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

More changes to the hipSPARSELt documentation: Removed the supported-functions page and updated what-is-hipsparselt.
  projects/hipsparselt/docs/reference/supported-functions.rst
  projects/hipsparselt/docs/what-is-hipsparselt.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Import the instruction-type mapping instead of copying it
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Correct the stale GR cooperation comments
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): re-record 3 bigfile-emit goldens after upstream StreamK/GSU codegen changes
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/DECISIONS.md
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_emit_bigfiles_char.ambr
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Docs/7.14.0 api revamp (#10962)
  projects/hipsparselt/docs/doxygen/modules.dox
  projects/hipsparselt/docs/index.rst
  projects/hipsparselt/docs/reference/api-reference.rst
  projects/hipsparselt/docs/reference/datatypes.rst
  projects/hipsparselt/docs/sphinx/_toc.yml.in
  projects/hipsparselt/library/include/hipsparselt.h
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): uhd_gen wrote UHDs the runtime could not load
  projects/hipdnn/dockerfiles/Dockerfile.ubuntu24
  projects/hipdnn/plugin_sdk/tests/CMakeLists.txt
  projects/hipdnn/plugin_sdk/tests/ingestor/uhd/TestUhdGenArtifact.cpp
  projects/hipdnn/tools/uhd_gen/uhd_to_flatbuffer.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remaining changes
  projects/hipdnn/backend/include/HipdnnBackendAttributeName.h
  projects/hipdnn/backend/src/descriptors/GraphDescriptor.cpp
  projects/hipdnn/backend/src/descriptors/TensorDescriptor.hpp
  projects/hipdnn/backend/tests/descriptors/TestTensorDescriptor.cpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/DescriptorHelpers.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Cover the M/N edge and the K tail in the F4 subtile suite
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/f4_subtile.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Comment cleanup
  projects/rpp/utilities/test/README.md
  projects/rpp/utilities/test/src/framework/skip_list.hpp
  projects/rpp/utilities/test/src/tests/image/effects/glitch_test.cpp
  projects/rpp/utilities/test/src/tests/image/effects/gridmask_test.cpp
  projects/rpp/utilities/test/src/tests/image/effects/ricap_test.cpp
  projects/rpp/utilities/test/src/tests/image/geometric/resize_crop_mirror_test.cpp
  projects/rpp/utilities/test/src/tests/image/geometric/resize_mirror_normalize_test.cpp
  projects/rpp/utilities/test/src/tests/misc/statistical/normalize_test.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(integration-tests): move 1D conv coverage into the bundle sweeps
  dnn-providers/integration-tests/integration-test-bundles/quick/ConvolutionBwd/Default/sweep.json
  dnn-providers/integration-tests/integration-test-bundles/quick/ConvolutionFwd/Default/sweep.json
  dnn-providers/integration-tests/integration-test-bundles/quick/ConvolutionWrw/Default/sweep.json
  dnn-providers/integration-tests/src/integration-tests/conv/IntegrationGpuConvBackwardData.cpp
  dnn-providers/integration-tests/src/integration-tests/conv/IntegrationGpuConvBackwardWeights.cpp
  dnn-providers/integration-tests/src/integration-tests/conv/IntegrationGpuConvForward.cpp
  dnn-providers/integration-tests/src/integration-tests/conv/IntegrationGpuConvFwdBiasActiv.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hiptensor): Update dev and nightly URLs in Dockerfile (#11268)
  projects/hiptensor/docker/Dockerfile.ubuntu24.prebuilt
  projects/hiptensor/docker/README.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

test(miopen-provider): cover 1D bias padding in the fused plan
  dnn-providers/miopen-provider/tests/engines/plans/TestMiopenConvFwdBiasActivPlan.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocblas): Update dev and nightly URLs in Dockerfile (#11269)
  projects/rocblas/docker/Dockerfile.ubuntu24.prebuilt
  projects/rocblas/docker/README.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[CK] Track the ROCm 10.0 release in the ck4inductor wheel version.
  projects/composablekernel/python/ck4inductor/__init__.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rfc): adopt the data SDK stride-order encoding and address 0018 review
  projects/hipdnn/docs/rfcs/0017_UniversalKernelDescriptor.md
  projects/hipdnn/docs/rfcs/0018_UniversalMatchDescriptor.md
  projects/hipdnn/docs/rfcs/0020_UniversalEngineDescriptor.md
  projects/hipdnn/docs/rfcs/examples/0017_UniversalKernelDescriptor_WorkedExample.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Make PLSIN MFMA weaving dependency-aware
  projects/hipblaslt/tensilelite/Tensile/Common/Utilities.py
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/Common/test_Utilities.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedLogicalScheduler.py
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/hardware_caps.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(fmha): enable measured qr_tdm LDS padding
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qr_ks_vs_tdm_policy.hpp
  projects/composablekernel/test/ck_tile/fmha/test_qr_tdm_lds_padding.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Allocate one LR base for the free-dim contiguous shape
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileLREmit.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci(hipdnn): enable HIPDNN_ENABLE_SDPA in the superbuild lanes
  .github/workflows/hipdnn-superbuild-ci.yml
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/TestSdpaFwdCase.cpp
  dnn-providers/integration-tests/src/integration-tests/sdpa/IntegrationGpuSdpaBackward.cpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestSdpaFwdPlan.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Validate the max-achievable-FLOPs configs, and name their tiles
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/f4_nt_maf.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
