Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Remove OpenCL backend: delete OCL-only files, clean build system and docs
  projects/miopen/CMakeLists.txt
  projects/miopen/cmake/FindOpenCL.cmake
  projects/miopen/docs/conceptual/finddb.rst
  projects/miopen/docs/how-to/debug-log.rst
  projects/miopen/docs/how-to/find-and-immediate.rst
  projects/miopen/docs/install/build-source.rst
  projects/miopen/docs/reference/env_variables.rst
  projects/miopen/include/miopen/config.h.in
  projects/miopen/src/CMakeLists.txt
  projects/miopen/src/include/miopen/clhelper.hpp
  projects/miopen/src/include/miopen/errors.hpp
  projects/miopen/src/include/miopen/ocldeviceinfo.hpp
  projects/miopen/src/include/miopen/oclkernel.hpp
  projects/miopen/src/kernels/MIOpenTensorKernels.cl
  projects/miopen/src/ocl/clhelper.cpp
  projects/miopen/src/ocl/handleocl.cpp
  projects/miopen/src/ocl/oclerrors.cpp
  projects/miopen/src/ocl_kernel.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Fixed formatting
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/BackendWrapper.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/HipdnnDynamicBackendWrapper.hpp
  projects/hipdnn/frontend/tests/TestRuntimeLoadBackendStaticCheck.cpp
  projects/hipdnn/frontend/tests/fake_backend/MockHipdnnBackend.hpp
  projects/hipdnn/samples/dynamic/ConvFpropDynamic.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix ROCM-3139: use full FP32 on gfx942 for FAST_TF32 requests
  projects/hipblaslt/clients/CMakeLists.txt
  projects/hipblaslt/clients/tests/src/CMakeLists.txt
  projects/hipblaslt/clients/tests/src/hipblaslt_tf32_precision_gtest.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/include/rocblaslt-auxiliary.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_auxiliary.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Always enable zigzag WMMA ordering, remove from solution state
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/InstructionEmitter.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_WmmaSourceCacheOpt.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Make provider payload-versioning a normative contract in RFC 0016
  projects/hipdnn/docs/rfcs/0016_RuntimePassByValueTensors.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[miopen] Tier cba grouped fixtures into nested Smoke/Standard/Full
  projects/miopen/test/gtest/cba_infer.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci: blobless sparse checkout in pre-commit for fast signal
  .github/workflows/pre-commit.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Harden rocKE-client AOT validation and tests
  dnn-providers/hip-kernel-provider/rocKE-client/aot/cmake/rocke_aot.cmake
  dnn-providers/hip-kernel-provider/rocKE-client/aot/python/rocke_client_aot/instance_schema.py
  dnn-providers/hip-kernel-provider/rocKE-client/aot/tests/test_instance_schema.py
  dnn-providers/hip-kernel-provider/rocKE-client/aot/tools/rocke_aot_build.py
  dnn-providers/hip-kernel-provider/rocKE-client/kernels/sdpa/fmha_fwd_mfma/CMakeLists.txt
  dnn-providers/hip-kernel-provider/rocKE-client/kernels/sdpa/fmha_fwd_mfma/aot_instance.py
  dnn-providers/hip-kernel-provider/rocKE-client/kernels/sdpa/fmha_fwd_mfma/schemas/sidecar.schema.json
  dnn-providers/hip-kernel-provider/rocKE-client/kernels/sdpa/fmha_fwd_mfma/tests/sdpa_aot_numeric.py
  dnn-providers/hip-kernel-provider/rocKE-client/kernels/sdpa/fmha_fwd_mfma/tests/test_sdpa_aot_instance.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[miopen] Define BN-infer tier shapes incrementally; rename Full config getter
  projects/miopen/test/gtest/bn_activ_infer.cpp
  projects/miopen/test/gtest/bn_fwd_infer.cpp
  projects/miopen/test/gtest/bn_infer_tester.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Gate zigzag WMMA ordering on HasWMMA_V3 AsmCap
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/InstructionEmitter.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_WmmaSourceCacheOpt.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hiptensor] Build lib with a stub implementation when GPU_TARGETS is empty
  projects/hiptensor/CMakeLists.txt
  projects/hiptensor/library/stub/CMakeLists.txt
  projects/hiptensor/library/stub/hiptensor_stub.cpp
  projects/hiptensor/test/CMakeLists.txt
  projects/hiptensor/test/api_coverage/CMakeLists.txt
  projects/hiptensor/test/api_coverage/test_api_coverage.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[TEST] docs: clean doc in deep project path
  projects/hipdnn/docs/TEST_sparse_clean.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[TEST] docs: dirty doc in deep project path
  projects/hipdnn/docs/TEST_sparse_dirty.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[TEST] docs: dirty doc at repo root
  TEST_sparse_root.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[TEST] docs: dirty doc in top-level docs
  docs/TEST_sparse_nf2.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hip-kernel-provider] Port gfx1250 WMMA attention common base + tiled-2D (Phase 3b)
  dnn-providers/hip-kernel-provider/rocKE/Cpp/include/rocke/instance_gfx1250_attention_tiled_2d.h
  dnn-providers/hip-kernel-provider/rocKE/Cpp/include/rocke/instance_gfx1250_wmma_attention_common.h
  dnn-providers/hip-kernel-provider/rocKE/Cpp/instances/gfx1250/attention_tiled_2d.cpp
  dnn-providers/hip-kernel-provider/rocKE/Cpp/instances/gfx1250/wmma_attention_common.cpp
  dnn-providers/hip-kernel-provider/rocKE/tests/instances/parity/gfx1250_attention_tiled_2d_emit.c
  dnn-providers/hip-kernel-provider/rocKE/tests/instances/parity/gfx1250_attention_tiled_2d_emit.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Improving test coverage
  projects/hipdnn/tests/frontend/CMakeLists.txt
  projects/hipdnn/tests/frontend/IntegrationBackendWrapperDetail.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixed format
  projects/hipdnn/tests/frontend/IntegrationBackendWrapperDetail.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocKE] Add gfx1151 WMMA verify wrapper
  dnn-providers/hip-kernel-provider/rocKE/Python/rocke/examples/gfx1151/wmma_gemm_verify.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[TEST] docs: dirty docs across multiple cones (hipdnn, stinkytofu, docs, root)
  TEST_multi_root.md
  projects/hipdnn/docs/TEST_multi.md
  shared/stinkytofu/docs/TEST_multi.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

RFC 0016: derive runtime pass-by-value feature signal from tensor schema
  projects/hipdnn/docs/rfcs/0016_RuntimePassByValueTensors.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Updated readme, added more comments in CMake files
  dnn-providers/hip-kernel-provider/rocKE-client/CMakeLists.txt
  dnn-providers/hip-kernel-provider/rocKE-client/README.md
  dnn-providers/hip-kernel-provider/rocKE-client/aot/CMakeLists.txt
  dnn-providers/hip-kernel-provider/rocKE-client/aot/cmake/rocke_aot.cmake
  dnn-providers/hip-kernel-provider/rocKE-client/kernels/sdpa/fmha_fwd_mfma/CMakeLists.txt
  dnn-providers/hip-kernel-provider/rocKE-client/plans/sdpa_aot_instance_plan.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Addressing PR comments
  .github/actions/ci-env/action.yml
  .github/workflows/therock-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove extra hip-kernel-provider CMake whitespace
  dnn-providers/hip-kernel-provider/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK_TILE] gemm bridge: keep Old-TE (do not deprecate yet); drop parity_diag/regression
  projects/composablekernel/dispatcher/parity_diag/regression/ab_efficient_sweep.py
  projects/composablekernel/dispatcher/parity_diag/regression/ab_same_harness.py
  projects/composablekernel/test/ck_tile/CMakeLists.txt
  projects/composablekernel/test/ck_tile/gemm_tile_engine/CMakeLists.txt
  projects/composablekernel/test/ck_tile/gemm_tile_engine/README.md
  projects/composablekernel/test/ck_tile/gemm_tile_engine/configs/comprehensive_coverage_config.json
  projects/composablekernel/test/ck_tile/gemm_tile_engine/configs/large_datatype_config.json
  projects/composablekernel/test/ck_tile/gemm_tile_engine/configs/padding_coverage_config.json
  projects/composablekernel/test/ck_tile/gemm_tile_engine/configs/quick_coverage_config.json
  projects/composablekernel/test/ck_tile/gemm_tile_engine/configs/simple_test_config.json
  projects/composablekernel/test/ck_tile/gemm_tile_engine/configs/small_datatype_config.json
  projects/composablekernel/test/ck_tile/gemm_tile_engine/extract_test_params.py
  projects/composablekernel/test/ck_tile/gemm_tile_engine/test_gemm_simple.cpp
  projects/composablekernel/tile_engine/ops/gemm/CMakeLists.txt
  projects/composablekernel/tile_engine/ops/gemm/gemm_universal/CMakeLists.txt
  projects/composablekernel/tile_engine/ops/gemm/gemm_universal/gemm_universal_benchmark.hpp
  projects/composablekernel/tile_engine/ops/gemm/gemm_universal/gemm_universal_benchmark.py
  projects/composablekernel/tile_engine/ops/gemm/gemm_universal/gemm_universal_benchmark_single.cpp
  projects/composablekernel/tile_engine/ops/gemm/gemm_universal/gemm_universal_instance_builder.py
  projects/composablekernel/tile_engine/ops/gemm/gemm_universal/gemm_universal_profiler.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Remove remaining OpenCL references from CMake, README, and tests
  projects/miopen/CMakeLists.txt
  projects/miopen/README.md
  projects/miopen/test/gtest/test_errors.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Delete OpenCL find database files
  projects/miopen/src/kernels/gfx803_36.OpenCL.fdb.txt.bz2
  projects/miopen/src/kernels/gfx803_64.OpenCL.fdb.txt.bz2
  projects/miopen/src/kernels/gfx900_56.OpenCL.fdb.txt.bz2
  projects/miopen/src/kernels/gfx900_64.OpenCL.fdb.txt.bz2
  projects/miopen/src/kernels/gfx906_60.OpenCL.fdb.txt.bz2
  projects/miopen/src/kernels/gfx906_64.OpenCL.fdb.txt.bz2
  projects/miopen/src/kernels/gfx90878.OpenCL.fdb.txt.bz2
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update comment and ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_r3_streamk_gfx1250_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_r7_streamk_grid_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK_TILE] gemm bridge: add missing copyright headers + drop trailing whitespace
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher/backends/generated_tile_backend.hpp
  projects/composablekernel/tile_engine/ops/gemm/gemm_full_benchmark.py
  projects/composablekernel/tile_engine/ops/gemm/run_one_gemm_kernel.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipsparselt] ship Tensile device library by gating embedded-dep installs on STANDALONE
  projects/hipsparselt/CMakeLists.txt
  shared/origami/CMakeLists.txt
  shared/stinkytofu/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ci): pass docs-preview shell inputs via env vars
  .github/workflows/docs-pr-preview.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipdnn): adopt Conventional Commits for PR titles in AI tooling
  projects/hipdnn/docs/ai-rules.md
  projects/hipdnn/tools/ai/skills/pr-summary/SKILL.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipdnn): drop redundant pr-summary rules
  projects/hipdnn/tools/ai/skills/pr-summary/SKILL.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK_TILE] gemm codegen: reject invalid non-power-of-2-repeat tiles (e.g. 192)
  projects/composablekernel/dispatcher/codegen/unified_gemm_codegen.py
  projects/composablekernel/dispatcher/python/gemm_utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocKE] Add WMMA verify wrapper unit test
  dnn-providers/hip-kernel-provider/rocKE/tests/instances/test_wmma_gemm_verify_wrapper.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[miopen] De-couple BN-infer and cba grouped tier shape lists
  projects/miopen/test/gtest/bn_infer_tester.hpp
  projects/miopen/test/gtest/cba_infer.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Addressed review comments
  projects/rocsolver/library/src/include/lapack_device_functions.hpp
  projects/rocsolver/scripts/perf/rocsolver-perfoptim-suite.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

clang format
  projects/miopen/test/gtest/handle_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add try-catch blocks
  projects/rocsolver/library/src/lapack/roclapack_cholqr.cpp
  projects/rocsolver/library/src/lapack/roclapack_cholqr.hpp
  projects/rocsolver/library/src/lapack/roclapack_cholqr_batched.cpp
  projects/rocsolver/library/src/lapack/roclapack_cholqr_strided_batched.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): add TENSILE_DB=0x100000 debug log for SK5 hybrid mode selection
  projects/hipblaslt/clients/tests/src/streamk5_test.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_auxiliary.cpp
  projects/hipblaslt/tensilelite/include/Tensile/Debug.hpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/src/Debug.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
