Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

docs(rocsparse): clarify package name template
  projects/rocsparse/docs/install/install.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipsparse): clarify package name template
  projects/hipsparse/docs/install/install.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add pytest test suite for Python bindings
  projects/hipdnn/python/hipdnn_frontend/test/__init__.py
  projects/hipdnn/python/hipdnn_frontend/test/conftest.py
  projects/hipdnn/python/hipdnn_frontend/test/test_conv_dgrad.py
  projects/hipdnn/python/hipdnn_frontend/test/test_conv_fprop.py
  projects/hipdnn/python/hipdnn_frontend/test/test_conv_wgrad.py
  projects/hipdnn/python/hipdnn_frontend/test/test_device_buffer.py
  projects/hipdnn/python/hipdnn_frontend/test/test_engine_id_overloads.py
  projects/hipdnn/python/hipdnn_frontend/test/test_graph_api.py
  projects/hipdnn/python/hipdnn_frontend/test/test_matmul.py
  projects/hipdnn/python/hipdnn_frontend/test/test_tensor_api.py
  projects/hipdnn/python/pyproject.toml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Bump versions and prepare changelog for new dev cycle
  projects/hipsolver/CHANGELOG.md
  projects/hipsolver/CMakeLists.txt
  projects/hipsolver/bump_hipsolver_version.sh
  projects/hipsolver/library/CMakeLists.txt
  projects/rocsolver/CHANGELOG.md
  projects/rocsolver/CMakeLists.txt
  projects/rocsolver/bump_rocsolver_version.sh
  projects/rocsolver/library/CMakeLists.txt
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix EXPECT_THROW_VALUE
  projects/rocsolver/clients/common/misc/rocblas_test.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipdnn): clarify package name template
  projects/hipdnn/docs/user-guides/install/installation.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

generate: fix comments in tester
  projects/rocsolver/clients/common/unit/testing_gerand.hpp
  projects/rocsolver/clients/common/unit/testing_herand.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipdnn] Clarify skill install/invoke sequence in ai-rules
  projects/hipdnn/docs/ai-rules.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK][CK_Tile] Improve launch methodology of CK-native DSL.
  projects/composablekernel/python/ck4inductor/util.py
  projects/composablekernel/python/ck_dsl/README.md
  projects/composablekernel/python/ck_dsl/examples/attention/parity_unified_attention.py
  projects/composablekernel/python/ck_dsl/helpers/README.md
  projects/composablekernel/python/ck_dsl/instances/attention_tiled_2d.py
  projects/composablekernel/python/ck_dsl/instances/attention_unified.py
  projects/composablekernel/python/ck_dsl/run_manifest.py
  projects/composablekernel/python/ck_dsl/runtime/__init__.py
  projects/composablekernel/python/ck_dsl/runtime/hip_module.py
  projects/composablekernel/python/ck_dsl/runtime/launcher.py
  projects/composablekernel/python/ck_dsl/runtime/torch_module.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

- Fix merge_kernel - Fix KernelConfig print - Removed no longer needed kernel config entries.
  projects/rocfft/library/src/device/kernel-generator.py
  projects/rocfft/library/src/device/kernels/configs/config_pp_3d.py
  projects/rocfft/library/src/include/function_map_key.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[miopen-provider] Apply misc-* tidy fixes to merged TestMiopenConvPlanBuilder
  dnn-providers/miopen-provider/tests/engines/plans/TestMiopenConvPlanBuilder.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

- Fix print
  projects/rocfft/library/src/include/function_map_key.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

origami: namespace Triton heuristics under origami::triton
  shared/origami/include/origami/targets/triton/gemm.hpp
  shared/origami/python/src/origami/__init__.py
  shared/origami/python/src/origami/bindings.cpp
  shared/origami/python/tests/test_triton_bindings.py
  shared/origami/src/origami/heuristics.cpp
  shared/origami/src/origami/targets/triton/gemm.cpp
  shared/origami/tests/test_gemm.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipdnn-integration-tests] Move Gpu token from test case to suite name
  dnn-providers/integration-tests/tests/TestReferenceGraphExecutorFactory.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

origami: namespace Triton heuristics database under origami::triton
  shared/origami/include/origami/targets/triton/heuristics.hpp
  shared/origami/src/origami/gemm.cpp
  shared/origami/src/origami/targets/triton/heuristics.cpp
  shared/origami/tests/test_gemm.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Clean up getrs
  projects/rocsolver/library/src/lapack/roclapack_getrs.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipdnn] Set ROCM_PATH in test env for runtime kernel compilation
  projects/hipdnn/tools/ai/skills/helpers/pwsh_cmake_run.py
  projects/hipdnn/tools/ai/skills/hipdnn-superbuild-test/SKILL.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

docs(hipdnn): update test outputs
  projects/hipdnn/docs/user-guides/install/installation.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipblas): clarify package naming pattern
  projects/hipblas/docs/install/install.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocblas): clarify package naming pattern
  projects/rocblas/docs/install/install.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK][CK_Tile] Fix unified attention bug.
  projects/composablekernel/python/ck_dsl/README.md
  projects/composablekernel/python/ck_dsl/core/ir.py
  projects/composablekernel/python/ck_dsl/core/lower_hip.py
  projects/composablekernel/python/ck_dsl/core/lower_llvm.py
  projects/composablekernel/python/ck_dsl/examples/attention/README.md
  projects/composablekernel/python/ck_dsl/examples/attention/parity_unified_attention.py
  projects/composablekernel/python/ck_dsl/instances/__init__.py
  projects/composablekernel/python/ck_dsl/instances/attention_tiled_2d.py
  projects/composablekernel/python/ck_dsl/instances/attention_unified.py
  projects/composablekernel/python/ck_dsl/runtime/__init__.py
  projects/composablekernel/python/ck_dsl/runtime/hip_module.py
  projects/composablekernel/python/ck_dsl/runtime/launcher.py
  projects/composablekernel/python/test/test_ck_dsl.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocwmma): remove unused labels, update some links
  projects/rocwmma/docs/install/installation.rst
  projects/rocwmma/docs/install/source-build.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

- Add new config entries.
  projects/rocfft/library/src/device/kernels/configs/config_pp_3d.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt] Dedup CHECK_NUMERICS log on STOP_ON_FIRST auto-drain
  projects/hipblaslt/clients/common/include/testing_aux_check_numerics_gemm.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/check_numerics_matrix.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

he2hb: fix copy when kd = n-1
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sy2sb_he2hb.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt] Fix Windows build + flaky teardown assertion in CN gtest
  projects/hipblaslt/clients/common/include/testing_aux_check_numerics_gemm.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

he2hb: fix shiftA. Add clarifying comments.
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sy2sb_he2hb.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix format encoding sizes for VOP3PX3/WMMA/TENSOR and add StinkyAsmModule set/getTotalInstructionBytes and output name/dir APIs.
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  shared/stinkytofu/hardware/src/gfx/Gfx1250/Gfx1250Formats.def
  shared/stinkytofu/hardware/src/gfx/Gfx1250/Gfx1250Instructions.def
  shared/stinkytofu/include/stinkytofu/bindings/python/Module.hpp
  shared/stinkytofu/include/stinkytofu/hardware/GfxIsa.hpp
  shared/stinkytofu/include/stinkytofu/ir/asm/StinkySignature.hpp
  shared/stinkytofu/python_module/src/python_bindings.cpp
  shared/stinkytofu/src/bindings/python/Module.cpp
  shared/stinkytofu/src/conversion/rocisa/ToStinkyTofuUtils.cpp
  shared/stinkytofu/src/ir/asm/StinkySignature.cpp
  shared/stinkytofu/tests/unit/asm/HwInstDescTest.cpp
  shared/stinkytofu/tools/tablegen/CMakeLists.txt
  shared/stinkytofu/tools/tablegen/GenInstructions.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add AccumulateInstructionSizePass, InstructionSizeCosting, and AsmSetSymbolMap with .set symbol resolution for literal size accounting.
  shared/stinkytofu/include/stinkytofu/ir/asm/AsmSetSymbolMap.hpp
  shared/stinkytofu/include/stinkytofu/transforms/asm/AccumulateInstructionSizePass.hpp
  shared/stinkytofu/include/stinkytofu/transforms/asm/InstructionSizeCosting.hpp
  shared/stinkytofu/src/ir/asm/AsmSetSymbolMap.cpp
  shared/stinkytofu/src/ir/asm/CMakeLists.txt
  shared/stinkytofu/src/ir/asm/StinkySignature.cpp
  shared/stinkytofu/src/pipeline/backend/Gfx1250Backend.cpp
  shared/stinkytofu/src/transforms/asm/AccumulateInstructionSizePass.cpp
  shared/stinkytofu/src/transforms/asm/CMakeLists.txt
  shared/stinkytofu/src/transforms/asm/InstructionSizeCosting.cpp
  shared/stinkytofu/tests/CMakeLists.txt
  shared/stinkytofu/tests/unit/asm/AccumulateInstructionSizePassTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[ci] Centralize CI constants via ci-env composite action
  .github/actions/ci-env/action.yml
  .github/actions/setup-rocm-linux/action.yml
  .github/actions/setup-rocm-windows/action.yml
  .github/workflows/rocisa-ci.yml
  .github/workflows/stinkytofu-ci.yml
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-nightly.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Insert software instruction prefetch (s_prefetch_inst_pc_rel) via SwPrefetchInsertionPass, allocating one scratch SGPR per solution when SwInstructionPrefetch is enabled.
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/Common/RequiredParameters.py
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  shared/stinkytofu/hardware/src/gfx/Gfx1250/Gfx1250Instructions.def
  shared/stinkytofu/include/stinkytofu/bindings/python/Module.hpp
  shared/stinkytofu/include/stinkytofu/hardware/Flags.def
  shared/stinkytofu/include/stinkytofu/hardware/GfxIsa.hpp
  shared/stinkytofu/include/stinkytofu/transforms/asm/SwPrefetchInsertionPass.hpp
  shared/stinkytofu/src/bindings/python/Module.cpp
  shared/stinkytofu/src/conversion/rocisa/ToStinkyTofuUtils.cpp
  shared/stinkytofu/src/pipeline/backend/Gfx1250Backend.cpp
  shared/stinkytofu/src/transforms/asm/CMakeLists.txt
  shared/stinkytofu/src/transforms/asm/SwPrefetchInsertionPass.cpp
  shared/stinkytofu/tests/CMakeLists.txt
  shared/stinkytofu/tests/unit/asm/SwPrefetchInsertionPassTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] Add rocm_ck foundation types: DataType, Layout, Args, Ops
  projects/composablekernel/rocm_ck/README.md
  projects/composablekernel/rocm_ck/include/rocm_ck/args.hpp
  projects/composablekernel/rocm_ck/include/rocm_ck/datatype.hpp
  projects/composablekernel/rocm_ck/include/rocm_ck/fixed_string.hpp
  projects/composablekernel/rocm_ck/include/rocm_ck/gpu_target.hpp
  projects/composablekernel/rocm_ck/include/rocm_ck/layout.hpp
  projects/composablekernel/rocm_ck/include/rocm_ck/ops.hpp
  projects/composablekernel/rocm_ck/include/rocm_ck/physical_tensor.hpp
  projects/composablekernel/rocm_ck/include/rocm_ck/resolved_tensor.hpp
  projects/composablekernel/rocm_ck/tests/CMakeLists.txt
  projects/composablekernel/rocm_ck/tests/unit/unit_args.cpp
  projects/composablekernel/rocm_ck/tests/unit/unit_datatype.cpp
  projects/composablekernel/rocm_ck/tests/unit/unit_fixed_string.cpp
  projects/composablekernel/rocm_ck/tests/unit/unit_layout.cpp
  projects/composablekernel/rocm_ck/tests/unit/unit_physical_tensor.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] Address review feedback on rocm_ck foundation types PR
  projects/composablekernel/rocm_ck/include/rocm_ck/args.hpp
  projects/composablekernel/rocm_ck/include/rocm_ck/datatype.hpp
  projects/composablekernel/rocm_ck/include/rocm_ck/fixed_string.hpp
  projects/composablekernel/rocm_ck/include/rocm_ck/layout.hpp
  projects/composablekernel/rocm_ck/include/rocm_ck/ops.hpp
  projects/composablekernel/rocm_ck/include/rocm_ck/platform.hpp
  projects/composablekernel/rocm_ck/include/rocm_ck/resolved_tensor.hpp
  projects/composablekernel/rocm_ck/tests/unit/unit_datatype.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update copyright year from 2025-2026 to 2026 in StinkyTofu headers and sources.
  shared/stinkytofu/include/stinkytofu/ir/asm/AsmSetSymbolMap.hpp
  shared/stinkytofu/include/stinkytofu/transforms/asm/AccumulateInstructionSizePass.hpp
  shared/stinkytofu/include/stinkytofu/transforms/asm/InstructionSizeCosting.hpp
  shared/stinkytofu/include/stinkytofu/transforms/asm/SwPrefetchInsertionPass.hpp
  shared/stinkytofu/src/ir/asm/AsmSetSymbolMap.cpp
  shared/stinkytofu/src/transforms/asm/AccumulateInstructionSizePass.cpp
  shared/stinkytofu/src/transforms/asm/InstructionSizeCosting.cpp
  shared/stinkytofu/src/transforms/asm/SwPrefetchInsertionPass.cpp
  shared/stinkytofu/tests/unit/asm/AccumulateInstructionSizePassTest.cpp
  shared/stinkytofu/tests/unit/asm/SwPrefetchInsertionPassTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Speed up invoke rocisa with parallel build, ccache, and no-build-isolation
  projects/hipblaslt/tensilelite/README.md
  projects/hipblaslt/tensilelite/tasks.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[dnn-benchmarking] Address metrics PR review feedback
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/execution/suite_runner.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/metrics/__init__.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/metrics/analytical.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/metrics/analytical/__init__.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/metrics/analytical/_common.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/metrics/analytical/conv.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/metrics/analytical/elementwise.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/metrics/analytical/matmul.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/metrics/analytical/normalization.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/metrics/analytical/reduction.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/metrics/gpu_smi.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/metrics/host.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/metrics/test_gpu_smi.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/metrics/test_host.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

(CM) Enable test_name_validator.py as a ctest.
  projects/hipdnn/cmake/Tests.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

(CM) Fix asan error in hipdnn sample.
  projects/hipdnn/samples/batchnorm/FusedBnInfDReluBnBwd.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Verified bottom right causal mask
  dnn-providers/hip-kernel-provider/src/integration_tests/asm_sdpa_engine/AsmSdpaConfigHelpers.cpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/CpuFpReferenceSdpa.hpp
  projects/hipdnn/test_sdk/tests/utilities/TestCpuFpReferenceSdpa.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add host device to random_low
  projects/hipblaslt/clients/common/src/hipblaslt_init_device.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
