Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

Unit tests and test name fixes.
  dnn-providers/fusilli-provider/test/test_fusilli_plugin_api.cpp
  dnn-providers/hip-kernel-provider/src/tests/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/tests/TestHipKernelPluginPublic.cpp
  dnn-providers/hipblaslt-provider/tests/TestHipblasltPluginApi.cpp
  dnn-providers/miopen-provider/tests/TestMiopenPluginPublic.cpp
  projects/hipdnn/backend/tests/TestPlugin.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[Adjust test]
  projects/hipblaslt/clients/tests/data/matmul_common.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(fmha): replace inline asm tile loads with intrinsic-based equivalents in qr_async pipeline
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qr_ks_vs_async.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qr_ks_vs_async_default_policy.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qx_ks_vs_custom_policy.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

rename the solver and fix clang-format
  projects/miopen/src/include/miopen/conv/solvers.hpp
  projects/miopen/src/mlo_dir_conv.cpp
  projects/miopen/src/solver.cpp
  projects/miopen/src/solver/conv/conv_3d_depthwise_fwd.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvDepthwiseFwd3D.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

remove some comments
  projects/miopen/src/solver/conv/conv_3d_depthwise_fwd.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

remove unused comments
  projects/miopen/src/kernels/gpu_reference_kernel/miopen_conv3d_depthwise_fwd.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipsparselt] Fix metadata vgpr idx calculation
  projects/hipblaslt/tensilelite/Tensile/Components/LocalRead.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update smoke_test_fwd.sh
  projects/composablekernel/example/ck_tile/01_fmha/script/smoke_test_fwd.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add TileDistrEncCalc with block hiding support. Add example which prints the calculated mappings, verified against RegisterMapTraits. True testing will happen in layout test.
  projects/composablekernel/example/ck_tile/51_tile_distr_enc_reg_map/CMakeLists.txt
  projects/composablekernel/example/ck_tile/51_tile_distr_enc_reg_map/example_tile_distr_enc_calc.cpp
  projects/composablekernel/include/ck_tile/core.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/amdgcn_mma.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/utility/tile_distribution_encoding_calculator.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Dummy
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout.inc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update layout test with new distribution calculator. Util no longer necessary. Also refactored a bit to make sure that we directly (and forcefully) test all intrinsics available on each platform.
  projects/composablekernel/test/ck_tile/core/arch/mma/CMakeLists.txt
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout.inc
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout_gfx11.cpp
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout_gfx12.cpp
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout_gfx9.cpp
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout_util.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Deal with new-style sparse policy structs in tile distr enc calc and layout test. For cooperation planning reasons, not all sparse stuff was updated here and the sparse test was disabled.
  projects/composablekernel/include/ck_tile/core/arch/mma/amdgcn_mma.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/mfma/sparse_gfx9.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/wmma/sparse_gfx12.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/utility/tile_distribution_encoding_calculator.hpp
  projects/composablekernel/test/ck_tile/core/arch/mma/CMakeLists.txt
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout.inc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix unexpected compile error for gfx950 sparse test.
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/sparse_traits.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Comment
  projects/composablekernel/include/ck_tile/core/arch/mma/amdgcn_mma.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add layout test for gfx950
  projects/composablekernel/test/ck_tile/core/arch/mma/CMakeLists.txt
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout.inc
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout_gfx950.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Expand example_tile_distr_enc_calc with CTranspose checks.
  projects/composablekernel/example/ck_tile/51_tile_distr_enc_reg_map/example_tile_distr_enc_calc.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add support for CTranspose and add more consistency checks
  projects/composablekernel/include/ck_tile/core/arch/mma/utility/tile_distribution_encoding_calculator.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Test calculated block-hiding layouts for both C-layout types by adding some block-hiding intrinsic wrappers and testing them in the layout test.
  projects/composablekernel/include/ck_tile/core/arch/mma/mfma/mfma_gfx9.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/utility/tile_distribution_encoding_calculator.hpp
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout.inc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add gfx942/gfx950 sparse intrinsic to layout test.
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout.inc
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout_gfx942.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Address review comments, mostly comments and tiny tweaks.
  projects/composablekernel/example/ck_tile/51_tile_distr_enc_reg_map/example_tile_distr_enc_calc.cpp
  projects/composablekernel/include/ck_tile/core/arch/mma/amdgcn_mma.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/sparse_traits.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/utility/tile_distribution_encoding_calculator.hpp
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout.inc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add more coverage
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/ConvolutionValidation.hpp
  projects/hipdnn/test_sdk/gpu_ref/include/hipdnn_gpu_ref/GpuFpReferenceConvolution.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/CpuFpReferenceConvolution.hpp
  projects/hipdnn/test_sdk/tests/CMakeLists.txt
  projects/hipdnn/test_sdk/tests/utilities/TestGpuFpReferenceConvolution.cpp
  projects/hipdnn/test_sdk/tests/utilities/TestGpuRefValidation.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fxi tests
  projects/hipdnn/test_sdk/tests/utilities/TestGpuRefValidation.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[print more err msg]
  projects/hipblaslt/clients/common/include/d_vector.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update smoke_test_fwd.sh
  projects/composablekernel/example/ck_tile/01_fmha/script/smoke_test_fwd.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixes
  projects/composablekernel/include/ck_tile/core/arch/amd_buffer_addressing.hpp
  projects/composablekernel/include/ck_tile/core/arch/amd_buffer_addressing_builtins.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix
  projects/composablekernel/include/ck_tile/core/arch/amd_buffer_addressing.hpp
  projects/composablekernel/include/ck_tile/core/arch/amd_buffer_addressing_builtins.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix
  projects/composablekernel/include/ck_tile/core/arch/amd_buffer_addressing.hpp
  projects/composablekernel/include/ck_tile/core/arch/amd_buffer_addressing_builtins.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add guard to prevent redundant metadata packing
  projects/hipblaslt/tensilelite/Tensile/Components/LocalRead.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

clang-formatted files
  projects/composablekernel/include/ck_tile/ops/epilogue/cshuffle_epilogue.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

MI355 tunanet with naive
  projects/miopen/src/kernels/gfx950.tn.model
  projects/miopen/src/kernels/gfx950_metadata.tn.model
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt] Correct compute modes information for data type support g… (#4822)
  projects/hipblaslt/docs/reference/data-type-support.rst
  projects/hipblaslt/docs/reference/env-variables.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Updated and added F8BS_TN tiles
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt] Docs: fix minor typo
  projects/hipblaslt/docs/reference/data-type-support.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Add descriptor lifting for knobs
  projects/hipdnn/backend/src/descriptors/EngineDescriptor.cpp
  projects/hipdnn/backend/src/descriptors/EngineDescriptor.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/Graph.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/KnobUnpacker.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/knob/Knob.hpp
  projects/hipdnn/frontend/tests/CMakeLists.txt
  projects/hipdnn/frontend/tests/TestKnob.cpp
  projects/hipdnn/frontend/tests/TestKnobUnpacker.cpp
  projects/hipdnn/tests/backend/IntegrationKnobsApi.cpp
  projects/hipdnn/tests/frontend/CMakeLists.txt
  projects/hipdnn/tests/frontend/IntegrationGraphKnobsDescriptorLifting.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add SDPA ASM kernel engine to hip-kernel-provider
  dnn-providers/hip-kernel-provider/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/HipKernelContainer.cpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/AsmSdpaEngine.cpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/AsmSdpaEngine.hpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/asm/AsmKernelPath.hpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/asm/AsmSdpaFwdKernelArgs.hpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/asm/asm_kernels/README.md
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/asm/asm_kernels/gfx942/fmha_v3_fwd/MI300/fwd_hd128_bf16_rtne.co
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaFwdPlan.cpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaFwdPlan.hpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaFwdPlanBuilder.cpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaFwdPlanBuilder.hpp
  dnn-providers/hip-kernel-provider/src/integration_tests/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/integration_tests/asm_sdpa_engine/IntegrationGpuSdpaForward.cpp
  dnn-providers/hip-kernel-provider/src/integration_tests/asm_sdpa_engine/IntegrationGraphVerificationHarness.hpp
  dnn-providers/hip-kernel-provider/src/tests/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/TestAsmSdpaEngine.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/TestAsmSdpaFwdKernelArgs.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/TestSdpaFwdPlanBuilder.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[hipblaslt] Docs: fix minor typo (#5998)
  projects/hipblaslt/docs/reference/data-type-support.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixed exception expect in handle_test.cpp
  projects/miopen/test/gtest/handle_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocprim): fix unused param warning (#5749)
  projects/hipccl/hipccl2/rocprim/test/rocprim/test_device_merge_sort.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocprim): fix unused param warning (#5749)
  projects/hipccl/hipccl3/rocprim/test/rocprim/test_device_merge_sort.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Match descriptor knob skip semantics
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/KnobUnpacker.hpp
  projects/hipdnn/frontend/tests/TestKnobUnpacker.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
