Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(dispatcher): add batched_gemm to the TileEngine->Dispatcher bridge
  projects/composablekernel/dispatcher/bindings/ctypes/CMakeLists.txt
  projects/composablekernel/dispatcher/bindings/ctypes/batched_gemm_ctypes_lib.cpp
  projects/composablekernel/dispatcher/codegen/unified_gemm_codegen.py
  projects/composablekernel/dispatcher/python/batched_gemm_utils.py
  projects/composablekernel/tile_engine/ops/gemm/batched_gemm_full_benchmark.py
  projects/composablekernel/tile_engine/ops/gemm/run_one_batched_gemm_kernel.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add gemm_preshuffle to the TileEngine->Dispatcher bridge
  projects/composablekernel/dispatcher/bindings/ctypes/gemm_ctypes_lib.cpp
  projects/composablekernel/dispatcher/codegen/unified_gemm_codegen.py
  projects/composablekernel/dispatcher/python/ctypes_utils.py
  projects/composablekernel/dispatcher/python/gemm_utils.py
  projects/composablekernel/tile_engine/ops/gemm/gemm_full_benchmark.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(ck/dispatcher): add gemm_multi_d TileEngine->Dispatcher bridge
  projects/composablekernel/dispatcher/bindings/ctypes/MULTI_D_GEMM_BRIDGE.md
  projects/composablekernel/dispatcher/bindings/ctypes/multi_d_gemm_ctypes_lib.cpp
  projects/composablekernel/dispatcher/codegen/unified_gemm_codegen.py
  projects/composablekernel/dispatcher/python/gemm_utils.py
  projects/composablekernel/tile_engine/ops/gemm/gemm_multi_d_full_benchmark.py
  projects/composablekernel/tile_engine/ops/gemm/run_one_gemm_multi_d_kernel.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(dispatcher): fair timing, non-packed strides, split-K for batched bridge
  projects/composablekernel/dispatcher/bindings/ctypes/batched_gemm_ctypes_lib.cpp
  projects/composablekernel/dispatcher/codegen/unified_gemm_codegen.py
  projects/composablekernel/dispatcher/python/batched_gemm_utils.py
  projects/composablekernel/dispatcher/python/ctypes_utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Address multi_abd bridge review: real numeric verification, driven ops, valid CI tiles
  projects/composablekernel/dispatcher/python/ctypes_utils.py
  projects/composablekernel/dispatcher/python/gemm_utils.py
  projects/composablekernel/tile_engine/ops/gemm/gemm_full_benchmark.py
  projects/composablekernel/tile_engine/ops/gemm/gemm_multi_abd/configs/default_ci_config.json
  projects/composablekernel/tile_engine/ops/gemm/run_one_gemm_kernel.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Address preshuffle bridge review NITs: hoist B-shuffle, single-source permute_n
  projects/composablekernel/dispatcher/bindings/ctypes/gemm_ctypes_lib.cpp
  projects/composablekernel/dispatcher/codegen/unified_gemm_codegen.py
  projects/composablekernel/dispatcher/python/gemm_utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck/dispatcher): sweep full multi_d capability set + doc fixes
  projects/composablekernel/tile_engine/ops/gemm/gemm_multi_d/configs/default_ci_config.json
  projects/composablekernel/tile_engine/ops/gemm/gemm_multi_d/configs/default_config.json
  projects/composablekernel/tile_engine/ops/gemm/gemm_multi_d_full_benchmark.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

wip(rocke/attention): gfx942 D256 4-warp GQA paged causal prototypes (experiments)
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/PROGRESS.md
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/build_e2e_T3.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/build_e2e_T3_4warp.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/build_e2e_T3_paged.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/build_e2e_T3_paged_cv.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/build_e2e_T3_paged_mc.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/build_e2e_T3_sq4096.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/compare_gqa.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/compare_gqa_mc.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/gqa_kernel.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/gqa_kernel_mc.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

wip(rocke/attention): gfx942 D256 SQ=4096 ticket-shape - ~0.95x AITER
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/PROGRESS.md
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/build_e2e_T3_sq4096.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

wip(rocke/attention): gfx942 D256 SQ=8192 = 1.02x AITER + bottleneck analysis
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/PROGRESS.md
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/build_e2e_T3_sq4096_pad.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/build_e2e_T3_sq8192.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

profile(rocke/attention): gfx942 D256 next-bottleneck = scalar strided-key V read
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/PROGRESS.md
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/isa_region.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/parse_pmc.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

profile(rocke/attention): gfx942 D256 V-read rewrite NO-GO (proxy disproves issue-count)
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/PROGRESS.md
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/build_e2e_T3_sq4096_proxy.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke/attention): gfx942 D256 per-q-block Q offset (correctness bug)
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/PROGRESS.md
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/build_e2e_T3_sq4096.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/build_e2e_T3_sq8192.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke/attention): gfx942 D256 ragged multi-seq cu_seqlens_q scheduling
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/PROGRESS.md
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/build_e2e_T3_ragged.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke/attention): gfx942 D256 ragged generalized for qlen!=klen (decode/chunked)
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/PROGRESS.md
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/build_e2e_T3_ragged.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocke/attention): gfx942 D256 productionization port plan (compute-core port)
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/PROGRESS.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocsparse): only prepare nnz-split buffer at compute when profile is known
  projects/rocsparse/library/src/level3/rocsparse_spmm.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocrand): guard <utility> include with __HIPCC_RTC__ in rocrand_common.h (#8247)
  projects/rocrand/library/include/rocrand/rocrand_common.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): use lowercase python path in test_rocke_ci_static.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/test_rocke_ci_static.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke/attention): gfx942 D256 productionize step1 - in-kernel binary_search_seq_idx
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/PROGRESS.md
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/build_e2e_T3_ragged_bs.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke/attention): gfx942 D256 productionize step2 - full _attn_signature ABI + runtime scalars
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/PROGRESS.md
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/build_e2e_T3_ragged_abi.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocke/attention): gfx942 D256 Step3 layout finding - key_cache matches, block_size=64 is the gate
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/PROGRESS.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke/attention): gfx942 D256 block_size gate resolved - validated @16 AND @64
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/PROGRESS.md
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/build_e2e_T3_ragged_bs64.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocke/attention): gfx942 D256 Step3 final porting detail - Q/O descriptor pattern; all unknowns resolved
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/PROGRESS.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke/attention): gfx942 D256 Q/O descriptor path validated - ALL port components GPU-verified
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/PROGRESS.md
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/build_e2e_T3_ragged_desc.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke/attention): gfx942 D256 4-warp GQA kernel - production dispatch wired
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/attention_unified.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/attention_tiled_2d.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/PROGRESS.md
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/dispatch_parity.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

docs(rocke/attention): gfx942 D256 dispatch-path perf confirmed - productionization done
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/PROGRESS.md
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/dispatch_perf.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocke/attention): gfx942 D256 direct same-run dispatch-vs-AITER - 0.97x/0.94x (beats AITER)
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/PROGRESS.md
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/dispatch_perf_vs_aiter.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocke/attention): correct gfx942 D256 perf headline - 8192 is parity not beats (3x variance); scope to gfx942-only
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/PROGRESS.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(rocsparse): format adjacent string literals for clang-format 17
  projects/rocsparse/library/src/level3/rocsparse_cscmm.cpp
  projects/rocsparse/library/src/level3/rocsparse_cscmm_analysis.cpp
  projects/rocsparse/library/src/level3/rocsparse_cscmm_buffer_size.cpp
  projects/rocsparse/library/src/level3/rocsparse_csrmm.cpp
  projects/rocsparse/library/src/level3/rocsparse_csrmm_analysis.cpp
  projects/rocsparse/library/src/level3/rocsparse_csrmm_buffer_size.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(rocke/attention): scrub tracking-id from 4-warp GQA builder comment
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/attention_tiled_2d.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(rocke/attention): scrub tracking-ids from D256 gfx942 production source
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/attention_unified.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/attention_tiled_2d.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Address review feedback: restore HIPDNN_FE_CHECK_SKIPPABLE, fix dtype/layout filtering, centralize engine selection, harden CLI arg parsing
  projects/hipdnn/samples/batchnorm/BnBackward.cpp
  projects/hipdnn/samples/batchnorm/BnInference.cpp
  projects/hipdnn/samples/batchnorm/BnInferenceWithVariance.cpp
  projects/hipdnn/samples/batchnorm/BnTraining.cpp
  projects/hipdnn/samples/batchnorm/FusedBnInfDReluBnBwd.cpp
  projects/hipdnn/samples/batchnorm/FusedBnInferenceActiv.cpp
  projects/hipdnn/samples/batchnorm/FusedBnInferenceVarianceActiv.cpp
  projects/hipdnn/samples/batchnorm/FusedBnTrainingActiv.cpp
  projects/hipdnn/samples/convolution/ConvDgrad.cpp
  projects/hipdnn/samples/convolution/ConvFprop.cpp
  projects/hipdnn/samples/convolution/ConvFpropDeterministic.cpp
  projects/hipdnn/samples/convolution/ConvWgrad.cpp
  projects/hipdnn/samples/convolution/FusedConvFpropActiv.cpp
  projects/hipdnn/samples/convolution/FusedConvFpropBiasActiv.cpp
  projects/hipdnn/samples/sdpa/SdpaFprop.cpp
  projects/hipdnn/samples/serialization/SerializationRoundTrip.cpp
  projects/hipdnn/samples/utils/Helpers.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocke/attention): D256 gfx942 merge-prep recipe + source tracking-id scrub note
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/experiments/d256_4warp_gqa/PROGRESS.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(python): Handle __exit__ sig for nanobind 2.13, script uses try/finally
  projects/hipblaslt/python/examples/bf16_matmul.py
  projects/hipblaslt/python/src/descriptors.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke): FMHA featurizer + intermediate struct in dispatcher/sdpa_fwd
  dnn-providers/hip-kernel-provider/rocke/library/api/src/CMakeLists.txt
  dnn-providers/hip-kernel-provider/rocke/library/api/src/dispatcher/RockeClientDispatcher.cpp
  dnn-providers/hip-kernel-provider/rocke/library/api/src/dispatcher/models/README.md
  dnn-providers/hip-kernel-provider/rocke/library/api/src/dispatcher/sdpa_fwd/FmhaFeatures.hpp
  dnn-providers/hip-kernel-provider/rocke/library/api/src/dispatcher/sdpa_fwd/FmhaFeaturizer.hpp
  dnn-providers/hip-kernel-provider/rocke/library/api/src/dispatcher/sdpa_fwd/README.md
  dnn-providers/hip-kernel-provider/rocke/library/api/src/dispatcher/sdpa_fwd/gfx1250/TiledSpecDefaults.hpp
  dnn-providers/hip-kernel-provider/rocke/library/api/src/dispatcher/sdpa_fwd/gfx942/TiledSpecDefaults.hpp
  dnn-providers/hip-kernel-provider/rocke/library/api/src/dispatcher/sdpa_fwd/gfx950/TiledSpecDefaults.hpp
  dnn-providers/hip-kernel-provider/rocke/library/api/src/dispatcher/sdpa_fwd/rocke_model_registry.c
  dnn-providers/hip-kernel-provider/rocke/library/api/src/dispatcher/sdpa_fwd/rocke_model_registry.h
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/heuristics/gen_arch_tiled_defaults.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/heuristics/gen_fmha_featurizer.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_fmha_featurizer_roundtrip.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(rocke): add example committed FMHA predictor (bf16/gfx950)
  dnn-providers/hip-kernel-provider/rocke/library/api/src/CMakeLists.txt
  dnn-providers/hip-kernel-provider/rocke/library/api/src/dispatcher/sdpa_fwd/gfx950/model_tflops_bf16.c
  dnn-providers/hip-kernel-provider/rocke/library/api/src/dispatcher/sdpa_fwd/gfx950/model_tflops_bf16.h
  dnn-providers/hip-kernel-provider/rocke/library/api/src/dispatcher/sdpa_fwd/gfx950/model_tflops_bf16.meta.json
  dnn-providers/hip-kernel-provider/rocke/library/api/src/dispatcher/sdpa_fwd/rocke_model_registry.c
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen] Make LGBM naive-fallback demotion group-count-aware
  projects/miopen/src/conv/heuristics/lgbm_metadata.cpp
  projects/miopen/src/conv/heuristics/lgbm_pick.cpp
  projects/miopen/src/include/miopen/conv/heuristics/lgbm_metadata.hpp
  projects/miopen/src/kernels/lgbm_model_meta.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen] Add diagnostic logs for AI/lgbm solver-selection path
  projects/miopen/src/conv/heuristics/ai_heuristics.cpp
  projects/miopen/src/conv/heuristics/lgbm_pick.cpp
  projects/miopen/src/ocl/convolutionocl.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Potential fix for pull request finding
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx950/attention/prefill/benchmark_prefill2d_live.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
