Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Mark tensilelite includes as SYSTEM to exclude from coverage instrumentation
  projects/hipblaslt/clients/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

crash isolution, padding adjust to shape, CLI overrides and config files for 4 shapes
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/bf16_gemm_sweep.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/bf16_gemm_sweep_config_m114688.json
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/bf16_gemm_sweep_config_m1792.json
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/bf16_gemm_sweep_config_m2048.json
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/bf16_gemm_sweep_config_m4096.json
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/test_gfx1250_gemm.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add extra tests for small kernel path in syevj
  projects/rocsolver/clients/gtest/lapack/syevj_heevj_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): Add gfx1250 Origami libraries for NN and NT layouts
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/gfx1250/Origami/gfx1250_Cijk_Ailk_Bjlk_BBS_BH_Bias_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/gfx1250/Origami/gfx1250_Cijk_Ailk_Bljk_BBS_BH_Bias_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250v0/gfx1250v0/Origami/gfx1250v0_Cijk_Ailk_Bjlk_BBS_BH_Bias_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250v0/gfx1250v0/Origami/gfx1250v0_Cijk_Ailk_Bljk_BBS_BH_Bias_HA_S_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocke): add a PR-description skill
  dnn-providers/hip-kernel-provider/rocke/.claude/skills/pr-description/SKILL.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocsparse): compute nnzsplit max_row_nnz on the GPU
  projects/rocsparse/library/src/level2/rocsparse_csrmv_template_nnzsplit.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(miopen): make the parity harness see a serve-versus-decline divergence
  projects/miopen/script/compare_forwarding_runs.py
  projects/miopen/script/run_forwarding_parity.py
  projects/miopen/script/test_compare_forwarding_runs.py
  projects/miopen/test/gtest/CMakeLists.txt
  projects/miopen/test/gtest/README.md
  projects/miopen/test/gtest/hipdnn_shim_conv.cpp
  projects/miopen/test/gtest/known_forwarding_divergences.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(hipblaslt): separate RMSE lazy libraries (#12270)
  projects/hipblaslt/tensilelite/Tensile/SolutionLibrary.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionLibrary/test_solution_library_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): xfail failing gfx1250 on HW (#12178)
  projects/hipblaslt/tensilelite/Tensile/Tests/common/config_helpers.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_gate.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_mxf4gemm_tdm_pap.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_mxf4gemm_tdm_ext.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_mxf4gemm_tdm_pap_ext.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/test_config_helpers.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(ck-tile): describe gfx1250 as CDNA5 rather than RDNA4 (#12201)
  projects/composablekernel/dispatcher/codegen/grouped_conv/grouped_config_rules_full.py
  projects/composablekernel/dispatcher/tests/test_batched_bridge.py
  projects/composablekernel/dispatcher/tests/test_batched_contraction_bridge.py
  projects/composablekernel/dispatcher/tests/test_gemm_utils.py
  projects/composablekernel/dispatcher/tests/test_multi_d_bridge.py
  projects/composablekernel/tile_engine/ops/gemm/batched_contraction/configs/bridge_default_ci_config_gfx1250.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[ck_tile] Build deterministic fmha_bwd instances for receipt 4 (PyTorch)
  projects/composablekernel/example/ck_tile/01_fmha/codegen/ops/fmha_bwd.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

(CMCL) Raise ASAN test timeout_multiplier to 8 for extended-timeout matrix run
  dnn-providers/hip-kernel-provider/ASM_SDPA_ENGINE_test_categories_integration.yaml
  dnn-providers/hip-kernel-provider/HIP_MLOPS_ENGINE_test_categories.yaml
  dnn-providers/hip-kernel-provider/HIP_MLOPS_ENGINE_test_categories_integration.yaml
  dnn-providers/hipblaslt-provider/test_categories.yaml
  dnn-providers/hipblaslt-provider/test_categories_integration.yaml
  dnn-providers/integration-tests/test_categories.yaml
  dnn-providers/miopen-provider/test_categories.yaml
  dnn-providers/miopen-provider/test_categories_integration.yaml
  projects/hipdnn/samples/test_categories.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Create top-level hipCCL package; add starting LICENSE
  projects/hipccl/hipccl3/CMakeLists.txt
  projects/hipccl/hipccl3/LICENSE
  projects/hipccl/hipccl3/hipcub/CMakeLists.txt
  projects/hipccl/hipccl3/hipcub/hipcub/CMakeLists.txt
  projects/hipccl/hipccl3/rocthrust/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

persistent kernel
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/bindings/rocke_engine.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/include/rocke/instance_gemm_universal.h
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/instances/common/gemm_spec.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/instances/common/gemm_universal.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/dispatch/gemm/bf16_rcr.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/dispatch/gemm/fp16_rcr.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/common/universal_gemm_verify.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/bf16_gemm_sweep.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/gemm_universal.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/manifest_runner/gemm.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/parity/gemm_emit.c
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/parity/gemm_emit.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/test_gemm_persistent.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/test_gfx1250_gemm.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocprim): replace hip atomic builtins with scoped counterparts
  projects/rocprim/rocprim/include/rocprim/intrinsics/atomic.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Updating some text that referenced a file that is not going to be comitted.
  projects/miopen/test/gtest/known_forwarding_divergences.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): refuse launches whose grid does not fit in 32 bits
  projects/hipblaslt/clients/tests/src/streamk_grid_overflow_guard_gtest.cpp
  projects/hipblaslt/tensilelite/src/hip/HipSolutionAdapter.cpp
  projects/hipblaslt/tensilelite/tests/CMakeLists.txt
  projects/hipblaslt/tensilelite/tests/LaunchDimGuard_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

build: add BUILD_WITH_TRSM_REFACTORING option (ON by default)
  projects/rocsparse/CMakeLists.txt
  projects/rocsparse/library/CMakeLists.txt
  projects/rocsparse/library/include/rocsparse-config.h.in
  projects/rocsparse/library/include/rocsparse-version.h.in
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

removing unecessary cmake definition in that file
  projects/rocsparse/library/include/rocsparse-version.h.in
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Moving version 2 lines above
  projects/rocsparse/library/include/rocsparse-config.h.in
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

build: add BUILD_WITH_TRSM_REFACTORING option (ON by default)
  projects/rocsparse/library/include/rocsparse-config.h.in
  projects/rocsparse/library/include/rocsparse-version.h.in
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

missing header ... which is in the next pr
  projects/rocsparse/library/src/include/rocsparse_spmat_descr.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

adressing comments
  projects/rocsparse/clients/tests/test_auxiliary.cpp
  projects/rocsparse/library/src/auxiliary/dnmat_copy_data/rocsparse_dnmat_copy_data.cpp
  projects/rocsparse/library/src/auxiliary/dnmat_transpose/rocsparse_dnmat_transpose.cpp
  projects/rocsparse/library/src/auxiliary/dnvec_copy_data/rocsparse_dnvec_copy_data.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

a test .... to master stacked PR :D
  projects/rocsparse/library/src/auxiliary/dnvec_copy_data/rocsparse_dnvec_copy_data.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

&& instead of || plus unnoticed! adjusments
  projects/rocsparse/library/src/auxiliary/dnmat_copy_data/rocsparse_dnmat_copy_data.cpp
  projects/rocsparse/library/src/auxiliary/dnmat_transpose/rocsparse_dnmat_transpose.cpp
  projects/rocsparse/library/src/auxiliary/dnvec_copy_data/rocsparse_dnvec_copy_data.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

addreessing comments
  projects/rocsparse/library/src/auxiliary/dnvec_copy_data/rocsparse_dnvec_copy_data.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

removing externs exports
  projects/rocsparse/library/src/auxiliary/dnmat_transpose/rocsparse_dnmat_transpose.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Moving version 2 lines above
  projects/rocsparse/library/include/rocsparse-config.h.in
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(aux): add dense matrix/vector copy and transpose primitives
  projects/rocsparse/library/include/rocsparse-auxiliary.h
  projects/rocsparse/library/src/auxiliary/dnmat_copy_data/rocsparse_dnmat_copy_data.cpp
  projects/rocsparse/library/src/auxiliary/dnmat_transpose/rocsparse_dnmat_transpose.cpp
  projects/rocsparse/library/src/auxiliary/dnvec_copy_data/rocsparse_dnvec_copy_data.cpp
  projects/rocsparse/library/src/auxiliary/rocsparse_auxiliary.cpp
  projects/rocsparse/library/src/include/rocsparse_dnmat_descr.hpp
  projects/rocsparse/library/src/include/rocsparse_dnvec_descr.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fixing some review comments
  projects/rocsparse/library/src/auxiliary/dnmat_copy_data/rocsparse_dnmat_copy_data.cpp
  projects/rocsparse/library/src/auxiliary/dnmat_transpose/rocsparse_dnmat_transpose.cpp
  projects/rocsparse/library/src/auxiliary/dnvec_copy_data/rocsparse_dnvec_copy_data.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

build: add BUILD_WITH_TRSM_REFACTORING option (ON by default)
  projects/rocsparse/library/include/rocsparse-config.h.in
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(level3): add refactored, batch-capable SpTRSM/SpSM implementation
  projects/rocsparse/library/include/internal/generic/rocsparse_sptrsm.h
  projects/rocsparse/library/include/internal/generic/rocsparse_sptrsv.h
  projects/rocsparse/library/include/rocsparse-types.h
  projects/rocsparse/library/src/CMakeLists.txt
  projects/rocsparse/library/src/common/rocsparse_sorted_coo2csr_info.cpp
  projects/rocsparse/library/src/include/rocsparse_sorted_coo2csr_info.hpp
  projects/rocsparse/library/src/include/rocsparse_utility.hpp
  projects/rocsparse/library/src/level2/rocsparse_csrsv.hpp
  projects/rocsparse/library/src/level3/csrsm_device.h
  projects/rocsparse/library/src/level3/refactored/rocsparse_bsrsm_template_large.cpp
  projects/rocsparse/library/src/level3/refactored/rocsparse_coosm.hpp
  projects/rocsparse/library/src/level3/refactored/rocsparse_coosm_analysis.cpp
  projects/rocsparse/library/src/level3/refactored/rocsparse_coosm_buffer_size.cpp
  projects/rocsparse/library/src/level3/refactored/rocsparse_coosm_solve.cpp
  projects/rocsparse/library/src/level3/refactored/rocsparse_cscsm.hpp
  projects/rocsparse/library/src/level3/refactored/rocsparse_cscsm_analysis.cpp
  projects/rocsparse/library/src/level3/refactored/rocsparse_cscsm_buffer_size.cpp
  projects/rocsparse/library/src/level3/refactored/rocsparse_cscsm_solve.cpp
  projects/rocsparse/library/src/level3/refactored/rocsparse_csrsm.hpp
  projects/rocsparse/library/src/level3/refactored/rocsparse_csrsm_analysis.cpp
  projects/rocsparse/library/src/level3/refactored/rocsparse_csrsm_buffer_size.cpp
  projects/rocsparse/library/src/level3/refactored/rocsparse_csrsm_solve.cpp
  projects/rocsparse/library/src/level3/refactored/rocsparse_spsm.cpp
  projects/rocsparse/library/src/level3/refactored/rocsparse_sptrsm.cpp
  projects/rocsparse/library/src/level3/refactored/rocsparse_sptrsm_buffer_size.cpp
  projects/rocsparse/library/src/level3/refactored/rocsparse_sptrsm_get_output.cpp
  projects/rocsparse/library/src/level3/refactored/rocsparse_sptrsm_set_input.cpp
  projects/rocsparse/library/src/level3/refactored/rocsparse_xcsrsm_analysis.cpp
  projects/rocsparse/library/src/level3/refactored/rocsparse_xcsrsm_buffer_size.cpp
  projects/rocsparse/library/src/level3/refactored/rocsparse_xcsrsm_solve.cpp
  projects/rocsparse/library/src/level3/rocsparse_sptrsm_descr.cpp
  projects/rocsparse/library/src/level3/rocsparse_sptrsm_descr.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Fix runtime backend discovery under ASan (#12009)
  projects/hipdnn/CMakeLists.txt
  projects/hipdnn/backend/src/plugin/PluginCore.hpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/PlatformUtils.linux.hpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/PlatformUtils.windows.hpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/StringUtil.hpp
  projects/hipdnn/data_sdk/tests/utilities/TestPlatformUtils.cpp
  projects/hipdnn/docs/Environment.md
  projects/hipdnn/docs/user-guides/reference/environment-variables.rst
  projects/hipdnn/frontend/include/hipdnn_frontend.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/BackendLibraryPath.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/DynamicBackendLibrary.hpp
  projects/hipdnn/frontend/tests/CMakeLists.txt
  projects/hipdnn/frontend/tests/TestBackendLibraryResolution.cpp
  projects/hipdnn/frontend/tests/TestRuntimeLoadBackendFactory.cpp
  projects/hipdnn/frontend/tests/TestRuntimeLoadHeaderCpp20.cpp
  projects/hipdnn/test_sdk/tests/utilities/TestLoggingUtils.cpp
  projects/hipdnn/tests/frontend/CMakeLists.txt
  projects/hipdnn/tests/frontend/IntegrationHipdnnDynamicBackendWrapper.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

adressing some comments
  projects/rocsparse/docs/doxygen/Doxyfile
  projects/rocsparse/library/include/internal/generic/rocsparse_sptrsm.h
  projects/rocsparse/library/src/CMakeLists.txt
  projects/rocsparse/library/src/level3/refactored/rocsparse_csrsm_solve.cpp
  projects/rocsparse/library/src/level3/refactored/rocsparse_sptrsm.cpp
  projects/rocsparse/library/src/level3/refactored/rocsparse_xcsrsm_analysis.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

use RETURN_IF_ROCSPARSE_ERROR
  projects/rocsparse/library/src/level3/refactored/rocsparse_xcsrsm_buffer_size.cpp
  projects/rocsparse/library/src/level3/refactored/rocsparse_xcsrsm_solve.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

remove the comma
  projects/rocsparse/library/src/level3/refactored/rocsparse_csrsm_solve.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(tensilelite/subtile): reuse dead ValuC slots for DPP fold + fix scalar orphan guard
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(tensilelite/subtile): reuse dead ValuC slots for the DPP fold, unlock near-cap tiles
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(tensilelite/subtile): drop inert deferred gap-A, keep gap-B fold weave
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(tensilelite/subtile): weave PLSIN1 terminal MFMAs into DPP fold gaps (deferred gap-A)
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
