Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(hipblaslt): compile matmul validation once
  projects/hipblaslt/clients/common/include/hipblaslt/host_numerics/MatmulValidation.hpp
  projects/hipblaslt/clients/common/src/CMakeLists.txt
  projects/hipblaslt/clients/common/src/host_numerics/MatmulValidation.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(tensilelite): make adapter ownership explicit
  projects/hipblaslt/tensilelite/client/CMakeLists.txt
  projects/hipblaslt/tensilelite/client/cpu_gemm_driver.cpp
  projects/hipblaslt/tensilelite/client/include/TensileLite/Client/HostNumerics/DataInitializationHelpers.hpp
  projects/hipblaslt/tensilelite/client/include/TensileLite/Client/HostNumerics/GemmInvocationAdapter.hpp
  projects/hipblaslt/tensilelite/client/include/TensileLite/Client/HostNumerics/HostNumericsBridge.hpp
  projects/hipblaslt/tensilelite/client/include/TensileLite/Client/HostNumerics/Reference.hpp
  projects/hipblaslt/tensilelite/client/include/TensileLite/Client/HostNumerics/TensileDataGeneration.hpp
  projects/hipblaslt/tensilelite/client/src/BenchmarkTimer.cpp
  projects/hipblaslt/tensilelite/client/src/DataInitialization.cpp
  projects/hipblaslt/tensilelite/client/src/ReferenceValidator.cpp
  projects/hipblaslt/tensilelite/client/src/host_numerics/DataInitialization.cpp
  projects/hipblaslt/tensilelite/client/src/host_numerics/GemmInvocationAdapter.cpp
  projects/hipblaslt/tensilelite/client/src/host_numerics/Reference.cpp
  projects/hipblaslt/tensilelite/tests/DataInit_test.cpp
  projects/hipblaslt/tensilelite/tests/HostNumericsBridge_test.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceMXFastPath_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(rocroller): reuse host numerics result types
  shared/host-numerics/include/roc/host_numerics/backends/blas.hpp
  shared/host-numerics/src/backends/blas.cpp
  shared/rocroller/client/src/gemm.cpp
  shared/rocroller/host/include/rocRoller/HostNumerics/HostReference.hpp
  shared/rocroller/host/src/HostReference.cpp
  shared/rocroller/host/test/HostReferenceTest.cpp
  shared/rocroller/test/catch/AddStreamKTest.cpp
  shared/rocroller/test/common/include/common/Utilities.hpp
  shared/rocroller/test/unit/ConversionTest.cpp
  shared/rocroller/test/unit/GEMMFusion.cpp
  shared/rocroller/test/unit/GEMMTestBase.hpp
  shared/rocroller/test/unit/HalfPrecisionTest.cpp
  shared/rocroller/test/unit/MatrixMultiplyTestBase.hpp
  shared/rocroller/test/unit/MatrixMultiplyTestGFX9.cpp
  shared/rocroller/test/unit/StreamTest.cpp
  shared/rocroller/test/unit/TileTransposeAdd.cpp
  shared/rocroller/test/unit/VectorAddBenchmark.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(host-numerics): repair CI edge cases
  projects/hipblaslt/clients/common/include/hipblaslt/host_numerics/HipblasltReferenceGemm.hpp
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
  projects/hipblaslt/clients/common/src/MatmulProblem.cpp
  projects/hipblaslt/clients/common/src/host_numerics/HipblasltReferenceGemm.cpp
  projects/hipblaslt/clients/tests/src/host_numerics_gtest.cpp
  projects/hipblaslt/clients/tests/src/matmul_problem_gtest.cpp
  shared/rocroller/host/src/HostDataGeneration.cpp
  shared/rocroller/host/test/HostDataGenerationTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-numerics): simplify deterministic seeding
  projects/hipblaslt/clients/common/include/hipblaslt/host_numerics/InitializationPolicy.hpp
  projects/hipblaslt/clients/common/src/host_numerics/DataInitialization.cpp
  projects/hipblaslt/clients/tests/src/host_numerics_gtest.cpp
  projects/hipblaslt/clients/tests/src/row_uniformity_gtest.cpp
  projects/hipblaslt/tensilelite/client/include/TensileLite/Client/HostNumerics/DataInitializationHelpers.hpp
  projects/hipblaslt/tensilelite/client/include/TensileLite/Client/HostNumerics/TensileDataGeneration.hpp
  shared/host-numerics/include/roc/host_numerics/generation.hpp
  shared/host-numerics/include/roc/host_numerics/mx.hpp
  shared/host-numerics/python/src/generation_bindings.cpp
  shared/host-numerics/python/src/mx_bindings.cpp
  shared/host-numerics/python/tests/test_host_numerics.py
  shared/host-numerics/python/tests/test_mx_generation_oracle.py
  shared/host-numerics/src/detail/data_generation.hpp
  shared/host-numerics/src/generation.cpp
  shared/host-numerics/tests/generation_recipe_test.cpp
  shared/host-numerics/tests/host_numerics_test.cpp
  shared/host-numerics/tests/mx_test.cpp
  shared/rocroller/host/src/HostDataGeneration.cpp
  shared/rocroller/host/test/HostDataGenerationTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(rocroller): apply CI formatter
  shared/rocroller/client/src/gemm.cpp
  shared/rocroller/host/include/rocRoller/HostNumerics/HostDataGeneration.hpp
  shared/rocroller/host/include/rocRoller/HostNumerics/HostReference.hpp
  shared/rocroller/host/src/HostReference.cpp
  shared/rocroller/host/test/HostReferenceTest.cpp
  shared/rocroller/test/common/include/common/Utilities.hpp
  shared/rocroller/test/unit/ConversionTest.cpp
  shared/rocroller/test/unit/GEMMFusion.cpp
  shared/rocroller/test/unit/GEMMTestBase.hpp
  shared/rocroller/test/unit/MatrixMultiplyTestBase.hpp
  shared/rocroller/test/unit/MatrixMultiplyTestGFX9.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(host-numerics): rewrite component overview
  shared/host-numerics/CMakeLists.txt
  shared/host-numerics/README.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

style(host-numerics): format GEMM validation
  shared/host-numerics/src/gemm_validation.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

cleanup(tensilelite): drop obsolete MX stride helper
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(host-numerics): add NumPy-style tensor broadcasting
  shared/host-numerics/README.md
  shared/host-numerics/include/roc/host_numerics/linear_combination.hpp
  shared/host-numerics/include/roc/host_numerics/tensor.hpp
  shared/host-numerics/python/src/bindings.cpp
  shared/host-numerics/python/src/bindings.hpp
  shared/host-numerics/python/src/gemm_bindings.cpp
  shared/host-numerics/python/src/operation_bindings.cpp
  shared/host-numerics/python/tests/test_host_numerics.py
  shared/host-numerics/src/detail/linear_combination.hpp
  shared/host-numerics/tests/host_numerics_test.cpp
  shared/host-numerics/tests/package/core_only/main.cpp
  shared/host-numerics/tests/tensor_core_test.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-numerics): use broadcast tensors for scales
  projects/hipblaslt/clients/bench/src/client_groupedgemm_fixed_mk.cpp
  projects/hipblaslt/clients/common/include/hipblaslt/host_numerics/Epilogue.hpp
  projects/hipblaslt/clients/common/src/host_numerics/Epilogue.cpp
  projects/hipblaslt/clients/common/src/host_numerics/HipblasltReferenceGemm.cpp
  projects/hipblaslt/tensilelite/client/src/host_numerics/GemmInvocationAdapter.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
  shared/host-numerics/README.md
  shared/host-numerics/include/roc/host_numerics/epilogue.hpp
  shared/host-numerics/include/roc/host_numerics/gemm.hpp
  shared/host-numerics/include/roc/host_numerics/operation_types.hpp
  shared/host-numerics/include/roc/host_numerics/tensor.hpp
  shared/host-numerics/python/roc_host_numerics/__init__.py
  shared/host-numerics/python/src/bindings.cpp
  shared/host-numerics/python/src/gemm_bindings.cpp
  shared/host-numerics/python/tests/test_host_numerics.py
  shared/host-numerics/src/backends/blas.cpp
  shared/host-numerics/src/backends/blocked.cpp
  shared/host-numerics/src/detail/reference_common.hpp
  shared/host-numerics/src/detail/reference_gemm.hpp
  shared/host-numerics/src/gemm.cpp
  shared/host-numerics/tests/blas_backend_test.cpp
  shared/host-numerics/tests/blocked_backend_test.cpp
  shared/host-numerics/tests/host_numerics_test.cpp
  shared/host-numerics/tests/tensor_core_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-numerics): accept GEMM tensors directly
  projects/hipblaslt/clients/bench/src/client_groupedgemm_fixed_mk.cpp
  projects/hipblaslt/clients/common/include/testing_matmul_batch_offset.hpp
  projects/hipblaslt/clients/common/src/host_numerics/HipblasltReferenceGemm.cpp
  projects/hipblaslt/clients/samples/19_hipblaslt_gemm_mix_precision_ext/sample_hipblaslt_gemm_mix_precision_ext.cpp
  projects/hipblaslt/tensilelite/client/include/TensileLite/Client/HostNumerics/GemmInvocationAdapter.hpp
  projects/hipblaslt/tensilelite/client/src/host_numerics/GemmInvocationAdapter.cpp
  shared/host-numerics/include/roc/host_numerics/backends/blas.hpp
  shared/host-numerics/include/roc/host_numerics/gemm.hpp
  shared/host-numerics/include/roc/host_numerics/gemm_validation.hpp
  shared/host-numerics/python/roc_host_numerics/__init__.py
  shared/host-numerics/python/src/gemm_bindings.cpp
  shared/host-numerics/python/tests/test_host_numerics.py
  shared/host-numerics/python/tests/test_pointwise_oracle.py
  shared/host-numerics/src/backends/blas.cpp
  shared/host-numerics/src/backends/blocked.cpp
  shared/host-numerics/src/detail/gemm_invocation.hpp
  shared/host-numerics/src/detail/reference_gemm.hpp
  shared/host-numerics/src/gemm.cpp
  shared/host-numerics/src/gemm_validation.cpp
  shared/host-numerics/tests/blas_backend_test.cpp
  shared/host-numerics/tests/blocked_backend_test.cpp
  shared/host-numerics/tests/gemm_benchmark.cpp
  shared/host-numerics/tests/gemm_test_adapter.hpp
  shared/host-numerics/tests/host_numerics_test.cpp
  shared/host-numerics/tests/package/blas.cpp
  shared/host-numerics/tests/package/validation.cpp
  shared/rocroller/host/include/rocRoller/HostNumerics/HostReference.hpp
  shared/rocroller/host/src/HostReference.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-numerics): broadcast epilogue bias tensors
  projects/hipblaslt/clients/common/src/host_numerics/Epilogue.cpp
  projects/hipblaslt/tensilelite/client/src/host_numerics/GemmInvocationAdapter.cpp
  shared/host-numerics/include/roc/host_numerics/epilogue.hpp
  shared/host-numerics/python/src/operation_bindings.cpp
  shared/host-numerics/python/tests/test_host_numerics.py
  shared/host-numerics/python/tests/test_pointwise_oracle.py
  shared/host-numerics/src/detail/reference_epilogue.hpp
  shared/host-numerics/tests/host_numerics_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(hipblaslt): make MX host generation unconditional
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/clients/CMakeLists.txt
  projects/hipblaslt/clients/common/include/hipblaslt/host_numerics/HipblasltDataInitialization.hpp
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
  projects/hipblaslt/clients/common/src/host_numerics/DataInitialization.cpp
  projects/hipblaslt/clients/tests/src/host_numerics_gtest.cpp
  projects/hipblaslt/tensilelite/client/CMakeLists.txt
  projects/hipblaslt/tensilelite/client/include/TensileLite/Client/HostNumerics/DataInitializationHelpers.hpp
  projects/hipblaslt/tensilelite/client/src/DataInitialization.cpp
  projects/hipblaslt/tensilelite/tests/DataInit_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(rocroller): match full-file formatter
  shared/rocroller/host/src/HostDataGeneration.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(host-numerics): close NumPy GEMM oracle gaps
  shared/host-numerics/python/tests/test_pointwise_oracle.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-numerics): expose Python GEMM through tensors
  shared/host-numerics/python/roc_host_numerics/__init__.py
  shared/host-numerics/python/src/bindings.cpp
  shared/host-numerics/python/src/gemm_bindings.cpp
  shared/host-numerics/python/tests/test_host_numerics.py
  shared/host-numerics/python/tests/test_pointwise_oracle.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(host-numerics): preserve zero-extent no-op semantics
  projects/hipblaslt/tensilelite/client/src/host_numerics/GemmInvocationAdapter.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
  shared/host-numerics/python/tests/test_pointwise_oracle.py
  shared/host-numerics/src/backends/blas.cpp
  shared/host-numerics/src/backends/blocked.cpp
  shared/host-numerics/src/detail/reference_gemm.hpp
  shared/host-numerics/tests/blas_backend_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-numerics): internalize GEMM support queries
  shared/host-numerics/include/roc/host_numerics/backends/blas.hpp
  shared/host-numerics/include/roc/host_numerics/gemm.hpp
  shared/host-numerics/src/backends/blas.cpp
  shared/host-numerics/src/backends/blocked.cpp
  shared/host-numerics/src/detail/gemm_invocation.hpp
  shared/host-numerics/src/gemm.cpp
  shared/host-numerics/src/gemm_validation.cpp
  shared/host-numerics/tests/gemm_test_adapter.hpp
  shared/host-numerics/tests/package/validation.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-numerics): flatten GEMM options
  projects/hipblaslt/clients/bench/src/client_groupedgemm_fixed_mk.cpp
  projects/hipblaslt/clients/common/include/testing_matmul_batch_offset.hpp
  projects/hipblaslt/clients/common/src/host_numerics/HipblasltReferenceGemm.cpp
  projects/hipblaslt/clients/samples/19_hipblaslt_gemm_mix_precision_ext/sample_hipblaslt_gemm_mix_precision_ext.cpp
  projects/hipblaslt/tensilelite/client/src/host_numerics/GemmInvocationAdapter.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
  shared/host-numerics/include/roc/host_numerics/gemm.hpp
  shared/host-numerics/python/roc_host_numerics/__init__.py
  shared/host-numerics/python/src/gemm_bindings.cpp
  shared/host-numerics/src/backends/blas.cpp
  shared/host-numerics/src/backends/blocked.cpp
  shared/host-numerics/src/detail/reference_gemm.hpp
  shared/host-numerics/src/gemm.cpp
  shared/host-numerics/tests/blas_backend_test.cpp
  shared/host-numerics/tests/blocked_backend_test.cpp
  shared/host-numerics/tests/gemm_benchmark.cpp
  shared/host-numerics/tests/host_numerics_test.cpp
  shared/rocroller/host/src/HostReference.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(host-numerics): benchmark adaptive GEMM policy
  shared/host-numerics/tests/gemm_benchmark.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-numerics): keep GEMM execution tensor-centric
  shared/host-numerics/src/backends/blas.cpp
  shared/host-numerics/src/backends/blocked.cpp
  shared/host-numerics/src/detail/gemm_invocation.hpp
  shared/host-numerics/src/detail/reference_gemm.hpp
  shared/host-numerics/src/gemm.cpp
  shared/host-numerics/tests/blas_backend_test.cpp
  shared/host-numerics/tests/blocked_backend_test.cpp
  shared/host-numerics/tests/gemm_benchmark.cpp
  shared/host-numerics/tests/gemm_test_adapter.hpp
  shared/host-numerics/tests/host_numerics_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(host-numerics): cover scalar-like GEMM coefficients
  shared/host-numerics/python/tests/test_host_numerics.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-numerics): remove pointwise GEMM path
  projects/hipblaslt/tensilelite/client/CMakeLists.txt
  projects/hipblaslt/tensilelite/client/cpu_gemm_driver.cpp
  projects/hipblaslt/tensilelite/client/src/CMakeLists.txt
  projects/hipblaslt/tensilelite/client/src/host_numerics/GemmInvocationAdapter.cpp
  projects/hipblaslt/tensilelite/tests/CMakeLists.txt
  projects/hipblaslt/tensilelite/tests/ReferenceGemm_test.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceMXGemm_test.cpp
  projects/hipblaslt/tensilelite/tox.ini
  shared/host-numerics/include/roc/host_numerics/backends/blas.hpp
  shared/host-numerics/include/roc/host_numerics/gemm.hpp
  shared/host-numerics/python/src/bindings.cpp
  shared/host-numerics/python/src/gemm_bindings.cpp
  shared/host-numerics/python/tests/test_gemm_oracle.py
  shared/host-numerics/python/tests/test_host_numerics.py
  shared/host-numerics/src/backends/blas.cpp
  shared/host-numerics/src/backends/blocked.cpp
  shared/host-numerics/src/detail/blocked_gemm.hpp
  shared/host-numerics/src/detail/gemm_invocation.hpp
  shared/host-numerics/src/detail/reference_gemm.hpp
  shared/host-numerics/src/gemm.cpp
  shared/host-numerics/src/gemm_validation.cpp
  shared/host-numerics/tests/blas_backend_test.cpp
  shared/host-numerics/tests/blocked_backend_test.cpp
  shared/host-numerics/tests/gemm_benchmark.cpp
  shared/host-numerics/tests/host_numerics_test.cpp
  shared/host-numerics/tests/package/validation.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(rocroller): format generated input setup
  shared/rocroller/host/src/HostDataGeneration.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(rocroller): compute host GEMM directly
  shared/rocroller/client/src/gemm.cpp
  shared/rocroller/host/include/rocRoller/HostNumerics/HostReference.hpp
  shared/rocroller/host/src/HostReference.cpp
  shared/rocroller/host/test/HostReferenceTest.cpp
  shared/rocroller/test/unit/ConversionTest.cpp
  shared/rocroller/test/unit/GEMMFusion.cpp
  shared/rocroller/test/unit/GEMMTestBase.hpp
  shared/rocroller/test/unit/MatrixMultiplyTestBase.hpp
  shared/rocroller/test/unit/MatrixMultiplyTestGFX9.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-numerics): make adaptive GEMM the default
  projects/hipblaslt/tensilelite/client/include/TensileLite/Client/HostNumerics/Reference.hpp
  shared/host-numerics/README.md
  shared/host-numerics/python/roc_host_numerics/__init__.py
  shared/host-numerics/python/src/gemm_bindings.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(hipblaslt): simplify matmul validation interface
  projects/hipblaslt/clients/common/include/hipblaslt/host_numerics/MatmulValidation.hpp
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
  projects/hipblaslt/clients/common/src/host_numerics/MatmulValidation.cpp
  projects/hipblaslt/clients/tests/src/matmul_validation_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocroller): use safe YAML loading
  shared/rocroller/client/test_gemm_client.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(rocroller): match CI formatter
  shared/rocroller/host/include/rocRoller/HostNumerics/HostReference.hpp
  shared/rocroller/host/src/HostDataGeneration.cpp
  shared/rocroller/test/unit/ConversionTest.cpp
  shared/rocroller/test/unit/GEMMTestBase.hpp
  shared/rocroller/test/unit/MatrixMultiplyTestBase.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(host-numerics): guard MX scale segment order
  shared/host-numerics/python/tests/test_gemm_oracle.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-numerics): remove legacy comparison modes
  projects/hipblaslt/clients/bench/src/client_groupedgemm_fixed_mk.cpp
  projects/hipblaslt/clients/common/include/hipblaslt/host_numerics/HostComparison.hpp
  projects/hipblaslt/clients/common/include/hipblaslt/host_numerics/MatmulValidation.hpp
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
  projects/hipblaslt/clients/common/src/host_numerics/MatmulValidation.cpp
  projects/hipblaslt/clients/tests/src/host_numerics_gtest.cpp
  projects/hipblaslt/tensilelite/client/include/TensileLite/Client/HostNumerics/GemmInvocationAdapter.hpp
  projects/hipblaslt/tensilelite/client/include/TensileLite/Client/HostNumerics/HostNumericsBridge.hpp
  projects/hipblaslt/tensilelite/client/include/TensileLite/Client/HostNumerics/Reference.hpp
  projects/hipblaslt/tensilelite/client/src/host_numerics/GemmInvocationAdapter.cpp
  projects/hipblaslt/tensilelite/client/src/host_numerics/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceGemm_test.cpp
  shared/host-numerics/include/roc/host_numerics/backends/blas.hpp
  shared/host-numerics/include/roc/host_numerics/comparison.hpp
  shared/host-numerics/include/roc/host_numerics/gemm.hpp
  shared/host-numerics/python/src/comparison_bindings.cpp
  shared/host-numerics/python/src/gemm_bindings.cpp
  shared/host-numerics/python/tests/test_gemm_oracle.py
  shared/host-numerics/python/tests/test_host_numerics.py
  shared/host-numerics/src/backends/blas.cpp
  shared/host-numerics/src/comparison.cpp
  shared/host-numerics/src/detail/comparison_common.hpp
  shared/host-numerics/src/gemm.cpp
  shared/host-numerics/tests/comparison_benchmark.cpp
  shared/host-numerics/tests/gemm_benchmark.cpp
  shared/host-numerics/tests/host_numerics_test.cpp
  shared/host-numerics/tests/package/validation.cpp
  shared/rocroller/host/src/HostReference.cpp
  shared/rocroller/host/test/HostReferenceTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(host-numerics): decode GEMM operands by tile
  shared/host-numerics/src/backends/blocked.cpp
  shared/host-numerics/src/detail/reference_common.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-numerics): use all-close comparison terminology
  projects/hipblaslt/clients/common/include/hipblaslt/host_numerics/HostComparison.hpp
  projects/hipblaslt/clients/common/include/hipblaslt/host_numerics/MatmulValidation.hpp
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
  projects/hipblaslt/clients/common/src/host_numerics/MatmulValidation.cpp
  projects/hipblaslt/clients/tests/src/host_numerics_gtest.cpp
  projects/hipblaslt/clients/tests/src/ulp_gtest.cpp
  projects/hipblaslt/tensilelite/client/src/ReferenceValidator.cpp
  projects/hipblaslt/tensilelite/tests/HostNumericsBridge_test.cpp
  shared/host-numerics/include/roc/host_numerics/comparison.hpp
  shared/host-numerics/python/src/comparison_bindings.cpp
  shared/host-numerics/python/tests/test_host_numerics.py
  shared/host-numerics/src/comparison.cpp
  shared/host-numerics/src/detail/comparison_common.hpp
  shared/host-numerics/tests/comparison_benchmark.cpp
  shared/host-numerics/tests/host_numerics_test.cpp
  shared/rocroller/host/src/HostReference.cpp
  shared/rocroller/test/common/include/common/Utilities.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-numerics): make tensor operations easier to compose
  projects/hipblaslt/clients/bench/src/client_groupedgemm_fixed_mk.cpp
  projects/hipblaslt/clients/common/include/testing_matmul_batch_offset.hpp
  projects/hipblaslt/clients/common/src/host_numerics/HipblasltReferenceGemm.cpp
  projects/hipblaslt/clients/samples/19_hipblaslt_gemm_mix_precision_ext/sample_hipblaslt_gemm_mix_precision_ext.cpp
  projects/hipblaslt/tensilelite/client/include/TensileLite/Client/HostNumerics/GemmInvocationAdapter.hpp
  projects/hipblaslt/tensilelite/client/src/host_numerics/GemmInvocationAdapter.cpp
  shared/host-numerics/README.md
  shared/host-numerics/examples/tutorial.cpp
  shared/host-numerics/examples/tutorial.py
  shared/host-numerics/include/roc/host_numerics/backends/blas.hpp
  shared/host-numerics/include/roc/host_numerics/comparison.hpp
  shared/host-numerics/include/roc/host_numerics/epilogue.hpp
  shared/host-numerics/include/roc/host_numerics/gemm.hpp
  shared/host-numerics/include/roc/host_numerics/scalar.hpp
  shared/host-numerics/include/roc/host_numerics/tensor.hpp
  shared/host-numerics/include/roc/host_numerics/tensor_operations.hpp
  shared/host-numerics/python/CMakeLists.txt
  shared/host-numerics/python/roc_host_numerics/__init__.py
  shared/host-numerics/python/src/bindings.cpp
  shared/host-numerics/python/src/bindings.hpp
  shared/host-numerics/python/src/comparison_bindings.cpp
  shared/host-numerics/python/src/gemm_bindings.cpp
  shared/host-numerics/python/src/operation_bindings.cpp
  shared/host-numerics/python/tests/test_host_numerics.py
  shared/host-numerics/src/backends/blas.cpp
  shared/host-numerics/src/comparison.cpp
  shared/host-numerics/src/detail/gemm_invocation.hpp
  shared/host-numerics/src/detail/tensor_operations.hpp
  shared/host-numerics/src/epilogue.cpp
  shared/host-numerics/src/gemm.cpp
  shared/host-numerics/src/tensor_operations.cpp
  shared/host-numerics/tests/check_core_boundary.cmake
  shared/host-numerics/tests/host_numerics_test.cpp
  shared/host-numerics/tests/package/validation.cpp
  shared/host-numerics/tests/scalar_codec_test.cpp
  shared/rocroller/host/src/HostReference.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-numerics): use rank-zero tensors for scalar values
  projects/hipblaslt/clients/common/include/hipblaslt/host_numerics/HipblasltReferenceGemm.hpp
  projects/hipblaslt/clients/common/include/hipblaslt/host_numerics/Types.hpp
  projects/hipblaslt/clients/common/src/host_numerics/Epilogue.cpp
  projects/hipblaslt/clients/common/src/host_numerics/HipblasltReferenceGemm.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceGemm_test.cpp
  shared/host-numerics/include/roc/host_numerics/epilogue.hpp
  shared/host-numerics/include/roc/host_numerics/gemm.hpp
  shared/host-numerics/include/roc/host_numerics/linear_combination.hpp
  shared/host-numerics/include/roc/host_numerics/scalar.hpp
  shared/host-numerics/include/roc/host_numerics/tensor.hpp
  shared/host-numerics/python/src/bindings.cpp
  shared/host-numerics/python/src/bindings.hpp
  shared/host-numerics/python/src/gemm_bindings.cpp
  shared/host-numerics/src/detail/reference_common.hpp
  shared/host-numerics/tests/blocked_backend_test.cpp
  shared/host-numerics/tests/gemm_benchmark.cpp
  shared/host-numerics/tests/host_numerics_test.cpp
  shared/host-numerics/tests/package/core_only/main.cpp
  shared/host-numerics/tests/scalar_codec_test.cpp
  shared/host-numerics/tests/tensor_core_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): size overlapping batched matrices safely
  projects/hipblaslt/clients/common/include/hipblaslt/client/MatmulProblem.hpp
  projects/hipblaslt/clients/common/src/MatmulProblem.cpp
  projects/hipblaslt/clients/tests/src/host_numerics_gtest.cpp
  projects/hipblaslt/clients/tests/src/matmul_problem_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(host-numerics): satisfy repository formatter
  shared/host-numerics/include/roc/host_numerics/tensor.hpp
  shared/host-numerics/src/comparison.cpp
  shared/host-numerics/tests/comparison_benchmark.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(hipblaslt): pass tensors to matrix transform reference
  projects/hipblaslt/clients/bench/src/client_extop_matrixtransform.cpp
  projects/hipblaslt/clients/common/include/hipblaslt/host_numerics/MatrixTransformReference.hpp
  projects/hipblaslt/clients/tests/src/host_numerics_gtest.cpp
  projects/hipblaslt/clients/tests/src/matrix_transform_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): cover LDS padding fallbacks
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_LdsPadding.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
