Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(hipdnn): implement ONNX adapter stub per RFC 0019 §7.3
  projects/hipdnn/backend/src/CMakeLists.txt
  projects/hipdnn/backend/src/heuristics/uhd/EngineRegistry.cpp
  projects/hipdnn/backend/src/heuristics/uhd/adapters/OnnxAdapter.cpp
  projects/hipdnn/backend/src/heuristics/uhd/adapters/OnnxAdapter.hpp
  projects/hipdnn/backend/tests/CMakeLists.txt
  projects/hipdnn/backend/tests/heuristics/TestOnnxAdapter.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipdnn): implement §13 trace retrieval API for observability
  projects/hipdnn/backend/src/heuristics/uhd/UhdBuiltIn.cpp
  projects/hipdnn/backend/src/plugin/HeuristicPlugin.hpp
  projects/hipdnn/backend/tests/CMakeLists.txt
  projects/hipdnn/backend/tests/heuristics/TestUhdTraceRetrieval.cpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/HeuristicsPluginApi.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipdnn): add RFC 0019 §8 FLOP/byte annotations to operation schemas
  projects/hipdnn/flatbuffers_sdk/schemas/convolution_bwd_attributes.fbs
  projects/hipdnn/flatbuffers_sdk/schemas/convolution_fwd_attributes.fbs
  projects/hipdnn/flatbuffers_sdk/schemas/convolution_wrw_attributes.fbs
  projects/hipdnn/flatbuffers_sdk/schemas/matmul_attributes.fbs
  projects/hipdnn/flatbuffers_sdk/schemas/sdpa_attributes.fbs
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipdnn): implement RFC 0019 §9.2 model hash validation
  projects/hipdnn/backend/src/heuristics/uhd/FeatureExtractor.cpp
  projects/hipdnn/backend/src/heuristics/uhd/Sha256.cpp
  projects/hipdnn/backend/src/heuristics/uhd/Sha256.hpp
  projects/hipdnn/backend/src/heuristics/uhd/adapters/TreeDataAdapter.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix a bug in passing dtypes to WGM routine
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): peel activation-none path in bf16 subtile epilogue
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): keep the subtile interior peel out of the PLSIN fused NLL store
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix peel ragged-M hang: co-locate N-group skip label + SrdD inc with stores
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Harden single-DU barrier elision: add codegen test + LDS-invariant assert
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtile_prestore_barrier.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Elide redundant pre-store barrier on single-DU subtile epilogue (sol107)
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): pipeline ds_bpermute store-transpose in bf16 subtile epilogue
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

revert(tensilelite): drop the activation-none peel from the subtile epilogue
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocke): document C++ touchpoints for adding an IR op
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/development/extending.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): Enable CI coverage for GEKO (#10176)
  .github/scripts/component_ci.py
  .github/workflows/component-ci-geko.yml
  .github/workflows/component-ci.yml
  codecov.yml
  projects/hipblaslt/utilities/geko/README.md
  projects/hipblaslt/utilities/geko/geko/concurrency/utils.py
  projects/hipblaslt/utilities/geko/geko/search.py
  projects/hipblaslt/utilities/geko/pyproject.toml
  projects/hipblaslt/utilities/geko/test_categories.yaml
  projects/hipblaslt/utilities/geko/tests/config_generator/test_workflow.py
  projects/hipblaslt/utilities/geko/tests/test_bench_core_unit.py
  projects/hipblaslt/utilities/geko/tests/test_concurrency_utils_unit.py
  projects/hipblaslt/utilities/geko/tests/test_paths_unit.py
  projects/hipblaslt/utilities/geko/tox.ini
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

test(rocsparse): rebalance sddmm/gebsrmv quick vs pre_checkin for time budget
  projects/rocsparse/clients/tests/test_gebsrmv.yaml
  projects/rocsparse/clients/tests/test_sddmm.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci: move draft-PR CI skip from YAML into therock_configure_ci.py
  .github/scripts/tests/therock_configure_ci_test.py
  .github/scripts/therock_configure_ci.py
  .github/workflows/therock-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(hipblaslt): scope TensileLogic validation to enabled architectures (#9218)
  projects/hipblaslt/cmake/HipBLASLtCodegen.cmake
  projects/hipblaslt/tensilelite/Tensile/CustomYamlLoader.py
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/Run.py
  projects/hipblaslt/tensilelite/Tensile/TensileLogic/ParseArguments.py
  projects/hipblaslt/tensilelite/Tensile/TensileLogic/Run.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileLogic/__snapshots__/test_parsearguments_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_TensileLogic_Run.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocsparse): correct Blocked-ELL value-array length in rocsparse_spmat_scale (ROCM-28423)
  projects/rocsparse/CHANGELOG.md
  projects/rocsparse/clients/include/utility.hpp
  projects/rocsparse/library/src/extra/rocsparse_spmat_scale.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

rename ck-dsl to rocke, update new artifact stats in readme
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/portable_ir/README.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/portable_ir/__init__.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/portable_ir/drivers/README.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/portable_ir/drivers/roll_kernel.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/portable_ir/examples/export_mha.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci: also auto-retry per-PR TheRock CI on failed/flaky jobs (#10763)
  .github/workflows/auto-retry-failed.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

wip
  projects/rocsparse/clients/tests/testing.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(ck-tile): extract shared bridge infrastructure into bridge_common.py
  projects/composablekernel/dispatcher/bindings/ctypes/grouped_gemm_rowcolquant_ctypes_lib.cpp
  projects/composablekernel/dispatcher/bindings/ctypes/grouped_gemm_tensorquant_ctypes_lib.cpp
  projects/composablekernel/dispatcher/python/bridge_common.py
  projects/composablekernel/dispatcher/python/grouped_gemm_rowcolquant_utils.py
  projects/composablekernel/dispatcher/python/grouped_gemm_tensorquant_utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

restore AlgoGetHeuristic call when no algo data
  projects/rocblas/clients/gtest/get_solutions_gtest.yaml
  projects/rocblas/library/src/hipblaslt_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix solution index status to match Tensile
  projects/rocblas/library/src/hipblaslt_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(stinkytofu): update gfx1250 entry prologue to s_mov_b64/v_nop/prefetch
  shared/stinkytofu/include/stinkytofu/transforms/asm/InsertInitialUnclausedVmemPass.hpp
  shared/stinkytofu/src/pipeline/backend/Gfx1250Backend.cpp
  shared/stinkytofu/src/transforms/asm/InsertInitialUnclausedVmemPass.cpp
  shared/stinkytofu/src/transforms/asm/SwInstructionPrefetchAbsDynamicPass.cpp
  shared/stinkytofu/src/transforms/asm/SwInstructionPrefetchAbsStaticPass.cpp
  shared/stinkytofu/tests/filecheck/InsertInitialUnclausedVmemPass_test.stir
  shared/stinkytofu/tests/unit/asm/SwInstructionPrefetchAbsDynamicPassTest.cpp
  shared/stinkytofu/tests/unit/asm/SwInstructionPrefetchAbsStaticPassTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hipthreads): link hipthreads.lib by absolute path on Windows
  projects/hipthreads/test/lit.cfg
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test name and set fixes
  projects/rocblas/clients/gtest/get_solutions_gtest.cpp
  projects/rocblas/clients/gtest/get_solutions_gtest.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rfc): align 0017/0018/0020 and move the UED-row material into 0020
  projects/hipdnn/docs/rfcs/0017_UniversalKernelDescriptor.md
  projects/hipdnn/docs/rfcs/0018_UniversalMatchDescriptor.md
  projects/hipdnn/docs/rfcs/0020_UniversalEngineDescriptor.md
  projects/hipdnn/docs/rfcs/WIP_0017_0018_Alignment_Plan.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): rebalance TDMSplit increment skipped by PAP primed path
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_bgemm_tdm_split_pap.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_mxf8gemm_tdm_split_pap.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(fft-test): skip tests that may overflow signed 32-bit index
  projects/hipfft/shared/fft_params.h
  projects/rocfft/shared/fft_params.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(miopen): align LRN/LayerNorm grids and guard OOB threads on gfx1250 (#10251)
  projects/miopen/src/hip/mloNorm.cpp
  projects/miopen/src/kernels/MIOpenLRNBwd.cpp
  projects/miopen/src/kernels/MIOpenLRNFwd.cpp
  projects/miopen/src/kernels/MIOpenLayerNorm.cpp
  projects/miopen/src/solver/layernorm/backward_layernorm.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): address PR review feedback for forward LSE stats output
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaFwdPlanBuilder.cpp
  dnn-providers/hip-kernel-provider/src/integration_tests/asm_sdpa_engine/IntegrationGpuSdpaForward.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/AsmSdpaConfigHelpers.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/AsmSdpaConfigHelpers.hpp
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/ConfigHelpers.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/ConfigHelpers.hpp
  dnn-providers/integration-tests/src/integration-tests/sdpa/IntegrationCpuSdpaFwdBwdChained.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ci): support both flat and per-target-runtime-dir libomp layouts
  .github/scripts/run_rocjitsu_tensilelite_test.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

address windows bug
  dnn-providers/hip-kernel-provider/rocke/platform/AGENTS.md
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/lower_llvm/debug.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/include/rocke/py_path_split.h
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/utilities/tools/wavescope/README.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/utilities/tools/wavescope/emit_inline_frames.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_debug_info.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/tools/test_wavescope_sidecar.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

- Clean up. - Fix issue with rtc test harness.
  projects/rocfft/library/src/rtc_test_harness.cpp
  projects/rocfft/library/src/tree_node_rtc.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

- WIP.
  projects/rocfft/library/src/include/tree_node.h
  projects/rocfft/library/src/kargs.cpp
  projects/rocfft/library/src/tree_node_rtc.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix test case
  shared/stinkytofu/include/stinkytofu/hardware/HWModel.hpp
  shared/stinkytofu/src/hardware/HWModel.cpp
  shared/stinkytofu/src/transforms/asm/RemoveDscntPass.cpp
  shared/stinkytofu/tests/unit/asm/RemoveDscntPassTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rpp] adding new install docs for rpp with the rock (#8377)
  projects/rpp/docs/index.rst
  projects/rpp/docs/install/rpp-build.rst
  projects/rpp/docs/install/rpp-install.rst
  projects/rpp/docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocsparse): improve unit_check_near and fix failures on gfx1250
  projects/hipsparse/clients/common/unit.cpp
  projects/hipsparse/clients/include/testing_csric02.hpp
  projects/hipsparse/clients/include/unit.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rpp): update Dilate and Erode so that backend determines use of _host functions (#10295)
  projects/rpp/api/rppt_tensor_morphological_operations.h
  projects/rpp/src/modules/tensor/rppt_tensor_morphological_operations.cpp
  projects/rpp/utilities/test_suite/HOST/Tensor_image_host.cpp
  projects/rpp/utilities/test_suite/OPENCV/benchmarks/rpp_benchmarks.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
