Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

Enable StinkyTofu SW instruction prefetch for subtile kernels
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn skills): port wheel provisioning to Python; add external-integration test discovery
  projects/hipdnn/scripts/windows/wheel_build_setup.ps1
  projects/hipdnn/tools/ai/skills/hipdnn-superbuild-test/SKILL.md
  projects/hipdnn/tools/ai/skills/hipdnn-superbuild-test/scripts/cmake_run.py
  projects/hipdnn/tools/ai/skills/hipdnn-superbuild-test/scripts/discover_test_targets.py
  projects/hipdnn/tools/ai/skills/hipdnn-superbuild/SKILL.md
  projects/hipdnn/tools/ai/skills/hipdnn-superbuild/scripts/windows_rocm_setup.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[rocSPARSE] Remove redundant __threadfence() in csrilu0 hash boost path
  projects/rocsparse/library/src/precond/csrilu0/rocsparse_csrilu0_kernel_hash.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke/attention): address review comments (D256 gfx950 prefill)
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx950/attention/prefill/benchmark_prefill2d_live.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx950/attention/prefill/parity_unified_attention.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx950/attention_tiled_2d.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

he2hb: add new exception handling
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sy2sb_he2hb.cpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sy2sb_he2hb.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix compiler issue
  projects/composablekernel/include/ck/tensor_operation/gpu/block/blockwise_gemm_pipeline_xdlops_blockscale_b_preshuffle_v1.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/block/blockwise_gemm_pipeline_xdlops_moe_blockscale_b_preshuffle_v3.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/block/blockwise_gemm_pipeline_xdlops_v3_mx_bpreshuffle.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocalution): add rocalution to therock_matrix.py (#8457)
  .github/scripts/therock_matrix.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Adding additional flags and cmake_options
  .github/scripts/tests/therock_matrix_test.py
  .github/scripts/therock_matrix.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

adding a check for rejecting only gfx950
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtile_miwave_even.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(origami): replace SK5 hybrid-mode table with learned rule (#9209)
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/tests/CuCount_test.cpp
  shared/origami/include/origami/heuristics.hpp
  shared/origami/include/origami/streamk.hpp
  shared/origami/src/origami/streamk.cpp
  shared/origami/tests/test_streamk.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Post-analysis cleanup
  projects/hipdnn/CMakeLists.txt
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/cudnn_frontend/graph_interface.h
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/cudnn_frontend/sdpa_attributes.h
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/cudnn_frontend_utils.h
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/cudnn_frontend_version.h
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/detail/error_recorder.h
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/detail/graph_wrapper.h
  projects/hipdnn/frontend/tests/CudnnShimTestSupport.hpp
  projects/hipdnn/frontend/tests/TestCudnnShimError.cpp
  projects/hipdnn/frontend/tests/TestCudnnShimGraph.cpp
  projects/hipdnn/frontend/tests/TestCudnnShimGraphSDPA.cpp
  projects/hipdnn/frontend/tests/fake_backend/MockBackendFixture.hpp
  projects/hipdnn/samples/CMakeLists.txt
  projects/hipdnn/samples/cudnn_shim/SingleTensorRoundTrip.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci(coverage): generate the report from the fetched build, drop coverage-objects staging
  .github/workflows/therock-ci-coverage.yml
  .github/workflows/therock-test-component.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): add experimental-library generation tooling for TensileLite (#8826)
  projects/hipblaslt/tensilelite/Tensile/Common/Architectures.py
  projects/hipblaslt/tensilelite/Tensile/ExperimentalLibrary.py
  projects/hipblaslt/tensilelite/Tensile/TensileLibLogicToYaml.py
  projects/hipblaslt/tensilelite/Tensile/Tests/extras/test_experimental_library.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_TensileLibLogicToYaml.py
  projects/hipblaslt/tensilelite/pytest.ini
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocke): note the kpack zstd level-3 parity choice
  dnn-providers/hip-kernel-provider/rocke/library/aot/tools/rocke_kpack_pack.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocroller): replace rocm-smi with amd-smi in rrperf (#8965)
  shared/rocroller/scripts/lib/rrperf/__init__.py
  shared/rocroller/scripts/lib/rrperf/rocm_control.py
  shared/rocroller/scripts/lib/rrperf/run.py
  shared/rocroller/scripts/lib/rrperf/specs.py
  shared/rocroller/scripts/lib/rrperf/test/test_specs_amdsmi.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[do not merge] math-ci origami testing
  shared/origami/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update projects/hipsparse/CHANGELOG.md
  projects/hipsparse/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update projects/hipsparse/CHANGELOG.md
  projects/hipsparse/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci(coverage): drop explanatory comments and reviewer names for finalization
  .github/workflows/therock-ci-coverage.yml
  .github/workflows/therock-test-component.yml
  projects/hiprand/test_categories_coverage.yaml
  projects/rocblas/CMakeLists.txt
  projects/rocblas/clients/gtest/test_categories_coverage.yaml
  projects/rocfft/CMakeLists.txt
  projects/rocfft/clients/tests/test_categories_coverage.yaml
  projects/rocrand/CMakeLists.txt
  projects/rocrand/test/test_categories_coverage.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci(hipdnn): split superbuild workflow changes
  .github/workflows/hipdnn-superbuild-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci(hipdnn): validate Python wheel in superbuild
  .github/workflows/hipdnn-superbuild-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

move rtc_helper_crash testcase to internal test
  projects/rocfft/clients/tests/CMakeLists.txt
  projects/rocfft/clients/tests/unit_test.cpp
  projects/rocfft/library/src/tests/CMakeLists.txt
  projects/rocfft/library/src/tests/rtc_helper_crash.cpp
  projects/rocfft/library/src/tests/rtc_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(hipdnn): drop frontend pass-by-value execute filter; leave presence to the provider
  projects/hipdnn/docs/rfcs/0016_RuntimePassByValueTensors.md
  projects/hipdnn/frontend/include/hipdnn_frontend/Graph.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/DescriptorHelpers.hpp
  projects/hipdnn/frontend/tests/CMakeLists.txt
  projects/hipdnn/frontend/tests/TestDescriptorHelpers.cpp
  projects/hipdnn/frontend/tests/TestGraph.cpp
  projects/hipdnn/frontend/tests/TestPassByValueExecuteFilter.cpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/RuntimePassByValue.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

use miopen- targets
  projects/miopen/test/CMakeLists.txt
  projects/miopen/test/gtest/dapper.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hipBLASLt gfx1250: add origami tuning as a Prediction library (Origami logic dir)
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Origami/gfx1250_Cijk_Ailk_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Origami/gfx1250_Cijk_Ailk_Bjlk_S_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Origami/gfx1250_Cijk_Ailk_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Origami/gfx1250_Cijk_Ailk_Bljk_S_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Origami/gfx1250_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Origami/gfx1250_Cijk_Alik_Bljk_F4BS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Origami/gfx1250_Cijk_Alik_Bljk_S_B_BiasS_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add miopen-
  projects/miopen/test/gtest/dapper.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

he2hb: add uplo option
  projects/rocsolver/clients/common/auxiliary/testing_sy2sb_he2hb.hpp
  projects/rocsolver/clients/common/misc/rocsolver.hpp
  projects/rocsolver/clients/gtest/auxiliary/sy2sb_he2hb_gtest.cpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sy2sb_he2hb.cpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sy2sb_he2hb.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add tests for cusparse backend
  projects/hipsparse/clients/tests/cuda/12.8/CMakeLists.txt
  projects/hipsparse/clients/tests/cuda/12.8/hipsparse_test.yaml
  projects/hipsparse/clients/tests/cuda/12.8/test_dense_to_sparse_bell.yaml
  projects/hipsparse/clients/tests/cuda/13/CMakeLists.txt
  projects/hipsparse/clients/tests/cuda/13/hipsparse_test.yaml
  projects/hipsparse/clients/tests/cuda/13/test_dense_to_sparse_bell.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hipdnn): close the admit direction of the RFC 0016 version filter
  projects/hipdnn/cmake/TestPluginNames.cmake
  projects/hipdnn/tests/frontend/CMakeLists.txt
  projects/hipdnn/tests/frontend/IntegrationPassByValueVersionFilter.cpp
  projects/hipdnn/tests/test_plugins/CMakeLists.txt
  projects/hipdnn/tests/test_plugins/TestPassByValuePlugin.cpp
  projects/hipdnn/tests/test_plugins/TestPluginConstants.hpp
  projects/hipdnn/tests/test_plugins/TestPluginEngineIdMap.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[Tensile] Simplify f8 guard-band sentinel to unconditional NaN
  shared/tensile/Tensile/Source/client/include/DataInitialization.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hkp): comment out empty comprehensive/full tiers in HIP_MLOPS integration categories
  dnn-providers/hip-kernel-provider/HIP_MLOPS_ENGINE_test_categories_integration.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Expand and enable dense_to_sparse_csr tests
  projects/hipsparse/clients/tests/cuda/12.8/test_dense_to_sparse_csr.yaml
  projects/hipsparse/clients/tests/cuda/13/test_dense_to_sparse_csr.yaml
  projects/hipsparse/clients/tests/rocm/test_dense_to_sparse_csr.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipdnn): reconcile RFC 0016 §4.9 stale filter references with no-filter model
  projects/hipdnn/docs/rfcs/0016_RuntimePassByValueTensors.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocThrust] Fix over-read and NULL deref in __hipstdpar_realloc
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/interpose_allocations_v0.hpp
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/interpose_allocations_v1.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): derive StreamK work-queue count from per-arch XCD count
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_streamk_work_stealing.py
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/hardware_caps.hpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/tests/CuCount_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(streamk): add StreamK-component PAP next-iteration seam (Phase 0)
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_PrefetchAcrossPersistent.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(python): handle ml_dtypes wire-buffer in from_numpy/to_numpy/copy_to_host
  projects/hipblaslt/python/examples/bf16_matmul.py
  projects/hipblaslt/python/hipblaslt/__init__.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Adjust tests
  projects/hipsparse/clients/tests/cuda/12.8/test_dense_to_sparse_csr.yaml
  projects/hipsparse/clients/tests/cuda/13/test_dense_to_sparse_csr.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hipdnn): fix TestTensorValueAttributes comment + tautology, add half/bfloat16 round-trip
  projects/hipdnn/frontend/tests/TestTensorValueAttributes.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(streamk): enable PrefetchAcrossPersistent for StreamK=4 (dynamic)
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
