Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

feat(hipblaslt): match USO solution selection to launch gate
  projects/hipblaslt/clients/tests/src/row_uniformity_gtest.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/include/Tensile/GranularitySelectionLibrary.hpp
  projects/hipblaslt/tensilelite/include/Tensile/MLPClassificationLibrary.hpp
  projects/hipblaslt/tensilelite/include/Tensile/PredictionLibrary.hpp
  projects/hipblaslt/tensilelite/include/Tensile/SingleSolutionLibrary.hpp
  projects/hipblaslt/tensilelite/include/Tensile/SolutionLibrary.hpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): distribute Stream-K extra iters within each tile
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/Contractions.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/ValidParameters/test_mut_ValidParameters_validateInternalSupportParams_char.py
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Serialization/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): drop duplicate releaseStreamKConstSgpr
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): report why no solution was found under uniform summation order
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Debug.hpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/src/Debug.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): admit SK3 parallel in CuCount USO steering fixture
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/tests/CuCount_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): admit row-uniform Stream-K parallel under coherence
  projects/hipblaslt/clients/tests/src/row_uniformity_gtest.cpp
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/tests/CuCount_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): fall back to tree reduction when Stream-K grid equals tiles
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(tensilelite): make coherence grid-steering comments self-contained
  projects/hipblaslt/clients/tests/src/row_uniformity_gtest.cpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/tests/CuCount_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(hipblaslt): rename Stream-K coherence identifiers to uniform summation order
  projects/hipblaslt/clients/tests/src/row_uniformity_gtest.cpp
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/tests/CuCount_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix for pre-commit clang-format
  projects/rpp/src/include/common/cpu/rpp_cpu_simd_load_store.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

- Fix for lenghts above 32-bit.
  projects/rocfft/library/src/device/generator/fftgenerator.h
  projects/rocfft/library/src/device/generator/stockham_gen_2d.h
  projects/rocfft/library/src/device/generator/stockham_gen_base.h
  projects/rocfft/library/src/device/generator/stockham_gen_cc.h
  projects/rocfft/library/src/device/generator/stockham_gen_cr.h
  projects/rocfft/library/src/device/generator/stockham_gen_rc.h
  projects/rocfft/library/src/device/generator/stockham_gen_rr.h
  projects/rocfft/library/src/device/generator/stockham_pp_gen_cc.h
  projects/rocfft/library/src/device/generator/stockham_pp_gen_rr.h
  projects/rocfft/library/src/include/kargs.h
  projects/rocfft/library/src/kargs.cpp
  projects/rocfft/library/src/rtc_bluestein_gen.cpp
  projects/rocfft/library/src/rtc_realcomplex_gen.cpp
  projects/rocfft/library/src/rtc_transpose_gen.cpp
  projects/rocfft/library/src/rtc_transpose_kernel.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

- Clang.
  projects/rocfft/library/src/kargs.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(miopen) conv failure on xnack-unsupported gfx9 APUs (gfx90c) (#11211)
  projects/miopen/src/comgr.cpp
  projects/miopen/src/hip/gcn_asm_utils.cpp
  projects/miopen/src/include/miopen/fusion/utils.hpp
  projects/miopen/src/include/miopen/target_properties.hpp
  projects/miopen/src/solver/conv/conv_asm_1x1u.cpp
  projects/miopen/src/solver/conv/conv_asm_1x1u_stride2.cpp
  projects/miopen/src/solver/conv/conv_asm_3x3u.cpp
  projects/miopen/src/solver/conv/conv_asm_dir_BwdWrW1x1.cpp
  projects/miopen/src/solver/conv/conv_asm_dir_BwdWrW3x3.cpp
  projects/miopen/src/solver/conv/conv_winoRxS.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update TheRock ref to 4ae4d31 (baseline: 33154245205)
  .github/actions/ci-env/action.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): take the toolchain's hipcc directory as a hint
  dnn-providers/hip-kernel-provider/descriptor-packaging/cmake/HkpPackaging.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): make a build that packs no archives say so
  .github/workflows/hipdnn-superbuild-ci.yml
  dnn-providers/hip-kernel-provider/descriptor-packaging/cmake/HkpPackaging.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): bound a kpack entry's declared size before trusting it
  dnn-providers/hip-kernel-provider/src/compilation/KpackArchive.cpp
  dnn-providers/hip-kernel-provider/src/compilation/KpackArchive.hpp
  dnn-providers/hip-kernel-provider/src/tests/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/tests/compilation/TestKpackArchive.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(integration-tests): claim scratch directories instead of naming fixed ones
  dnn-providers/integration-tests/src/harness/ScratchDirectory.hpp
  dnn-providers/integration-tests/tests/CMakeLists.txt
  dnn-providers/integration-tests/tests/TestBundleDiscovery.cpp
  dnn-providers/integration-tests/tests/TestBundleMetadata.cpp
  dnn-providers/integration-tests/tests/TestBundleVerificationHarness.cpp
  dnn-providers/integration-tests/tests/TestErrorPaths.cpp
  dnn-providers/integration-tests/tests/TestScratchDirectory.cpp
  dnn-providers/integration-tests/tests/TestSupportClaims.cpp
  dnn-providers/integration-tests/tests/TestVerificationModePaths.cpp
  dnn-providers/integration-tests/tests/TestVerificationPaths.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(test_sdk): claim scan directories instead of naming fixed ones
  projects/hipdnn/test_sdk/tests/utilities/TestLoadGraphAndTensors.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(hip-kernel-provider): lift hipcc discovery out of the packaging function
  dnn-providers/hip-kernel-provider/descriptor-packaging/cmake/HkpPackaging.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(plugin_sdk): report why benchmarking found no buildable kernel
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/GenericPlanBuilder.hpp
  projects/hipdnn/plugin_sdk/tests/ingestor/TestGenericPlanBuilder.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): do not trust an unwritten device ordinal from hipStreamGetDevice
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaFwdPlanBuilder.cpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/HandleDeviceResolver.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

heevd: tune kd, nb, switch sizes
  projects/rocsolver/library/src/include/ideal_sizes.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipfft): reject zero lengths and batch in plan creation instead of hanging (#11276)
  projects/hipfft/CHANGELOG.md
  projects/hipfft/clients/tests/simple_test.cpp
  projects/hipfft/library/src/amd_detail/hipfft.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipthreads] Add requirements-test.txt for installing lit
  projects/hipthreads/.github/workflows/ci.yml
  projects/hipthreads/test/requirements-test.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipthreads] Add requirements-test.txt for installing lit
  projects/hipthreads/.github/workflows/ci.yml
  projects/hipthreads/test/requirements-test.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(miopen): use int32 output descriptor for convint8 driver
  projects/miopen/driver/conv_driver.hpp
  projects/miopen/test/gtest/miopendriver_int8_output_descriptor.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[TensileLite] PLSIN: support arbitrary alpha in fused store
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Route runtime bias away from PLSIN
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

initial gfx1250 llvm/asm lowerings and examples
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/ir/core_types.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/ir/ir_flow.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/ir/ir_tile.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/lower_llvm/control.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/lower_llvm/crosslane.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/lower_llvm/data.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/lower_llvm/mem.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/include/rocke/ir.h
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/ir.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/lower_llvm.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/isa_features/README.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/isa_features/__init__.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/isa_features/async_store_verify.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/isa_features/barrier_verify.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/isa_features/common.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/isa_features/global_transpose_verify.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/isa_features/scalar_controls_verify.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/isa_features/tdm_verify.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/future_intrinsic_lowering.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_gfx1250_llvm_bridge.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/parity/gfx1250_lowering_emit.c
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/parity/gfx1250_lowering_emit.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Add masked ArgType comparison helper
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Route PLSIN in-NLL ArgType compares through cmpNamedArgTypeEq
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-flash2): address review findings on variant dispatch
  dnn-providers/hip-kernel-provider/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/engines/hip_flash2_engine/Flash2Dispatch.hpp
  dnn-providers/hip-kernel-provider/src/engines/hip_flash2_engine/HipFlash2FwdPlanBuilder.cpp
  dnn-providers/hip-kernel-provider/src/engines/hip_flash2_engine/HipFlash2FwdPlanBuilder.hpp
  dnn-providers/hip-kernel-provider/src/engines/hip_flash2_engine/HipFlash2FwdPlanVariant.hip
  dnn-providers/hip-kernel-provider/src/tests/engines/hip_flash2_engine/TestFlash2Dispatch.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(hipdnn): fold the UHD header into its descriptor JSON
  dnn-providers/hip-kernel-provider/descriptor-packaging/examples/descriptors/hip/pointwise_add/pointwise_add.uhd.json
  dnn-providers/hip-kernel-provider/descriptor-packaging/python/hkp_pack/descriptors.py
  dnn-providers/hip-kernel-provider/descriptor-packaging/tests/fixtures/empty_arch/solo.uhd.json
  dnn-providers/hip-kernel-provider/descriptor-packaging/tests/fixtures/main/shared.uhd.json
  dnn-providers/hip-kernel-provider/descriptor-packaging/tests/fixtures/rocke/attention.uhd.json
  dnn-providers/hip-kernel-provider/descriptor-packaging/tests/test_hkp_pack_layout.py
  dnn-providers/hip-kernel-provider/descriptor-packaging/tests/test_hkp_pack_sidecars.py
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/fixtures/model_training/README.md
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/fixtures/packaged/pointwise_model/model.bin
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/fixtures/packaged/pointwise_model/packed_pointwise_model.ued.json
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/fixtures/packaged/pointwise_model/packed_pointwise_model.uhd.json
  projects/hipdnn/backend/tests/CMakeLists.txt
  projects/hipdnn/docs/rfcs/0019.13_TrainingMethodology.md
  projects/hipdnn/flatbuffers_sdk/CMakeLists.txt
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/DescriptorLoader.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/Descriptors.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/KernelHeuristicFactory.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/UhdKernelHeuristic.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/uhd/ScoreTransform.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/uhd/adapters/IUhdAdapter.hpp
  projects/hipdnn/plugin_sdk/tests/ingestor/TestDescriptorLoader.cpp
  projects/hipdnn/plugin_sdk/tests/ingestor/uhd/TestUhdGeneratedModel.cpp
  projects/hipdnn/plugin_sdk/tests/ingestor/uhd/TestUhdKernelHeuristic.cpp
  projects/hipdnn/plugin_sdk/tests/ingestor/uhd/fixtures/README.md
  projects/hipdnn/plugin_sdk/tests/ingestor/uhd/fixtures/model.bin
  projects/hipdnn/plugin_sdk/tests/ingestor/uhd/fixtures/tile_selector.uhd.json
  projects/hipdnn/plugin_sdk/tests/ingestor/uhd/fixtures/train_manifest.json
  projects/hipdnn/scripts/run_flatc.py
  projects/hipdnn/tools/uhd_gen/README.md
  projects/hipdnn/tools/uhd_gen/__init__.py
  projects/hipdnn/tools/uhd_gen/__main__.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

docs(hipdnn): drop the references the FlatBuffer UHD left behind
  dnn-providers/hip-kernel-provider/descriptor-packaging/cmake/HkpPackaging.cmake
  dnn-providers/hip-kernel-provider/descriptor-packaging/python/hkp_pack/descriptors.py
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/IntegrationGpuKernelIngestorKpack.cpp
  projects/hipdnn/backend/UHD_IMPLEMENTATION.md
  projects/hipdnn/tools/uhd_gen/lgbm_to_flatbuffer.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

docs(hipdnn): drop the references the FlatBuffer UHD left behind
  dnn-providers/hip-kernel-provider/descriptor-packaging/cmake/HkpPackaging.cmake
  dnn-providers/hip-kernel-provider/descriptor-packaging/python/hkp_pack/descriptors.py
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/IntegrationGpuKernelIngestorKpack.cpp
  projects/hipdnn/tools/uhd_gen/lgbm_to_flatbuffer.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): throw on pinned host memory exhaustion
  projects/hipblaslt/clients/common/include/d_vector.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): align gfx1250 sibling device names
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/gfx1250/GridBased/gfx1250_Cijk_Alik_Bljk_F4BS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/gfx1250/GridBased/gfx1250_Cijk_Alik_Bljk_F8BS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/gfx1250/GridBased/gfx1250_Cijk_Alik_Bljk_F8F8S_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250v0/gfx1250v0/GridBased/gfx1250v0_Cijk_Alik_Bljk_F4BS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250v0/gfx1250v0/GridBased/gfx1250v0_Cijk_Alik_Bljk_F8BS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250v0/gfx1250v0/GridBased/gfx1250v0_Cijk_Alik_Bljk_F8F8S_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(integration-tests): add multi-engine support-claim enforcement and verdict engine (#10554)
  dnn-providers/integration-tests/CMakeLists.txt
  dnn-providers/integration-tests/src/common/Utilities.hpp
  dnn-providers/integration-tests/src/harness/IntegrationGraphVerificationHarness.hpp
  dnn-providers/integration-tests/src/harness/TestConfig.hpp
  dnn-providers/integration-tests/src/harness/bundle/BundleDiscovery.hpp
  dnn-providers/integration-tests/src/harness/bundle/BundleRegistration.hpp
  dnn-providers/integration-tests/src/harness/bundle/IntegrationBundleVerificationHarness.cpp
  dnn-providers/integration-tests/src/harness/bundle/IntegrationBundleVerificationHarness.hpp
  dnn-providers/integration-tests/src/harness/bundle/LoadedEngineTable.hpp
  dnn-providers/integration-tests/src/harness/bundle/SupportClaimReport.cpp
  dnn-providers/integration-tests/src/harness/bundle/SupportClaimReport.hpp
  dnn-providers/integration-tests/src/harness/bundle/SupportClaims.cpp
  dnn-providers/integration-tests/src/harness/bundle/SupportClaims.hpp
  dnn-providers/integration-tests/src/harness/bundle/SupportVerdict.cpp
  dnn-providers/integration-tests/src/harness/bundle/SupportVerdict.hpp
  dnn-providers/integration-tests/src/main.cpp
  dnn-providers/integration-tests/tests/CMakeLists.txt
  dnn-providers/integration-tests/tests/TestBundleDiscovery.cpp
  dnn-providers/integration-tests/tests/TestBundleVerificationHarness.cpp
  dnn-providers/integration-tests/tests/TestErrorPaths.cpp
  dnn-providers/integration-tests/tests/TestLoadedEngineTable.cpp
  dnn-providers/integration-tests/tests/TestSupportClaimReport.cpp
  dnn-providers/integration-tests/tests/TestSupportClaims.cpp
  dnn-providers/integration-tests/tests/TestSupportVerdict.cpp
  dnn-providers/integration-tests/tests/TestVerificationModePaths.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(integration-tests): address PR #10594 review blockers
  .pre-commit-config.yaml
  dnn-providers/integration-tests/scripts/verify_support_claims.py
  dnn-providers/integration-tests/src/harness/bundle/SupportClaimWriter.cpp
  dnn-providers/integration-tests/tests/TestSupportClaimWriter.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
