Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(miopen): fix fin_interface after convolution solver removal
  projects/miopen/src/fin/fin_interface.cpp
  projects/miopen/test/gtest/unit_FinInterface.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ctest): emit DISABLED for exclude_gpu "*" instead of an empty filter
  dnn-providers/miopen-provider/test_categories_integration.yaml
  shared/ctest/README.md
  shared/ctest/parse_test_categories.py
  shared/ctest/tests/test_parse_test_categories.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(tensilelite): relax divergent thick TDM waits
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(miopen): guard against stale solver ids in AI heuristics
  projects/miopen/src/conv/heuristics/ai_heuristics.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hip-kernel-provider): load packer OUTPUT through the real DescriptorLoader
  dnn-providers/hip-kernel-provider/src/tests/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/tests/ingestor/TestPackedDescriptorLoad.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): do not probe an interpreter the build has yet to create
  dnn-providers/hip-kernel-provider/descriptor-packaging/cmake/HkpPackaging.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): return the tensor the BHSD helper already built
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/IntegrationGpuRockeAttentionDense.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hip-kernel-provider): trim the attention_dense comments to what the code does
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/attention_dense.py
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/AttentionDenseNative.cpp
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/IntegrationGpuRockeAttentionDense.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add SPDX header to StreamK YAML
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/sk_mxfp4_subtile_mode0.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipdnn): add CPU ternary pointwise support (#10520)
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/Tensor.hpp
  projects/hipdnn/docs/OperationSupport-ReferenceImpl.md
  projects/hipdnn/flatbuffers_sdk/include/hipdnn_flatbuffers_sdk/utilities/PointwiseValidation.hpp
  projects/hipdnn/flatbuffers_sdk/tests/utilities/TestPointwiseValidation.cpp
  projects/hipdnn/frontend/include/hipdnn_frontend/Graph.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/CpuFpReferenceValidation.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/FlatbufferDatatypeMapping.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/LoadGraphAndTensors.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/PointwisePlan.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/PointwiseSignatureKey.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/pointwise/BinaryOperationFunctors.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/pointwise/CpuDeviceExecutor.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/pointwise/PointwiseOperationFunctors.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/pointwise/ReferencePointwiseBase.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/pointwise/TernaryOperationFunctors.hpp
  projects/hipdnn/test_sdk/tests/utilities/TestCpuFpReferenceValidation.cpp
  projects/hipdnn/test_sdk/tests/utilities/TestCpuReferencePointwise.cpp
  projects/hipdnn/test_sdk/tests/utilities/TestFlatbufferDatatypeMapping.cpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/PointwiseGraphUtils.hpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestPointwiseOperationsCpuGraphExecutor.cpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestPointwisePlan.cpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestPointwiseSignatureKey.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

ci: pin GitHub Actions to commit SHAs (#11072)
  .github/workflows/clang-tidy.yml
  .github/workflows/close-stale-prs.yml
  .github/workflows/merge-codeowners.yml
  .github/workflows/merge-submodules.yml
  .github/workflows/multiple_pr_import.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(tensilelite): add kernarg preload PR context
  pr_description_kernarg_preload.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Apply review suggestions
  projects/hipblaslt/tensilelite/Tensile/CustomKernels.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomKernels_preload.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): cover kernarg preload version gates
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/ToolchainComponent/test_toolchain_component_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomKernels_preload.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_PrefetchAcrossPersistent.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(tensilelite): clarify kernarg preload support gate
  projects/hipblaslt/tensilelite/Tensile/CustomKernels.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove accidentally commited file
  pr_description_kernarg_preload.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): keep kernarg preload directive on ROCm 7 and later
  projects/hipblaslt/tensilelite/Tensile/CustomKernels.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomKernels_preload.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Initial impl
  projects/hipblaslt/tensilelite/README.md
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/KernelNameDecoder.py
  projects/hipblaslt/tensilelite/Tensile/TensileDecodeKernelName.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_kernel_name_decoder.py
  projects/hipblaslt/tensilelite/Tensile/bin/TensileDecodeKernelName
  projects/hipblaslt/tensilelite/pyproject.toml
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Cleanup cache flags
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/KernelNameDecoder.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Cleanup readme
  projects/hipblaslt/tensilelite/README.md
  projects/hipblaslt/tensilelite/Tensile/TensileDecodeKernelName.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add new test to pin name-order dependency
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/Naming/test_naming_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(interfaces): stop recording providers leaking libstdc++ symbols
  interfaces/providers/recording/CMakeLists.txt
  interfaces/providers/recording/recording_provider.map
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(interfaces): prove ABI version-node co-residency defeats interposition
  interfaces/tests/CMakeLists.txt
  interfaces/tests/abi03_anon.map
  interfaces/tests/abi03_fixture_rocblas.cpp
  interfaces/tests/abi03_interpose_test.cpp
  interfaces/tests/abi03_provA.map
  interfaces/tests/abi03_provB.map
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(interfaces): assign named version nodes to loader and provider exports
  interfaces/loader/rocblas_loader.map
  interfaces/providers/recording/recording_provider.map
  interfaces/tests/check_exports.cmake
  interfaces/tools/generate_rocblas_bridge.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(interfaces): regression-lock loader/registry concurrency under TSan
  interfaces/CMakeLists.txt
  interfaces/tests/CMakeLists.txt
  interfaces/tests/ops04_concurrency_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(interfaces): guard against lld + LTO with a non-Clang compiler
  interfaces/CMakeLists.txt
  interfaces/cmake/rocm_interfaces_lto_linker_guard.cmake
  interfaces/tests/CMakeLists.txt
  interfaces/tests/check_lto_linker_guard.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(interfaces): prove versioned-symbol invariants (ABI-01/02 core)
  interfaces/tests/CMakeLists.txt
  interfaces/tests/abi04_rb5.map
  interfaces/tests/abi04_versioning_test.cpp
  interfaces/tests/check_ldconfig_stub.cmake
  interfaces/tests/check_multiple_default_def.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(interfaces): extend versioned-symbol proofs to the lld linker
  interfaces/tests/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(interfaces): prove real sobol32 data-object symbol versioning (ABI-02 case 4)
  interfaces/tests/CMakeLists.txt
  interfaces/tests/abi06_data.map
  interfaces/tests/abi06_data_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(interfaces): prove named version nodes survive an ASan build (ABI-02 case 6)
  interfaces/CMakeLists.txt
  interfaces/tests/CMakeLists.txt
  interfaces/tests/check_asan_version_node.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(interfaces): tighten abi05 method match to the error class component
  interfaces/tests/check_cpp_mangled_version.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(interfaces): prove C++ mangled/RTTI export versioning (ABI-02 case 5)
  interfaces/tests/CMakeLists.txt
  interfaces/tests/abi05_fixture_rocrand_cpp.cpp
  interfaces/tests/abi05_rocrand_cpp.map
  interfaces/tests/check_cpp_mangled_version.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(interfaces): add human-friendly documentation set for the interfaces layer
  interfaces/README.md
  interfaces/docs/01-architecture.md
  interfaces/docs/02-why-a-stable-boundary.md
  interfaces/docs/03-abi-and-versioning-contract.md
  interfaces/docs/04-hardening.md
  interfaces/docs/05-extending.md
  interfaces/docs/07-status-and-roadmap.md
  interfaces/docs/README.md
  interfaces/docs/STYLE.md
  interfaces/docs/api-change-process.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(interfaces): correct overclaims flagged in review of the docs set
  interfaces/README.md
  interfaces/docs/01-architecture.md
  interfaces/docs/02-why-a-stable-boundary.md
  interfaces/docs/03-abi-and-versioning-contract.md
  interfaces/docs/04-hardening.md
  interfaces/docs/05-extending.md
  interfaces/docs/07-status-and-roadmap.md
  interfaces/docs/README.md
  interfaces/docs/STYLE.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(interfaces): make the reference docs ASCII-clean
  interfaces/docs/audit-findings.md
  interfaces/docs/provider-protocols.md
  interfaces/docs/rocblas-provider-clusters.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(interfaces): extend exports node-aware check to rocblas_narrow_loader_shadow
  interfaces/tests/CMakeLists.txt
  interfaces/tests/check_exports.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(interfaces): tighten ASan node check to per-symbol @@ binding + nodeless control
  interfaces/tests/check_asan_version_node.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(interfaces): add worked bare-symbol example to ch02 Failure 1
  interfaces/docs/02-why-a-stable-boundary.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(interfaces): second-pass consistency sweep - align claims with proven scope
  interfaces/docs/01-architecture.md
  interfaces/docs/02-why-a-stable-boundary.md
  interfaces/docs/03-abi-and-versioning-contract.md
  interfaces/docs/04-hardening.md
  interfaces/docs/05-extending.md
  interfaces/docs/07-status-and-roadmap.md
  interfaces/docs/README.md
  interfaces/docs/STYLE.md
  interfaces/docs/provider-protocols.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(interfaces): auto-derive the exports-test provider list
  interfaces/providers/recording/CMakeLists.txt
  interfaces/tests/CMakeLists.txt
  interfaces/tests/check_exports.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
