Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

Correct some device feature words for gfx1151/gfx1036. (#3684)
  src/composable_kernel/composable_kernel/include/utility/config.hpp
  src/include/miopen/solver/ck_utility_common.hpp
  test/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add MIOpenDriver dependency on SQLite::SQLite3. (#3683)
  driver/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add data type support page (#986)
  docs/index.rst
  docs/reference/data-type-support.rst
  docs/reference/hipblas-api-functions.rst
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

turn off c++17 extension warning for library (#1588)
  library/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Change shared libs name
  MIOpen/Jenkinsfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

code coverage add profiling (#1589)
  rtest.xml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Change CI parameter behaviour to be more convenient.
  .jenkins/code-analysis.groovy
  .jenkins/code-coverage.groovy
  .jenkins/documentation.groovy
  .jenkins/performance.groovy
  .jenkins/precheckin.groovy
  .jenkins/staticanalysis.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[cmake-next] Refine TensileCreate build step. (#2004)
  next-cmake/device-library/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Generate code coverage reports
  CMakeLists.txt
  README.md
  clients/tests/CMakeLists.txt
  library/src/CMakeLists.txt
  library/src/device/CMakeLists.txt
  library/src/device/generator/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Clean up for super build (#2002)
  next-cmake/CMakeLists.txt
  next-cmake/clients/CMakeLists.txt
  next-cmake/cmake/hipblaslt_python.cmake
  next-cmake/device-library/extops/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

try building ck4inductor and testing it inside a virtual environment (#2142)
  Dockerfile
  Jenkinsfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[Tile Engine] Improved README.md (#2134)
  tile_engine/ops/gemm/README.md
  tile_engine/ops/gemm/configs/instance_combination.json
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add .github directory from develop
  .github/repos-config.json
  .github/scripts/apply-labels.py
  .github/scripts/collect-labels.py
  .github/scripts/merge-codeowners.py
  .github/scripts/merge-submodules.py
  .github/workflows/apply-labels.yml
  .github/workflows/collect-labels.yml
  .github/workflows/initial-setup.yml
  .github/workflows/merge-codeowners.yml
  .github/workflows/merge-submodules.yml
  .github/workflows/update-subtrees.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add MIOpen to monorepo
  .github/repos-config.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocisa] Move scalarDivide* to rocisa
  tensilelite/Tensile/Components/GSU.py
  tensilelite/Tensile/Components/StreamK.py
  tensilelite/Tensile/KernelWriterAssembly.py
  tensilelite/Tensile/TensileInstructions/Math.py
  tensilelite/rocisa/rocisa/include/instruction/math.hpp
  tensilelite/rocisa/rocisa/src/instruction/math.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove Math.py
  tensilelite/SoftmaxGenerator.py
  tensilelite/Tensile/Components/ComputeStoreVgprs.py
  tensilelite/Tensile/Components/GSU.py
  tensilelite/Tensile/Components/GlobalWriteBatch.py
  tensilelite/Tensile/Components/LraTileAssignment.py
  tensilelite/Tensile/Components/ShiftVectorComponents.py
  tensilelite/Tensile/Components/StreamK.py
  tensilelite/Tensile/Components/SumUnroll.py
  tensilelite/Tensile/KernelWriterAssembly.py
  tensilelite/Tensile/TensileInstructions/ExtInstructions.py
  tensilelite/Tensile/TensileInstructions/Math.py
  tensilelite/Tensile/TensileInstructions/__init__.py
  tensilelite/rocisa/rocisa/include/instruction/extension.hpp
  tensilelite/rocisa/rocisa/include/instruction/math.hpp
  tensilelite/rocisa/rocisa/src/instruction/extension.cpp
  tensilelite/rocisa/rocisa/src/instruction/math.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

initial setup for rocm mainline revision
  .github/CODEOWNERS
  .github/repos-config.json
  .github/scripts/apply-labels.py
  .github/scripts/collect-labels.py
  .github/scripts/merge-codeowners.py
  .github/scripts/merge-submodules.py
  .github/workflows/apply-labels.yml
  .github/workflows/collect-labels.yml
  .github/workflows/initial-setup.yml
  .github/workflows/merge-codeowners.yml
  .github/workflows/merge-submodules.yml
  .github/workflows/update-subtrees.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix codeowners and submodules
  .github/CODEOWNERS
  .gitmodules
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update initial-setup.yml updating the branch
  .github/workflows/initial-setup.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add consolidated labels list
  .github/labels.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update repos-config.json
  .github/repos-config.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add workflow to auto-label incoming PRs
  .github/workflows/pr-auto-label.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

removing miopen and updating workflow checkout
  .github/repos-config.json
  .github/workflows/initial-setup.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[PR] [hipSPARSELt] Test monorepo
  hipSPARSELt/cmake/virtualenv.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update initial-setup.yml
  .github/workflows/initial-setup.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixes to auto-labeler
  .github/workflows/pr-auto-label.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipSPARSELt] monorepo test
  hipSPARSELt/cmake/Verbose.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update initial-setup.yml fixing syntax
  .github/workflows/initial-setup.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add workflow to auto-label incoming PRs
  .github/workflows/pr-auto-label.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

enable scaleCD/amaxD for fp8 gemm with f16 gelu aux
  clients/gtest/matmul_gtest.yaml
  library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bljk_F8N_F8NS_BH_Bias_H_AuxH_AmaxD_HA_S_SAB_SCD_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Use REST API to find files changed instead of source checkout
  .github/workflows/pr-auto-label.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Need to checkout workflow scripts
  .github/workflows/pr-auto-label.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update pr-auto-label.yml
  .github/workflows/pr-auto-label.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Improvements to speed up PR auto-label action
  .github/workflows/pr-auto-label.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add rocblas file to see auto-label in action
  rocBLAS/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update initial-setup.yml fixing syntax
  .github/workflows/initial-setup.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Loop through labels
  .github/workflows/pr-auto-label.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update repos-config.json adding revision for CK
  .github/repos-config.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update initial-setup.yml fixing syntax
  .github/workflows/initial-setup.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

setting up monorepo for main
  .github/repos-config.json
  .github/workflows/initial-setup.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
