Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

fix(stinkytofu): only dump pass IR to before.txt/after.txt on demand
  shared/stinkytofu/tools/stinkytofu-opt/stinkytofu-opt.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

rocsparse: os-agnostic getenv API; windows/msvc build support across projects
  projects/hipblas/CMakeLists.txt
  projects/hipblaslt/device-library/matrix-transform/CMakeLists.txt
  projects/miopen/CMakeLists.txt
  projects/miopen/src/CMakeLists.txt
  projects/rocsolver/CMakeLists.txt
  projects/rocsparse/CLAUDE.md
  projects/rocsparse/CMakeLists.txt
  projects/rocsparse/clients/common/rocsparse_clients_envariables.cpp
  projects/rocsparse/clients/common/rocsparse_exporter_ascii.cpp
  projects/rocsparse/clients/common/rocsparse_exporter_matrixmarket.cpp
  projects/rocsparse/clients/common/rocsparse_exporter_rocalution.cpp
  projects/rocsparse/clients/common/rocsparse_exporter_rocsparseio.cpp
  projects/rocsparse/clients/common/rocsparse_importer_rocalution.cpp
  projects/rocsparse/clients/common/rocsparse_importer_rocsparseio.cpp
  projects/rocsparse/clients/common/utility.cpp
  projects/rocsparse/clients/include/rocsparse_getenv.hpp
  projects/rocsparse/clients/include/rocsparse_memory_check.hpp
  projects/rocsparse/clients/tests/rocsparse_test_main.cpp
  projects/rocsparse/library/CMakeLists.txt
  projects/rocsparse/library/src/common/rocsparse_envariables.cpp
  projects/rocsparse/library/src/common/rocsparse_handle.cpp
  projects/rocsparse/library/src/common/rocsparse_singularity.cpp
  projects/rocsparse/library/src/include/rocsparse_debug.hpp
  projects/rocsparse/library/src/include/rocsparse_getenv.hpp
  projects/rocsparse/library/src/include/rocsparse_logging.hpp
  projects/rocsparse/task.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

rocsparse: os-agnostic getenv API; windows/msvc build support across projects
  projects/hipblas/CMakeLists.txt
  projects/hipblaslt/device-library/matrix-transform/CMakeLists.txt
  projects/miopen/CMakeLists.txt
  projects/miopen/src/CMakeLists.txt
  projects/rocsolver/CMakeLists.txt
  projects/rocsparse/CLAUDE.md
  projects/rocsparse/CMakeLists.txt
  projects/rocsparse/clients/common/rocsparse_clients_envariables.cpp
  projects/rocsparse/clients/common/rocsparse_exporter_ascii.cpp
  projects/rocsparse/clients/common/rocsparse_exporter_matrixmarket.cpp
  projects/rocsparse/clients/common/rocsparse_exporter_rocalution.cpp
  projects/rocsparse/clients/common/rocsparse_exporter_rocsparseio.cpp
  projects/rocsparse/clients/common/rocsparse_importer_rocalution.cpp
  projects/rocsparse/clients/common/rocsparse_importer_rocsparseio.cpp
  projects/rocsparse/clients/common/utility.cpp
  projects/rocsparse/clients/include/rocsparse_getenv.hpp
  projects/rocsparse/clients/include/rocsparse_memory_check.hpp
  projects/rocsparse/clients/tests/rocsparse_test_main.cpp
  projects/rocsparse/library/CMakeLists.txt
  projects/rocsparse/library/src/common/rocsparse_envariables.cpp
  projects/rocsparse/library/src/common/rocsparse_handle.cpp
  projects/rocsparse/library/src/common/rocsparse_singularity.cpp
  projects/rocsparse/library/src/include/rocsparse_debug.hpp
  projects/rocsparse/library/src/include/rocsparse_getenv.hpp
  projects/rocsparse/library/src/include/rocsparse_logging.hpp
  projects/rocsparse/task.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Prevent mov cleanup across call boundary
  shared/stinkytofu/src/transforms/asm/AsmMovePropagationPass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

build(hipdnn): link AutotuneCrossProcessHelper against Threads::Threads
  projects/hipdnn/backend/tests/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Revert "Remove ClusterDim for segment_interleave_gfx1250.yaml (#11059)"
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/segment_interleave_gfx1250.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Name the exit of a loop that is left by falling off its latch
  shared/stinkytofu/src/transforms/asm/InsertClusterBarrierPass.cpp
  shared/stinkytofu/tests/unit/asm/InsertClusterBarrierPassTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Read every workgroup barrier as a place a handshake may land
  shared/stinkytofu/src/transforms/asm/InsertClusterBarrierPass.cpp
  shared/stinkytofu/src/transforms/asm/StinkyDAGSchedulerPass.cpp
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
  shared/stinkytofu/src/transforms/asm/dag/ReadyQueue.hpp
  shared/stinkytofu/tests/unit/asm/DAGSchedulerPassTest.cpp
  shared/stinkytofu/tests/unit/asm/InsertClusterBarrierPassTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Keep cluster-barrier handshakes out of live SCC ranges
  shared/stinkytofu/src/transforms/asm/InsertClusterBarrierPass.cpp
  shared/stinkytofu/src/transforms/asm/StinkyDAGSchedulerPass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Pin live-out SCC def below the last workgroup barrier
  shared/stinkytofu/include/stinkytofu/core/Types.hpp
  shared/stinkytofu/src/pipeline/backend/Gfx1250Backend.cpp
  shared/stinkytofu/src/transforms/asm/StinkyDAGSchedulerPass.cpp
  shared/stinkytofu/tests/unit/asm/DAGSchedulerPassTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Count the branch that reads SCC when placing a Rule 3 signal
  shared/stinkytofu/src/transforms/asm/InsertClusterBarrierPass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Add InsertClusterBarrier tests for SCC-aware anchor placement
  shared/stinkytofu/tests/unit/asm/InsertClusterBarrierPassTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Let cluster-barrier signals hoist across segment boundaries
  shared/stinkytofu/include/stinkytofu/transforms/asm/EstimateAsmCyclesPass.hpp
  shared/stinkytofu/src/transforms/asm/EstimateAsmCyclesPass.cpp
  shared/stinkytofu/src/transforms/asm/InsertClusterBarrierPass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Gate Rule 3 cross-loop hoisting behind kRule3CrossLoop
  shared/stinkytofu/include/stinkytofu/transforms/asm/InsertClusterBarrierPass.hpp
  shared/stinkytofu/src/transforms/asm/InsertClusterBarrierPass.cpp
  shared/stinkytofu/src/transforms/asm/StinkyDAGSchedulerPass.cpp
  shared/stinkytofu/tests/unit/asm/DAGSchedulerPassTest.cpp
  shared/stinkytofu/tests/unit/asm/InsertClusterBarrierPassTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Keep SCC def-use chains whole across cluster-barrier handshakes
  shared/stinkytofu/src/transforms/asm/StinkyDAGSchedulerPass.cpp
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
  shared/stinkytofu/src/transforms/asm/dag/ReadyQueue.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Add DAG scheduler tests for the cluster-barrier SCC rule
  shared/stinkytofu/tests/unit/asm/DAGSchedulerPassTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Run the cluster-barrier rules in order and keep Rule 3 in loops
  shared/stinkytofu/src/transforms/asm/InsertClusterBarrierPass.cpp
  shared/stinkytofu/tests/unit/asm/DAGSchedulerPassTest.cpp
  shared/stinkytofu/tests/unit/asm/InsertClusterBarrierPassTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Wrap Rule 3 signals at the loop latch and hold live-out compares near their branch
  shared/stinkytofu/src/transforms/asm/InsertClusterBarrierPass.cpp
  shared/stinkytofu/src/transforms/asm/StinkyDAGSchedulerPass.cpp
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
  shared/stinkytofu/src/transforms/asm/dag/ReadyQueue.hpp
  shared/stinkytofu/tests/unit/asm/DAGSchedulerPassTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Apply clang-format to cluster-barrier changes
  shared/stinkytofu/src/transforms/asm/EstimateAsmCyclesPass.cpp
  shared/stinkytofu/src/transforms/asm/InsertClusterBarrierPass.cpp
  shared/stinkytofu/src/transforms/asm/StinkyDAGSchedulerPass.cpp
  shared/stinkytofu/tests/unit/asm/DAGSchedulerPassTest.cpp
  shared/stinkytofu/tests/unit/asm/InsertClusterBarrierPassTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Gate DAG cluster-barrier paths on ModuleOptions.ClusterBarrier
  shared/stinkytofu/include/stinkytofu/core/Types.hpp
  shared/stinkytofu/src/transforms/asm/StinkyDAGSchedulerPass.cpp
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
  shared/stinkytofu/src/transforms/asm/dag/ReadyQueue.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Factor open-SCC barrier eligibility into isBarrierEligibleNow
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(stinkytofu): Silence clang-tidy on kRule3CrossLoop gate
  shared/stinkytofu/include/stinkytofu/transforms/asm/InsertClusterBarrierPass.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Abort when open SCC chain leaves only barriers ready
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
  shared/stinkytofu/tests/CMakeLists.txt
  shared/stinkytofu/tests/unit/asm/CDNA5ReadyQueueTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Reject cluster-barrier regions with live-in SCC readers only
  shared/stinkytofu/src/transforms/asm/StinkyDAGSchedulerPass.cpp
  shared/stinkytofu/tests/unit/asm/DAGSchedulerPassTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Reject ClusterDim = 16x1 or 1x16
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Always wait at Rule 3 loop triggers and gate cross-loop via macro
  shared/stinkytofu/docs/developer/cluster-barrier.md
  shared/stinkytofu/include/stinkytofu/transforms/asm/InsertClusterBarrierPass.hpp
  shared/stinkytofu/src/pipeline/backend/Gfx1250Backend.cpp
  shared/stinkytofu/src/transforms/asm/InsertClusterBarrierPass.cpp
  shared/stinkytofu/src/transforms/asm/StinkyDAGSchedulerPass.cpp
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
  shared/stinkytofu/src/transforms/asm/dag/ReadyQueue.hpp
  shared/stinkytofu/tests/unit/TestHelpers.hpp
  shared/stinkytofu/tests/unit/asm/DAGSchedulerPassTest.cpp
  shared/stinkytofu/tests/unit/asm/InsertClusterBarrierPassTest.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Drop redundant LoopBeginL scan in EstimateAsmCyclesPass
  shared/stinkytofu/src/transforms/asm/EstimateAsmCyclesPass.cpp
  shared/stinkytofu/tests/unit/asm/EstimateAsmCyclesTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Restore Rule 2 immediate-predecessor cluster wait check
  shared/stinkytofu/src/transforms/asm/InsertClusterBarrierPass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix duplicate cumCycles definition in StinkyDAGSchedulerPass.
  shared/stinkytofu/src/transforms/asm/StinkyDAGSchedulerPass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Document kRule3CrossLoop in cluster-barrier.md and refine inline comments.
  shared/stinkytofu/docs/developer/cluster-barrier.md
  shared/stinkytofu/include/stinkytofu/transforms/asm/InsertClusterBarrierPass.hpp
  shared/stinkytofu/src/transforms/asm/InsertClusterBarrierPass.cpp
  shared/stinkytofu/src/transforms/asm/StinkyDAGSchedulerPass.cpp
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
  shared/stinkytofu/src/transforms/asm/dag/ReadyQueue.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): satisfy clang-tidy in the oracle-best Python binding
  projects/hipdnn/python/frontend_bindings/src/graph_bindings.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hipdnn): stop the frontend integration suite using the developer's cache
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/ScopedTestCacheDir.hpp
  projects/hipdnn/tests/frontend/main.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hip-kernel-provider): isolate the integration suite's hipDNN cache
  dnn-providers/hip-kernel-provider/src/integration_tests/main.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hip-kernel-provider): isolate the unit suite's hipDNN cache too
  dnn-providers/hip-kernel-provider/src/tests/main.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): bring block-scale quant bridges to perf parity with Tile-Engine
  projects/composablekernel/dispatcher/codegen/codegen_common.py
  projects/composablekernel/dispatcher/codegen/unified_gemm_abquant_codegen.py
  projects/composablekernel/dispatcher/codegen/unified_gemm_aquant_codegen.py
  projects/composablekernel/dispatcher/codegen/unified_gemm_rowcolquant_codegen.py
  projects/composablekernel/dispatcher/python/gemm_aquant_utils.py
  projects/composablekernel/dispatcher/python/gemm_rowcolquant_utils.py
  projects/composablekernel/dispatcher/python/gemm_tensor_quant_utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Added CLAUDE.md
  CLAUDE.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(tensilelite): tune tensor-load WMMA spacing (AIHPBLAS-4159)
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  shared/stinkytofu/include/stinkytofu/bindings/python/Module.hpp
  shared/stinkytofu/include/stinkytofu/core/Types.hpp
  shared/stinkytofu/src/pipeline/backend/Gfx1250Backend.cpp
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
  shared/stinkytofu/tools/stinkytofu-opt/README.md
  shared/stinkytofu/tools/stinkytofu-opt/stinkytofu-opt.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(hipdnn): stage the autotune cross-process helper where the tests actually run
  projects/hipdnn/backend/tests/CMakeLists.txt
  projects/hipdnn/backend/tests/heuristics/TestAutotuneRankingStore.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(hipdnn-integration-tests): unify failure output between bundle and graph harnesses (#10412)
  dnn-providers/integration-tests/src/harness/IntegrationGraphVerificationHarness.hpp
  dnn-providers/integration-tests/src/harness/bundle/IntegrationBundleVerificationHarness.cpp
  dnn-providers/integration-tests/src/harness/bundle/IntegrationBundleVerificationHarness.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/ComparisonReport.hpp
  projects/hipdnn/test_sdk/tests/CMakeLists.txt
  projects/hipdnn/test_sdk/tests/utilities/TestComparisonReport.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Potential fix for pull request finding
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/instances/common/conv_implicit_gemm_dgrad.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
