Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(rocprim): implement kernel tuner for device radix sort block sort
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_radix_sort_block_sort.hpp
  projects/rocprim/tuning/confgen/templates/device_radix_sort_block_sort.h.jinja2
  projects/rocprim/tuning/tuner/templates/device_radix_sort_block_sort.cpp.jinja2
  projects/rocprim/tuning/tuner/tuning_device_radix_sort_block_sort.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocprim): updated migrate and run tuning to include new algos
  projects/rocprim/tuning/confgen/migrate.py
  projects/rocprim/tuning/run_tuning.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(integration-tests): add support-claim write tool and pre-commit verifier (#10594)
  .pre-commit-config.yaml
  dnn-providers/integration-tests/CMakeLists.txt
  dnn-providers/integration-tests/integration-test-bundles/.gitattributes
  dnn-providers/integration-tests/integration-test-bundles/.gitignore
  dnn-providers/integration-tests/scripts/test_verify_support_claims.py
  dnn-providers/integration-tests/scripts/verify_support_claims.py
  dnn-providers/integration-tests/src/harness/TestConfig.hpp
  dnn-providers/integration-tests/src/harness/bundle/BundleDiscovery.hpp
  dnn-providers/integration-tests/src/harness/bundle/BundleRegistration.hpp
  dnn-providers/integration-tests/src/harness/bundle/FrontendGraphEngineRunner.cpp
  dnn-providers/integration-tests/src/harness/bundle/GraphSession.hpp
  dnn-providers/integration-tests/src/harness/bundle/IGraphEngineRunner.hpp
  dnn-providers/integration-tests/src/harness/bundle/IntegrationBundleVerificationHarness.cpp
  dnn-providers/integration-tests/src/harness/bundle/IntegrationBundleVerificationHarness.hpp
  dnn-providers/integration-tests/src/harness/bundle/SupportClaimWriter.cpp
  dnn-providers/integration-tests/src/harness/bundle/SupportClaimWriter.hpp
  dnn-providers/integration-tests/src/harness/bundle/SupportClaims.cpp
  dnn-providers/integration-tests/src/harness/bundle/SupportClaims.hpp
  dnn-providers/integration-tests/src/harness/bundle/SupportObservationLog.hpp
  dnn-providers/integration-tests/src/main.cpp
  dnn-providers/integration-tests/test_categories_external.yaml
  dnn-providers/integration-tests/tests/CMakeLists.txt
  dnn-providers/integration-tests/tests/HarnessTestSupport.hpp
  dnn-providers/integration-tests/tests/SupportClaimTestUtils.hpp
  dnn-providers/integration-tests/tests/TestGraphSession.cpp
  dnn-providers/integration-tests/tests/TestObserveSupportOnly.cpp
  dnn-providers/integration-tests/tests/TestSupportClaimRoundTrip.cpp
  dnn-providers/integration-tests/tests/TestSupportClaimWriter.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci: package StinkyTofu intrinsic definitions
  projects/hipblaslt/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(miopen): bump rocjitsu ref and align CI with its new build process (#11955)
  .github/workflows/component-ci-miopen.yml
  projects/miopen/test/gtest/dbsync/run_dbsync_rocjitsu.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(tensilelite): build the fp4 TLU=1 geometries from their stack height
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileTLUSwizzle.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove MT256 swizzleB direct-to-VGPR B
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Alik_Bljk_F4BS_MXA32_MXB32_BH_UserArgs.yaml
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGREmit.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedLogicalScheduler.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocfft): cover data_layout stride and offset arithmetic
  projects/rocfft/library/src/tests/CMakeLists.txt
  projects/rocfft/library/src/tests/data_layout_test.cpp
  projects/rocfft/shared/ptrdiff.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocfft): cover FMKey comparison, hashing and partial-pass ordering
  projects/rocfft/library/src/tests/CMakeLists.txt
  projects/rocfft/library/src/tests/function_map_key_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocfft): check kernel names are unique and schemes round trip
  projects/rocfft/library/src/tests/CMakeLists.txt
  projects/rocfft/library/src/tests/kernel_name_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocfft): cover plan decomposition, buffer assignment and twiddle reuse
  projects/rocfft/library/src/rocfft_stub.cpp
  projects/rocfft/library/src/tests/CMakeLists.txt
  projects/rocfft/library/src/tests/plan_test.cpp
  projects/rocfft/library/src/tests/repo_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocfft): skip a corrupt RTC cache file instead of failing rocfft_setup
  projects/rocfft/library/src/rtc_cache.cpp
  projects/rocfft/library/src/tests/rtc_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocfft): bound solution map field search and allow missing gcn_arch_name
  projects/rocfft/library/src/CMakeLists.txt
  projects/rocfft/library/src/include/data_descriptor.h
  projects/rocfft/library/src/include/function_map_key.h
  projects/rocfft/library/src/tests/CMakeLists.txt
  projects/rocfft/library/src/tests/solution_map_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci: update Phase-2 TheRock pin
  .github/workflows/therock-multi-arch-ci-asan.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove MT256 swizzleB direct-to-VGPR B
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Alik_Bljk_F4BS_MXA32_MXB32_BH_UserArgs.yaml
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGREmit.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedLogicalScheduler.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(tensilelite): fold the two row-major GR swizzles into one
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGREmit.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove MT256 swizzleB direct-to-VGPR B
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Alik_Bljk_F4BS_MXA32_MXB32_BH_UserArgs.yaml
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGREmit.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedLogicalScheduler.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs: point requirements.txt to rocm-docs-core source of truth for hipblas
  projects/hipblas/docs/sphinx/requirements.in
  projects/hipblas/docs/sphinx/requirements.txt
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(host-validation): add Python NumPy oracle
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/python/CMakeLists.txt
  shared/host-validation/python/roc_host_validation/__init__.py
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): define tensor-only core API
  projects/hipblaslt/clients/samples/common/helper.h
  projects/hipblaslt/clients/tests/src/matrix_transform_gtest.cpp
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/adapters/hipblaslt/HipblasltReferenceGemm.cpp
  shared/host-validation/adapters/include/roc/host_validation/adapters/hipblaslt/GroupedGemmDataInitialization.hpp
  shared/host-validation/adapters/include/roc/host_validation/adapters/hipblaslt/HipblasltDataInitialization.hpp
  shared/host-validation/adapters/include/roc/host_validation/adapters/tensilelite/HostValidationBridge.hpp
  shared/host-validation/adapters/include/roc/host_validation/adapters/tensilelite/TensileDataGeneration.hpp
  shared/host-validation/cmake/ROCHostValidationConfig.cmake.in
  shared/host-validation/include/roc/host_validation/detail/comparison.hpp
  shared/host-validation/include/roc/host_validation/detail/data_generation.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/include/roc/host_validation/detail/tensor_views.hpp
  shared/host-validation/include/roc/host_validation/tensor.hpp
  shared/host-validation/include/roc/host_validation/validation.hpp
  shared/host-validation/tests/CMakeLists.txt
  shared/host-validation/tests/check_core_boundary.cmake
  shared/host-validation/tests/package/CMakeLists.txt
  shared/host-validation/tests/package/main.cpp
  shared/host-validation/tests/package/validation.cpp
  shared/host-validation/tests/tensor_core_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): add runtime-typed tensor core
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/comparison.hpp
  shared/host-validation/include/roc/host_validation/detail/data_generation.hpp
  shared/host-validation/include/roc/host_validation/detail/tensor_views.hpp
  shared/host-validation/include/roc/host_validation/tensor.hpp
  shared/host-validation/tests/CMakeLists.txt
  shared/host-validation/tests/host_validation_test.cpp
  shared/host-validation/tests/package/main.cpp
  shared/host-validation/tests/scalar_codec_test.cpp
  shared/host-validation/tests/tensor_core_test.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(host-validation): complete runtime scalar codecs
  shared/host-validation/include/roc/host_validation/tensor.hpp
  shared/host-validation/tests/scalar_codec_test.cpp
  shared/host-validation/tests/tensor_core_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): add pluggable BLAS backend
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/clients/CMakeLists.txt
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/adapters/hipblaslt/HipblasltReferenceGemm.cpp
  shared/host-validation/cmake/ROCHostValidationConfig.cmake.in
  shared/host-validation/include/roc/host_validation/backends/blas.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/src/backends/blas.cpp
  shared/host-validation/tests/CMakeLists.txt
  shared/host-validation/tests/blas_backend_test.cpp
  shared/host-validation/tests/package/CMakeLists.txt
  shared/host-validation/tests/package/blas.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): unify reference GEMM API
  projects/hipblaslt/clients/bench/src/client_groupedgemm_fixed_mk.cpp
  projects/hipblaslt/clients/common/include/testing_matmul_batch_offset.hpp
  projects/hipblaslt/clients/samples/19_hipblaslt_gemm_mix_precision_ext/sample_hipblaslt_gemm_mix_precision_ext.cpp
  projects/hipblaslt/tensilelite/client/cpu_gemm_driver.cpp
  shared/host-validation/README.md
  shared/host-validation/adapters/hipblaslt/HipblasltReferenceGemm.cpp
  shared/host-validation/adapters/include/roc/host_validation/adapters/hipblaslt/Types.hpp
  shared/host-validation/adapters/include/roc/host_validation/adapters/tensilelite/HostValidationBridge.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/include/roc/host_validation/tensor.hpp
  shared/host-validation/tests/host_validation_test.cpp
  shared/host-validation/tests/package/validation.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): extract reference epilogue
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/Epilogue.hpp
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
  projects/hipblaslt/clients/common/src/CMakeLists.txt
  projects/hipblaslt/clients/common/src/host_validation/Epilogue.cpp
  projects/hipblaslt/clients/tests/src/matmul_gtest.cpp
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/reference_common.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_epilogue.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/include/roc/host_validation/validation.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/tests/host_validation_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): own bias reduction
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/Reduction.hpp
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
  projects/hipblaslt/clients/common/src/CMakeLists.txt
  projects/hipblaslt/clients/common/src/host_validation/Reduction.cpp
  projects/hipblaslt/clients/tests/src/matmul_gtest.cpp
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/reference_common.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_reduction.hpp
  shared/host-validation/include/roc/host_validation/validation.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/tests/host_validation_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): centralize indexed data generation
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/HipblasltDataInitialization.hpp
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/hipblaslt_init.hpp
  projects/hipblaslt/clients/tests/src/host_validation_gtest.cpp
  projects/hipblaslt/tensilelite/client/CMakeLists.txt
  projects/hipblaslt/tensilelite/client/include/DataInitialization.hpp
  projects/hipblaslt/tensilelite/client/src/host_validation/DataInitialization.cpp
  projects/hipblaslt/tensilelite/tests/DataInit_test.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/data_generation.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/tests/host_validation_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

ci(host-validation): require standalone Python validation
  .github/workflows/host-validation-ci.yml
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(host-validation): own partial output selection
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/tests/host_validation_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): bridge Tensile GEMM to runtime API
  shared/host-validation/adapters/include/roc/host_validation/adapters/tensilelite/HostValidationBridge.hpp
  shared/host-validation/adapters/tensilelite/Reference.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): model pre-quantization scaling
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/src/backends/blas.cpp
  shared/host-validation/src/backends/tiled.cpp
  shared/host-validation/tests/tiled_backend_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): tile block-scaled gemm
  projects/hipblaslt/tensilelite/tests/ReferenceMXFastPath_test.cpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/src/backends/tiled.cpp
  shared/host-validation/tests/tiled_backend_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(tensilelite): remove local tiled reference gemm
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): bridge tensile fp6 storage
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): share partial epilogue selection
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/reference_common.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_epilogue.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): expand tensile runtime gemm coverage
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/python/tests/test_host_validation.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): add product-independent tiled backend
  projects/hipblaslt/tensilelite/client/CMakeLists.txt
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/Reference.hpp
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/backends/tiled.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/python/CMakeLists.txt
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/src/backends/tiled.cpp
  shared/host-validation/tests/CMakeLists.txt
  shared/host-validation/tests/package/CMakeLists.txt
  shared/host-validation/tests/package/tiled.cpp
  shared/host-validation/tests/tiled_backend_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): bridge advanced tensile epilogues
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/Reference.hpp
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/reference_epilogue.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_reduction.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/tests/host_validation_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): extract hipblaslt reference staging
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/HipblasltReferenceGemm.hpp
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
  projects/hipblaslt/clients/common/src/host_validation/HipblasltReferenceGemm.cpp
  projects/hipblaslt/clients/tests/src/host_validation_gtest.cpp
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/backends/blas.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/src/backends/blas.cpp
  shared/host-validation/src/backends/tiled.cpp
  shared/host-validation/tests/blas_backend_test.cpp
  shared/host-validation/tests/package/blas.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(host-validation): add tensor contraction reference
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/Reference.hpp
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/reference_common.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_contraction.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/include/roc/host_validation/validation.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/tests/host_validation_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
