Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

feat(rocrand): occupancy helper for benchmark device api (#8665)
  projects/rocrand/CHANGELOG.md
  projects/rocrand/benchmark/benchmark_device_api.cpp
  projects/rocrand/benchmark/benchmark_device_api.hpp
  projects/rocrand/benchmark/benchmark_utils.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Revert "test(ci): break label_flags on purpose to prove the summary reports it"
  .github/scripts/therock_multiarch_label_flags.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(hipdnn): trim the kpack comments and drop their plan scaffolding
  dnn-providers/hip-kernel-provider/src/compilation/KpackArchive.hpp
  dnn-providers/hip-kernel-provider/src/compilation/KpackKernelLoader.cpp
  dnn-providers/hip-kernel-provider/src/compilation/KpackKernelLoader.hpp
  dnn-providers/hip-kernel-provider/src/compilation/KpackModule.hpp
  dnn-providers/hip-kernel-provider/src/compilation/KpackModuleCache.hpp
  dnn-providers/hip-kernel-provider/src/compilation/KpackProgram.hpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/IngestorKernelCode.hpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/PointwiseNative.cpp
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/IntegrationGpuKernelIngestorKpack.cpp
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/fixtures/packaged/PointwiseAdd.cpp
  dnn-providers/hip-kernel-provider/src/tests/compilation/TestKpackKernelLoader.cpp
  dnn-providers/hip-kernel-provider/src/tests/compilation/TestKpackModuleCache.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/TestPointwiseKpackDispatch.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

merge with develop
  projects/rpp/api/rppt_tensor_effects_augmentations.h
  projects/rpp/src/modules/tensor/cpu/kernel/erase.cpp
  projects/rpp/src/modules/tensor/cpu/kernel/grid_dropout.cpp
  projects/rpp/src/modules/tensor/hip/kernel/erase.cpp
  projects/rpp/src/modules/tensor/hip/kernel/grid_dropout.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): drop architecture labels hipcc cannot compile for
  dnn-providers/hip-kernel-provider/descriptor-packaging/cmake/HkpPackaging.cmake
  dnn-providers/hip-kernel-provider/src/tests/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hipdnn): cover cache concurrency and the module-load failure stage
  dnn-providers/hip-kernel-provider/src/tests/compilation/TestKpackModuleCache.cpp
  dnn-providers/hip-kernel-provider/src/tests/compilation/TestModuleCache.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(hipdnn): tighten the kpack compilation types and dedup the harness
  dnn-providers/hip-kernel-provider/cmake/RocmKpack.cmake
  dnn-providers/hip-kernel-provider/src/compilation/KpackArchive.hpp
  dnn-providers/hip-kernel-provider/src/compilation/KpackModule.hpp
  dnn-providers/hip-kernel-provider/src/compilation/KpackModuleCache.hpp
  dnn-providers/hip-kernel-provider/src/integration_tests/IntegrationGraphVerificationHarness.hpp
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/IntegrationGpuKernelIngestor.cpp
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/IntegrationGpuKernelIngestorKpack.cpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/Descriptors.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/KernelDefinition.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn-integration-tests): register the MoE grouped-matmul test (#11123)
  dnn-providers/integration-tests/src/integration-tests/moe/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): enforce launch and staging invariants
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Naming.py
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/Run.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_hgemm_debug_modes.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/sk_mxfp4_debug_modes.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_common_yaml_syncs_per_benchmark.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_kernel_compile_group.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(mirror-sync): Add retry, rebase, and verify to _push_changes (#11126)
  .github/scripts/pr_merge_sync_patches.py
  .github/scripts/tests/test_pr_merge_sync_patches.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add TODO
  .github/workflows/therock-multi-arch-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[RPP] normalize HOST: convert caller-supplied stdDev when mean is computed
  projects/rpp/src/modules/tensor/cpu/kernel/normalize.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ci): forward rocm_deb/rpm_package_version in nightly workflow (#11108)
  .github/workflows/therock-multi-arch-ci-nightly.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fixes
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/conv_implicit_gemm.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/test_conv_fwd_correctness.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fixes
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/instances/common/conv_implicit_gemm_conv_build_glue.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(stinkytofu): restore va_vdst wait for VALU-to-global-atomic RAW under ESM2
  projects/hipblaslt/tensilelite/rocisa/test/test_mubuf.py
  shared/stinkytofu/src/transforms/asm/InsertWaitAluPass.cpp
  shared/stinkytofu/tests/filecheck/InsertWaitAluPass_test.stir
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Added origami libs for mxfp4/fp8 bs/ss TN
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Origami/gfx1250_Cijk_Alik_Bljk_F4BS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Origami/gfx1250_Cijk_Alik_Bljk_F4SS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Origami/gfx1250_Cijk_Alik_Bljk_F8BS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Origami/gfx1250_Cijk_Alik_Bljk_F8SS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_SAB_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipdnn): conform RFC 0019.13 to parent rules it contradicted or omitted
  projects/hipdnn/docs/rfcs/0019.13_TrainingMethodology.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

use non-native bf16 implementation for gfx1250
  projects/composablekernel/include/ck/tensor_operation/gpu/element/unary_element_wise_operation.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipdnn): state RFC 0019.13 rules directly rather than against prior drafts
  projects/hipdnn/docs/rfcs/0019.13_TrainingMethodology.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipdnn): record which RFC 0019 open questions this work has settled
  projects/hipdnn/docs/rfcs/0019.13_TrainingMethodology.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Revert "feat: [hipblaslt][origami] gfx1250 BBS TN origami library (#11013)"
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Origami/gfx1250_Cijk_Alik_Bljk_BBS_BH_Bias_HA_S_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix pre-commit failures
  projects/rpp/src/include/common/cpu/rpp_cpu_fft.hpp
  projects/rpp/src/modules/tensor/cpu/kernel/spectrogram.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocblas): lower gemvn skinny-m crossover to 512 (256 for z)
  projects/rocblas/CHANGELOG.md
  projects/rocblas/clients/gtest/gemv_gtest.yaml
  projects/rocblas/library/src/blas2/rocblas_gemv_kernels.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): make the winner cache's file lock actually hold, and its records refreshable
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/CacheRoot.hpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/LineStore.hpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/PlatformUtils.windows.hpp
  projects/hipdnn/data_sdk/tests/CMakeLists.txt
  projects/hipdnn/data_sdk/tests/utilities/LineStoreLockHelper.cpp
  projects/hipdnn/data_sdk/tests/utilities/TestLineStore.cpp
  projects/hipdnn/data_sdk/tests/utilities/TestPathSanitizer.cpp
  projects/hipdnn/docs/AddingNewOperations.md
  projects/hipdnn/docs/Environment.md
  projects/hipdnn/flatbuffers_sdk/CMakeLists.txt
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/KernelIngestorStateManager.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/WinnerCache.hpp
  projects/hipdnn/plugin_sdk/tests/CMakeLists.txt
  projects/hipdnn/plugin_sdk/tests/ingestor/TestWinnerCache.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(Tensile/rocblas): additive fp64 split-K on hip DD fallback
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/hip/hip_Cijk_Ailk_Bjlk_DB.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/hip/hip_Cijk_Ailk_Bljk_DB.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/hip/hip_Cijk_Alik_Bjlk_DB.yaml
  projects/rocblas/library/src/blas3/Tensile/Logic/asm_full/hip/hip_Cijk_Alik_Bljk_DB.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocrand): benchmark vectorized device api if available (#8663)
  projects/rocrand/CHANGELOG.md
  projects/rocrand/benchmark/benchmark_device_api.cpp
  projects/rocrand/benchmark/benchmark_device_api.hpp
  projects/rocrand/benchmark/benchmark_utils.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): let an autotune ranking record be superseded, and unbreak test naming
  projects/hipdnn/backend/src/heuristics/config/AutotuneRankingStore.hpp
  projects/hipdnn/backend/tests/heuristics/TestAutotuneCacheEnv.cpp
  projects/hipdnn/backend/tests/heuristics/TestAutotuneCacheKey.cpp
  projects/hipdnn/backend/tests/heuristics/TestAutotuneRankingStore.cpp
  projects/hipdnn/backend/tests/heuristics/TestConfigBuiltIn.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocblas): make K chunking transpose aware
  projects/rocblas/library/src/blas3/Tensile/gemm_tensile.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipdnn): report what the autotune cache write did, and stop failed engines wedging it
  projects/hipdnn/backend/include/hipdnn_backend.h
  projects/hipdnn/backend/src/HipdnnBackend.cpp
  projects/hipdnn/backend/tests/TestHipdnnBackendWriteRanking.cpp
  projects/hipdnn/docs/Environment.md
  projects/hipdnn/frontend/include/hipdnn_frontend/Graph.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/autotune/AutotuneBenchmark.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/autotune/AutotuneTypes.hpp
  projects/hipdnn/frontend/tests/TestAutotune.cpp
  projects/hipdnn/python/frontend_bindings/src/autotune_bindings.cpp
  projects/hipdnn/python/frontend_wheel_package/tests/test_autotune.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

docs(rocblas): clarify skinny-m split sizing
  projects/rocblas/library/src/blas2/rocblas_gemv_kernels.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(stinkytofu/tensilelite): introduce EnableXnackReplay cap separate from RequiresXCntForVolatileVMEM
  projects/hipblaslt/tensilelite/Tensile/Components/GSU.py
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/hardware_caps.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/common.hpp
  shared/stinkytofu/include/stinkytofu/bindings/python/Module.hpp
  shared/stinkytofu/include/stinkytofu/core/Types.hpp
  shared/stinkytofu/python_module/src/HardwareCaps.cpp
  shared/stinkytofu/src/pipeline/backend/Backend.cpp
  shared/stinkytofu/src/transforms/asm/Gfx1250HazardPass.cpp
  shared/stinkytofu/tests/unit/asm/Gfx1250HazardPassTest.cpp
  shared/stinkytofu/tests/unit/asm/Gfx1250HazardProfileTest.cpp
  shared/stinkytofu/tools/stinkytofu-opt/stinkytofu-opt.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): resolve rocm_kpack hermetically, never fetch by default
  .github/workflows/hipdnn-superbuild-ci.yml
  dnn-providers/hip-kernel-provider/cmake/KpackPython.cmake
  dnn-providers/hip-kernel-provider/descriptor-packaging/cmake/HkpPackaging.cmake
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): stop an allocation failure escaping openLineStore with the lock held
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/LineStore.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): separate gfx950 debug mode coverage
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/sk_mxfp4_subtile_mode0.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/sk_sgemm_debug_modes.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_common_yaml_syncs_per_benchmark.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocwmma): probe the offload jobs flag, drop the removed half flag
  projects/rocwmma/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

address comments: latch fruitless tuning searches, scope tuning lock to one process
  projects/hipblaslt/clients/tests/src/tuning_cache_test.cpp
  projects/hipblaslt/docs/how-to/how-to-use-hipblaslt-offline-tuning.rst
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/UserDrivenTuningParser.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/UserDrivenTuningParser.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix mxDataGenerator headers
  projects/hipblaslt/tensilelite/CMakeLists.txt
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(stinkytofu/tensilelite): introduce EnableXnackReplay cap separate from RequiresXCntForVolatileVMEM
  projects/hipblaslt/tensilelite/Tensile/Components/GSU.py
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/hardware_caps.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/common.hpp
  shared/stinkytofu/include/stinkytofu/bindings/python/Module.hpp
  shared/stinkytofu/include/stinkytofu/core/Types.hpp
  shared/stinkytofu/python_module/src/HardwareCaps.cpp
  shared/stinkytofu/src/pipeline/backend/Backend.cpp
  shared/stinkytofu/src/transforms/asm/Gfx1250HazardPass.cpp
  shared/stinkytofu/tests/unit/asm/Gfx1250HazardPassTest.cpp
  shared/stinkytofu/tests/unit/asm/Gfx1250HazardProfileTest.cpp
  shared/stinkytofu/tools/stinkytofu-opt/stinkytofu-opt.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(stinkytofu): block the LD_SCALE cycle of scale WMMA co-issue windows
  shared/stinkytofu/hardware/src/gfx/Gfx1250/Gfx1250Formats.def
  shared/stinkytofu/hardware/src/gfx/Gfx1250v0/Gfx1250v0Formats.def
  shared/stinkytofu/include/stinkytofu/hardware/GfxIsa.hpp
  shared/stinkytofu/include/stinkytofu/ir/asm/StinkyAsmIR.hpp
  shared/stinkytofu/src/ir/asm/StinkyAsmIR.cpp
  shared/stinkytofu/src/transforms/asm/InsertClusterBarrierPass.cpp
  shared/stinkytofu/src/transforms/asm/SwInstructionPrefetchAbsDynamicPass.cpp
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
  shared/stinkytofu/src/transforms/logical/ToStinkyAsmPass.cpp
  shared/stinkytofu/tests/filecheck/dag_wmma_scale_blocked_tail.stir
  shared/stinkytofu/tools/tablegen/GenInstructions.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
