Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Fix tests that now need Command, and fix-format
  shared/rocroller/lib/source/CodeGen/LowerFromKernelGraph.cpp
  shared/rocroller/test/unit/LDSTileCopyTest.cpp
  shared/rocroller/test/unit/PermLanesTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Untangling test_sdk from future plugin_sdk
  projects/hipdnn/plugins/miopen_legacy_plugin/HipdnnEnginePluginExecutionContext.hpp
  projects/hipdnn/plugins/miopen_legacy_plugin/MiopenUtils.hpp
  projects/hipdnn/plugins/miopen_legacy_plugin/engines/plans/MiopenBatchnormFwdTrainingPlanBuilder.cpp
  projects/hipdnn/plugins/miopen_legacy_plugin/engines/plans/MiopenBatchnormPlanBuilder.cpp
  projects/hipdnn/plugins/miopen_legacy_plugin/engines/plans/MiopenConvFwdBiasActivPlanBuilder.cpp
  projects/hipdnn/plugins/miopen_legacy_plugin/engines/plans/MiopenConvPlanBuilder.cpp
  projects/hipdnn/plugins/miopen_legacy_plugin/tests/TestMiopenLegacyEnginePluginApi.cpp
  projects/hipdnn/plugins/miopen_legacy_plugin/tests/common/ActivationCommon.hpp
  projects/hipdnn/plugins/miopen_legacy_plugin/tests/engines/plans/TestMiopenBatchnormFwdTrainingActivPlanBuilder.cpp
  projects/hipdnn/plugins/miopen_legacy_plugin/tests/engines/plans/TestMiopenBatchnormPlanBuilder.cpp
  projects/hipdnn/sdk/include/hipdnn_sdk/plugin/PluginGraphTestUtils.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/plugin/flatbuffer_utilities/EngineConfigWrapper.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/plugin/flatbuffer_utilities/EngineDetailsWrapper.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/plugin/flatbuffer_utilities/FlatbufferTypeHelpers.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/plugin/flatbuffer_utilities/GraphWrapper.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/plugin/flatbuffer_utilities/NodeWrapper.hpp
  projects/hipdnn/sdk/tests/plugin/flatbuffer_utilities/TestEngineConfigWrapper.cpp
  projects/hipdnn/sdk/tests/plugin/flatbuffer_utilities/TestEngineDetailsWrapper.cpp
  projects/hipdnn/sdk/tests/plugin/flatbuffer_utilities/TestGraphWrapper.cpp
  projects/hipdnn/sdk/tests/plugin/flatbuffer_utilities/TestNodeWrapper.cpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/FlatbufferGraphTestUtils.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/BatchnormBwdSignatureKey.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/BatchnormFwdInferenceSignatureKey.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/BatchnormTrainSignatureKey.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/ConvolutionBwdSignatureKey.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/ConvolutionFwdSignatureKey.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/ConvolutionWrwSignatureKey.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/PointwiseSignatureKey.hpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestCpuReferenceGraphExecutor.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Final cleanup
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/FlatbufferGraphTestUtils.hpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestCpuReferenceGraphExecutor.cpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestPointwiseOperationsCpuGraphExecutor.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

use get_name()
  projects/hipdnn/frontend/include/hipdnn_frontend/Utilities.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Looks more and more like progress!
  shared/rocroller/lib/source/Costs/LinearWeightedCost.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/ClusterParallelChains.cpp
  shared/rocroller/scripts/lib/rrperf/rrsuites.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Format includes
  shared/rocroller/lib/source/KernelGraph/Transformations/AssignComputeIndex.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Some CMake fixes and update docs with recent CMake improvements.
  projects/hipdnn/CMakeLists.txt
  projects/hipdnn/cmake/CheckToolVersion.cmake
  projects/hipdnn/cmake/ClangToolChain.cmake
  projects/hipdnn/docs/Building.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Fix test target comments.
  projects/hipdnn/cmake/Tests.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Minor refactor
  shared/rocroller/lib/source/CodeGen/LoadStoreTileGenerator.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/AssignComputeIndex.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixing typo in parameters of kernel call
  projects/miopen/test/gtest/tensor_leading_ones_ocl_hip.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Accidentally added a log statement using std::cout, switch to MIOPEN_LOG_T
  projects/miopen/src/comgr.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Disable autoWGM for NTA and NTB
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/Origami_nta4/gfx950_Cijk_Alik_Bljk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Alik_Bljk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixing documentation and code to return rocsparse_status_not_implemented if batched calculation is expected
  projects/rocsparse/library/include/internal/generic/rocsparse_axpby.h
  projects/rocsparse/library/include/internal/generic/rocsparse_check_spmat.h
  projects/rocsparse/library/include/internal/generic/rocsparse_dense_to_sparse.h
  projects/rocsparse/library/include/internal/generic/rocsparse_extract.h
  projects/rocsparse/library/include/internal/generic/rocsparse_gather.h
  projects/rocsparse/library/include/internal/generic/rocsparse_rot.h
  projects/rocsparse/library/include/internal/generic/rocsparse_scatter.h
  projects/rocsparse/library/include/internal/generic/rocsparse_sddmm.h
  projects/rocsparse/library/include/internal/generic/rocsparse_sparse_to_dense.h
  projects/rocsparse/library/include/internal/generic/rocsparse_sparse_to_sparse.h
  projects/rocsparse/library/include/internal/generic/rocsparse_spgeam.h
  projects/rocsparse/library/include/internal/generic/rocsparse_spgemm.h
  projects/rocsparse/library/include/internal/generic/rocsparse_spitsv.h
  projects/rocsparse/library/include/internal/generic/rocsparse_spsm.h
  projects/rocsparse/library/include/internal/generic/rocsparse_spsv.h
  projects/rocsparse/library/include/internal/generic/rocsparse_sptrsm.h
  projects/rocsparse/library/include/internal/generic/rocsparse_sptrsv.h
  projects/rocsparse/library/include/internal/generic/rocsparse_spvv.h
  projects/rocsparse/library/include/internal/generic/rocsparse_v2_spmv.h
  projects/rocsparse/library/src/conversion/rocsparse_dense_to_sparse.cpp
  projects/rocsparse/library/src/conversion/rocsparse_extract.cpp
  projects/rocsparse/library/src/conversion/rocsparse_extract_buffer_size.cpp
  projects/rocsparse/library/src/conversion/rocsparse_sparse_to_dense.cpp
  projects/rocsparse/library/src/conversion/rocsparse_sparse_to_sparse.cpp
  projects/rocsparse/library/src/extra/rocsparse_spgeam.cpp
  projects/rocsparse/library/src/extra/rocsparse_spgemm.cpp
  projects/rocsparse/library/src/include/rocsparse_spvec_descr.hpp
  projects/rocsparse/library/src/level1/rocsparse_axpby.cpp
  projects/rocsparse/library/src/level1/rocsparse_gather.cpp
  projects/rocsparse/library/src/level1/rocsparse_rot.cpp
  projects/rocsparse/library/src/level1/rocsparse_scatter.cpp
  projects/rocsparse/library/src/level1/rocsparse_spvv.cpp
  projects/rocsparse/library/src/level2/rocsparse_spitsv.cpp
  projects/rocsparse/library/src/level2/rocsparse_spsv.cpp
  projects/rocsparse/library/src/level2/rocsparse_sptrsv.cpp
  projects/rocsparse/library/src/level2/rocsparse_v2_spmv.cpp
  projects/rocsparse/library/src/level3/rocsparse_sddmm.cpp
  projects/rocsparse/library/src/level3/rocsparse_spsm.cpp
  projects/rocsparse/library/src/level3/rocsparse_sptrsm.cpp
  projects/rocsparse/library/src/util/rocsparse_check_spmat.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

address review comments
  projects/hipdnn/frontend/include/hipdnn_frontend/Utilities.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Added a new tuning parameter ExtraMiLatencyLeft - ported the param from Tensile - use -1 to keep an adjustment of miLatency, miIssueLatency for gfx950 + 2 byte
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/Common/RequiredParameters.py
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Updating test docs.
  projects/hipdnn/docs/Testing.md
  projects/hipdnn/docs/testing/TestPlan.md
  projects/hipdnn/docs/testing/TestingStrategy.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

64b alignement + before startVgprSerial
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Make sure identity Matrix is init in all cases
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

New Schedule using `UseMFMAF32XEmulation`
  projects/hipblaslt/tensilelite/Tensile/Components/CustomSchedule.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add CMS
  projects/hipblaslt/tensilelite/Tensile/Components/CustomSchedule.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Improve GRA/B
  projects/hipblaslt/tensilelite/Tensile/Components/CustomSchedule.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

switched every usage of std::is_integral to rocprim::is_integral
  projects/rocprim/benchmark/benchmark_device_histogram.cpp
  projects/rocprim/benchmark/benchmark_device_histogram.parallel.hpp
  projects/rocprim/example/example_utils.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/device_histogram.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/ordered_block_id.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_radix_sort.hpp
  projects/rocprim/rocprim/include/rocprim/iterator/counting_iterator.hpp
  projects/rocprim/test/rocprim/test_device_merge_inplace.cpp
  projects/rocprim/test/rocprim/test_utils_assertions.hpp
  projects/rocprim/test/rocprim/test_utils_data_generation.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

cleanup
  projects/hipblaslt/tensilelite/Tensile/Components/CustomSchedule.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add logic file
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_S_MX_B_BiasS_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

softmaringloss test ported for new base testing
  projects/miopen/test/cpu_softmarginloss.hpp
  projects/miopen/test/gtest/sotfmarginloss_new.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add test
  projects/hipblaslt/tensilelite/Tensile/Components/CustomSchedule.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/custom_mainloop_scheduling_tf32.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

tmpfix(https://github.com/ROCm/libhipcxx/issues/14): allow for tests to be flaky and also to retry after timeout
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/utils/libcudacxx/test/format.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

tmpfix(https://github.com/ROCm/libhipcxx/issues/14): reduce test timeout
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

tmpfix(https://github.com/ROCm/libhipcxx/issues/13): do not execute test_edges in pow_scalar_complex.pass.cpp for certain ROCm versions when optimization is turned on.
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/numerics/complex.number/complex.transcendentals/pow_scalar_complex.pass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add gfx1150 benchmark config
  projects/rocrand/library/src/rng/config/lfsr113_config.hpp
  projects/rocrand/library/src/rng/config/mrg31k3p_config.hpp
  projects/rocrand/library/src/rng/config/mrg32k3a_config.hpp
  projects/rocrand/library/src/rng/config/mt19937_config.hpp
  projects/rocrand/library/src/rng/config/mtgp32_config.hpp
  projects/rocrand/library/src/rng/config/philox4_32_10_config.hpp
  projects/rocrand/library/src/rng/config/threefry2_32_20_config.hpp
  projects/rocrand/library/src/rng/config/threefry2_64_20_config.hpp
  projects/rocrand/library/src/rng/config/threefry4_32_20_config.hpp
  projects/rocrand/library/src/rng/config/threefry4_64_20_config.hpp
  projects/rocrand/library/src/rng/config/xorwow_config.hpp
  projects/rocrand/library/src/rng/config_types.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Pulled in updated gfx950 tunanet model
  projects/miopen/src/kernels/gfx950_3d.tn.model
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Docstring improvements
  projects/hipblaslt/tensilelite/Tensile/Components/CMSValidator.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Removing boost::small_vector from OpKernelArg
  projects/miopen/src/include/miopen/op_kernel_args.hpp
  projects/miopen/src/kernels/MIOpenTensorKernelsHip.cpp
  projects/miopen/test/gtest/tensor_leading_ones_ocl_hip.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add deprecation notice to hipsparseSpSM_solve routine
  projects/hipsparse/library/include/internal/generic/hipsparse_spsm.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update docstring
  projects/hipblaslt/tensilelite/Tensile/Components/CMSValidator.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

optimize fillWithValue for packed tensors
  projects/hipdnn/sdk/include/hipdnn_sdk/utilities/Tensor.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

optimize fillWithRandomValues for packed tensors
  projects/hipdnn/sdk/include/hipdnn_sdk/utilities/Tensor.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add testing code
  projects/hipdnn/frontend/include/hipdnn_frontend/Error.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/Node.hpp
  projects/hipdnn/frontend/tests/TestNode.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Install .csr instead of .bin
  projects/hipsparse/clients/tests/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

- Handle the case where the AOT function pool process attemps to call hipGetDevice without any visible HIP devices.
  projects/rocfft/library/src/device/kernel-generator.py
  projects/rocfft/library/src/include/function_pool.h
  projects/rocfft/shared/device_properties.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
