Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

reuse prepKernel
  shared/rocroller/lib/source/CommandSolution.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

build: remove hipsparse link
  projects/hipsparselt/library/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

forgot merging into the existing liblogics
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bjlk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bljk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add fix for autoperf run
  shared/rocroller/scripts/lib/rrperf/run.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Check wave group in CMS
  projects/hipblaslt/tensilelite/Tensile/Components/CustomSchedule.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/custom_mainloop_scheduling.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update gardening.md with new rotation
  docs/gardening.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update gardening.md
  docs/gardening.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

rename member
  shared/rocroller/lib/include/rocRoller/KernelGraph/Transforms/LDSBankModel.hpp
  shared/rocroller/lib/source/KernelGraph/Transformations/LDSBankModel.cpp
  shared/rocroller/test/catch/MemoryTracerTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

clean up docstrings
  shared/rocroller/lib/include/rocRoller/KernelGraph/Transforms/LDSBankModel.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

move templated func to _impl
  shared/rocroller/lib/include/rocRoller/KernelGraph/Transforms/MemoryTracer.hpp
  shared/rocroller/lib/include/rocRoller/KernelGraph/Transforms/MemoryTracer_impl.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix error when ls output is piped
  shared/rocroller/scripts/lib/rrperf/ls.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Updated Git LFS documentation to refer to DVC instead
  projects/miopen/README.md
  projects/miopen/docs/install/build-source.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

move things around; fix for gfx12
  shared/rocroller/lib/include/rocRoller/KernelGraph/Transforms/MemoryTracer.hpp
  shared/rocroller/lib/include/rocRoller/KernelGraph/Transforms/MemoryTracer_impl.hpp
  shared/rocroller/lib/source/KernelGraph/Transformations/MemoryTracer.cpp
  shared/rocroller/test/catch/MemoryTracerTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocroller] Some private headers now include boost multi_index.
  shared/rocroller/test/common/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Updated text wrapping a bit
  projects/miopen/docs/install/build-source.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Use assertFatal instead of if and throw
  shared/rocroller/client/src/gemm.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update wording to align better with old documentation
  projects/miopen/docs/install/build-source.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

use string assertions
  shared/rocroller/lib/include/rocRoller/KernelGraph/Transforms/MemoryTracer_impl.hpp
  shared/rocroller/lib/source/KernelGraph/Transformations/MemoryTracer.cpp
  shared/rocroller/test/catch/MemoryTracerTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

simplify simulate method; fix speed of test
  shared/rocroller/lib/source/KernelGraph/Transformations/LDSBankModel.cpp
  shared/rocroller/test/catch/MemoryTracerTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

minor
  shared/rocroller/lib/source/KernelGraph/Transformations/LDSBankModel.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

delete echoBanks
  shared/rocroller/lib/include/rocRoller/KernelGraph/Transforms/LDSBankModel.hpp
  shared/rocroller/lib/source/KernelGraph/Transformations/LDSBankModel.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Updates to Origami model to predict nontemporal
  shared/origami/include/origami/gemm.hpp
  shared/origami/include/origami/utils.hpp
  shared/origami/src/origami/gemm.cpp
  shared/origami/src/origami/utils.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Attempt to remove Boost
  shared/rocroller/CMakeLists.txt
  shared/rocroller/README.md
  shared/rocroller/codeql/exclude_paths.txt
  shared/rocroller/docker/dockerfile-ubuntu-clang
  shared/rocroller/docker/dockerfile-ubuntu-gcc
  shared/rocroller/lib/include/rocRoller/Graph/Hypergraph.hpp
  shared/rocroller/lib/include/rocRoller/Graph/Hypergraph_impl.hpp
  shared/rocroller/lib/include/rocRoller/Serialization/Hypergraph.hpp
  shared/rocroller/lib/source/CMakeLists.txt
  shared/rocroller/lib/source/CodeGen/LoadStoreTileGenerator.cpp
  shared/rocroller/test/catch/HypergraphTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

have memoryTracer take in a gfx
  shared/rocroller/lib/include/rocRoller/KernelGraph/Transforms/LDSBankModel.hpp
  shared/rocroller/lib/source/CommandSolution.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/LDSBankModel.cpp
  shared/rocroller/test/catch/MemoryTracerTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

delete unused num entries
  shared/rocroller/lib/include/rocRoller/KernelGraph/Transforms/LDSBankModel.hpp
  shared/rocroller/lib/source/KernelGraph/Transformations/LDSBankModel.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix merge issue
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/solution_selection.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

cleanup tests
  shared/rocroller/test/catch/MemoryTracerTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Adding verbose logging to dvc pull
  projects/miopen/vars/utils.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Attempting to fix issue with dvc in containers with a UID that doesn't have an entry in /etc/passwd
  projects/miopen/vars/utils.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

tf32 and fp32 TT gridbased update for gfx942
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Ailk_Bljk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

utils/libcudacxx/test/config.py: Get rocm version
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/utils/libcudacxx/test/config.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

std/algorithms/alg.modifying/alg.unique/unique_pred.pass.cpp: Unsupport it based on ROCm version
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/algorithms/alg.modifying/alg.unique/unique_pred.pass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Avoid to always install rocm-cmake in hipblaslt even if alraedy installed
  projects/hipblaslt/cmake/dependencies.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocPRIM, rocThrust,hipCUB] adding monorepo info
  projects/hipcub/docs/index.rst
  projects/hipcub/docs/install/hipCUB-install-on-Windows.rst
  projects/hipcub/docs/install/hipCUB-install-overview.rst
  projects/hipcub/docs/install/hipCUB-install-with-cmake.rst
  projects/rocprim/docs/conf.py
  projects/rocprim/docs/index.rst
  projects/rocprim/docs/install/rocPRIM-build-install-linux.rst
  projects/rocprim/docs/install/rocPRIM-build-install-windows.rst
  projects/rocprim/docs/install/rocPRIM-install-overview.rst
  projects/rocprim/docs/sphinx/_toc.yml.in
  projects/rocthrust/docs/index.rst
  projects/rocthrust/docs/install/rocThrust-install-overview.rst
  projects/rocthrust/docs/install/rocThrust-install-script.rst
  projects/rocthrust/docs/install/rocThrust-install-with-cmake.rst
  projects/rocthrust/docs/install/rocThrust-rmake-install.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

1x1wrw fix and test update
  projects/miopen/src/env_debug.cpp
  projects/miopen/src/kernels/conv1x1wrw.s
  projects/miopen/test/gtest/gtest_common.hpp
  projects/miopen/test/gtest/smoke_solver_convasmbwdwrw.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

remove hash from spatially local locks
  projects/miopen/src/lock_file.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

simplify
  projects/miopen/src/lock_file.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocPRIM] fixed a formatting issue on landing page
  projects/rocprim/docs/index.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

format
  projects/miopen/src/lock_file.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Address README review comments
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
