Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[miopen-provider] Disable CBA fusion on gfx90a (issue #5409) (#6910)
  dnn-providers/miopen-provider/MiopenUtils.cpp
  dnn-providers/miopen-provider/MiopenUtils.hpp
  dnn-providers/miopen-provider/Workarounds.hpp
  dnn-providers/miopen-provider/engines/plans/MiopenConvFwdBiasActivPlanBuilder.cpp
  dnn-providers/miopen-provider/integration_tests/IntegrationGpuBenchmarkingKnob.cpp
  dnn-providers/miopen-provider/integration_tests/IntegrationGpuConvFwdBiasActiv.cpp
  dnn-providers/miopen-provider/integration_tests/IntegrationGpuDeterministic.cpp
  dnn-providers/miopen-provider/tests/CMakeLists.txt
  dnn-providers/miopen-provider/tests/common/TestWorkarounds.cpp
  dnn-providers/miopen-provider/tests/common/TestWorkarounds.hpp
  dnn-providers/miopen-provider/tests/engines/plans/TestMiopenConvFwdBiasActivPlan.cpp
  dnn-providers/miopen-provider/tests/engines/plans/TestMiopenConvFwdBiasActivPlanBuilder.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocBLAS] add advice on low memory testing (#6901)
  projects/rocblas/docs/how-to/Programmers_Guide.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipSPARSELt] Updated CHANGELOG for hipSPARSELt v0.2.8
  projects/hipsparselt/CHANGELOG.md
  projects/hipsparselt/CMakeLists.txt
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[prims libraries] Update changelog titles for 7.13 (#6892)
  projects/hipcub/CHANGELOG.md
  projects/hiprand/CHANGELOG.md
  projects/rocprim/CHANGELOG.md
  projects/rocrand/CHANGELOG.md
  projects/rocthrust/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update auto-labeling behavior for stinkytofu (#6801)
  .github/labeler.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hotfix][stinkytofu] Link pthread for glibc < 2.34 compatibility (#6929)
  shared/stinkytofu/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add EXPORT_FORTRAN_BINDINGS option (#6530)
  projects/hipsolver/CMakeLists.txt
  projects/hipsolver/library/src/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Build + test `fusilliprovider` in rocm-libraries CI (#6903)
  .github/repos-config.json
  .github/scripts/therock_matrix.py
  .github/workflows/therock-ci-linux.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Fix token consistency check and add report_fatal_error (#6924)
  shared/stinkytofu/include/stinkytofu/support/ErrorHandling.hpp
  shared/stinkytofu/src/serialization/asm/RawAsmParser.cpp
  shared/stinkytofu/src/transforms/asm/StinkyBuildImplicitDependencyPass.cpp
  shared/stinkytofu/tests/filecheck/raw_asm_token_annotation_missing_o0.s
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocprim): improve atomic intrinsics tests (#6571)
  projects/rocprim/test/rocprim/test_intrinsics_atomic.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt][tensilelite] Replace yaml.dump with custom yaml writer (#4932)
  projects/hipblaslt/tensilelite/Tensile/LibraryIO.py
  projects/hipblaslt/tensilelite/scripts/analyze_timing.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK_TILE] Add SageAttention v2 forward kernel with multi-granularity quantization (#6574)
  projects/composablekernel/example/ck_tile/49_sageattention/CMakeLists.txt
  projects/composablekernel/example/ck_tile/49_sageattention/codegen/__init__.py
  projects/composablekernel/example/ck_tile/49_sageattention/codegen/arch.py
  projects/composablekernel/example/ck_tile/49_sageattention/codegen/cmake_config.py
  projects/composablekernel/example/ck_tile/49_sageattention/codegen/cpp_symbol_map.py
  projects/composablekernel/example/ck_tile/49_sageattention/codegen/ops/__init__.py
  projects/composablekernel/example/ck_tile/49_sageattention/codegen/ops/sageattn_fwd.py
  projects/composablekernel/example/ck_tile/49_sageattention/codegen/utils.py
  projects/composablekernel/example/ck_tile/49_sageattention/example_sageattn_fwd.cpp
  projects/composablekernel/example/ck_tile/49_sageattention/generate.py
  projects/composablekernel/example/ck_tile/49_sageattention/mask.hpp
  projects/composablekernel/example/ck_tile/49_sageattention/quant.hpp
  projects/composablekernel/example/ck_tile/49_sageattention/sageattn_fwd.hpp
  projects/composablekernel/example/ck_tile/49_sageattention/sageattn_fwd_runner.hpp
  projects/composablekernel/example/ck_tile/49_sageattention/script/smoke_test_sageattn_fwd.sh
  projects/composablekernel/example/ck_tile/49_sageattention/utils.hpp
  projects/composablekernel/example/ck_tile/CMakeLists.txt
  projects/composablekernel/include/ck_tile/ops/gemm/warp/warp_gemm.hpp
  projects/composablekernel/include/ck_tile/ops/sageattention/block/block_sageattention_quant_scale_enum.hpp
  projects/composablekernel/include/ck_tile/ops/sageattention/kernel/sageattn_fwd_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/sageattention/pipeline/block_sageattn_pipeline_enum.hpp
  projects/composablekernel/include/ck_tile/ops/sageattention/pipeline/block_sageattn_pipeline_problem.hpp
  projects/composablekernel/include/ck_tile/ops/sageattention/pipeline/block_sageattn_pipeline_qr_ks_vs.hpp
  projects/composablekernel/include/ck_tile/ops/sageattention/pipeline/block_sageattn_pipeline_qr_ks_vs_async.hpp
  projects/composablekernel/include/ck_tile/ops/sageattention/pipeline/block_sageattn_pipeline_qr_ks_vs_async_default_policy.hpp
  projects/composablekernel/include/ck_tile/ops/sageattention/pipeline/block_sageattn_pipeline_qr_ks_vs_custom_policy.hpp
  projects/composablekernel/include/ck_tile/ops/sageattention/pipeline/block_sageattn_pipeline_qr_ks_vs_default_policy.hpp
  projects/composablekernel/include/ck_tile/ops/sageattention/pipeline/tile_sageattn_shape.hpp
  projects/composablekernel/include/ck_tile/ops/sageattention/pipeline/tile_sageattn_traits.hpp
  projects/composablekernel/include/ck_tile/ops/sageattn.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocsparse] Add missing create const descr for BSR format (#6713)
  projects/rocsparse/CHANGELOG.md
  projects/rocsparse/clients/testings/testing_const_spmat_descr.cpp
  projects/rocsparse/docs/reference/api.rst
  projects/rocsparse/docs/reference/auxiliary.rst
  projects/rocsparse/library/include/rocsparse-auxiliary.h
  projects/rocsparse/library/include/rocsparse-types.h
  projects/rocsparse/library/src/auxiliary/rocsparse_auxiliary.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipSOLVER] Add hipsolverDnXsytrs and tests (#6370)
  projects/hipsolver/CHANGELOG.md
  projects/hipsolver/clients/common/lapack_host_reference.cpp
  projects/hipsolver/clients/gtest/CMakeLists.txt
  projects/hipsolver/clients/gtest/sytrs_gtest.cpp
  projects/hipsolver/clients/include/hipsolver.hpp
  projects/hipsolver/clients/include/hipsolver_dispatcher.hpp
  projects/hipsolver/clients/include/lapack_host_reference.hpp
  projects/hipsolver/clients/include/testing_sytrs.hpp
  projects/hipsolver/docs/reference/dense-api/lapack.rst
  projects/hipsolver/docs/reference/intro.rst
  projects/hipsolver/library/include/internal/hipsolver-dense64.h
  projects/hipsolver/library/src/amd_detail/hipsolver_dense64.cpp
  projects/hipsolver/library/src/nvidia_detail/hipsolver_dense64.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] RawAsmParser: fix round-trip fidelity for gfx1250 (#6919)
  shared/stinkytofu/hardware/src/gfx/Gfx1250/Gfx1250Instructions.def
  shared/stinkytofu/include/stinkytofu/ir/asm/StinkySignature.hpp
  shared/stinkytofu/include/stinkytofu/serialization/asm/IRParser.hpp
  shared/stinkytofu/include/stinkytofu/serialization/asm/RawAsmParser.hpp
  shared/stinkytofu/src/ir/asm/StinkySignature.cpp
  shared/stinkytofu/src/serialization/asm/IRConverter.cpp
  shared/stinkytofu/src/serialization/asm/RawAsmParser.cpp
  shared/stinkytofu/src/serialization/asm/StinkyAsmEmitter.cpp
  shared/stinkytofu/tests/filecheck/raw_asm_preserve_comments.s
  shared/stinkytofu/tests/filecheck/raw_asm_preserve_symbolic_regs.s
  shared/stinkytofu/tests/filecheck/raw_asm_roundtrip.s
  shared/stinkytofu/tests/filecheck/raw_asm_set_symbol_operand.s
  shared/stinkytofu/tests/filecheck/raw_asm_textblock_passthrough.s
  shared/stinkytofu/tools/stinkytofu-opt/README.md
  shared/stinkytofu/tools/stinkytofu-opt/stinkytofu-opt.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[rocsparse] Add changelog entry for off-by-one buffer fix (PR #6642) (#6969)
  projects/rocsparse/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Adding missing dnn-providers/integration-tests to repos-config.json (#6905)
  .github/repos-config.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add dynamic tolerance for batchnorm inference (#6770)
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/DynamicTolerancesBatchNorm.hpp
  projects/hipdnn/test_sdk/tests/utilities/TestDynamicTolerancesBatchNorm.cpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestBatchnormFwdInferencePlan.cpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestBatchnormFwdInferenceWithVariancePlan.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Preserve MUBUF scope modifiers through StinkyTofu lowering (#6852)
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/mem.hpp
  projects/hipblaslt/tensilelite/rocisa/test/test_mubuf.py
  projects/hipblaslt/tensilelite/rocisa/test/test_mubuf_off_vaddr.py
  shared/stinkytofu/include/stinkytofu/ir/asm/StinkyModifiers.hpp
  shared/stinkytofu/src/conversion/rocisa/ToStinkyTofuUtils.cpp
  shared/stinkytofu/src/serialization/asm/ModifierSerializer.cpp
  shared/stinkytofu/src/serialization/asm/StinkyAsmEmitter.cpp
  shared/stinkytofu/tests/filecheck/mubuf_off_vaddr.stir
  shared/stinkytofu/tests/unit/asm/StinkyAsmEmitterTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add StinkyTofu CI (#6811)
  .github/workflows/stinkytofu-ci.yml
  shared/stinkytofu/requirements.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite/rocisa] Replace Tensile.sh rebuild guard with import-time stale binding detection (#6876)
  projects/hipblaslt/tensilelite/README.md
  projects/hipblaslt/tensilelite/cmake/tensilelite_auto_build.cmake
  projects/hipblaslt/tensilelite/rocisa/CMakeLists.txt
  projects/hipblaslt/tensilelite/rocisa/README.md
  projects/hipblaslt/tensilelite/rocisa/rocisa/__init__.py
  projects/hipblaslt/tensilelite/rocisa/rocisa/_build_info.py.in
  projects/hipblaslt/tensilelite/tasks.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipSOLVER] Added hipsolverDnXgeev (#6387)
  projects/hipsolver/CHANGELOG.md
  projects/hipsolver/CMakeLists.txt
  projects/hipsolver/clients/CMakeLists.txt
  projects/hipsolver/clients/benchmarks/client.cpp
  projects/hipsolver/clients/gtest/CMakeLists.txt
  projects/hipsolver/clients/gtest/geev_gtest.cpp
  projects/hipsolver/clients/include/hipsolver.hpp
  projects/hipsolver/clients/include/hipsolver_dispatcher.hpp
  projects/hipsolver/clients/include/testing_geev.hpp
  projects/hipsolver/deps/external-lapack.cmake
  projects/hipsolver/docs/howto/usage.rst
  projects/hipsolver/docs/reference/dense-api/lapack.rst
  projects/hipsolver/docs/reference/intro.rst
  projects/hipsolver/library/include/internal/hipsolver-dense64.h
  projects/hipsolver/library/src/CMakeLists.txt
  projects/hipsolver/library/src/amd_detail/hipsolver_dense64.cpp
  projects/hipsolver/library/src/include/extern.hpp
  projects/hipsolver/library/src/nvidia_detail/hipsolver_dense64.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipTensor] Implement trinary contraction (#6797)
  projects/hiptensor/docs/.gitignore
  projects/hiptensor/docs/api-reference/api-reference.rst
  projects/hiptensor/docs/conceptual/programmers-guide.rst
  projects/hiptensor/docs/doxygen/Doxyfile
  projects/hiptensor/library/include/hiptensor/hiptensor.h
  projects/hiptensor/library/src/contraction/contraction_solution.cpp
  projects/hiptensor/library/src/contraction/contraction_solution.hpp
  projects/hiptensor/library/src/contraction/hiptensor_contraction.cpp
  projects/hiptensor/library/src/hiptensor.cpp
  projects/hiptensor/library/src/include/data_types.hpp
  projects/hiptensor/library/src/include/plancache_autotune.hpp
  projects/hiptensor/rtest.xml
  projects/hiptensor/samples/01_contraction/CMakeLists.txt
  projects/hiptensor/samples/01_contraction/simple_scale_contraction.hpp
  projects/hiptensor/samples/01_contraction/simple_scale_contraction_unary_ops.cpp
  projects/hiptensor/samples/01_contraction/simple_trinary_bilinear_contraction_f32_f32_f32_f32_compute_f16.cpp
  projects/hiptensor/samples/01_contraction/simple_trinary_scale_contraction_f32_f32_f32_f32_compute_f16.cpp
  projects/hiptensor/test/01_contraction/CMakeLists.txt
  projects/hiptensor/test/01_contraction/bilinear_contraction_with_unary_ops_test.cpp
  projects/hiptensor/test/01_contraction/configs/bilinear_contraction_unary_ops_params.yaml
  projects/hiptensor/test/01_contraction/configs/scale_contraction_unary_ops_params.yaml
  projects/hiptensor/test/01_contraction/configs/validation/trinary_bilinear_test_params.yaml
  projects/hiptensor/test/01_contraction/configs/validation/trinary_scale_test_params.yaml
  projects/hiptensor/test/01_contraction/scale_contraction_with_unary_ops_test.cpp
  projects/hiptensor/test/01_contraction/trinary_bilinear_contraction_test.cpp
  projects/hiptensor/test/01_contraction/trinary_contraction_resource.cpp
  projects/hiptensor/test/01_contraction/trinary_contraction_resource.hpp
  projects/hiptensor/test/01_contraction/trinary_contraction_test.cpp
  projects/hiptensor/test/01_contraction/trinary_contraction_test.hpp
  projects/hiptensor/test/01_contraction/trinary_scale_contraction_test.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[miopen-provider] Fix improperly named test and docs that provide naming guidelines (#6975)
  dnn-providers/miopen-provider/docs/ai-rules.md
  dnn-providers/miopen-provider/tests/common/TestWorkarounds.cpp
  projects/hipdnn/docs/ai-rules.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CI] Fix branch synchronization issue and project name mismatch issue from docs-pr-preview workflow (#6893)
  .github/workflows/docs-pr-preview.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Revert PR 6980: restore Windows static stinkytofu build (ROCM-23950) (#6998)
  shared/stinkytofu/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Revert " [MIOpen] Enable GEMM solvers for dilated convolutions (#6507)" (#6974)
  projects/miopen/src/convolution.cpp
  projects/miopen/test/gtest/unit_conv_solver_GemmBwdRest.cpp
  projects/miopen/test/gtest/unit_conv_solver_GemmFwdRest.cpp
  projects/miopen/test/gtest/unit_conv_solver_GemmWrwUniversal.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] Dockerfile: auto-discover latest TheRock nightly tarball (#6972)
  projects/composablekernel/Dockerfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add gfx1250 support to Origami (#6971)
  shared/origami/README.md
  shared/origami/include/origami/hardware.hpp
  shared/origami/python/src/origami/bindings.cpp
  shared/origami/src/origami/gemm.cpp
  shared/origami/src/origami/hardware.cpp
  shared/origami/tests/include/common.hpp
  shared/origami/tests/test_origami.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt][tensilelite] Ensure cache coherence for StreamK fixup flag handling on GFX1250 (#6837)
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_f8gemm_quick.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_hgemm_quick.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_mxf4gemm_quick.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_mxf4gemm_tdm.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_mxf6b8gemm_quick.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_mxf8b6gemm_quick.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_mxf8f4gemm_quick.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_mxf8f4gemm_tdm.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_mxf8gemm_quick.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_mxf8gemm_tdm.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_sgemm_quick.yaml
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/container.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/hardware_caps.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipdnn][hip-kernel-provider] RMSnorm stats shape follow-up (#6527)
  dnn-providers/hip-kernel-provider/kernels/rmsnorm/RMSNormFwd.cpp
  dnn-providers/hip-kernel-provider/src/engines/plans/RMSnorm/RMSnormApplicabilityChecks.cpp
  dnn-providers/hip-kernel-provider/src/engines/plans/RMSnorm/RMSnormApplicabilityChecks.hpp
  dnn-providers/hip-kernel-provider/src/engines/plans/RMSnorm/RMSnormFwdPlan.cpp
  dnn-providers/hip-kernel-provider/src/engines/plans/RMSnorm/RMSnormFwdPlan.hpp
  dnn-providers/hip-kernel-provider/src/integration_tests/RMSnorm/IntegrationGpuRMSnormForward.cpp
  dnn-providers/hip-kernel-provider/src/integration_tests/RMSnorm/RMSnormCommon.hpp
  dnn-providers/hip-kernel-provider/src/tests/engines/plans/RMSnorm/TestRMSnormApplicabilityChecks.cpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/FlatbufferGraphTestUtils.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt] Docs: Fix link and formatting in predicates docs (#6988)
  projects/hipblaslt/docs/conceptual/pci-chip-id-predicates-walkthrough.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update contents in CHANGELOG.md according to doc team requirements (#6942)
  projects/hiptensor/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Add dynamic arch support via BackendRegistry API (#6984)
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/main.cpp
  shared/stinkytofu/docs/developer/adding-architecture.md
  shared/stinkytofu/include/stinkytofu/pipeline/BackendRegistry.hpp
  shared/stinkytofu/python_module/src/python_bindings.cpp
  shared/stinkytofu/src/conversion/rocisa/ToStinkyTofuUtils.cpp
  shared/stinkytofu/src/pipeline/backend/BackendRegistry.cpp
  shared/stinkytofu/src/pipeline/backend/Gfx1250Backend.cpp
  shared/stinkytofu/tests/CMakeLists.txt
  shared/stinkytofu/tests/unit/core/BackendRegistryTest.cpp
  shared/stinkytofu/tools/stinkytofu-opt/stinkytofu-opt.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[MIOPEN][CI] fix sccache url (#6976)
  projects/miopen/Dockerfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipRAND] [rocRAND] Add gfx1150 support (#3467)
  projects/hiprand/CHANGELOG.md
  projects/hiprand/CMakeLists.txt
  projects/hiprand/rmake.py
  projects/rocrand/CHANGELOG.md
  projects/rocrand/CMakeLists.txt
  projects/rocrand/library/src/rng/config/lfsr113_config.hpp
  projects/rocrand/library/src/rng/config/mrg31k3p_config.hpp
  projects/rocrand/library/src/rng/config/mrg32k3a_config.hpp
  projects/rocrand/library/src/rng/config/mt19937_config.hpp
  projects/rocrand/library/src/rng/config/mtgp32_config.hpp
  projects/rocrand/library/src/rng/config/philox4_32_10_config.hpp
  projects/rocrand/library/src/rng/config/threefry2_32_20_config.hpp
  projects/rocrand/library/src/rng/config/threefry2_64_20_config.hpp
  projects/rocrand/library/src/rng/config/threefry4_32_20_config.hpp
  projects/rocrand/library/src/rng/config/threefry4_64_20_config.hpp
  projects/rocrand/library/src/rng/config/xorwow_config.hpp
  projects/rocrand/library/src/rng/config_types.hpp
  projects/rocrand/rmake.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hip-kernel-provider] Support different data types in the RMSNormFwd kernel (#6377)
  dnn-providers/hip-kernel-provider/kernels/rmsnorm/RMSNormFwd.cpp
  dnn-providers/hip-kernel-provider/src/engines/plans/RMSnorm/RMSnormApplicabilityChecks.cpp
  dnn-providers/hip-kernel-provider/src/engines/plans/RMSnorm/RMSnormFwdPlan.cpp
  dnn-providers/hip-kernel-provider/src/engines/plans/RMSnorm/RMSnormPlanBuilder.cpp
  dnn-providers/hip-kernel-provider/src/integration_tests/RMSnorm/IntegrationGpuRMSnormForward.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/plans/RMSnorm/TestRMSnormFwdPlan.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Build as SHARED on Windows, remove static workaround (#6980)
  shared/stinkytofu/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt][tensilelite] Tox ergonomics and WavefrontSize auto-detect (#6885)
  projects/hipblaslt/tensilelite/README.md
  projects/hipblaslt/tensilelite/Tensile/BenchmarkProblems.py
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/conftest.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_TensileLibLogicToYaml.py
  projects/hipblaslt/tensilelite/Tensile/Toolchain/Validators.py
  projects/hipblaslt/tensilelite/tasks.py
  projects/hipblaslt/tensilelite/tox.ini
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] Reduce per-file logging in cmake_dependency_analyzer (#6912)
  projects/composablekernel/script/dependency-parser/src/cmake_dependency_analyzer.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
