Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

feat(stinkytofu): temp gate to suppress valu->global src RAW va_vdst (#10215)
  shared/stinkytofu/src/transforms/asm/InsertWaitAluPass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(miopen): migrate 3D int8 fwd cases into unit_conv_solver_ConvDirectNaiveConvFwd
  projects/miopen/test/gtest/test_naive_conv_3d_int8_fwd.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvDirectNaiveConvFwd.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

kernel test
  projects/rocprim/test/hip/test_ordered_block_id.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

replace uniqueness check with checking that it's ordered
  projects/rocprim/test/hip/test_ordered_block_id.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Potential fix for pull request finding
  projects/rocprim/test/hip/test_ordered_block_id.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): add bcontig LDS layout for gfx1250 segment interleave
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/Components/LocalRead.py
  projects/hipblaslt/tensilelite/Tensile/Components/LraTileAssignment.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Naming.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/segment_interleave.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_segment_interleave.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): support fp4/mxf4 in gfx1250 segment interleave
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/segment_interleave.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_segment_interleave.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): compose TDMSplit with gfx1250 segment interleave
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/segment_interleave.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_segment_interleave.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_segment_interleave_state.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): support fine-VWA port split for gfx1250 segment interleave
  projects/hipblaslt/tensilelite/Tensile/Components/LocalRead.py
  projects/hipblaslt/tensilelite/Tensile/Components/LraTileAssignment.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/segment_interleave.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_segment_interleave.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(tensilelite): resolve LDSSegmentInterleave to 0 or 1 only
  projects/hipblaslt/tensilelite/Tensile/Components/LocalRead.py
  projects/hipblaslt/tensilelite/Tensile/Components/LraTileAssignment.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Naming.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_segment_interleave_state.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(tensilelite): drop user-forceable bcontig knobs
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/segment_interleave.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): per-tensor bpe for mixed-type segment interleave
  projects/hipblaslt/tensilelite/Tensile/Components/LraTileAssignment.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/segment_interleave.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_segment_interleave.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(tensilelite): refresh LDSSegmentInterleave doc; move layout detail into the oracle
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/segment_interleave.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): add gfx1250 segment-interleave test config
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/segment_interleave.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/segment_interleave_gfx1250.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(dnn-providers): Users/balint csala/resample fwd move integration tests (#10004)
  dnn-providers/hip-kernel-provider/src/integration_tests/CMakeLists.txt
  dnn-providers/integration-tests/src/integration-tests/CMakeLists.txt
  dnn-providers/integration-tests/src/integration-tests/resample/CMakeLists.txt
  dnn-providers/integration-tests/src/integration-tests/resample/IntegrationGpuResampleForward.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Use dsThrottle instead of dsQueueFull
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
  shared/stinkytofu/src/transforms/asm/dag/InFlightQueue.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(stinkytofu): add stinkytofu-guide Claude Code skill
  shared/stinkytofu/.claude/skills/stinkytofu-guide/SKILL.md
  shared/stinkytofu/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(stinkytofu): CDNA5 scheduler VGPR-MSB bank affinity tiebreak
  shared/stinkytofu/include/stinkytofu/ir/asm/VgprMsbEncoding.hpp
  shared/stinkytofu/src/transforms/asm/InsertVgprMsbPass.cpp
  shared/stinkytofu/src/transforms/asm/StinkyDAGSchedulerPass.cpp
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
  shared/stinkytofu/src/transforms/asm/dag/ReadyQueue.hpp
  shared/stinkytofu/tests/unit/asm/DAGSchedulerPassTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix exit condition when charcterization test fail
  projects/hipblaslt/tensilelite/tox.ini
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(stinkytofu): add stinkytofu-guide Claude Code skill (#10279)
  shared/stinkytofu/.claude/skills/stinkytofu-guide/SKILL.md
  shared/stinkytofu/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Separate DrainLatency and ThrottleLatency
  shared/stinkytofu/include/stinkytofu/bindings/python/Module.hpp
  shared/stinkytofu/include/stinkytofu/core/Types.hpp
  shared/stinkytofu/src/pipeline/backend/Gfx1250Backend.cpp
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
  shared/stinkytofu/src/transforms/asm/dag/InFlightQueue.hpp
  shared/stinkytofu/tools/stinkytofu-opt/stinkytofu-opt.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add and refine testcases
  shared/stinkytofu/tests/unit/asm/DAGSchedulerPassTest.cpp
  shared/stinkytofu/tests/unit/asm/test_cdna5_constants.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update TheRock ref to ad0b692
  .github/actions/ci-env/action.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite) protect xnack-reply hazard for SMEM (#10220)
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke): address reviewer feedback on conv dgrad
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/instances/common/conv_implicit_gemm_dgrad.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/benchmark_implicit_gemm_conv.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/conv_implicit_gemm_dgrad.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke): address PR #10175 reviewer feedback on conv dgrad
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/instances/common/conv_implicit_gemm_dgrad.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/benchmark_implicit_gemm_conv.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/conv_implicit_gemm_dgrad.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocsparse): matrix-adaptive workgroup size for CSR adaptive SpMV (#9575)
  projects/rocsparse/library/src/level2/rocsparse_csrmv_template_adaptive.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(ck_tile): add gfx11 packed int4 GEMM
  projects/composablekernel/example/ck_tile/03_gemm/CMakeLists.txt
  projects/composablekernel/example/ck_tile/03_gemm/gemm_basic.cpp
  projects/composablekernel/example/ck_tile/03_gemm/gemm_basic_invoker.hpp
  projects/composablekernel/example/ck_tile/03_gemm/gemm_utils.hpp
  projects/composablekernel/example/ck_tile/03_gemm/run_gemm_example.inc
  projects/composablekernel/include/ck_tile/core/algorithm/static_encoding_pattern.hpp
  projects/composablekernel/include/ck_tile/host/reference/reference_gemm.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/pipeline/gemm_pipeline_agmem_bgmem_creg_v1.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/pipeline/gemm_universal_pipeline_ag_bg_cr_policy.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/warp/warp_gemm_attribute_wmma_impl.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/warp/warp_gemm_attribute_wmma_impl_8bit_traits.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/warp/warp_gemm_dispatcher.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/warp/warp_wmma_gemm.hpp
  projects/composablekernel/test/ck_tile/core/tensor/CMakeLists.txt
  projects/composablekernel/test/ck_tile/core/tensor/test_static_encoding_pattern.cpp
  projects/composablekernel/test/ck_tile/gemm/CMakeLists.txt
  projects/composablekernel/test/ck_tile/gemm/test_gemm_basic_v1_wmma_i4.cpp
  projects/composablekernel/test/ck_tile/gemm/test_gemm_pipeline_util.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(ck): add SPIR-V target support (#6304)
  projects/composablekernel/CMakeLists.txt
  projects/composablekernel/include/ck/ck.hpp
  projects/composablekernel/include/ck_tile/core/arch/arch.hpp
  projects/composablekernel/include/ck_tile/core/config.hpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/CMakeLists.txt
  projects/composablekernel/test/CMakeLists.txt
  projects/composablekernel/test/ck_tile/add_rmsnorm2d_rdquant/CMakeLists.txt
  projects/composablekernel/test/ck_tile/batched_gemm/CMakeLists.txt
  projects/composablekernel/test/ck_tile/container/CMakeLists.txt
  projects/composablekernel/test/ck_tile/core/arch/CMakeLists.txt
  projects/composablekernel/test/ck_tile/core/arch/mma/CMakeLists.txt
  projects/composablekernel/test/ck_tile/core/arch/mma/get_cmake_targets_helper.hpp
  projects/composablekernel/test/ck_tile/core/arch/test_arch.cpp
  projects/composablekernel/test/ck_tile/data_type/CMakeLists.txt
  projects/composablekernel/test/ck_tile/elementwise/CMakeLists.txt
  projects/composablekernel/test/ck_tile/grouped_conv/CMakeLists.txt
  projects/composablekernel/test/ck_tile/grouped_gemm/CMakeLists.txt
  projects/composablekernel/test/ck_tile/image_to_column/CMakeLists.txt
  projects/composablekernel/test/ck_tile/layernorm2d/CMakeLists.txt
  projects/composablekernel/test/ck_tile/moe_smoothquant/CMakeLists.txt
  projects/composablekernel/test/ck_tile/moe_sorting/CMakeLists.txt
  projects/composablekernel/test/ck_tile/permute/CMakeLists.txt
  projects/composablekernel/test/ck_tile/pooling/CMakeLists.txt
  projects/composablekernel/test/ck_tile/reduce/CMakeLists.txt
  projects/composablekernel/test/ck_tile/rmsnorm2d/CMakeLists.txt
  projects/composablekernel/test/ck_tile/smoothquant/CMakeLists.txt
  projects/composablekernel/test/ck_tile/topk_softmax/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Synchronize resample changes with earlier commits
  dnn-providers/integration-tests/src/integration-tests/resample/IntegrationGpuResampleForward.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): cover report=False on the later XCC reject paths (#10267)
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileLogic/test_validworkgroupmappingxcc_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck): [CK] LCOPMILER-2487: Remove erroneous `__restrict__` qualifier (#10229)
  projects/composablekernel/include/ck/tensor_operation/gpu/grid/gridwise_gemm_xdlops_v2r4r2.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocsparse): apply reviewer wording for spmat_scale changelog entry
  projects/rocsparse/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocsparse): move handle_create/destroy changelog entries to 5.0.0 (#10269)
  projects/rocsparse/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocblas) : Users/torrezuk/airocblas 1311 gemm grouped batched (#9527)
  projects/rocblas/.githooks/pre-commit
  projects/rocblas/clients/benchmarks/client.cpp
  projects/rocblas/clients/common/blas3/common_gemm.cpp
  projects/rocblas/clients/common/blas_ex/common_gemm_ex.cpp
  projects/rocblas/clients/common/blas_ex/common_gemm_ex.hpp
  projects/rocblas/clients/gtest/CMakeLists.txt
  projects/rocblas/clients/gtest/blas3/gemm_grouped_batched_gtest.cpp
  projects/rocblas/clients/gtest/blas3_gtest.yaml
  projects/rocblas/clients/gtest/blas_ex/gemm_grouped_batched_ex_gtest.cpp
  projects/rocblas/clients/gtest/gemm_grouped_batched_ex_gtest.yaml
  projects/rocblas/clients/gtest/gemm_grouped_batched_gtest.yaml
  projects/rocblas/clients/include/blas3/testing_gemm_grouped_batched.hpp
  projects/rocblas/clients/include/blas_ex/testing_gemm_grouped_batched_ex.hpp
  projects/rocblas/clients/include/rocblas.hpp
  projects/rocblas/clients/include/rocblas_fortran.f90
  projects/rocblas/clients/include/rocblas_fortran.h.in
  projects/rocblas/clients/include/rocblas_no_fortran.hpp
  projects/rocblas/clients/include/rocblas_template.yaml
  projects/rocblas/docs/reference/extension.rst
  projects/rocblas/docs/reference/level-3.rst
  projects/rocblas/library/include/internal/rocblas-functions.h
  projects/rocblas/library/include/rocblas_module.f90
  projects/rocblas/library/src/CMakeLists.txt
  projects/rocblas/library/src/blas3/Tensile/gemm_templates.cpp
  projects/rocblas/library/src/blas3/Tensile/gemm_templates.hpp
  projects/rocblas/library/src/blas3/rocblas_gemm_grouped_batched.cpp
  projects/rocblas/library/src/blas3/rocblas_gemm_grouped_batched.hpp
  projects/rocblas/library/src/blas3/rocblas_gemm_grouped_batched_imp.hpp
  projects/rocblas/library/src/blas_ex/rocblas_gemm_ex_kernels.cpp
  projects/rocblas/library/src/blas_ex/rocblas_gemm_grouped_batched_ex.cpp
  projects/rocblas/library/src/blas_ex/rocblas_gemm_grouped_batched_ex.hpp
  projects/rocblas/library/src/blas_ex/rocblas_gemm_grouped_batched_ex_imp.hpp
  projects/rocblas/library/src/hipblaslt_host.cpp
  projects/rocblas/library/src/src64/blas3/rocblas_gemm_grouped_batched_64.cpp
  projects/rocblas/library/src/src64/blas3/rocblas_gemm_kernels_64.cpp
  projects/rocblas/library/src/src64/blas_ex/rocblas_gemm_ex_64.hpp
  projects/rocblas/library/src/src64/blas_ex/rocblas_gemm_ex_kernels_64.cpp
  projects/rocblas/library/src/src64/blas_ex/rocblas_gemm_grouped_batched_ex_64.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(hipdnn): Synchronize resample changes with earlier commits (#10284)
  dnn-providers/integration-tests/src/integration-tests/resample/IntegrationGpuResampleForward.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocBLAS) : Users/torrezuk/airocblas 336 developer build mods (#9971)
  projects/rocblas/clients/gtest/CMakeLists.txt
  projects/rocblas/rdeps.py
  projects/rocblas/toolchain-windows.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update code coverage options, fix BUILD_TEST name collisions
  projects/hipcub/CMakeLists.txt
  projects/hiprand/CMakeLists.txt
  projects/hiprand/cmake/Dependencies.cmake
  projects/rocprim/CMakeLists.txt
  projects/rocrand/CMakeLists.txt
  projects/rocthrust/CMakeLists.txt
  projects/rocthrust/cmake/Dependencies.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocsparse): tune csrmv nnzsplit launch for RDNA4 (#9576)
  projects/rocsparse/library/src/include/rocsparse_nnzsplit_info.hpp
  projects/rocsparse/library/src/level2/rocsparse_csrmv_template_nnzsplit.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocsparse): enable ILU0 boost sign flag by wiring its CMake option
  projects/rocsparse/library/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
