Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

Refactor callable-proxy-related guard code
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/hipstd.hpp
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/merge.hpp
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/numeric.hpp
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/sorting.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): JIT knowledge reader and nearest-neighbour matcher
  projects/hipblaslt/clients/tests/jit/CMakeLists.txt
  projects/hipblaslt/clients/tests/jit/jit_knowledge_test.cpp
  projects/hipblaslt/library/src/amd_detail/CMakeLists.txt
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-knowledge.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-knowledge.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

build(hipblaslt): generate and install per-arch JIT knowledge next to the Tensile library
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/cmake/hipblaslt-jit-knowledge.cmake
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/tensile_host.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): rank fixed knowledge seeds ahead of the Origami catalog
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-origami-predictor.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-prediction.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-tensilelite.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): extract JIT tuning knowledge from logic files
  projects/hipblaslt/tensilelite/Tensile/JitKnowledge.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_JitKnowledge.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): TuningLibraryKnowledge with catalog fallback and a knowledge debug record
  projects/hipblaslt/clients/tests/jit/CMakeLists.txt
  projects/hipblaslt/clients/tests/jit/jit_knowledge_test.cpp
  projects/hipblaslt/library/src/amd_detail/CMakeLists.txt
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-prediction.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-tensilelite.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-tuning-knowledge.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): transport tuned knowledge seeds as-is (tensilelite.tuned.v1)
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-tensilelite.cpp
  projects/hipblaslt/tensilelite/Tensile/JitGemm.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_JitGemm.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): add strided batches to the HipKittens JIT kernel
  projects/hipblaslt/JIT_HIPKITTENS.md
  projects/hipblaslt/clients/tests/jit/README.hipkittens.md
  projects/hipblaslt/clients/tests/jit/hipkittens_backend_test.cpp
  projects/hipblaslt/clients/tests/jit/test_hipkittens_bench.py
  projects/hipblaslt/clients/tests/jit/test_hipkittens_heuristic.py
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-hipkittens.cpp
  projects/hipblaslt/library/src/amd_detail/hipkittens/gemm_bf16_tn_256x256x64_gfx950.hip
  projects/hipblaslt/library/src/amd_detail/hipkittens/gemm_bf16_tn_256x256x64_gfx950.yaml
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hipblaslt): knowledge routes, split-K seed cases, gfx942 and gfx1250 compile-only routes, install check, no-change matrix; docs
  .github/scripts/test_hipblaslt_jit.py
  projects/hipblaslt/JIT.md
  projects/hipblaslt/JIT_TENSILELITE.md
  projects/hipblaslt/clients/tests/jit/README.md
  projects/hipblaslt/clients/tests/jit/README.tensilelite.md
  projects/hipblaslt/clients/tests/jit/jit_knowledge_test.cpp
  projects/hipblaslt/clients/tests/jit/test_gfx1250_jit_gemm.py
  projects/hipblaslt/clients/tests/jit/test_heuristic.py
  projects/hipblaslt/clients/tests/jit/test_knowledge_jit_gemm.py
  projects/hipblaslt/tensilelite/SINGLE_SOLUTION.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Refactor callable-proxy-related guard code
  projects/hipccl/hipccl3/rocthrust/thrust/system/hip/hipstdpar/impl/hipstd.hpp
  projects/hipccl/hipccl3/rocthrust/thrust/system/hip/hipstdpar/impl/merge.hpp
  projects/hipccl/hipccl3/rocthrust/thrust/system/hip/hipstdpar/impl/numeric.hpp
  projects/hipccl/hipccl3/rocthrust/thrust/system/hip/hipstdpar/impl/sorting.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): add leading dimensions to the HipKittens JIT kernel
  projects/hipblaslt/JIT_HIPKITTENS.md
  projects/hipblaslt/clients/tests/jit/README.hipkittens.md
  projects/hipblaslt/clients/tests/jit/hipkittens_backend_test.cpp
  projects/hipblaslt/clients/tests/jit/test_hipkittens_bench.py
  projects/hipblaslt/clients/tests/jit/test_hipkittens_heuristic.py
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-hipkittens.cpp
  projects/hipblaslt/library/src/amd_detail/hipkittens/gemm_bf16_tn_256x256x64_gfx950.hip
  projects/hipblaslt/library/src/amd_detail/hipkittens/gemm_bf16_tn_256x256x64_gfx950.yaml
  projects/hipblaslt/library/src/amd_detail/hipkittens/make_entries.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): add an FP16 HipKittens JIT kernel
  projects/hipblaslt/JIT_HIPKITTENS.md
  projects/hipblaslt/clients/tests/jit/README.hipkittens.md
  projects/hipblaslt/clients/tests/jit/hipkittens_backend_test.cpp
  projects/hipblaslt/cmake/hipblaslt-jit-hipkittens.cmake
  projects/hipblaslt/library/src/amd_detail/hipkittens/gemm_f16_tn_256x256x64_gfx950.yaml
  projects/hipblaslt/library/src/amd_detail/hipkittens/gemm_tn_256x256x64_gfx950.hip
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(composablekernel): generate codegen config.h in the build tree (#12033)
  projects/composablekernel/codegen/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): rank JIT candidates with Origami and tuning knowledge
  projects/hipblaslt/JIT.md
  projects/hipblaslt/clients/tests/jit/CMakeLists.txt
  projects/hipblaslt/clients/tests/jit/README.md
  projects/hipblaslt/clients/tests/jit/jit_bundle_freshness_test.cpp
  projects/hipblaslt/clients/tests/jit/jit_component_test.cpp
  projects/hipblaslt/clients/tests/jit/mock_backend_test.cpp
  projects/hipblaslt/library/src/amd_detail/CMakeLists.txt
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-backend.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-catalog-knowledge.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-component.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-component.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-library.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-mock-backend.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-mock.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-origami-predictor.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-prediction.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocisa): AIHPBLAS-5022 split 64-bit add immediates into low and high halves
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_address_carry_lint.py
  projects/hipblaslt/tensilelite/Tensile/Utilities/address_carry_lint.py
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/common.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/instruction.hpp
  projects/hipblaslt/tensilelite/rocisa/test/test_lowering64.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): add HIPBLASLT_JIT_DEBUG timing and progress lines
  projects/hipblaslt/JIT.md
  projects/hipblaslt/clients/tests/jit/CMakeLists.txt
  projects/hipblaslt/clients/tests/jit/README.md
  projects/hipblaslt/clients/tests/jit/code_object_test.cpp
  projects/hipblaslt/clients/tests/jit/jit_component_test.cpp
  projects/hipblaslt/clients/tests/jit/jit_debug_test.cpp
  projects/hipblaslt/clients/tests/jit/jit_test_child.hpp
  projects/hipblaslt/clients/tests/jit/test_heuristic.py
  projects/hipblaslt/docs/reference/env-variables.rst
  projects/hipblaslt/library/src/amd_detail/CMakeLists.txt
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-backend.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-builder.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-code-object.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-code-object.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-component.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-component.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-debug.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-debug.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-library.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-process-backend.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/handle.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_auxiliary.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): accept the Origami persistent contract in JitGemm
  projects/hipblaslt/tensilelite/Tensile/JitGemm.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_JitGemm.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(stinkytofu): add TDM in-flight guard pass for gfx1250
  shared/stinkytofu/docs/README.md
  shared/stinkytofu/docs/developer/architecture.md
  shared/stinkytofu/docs/developer/tdm-inflight-guard.md
  shared/stinkytofu/include/stinkytofu/bindings/python/Module.hpp
  shared/stinkytofu/include/stinkytofu/transforms/asm/TDMInflightGuardPass.hpp
  shared/stinkytofu/src/pipeline/backend/Gfx1250Backend.cpp
  shared/stinkytofu/src/transforms/asm/CMakeLists.txt
  shared/stinkytofu/src/transforms/asm/TDMInflightGuardPass.cpp
  shared/stinkytofu/tests/CMakeLists.txt
  shared/stinkytofu/tests/api/ApiExportTest.cpp
  shared/stinkytofu/tests/filecheck/tdm_inflight_guard.stir
  shared/stinkytofu/tests/filecheck/tdm_inflight_guard_limit.stir
  shared/stinkytofu/tests/unit/asm/TDMInflightGuardPassTest.cpp
  shared/stinkytofu/tools/stinkytofu-opt/stinkytofu-opt.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): add TDM ring module with per-wave in-flight bound
  projects/hipblaslt/tensilelite/Tensile/Components/TDMRing.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_TDMRing.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): add the TDM LDS ring for PrefetchGlobalRead 3-4
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/Components/SIA.py
  projects/hipblaslt/tensilelite/Tensile/Components/TDMRing.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/tdm_ring_gfx1250.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_ClusterBarrierPairing.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_PrefetchAcrossPersistent.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_TDMRing.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_TDMRingSolution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_nll_local_write_fusi_sia0_pgr.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_sia0_pgr2_global_read_placement.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_tail_local_read_reset.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke): make rocke_mem_opts_t safely extensible with struct_size
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/ir/ir_mem.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/include/rocke/ir.h
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/ir_lowering/ir_model.md
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_nontemporal_hip.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/parity/nontemporal_emit.c
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(hipblaslt): try JIT right after Equality rows
  .github/workflows/hipblaslt-jit-ci.yml
  projects/hipblaslt/JIT.md
  projects/hipblaslt/clients/tests/jit/CMakeLists.txt
  projects/hipblaslt/clients/tests/jit/README.md
  projects/hipblaslt/clients/tests/jit/heuristic_test.cpp
  projects/hipblaslt/clients/tests/jit/test_heuristic.py
  projects/hipblaslt/docs/reference/env-variables.rst
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/tensile_host.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_auxiliary.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(hipblaslt): use JIT when hipblasLtMatmul has no algorithm
  projects/hipblaslt/JIT.md
  projects/hipblaslt/clients/tests/jit/CMakeLists.txt
  projects/hipblaslt/clients/tests/jit/README.md
  projects/hipblaslt/clients/tests/jit/heuristic_test.cpp
  projects/hipblaslt/clients/tests/jit/test_heuristic.py
  projects/hipblaslt/docs/reference/env-variables.rst
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-backend.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-heuristic.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): add a tuning knowledge database for JIT predictions
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/JIT.md
  projects/hipblaslt/clients/tests/jit/CMakeLists.txt
  projects/hipblaslt/clients/tests/jit/README.md
  projects/hipblaslt/clients/tests/jit/jit_knowledge_test.cpp
  projects/hipblaslt/cmake/hipblaslt-jit-knowledge.cmake
  projects/hipblaslt/library/src/amd_detail/CMakeLists.txt
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-knowledge.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-knowledge.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-origami-predictor.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-prediction.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-test-backend.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-tuning-knowledge.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/tensile_host.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
  projects/hipblaslt/tensilelite/Tensile/JitKnowledge.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_JitKnowledge.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(tensilelite): AIHPBLAS-5022 stop the address-carry lint at jumps and constant adds
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_address_carry_lint.py
  projects/hipblaslt/tensilelite/Tensile/Utilities/address_carry_lint.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocSOLVER] Normalize the tridiagonal matrix in STEDC (#10646)
  projects/rocsolver/CHANGELOG.md
  projects/rocsolver/clients/common/auxiliary/testing_stedc.hpp
  projects/rocsolver/clients/gtest/auxiliary/stedc_gtest.cpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_stedc.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): add a HipKittens gfx950 JIT backend
  .github/workflows/hipblaslt-jit-ci.yml
  projects/hipblaslt/CMakePresets.json
  projects/hipblaslt/JIT.md
  projects/hipblaslt/JIT_HIPKITTENS.md
  projects/hipblaslt/NOTICES.txt
  projects/hipblaslt/clients/tests/jit/CMakeLists.txt
  projects/hipblaslt/clients/tests/jit/README.hipkittens.md
  projects/hipblaslt/clients/tests/jit/README.md
  projects/hipblaslt/clients/tests/jit/hipkittens_backend_test.cpp
  projects/hipblaslt/clients/tests/jit/test_hipkittens_bench.py
  projects/hipblaslt/clients/tests/jit/test_hipkittens_install.py
  projects/hipblaslt/cmake/hipblaslt-jit-hipkittens.cmake
  projects/hipblaslt/library/src/amd_detail/CMakeLists.txt
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-builder.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-component.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-hash.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-hipkittens.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-hipkittens.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-msgpack.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-msgpack.hpp
  projects/hipblaslt/library/src/amd_detail/hipkittens/gemm_bf16_tn_256x256x64_gfx950.yaml
  projects/hipblaslt/library/src/amd_detail/hipkittens/gemm_f16_tn_256x256x64_gfx950.yaml
  projects/hipblaslt/library/src/amd_detail/hipkittens/gemm_tn_256x256x64_gfx950.hip
  projects/hipblaslt/library/src/amd_detail/hipkittens/make_entries.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(hipblaslt): rank Hybrid Stream-K catalog candidates with Origami
  .github/scripts/test_hipblaslt_jit.py
  projects/hipblaslt/JIT.md
  projects/hipblaslt/JIT_ROADMAP.md
  projects/hipblaslt/JIT_TENSILELITE.md
  projects/hipblaslt/clients/bench/test_jit_gemm.py
  projects/hipblaslt/clients/tests/jit/CMakeLists.txt
  projects/hipblaslt/clients/tests/jit/README.md
  projects/hipblaslt/clients/tests/jit/README.tensilelite.md
  projects/hipblaslt/clients/tests/jit/jit_component_test.cpp
  projects/hipblaslt/clients/tests/jit/jit_knowledge_test.cpp
  projects/hipblaslt/clients/tests/jit/test_heuristic.py
  projects/hipblaslt/clients/tests/jit/test_persistent_jit_gemm.py
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-catalog-knowledge.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-origami-predictor.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-prediction.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-tensilelite.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-tuning-knowledge.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(hipblaslt): map Stream-K knowledge seeds at run time
  projects/hipblaslt/JIT.md
  projects/hipblaslt/clients/tests/jit/jit_knowledge_test.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-tuning-knowledge.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(rocke): clang-format 18 layout for ROCKE_MEM_OPTS_INIT
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/include/rocke/ir.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): serve HipKittens through JIT heuristics
  projects/hipblaslt/CHANGELOG.md
  projects/hipblaslt/JIT.md
  projects/hipblaslt/JIT_HIPKITTENS.md
  projects/hipblaslt/clients/tests/jit/CMakeLists.txt
  projects/hipblaslt/clients/tests/jit/README.hipkittens.md
  projects/hipblaslt/clients/tests/jit/README.md
  projects/hipblaslt/clients/tests/jit/hipkittens_backend_test.cpp
  projects/hipblaslt/clients/tests/jit/test_heuristic.py
  projects/hipblaslt/clients/tests/jit/test_hipkittens_heuristic.py
  projects/hipblaslt/cmake/hipblaslt-jit-hipkittens.cmake
  projects/hipblaslt/docs/install/building-installing-hipblaslt.rst
  projects/hipblaslt/docs/reference/env-variables.rst
  projects/hipblaslt/library/src/amd_detail/CMakeLists.txt
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-backend.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-component.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-heuristic.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-hipkittens-backend.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-hipkittens.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-hipkittens.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-mock-backend.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-mock.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-no-backend.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-no-opt-in-backend.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-process-backend.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-test-backend.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipblaslt): describe implemented JIT tuning knowledge and HipKittens variants
  projects/hipblaslt/JIT_ROADMAP.md
  projects/hipblaslt/JIT_TENSILELITE.md
  projects/hipblaslt/clients/bench/README.jit.md
  projects/hipblaslt/clients/tests/jit/README.tensilelite.md
  projects/hipblaslt/tensilelite/SINGLE_SOLUTION.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): add a Stream-K contract to the Origami predictor
  projects/hipblaslt/JIT.md
  projects/hipblaslt/clients/tests/jit/CMakeLists.txt
  projects/hipblaslt/clients/tests/jit/README.md
  projects/hipblaslt/clients/tests/jit/jit_component_test.cpp
  projects/hipblaslt/clients/tests/jit/jit_knowledge_test.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-catalog-knowledge.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-origami-predictor.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-prediction.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-tuning-knowledge.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

generate an extra conv lib with gpu arch name for miopen
  projects/composablekernel/library/src/tensor_operation_instance/gpu/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hipblaslt(gfx1151): ship Origami Prediction catalog for HHS NN UserArgs
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1151/GridBased/gfx1151_Cijk_Ailk_Bljk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1151/Origami/gfx1151_Cijk_Ailk_Bljk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): write the HIPBLASLT_JIT_DEBUG prediction record
  projects/hipblaslt/JIT.md
  projects/hipblaslt/JIT_TENSILELITE.md
  projects/hipblaslt/clients/tests/jit/README.md
  projects/hipblaslt/clients/tests/jit/README.tensilelite.md
  projects/hipblaslt/clients/tests/jit/jit_component_test.cpp
  projects/hipblaslt/clients/tests/jit/jit_debug_child_test.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-component.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-debug.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): add a Hybrid Stream-K single-solution recipe
  projects/hipblaslt/clients/tests/jit/regenerate_bundles.py
  projects/hipblaslt/tensilelite/SINGLE_SOLUTION.md
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_data/single_solution_streamk_hybrid.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

test(hipblaslt): replay a Hybrid Stream-K JIT test bundle
  projects/hipblaslt/clients/tests/jit/CMakeLists.txt
  projects/hipblaslt/clients/tests/jit/README.md
  projects/hipblaslt/clients/tests/jit/data/README.md
  projects/hipblaslt/clients/tests/jit/data/gfx950/streamk-hybrid/library/TensileLibrary.dat.zlib
  projects/hipblaslt/clients/tests/jit/data/gfx950/streamk-hybrid/manifest.json
  projects/hipblaslt/clients/tests/jit/data/gfx950/streamk-hybrid/sources/Cijk_Ailk_Bljk_HHS_BH_UserArgs_MT128x128x64_MI16-Z1CvZQhqn-kBEyPJGH68r9VUeOSAUJ6p0ATjBNdot4=.s
  projects/hipblaslt/clients/tests/jit/data/gfx950/streamk-hybrid/sources/KernelHeader.h
  projects/hipblaslt/clients/tests/jit/data/gfx950/streamk-hybrid/sources/Kernels.cpp
  projects/hipblaslt/clients/tests/jit/data/gfx950/streamk-hybrid/sources/Kernels.h
  projects/hipblaslt/clients/tests/jit/data/gfx950/streamk-hybrid/sources/ReductionTemplate.h
  projects/hipblaslt/clients/tests/jit/data/gfx950/streamk-hybrid/sources/TensileTypes.h
  projects/hipblaslt/clients/tests/jit/data/gfx950/streamk-hybrid/sources/memory_gfx.h
  projects/hipblaslt/clients/tests/jit/data/gfx950/streamk-hybrid/sources/tensile_bfloat16.h
  projects/hipblaslt/clients/tests/jit/data/gfx950/streamk-hybrid/sources/tensile_float8_bfloat8.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

ci(hipblaslt): compile the JIT for gfx942 in the JIT workflow
  .github/workflows/hipblaslt-jit-gemm-ci.yml
  projects/hipblaslt/clients/tests/jit/README.tensilelite.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[hipblaslt] remove old GridBased HSS-TT lib-logic for gfx942 to avoid selecting untuned solution.
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bjlk_HSS_BH_Bias_HAH_SAV.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
