Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

resolved issues on Windows job
  projects/rocthrust/.gitlab-ci.yml
  projects/rocthrust/benchmark/bench_utils/custom_reporter.hpp
  projects/rocthrust/cmake/Dependencies.cmake
  projects/rocthrust/test/test_utils.hpp
  projects/rocthrust/thrust/type_traits/is_contiguous_iterator.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

correct definition of intel compiler and _LIBCUDACXX_HAS_NO_INT128, and add definition of THRUST_HOST_COMPILER_NVRTC
  projects/rocthrust/examples/include/host_device.h
  projects/rocthrust/test/test_type_traits.cpp
  projects/rocthrust/testing/type_traits.cu
  projects/rocthrust/thrust/detail/config/compiler.h
  projects/rocthrust/thrust/detail/config/rtti.h
  projects/rocthrust/thrust/detail/malloc_and_free.h
  projects/rocthrust/thrust/iterator/detail/iterator_traits.h
  projects/rocthrust/thrust/random/detail/normal_distribution_base.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

restore TestInnerProductPlaceholders
  projects/rocthrust/test/test_inner_product.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

correct compiler.h and macros related to cuda-compiler, move THRUST_FORCEINLINE to visibility.h, and remove host_device.h
  project/rocthrust/thrust/detail/config/visibility.h
  projects/rocthrust/benchmark/bench_utils/bench_utils.hpp
  projects/rocthrust/examples/include/host_device.h
  projects/rocthrust/test/test_parallel_for.cpp
  projects/rocthrust/testing/unittest/unittest.h
  projects/rocthrust/thrust/detail/config/compiler.h
  projects/rocthrust/thrust/detail/config/config.h
  projects/rocthrust/thrust/detail/config/execution_space.h
  projects/rocthrust/thrust/detail/config/forceinline.h
  projects/rocthrust/thrust/detail/config/host_device.h
  projects/rocthrust/thrust/detail/malloc_and_free.h
  projects/rocthrust/thrust/random/detail/normal_distribution_base.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

delete thrust/cmake
  projects/rocthrust/thrust/cmake/FindTBB.cmake
  projects/rocthrust/thrust/cmake/README.md
  projects/rocthrust/thrust/cmake/thrust-config-version.cmake
  projects/rocthrust/thrust/cmake/thrust-config.cmake
  projects/rocthrust/thrust/cmake/thrust-header-search.cmake
  projects/rocthrust/thrust/cmake/thrust-header-search.cmake.in
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

make definition of THRUST_BENCHMARKS_HAVE_INT128_SUPPORT the same as NVBENCH_HELPER_HAS_I128
  projects/rocthrust/benchmark/bench_utils/common/types.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

diasble last assert in test_event_when_all
  projects/rocthrust/CHANGELOG.md
  projects/rocthrust/test/test_event.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Clang formatting
  projects/rocsparse/clients/common/rocsparse_host.cpp
  projects/rocsparse/library/src/level3/rocsparse_sddmm_coox_kernel.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Modify allocation logic for rotations and treat rotation size in bytes
  shared/rocroller/client/src/gemm.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Adjust comment in csric0 documentation example
  projects/rocsparse/clients/samples/documentation_examples/precond/example_rocsparse_csric0.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Improve comment in CHANGELOG regarding trace logging deprecation
  projects/rocsparse/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix: address reviewer comments
  CMakeLists.txt
  cmake/modules/disableable_option.cmake
  cmake/toolchains/linux-amdclang.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen] Get the workspace size from CK for grp wrw, grp bwd, and 2D grp wrw
  projects/miopen/src/include/miopen/conv/solvers.hpp
  projects/miopen/src/include/miopen/solver/implicitgemm_ck_util.hpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_3d_grouped_wrw_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_grouped_bwd_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_grouped_wrw_xdlops.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update gardening.md Spe02,2025
  docs/gardening.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Only use rocm float16 in build context
  projects/hipblaslt/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

make ROCROLLER_WRITE_ON_FAIL a integral limit on number of files to be written on failure
  shared/rocroller/.jenkins/common.groovy
  shared/rocroller/lib/include/rocRoller/Utilities/Settings.hpp
  shared/rocroller/test/unit/GEMMTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add env to set failure write dir
  shared/rocroller/lib/include/rocRoller/Utilities/Settings.hpp
  shared/rocroller/test/unit/GEMMTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

move env vars from settings to gemmtest
  shared/rocroller/lib/include/rocRoller/Utilities/Settings.hpp
  shared/rocroller/test/unit/GEMMTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update KDB
  projects/miopen/src/kernels/gfx942.kdb.bz2
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update CK commit hash in requirements.txt
  projects/miopen/requirements.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Omit last few failing strix halo tests, turn down parallel test level to see if thats whats causing GPU hangs on CI
  projects/miopen/Jenkinsfile
  projects/miopen/test/gtest/CMakeLists.txt
  projects/miopen/vars/utils.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Revert add register change
  shared/rocroller/lib/source/CodeGen/LoadStoreTileGenerator.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix: don't need cblas in clients
  projects/hipsparselt/clients/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test: dummy commit
  CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

First round of adressing review comments
  projects/rocsparse/clients/samples/example_sptrsv.cpp
  projects/rocsparse/clients/testings/rocsparse_clients_objects.hpp
  projects/rocsparse/clients/testings/testing_bsrsv.cpp
  projects/rocsparse/clients/testings/testing_csrsv.cpp
  projects/rocsparse/clients/testings/testing_sptrsm_coo.cpp
  projects/rocsparse/clients/testings/testing_sptrsm_csr.cpp
  projects/rocsparse/clients/tests/rocsparse_test_listeners.cpp
  projects/rocsparse/library/src/level2/rocsparse_csrsv_solve_impl.cpp
  projects/rocsparse/library/src/level2/rocsparse_spsv.cpp
  projects/rocsparse/library/src/level3/rocsparse_spsm.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

commenting
  projects/rocsparse/clients/testings/testing_sptrsm_csr.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen] Add missing include for implicitgemm_util.hp
  projects/miopen/src/include/miopen/solver/implicitgemm_ck_util.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

update Origami binding script
  projects/hipblaslt/tensilelite/Tensile/Utilities/origami/origami_test.py
  projects/hipblaslt/tensilelite/src/analytical/Utils.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat: use list instead of variables for component configure
  CMakeLists.txt
  CMakePresets.json
  cmake/modules/add_subdirectory_with_message.cmake
  cmake/modules/disableable_option.cmake
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/clients/CMakeLists.txt
  shared/rocroller/test/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs: update README
  CONTRIBUTING.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Deprecate Thrust's cpp_compatibility.h macros
  projects/rocthrust/thrust/async/copy.h
  projects/rocthrust/thrust/async/transform.h
  projects/rocthrust/thrust/detail/config/cpp_compatibility.h
  projects/rocthrust/thrust/detail/static_assert.h
  projects/rocthrust/thrust/execution_policy.h
  projects/rocthrust/thrust/system/cuda/detail/par.h
  projects/rocthrust/thrust/system/hip/detail/par.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Deprecate thrust::null_type
  projects/rocthrust/test/test_tuple.cpp
  projects/rocthrust/testing/tuple.cu
  projects/rocthrust/thrust/detail/tuple.inl
  projects/rocthrust/thrust/tuple.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Deprecate thrust::optional
  projects/rocthrust/test/CMakeLists.txt
  projects/rocthrust/test/test_optional.cpp
  projects/rocthrust/thrust/optional.h
  projects/rocthrust/thrust/system/cuda/detail/future.inl
  projects/rocthrust/thrust/system/hip/detail/future.inl
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Deprecate thrust::numeric_limits
  projects/rocthrust/test/test_utils.hpp
  projects/rocthrust/testing/unittest/testframework.h
  projects/rocthrust/testing/unittest/util.h
  projects/rocthrust/thrust/limits.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Review/Deprecate CUB util.ptx for CCCL 2.x
  projects/rocthrust/thrust/system/cuda/detail/core/util.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Replace and deprecate thrust::cuda_cub::terminate
  projects/rocthrust/thrust/system/cuda/detail/terminate.h
  projects/rocthrust/thrust/system/cuda/detail/util.h
  projects/rocthrust/thrust/system/hip/detail/terminate.h
  projects/rocthrust/thrust/system/hip/detail/util.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Redefine and deprecate thrust::remove_cvref
  projects/rocthrust/testing/async/exclusive_scan/using_vs_adl.cu
  projects/rocthrust/testing/async/inclusive_scan/using_vs_adl.cu
  projects/rocthrust/testing/async/test_policy_overloads.h
  projects/rocthrust/thrust/async/copy.h
  projects/rocthrust/thrust/async/for_each.h
  projects/rocthrust/thrust/async/reduce.h
  projects/rocthrust/thrust/async/scan.h
  projects/rocthrust/thrust/async/sort.h
  projects/rocthrust/thrust/async/transform.h
  projects/rocthrust/thrust/detail/execute_with_dependencies.h
  projects/rocthrust/thrust/detail/pointer.h
  projects/rocthrust/thrust/detail/reference.h
  projects/rocthrust/thrust/detail/select_system.h
  projects/rocthrust/thrust/detail/type_traits.h
  projects/rocthrust/thrust/iterator/detail/transform_iterator.inl
  projects/rocthrust/thrust/system/cuda/detail/adjacent_difference.h
  projects/rocthrust/thrust/system/cuda/detail/async/exclusive_scan.h
  projects/rocthrust/thrust/system/cuda/detail/async/inclusive_scan.h
  projects/rocthrust/thrust/system/cuda/detail/async/reduce.h
  projects/rocthrust/thrust/system/cuda/detail/async/sort.h
  projects/rocthrust/thrust/system/cuda/detail/future.inl
  projects/rocthrust/thrust/system/cuda/detail/transform_scan.h
  projects/rocthrust/thrust/system/detail/generic/transform_scan.inl
  projects/rocthrust/thrust/system/hip/detail/adjacent_difference.h
  projects/rocthrust/thrust/system/hip/detail/async/exclusive_scan.h
  projects/rocthrust/thrust/system/hip/detail/async/inclusive_scan.h
  projects/rocthrust/thrust/system/hip/detail/async/reduce.h
  projects/rocthrust/thrust/system/hip/detail/async/sort.h
  projects/rocthrust/thrust/system/hip/detail/future.inl
  projects/rocthrust/thrust/system/hip/detail/transform_scan.h
  projects/rocthrust/thrust/type_traits/remove_cvref.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Backport to 2.8: Deprecate thrust::async
  projects/rocthrust/test/test_async_copy.cpp
  projects/rocthrust/test/test_async_for_each.cpp
  projects/rocthrust/test/test_async_reduce.cpp
  projects/rocthrust/test/test_async_reduce_into.cpp
  projects/rocthrust/test/test_async_scan.cpp
  projects/rocthrust/test/test_async_sort.cpp
  projects/rocthrust/test/test_async_transform.cpp
  projects/rocthrust/testing/async/exclusive_scan/mixin.h
  projects/rocthrust/testing/async/exclusive_scan/using_vs_adl.cu
  projects/rocthrust/testing/async/inclusive_scan/mixin.h
  projects/rocthrust/testing/async/inclusive_scan/using_vs_adl.cu
  projects/rocthrust/testing/async_copy.cu
  projects/rocthrust/testing/async_for_each.cu
  projects/rocthrust/testing/async_reduce.cu
  projects/rocthrust/testing/async_reduce_into.cu
  projects/rocthrust/testing/async_sort.cu
  projects/rocthrust/testing/async_transform.cu
  projects/rocthrust/thrust/async/copy.h
  projects/rocthrust/thrust/async/for_each.h
  projects/rocthrust/thrust/async/reduce.h
  projects/rocthrust/thrust/async/scan.h
  projects/rocthrust/thrust/async/sort.h
  projects/rocthrust/thrust/async/transform.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Deprecate and replace thrust::cuda_cub iterators
  projects/rocthrust/thrust/system/cuda/detail/count.h
  projects/rocthrust/thrust/system/cuda/detail/extrema.h
  projects/rocthrust/thrust/system/cuda/detail/find.h
  projects/rocthrust/thrust/system/cuda/detail/inner_product.h
  projects/rocthrust/thrust/system/cuda/detail/mismatch.h
  projects/rocthrust/thrust/system/cuda/detail/transform_scan.h
  projects/rocthrust/thrust/system/cuda/detail/util.h
  projects/rocthrust/thrust/system/hip/detail/count.h
  projects/rocthrust/thrust/system/hip/detail/extrema.h
  projects/rocthrust/thrust/system/hip/detail/find.h
  projects/rocthrust/thrust/system/hip/detail/inner_product.h
  projects/rocthrust/thrust/system/hip/detail/mismatch.h
  projects/rocthrust/thrust/system/hip/detail/transform_reduce.h
  projects/rocthrust/thrust/system/hip/detail/transform_scan.h
  projects/rocthrust/thrust/system/hip/detail/util.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Deprecate thrust macros from type_deduction.h
  projects/rocthrust/thrust/detail/type_deduction.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
