Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

use d tile vgpr instead of A or B
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedLogicalScheduler.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test coalescing
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedLogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_initc_borrow_reuse.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add wmma reuse
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedLogicalScheduler.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

temporary checkpoint
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_initc_borrow_reuse.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix nanobind type error: only pass reuseA/reuseB when True
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

update for gfx1250 in expert scheduling mode
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipcub): Avoid zero-sized allocation when HMM is enabled (#9246)
  projects/hipccl/hipccl3/hipcub/test/hipcub/common_test_header.hpp
  projects/hipccl/hipccl3/hipcub/test/hipcub/test_hipcub_device_segmented_radix_sort.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipcub): Avoid zero-sized allocation when HMM is enabled (#9246)
  projects/hipccl/hipccl2/hipcub/test/hipcub/common_test_header.hpp
  projects/hipccl/hipccl2/hipcub/test/hipcub/test_hipcub_device_segmented_radix_sort.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipcub): Avoid zero-sized allocation when HMM is enabled (#9246)
  projects/hipcub/test/hipcub/common_test_header.hpp
  projects/hipcub/test/hipcub/test_hipcub_device_segmented_radix_sort.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixing the clang-tidy errors flagged by CI.
  projects/miopen/miopen_utils/include/miopen_utils/tensor_desc.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipBLASLt] Guard version.rc on a Windows resource compiler
  projects/hipblaslt/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix failing tests after adding handle to rocsparse_bell_sett_pointers routine
  projects/rocsparse/clients/testings/testing_dense_to_sparse_bell.cpp
  projects/rocsparse/clients/tests/test_auxiliary.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Updating the refactor plan with some new information regarding temporary shims.
  projects/miopen/docs/plans/MIOpenLayeringRefactorPlan.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update TheRock ref to d7d9dca
  .github/actions/ci-env/action.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): expose python error code bindings (#9290)
  projects/hipdnn/python/hipdnn_frontend/test/test_error_paths.py
  projects/hipdnn/python/src/types_bindings.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocprim) Update changelog for fixes that were not included in 7.14 (#9059)
  projects/hipccl/hipccl3/rocprim/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocprim) Update changelog for fixes that were not included in 7.14 (#9059)
  projects/hipccl/hipccl2/rocprim/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocprim) Update changelog for fixes that were not included in 7.14 (#9059)
  projects/rocprim/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(rocke): author D256 gfx950 winning spec in the builder
  dnn-providers/hip-kernel-provider/rocke/library/builders/common/attention_spec_builder.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/attention_unified.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Use patched ROCm SDK artifact for hipDNN wheel CI
  .github/workflows/hipdnn-python-wheel-ci.yml
  .github/workflows/hipdnn-superbuild-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Use unversioned third-party package lookup
  .github/workflows/hipdnn-python-wheel-ci.yml
  projects/hipdnn/python/frontend_bindings/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Hardcode wheel third-party dependency versions
  .github/workflows/hipdnn-python-wheel-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update dnn benchmark setup for standalone bindings
  projects/hipdnn/tools/dnn-benchmarking/setup.sh
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/cli/test_setup_script.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix hipDNN wheel CI workflow validation
  .github/workflows/hipdnn-python-wheel-ci.yml
  .github/workflows/hipdnn-superbuild-ci.yml
  projects/hipdnn/python/frontend_wheel_package/pack_frontend_wheel.py
  projects/hipdnn/python/frontend_wheel_package/tests/test_import_alias.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Use third-party root for nanobind package dir
  .github/workflows/hipdnn-python-wheel-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Wire hipDNN wheel third-party deps
  .github/workflows/hipdnn-python-wheel-ci.yml
  projects/hipdnn/CMakeLists.txt
  projects/hipdnn/cmake/Dependencies.cmake
  projects/hipdnn/python/frontend_bindings/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Hardcode wheel dependency versions in CMake
  .github/workflows/hipdnn-python-wheel-ci.yml
  projects/hipdnn/python/frontend_bindings/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Use FetchContent for hipDNN Python dependencies
  .github/workflows/hipdnn-python-wheel-ci.yml
  projects/hipdnn/python/README.md
  projects/hipdnn/python/frontend_bindings/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Define benchmark setup build directory
  projects/hipdnn/tools/dnn-benchmarking/setup.ps1
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): keep numpy as Python wheel test dependency
  .github/workflows/hipdnn-python-wheel-ci.yml
  projects/hipdnn/python/README.md
  projects/hipdnn/python/frontend_wheel_package/pyproject.toml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Remove patched SDK verification step
  .github/workflows/hipdnn-superbuild-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Revert benchmark setup test changes
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/cli/test_setup_script.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Patch ROCm SDK artifacts from staged hipDNN install
  .github/workflows/hipdnn-superbuild-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Let CMake fetch hipDNN Python dependencies
  .github/workflows/hipdnn-superbuild-ci.yml
  projects/hipdnn/python/README.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Use shared ROCm toolchain for hipDNN wheel builds
  .github/workflows/hipdnn-superbuild-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Control hipDNN Python third-party sources in CI
  .github/workflows/hipdnn-superbuild-ci.yml
  projects/hipdnn/python/README.md
  projects/hipdnn/python/frontend_bindings/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

ci(hipdnn): fix superbuild temp environment
  .github/workflows/hipdnn-superbuild-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

transform into one
  .github/workflows/hipdnn-superbuild-ci.yml
  projects/hipdnn/python/README.md
  projects/hipdnn/python/download_third_party_deps.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Trim hipDNN SDK transfer artifacts
  .github/workflows/hipdnn-superbuild-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

adds debugging
  projects/hipdnn/python/frontend_wheel_package/tests/conftest.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
