Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

[Tensilelite] Updated Copyright to 2026
  projects/hipblaslt/tensilelite/Tensile/AsmAddressCalculation.py
  projects/hipblaslt/tensilelite/Tensile/AsmStoreState.py
  projects/hipblaslt/tensilelite/Tensile/BenchmarkStructs.py
  projects/hipblaslt/tensilelite/Tensile/Components/ComputeStoreVgprs.py
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
  projects/hipblaslt/tensilelite/Tensile/Components/LSU.py
  projects/hipblaslt/tensilelite/Tensile/Components/Signature.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterConversion.py
  projects/hipblaslt/tensilelite/Tensile/LibraryIO.py
  projects/hipblaslt/tensilelite/Tensile/SolutionLibrary.py
  projects/hipblaslt/tensilelite/Tensile/TensileLibLogicToYaml.py
  projects/hipblaslt/tensilelite/Tensile/Utilities/tensile_generator/tensile_config_generator.py
  projects/hipblaslt/tensilelite/client/src/ReferenceValidator.cpp
  projects/hipblaslt/tensilelite/include/Tensile/ContractionProblem_Detail.hpp
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/include/Tensile/MasterSolutionLibrary.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Serialization/ContractionPredicates.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Serialization/ContractionSolution.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[Tensilelite] Fix gate whitelist YAML serialization in routing predicate
  projects/hipblaslt/tensilelite/Tensile/Contractions.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipsparselt] Update copyright years to 2026
  projects/hipsparselt/clients/bench/client.cpp
  projects/hipsparselt/clients/include/hipsparselt_arguments.hpp
  projects/hipsparselt/clients/include/spmm/testing_spmm.hpp
  projects/hipsparselt/clients/include/type_dispatch.hpp
  projects/hipsparselt/clients/test/spmm_gtest.cpp
  projects/hipsparselt/library/include/hipsparselt.h
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/include/rocsparselt-types.h
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/handle.cpp
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/include/handle.h
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/include/tensile_host.hpp
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/tensile_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Revert "Experimental fix"
  projects/rocsolver/library/src/specialized/roclapack_potf2_specialized_kernels.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add failing test size to known_bug
  projects/rocsolver/clients/gtest/lapack/cholqr_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke): gfx950 dense flash-attn prefill (~940-970 TFLOPS) (#9480)
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx950/attention/prefill/benchmark_dense_prefill_live.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx950/attention/ALGORITHM.md
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx950/attention/prefill/README.md
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx950/attention/prefill/attention_dense_prefill.py
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/__init__.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx950/attention_dense.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_dense_pipe_wiring.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/golden/attention_dense_ir_sha256.json
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_golden.py
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/ir/core_types.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/ir/ir_arith.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/lower_llvm/arith.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/lower_llvm/data.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/verify.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/include/rocke/ir.h
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/ir.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/lower_llvm.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(rocke/attention): resolve gfx942 num_sms from device + bound split-KV segments
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/attention_unified.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_num_sms_resolver.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocke/attention): add representative batch-sweep decode shapes (gfx942)
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx942/attention/decode/decode_batch_sweep_shapes.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(stinkytofu): express forced barrier via promotion mechanism (#9692)
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(stinkytofu): model SALU sgpr -> tensor_load sgpr hardware hazard
  shared/stinkytofu/src/transforms/asm/StinkyDAGSchedulerPass.cpp
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
  shared/stinkytofu/src/transforms/asm/dag/ReadyQueue.hpp
  shared/stinkytofu/tests/unit/asm/DAGSchedulerPassTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(stinkytofu): generalize producer->consumer hazard system to a rule table
  shared/stinkytofu/src/transforms/asm/StinkyDAGSchedulerPass.cpp
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
  shared/stinkytofu/src/transforms/asm/dag/ReadyQueue.hpp
  shared/stinkytofu/tests/unit/asm/DAGSchedulerPassTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(stinkytofu): replace hazard-hoist anchor node with a clock_ deadline
  shared/stinkytofu/src/transforms/asm/StinkyDAGSchedulerPass.cpp
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
  shared/stinkytofu/src/transforms/asm/dag/ReadyQueue.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(stinkytofu): reserve producer's own cost in hazard deadline
  shared/stinkytofu/src/transforms/asm/StinkyDAGSchedulerPass.cpp
  shared/stinkytofu/src/transforms/asm/dag/ReadyQueue.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipdnn): Ragged tensor utility class for data sdk (#8834)
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/RaggedTensor.hpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/ShallowRaggedTensor.hpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/Tensor.hpp
  projects/hipdnn/data_sdk/tests/CMakeLists.txt
  projects/hipdnn/data_sdk/tests/utilities/TestRaggedTensor.cpp
  projects/hipdnn/data_sdk/tests/utilities/TestRaggedTensor.hpp
  projects/hipdnn/data_sdk/tests/utilities/TestShallowRaggedTensor.cpp
  projects/hipdnn/data_sdk/tests/utilities/TestTensorIterator.cpp
  projects/hipdnn/docs/rfcs/0014_RaggedTensors.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

mut(slice-2): kill all 22 LibraryIO read/write dispatch survivors
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/LibraryIO/test_readwrite_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): batched_contraction bridge fair-by-default timing (stream_config)
  projects/composablekernel/dispatcher/bindings/ctypes/batched_contraction_ctypes_lib.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hip-kernel-provider): tier-label rocKE's pre-registered CTest checks
  dnn-providers/hip-kernel-provider/CMakeLists.txt
  dnn-providers/hip-kernel-provider/ROCKE_ENGINE_test_categories_external.yaml
  dnn-providers/hip-kernel-provider/rocke/platform/tests/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): gate multi_abd bridge sweep on Old-TE warp-config constraint
  projects/composablekernel/dispatcher/python/gemm_utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add ConvHipConv solver
  projects/miopen/CMakeLists.txt
  projects/miopen/src/CMakeLists.txt
  projects/miopen/src/include/miopen/conv/solvers.hpp
  projects/miopen/src/mlo_dir_conv.cpp
  projects/miopen/src/solver.cpp
  projects/miopen/src/solver/conv/conv_hipconv.cpp
  projects/miopen/test/gtest/CMakeLists.txt
  projects/miopen/test/gtest/unit_conv_solver_ConvHipConv.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): gate bridge sweep on Old-TE warp-config constraint
  projects/composablekernel/dispatcher/python/gemm_utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): gate bridge sweep on Old-TE warp-config constraint
  projects/composablekernel/dispatcher/python/gemm_utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): gate bridge sweep on Old-TE warp-config constraint
  projects/composablekernel/dispatcher/python/gemm_utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): gate bridge sweep on Old-TE warp-config constraint
  projects/composablekernel/dispatcher/python/gemm_utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

DEBUG(dapper): dump full git state + multi-strategy base resolution [EXPERIMENTAL]
  projects/miopen/script/dependency-parser/main.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipdnn): rework RFC 0017 for the KDP shared-matcher model
  projects/hipdnn/docs/images/ukd_adapters.svg
  projects/hipdnn/docs/images/ukd_before_after.svg
  projects/hipdnn/docs/images/ukd_composition.svg
  projects/hipdnn/docs/images/ukd_concepts.svg
  projects/hipdnn/docs/images/ukd_criteria_match.svg
  projects/hipdnn/docs/images/ukd_descriptor_formats.svg
  projects/hipdnn/docs/images/ukd_dispatch_flow.svg
  projects/hipdnn/docs/images/ukd_flows.svg
  projects/hipdnn/docs/images/ukd_jit_seam.svg
  projects/hipdnn/docs/rfcs/0017_UniversalKernelDescriptor.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipdnn): drop "promoted" UDD wording; show UKD metadata in concepts diagram
  projects/hipdnn/docs/images/ukd_concepts.svg
  projects/hipdnn/docs/images/ukd_descriptor_formats.svg
  projects/hipdnn/docs/rfcs/0017_UniversalKernelDescriptor.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): drop duplicate A/B/C layout aliases in multi_d single-include
  projects/composablekernel/dispatcher/codegen/unified_gemm_codegen.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipdnn): fix dispatch-flow arrows; add rocKE; redraw jit-seam for KDP model
  projects/hipdnn/docs/images/ukd_adapters.svg
  projects/hipdnn/docs/images/ukd_dispatch_flow.svg
  projects/hipdnn/docs/images/ukd_jit_seam.svg
  projects/hipdnn/docs/rfcs/0017_UniversalKernelDescriptor.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

DEBUG(dapper): use CI-authoritative PR base + dump env [EXPERIMENTAL]
  projects/miopen/script/dependency-parser/main.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipdnn): fix text/arrow overlaps in ukd_concepts.svg
  projects/hipdnn/docs/images/ukd_concepts.svg
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipdnn): straighten reference arrows in ukd_descriptor_formats.svg
  projects/hipdnn/docs/images/ukd_descriptor_formats.svg
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipdnn): straighten reference arrows in ukd_concepts.svg
  projects/hipdnn/docs/images/ukd_concepts.svg
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipdnn): drop redundant ukd_descriptor_formats.svg
  projects/hipdnn/docs/images/ukd_descriptor_formats.svg
  projects/hipdnn/docs/rfcs/0017_UniversalKernelDescriptor.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Temp fix for statistical operators on HIP due to stage 2 reduction issue on small images
  projects/rpp/utilities/test/CMakeLists.txt
  projects/rpp/utilities/test/image/geometric/rotate_test.cpp
  projects/rpp/utilities/test/image/statistical/tensor_max_test.cpp
  projects/rpp/utilities/test/image/statistical/tensor_mean_test.cpp
  projects/rpp/utilities/test/image/statistical/tensor_min_test.cpp
  projects/rpp/utilities/test/image/statistical/tensor_stddev_test.cpp
  projects/rpp/utilities/test/image/statistical/tensor_sum_test.cpp
  projects/rpp/utilities/test/reference/rotate_ref.hpp
  projects/rpp/utilities/test/reference/warp_perspective_ref.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipSPARSELt] add SyncsPerBenchmark==0 into spmm_tdm_gl2prefetch testing yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_tdm_gl2prefetch.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(hipSPARSELt): unify metadata/data-tensor param lookups in GL2Prefetch
  projects/hipblaslt/tensilelite/Tensile/Components/GL2Prefetch.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipSPARSELt): add sparse metadata support to PrefetchGL2
  projects/hipblaslt/tensilelite/Tensile/Components/GL2Prefetch.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_tdm_gl2prefetch.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_gl2_prefetch_offset.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

DEBUG(dapper): self-service BLOBLESS fetch for base (no TheRock plumbing) [EXPERIMENTAL]
  projects/miopen/script/dependency-parser/main.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Support Origami on Windows and gfx1151
  shared/origami/CMakeLists.txt
  shared/origami/python/CMakeLists.txt
  shared/origami/python/src/origami/bindings.cpp
  shared/origami/python/src/origami/selector.py
  shared/origami/python/tests/test_selector.py
  shared/origami/src/origami/gemm.cpp
  shared/origami/src/origami/origami.cpp
  shared/origami/src/origami/streamk.cpp
  shared/origami/tests/test_gemm.cpp
  shared/origami/tests/test_origami.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add README.md to test suite and ensure reduction tests convey mismatch information
  projects/rpp/utilities/test/README.md
  projects/rpp/utilities/test/src/framework/reduction.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
