Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Sweeps controlled by kernel
  projects/rocsolver/clients/gtest/auxiliary/sb2st_hb2st_gtest.cpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Use __shfl_down instruction for reductions
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

WIP hb2st
  projects/rocsolver/clients/common/auxiliary/testing_sb2st_hb2st.cpp
  projects/rocsolver/clients/common/auxiliary/testing_sb2st_hb2st.hpp
  projects/rocsolver/clients/gtest/auxiliary/sb2st_hb2st_gtest.cpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.cpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

debug: task0 larfg
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

debug: sweep 0 passes
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hb2st: revise v block index to k-order
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add #pragma once
  projects/rocsolver/clients/common/misc/client_util.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

WIP hb2st
  projects/rocsolver/clients/common/auxiliary/testing_sb2st_hb2st.hpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.cpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test helarf
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hb2st
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hb2st cleanup
  projects/rocsolver/clients/common/auxiliary/testing_sb2st_hb2st.hpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hb2st v index -- works
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

debug: n=16, kd=4 passes real & complex
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hb2st perf testing
  projects/rocsolver/clients/common/auxiliary/testing_sb2st_hb2st.hpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

swap (V, ldv) and (D, E) args
  projects/rocsolver/clients/common/auxiliary/testing_sb2st_hb2st.hpp
  projects/rocsolver/clients/common/misc/rocsolver.hpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.cpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hb2st lib & tester compiles
  projects/rocsolver/clients/common/auxiliary/testing_sb2st_hb2st.hpp
  projects/rocsolver/clients/common/misc/rocsolver.hpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hb2st: add get_v_index
  projects/rocsolver/library/src/include/lib_device_helpers.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix helarf index
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix 64-bit dispatch
  projects/rocsolver/clients/common/misc/rocsolver_dispatcher.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hb2st: use rocsolver_timer for hot_calls loop
  projects/rocsolver/clients/common/auxiliary/testing_sb2st_hb2st.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hb2st: add cpu_sb2st_hb2st wrapper and cpu timing
  projects/rocsolver/clients/common/auxiliary/testing_sb2st_hb2st.hpp
  projects/rocsolver/clients/common/misc/lapack_host_reference.cpp
  projects/rocsolver/clients/common/misc/lapack_host_reference.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hb2st: add tau output parameter after ldv
  projects/rocsolver/clients/common/auxiliary/testing_sb2st_hb2st.hpp
  projects/rocsolver/clients/common/misc/rocsolver.hpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.cpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hb2st: refactor tester using generator
  projects/rocsolver/clients/common/auxiliary/testing_sb2st_hb2st.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hb2st: add bad arg check
  projects/rocsolver/clients/gtest/auxiliary/sb2st_hb2st_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hb2st: replace rocblas_int with template param I; add _64 wrappers
  projects/rocsolver/clients/common/misc/rocsolver.hpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.cpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

if (use_hemv), so clang-format doesn't mess up #if formatting
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

cleanup code. Handle kd = 0 as error, kd = 1 as smallest size.
  projects/rocsolver/clients/common/auxiliary/testing_sb2st_hb2st.hpp
  projects/rocsolver/clients/common/misc/rocsolver_dispatcher.hpp
  projects/rocsolver/clients/gtest/auxiliary/sb2st_hb2st_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

require kd >= 1
  projects/rocsolver/clients/common/auxiliary/testing_sb2st_hb2st.hpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hb2st: add int64 tests using lange pattern
  projects/rocsolver/clients/common/auxiliary/testing_sb2st_hb2st.cpp
  projects/rocsolver/clients/common/auxiliary/testing_sb2st_hb2st.hpp
  projects/rocsolver/clients/gtest/auxiliary/sb2st_hb2st_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

clang-format
  projects/rocsolver/clients/common/auxiliary/testing_sb2st_hb2st.cpp
  projects/rocsolver/clients/common/auxiliary/testing_sb2st_hb2st.hpp
  projects/rocsolver/clients/common/misc/client_util.hpp
  projects/rocsolver/clients/gtest/auxiliary/sb2st_hb2st_gtest.cpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.cpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.hpp
  projects/rocsolver/library/src/include/lapack_device_functions.hpp
  projects/rocsolver/library/src/include/lapack_host_functions.hpp
  projects/rocsolver/library/src/include/lib_device_helpers.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix hb2st tester compile
  projects/rocsolver/clients/common/misc/rocsolver_dispatcher.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

cleanup code, remove debugging
  projects/rocsolver/clients/common/auxiliary/testing_sb2st_hb2st.hpp
  projects/rocsolver/clients/common/misc/rocsolver.hpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.cpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.hpp
  projects/rocsolver/library/src/include/lapack_device_functions.hpp
  projects/rocsolver/library/src/include/lapack_host_functions.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix test failures
  projects/rocsolver/clients/common/auxiliary/testing_sb2st_hb2st.hpp
  projects/rocsolver/clients/gtest/auxiliary/sb2st_hb2st_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add hb2st docs
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.cpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add selectable SDPA reference modes
  dnn-providers/integration-tests/CMakeLists.txt
  dnn-providers/integration-tests/sdpa_aotriton_harness/CMakeLists.txt
  dnn-providers/integration-tests/sdpa_aotriton_harness/NpyIO.hpp
  dnn-providers/integration-tests/sdpa_aotriton_harness/README.md
  dnn-providers/integration-tests/sdpa_aotriton_harness/SdpaRefDriver.cpp
  dnn-providers/integration-tests/sdpa_aotriton_harness/python/compare.py
  dnn-providers/integration-tests/sdpa_aotriton_harness/python/gen_inputs.py
  dnn-providers/integration-tests/sdpa_aotriton_harness/python/harness.py
  dnn-providers/integration-tests/sdpa_aotriton_harness/python/manifest.py
  dnn-providers/integration-tests/sdpa_aotriton_harness/python/run_torch.py
  dnn-providers/integration-tests/sdpa_aotriton_harness/python/sdpa_cases.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[hip-kernel-provider] Correct rocKE test coverage matrix and ctest signal
  dnn-providers/hip-kernel-provider/rocKE/tests/README.md
  dnn-providers/hip-kernel-provider/rocKE/tests/core/test_ck_dsl_c_interface.py
  dnn-providers/hip-kernel-provider/rocKE/tests/run_all.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK_TILE] Fix missing fp8/bf8 16x16x64 dispatcher entries with __gfx950__ guard
  projects/composablekernel/include/ck_tile/ops/gemm/warp/warp_gemm_dispatcher.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update tests and docs to match new "MIOpen" log prefix
  projects/miopen/docs/conceptual/cache.rst
  projects/miopen/docs/how-to/use-nhwc-batchnorm-in-pytorch.rst
  projects/miopen/test/gtest/log.cpp
  projects/miopen/test/test_perf.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] address CMake review: roc:: alias, simplify shared-libs, codegen flags
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/clients/CMakeLists.txt
  projects/hipblaslt/clients/tests/src/caching_library_gtest.cpp
  projects/hipblaslt/cmake/HipBLASLtCodegen.cmake
  projects/hipblaslt/device-library/CMakeLists.txt
  projects/hipblaslt/tensilelite/CMakeLists.txt
  projects/hipblaslt/tensilelite/client/CMakeLists.txt
  projects/hipblaslt/tensilelite/tests/CMakeLists.txt
  projects/hipsparselt/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ALMIOPEN-1730 enable disabled tests to find exact failures
  projects/miopen/test/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
