Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

PR comments
  projects/miopen/src/hip/utilocl.cpp
  projects/miopen/src/kernels/MIOpenIm2d2Col.cpp
  projects/miopen/src/kernels/MIOpenIm3d2Col.cpp
  projects/miopen/src/solver/conv/gemm.cpp
  projects/miopen/src/solver/conv/gemm_wrw.cpp
  projects/miopen/test/gtest/CMakeLists.txt
  projects/miopen/test/gtest/test_categories.yaml
  projects/miopen/test/gtest/unit_conv_solver_GemmFwdRest.cpp
  projects/miopen/test/gtest/unit_conv_solver_GemmWrw1x1_stride1.cpp
  projects/miopen/test/gtest/unit_conv_solver_GemmWrwUniversal.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix tests
  projects/miopen/src/kernels/MIOpenIm2d2Col.cpp
  projects/miopen/test/gtest/unit_conv_solver.cpp
  projects/miopen/test/gtest/unit_conv_solver_GemmBwdRest.cpp
  projects/miopen/test/gtest/unit_conv_solver_GemmWrwUniversal.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add gfx1251 support
  projects/rocprim/rocprim/include/rocprim/config.hpp
  projects/rocprim/rocprim/include/rocprim/device/config_types.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/lookback_scan_state.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/ordered_block_id.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): bind each launch to the Stream-K flag region it owns (#11799)
  projects/hipblaslt/clients/tests/src/CMakeLists.txt
  projects/hipblaslt/clients/tests/src/streamk_null_stream_test.cpp
  projects/hipblaslt/clients/tests/src/streamk_test_util.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/handle.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(integration-tests): name sidecars with forward slashes on Windows
  dnn-providers/integration-tests/scripts/harvest_support_claims.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(integration-tests): claim a cell only when its gtest printed OK
  dnn-providers/integration-tests/scripts/harvest_support_claims.py
  dnn-providers/integration-tests/scripts/test_harvest_support_claims.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

sweep dense with new knobs, rename disaptch files
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/common/attention_combo_sweep.py
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx942/attention/prefill/benchmark_prefill2d_live.py
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx950/attention/decode/decode_table_sweep.py
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx950/attention/prefill/benchmark_prefill2d_live.py
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx950/attention/prefill/dense_prefill_table_sweep.py
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/AGENTS.md
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention/README.md
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention/__init__.py
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention/gfx942.py
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention/gfx950_dense.py
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention/gfx950_tuning.py
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention/gfx950_unified.py
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention/tuning_common.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_combo_sweep.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_explicit_tuning.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_gfx950_dense_wiring.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_review_followups.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_tuning_space.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/test_core_helpers.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_bottom_right.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx950_numeric.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/dispatch/ARCHITECTURE.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/dispatch/README.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

expose gfx942 knobs to the spec
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/attention_dense.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx950/attention_dense.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_builds.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942_numeric.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx950_numeric.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add more knobs to the spec
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx950/attention_dense.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_builds.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

wire the sweep configs in dispatcher for gfx942
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx942/attention/prefill/benchmark_dense_prefill_live.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx942/attention/prefill/README.md
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx942/attention/prefill/attention_dense_prefill.py
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/AGENTS.md
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention/README.md
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention/__init__.py
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention/gfx942_dense.py
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention/gfx942_tuning.py
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention/gfx942_unified.py
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention/gfx950_dense.py
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention/tuning_common.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/attention_dense.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_explicit_tuning.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_gfx942_dense_wiring.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_review_followups.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_tuning_space.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/test_core_helpers.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_builds.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942_golden.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942_numeric.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/dispatch/ARCHITECTURE.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/dispatch/README.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(integration-tests): refuse a log given in two runs
  dnn-providers/integration-tests/scripts/harvest_support_claims.py
  dnn-providers/integration-tests/scripts/test_harvest_support_claims.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

rocBLAS: default to hipBLASLt for DGEMM on MI300A (gfx942, 228 CU)
  projects/rocblas/library/src/include/handle.hpp
  projects/rocblas/library/src/tensile_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Tuned CGEMM libraries
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Ailk_Bjlk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Ailk_Bjlk_C_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Ailk_Bljk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Alik_Bjlk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Alik_Bjlk_C_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Alik_Bljk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Alik_C_Bjlk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Alik_C_Bjlk_C_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Alik_C_Bljk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Ailk_Bjlk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Ailk_Bjlk_C_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Ailk_Bljk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Alik_Bjlk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Alik_Bjlk_C_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Alik_Bljk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Alik_C_Bjlk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Alik_C_Bjlk_C_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Alik_C_Bljk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_C_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Ailk_Bljk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Alik_Bjlk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Alik_Bjlk_C_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Alik_Bljk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Alik_C_Bjlk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Alik_C_Bjlk_C_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Alik_C_Bljk_C_B_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

rocke: fix the repeatability issues with tuning, and AI review feedback addressed
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx950/attention/decode/decode_table_sweep.py
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx950/attention/prefill/dense_prefill_table_sweep.py
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention/README.md
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention/__init__.py
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention/unified_rules.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_declared_coverage.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_gfx950_dense_wiring.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_tuning_contract.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_tuning_identity.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_tuning_space.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/dispatch/core.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/dispatch/tuning/axes.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/dispatch/tuning/space.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/dispatch/tuning/testing.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/dispatch/dispatch_tests/tuning/__init__.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/dispatch/dispatch_tests/tuning/test_tuning_template.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

(CMCL) Clarify descriptor and kpack load diagnostics
  dnn-providers/hip-kernel-provider/src/compilation/KpackModuleCache.hpp
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/IntegrationGpuKernelIngestorKpack.cpp
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/ScopedPluginLogCapture.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/DescriptorLoader.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/GenericPlanBuilder.hpp
  projects/hipdnn/plugin_sdk/tests/ingestor/TestDescriptorLoader.cpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/LogRecorder.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

revise code to handle memory quiry and batch_count == 0
  projects/rocsolver/library/src/lapack/roclapack_getf2_batched.cpp
  projects/rocsolver/library/src/lapack/roclapack_getf2_strided_batched.cpp
  projects/rocsolver/library/src/lapack/roclapack_getrf_batched.cpp
  projects/rocsolver/library/src/lapack/roclapack_getrf_strided_batched.cpp
  projects/rocsolver/library/src/lapack/roclapack_getrs_batched.cpp
  projects/rocsolver/library/src/lapack/roclapack_getrs_npvt_batched.cpp
  projects/rocsolver/library/src/lapack/roclapack_getrs_npvt_strided_batched.cpp
  projects/rocsolver/library/src/lapack/roclapack_getrs_strided_batched.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipblaslt): describe the JIT design without history
  .github/workflows/hipblaslt-jit-gemm-ci.yml
  SESSION_HANDOFF.md
  projects/hipblaslt/JIT.md
  projects/hipblaslt/JIT_TENSILELITE.md
  projects/hipblaslt/TESTING.md
  projects/hipblaslt/clients/bench/README.jit.md
  projects/hipblaslt/clients/tests/jit/README.md
  projects/hipblaslt/clients/tests/jit/test_helper_failures.py
  projects/hipblaslt/jit-design/README.md
  projects/hipblaslt/jit-design/confluence-roadmap-draft.md
  projects/hipblaslt/jit-design/kfa-producer-convergence.md
  projects/hipblaslt/jit-design/timing-host-plan.md
  projects/hipblaslt/jit-design/timing-python-plan.md
  projects/hipblaslt/tensilelite/SINGLE_SOLUTION.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

comments modified
  projects/rocblas/library/src/include/handle.hpp
  projects/rocblas/library/src/tensile_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(miopen-provider): correct factual errors in ai-rules.md
  dnn-providers/miopen-provider/docs/ai-rules.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hip-kernel-provider): clarify dtype criteria and reference prose
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/reference/dtype_support.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/reference/matrix_instructions_summary.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hipdnn): add ingestor descriptor-load POC measurement harness
  projects/hipdnn/tools/CMakeLists.txt
  projects/hipdnn/tools/ingestor_load_poc/DumpDescriptorSets.cpp
  projects/hipdnn/tools/ingestor_load_poc/PluginLoadTiming.cpp
  projects/hipdnn/tools/ingestor_load_poc/gdb_sample.py
  projects/hipdnn/tools/ingestor_load_poc/gen_synthetic_kdp.py
  projects/hipdnn/tools/ingestor_load_poc/json_floor.cpp
  projects/hipdnn/tools/ingestor_load_poc/kpack_scale_bench.py
  projects/hipdnn/tools/ingestor_load_poc/poc.sh
  projects/hipdnn/tools/ingestor_load_poc/run_gtest.py
  projects/hipdnn/tools/ingestor_load_poc/summarize_timing.py
  projects/hipdnn/tools/ingestor_load_poc/variant_kdp.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke): Fixed gfx942 dense sw golden IR (#12654)
  dnn-providers/hip-kernel-provider/rocke/library/tests/golden/attention_dense_gfx942_ir_sha256.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocke): clarify gfx942 LDS profile usage and CLI coverage
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/utilities/skills/lds-bank-conflict-expert/references/gfx942.md
  dnn-providers/hip-kernel-provider/rocke/platform/tests/analysis/test_lds_skill_cli.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocke): clarify gfx950 LDS profile usage and CLI coverage
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/utilities/skills/lds-bank-conflict-expert/references/gfx950.md
  dnn-providers/hip-kernel-provider/rocke/platform/tests/analysis/test_lds_profile_gfx950.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/analysis/test_lds_registry.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/analysis/test_lds_skill_cli.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): cover persistent custom metadata and debug loops
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomKernelMetadata.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_persistent_config_generation.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): address persistent policy review and test failures
  projects/hipblaslt/clients/tests/src/row_uniformity_gtest.cpp
  projects/hipblaslt/tensilelite/Tensile/Common/Utilities.py
  projects/hipblaslt/tensilelite/Tensile/Components/Signature.py
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGREmit.py
  projects/hipblaslt/tensilelite/Tensile/Contractions.py
  projects/hipblaslt/tensilelite/Tensile/CustomKernels.py
  projects/hipblaslt/tensilelite/Tensile/ExecutionPolicy.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_r3_streamk_tdm_sgpr_budget_gfx1250_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_DecouplePGR.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_PrefetchAcrossPersistent.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_execution_policy.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_halfplr_streamk_rejects.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_prefetchgl2_streamk_guard.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_streamk_multicast.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_vgpr_overflow_force_generate.py
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Serialization/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/tests/CuCount_test.cpp
  projects/hipblaslt/tensilelite/tests/StreamKLaunchSummary_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): cover AtomicDest policy after rebase
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_adaptive_gsu_codegen.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): integrate uniform stagger policy after rebase
  projects/hipblaslt/clients/tests/src/row_uniformity_gtest.cpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/tests/StreamKLaunchSummary_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): restore adaptive GSU policy checks
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_adaptive_gsu_codegen.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): cover gfx1250 adaptive GSU generation
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_adaptive_gsu_codegen.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): finish policy diagnostics and rebase integration
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionDerivationSweep/__snapshots__/test_setcover_reject_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionDerivationSweep/reject_harness.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionDerivationSweep/test_setcover_reject_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_emit_bigfiles_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_emit_gfx1250_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_r3_datamover_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_r3_streamk_gfx1250_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_streamk_cluster_multicast_gfx1250_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_streamk_pap_cluster_multicast_gfx1250_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_custom_kernel_host.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_output_amax.py
  projects/hipblaslt/tensilelite/include/Tensile/ContractionProblem.hpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/tests/StreamKLaunchSummary_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): narrow policy test dependencies
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_experimental_policy_cli.py
  projects/hipblaslt/tensilelite/include/Tensile/Tensile.hpp
  projects/hipblaslt/tensilelite/tests/PersistentExecutionPolicySerialization_test.cpp
  projects/hipblaslt/tensilelite/tests/RangeLibrary_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(tensilelite): name persistent DataParallel explicitly
  projects/hipblaslt/tensilelite/Tensile/CustomKernels.py
  projects/hipblaslt/tensilelite/Tensile/ExecutionPolicy.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/DECISIONS.md
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/adr/0015-data-parallel-scheduling-arguments.md
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_execution_policy.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_execution_policy_ingestion.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_persistent_argument_layout.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_persistent_assignment_execution.py
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/tests/PersistentArgumentLayout_test.cpp
  projects/hipblaslt/tensilelite/tests/PersistentExecutionPolicySerialization_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

test(tensilelite): record native DataParallel argument names
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_streamk_cluster_multicast_gfx1250_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_streamk_pap_cluster_multicast_gfx1250_char.ambr
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): add native persistent DataParallel scheduling
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/Components/PersistentLoop.py
  projects/hipblaslt/tensilelite/Tensile/Components/Signature.py
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Components/TileProcessingStrategy.py
  projects/hipblaslt/tensilelite/Tensile/Components/WorkAssignment.py
  projects/hipblaslt/tensilelite/Tensile/CustomKernels.py
  projects/hipblaslt/tensilelite/Tensile/ExecutionPolicy.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/data_parallel_static_sgemm_pap.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/DECISIONS.md
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/adr/0015-native-data-parallel-arguments.md
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_PrefetchAcrossPersistent.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_data_parallel_static.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_execution_policy.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_execution_policy_ingestion.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_persistent_argument_layout.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_persistent_assignment_execution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_register_kernel_args.py
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/tests/CuCount_test.cpp
  projects/hipblaslt/tensilelite/tests/PersistentArgumentLayout_test.cpp
  projects/hipblaslt/tensilelite/tests/PersistentExecutionPolicySerialization_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

test(tensilelite): align migrated policy tests and fixtures
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_setcover_gemm_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_setcover_streamk_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_streamk_cluster_sk45_reject.py
  projects/hipblaslt/tensilelite/tests/StreamKLaunchSummary_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(hipblaslt): extract persistent loop ownership
  projects/hipblaslt/tensilelite/Tensile/Components/PersistentLoop.py
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/Components/TileProcessingStrategy.py
  projects/hipblaslt/tensilelite/Tensile/Components/WorkAssignment.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/_persistent_isa.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/streamk5_test_helpers.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_PrefetchAcrossPersistent.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_ReuseAcrossPersistent.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_data_parallel_static.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_streamk_queue_index.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_streamk_uso_gate.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_streamk_work_stealing.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_tile_processing_strategy.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): cover persistent reuse lifecycle extraction
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_persistent_loop_reuse.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocsparse): 64-bit grid-stride index in gthr (AISPARSE-654)
  projects/rocsparse/library/src/level1/gthr_device.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocsparse): 64-bit grid-stride index in bsrmm (AISPARSE-665/704)
  projects/rocsparse/library/src/level3/bsrmm_device_large_ext.h
  projects/rocsparse/library/src/level3/bsrmm_device_small.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
