Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

[stinkytofu] Converter intercepts rocisa SSetPCB64 with non-empty longBranchLabel and stamps LabelData
  shared/stinkytofu/src/conversion/rocisa/ToStinkyTofuUtils.cpp
  shared/stinkytofu/tests/unit/asm/SetpcSwappcCfgTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Implement LongBranchLoweringPass
  shared/stinkytofu/include/stinkytofu/transforms/asm/LongBranchLoweringPass.hpp
  shared/stinkytofu/src/transforms/asm/CMakeLists.txt
  shared/stinkytofu/src/transforms/asm/LongBranchLoweringPass.cpp
  shared/stinkytofu/tests/CMakeLists.txt
  shared/stinkytofu/tests/filecheck/cfg_long_branch.s
  shared/stinkytofu/tests/unit/asm/LongBranchLoweringTest.cpp
  shared/stinkytofu/tools/stinkytofu-opt/stinkytofu-opt.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Add CFGBuilderPass to availablePasses in stinkytofu-opt
  shared/stinkytofu/tools/stinkytofu-opt/stinkytofu-opt.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Add document docs/user/long-branch-cfg.md
  shared/stinkytofu/docs/README.md
  shared/stinkytofu/docs/user/long-branch-cfg.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Fix undefined label 'SkipToEnd'/'LoopBeginL' in subtile yaml kernels (hipblaslt_incremental_refactor-6ey)
  projects/hipblaslt/tensilelite/cpp_migration/cpp/include/tensile_writer/loop_orchestrator.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

cmake pip requirement should be less than 4.0 (#7911)
  projects/hipblaslt/requirements.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Implement batched GER/GERU with per-batch alpha coefficients
  projects/rocblas/clients/gtest/blas2/ger_gtest.cpp
  projects/rocblas/clients/gtest/blas2/geru_gtest.cpp
  projects/rocblas/clients/gtest/ger_gtest.yaml
  projects/rocblas/clients/gtest/geruc_gtest.yaml
  projects/rocblas/clients/include/blas2/testing_ger_batched.hpp
  projects/rocblas/clients/include/blas2/testing_ger_strided_batched.hpp
  projects/rocblas/docs/reference/level-2.rst
  projects/rocblas/library/src/blas2/rocblas_ger_batched_imp.hpp
  projects/rocblas/library/src/blas2/rocblas_ger_strided_batched_imp.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[tensilelite] Remove InstructionScheduler/InstructionEmitter shims, delete superseded pytest facades (hipblaslt_incremental_refactor-grc.120)
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/InstructionEmitter.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/InstructionScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedLogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtileGrLrEmitCpp.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtileMainloopE2ECpp.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtileMfmaBuilderCpp.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtileRocisaModuleBuilderCpp.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtileScaleEmitCpp.py
  projects/hipblaslt/tensilelite/cpp_migration/tensile_writer/subtile/__init__.py
  projects/hipblaslt/tensilelite/cpp_migration/tensile_writer/subtile/instruction_scheduler.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Tune gfx1151 HHS GridBased logic (cold-cache full-kernel retune)
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1151/GridBased/gfx1151_Cijk_Alik_Bljk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Audit final Subtile C++ ownership: delete SubtileScaleEmit.py, remove duplicate helpers (hipblaslt_incremental_refactor-grc.122)
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGREmit.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileLREmit.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileScaleEmit.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtileScaleOffsetAssignCpp.py
  projects/hipblaslt/tensilelite/cpp_migration/tensile_writer/subtile/__init__.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(subtile): remove stale SubtileScaleEmit.py entry (wpc)
  projects/hipblaslt/tensilelite/docs/subtile_cpp_boundary.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update rpp_test_suite_image.h
  projects/rpp/utilities/test_suite/rpp_test_suite_image.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK Tile] Fix memory leak in FMHA backward graph capture
  projects/composablekernel/example/ck_tile/01_fmha/fmha_bwd.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Handle CFG for long branch instruction (#7344)
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/branch.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/extension.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/instruction/branch.cpp
  shared/stinkytofu/docs/README.md
  shared/stinkytofu/docs/user/long-branch-cfg.md
  shared/stinkytofu/hardware/src/gfx/Gfx1250/Gfx1250Instructions.def
  shared/stinkytofu/include/stinkytofu/hardware/Flags.def
  shared/stinkytofu/include/stinkytofu/ir/asm/StinkyAsmIR.hpp
  shared/stinkytofu/include/stinkytofu/transforms/asm/LongBranchLoweringPass.hpp
  shared/stinkytofu/src/conversion/rocisa/ToStinkyTofuUtils.cpp
  shared/stinkytofu/src/serialization/asm/ModifierSerializer.cpp
  shared/stinkytofu/src/transforms/asm/CFGBuilderPass.cpp
  shared/stinkytofu/src/transforms/asm/CMakeLists.txt
  shared/stinkytofu/src/transforms/asm/LongBranchLoweringPass.cpp
  shared/stinkytofu/tests/CMakeLists.txt
  shared/stinkytofu/tests/filecheck/cfg_long_branch.s
  shared/stinkytofu/tests/unit/asm/BranchHelpersTest.cpp
  shared/stinkytofu/tests/unit/asm/LongBranchLoweringTest.cpp
  shared/stinkytofu/tests/unit/asm/SetpcSwappcCfgTest.cpp
  shared/stinkytofu/tools/stinkytofu-opt/stinkytofu-opt.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[rocfft-test, hipfft-test] Catch std::exception in ROCFFT_CATCH_TEST_EXCEPTIONS (#8288)
  projects/hipfft/shared/client_except.h
  projects/rocfft/shared/client_except.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Collapse SubtileGeometry/GREmit/LREmit into Kernel.py (grc.137-139)
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGREmit.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGeometry.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileLREmit.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/_gr_emit_leaves.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/_lr_emit_leaves.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/gpu_test_helpers.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_gr_offset.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtileOffsetAssignCpp.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtile_boundary.py
  projects/hipblaslt/tensilelite/cpp_migration/tensile_writer/__init__.py
  projects/hipblaslt/tensilelite/cpp_migration/tensile_writer/subtile/__init__.py
  projects/hipblaslt/tensilelite/cpp_migration/tensile_writer/subtile/geometry.py
  projects/hipblaslt/tensilelite/cpp_migration/tensile_writer/subtile/module_builder.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocprim] Add test filter standardization to rocprim (#7037)
  projects/hipccl/hipccl2/rocprim/CMakeLists.txt
  projects/hipccl/hipccl2/rocprim/test/CMakeLists.txt
  projects/hipccl/hipccl2/rocprim/test/test_categories.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocprim] Add test filter standardization to rocprim (#7037)
  projects/rocprim/CMakeLists.txt
  projects/rocprim/test/CMakeLists.txt
  projects/rocprim/test/test_categories.yaml
  shared/ctest/parse_test_categories.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocprim] Add test filter standardization to rocprim (#7037)
  projects/hipccl/hipccl3/rocprim/CMakeLists.txt
  projects/hipccl/hipccl3/rocprim/test/CMakeLists.txt
  projects/hipccl/hipccl3/rocprim/test/test_categories.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK_TILE] sparse_attn: add SpargeAttn forward port
  projects/composablekernel/example/ck_tile/50_sparse_attn/CMakeLists.txt
  projects/composablekernel/example/ck_tile/50_sparse_attn/README.md
  projects/composablekernel/example/ck_tile/50_sparse_attn/codegen/cpp_symbol_map.py
  projects/composablekernel/example/ck_tile/50_sparse_attn/codegen/ops/fmha_fwd_jenga.py
  projects/composablekernel/example/ck_tile/50_sparse_attn/codegen/ops/fmha_fwd_sparge.py
  projects/composablekernel/example/ck_tile/50_sparse_attn/docs/pv_skip_mode_comparison.png
  projects/composablekernel/example/ck_tile/50_sparse_attn/fmha_fwd_trek.hpp
  projects/composablekernel/example/ck_tile/50_sparse_attn/sparge_blockmap_inst.cpp
  projects/composablekernel/example/ck_tile/50_sparse_attn/sparge_blockmap_trek.hpp
  projects/composablekernel/example/ck_tile/50_sparse_attn/sparge_hyperparam.hpp
  projects/composablekernel/example/ck_tile/50_sparse_attn/sparge_tool.hpp
  projects/composablekernel/example/ck_tile/50_sparse_attn/test_sparge.cpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/kernel/fmha_fwd_jenga_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/kernel/fmha_fwd_sparge_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/kernel/sparge_blockmap_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/kernel/sparge_kstats_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/pipeline/block_fmha_pipeline_qr_ks_vs_async_jenga.hpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/pipeline/block_fmha_pipeline_qr_ks_vs_async_sparge.hpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/pipeline/sparge_blockmap_pipeline.hpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/pipeline/sparge_kstats_pipeline.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[CK_TILE] sparse_attn: fix bf16 block_map validator boundary mismatches
  projects/composablekernel/example/ck_tile/50_sparse_attn/sparge_tool.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK_TILE] sparse_attn: save one LDS barrier on PV-skip path
  projects/composablekernel/include/ck_tile/ops/sparse_attn/pipeline/block_fmha_pipeline_qr_ks_vs_async_sparge.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK_TILE] sparse_attn: add Sage-style Q/K int8 quant fusion
  projects/composablekernel/example/ck_tile/50_sparse_attn/CMakeLists.txt
  projects/composablekernel/example/ck_tile/50_sparse_attn/README.md
  projects/composablekernel/example/ck_tile/50_sparse_attn/codegen/ops/fmha_fwd_sparge.py
  projects/composablekernel/example/ck_tile/50_sparse_attn/docs/pv_skip_mode_comparison.png
  projects/composablekernel/example/ck_tile/50_sparse_attn/fmha_fwd_trek.hpp
  projects/composablekernel/example/ck_tile/50_sparse_attn/sparge_blockmap_inst.cpp
  projects/composablekernel/example/ck_tile/50_sparse_attn/sparge_blockmap_trek.hpp
  projects/composablekernel/example/ck_tile/50_sparse_attn/sparge_int8_inst.cpp
  projects/composablekernel/example/ck_tile/50_sparse_attn/test_sparge.cpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/kernel/fmha_fwd_jenga_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/kernel/fmha_fwd_sparge_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/kernel/fmha_fwd_vsa_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/kernel/sparge_kstats_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/pipeline/block_fmha_pipeline_qr_ks_vs_async_jenga.hpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/pipeline/block_fmha_pipeline_qr_ks_vs_async_sparge.hpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/pipeline/block_fmha_pipeline_qr_ks_vs_async_vsa.hpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/pipeline/block_fmha_pipeline_qx_ks_vs_sparge_policy.hpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/pipeline/sparge_kstats_pipeline.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[CK_TILE] sparse_attn: refine codebase + reproducible perf chart and docs
  projects/composablekernel/example/ck_tile/50_sparse_attn/README.md
  projects/composablekernel/example/ck_tile/50_sparse_attn/docs/plot.py
  projects/composablekernel/example/ck_tile/50_sparse_attn/docs/pv_skip_mode_comparison.png
  projects/composablekernel/example/ck_tile/50_sparse_attn/docs/run_bench.py
  projects/composablekernel/example/ck_tile/50_sparse_attn/docs/sparge_bench.csv
  projects/composablekernel/example/ck_tile/50_sparse_attn/fmha_fwd_trek.hpp
  projects/composablekernel/example/ck_tile/50_sparse_attn/sparge_int8_inst.cpp
  projects/composablekernel/example/ck_tile/50_sparse_attn/test_sparge.cpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/kernel/fmha_fwd_jenga_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/kernel/fmha_fwd_sparge_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/kernel/fmha_fwd_vsa_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/pipeline/block_fmha_pipeline_qr_ks_vs_async_jenga.hpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/pipeline/block_fmha_pipeline_qr_ks_vs_async_sparge.hpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/pipeline/block_fmha_pipeline_qr_ks_vs_async_vsa.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK_TILE] sparse_attn: GPU-fused int8 quant and fair end-to-end perf timing
  projects/composablekernel/example/ck_tile/50_sparse_attn/README.md
  projects/composablekernel/example/ck_tile/50_sparse_attn/codegen/ops/fmha_fwd_sparge.py
  projects/composablekernel/example/ck_tile/50_sparse_attn/codegen/ops/fmha_fwd_vsa.py
  projects/composablekernel/example/ck_tile/50_sparse_attn/docs/pv_skip_mode_comparison.png
  projects/composablekernel/example/ck_tile/50_sparse_attn/docs/run_bench.py
  projects/composablekernel/example/ck_tile/50_sparse_attn/docs/sparge_bench.csv
  projects/composablekernel/example/ck_tile/50_sparse_attn/fmha_fwd_trek.hpp
  projects/composablekernel/example/ck_tile/50_sparse_attn/sparge_blockmap_inst.cpp
  projects/composablekernel/example/ck_tile/50_sparse_attn/sparge_blockmap_trek.hpp
  projects/composablekernel/example/ck_tile/50_sparse_attn/sparge_int8_inst.cpp
  projects/composablekernel/example/ck_tile/50_sparse_attn/test_sparge.cpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/kernel/sparge_blockmap_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/kernel/sparge_kstats_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/pipeline/sparge_blockmap_pipeline.hpp
  projects/composablekernel/include/ck_tile/ops/sparse_attn/pipeline/sparge_kstats_pipeline.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update CMakeLists.txt
  projects/rpp/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] skip two comgr tests and specify msb mode explicit for FileCheck test (#8018)
  shared/stinkytofu/include/stinkytofu/hardware/ComgrProbe.hpp
  shared/stinkytofu/src/hardware/ComgrProbe.cpp
  shared/stinkytofu/tests/filecheck/raw_asm_vgpr_msb.s
  shared/stinkytofu/tests/unit/core/ComgrProbeTest.cpp
  shared/stinkytofu/tools/stinkytofu-opt/stinkytofu-opt.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update send/recv function calls + minor fixes
  projects/rocfft/library/src/include/rccl_wrapper.h
  projects/rocfft/library/src/include/tree_node.h
  projects/rocfft/library/src/rccl_wrapper.cpp
  projects/rocfft/library/src/tree_node.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

use 32-bit GL2PrefetchInc to reduce sgpr pressure
  projects/hipblaslt/tensilelite/Tensile/Components/GL2Prefetch.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_gl2_prefetch_offset.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Formatting indentStr
  projects/rocfft/library/src/rccl_wrapper.cpp
  projects/rocfft/library/src/tree_node.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

tests related clean up
  projects/hipblaslt/utilities/geko/README.md
  projects/hipblaslt/utilities/geko/tests/README.md
  projects/hipblaslt/utilities/geko/tests/config_generator/README.md
  projects/hipblaslt/utilities/geko/tests/config_generator/test_workflow.py
  projects/hipblaslt/utilities/geko/tests/conftest.py
  projects/hipblaslt/utilities/geko/tests/test_configure.py
  projects/hipblaslt/utilities/geko/tests/test_optimize.py
  projects/hipblaslt/utilities/geko/tox.ini
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Benchmarking code enhancement with error check for failures
  projects/rpp/utilities/test_suite/OPENCV/CMakeLists.txt
  projects/rpp/utilities/test_suite/OPENCV/README.md
  projects/rpp/utilities/test_suite/OPENCV/benchmarks_common.h
  projects/rpp/utilities/test_suite/OPENCV/benchmarks_utils.cpp
  projects/rpp/utilities/test_suite/OPENCV/dropout_helpers.cpp
  projects/rpp/utilities/test_suite/OPENCV/generate_test_dataset.py
  projects/rpp/utilities/test_suite/OPENCV/opencv_benchmarks.cpp
  projects/rpp/utilities/test_suite/OPENCV/opencv_vs_rpp_host_benchmarking.cpp
  projects/rpp/utilities/test_suite/OPENCV/rpp_benchmarks.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[MIOpen] Update LGBM picker to v5 (rank-only, 59-feature pruned model)
  projects/miopen/src/CMakeLists.txt
  projects/miopen/src/conv/heuristics/lgbm_gpu_table.cpp
  projects/miopen/src/conv/heuristics/lgbm_metadata.cpp
  projects/miopen/src/conv/heuristics/lgbm_models/appl/Makefile
  projects/miopen/src/conv/heuristics/lgbm_models/appl/header.h
  projects/miopen/src/conv/heuristics/lgbm_models/appl/main.c
  projects/miopen/src/conv/heuristics/lgbm_models/appl/quantize.c
  projects/miopen/src/conv/heuristics/lgbm_models/appl/recipe.json
  projects/miopen/src/conv/heuristics/lgbm_models/appl/tu0.c
  projects/miopen/src/conv/heuristics/lgbm_models/appl/tu1.c
  projects/miopen/src/conv/heuristics/lgbm_models/appl/tu2.c
  projects/miopen/src/conv/heuristics/lgbm_models/appl/tu3.c
  projects/miopen/src/conv/heuristics/lgbm_models/appl/tu4.c
  projects/miopen/src/conv/heuristics/lgbm_models/appl/tu5.c
  projects/miopen/src/conv/heuristics/lgbm_models/appl/tu6.c
  projects/miopen/src/conv/heuristics/lgbm_models/appl/tu7.c
  projects/miopen/src/conv/heuristics/lgbm_models/gen_gpu_table.py
  projects/miopen/src/conv/heuristics/lgbm_models/rank/main.c
  projects/miopen/src/conv/heuristics/lgbm_models/rank/quantize.c
  projects/miopen/src/conv/heuristics/lgbm_models/rank/recipe.json
  projects/miopen/src/conv/heuristics/lgbm_models/rank/tu0.c
  projects/miopen/src/conv/heuristics/lgbm_models/rank/tu1.c
  projects/miopen/src/conv/heuristics/lgbm_models/rank/tu2.c
  projects/miopen/src/conv/heuristics/lgbm_models/rank/tu3.c
  projects/miopen/src/conv/heuristics/lgbm_models/rank/tu4.c
  projects/miopen/src/conv/heuristics/lgbm_models/rank/tu5.c
  projects/miopen/src/conv/heuristics/lgbm_models/rank/tu6.c
  projects/miopen/src/conv/heuristics/lgbm_models/rank/tu7.c
  projects/miopen/src/conv/heuristics/lgbm_models/regen_models.py
  projects/miopen/src/conv/heuristics/lgbm_pick.cpp
  projects/miopen/src/include/miopen/conv/heuristics/lgbm_gpu_features.hpp
  projects/miopen/src/include/miopen/conv/heuristics/lgbm_metadata.hpp
  projects/miopen/src/include/miopen/conv/heuristics/lgbm_predict.hpp
  projects/miopen/src/kernels/lgbm_model_meta.json
  projects/miopen/src/kernels/lgbm_per_spec_thresh.json
  projects/miopen/test/gtest/lgbm_test_vectors.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen] Add gtest coverage for the LGBM solver picker
  projects/miopen/test/gtest/CMakeLists.txt
  projects/miopen/test/gtest/lgbm_picker.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

origami: restore config_ml_t + 4-arg rank_configs decls (for ml_recommender selection-time microbench)
  shared/origami/include/origami/ml_recommender.hpp
  shared/origami/include/origami/origami.hpp
  shared/origami/include/origami/types.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] add LLVM-style pass plugin mechanism (#8052)
  projects/hipblaslt/tensilelite/rocisa/CMakeLists.txt
  projects/hipblaslt/tensilelite/rocisa/test/test_pass_plugin.py
  shared/stinkytofu/CMakeLists.txt
  shared/stinkytofu/examples/plugins/CMakeLists.txt
  shared/stinkytofu/examples/plugins/HelloWorldPass.cpp
  shared/stinkytofu/examples/plugins/HelloWorldPass.hpp
  shared/stinkytofu/include/stinkytofu/bindings/python/Module.hpp
  shared/stinkytofu/include/stinkytofu/pipeline/BackendRegistry.hpp
  shared/stinkytofu/include/stinkytofu/pipeline/PassBuilder.hpp
  shared/stinkytofu/python_module/src/python_bindings.cpp
  shared/stinkytofu/python_module/tests/test_pass_plugin.py
  shared/stinkytofu/src/bindings/python/Module.cpp
  shared/stinkytofu/src/conversion/rocisa/ToStinkyTofuUtils.cpp
  shared/stinkytofu/src/pipeline/CMakeLists.txt
  shared/stinkytofu/src/pipeline/PassBuilder.cpp
  shared/stinkytofu/src/pipeline/backend/Backend.cpp
  shared/stinkytofu/src/pipeline/backend/Gfx1250Backend.cpp
  shared/stinkytofu/tests/CMakeLists.txt
  shared/stinkytofu/tests/unit/core/PassBuilderTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add nanobind and scikit-build-core to requirements
  projects/hipblaslt/tensilelite/requirements.txt
  projects/hipblaslt/tensilelite/rocisa/tox-requirements.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

grc.147: Replace asm golden pytest with deterministic+mnemonic integration smoke
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/subtileOffsetAssign_golden.txt
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/subtileScaleOffsetAssign_golden.txt
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtileOffsetAssignCpp.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtileScaleOffsetAssignCpp.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipdnn] Move SdpaFwd golden reference tensors to DVC tracking
  dnn-providers/integration-tests/golden_reference_data/quick/SdpaFwd/bhsd/bf16/hd128_nomask_batch/Gqa/Gqa.tensor0.bin
  dnn-providers/integration-tests/golden_reference_data/quick/SdpaFwd/bhsd/bf16/hd128_nomask_batch/Gqa/Gqa.tensor1.bin
  dnn-providers/integration-tests/golden_reference_data/quick/SdpaFwd/bhsd/bf16/hd128_nomask_batch/Gqa/Gqa.tensor2.bin
  dnn-providers/integration-tests/golden_reference_data/quick/SdpaFwd/bhsd/bf16/hd128_nomask_batch/Gqa/Gqa.tensor3.bin
  dnn-providers/integration-tests/golden_reference_data/quick/SdpaFwd/bhsd/bf16/hd128_nomask_batch/Gqa/Gqa.tensors.dvc
  dnn-providers/integration-tests/golden_reference_data/quick/SdpaFwd/bhsd/bf16/hd128_nomask_batch/Medium/Medium.tensor0.bin
  dnn-providers/integration-tests/golden_reference_data/quick/SdpaFwd/bhsd/bf16/hd128_nomask_batch/Medium/Medium.tensor1.bin
  dnn-providers/integration-tests/golden_reference_data/quick/SdpaFwd/bhsd/bf16/hd128_nomask_batch/Medium/Medium.tensor2.bin
  dnn-providers/integration-tests/golden_reference_data/quick/SdpaFwd/bhsd/bf16/hd128_nomask_batch/Medium/Medium.tensor3.bin
  dnn-providers/integration-tests/golden_reference_data/quick/SdpaFwd/bhsd/bf16/hd128_nomask_batch/Medium/Medium.tensors.dvc
  dnn-providers/integration-tests/golden_reference_data/quick/SdpaFwd/bhsd/bf16/hd128_nomask_batch/Small/Small.tensor0.bin
  dnn-providers/integration-tests/golden_reference_data/quick/SdpaFwd/bhsd/bf16/hd128_nomask_batch/Small/Small.tensor1.bin
  dnn-providers/integration-tests/golden_reference_data/quick/SdpaFwd/bhsd/bf16/hd128_nomask_batch/Small/Small.tensor2.bin
  dnn-providers/integration-tests/golden_reference_data/quick/SdpaFwd/bhsd/bf16/hd128_nomask_batch/Small/Small.tensor3.bin
  dnn-providers/integration-tests/golden_reference_data/quick/SdpaFwd/bhsd/bf16/hd128_nomask_batch/Small/Small.tensors.dvc
  dnn-providers/integration-tests/golden_reference_data/quick/SdpaFwd/generate_golden_data.sh
  dnn-providers/integration-tests/reference_data_scripts/generate_sdpa_fwd_golden.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Add RegHalfKeyer + extend RegKey with half awareness
  shared/stinkytofu/include/stinkytofu/ir/asm/RegHalfKeyer.hpp
  shared/stinkytofu/include/stinkytofu/ir/asm/RegisterKey.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
