Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

test(tensilelite): char s10_convertafterds_fp8_f16_wide_tile (emit)
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_s10_convertafterds_fp8_f16_wide_tile_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/data/test_data/_designed/gfx950/s10_convertafterds_fp8_f16_wide_tile.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_s10_convertafterds_fp8_f16_wide_tile_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): char s10_usef32xemulation_index_transpose (emit)
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_s10_usef32xemulation_index_transpose_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/data/test_data/_designed/gfx1250/s10_usef32xemulation_index_transpose.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_s10_usef32xemulation_index_transpose_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): char s09_assignderivedparameters_swizzlet (reject-derive)
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_s09_assignderivedparameters_swizzlet_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/data/test_data/_designed/gfx942/s09_assignderivedparameters_swizzlet.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_s09_assignderivedparameters_swizzlet_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): re-floor Solution.py/Configuration.py to measured values
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/coverage-baseline.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): re-record 11 _codegen goldens against the current base
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_s08_assignderivedparameters_tensor0_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_s08_assignderivedparameters_vectorwi_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_s08_callrvwfor950mx_gfx950_mx_auto_l_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_s08_depthuiteration_multi_du_fp6_lds_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_s09_assignderivedparameters_localspl_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_s09_assignderivedparameters_sparse_m_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_s09_assignderivedparameters_storerem_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_s10_convertafterds_fp8_f16_wide_tile_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_s10_mfma_main_path_metadata_vperm_k_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_s10_usef32xemulation_index_transpose_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_s11a_prolog_alpha_before_loadc_packe_char.ambr
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): ratchet per-file coverage floors after god-file harvest
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/coverage-baseline.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): define tensor-only core API
  projects/hipblaslt/clients/samples/common/helper.h
  projects/hipblaslt/clients/tests/src/matrix_transform_gtest.cpp
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/adapters/hipblaslt/HipblasltReferenceGemm.cpp
  shared/host-validation/adapters/include/roc/host_validation/adapters/hipblaslt/GroupedGemmDataInitialization.hpp
  shared/host-validation/adapters/include/roc/host_validation/adapters/hipblaslt/HipblasltDataInitialization.hpp
  shared/host-validation/adapters/include/roc/host_validation/adapters/tensilelite/HostValidationBridge.hpp
  shared/host-validation/adapters/include/roc/host_validation/adapters/tensilelite/TensileDataGeneration.hpp
  shared/host-validation/cmake/ROCHostValidationConfig.cmake.in
  shared/host-validation/include/roc/host_validation/detail/comparison.hpp
  shared/host-validation/include/roc/host_validation/detail/data_generation.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/include/roc/host_validation/detail/tensor_views.hpp
  shared/host-validation/include/roc/host_validation/tensor.hpp
  shared/host-validation/include/roc/host_validation/validation.hpp
  shared/host-validation/tests/CMakeLists.txt
  shared/host-validation/tests/check_core_boundary.cmake
  shared/host-validation/tests/package/CMakeLists.txt
  shared/host-validation/tests/package/main.cpp
  shared/host-validation/tests/package/validation.cpp
  shared/host-validation/tests/tensor_core_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): bridge Tensile GEMM to runtime API
  shared/host-validation/adapters/include/roc/host_validation/adapters/tensilelite/HostValidationBridge.hpp
  shared/host-validation/adapters/tensilelite/Reference.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): add runtime-typed tensor core
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/comparison.hpp
  shared/host-validation/include/roc/host_validation/detail/data_generation.hpp
  shared/host-validation/include/roc/host_validation/detail/tensor_views.hpp
  shared/host-validation/include/roc/host_validation/tensor.hpp
  shared/host-validation/tests/CMakeLists.txt
  shared/host-validation/tests/host_validation_test.cpp
  shared/host-validation/tests/package/main.cpp
  shared/host-validation/tests/scalar_codec_test.cpp
  shared/host-validation/tests/tensor_core_test.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): unify reference GEMM API
  projects/hipblaslt/clients/bench/src/client_groupedgemm_fixed_mk.cpp
  projects/hipblaslt/clients/common/include/testing_matmul_batch_offset.hpp
  projects/hipblaslt/clients/samples/19_hipblaslt_gemm_mix_precision_ext/sample_hipblaslt_gemm_mix_precision_ext.cpp
  projects/hipblaslt/tensilelite/client/cpu_gemm_driver.cpp
  shared/host-validation/README.md
  shared/host-validation/adapters/hipblaslt/HipblasltReferenceGemm.cpp
  shared/host-validation/adapters/include/roc/host_validation/adapters/hipblaslt/Types.hpp
  shared/host-validation/adapters/include/roc/host_validation/adapters/tensilelite/HostValidationBridge.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/include/roc/host_validation/tensor.hpp
  shared/host-validation/tests/host_validation_test.cpp
  shared/host-validation/tests/package/validation.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): add pluggable BLAS backend
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/clients/CMakeLists.txt
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/adapters/hipblaslt/HipblasltReferenceGemm.cpp
  shared/host-validation/cmake/ROCHostValidationConfig.cmake.in
  shared/host-validation/include/roc/host_validation/backends/blas.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/src/backends/blas.cpp
  shared/host-validation/tests/CMakeLists.txt
  shared/host-validation/tests/blas_backend_test.cpp
  shared/host-validation/tests/package/CMakeLists.txt
  shared/host-validation/tests/package/blas.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(host-validation): add Python NumPy oracle
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/python/CMakeLists.txt
  shared/host-validation/python/roc_host_validation/__init__.py
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(host-validation): complete runtime scalar codecs
  shared/host-validation/include/roc/host_validation/tensor.hpp
  shared/host-validation/tests/scalar_codec_test.cpp
  shared/host-validation/tests/tensor_core_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): own bias reduction
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/Reduction.hpp
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
  projects/hipblaslt/clients/common/src/CMakeLists.txt
  projects/hipblaslt/clients/common/src/host_validation/Reduction.cpp
  projects/hipblaslt/clients/tests/src/matmul_gtest.cpp
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/reference_common.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_reduction.hpp
  shared/host-validation/include/roc/host_validation/validation.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/tests/host_validation_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): extract reference epilogue
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/Epilogue.hpp
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
  projects/hipblaslt/clients/common/src/CMakeLists.txt
  projects/hipblaslt/clients/common/src/host_validation/Epilogue.cpp
  projects/hipblaslt/clients/tests/src/matmul_gtest.cpp
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/reference_common.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_epilogue.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/include/roc/host_validation/validation.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/tests/host_validation_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): centralize indexed data generation
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/HipblasltDataInitialization.hpp
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/hipblaslt_init.hpp
  projects/hipblaslt/clients/tests/src/host_validation_gtest.cpp
  projects/hipblaslt/tensilelite/client/CMakeLists.txt
  projects/hipblaslt/tensilelite/client/include/DataInitialization.hpp
  projects/hipblaslt/tensilelite/client/src/host_validation/DataInitialization.cpp
  projects/hipblaslt/tensilelite/tests/DataInit_test.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/data_generation.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/tests/host_validation_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(host-validation): own partial output selection
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/tests/host_validation_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

ci(host-validation): require standalone Python validation
  .github/workflows/host-validation-ci.yml
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): expand tensile runtime gemm coverage
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/python/tests/test_host_validation.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): bridge advanced tensile epilogues
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/Reference.hpp
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/reference_epilogue.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_reduction.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/tests/host_validation_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): bridge tensile fp6 storage
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): share partial epilogue selection
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/reference_common.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_epilogue.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): add product-independent tiled backend
  projects/hipblaslt/tensilelite/client/CMakeLists.txt
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/Reference.hpp
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/backends/tiled.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/python/CMakeLists.txt
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/src/backends/tiled.cpp
  shared/host-validation/tests/CMakeLists.txt
  shared/host-validation/tests/package/CMakeLists.txt
  shared/host-validation/tests/package/tiled.cpp
  shared/host-validation/tests/tiled_backend_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): model pre-quantization scaling
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/src/backends/blas.cpp
  shared/host-validation/src/backends/tiled.cpp
  shared/host-validation/tests/tiled_backend_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): tile block-scaled gemm
  projects/hipblaslt/tensilelite/tests/ReferenceMXFastPath_test.cpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/src/backends/tiled.cpp
  shared/host-validation/tests/tiled_backend_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): own structured sparsity transforms
  projects/hipblaslt/tensilelite/client/include/DataInitialization.hpp
  projects/hipblaslt/tensilelite/client/src/DataInitialization.cpp
  projects/hipblaslt/tensilelite/client/src/host_validation/DataInitialization.cpp
  projects/hipblaslt/tensilelite/tests/DataInit_test.cpp
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/structured_sparsity.hpp
  shared/host-validation/include/roc/host_validation/validation.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/tests/CMakeLists.txt
  shared/host-validation/tests/host_validation_test.cpp
  shared/host-validation/tests/structured_sparsity_benchmark.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(host-validation): add tensor contraction reference
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/Reference.hpp
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/reference_common.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_contraction.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/include/roc/host_validation/validation.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/tests/host_validation_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): extract hipblaslt reference staging
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/HipblasltReferenceGemm.hpp
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
  projects/hipblaslt/clients/common/src/host_validation/HipblasltReferenceGemm.cpp
  projects/hipblaslt/clients/tests/src/host_validation_gtest.cpp
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/backends/blas.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/src/backends/blas.cpp
  shared/host-validation/src/backends/tiled.cpp
  shared/host-validation/tests/blas_backend_test.cpp
  shared/host-validation/tests/package/blas.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): expand operand and batch semantics
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/src/backends/tiled.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): remove generic contraction fallback
  projects/hipblaslt/clients/bench/src/client_groupedgemm_fixed_mk.cpp
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
  projects/hipblaslt/tensilelite/client/include/CMakeLists.txt
  projects/hipblaslt/tensilelite/client/include/TypedId.hpp
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/HostValidationBridge.hpp
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/Reference.hpp
  projects/hipblaslt/tensilelite/client/src/CMakeLists.txt
  projects/hipblaslt/tensilelite/client/src/TypedId.cpp
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/reference_common.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_contraction.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_epilogue.hpp
  shared/host-validation/include/roc/host_validation/validation.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/tests/host_validation_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(tensilelite): remove local tiled reference gemm
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): centralize cpu driver fills
  projects/hipblaslt/tensilelite/client/cpu_gemm_driver.cpp
  shared/host-validation/include/roc/host_validation/detail/data_generation.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): extract hipblaslt host initialization
  projects/hipblaslt/clients/common/include/CMakeLists.txt
  projects/hipblaslt/clients/common/include/hipBuffer.hpp
  projects/hipblaslt/clients/common/include/hipblaslt_random.hpp
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/HipblasltDataInitialization.hpp
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/Types.hpp
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/hipblaslt_init.hpp
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/hipblaslt_random.hpp
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/hipblaslt_vector.hpp
  projects/hipblaslt/clients/common/include/testing_auxiliary.hpp
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
  projects/hipblaslt/clients/common/include/testing_matmul_batch_offset.hpp
  projects/hipblaslt/clients/common/src/CMakeLists.txt
  projects/hipblaslt/clients/common/src/hipblaslt_init_device.cpp
  projects/hipblaslt/clients/common/src/host_validation/DataInitialization.cpp
  projects/hipblaslt/clients/common/src/host_validation/hipblaslt_random.cpp
  projects/hipblaslt/clients/tests/src/hipblaslt_gtest_ext_op.cpp
  projects/hipblaslt/clients/tests/src/host_validation_gtest.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/data_generation.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): own mx data generation
  .github/workflows/host-validation-ci.yml
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/clients/common/CMakeLists.txt
  projects/hipblaslt/clients/common/src/host_validation/mxDataGen.cpp
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/DataInitializationHelpers.hpp
  projects/hipblaslt/tensilelite/tests/DataInit_test.cpp
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/cmake/ROCHostValidationConfig.cmake.in
  shared/host-validation/include/roc/host_validation/mx.hpp
  shared/host-validation/python/CMakeLists.txt
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/src/mx.cpp
  shared/host-validation/tests/CMakeLists.txt
  shared/host-validation/tests/mx_test.cpp
  shared/host-validation/tests/package/CMakeLists.txt
  shared/host-validation/tests/package/mx.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): centralize host comparisons
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/Comparison.hpp
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/allclose.hpp
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/near.hpp
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/norm.hpp
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/ulp.hpp
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/unit.hpp
  projects/hipblaslt/clients/tests/src/host_validation_gtest.cpp
  projects/hipblaslt/clients/tests/src/ulp_gtest.cpp
  projects/hipblaslt/tensilelite/client/include/CMakeLists.txt
  projects/hipblaslt/tensilelite/client/include/ReferenceValidator.hpp
  projects/hipblaslt/tensilelite/client/include/ResultComparison.hpp
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/HostValidationBridge.hpp
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/Reference.hpp
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/ResultComparison.hpp
  projects/hipblaslt/tensilelite/client/src/ReferenceValidator.cpp
  projects/hipblaslt/tensilelite/tests/CMakeLists.txt
  projects/hipblaslt/tensilelite/tests/ResultComparison_test.cpp
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/comparison.hpp
  shared/host-validation/include/roc/host_validation/detail/comparison.hpp
  shared/host-validation/include/roc/host_validation/validation.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/tests/CMakeLists.txt
  shared/host-validation/tests/comparison_benchmark.cpp
  shared/host-validation/tests/host_validation_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): consolidate comparison boundary
  projects/hipblaslt/clients/common/include/CMakeLists.txt
  projects/hipblaslt/clients/common/include/allclose.hpp
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/HostComparison.hpp
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/allclose.hpp
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/near.hpp
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/norm.hpp
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/ulp.hpp
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/unit.hpp
  projects/hipblaslt/clients/common/include/testing_auxiliary.hpp
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
  projects/hipblaslt/clients/common/include/testing_matmul_batch_offset.hpp
  projects/hipblaslt/clients/common/include/ulp.hpp
  projects/hipblaslt/clients/common/include/unit.hpp
  projects/hipblaslt/clients/tests/data/known_bugs.yaml
  projects/hipblaslt/clients/tests/data/matmul_gtest.yaml
  projects/hipblaslt/clients/tests/src/hipblaslt_gtest_ext_op.cpp
  projects/hipblaslt/clients/tests/src/host_validation_gtest.cpp
  projects/hipblaslt/clients/tests/src/ulp_gtest.cpp
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/HostValidationBridge.hpp
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/Reference.hpp
  projects/hipblaslt/tensilelite/client/src/ReferenceValidator.cpp
  projects/hipblaslt/tensilelite/tests/AlmostEqual_test.cpp
  projects/hipblaslt/tensilelite/tests/CMakeLists.txt
  projects/hipblaslt/tensilelite/tests/HostValidationBridge_test.cpp
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/comparison.hpp
  shared/host-validation/include/roc/host_validation/detail/comparison_impl.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/tests/CMakeLists.txt
  shared/host-validation/tests/comparison_policy_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): extract tensile host initialization
  projects/hipblaslt/tensilelite/client/include/DataInitialization.hpp
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/ResultComparison.hpp
  projects/hipblaslt/tensilelite/client/src/ClientProblemFactory.cpp
  projects/hipblaslt/tensilelite/client/src/DataInitialization.cpp
  projects/hipblaslt/tensilelite/client/src/host_validation/DataInitialization.cpp
  projects/hipblaslt/tensilelite/tests/DataInit_test.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/data_generation.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): remove unused host test helpers
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/TestUtils.hpp
  projects/hipblaslt/tensilelite/tests/CMakeLists.txt
  projects/hipblaslt/tensilelite/tests/RangeLibrary_test.cpp
  projects/hipblaslt/tensilelite/tests/include/GEMMKernelTest.hpp
  projects/hipblaslt/tensilelite/tests/include/GEMMKernelTest_impl.hpp
  projects/hipblaslt/tensilelite/tests/include/RunGEMMKernelTest.hpp
  projects/hipblaslt/tensilelite/tests/include/RunGEMMKernelTest_impl.hpp
  projects/hipblaslt/tensilelite/tests/include/TestUtils.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(hipblaslt): separate reference C and D
  projects/hipblaslt/clients/common/include/hipBuffer.hpp
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/HipblasltReferenceGemm.hpp
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
  projects/hipblaslt/clients/common/src/host_validation/HipblasltReferenceGemm.cpp
  projects/hipblaslt/clients/tests/src/host_validation_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): introduce GEMM invocation API
  projects/hipblaslt/clients/common/src/host_validation/HipblasltReferenceGemm.cpp
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/gemm.hpp
  shared/host-validation/include/roc/host_validation/validation.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/tests/host_validation_test.cpp
  shared/host-validation/tests/package/validation.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation
