Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

rest API
  projects/miopen/vars/utils.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[dnn-benchmarking] Add MIOpen shape converter and DVC workload tracking
  projects/hipdnn/dockerfiles/Dockerfile.ubuntu24
  projects/hipdnn/tools/dnn-benchmarking/README.md
  projects/hipdnn/tools/dnn-benchmarking/Workloads/.gitignore
  projects/hipdnn/tools/dnn-benchmarking/Workloads/bnorm_backward.tar.gz.dvc
  projects/hipdnn/tools/dnn-benchmarking/Workloads/bnorm_fwd.tar.gz.dvc
  projects/hipdnn/tools/dnn-benchmarking/Workloads/conv_dgrad.tar.gz.dvc
  projects/hipdnn/tools/dnn-benchmarking/Workloads/conv_fwd.tar.gz.dvc
  projects/hipdnn/tools/dnn-benchmarking/Workloads/conv_wgrad.tar.gz.dvc
  projects/hipdnn/tools/dnn-benchmarking/graphs/sample_conv_fwd.json
  projects/hipdnn/tools/dnn-benchmarking/pyproject.toml
  projects/hipdnn/tools/dnn-benchmarking/setup.sh
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/tools/__init__.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/tools/convert_miopen_shapes.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/tools/__init__.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/tools/test_convert_miopen_shapes.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix cred
  projects/miopen/vars/utils.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

github app token
  projects/miopen/vars/utils.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Incorporate feedback from SME review
  projects/rocsparse/library/include/internal/generic/rocsparse_sparse_to_dense.h
  projects/rocsparse/library/include/internal/level3/rocsparse_csrsm.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocblas] Dockerfile: fetch latest tarball by default and option to fetch from local
  projects/rocblas/CLAUDE.md
  projects/rocblas/docker/Dockerfile.ubuntu24.fullbuild
  projects/rocblas/docker/Dockerfile.ubuntu24.prebuilt
  projects/rocblas/docker/README.md
  projects/rocblas/scripts/utilities/run_separate_tests.sh
  projects/rocblas/test_results_summary.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix missing sha
  projects/miopen/vars/utils.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

replace gitnotify and also clean up code.
  projects/miopen/vars/utils.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Disable Pack-GQA when bias is active
  projects/composablekernel/example/ck_tile/01_fmha/fmha_fwd_runner.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocfft.h] Clarify requirement for load/store callbacks w.r.t. to possible gather-scatter
  projects/rocfft/library/include/rocfft/rocfft.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

change to miopen shapes
  projects/hipdnn/tools/dnn-benchmarking/setup.sh
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/tools/convert_miopen_shapes.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/tools/convert_miopen_shapes/__init__.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/tools/convert_miopen_shapes/bnorm.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/tools/convert_miopen_shapes/cli.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/tools/convert_miopen_shapes/conv.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/tools/convert_miopen_shapes/parsing.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/tools/convert_miopen_shapes/strides.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/tools/convert_miopen_shapes/tensors.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add build URL
  projects/miopen/vars/utils.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

replace MathCI calls too
  projects/miopen/Jenkinsfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

get commit from scm var + replace build URL with stage URL
  projects/miopen/Jenkinsfile
  projects/miopen/vars/utils.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

removes extras conversions
  projects/hipdnn/tools/dnn-benchmarking/README.md
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/tools/convert_miopen_shapes/bnorm.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/tools/convert_miopen_shapes/cli.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/tools/convert_miopen_shapes/conv.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/tools/test_convert_miopen_shapes.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix: reviewer comments 2
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_PlaceholderMerge.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

updates hashes
  projects/hipdnn/tools/dnn-benchmarking/Workloads/bnorm_backward.tar.gz.dvc
  projects/hipdnn/tools/dnn-benchmarking/Workloads/bnorm_fwd.tar.gz.dvc
  projects/hipdnn/tools/dnn-benchmarking/Workloads/conv_dgrad.tar.gz.dvc
  projects/hipdnn/tools/dnn-benchmarking/Workloads/conv_fwd.tar.gz.dvc
  projects/hipdnn/tools/dnn-benchmarking/Workloads/conv_wgrad.tar.gz.dvc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

format
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/tools/convert_miopen_shapes/bnorm.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/tools/test_convert_miopen_shapes.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Adjust the size of Running Now table according to the max_parallel option
  projects/rocblas/scripts/utilities/run_tests/run_tests.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

get branch commit hash
  projects/miopen/Jenkinsfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Revert to change sha
  projects/miopen/Jenkinsfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Bump versions and prepare changelog for new dev cycle
  projects/hipsolver/CHANGELOG.md
  projects/hipsolver/CMakeLists.txt
  projects/hipsolver/bump_hipsolver_version.sh
  projects/hipsolver/library/CMakeLists.txt
  projects/rocsolver/CHANGELOG.md
  projects/rocsolver/CMakeLists.txt
  projects/rocsolver/bump_rocsolver_version.sh
  projects/rocsolver/library/CMakeLists.txt
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

multi fall back approach
  projects/miopen/Jenkinsfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

remove ghprbActualCommit plugin fallback
  projects/miopen/Jenkinsfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixes
  projects/hipblaslt/tensilelite/Tensile/BenchmarkProblems.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/flags/gfx942/test_use_cache.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

PICK ME: Add multiple caches to remove compilation from --use-cache reruns
  projects/hipblaslt/tensilelite/Tensile/BenchmarkProblems.py
  projects/hipblaslt/tensilelite/Tensile/ClientWriter.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix test
  projects/hipblaslt/tensilelite/Tensile/Tests/common/flags/gfx942/test_use_cache.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Address review feedback on multi-cache support
  projects/hipblaslt/tensilelite/Tensile/BenchmarkProblems.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/flags/gfx942/test_use_cache.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

remove unused fallback
  projects/miopen/Jenkinsfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove plugin config from arguments
  dnn-providers/fusilli-provider/src/fusilli_plugin.cpp
  dnn-providers/fusilli-provider/test/test_fusilli_plugin_api.cpp
  projects/hipdnn/backend/src/descriptors/ExecutionPlanDescriptor.cpp
  projects/hipdnn/backend/src/plugin/EnginePlugin.cpp
  projects/hipdnn/backend/src/plugin/EnginePlugin.hpp
  projects/hipdnn/backend/src/plugin/EnginePluginResourceManager.cpp
  projects/hipdnn/backend/src/plugin/EnginePluginResourceManager.hpp
  projects/hipdnn/backend/tests/TestEnginePluginResourceManager.cpp
  projects/hipdnn/backend/tests/descriptors/TestExecutionPlanDescriptor.cpp
  projects/hipdnn/backend/tests/descriptors/mocks/MockEnginePluginResourceManager.hpp
  projects/hipdnn/backend/tests/plugins/mocks/MockEnginePlugin.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/EnginePluginApi.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Apply rocJenks fix for commit info
  projects/miopen/Jenkinsfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fall back to origin_head when getGitHubCommitHash is null
  projects/miopen/Jenkinsfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Address review feedback on _APIAlgoIndex per-arch fix
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
  projects/hipblaslt/tensilelite/include/Tensile/MasterSolutionLibrary.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update known_bugs.yaml to include new bug for gfx942 aquavanjaram equality check
  projects/hipblaslt/tensilelite/Tensile/TensileLogic/known_bugs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove merge conflict added file
  projects/hipdnn/flatbuffers_sdk/include/hipdnn_flatbuffers_sdk/data_objects/v24_12_23/hipdnn_flatbuffers_sdk/data_objects/execution_plan_generated.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen] Replace legacy cba_infer gtest with migrated implementation.
  projects/miopen/test/gtest/cba_infer.cpp
  projects/miopen/test/gtest/cba_inference.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen] Convert cba inference ctest to GTest.
  projects/miopen/test/cba_inference.cpp
  projects/miopen/test/cbna_inference.cpp
  projects/miopen/test/gtest/cba.hpp
  projects/miopen/test/gtest/cba_inference.cpp
  projects/miopen/test/gtest/cbna_inference.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Revert unrelated changes
  projects/miopen/vars/utils.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt] Fix bug in TensorDescriptor
  projects/hipblaslt/tensilelite/include/Tensile/TensorDescriptor.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

(CM) Fix clang-tidy errors for example plugin when run on Windows.
  projects/hipdnn/cmake/scripts/quiet_install.cmake
  projects/hipdnn/samples/CMakeLists.txt
  projects/hipdnn/samples/example_engine_plugin/sample/ExampleProviderSample.cpp
  projects/hipdnn/samples/example_engine_plugin/src/ExampleProviderContainer.cpp
  projects/hipdnn/samples/example_engine_plugin/src/ExampleProviderContainer.hpp
  projects/hipdnn/samples/example_engine_plugin/src/ExampleProviderHandle.cpp
  projects/hipdnn/samples/example_engine_plugin/src/ExampleProviderHandle.hpp
  projects/hipdnn/samples/example_engine_plugin/src/hip/HipCompiledProgram.cpp
  projects/hipdnn/samples/example_engine_plugin/src/hip/HipCompiledProgram.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
