Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Remove AUDIO_SUPPORT guards from public API header
  projects/rpp/api/rppt_tensor_audio_augmentations.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke): add WaveScope PMC capture and make PerfJSON optional
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/README.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/__init__.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/aggregate.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/harness.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/occupancy.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/perfjson.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/report.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/schema.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tests/test_aggregate.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tests/test_cli.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tests/test_harness.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tests/test_occupancy.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tests/test_perfjson.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tests/test_report.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tests/test_schema.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tool/cli.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tool/selfcheck.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/run_manifest.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke): add WaveScope PMC capture and make PerfJSON optional
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/utilities/README.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/utilities/tools/wavescope/README.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/utilities/tools/wavescope/capture_wavescope_pmc.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/README.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/__init__.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/harness.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tests/test_artifacts.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tests/test_harness.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tests/test_wavescope_pmc.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tool/artifacts.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tool/cli.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tool/store.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix extract coarse mapping tests failing from OOB access.
  projects/rocalution/clients/include/testing_local_vector.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

give features_hash one implementation instead of two that agreed
  projects/hipdnn/plugin_sdk/tests/ingestor/uhd/TestUhdGenArtifact.cpp
  projects/hipdnn/tools/CMakeLists.txt
  projects/hipdnn/tools/uhd_gen/README.md
  projects/hipdnn/tools/uhd_gen/__main__.py
  projects/hipdnn/tools/uhd_gen/evaluate.py
  projects/hipdnn/tools/uhd_gen/features.py
  projects/hipdnn/tools/uhd_gen/tests/conftest.py
  projects/hipdnn/tools/uhd_gen/tests/test_constant_features.py
  projects/hipdnn/tools/uhd_gen/tests/test_derived_encoding.py
  projects/hipdnn/tools/uhd_gen/tests/test_features_hash.py
  projects/hipdnn/tools/uhd_gen/tests/test_immediate.py
  projects/hipdnn/tools/uhd_gen/tests/test_inline_features.py
  projects/hipdnn/tools/uhd_gen/tests/test_parquet_pipeline.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Add drop-in hipRTC kernel sources to the ingestor engine
  dnn-providers/hip-kernel-provider/src/compilation/IKernelCompiler.hpp
  dnn-providers/hip-kernel-provider/src/compilation/Program.cpp
  dnn-providers/hip-kernel-provider/src/compilation/Program.hpp
  dnn-providers/hip-kernel-provider/src/engines/hip_mlops_engine/HipMlopsKernelCompiler.hpp
  dnn-providers/hip-kernel-provider/src/engines/hip_mlops_engine/HipMlopsModuleCache.hpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/IngestorKernelCode.hpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/TestHiprtcFileKernelSource.cpp
  dnn-providers/hip-kernel-provider/src/tests/mocks/MockKernelCompiler.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/DescriptorLoader.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/Descriptors.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/KernelDefineSubstitution.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/KernelIngestorStateManager.hpp
  projects/hipdnn/plugin_sdk/tests/CMakeLists.txt
  projects/hipdnn/plugin_sdk/tests/ingestor/TestKernelDefineSubstitution.cpp
  projects/hipdnn/tools/IngestorGenerator/README.md
  projects/hipdnn/tools/IngestorGenerator/codegen/config_loader.py
  projects/hipdnn/tools/IngestorGenerator/codegen/generator.py
  projects/hipdnn/tools/IngestorGenerator/codegen/kernel_defines.py
  projects/hipdnn/tools/IngestorGenerator/codegen/models.py
  projects/hipdnn/tools/IngestorGenerator/configs/hiprtc_dropin.yaml
  projects/hipdnn/tools/IngestorGenerator/configs/scale_add_sources/ScaleAddCommon.h
  projects/hipdnn/tools/IngestorGenerator/configs/scale_add_sources/ScaleAddHiprtc.hip
  projects/hipdnn/tools/IngestorGenerator/templates/test_packs.cpp.j2
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/hiprtc_dropin/README.md
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/hiprtc_dropin/escaping_bundle.yaml
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/hiprtc_dropin/expression_value.yaml
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/hiprtc_dropin/float_field.yaml
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/hiprtc_dropin/missing_source_file.yaml
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/hiprtc_dropin/non_kernel_token.yaml
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/hiprtc_dropin/non_string_define.yaml
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/hiprtc_dropin/sources/Fixture.hip
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/hiprtc_dropin/undeclared_field.yaml
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/hiprtc_dropin/valid.yaml
  projects/hipdnn/tools/IngestorGenerator/tests/test_hiprtc_dropin.py
  projects/hipdnn/tools/IngestorGenerator/tests/test_kernel_defines.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Add drop-in hipRTC kernel sources to the ingestor engine
  dnn-providers/hip-kernel-provider/src/compilation/IKernelCompiler.hpp
  dnn-providers/hip-kernel-provider/src/compilation/Program.cpp
  dnn-providers/hip-kernel-provider/src/compilation/Program.hpp
  dnn-providers/hip-kernel-provider/src/engines/hip_mlops_engine/HipMlopsKernelCompiler.hpp
  dnn-providers/hip-kernel-provider/src/engines/hip_mlops_engine/HipMlopsModuleCache.hpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/IngestorKernelCode.hpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/TestHiprtcFileKernelSource.cpp
  dnn-providers/hip-kernel-provider/src/tests/mocks/MockKernelCompiler.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/DescriptorLoader.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/Descriptors.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/KernelDefineSubstitution.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/KernelIngestorStateManager.hpp
  projects/hipdnn/plugin_sdk/tests/CMakeLists.txt
  projects/hipdnn/plugin_sdk/tests/ingestor/TestKernelDefineSubstitution.cpp
  projects/hipdnn/tools/IngestorGenerator/README.md
  projects/hipdnn/tools/IngestorGenerator/codegen/config_loader.py
  projects/hipdnn/tools/IngestorGenerator/codegen/generator.py
  projects/hipdnn/tools/IngestorGenerator/codegen/kernel_defines.py
  projects/hipdnn/tools/IngestorGenerator/codegen/models.py
  projects/hipdnn/tools/IngestorGenerator/configs/hiprtc_dropin.yaml
  projects/hipdnn/tools/IngestorGenerator/configs/scale_add_sources/ScaleAddCommon.h
  projects/hipdnn/tools/IngestorGenerator/configs/scale_add_sources/ScaleAddHiprtc.hip
  projects/hipdnn/tools/IngestorGenerator/templates/test_packs.cpp.j2
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/hiprtc_dropin/README.md
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/hiprtc_dropin/escaping_bundle.yaml
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/hiprtc_dropin/expression_value.yaml
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/hiprtc_dropin/float_field.yaml
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/hiprtc_dropin/missing_source_file.yaml
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/hiprtc_dropin/non_kernel_token.yaml
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/hiprtc_dropin/non_string_define.yaml
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/hiprtc_dropin/sources/Fixture.hip
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/hiprtc_dropin/undeclared_field.yaml
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/hiprtc_dropin/valid.yaml
  projects/hipdnn/tools/IngestorGenerator/tests/test_hiprtc_dropin.py
  projects/hipdnn/tools/IngestorGenerator/tests/test_kernel_defines.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Document drop-in hipRTC kernels in the ingestor engine skill
  projects/hipdnn/tools/ai/skills/hipdnn-ingestor-engine/RUNBOOK.md
  projects/hipdnn/tools/ai/skills/hipdnn-ingestor-engine/SKILL.md
  projects/hipdnn/tools/ai/skills/hipdnn-ingestor-engine/hiprtc-mining.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Document drop-in hipRTC kernels in the ingestor engine skill
  projects/hipdnn/tools/ai/skills/hipdnn-ingestor-engine/RUNBOOK.md
  projects/hipdnn/tools/ai/skills/hipdnn-ingestor-engine/SKILL.md
  projects/hipdnn/tools/ai/skills/hipdnn-ingestor-engine/hiprtc-mining.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

gate training labels on a per-candidate correctness check
  projects/hipdnn/tools/bench/HipdnnBench.cpp
  projects/hipdnn/tools/bench/include/hipdnn_bench/NumericalValidation.hpp
  projects/hipdnn/tools/bench/tests/CMakeLists.txt
  projects/hipdnn/tools/bench/tests/TestNumericalValidation.cpp
  projects/hipdnn/tools/uhd_gen/generate.py
  projects/hipdnn/tools/uhd_gen/promote.py
  projects/hipdnn/tools/uhd_gen/tests/test_generate.py
  projects/hipdnn/tools/uhd_gen/tests/test_promote.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style: fix clang-format whitespace issues
  .gitmodules
  projects/rpp/src/include/tensor/hip_tensor_executors.hpp
  projects/rpp/src/include/tensor/host_tensor_executors.hpp
  projects/rpp/src/modules/handle_hip.cpp
  projects/rpp/src/modules/tensor/hip/kernel/spectrogram.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

revert changes in C samples
  projects/rocsolver/clients/samples/example_basic.c
  projects/rocsolver/clients/samples/example_batched.c
  projects/rocsolver/clients/samples/example_graph.c
  projects/rocsolver/clients/samples/example_hmm.c
  projects/rocsolver/clients/samples/example_strided_batched.c
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix data type to double for max_nan
  projects/rocsolver/clients/common/lapack/testing_syevx_heevx.hpp
  projects/rocsolver/clients/common/lapack/testing_sygvdx_hegvdx.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(ingestor): describe the packaging surface the provider actually has
  dnn-providers/hip-kernel-provider/descriptor-packaging/README.md
  dnn-providers/hip-kernel-provider/descriptor-packaging/examples/descriptors/README.md
  projects/hipdnn/tools/IngestorGenerator/README.md
  projects/hipdnn/tools/IngestorGenerator/templates/test_packs.cpp.j2
  projects/hipdnn/tools/ai/skills/hipdnn-ingestor-engine/RUNBOOK.md
  projects/hipdnn/tools/ai/skills/hipdnn-ingestor-engine/SKILL.md
  projects/hipdnn/tools/ai/skills/hipdnn-ingestor-engine/extend.md
  projects/hipdnn/tools/ai/skills/hipdnn-ingestor-engine/native-pack.md
  projects/hipdnn/tools/ai/skills/hipdnn-superbuild/SKILL.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

decide a ranking once per catalog, and bound what is cached
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/GenericPlanBuilder.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/KernelIngestorStateManager.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/MakeEngine.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/MatchContext.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/WinnerCacheFile.hpp
  projects/hipdnn/plugin_sdk/tests/ingestor/KernelIngestorTestFixtures.hpp
  projects/hipdnn/plugin_sdk/tests/ingestor/TestGenericPlanBuilder.cpp
  projects/hipdnn/plugin_sdk/tests/ingestor/TestKernelIngestorStateManager.cpp
  projects/hipdnn/plugin_sdk/tests/ingestor/TestMatchContext.cpp
  projects/hipdnn/plugin_sdk/tests/ingestor/TestWinnerCache.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

enforce the UHD load contract on the kernel path too
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/heuristics/uhd/AdapterFactory.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/heuristics/uhd/EnginePredictor.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/heuristics/uhd/adapters/CustomLibraryAdapter.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/KernelHeuristicFactory.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/MakeEngine.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/UhdKernelHeuristic.hpp
  projects/hipdnn/plugin_sdk/tests/heuristics/uhd/TestEnginePredictor.cpp
  projects/hipdnn/plugin_sdk/tests/heuristics/uhd/TestUhdAdapters.cpp
  projects/hipdnn/plugin_sdk/tests/ingestor/uhd/TestUhdGeneratedModel.cpp
  projects/hipdnn/plugin_sdk/tests/ingestor/uhd/TestUhdKernelHeuristic.cpp
  projects/hipdnn/tools/IngestorGenerator/ValidateDescriptors.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

supersede an evicted record rather than adopting the line it left
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/GenericPlanBuilder.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Added ability to specify output tensor dimensions in graph-studio
  projects/hipdnn/tools/graph-studio/CMakeLists.txt
  projects/hipdnn/tools/graph-studio/README.md
  projects/hipdnn/tools/graph-studio/electron/native/src/graph_translate.cpp
  projects/hipdnn/tools/graph-studio/src/components/Inspector.tsx
  projects/hipdnn/tools/graph-studio/src/components/OpNodeView.tsx
  projects/hipdnn/tools/graph-studio/src/graph/catalog.ts
  projects/hipdnn/tools/graph-studio/src/graph/flow.ts
  projects/hipdnn/tools/graph-studio/src/graph/model.ts
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Added ability to specify output tensor dimensions in graph-studio
  projects/hipdnn/tools/graph-studio/CMakeLists.txt
  projects/hipdnn/tools/graph-studio/README.md
  projects/hipdnn/tools/graph-studio/electron/native/src/graph_translate.cpp
  projects/hipdnn/tools/graph-studio/src/components/Inspector.tsx
  projects/hipdnn/tools/graph-studio/src/components/OpNodeView.tsx
  projects/hipdnn/tools/graph-studio/src/graph/catalog.ts
  projects/hipdnn/tools/graph-studio/src/graph/flow.ts
  projects/hipdnn/tools/graph-studio/src/graph/model.ts
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(rocke): declare dense attention shape params for all non-persistent bodies
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx950/attention_dense.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/golden/rocke_representative_ir_sha256.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

profile: kernel command did not emit valid PerfJSON timing (finite ms)
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/utilities/README.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/utilities/tools/wavescope/README.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/utilities/tools/wavescope/capture_wavescope_pmc.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add a skill for authoring hipRTC kernels from a hipDNN graph
  projects/hipdnn/tools/ai/skills/hipdnn-ingestor-engine/SKILL.md
  projects/hipdnn/tools/ai/skills/hipdnn-kernel-authoring/RUNBOOK.md
  projects/hipdnn/tools/ai/skills/hipdnn-kernel-authoring/SKILL.md
  projects/hipdnn/tools/ai/skills/hipdnn-kernel-authoring/agents/openai.yaml
  projects/hipdnn/tools/ai/skills/hipdnn-kernel-authoring/device-envelope.md
  projects/hipdnn/tools/ai/skills/hipdnn-kernel-authoring/graph-analysis.md
  projects/hipdnn/tools/ai/skills/hipdnn-kernel-authoring/harness.md
  projects/hipdnn/tools/ai/skills/hipdnn-kernel-authoring/prior-art.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add a skill for authoring hipRTC kernels from a hipDNN graph
  projects/hipdnn/tools/ai/skills/hipdnn-ingestor-engine/SKILL.md
  projects/hipdnn/tools/ai/skills/hipdnn-kernel-authoring/RUNBOOK.md
  projects/hipdnn/tools/ai/skills/hipdnn-kernel-authoring/SKILL.md
  projects/hipdnn/tools/ai/skills/hipdnn-kernel-authoring/agents/openai.yaml
  projects/hipdnn/tools/ai/skills/hipdnn-kernel-authoring/device-envelope.md
  projects/hipdnn/tools/ai/skills/hipdnn-kernel-authoring/graph-analysis.md
  projects/hipdnn/tools/ai/skills/hipdnn-kernel-authoring/harness.md
  projects/hipdnn/tools/ai/skills/hipdnn-kernel-authoring/prior-art.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(rocsparse): Remove the rocBLAS dependency from rocSPARSE
  projects/rocsparse/CHANGELOG.md
  projects/rocsparse/CMakeLists.txt
  projects/rocsparse/README.md
  projects/rocsparse/clients/CMakeLists.txt
  projects/rocsparse/clients/include/testing_sddmm_dispatch.hpp
  projects/rocsparse/clients/tests/CMakeLists.txt
  projects/rocsparse/clients/unittests/CMakeLists.txt
  projects/rocsparse/library/CMakeLists.txt
  projects/rocsparse/library/include/rocsparse-types.h
  projects/rocsparse/library/src/CMakeLists.txt
  projects/rocsparse/library/src/common/rocsparse_blas.cpp
  projects/rocsparse/library/src/common/rocsparse_blas_rocblas.cpp
  projects/rocsparse/library/src/common/rocsparse_blas_rocblas.hpp
  projects/rocsparse/library/src/common/rocsparse_handle.cpp
  projects/rocsparse/library/src/include/rocsparse_blas.hpp
  projects/rocsparse/library/src/include/rocsparse_handle.hpp
  projects/rocsparse/library/src/level3/rocsparse_sddmm.cpp
  projects/rocsparse/library/src/level3/rocsparse_sddmm_coo.cpp
  projects/rocsparse/library/src/level3/rocsparse_sddmm_coo_aos.cpp
  projects/rocsparse/library/src/level3/rocsparse_sddmm_coox_kernel.hpp
  projects/rocsparse/library/src/level3/rocsparse_sddmm_csc.cpp
  projects/rocsparse/library/src/level3/rocsparse_sddmm_csr.cpp
  projects/rocsparse/library/src/level3/rocsparse_sddmm_csx_kernel.hpp
  projects/rocsparse/library/src/level3/rocsparse_sddmm_ell.cpp
  projects/rocsparse/library/src/level3/rocsparse_sddmm_ell_kernel.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update CHANGELOG.md
  projects/rocsparse/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): release stall gates from the host
  projects/hipdnn/backend/src/descriptors/ProfilingControlDescriptor.cpp
  projects/hipdnn/backend/src/descriptors/ProfilingControlDescriptor.hpp
  projects/hipdnn/backend/tests/descriptors/TestProfilingControlDescriptor.cpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/StallGate.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/BenchmarkPlan.hpp
  projects/hipdnn/python/frontend_bindings/src/hip_bindings.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

address a kernel by any metadata field, not only an integer one
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/GenericPlanBuilder.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/KernelIngestorStateManager.hpp
  projects/hipdnn/plugin_sdk/tests/ingestor/TestGenericPlanBuilder.cpp
  projects/hipdnn/tools/uhd_gen/addressing.py
  projects/hipdnn/tools/uhd_gen/generate.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): declare the specialization contract on the hip test descriptors
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/test_descriptors/integration/pointwise/pointwise_add.kdp.json
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/test_descriptors/integration/pointwise/pointwise_mul.kdp.json
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/test_descriptors/integration/pointwise/pointwise_sub.kdp.json
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/test_descriptors/shared/conv_fwd/conv_fwd.kdp.json
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/test_descriptors/shared/conv_fwd/conv_fwd_f16_block64.ukd.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke/conv): K-outer transpose load on gfx1250 + documentation (#11762)
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/grouped_convolution.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/test_grouped_conv_wgrad_dispatch.py
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/include/rocke/instance_conv_implicit_gemm_internal.h
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/include/rocke/instance_conv_implicit_gemm_wgrad.h
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/instances/common/conv_implicit_gemm_conv_compute_phase.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/instances/common/conv_implicit_gemm_dgrad.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/instances/common/conv_implicit_gemm_wgrad.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/instances/convolution.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/optimization_runbook.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/utilities/skills/lds-optimization-rocke.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/benchmark_implicit_gemm_conv.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/conv_kouter/gfx1250_transpose_read_case_study.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx950/conv_dgrad/dgrad_lds_layout_case_study.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx950/conv_wgrad/wgrad_lds_layout_case_study.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/helpers/__init__.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/helpers/layouts.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/README_conv_implicit_gemm_dgrad.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/README_conv_implicit_gemm_wgrad.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/conv_implicit_gemm_dgrad.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/conv_implicit_gemm_wgrad.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/runtime/runtime_coexistence.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/parity/conv_implicit_gemm_dgrad_emit.c
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/parity/conv_implicit_gemm_dgrad_emit.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/parity/conv_implicit_gemm_wgrad_emit.c
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/parity/conv_implicit_gemm_wgrad_emit.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/test_conv_dgrad_correctness.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/test_conv_wgrad_correctness.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/test_rocke.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Removing non-sense stream creation I introduced.
  projects/rocsparse/clients/unittests/unit_test_host_auxiliary.cpp
  projects/rocsparse/library/src/common/rocsparse_handle.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(clients): use hipsolver_timer for GPU benchmark timing
  projects/hipsolver/clients/include/hipsolver_timer.hpp
  projects/hipsolver/clients/include/testing_csrlsvchol.hpp
  projects/hipsolver/clients/include/testing_csrlsvqr.hpp
  projects/hipsolver/clients/include/testing_gebrd.hpp
  projects/hipsolver/clients/include/testing_geev.hpp
  projects/hipsolver/clients/include/testing_gels.hpp
  projects/hipsolver/clients/include/testing_geqrf.hpp
  projects/hipsolver/clients/include/testing_gesv.hpp
  projects/hipsolver/clients/include/testing_gesvd.hpp
  projects/hipsolver/clients/include/testing_gesvda.hpp
  projects/hipsolver/clients/include/testing_gesvdj.hpp
  projects/hipsolver/clients/include/testing_getrf.hpp
  projects/hipsolver/clients/include/testing_getrs.hpp
  projects/hipsolver/clients/include/testing_larft.hpp
  projects/hipsolver/clients/include/testing_orgbr_ungbr.hpp
  projects/hipsolver/clients/include/testing_orgqr_ungqr.hpp
  projects/hipsolver/clients/include/testing_orgtr_ungtr.hpp
  projects/hipsolver/clients/include/testing_ormqr_unmqr.hpp
  projects/hipsolver/clients/include/testing_ormtr_unmtr.hpp
  projects/hipsolver/clients/include/testing_potrf.hpp
  projects/hipsolver/clients/include/testing_potri.hpp
  projects/hipsolver/clients/include/testing_potrs.hpp
  projects/hipsolver/clients/include/testing_syev_heev.hpp
  projects/hipsolver/clients/include/testing_syevd_heevd.hpp
  projects/hipsolver/clients/include/testing_syevdx_heevdx.hpp
  projects/hipsolver/clients/include/testing_syevj_heevj.hpp
  projects/hipsolver/clients/include/testing_sygvd_hegvd.hpp
  projects/hipsolver/clients/include/testing_sygvdx_hegvdx.hpp
  projects/hipsolver/clients/include/testing_sygvj_hegvj.hpp
  projects/hipsolver/clients/include/testing_sytrd_hetrd.hpp
  projects/hipsolver/clients/include/testing_sytrf.hpp
  projects/hipsolver/clients/include/testing_sytrs.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

implemented kernel tuner for run length encode
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_run_length_encode.hpp
  projects/rocprim/tuning/confgen/templates/device_run_length_encode.h.jinja2
  projects/rocprim/tuning/run_tuning.py
  projects/rocprim/tuning/tuner/templates/device_run_length_encode.cpp.jinja2
  projects/rocprim/tuning/tuner/tuning_device_run_length_encode.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci(rocjitsu): wire tensilelite into multi-arch CI (gfx125X+gfx94X); track rocm-systems develop for latest rocjitsu
  .github/workflows/therock-multi-arch-ci.yml
  .github/workflows/therock-rocjitsu-tensilelite-linux.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add "Verify" and "Implement" panels
  projects/hipdnn/tools/graph-studio/electron/main.cjs
  projects/hipdnn/tools/graph-studio/electron/native/src/engine.cpp
  projects/hipdnn/tools/graph-studio/electron/preload.cjs
  projects/hipdnn/tools/graph-studio/src/App.tsx
  projects/hipdnn/tools/graph-studio/src/command/electron.ts
  projects/hipdnn/tools/graph-studio/src/command/index.ts
  projects/hipdnn/tools/graph-studio/src/command/types.ts
  projects/hipdnn/tools/graph-studio/src/command/web.ts
  projects/hipdnn/tools/graph-studio/src/components/CommandPanel.tsx
  projects/hipdnn/tools/graph-studio/src/components/MainTabs.tsx
  projects/hipdnn/tools/graph-studio/src/engine/electron.ts
  projects/hipdnn/tools/graph-studio/src/engine/index.ts
  projects/hipdnn/tools/graph-studio/src/engine/types.ts
  projects/hipdnn/tools/graph-studio/src/engine/web.ts
  projects/hipdnn/tools/graph-studio/src/styles.css
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add "Verify" and "Implement" panels
  projects/hipdnn/tools/graph-studio/electron/main.cjs
  projects/hipdnn/tools/graph-studio/electron/native/src/engine.cpp
  projects/hipdnn/tools/graph-studio/electron/preload.cjs
  projects/hipdnn/tools/graph-studio/src/App.tsx
  projects/hipdnn/tools/graph-studio/src/command/electron.ts
  projects/hipdnn/tools/graph-studio/src/command/index.ts
  projects/hipdnn/tools/graph-studio/src/command/types.ts
  projects/hipdnn/tools/graph-studio/src/command/web.ts
  projects/hipdnn/tools/graph-studio/src/components/CommandPanel.tsx
  projects/hipdnn/tools/graph-studio/src/components/MainTabs.tsx
  projects/hipdnn/tools/graph-studio/src/engine/electron.ts
  projects/hipdnn/tools/graph-studio/src/engine/index.ts
  projects/hipdnn/tools/graph-studio/src/engine/types.ts
  projects/hipdnn/tools/graph-studio/src/engine/web.ts
  projects/hipdnn/tools/graph-studio/src/styles.css
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Correct to __gfx1250_strict__
  projects/rocprim/rocprim/include/rocprim/config.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/lookback_scan_state.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipdnn): keep Environment.md scoped to configuration
  projects/hipdnn/docs/Environment.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fixes
  projects/hipsolver/clients/include/testing_csrlsvqr.hpp
  projects/hipsolver/clients/include/testing_gebrd.hpp
  projects/hipsolver/clients/include/testing_geev.hpp
  projects/hipsolver/clients/include/testing_gels.hpp
  projects/hipsolver/clients/include/testing_geqrf.hpp
  projects/hipsolver/clients/include/testing_gesv.hpp
  projects/hipsolver/clients/include/testing_gesvd.hpp
  projects/hipsolver/clients/include/testing_gesvda.hpp
  projects/hipsolver/clients/include/testing_gesvdj.hpp
  projects/hipsolver/clients/include/testing_getrf.hpp
  projects/hipsolver/clients/include/testing_getrs.hpp
  projects/hipsolver/clients/include/testing_larft.hpp
  projects/hipsolver/clients/include/testing_orgbr_ungbr.hpp
  projects/hipsolver/clients/include/testing_orgqr_ungqr.hpp
  projects/hipsolver/clients/include/testing_orgtr_ungtr.hpp
  projects/hipsolver/clients/include/testing_ormqr_unmqr.hpp
  projects/hipsolver/clients/include/testing_ormtr_unmtr.hpp
  projects/hipsolver/clients/include/testing_potrf.hpp
  projects/hipsolver/clients/include/testing_potri.hpp
  projects/hipsolver/clients/include/testing_potrs.hpp
  projects/hipsolver/clients/include/testing_syev_heev.hpp
  projects/hipsolver/clients/include/testing_syevd_heevd.hpp
  projects/hipsolver/clients/include/testing_syevdx_heevdx.hpp
  projects/hipsolver/clients/include/testing_syevj_heevj.hpp
  projects/hipsolver/clients/include/testing_sygvd_hegvd.hpp
  projects/hipsolver/clients/include/testing_sygvdx_hegvdx.hpp
  projects/hipsolver/clients/include/testing_sygvj_hegvj.hpp
  projects/hipsolver/clients/include/testing_sytrd_hetrd.hpp
  projects/hipsolver/clients/include/testing_sytrf.hpp
  projects/hipsolver/clients/include/testing_sytrs.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(hipdnn): bind StallGate directly in Python
  projects/hipdnn/python/frontend_bindings/src/hip_bindings.cpp
  projects/hipdnn/python/frontend_wheel_package/tests/test_hip_event_bindings.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Address Copilot review: lazy audio scratch allocation and fixes
  projects/rpp/CHANGELOG.md
  projects/rpp/CMakeLists.txt
  projects/rpp/README.md
  projects/rpp/api/rppdefs.h
  projects/rpp/docs/install/rpp-build.rst
  projects/rpp/src/include/common/handle.hpp
  projects/rpp/src/modules/handle_api.cpp
  projects/rpp/src/modules/handle_hip.cpp
  projects/rpp/src/modules/tensor/hip/kernel/non_silent_region_detection.cpp
  projects/rpp/src/modules/tensor/hip/kernel/spectrogram.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
