Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(rocke): default MXFP8 and MXFP6 examples to both encodings
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/arch/data.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/ir/ir_tile.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/include/rocke/scaled_wmma_internal.h
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/arch/data/arch_specs.json
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/scaled_wmma.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/FP6.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/README.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/block_scaled_gemm_verify.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/mxfp6_gemm.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/mxfp8_gemm.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/SUPPORT_MATRIX.md
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/gfx1250_mxfp8_llvm23.json
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_gfx1250_mxfp6_example.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_gfx1250_mxfp8_example.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/parity/gfx1250_lowering_emit.c
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/parity/gfx1250_lowering_emit.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/test_gfx1250_mxfp8_numeric.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/test_gfx1250_mxfp_examples.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(rocke): default MXFP8 and MXFP6 examples to both encodings
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/FP6.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/README.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/block_scaled_gemm_verify.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/mxfp6_gemm.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/mxfp8_gemm.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/gfx1250_mxfp8_llvm23.json
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_gfx1250_mxfp6_example.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_gfx1250_mxfp8_example.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/test_gfx1250_mxfp8_numeric.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/test_gfx1250_mxfp_examples.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke): default MXFP8 and MXFP6 examples to both encodings
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/FP6.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/README.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/block_scaled_gemm_verify.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/mxfp6_gemm.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/mxfp8_gemm.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/gfx1250_mxfp8_llvm23.json
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_gfx1250_mxfp6_example.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_gfx1250_mxfp8_example.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/test_gfx1250_mxfp8_numeric.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/test_gfx1250_mxfp_examples.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke): default MXFP8 and MXFP6 examples to both encodings
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/FP6.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/README.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/block_scaled_gemm_verify.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/mxfp6_gemm.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/mxfp8_gemm.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/gfx1250_mxfp8_llvm23.json
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_gfx1250_mxfp6_example.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_gfx1250_mxfp8_example.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/test_gfx1250_mxfp8_numeric.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/test_gfx1250_mxfp_examples.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke): support both FP8 and BF8 in focused MXFP8 example
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/arch/data.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/ir/ir_tile.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/include/rocke/wmma_scale_internal.h
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/arch/data/arch_specs.json
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/arch/target.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/arch/wmma_scale.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/ir.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/lower_hip.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/README.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/block_scaled_gemm_verify.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/mxfp8_gemm.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/gfx1250/block_scaled_gemm.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/gfx1250_mxfp8_llvm23.json
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_gfx1250_mxfp8_example.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_gfx1250_scaled_wmma.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/parity/gfx1250_lowering_emit.c
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/parity/gfx1250_lowering_emit.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/test_gfx1250_mxfp8_numeric.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/test_gfx1250_mxfp_examples.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

integration: point the merged engine packs at the moved UHD headers
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/FlydslAttentionNative.cpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/FlydslNative.cpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/FlydslRmsNormNative.cpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/Gfx942AttentionDenseNative.cpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/Gfx950AttentionDenseNative.cpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/Gfx950AttentionTiledNative.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/TestGfx942AttentionDenseMatchers.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/TestGfx950AttentionDenseMatchers.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/TestGfx950AttentionTiledMatchers.cpp
  projects/hipdnn/tools/IngestorGenerator/ValidateDescriptors.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update smart pointers to account for ragged tensors
  dnn-providers/integration-tests/src/harness/GoldenReferenceCpu.hpp
  dnn-providers/integration-tests/src/harness/bundle/IntegrationTestBundle.hpp
  dnn-providers/integration-tests/src/harness/bundle/OutputComparison.hpp
  dnn-providers/integration-tests/src/harness/gpu-graph-executor/GpuReferenceGraphExecutor.hpp
  dnn-providers/integration-tests/src/harness/input-init/FillInputs.hpp
  dnn-providers/integration-tests/src/integration-tests/sdpa/IntegrationGpuSdpaBackward.cpp
  dnn-providers/integration-tests/tests/TestVerificationPaths.cpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/LoadGraphAndTensors.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/CpuReferenceGraphExecutor.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/GraphTensorBundle.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/detail/FlatbufferTensorAttributesUtils.hpp
  projects/hipdnn/test_sdk/tests/utilities/TestLoadGraphAndTensors.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update script to accomodate ragged tensors and fix seq-lens
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/generate_golden_data.sh
  dnn-providers/integration-tests/reference-data-scripts/generate_sdpa_fwd_golden.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(MIOpen): fix WRW naive conv accuracy on large-reduction-depth shapes
  projects/miopen/src/kernels/gpu_reference_kernel/naive_conv.hpp
  projects/miopen/src/kernels/gpu_reference_kernel/naive_conv_wrw.cpp
  projects/miopen/src/solver/conv/conv_direct_naive_conv.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Moved info from device to host
  projects/hipsolver/clients/include/testing_getrs.hpp
  projects/hipsolver/library/include/internal/hipsolver-functions.h
  projects/hipsolver/library/src/amd_detail/hipsolver.cpp
  projects/hipsolver/library/src/nvidia_detail/hipsolver.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(miopen): adopt 77-solver rank model (59-feature, +gfx1250)
  projects/miopen/src/conv/heuristics/lgbm_pick.cpp
  projects/miopen/src/include/miopen/conv/heuristics/lgbm_metadata.hpp
  projects/miopen/src/kernels/lgbm_model_meta.json
  projects/miopen/src/kernels/lgbm_rank_golden.json
  projects/miopen/src/kernels/lgbm_rank_model.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

New bundles and fixes for running
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_ragged/Small/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_ragged/Small/Small.meta.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_ragged/Small/Small.tensors.dvc
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_ragged_group/Small/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_ragged_group/Small/Small.meta.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_ragged_group/Small/Small.tensors.dvc
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_nomask_ragged/Small/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_nomask_ragged/Small/Small.meta.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_nomask_ragged/Small/Small.tensors.dvc
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_nomask_ragged_group/Small/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_nomask_ragged_group/Small/Small.meta.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_nomask_ragged_group/Small/Small.tensors.dvc
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/generate_golden_data.sh
  dnn-providers/integration-tests/reference-data-scripts/generate_sdpa_fwd_golden.py
  dnn-providers/integration-tests/src/harness/bundle/IntegrationTestBundle.hpp
  dnn-providers/integration-tests/src/integration-tests/sdpa/IntegrationGoldenRefSdpaFwdInference.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add check for batch_count
  projects/hipsolver/library/src/amd_detail/hipsolver.cpp
  projects/hipsolver/library/src/nvidia_detail/hipsolver.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke): preserve unsupported WMMA diagnostics after descriptor refactor
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/isa/backend.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_gfx1250_scaled_wmma.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke): accept canonical eight-bit names in mixed GEMM example
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/README.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/mixed_scaled_gemm.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/test_gfx1250_mxfp_examples.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke): accept canonical eight-bit names in scale example
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/scale_formats_gemm.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/test_gfx1250_scale_formats_example.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

integration: migrate the merged packs off the legacy heuristic pointer
  dnn-providers/hip-kernel-provider/descriptor-packaging/examples/descriptors/rocKE/gfx942_attention_dense/gfx942_attention_dense.ued.json
  dnn-providers/hip-kernel-provider/descriptor-packaging/examples/descriptors/rocKE/gfx942_tiled_attention/tiled_attention.ued.json
  dnn-providers/hip-kernel-provider/descriptor-packaging/examples/descriptors/rocKE/gfx950_attention_dense/gfx950_attention_dense.ued.json
  dnn-providers/hip-kernel-provider/descriptor-packaging/examples/descriptors/rocKE/gfx950_attention_tiled/gfx950_attention_tiled.ued.json
  dnn-providers/hip-kernel-provider/descriptor-packaging/tests/fixtures/desk_check/attention.ued.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hip-kernel-provider): select SDPA recipes by GPU target
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/RockeSdpaNative.cpp
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/fixtures/rocke_recipe/README.md
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/fixtures/rocke_recipe/TARGET_AGNOSTIC_PLAN.md
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/fixtures/rocke_recipe/authoring-config.txt.in
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/fixtures/rocke_recipe/descriptors/sdpa.kdp.json.in
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/fixtures/rocke_recipe/produce_sdpa.py
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/fixtures/rocke_recipe/test_frontend_sdpa.cpp
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/fixtures/rocke_recipe/test_native_sdpa.cpp
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/fixtures/rocke_recipe/test_producer.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

ck_tile gemm: add A-async/B-TDM hybrid GEMM pipeline (Task 9)
  projects/composablekernel/docs_gfx1250/GFX1250_WRW_REMAINING_TASKS.md
  projects/composablekernel/include/ck_tile/ops/gemm.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/pipeline/gemm_pipeline_ag_bg_cr_comp_async_tdm_hybrid.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/pipeline/gemm_pipeline_ag_bg_cr_comp_async_tdm_hybrid_policy.hpp
  projects/composablekernel/test/ck_tile/gemm/CMakeLists.txt
  projects/composablekernel/test/ck_tile/gemm/test_gemm_pipeline_comp_async_tdm_hybrid_wmma.cpp
  projects/composablekernel/test/ck_tile/gemm/test_gemm_pipeline_kernel_types.hpp
  projects/composablekernel/test/ck_tile/gemm/test_gemm_pipeline_util.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

addressed comments
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx950/attention/prefill/parity_unified_attention.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/attention_unified.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_per_engine_spec_fns.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/parity/gfx950_attention_tiled_2d_emit.c
  dnn-providers/hip-kernel-provider/rocke/library/tests/parity/gfx950_attention_tiled_2d_emit.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_selector_parity.py
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/instances/common/attention_unified_selectors.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/instances/gfx950/attention_tiled_2d_public_entry_glue.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/rocke_ir_parity_harness.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

linting
  dnn-providers/hip-kernel-provider/rocke/library/builders/common/attention_spec_builder.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocke/attention): widen fp16 sink prefill gates on gfx950
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx950/attention/prefill/gpt_oss_sink_prefill_shapes.json
  dnn-providers/hip-kernel-provider/rocke/library/builders/common/attention_spec_builder.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx950/attention/prefill/parity_unified_attention.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/attention_unified.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_builds.py
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/instances/common/attention_unified_selectors.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): honor gfx1250 per-revision skip marks (skip-gfx1250v0)
  projects/hipblaslt/tensilelite/Tensile/Tests/common/comm/gfx950/fused_a2a.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/config_helpers.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_mxf4gemm_tdm_pap.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_mxf4gemm_tdm_ext.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_mxf4gemm_tdm_pap_ext.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/test_config_helpers.py
  projects/hipblaslt/tensilelite/pytest.ini
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[ck_tile] Add codegen test for receipt-4 deterministic fmha_bwd instances
  projects/composablekernel/test/ck_tile/fmha/CMakeLists.txt
  projects/composablekernel/test/ck_tile/fmha/test_fmha_bwd_receipt4_deterministic.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

reblessed
  dnn-providers/hip-kernel-provider/rocke/platform/tests/golden/rocke_representative_ir_sha256.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

addressed final comments and added golden test coverage
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx950/attention/prefill/parity_unified_attention.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/attention_unified.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/parity/gfx950_attention_tiled_2d_emit.c
  dnn-providers/hip-kernel-provider/rocke/library/tests/parity/gfx950_attention_tiled_2d_emit.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/golden/rocke_representative_ir_sha256.json
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/rocke_ir_parity_harness.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocsparse): widen the gtsv interleaved batch row offsets to 64 bit (AISPARSE-692)
  projects/rocsparse/CHANGELOG.md
  projects/rocsparse/clients/tests/test_gtsv_interleaved_batch.yaml
  projects/rocsparse/library/src/precond/gtsv/gtsv_interleaved_batch_device.h
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocsparse): guard zero batch counts and fix grid rounding overflow (AISPARSE-693)
  projects/rocsparse/CHANGELOG.md
  projects/rocsparse/library/src/precond/csric0/rocsparse_csric0.cpp
  projects/rocsparse/library/src/precond/csrildlt0/rocsparse_csrildlt0.cpp
  projects/rocsparse/library/src/precond/itilu0/rocsparse_csritilu0_async_inplace.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke): normalize low-bit dtype names before catalog and CLI selection
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/arch/data.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/arch/target.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/README.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/block_scaled_gemm_verify.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/mxfp8_gemm.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/gfx1250/block_scaled_gemm.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/future_intrinsic_lowering.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_gfx1250_mxfp8_example.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_lowbit_dtype_aliases.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(rocke): normalize low-bit dtype names before catalog and CLI selection
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/arch/data.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/arch/target.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/README.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/block_scaled_gemm_verify.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/mxfp6_gemm.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/mxfp8_gemm.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/gfx1250/block_scaled_gemm.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/future_intrinsic_lowering.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_gfx1250_fp6_scaled_wmma.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_gfx1250_mxfp6_example.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_gfx1250_mxfp8_example.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_lowbit_dtype_aliases.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(rocsparse): stride the flattened csrsm solve grid (AISPARSE-669)
  projects/rocsparse/library/src/level3/csrsm_device.h
  projects/rocsparse/library/src/level3/rocsparse_csrsm_solve_impl.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocsparse): cover the csrsm flattened grid-stride loop (AISPARSE-669)
  projects/rocsparse/clients/unittests/CMakeLists.txt
  projects/rocsparse/clients/unittests/unit_test_internal_level3_csrsm.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocsparse): bounds check the BSR row map and clamp grid.x (AISPARSE-694)
  projects/rocsparse/CHANGELOG.md
  projects/rocsparse/clients/unittests/CMakeLists.txt
  projects/rocsparse/clients/unittests/unit_test_internal_grid_x.cpp
  projects/rocsparse/library/src/include/rocsparse_grid_x.hpp
  projects/rocsparse/library/src/precond/bsric0/rocsparse_bsric0_kernel_17_32.cpp
  projects/rocsparse/library/src/precond/bsric0/rocsparse_bsric0_kernel_2_8.cpp
  projects/rocsparse/library/src/precond/bsric0/rocsparse_bsric0_kernel_2_8_unrolled.cpp
  projects/rocsparse/library/src/precond/bsric0/rocsparse_bsric0_kernel_9_16.cpp
  projects/rocsparse/library/src/precond/bsric0/rocsparse_bsric0_kernel_general.cpp
  projects/rocsparse/library/src/precond/bsrilu0/rocsparse_bsrilu0_kernel_2_8.cpp
  projects/rocsparse/library/src/precond/bsrilu0/rocsparse_bsrilu0_kernel_33_64.cpp
  projects/rocsparse/library/src/precond/bsrilu0/rocsparse_bsrilu0_kernel_9_32.cpp
  projects/rocsparse/library/src/precond/bsrilu0/rocsparse_bsrilu0_kernel_general.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocsparse): clamp the bsrxmv compute grids and grid-stride the block rows (AISPARSE-702)
  projects/rocsparse/clients/unittests/CMakeLists.txt
  projects/rocsparse/clients/unittests/unit_test_internal_level2_bsrxmv_grid.cpp
  projects/rocsparse/library/src/level2/rocsparse_bsrxmv_spzl_16x16.cpp
  projects/rocsparse/library/src/level2/rocsparse_bsrxmv_spzl_17_32.cpp
  projects/rocsparse/library/src/level2/rocsparse_bsrxmv_spzl_5x5.cpp
  projects/rocsparse/library/src/level2/rocsparse_bsrxmv_spzl_8x8.cpp
  projects/rocsparse/library/src/level2/rocsparse_bsrxmv_spzl_general.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): refuse launches whose grid does not fit in 32 bits
  projects/hipblaslt/tensilelite/src/hip/HipSolutionAdapter.cpp
  projects/hipblaslt/tensilelite/tests/CMakeLists.txt
  projects/hipblaslt/tensilelite/tests/LaunchDimGuard_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): bound Stream-K tile grids by the 32-bit work-item limit
  projects/hipblaslt/tensilelite/Tensile/Contractions.py
  projects/hipblaslt/tensilelite/include/Tensile/ContractionProblemPredicates.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Serialization/ContractionPredicates.hpp
  projects/hipblaslt/tensilelite/tests/Predicates_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocsparse): form dense element counts in 64 bits (AISPARSE-699)
  projects/rocsparse/clients/unittests/CMakeLists.txt
  projects/rocsparse/clients/unittests/unit_test_grid_clamp.hpp
  projects/rocsparse/clients/unittests/unit_test_internal_common_dense_grids.cpp
  projects/rocsparse/library/src/common/rocsparse_common.cpp
  projects/rocsparse/library/src/level3/rocsparse_gemmi.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocke): align independent FP6 native parity cases
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/parity/gfx1250_lowering_emit.c
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): format debugEval's threshold from the constant
  projects/hipblaslt/tensilelite/include/Tensile/ContractionProblemPredicates.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocsparse): index blocks in 64 bits in the common launches (AISPARSE-700)
  projects/rocsparse/clients/unittests/CMakeLists.txt
  projects/rocsparse/clients/unittests/unit_test_internal_common_large_grids.cpp
  projects/rocsparse/library/src/common/rocsparse_dense_transpose.cpp
  projects/rocsparse/library/src/common/rocsparse_dense_transpose_back.cpp
  projects/rocsparse/library/src/common/rocsparse_singularity.cpp
  projects/rocsparse/library/src/common/rocsparse_valset.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
