Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

Enable the Synchronizer check only where the buffer is used
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gsu/gsu_mbsk.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_mxf4_force_dp_only.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_mxf4_force_dp_only_cluster_multicast_ext.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/sk_mx32f4_force_dp_only.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/sk_sgemm_force_dp_only.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Cover the Synchronizer check with unit tests
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/ClientConfigIni/test_client_config_ini_char.py
  projects/hipblaslt/tensilelite/client/include/SynchronizerValidator.hpp
  projects/hipblaslt/tensilelite/client/src/SynchronizerValidator.cpp
  projects/hipblaslt/tensilelite/tests/CMakeLists.txt
  projects/hipblaslt/tensilelite/tests/SynchronizerResidue_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Clear the Synchronizer only when residue is found
  projects/hipblaslt/tensilelite/client/include/SynchronizerValidator.hpp
  projects/hipblaslt/tensilelite/client/src/SynchronizerValidator.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Scan the hipBLASLt Synchronizer in ints only
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/check_streamk_sync.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Describe the warmup check window accurately
  projects/hipblaslt/tensilelite/client/include/SynchronizerValidator.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): address review feedback on StreamK Synchronizer check
  projects/hipblaslt/CHANGELOG.md
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/check_streamk_sync.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/handle.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_mat.cpp
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_data/cpu_only_clientconfig.golden.ini
  projects/hipblaslt/tensilelite/client/include/SynchronizerValidator.hpp
  projects/hipblaslt/tensilelite/tests/CMakeLists.txt
  projects/hipblaslt/tensilelite/tests/SynchronizerValidatorReporting_test.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hipblaslt): drop CheckStreamKSync from the ductile StreamK test
  projects/hipblaslt/tensilelite/Tensile/Tests/common/ductile/gfx950/bf16_tn_streamK.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): drop CheckStreamKSync from DP-only merge renames
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_mxf4_force_dp_only_pap.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_mxf8_force_dp_only_cluster_multicast_ext.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): let the Synchronizer check drive its own solution run
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/client/include/SynchronizerValidator.hpp
  projects/hipblaslt/tensilelite/client/src/SynchronizerValidator.cpp
  projects/hipblaslt/tensilelite/tests/SynchronizerResidue_test.cpp
  projects/hipblaslt/tensilelite/tests/SynchronizerValidatorReporting_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipblaslt): describe the Synchronizer check by what uses the buffer
  projects/hipblaslt/CHANGELOG.md
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/handle.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/check_streamk_sync.hpp
  projects/hipblaslt/tensilelite/client/include/SynchronizerValidator.hpp
  projects/hipblaslt/tensilelite/client/src/SynchronizerValidator.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): scope the Synchronizer check to solutions handed the buffer
  projects/hipblaslt/tensilelite/client/include/SynchronizerValidator.hpp
  projects/hipblaslt/tensilelite/client/src/SynchronizerValidator.cpp
  projects/hipblaslt/tensilelite/tests/SynchronizerValidatorReporting_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): make the Synchronizer check passive
  projects/hipblaslt/tensilelite/client/include/SynchronizerValidator.hpp
  projects/hipblaslt/tensilelite/client/src/SynchronizerValidator.cpp
  projects/hipblaslt/tensilelite/tests/SynchronizerValidatorReporting_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck): add HIP compiler and remove dispatcher_gemm_lib from correctness cmake
  projects/composablekernel/groovy/vars/ck.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat: [hipblaslt][origami] Add cluster_dim to Origami (#10997)
  projects/hipblaslt/tensilelite/include/Tensile/Serialization/PredictionLibrary.hpp
  projects/hipblaslt/tensilelite/tests/CMakeLists.txt
  projects/hipblaslt/tensilelite/tests/PredictionLibrary_test.cpp
  shared/origami/include/origami/types.hpp
  shared/origami/python/src/origami/bindings.cpp
  shared/origami/src/origami/gemm.cpp
  shared/origami/tests/include/common.hpp
  shared/origami/tests/test_origami.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(hipblaslt): rename the Synchronizer check flag and env var
  projects/hipblaslt/CHANGELOG.md
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/handle.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/check_synchronizer.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/handle.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_mat.cpp
  projects/hipblaslt/tensilelite/Tensile/ClientWriter.py
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/sk_queue_selfclean.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/ClientConfigIni/test_client_config_ini_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_data/cpu_only_clientconfig.golden.ini
  projects/hipblaslt/tensilelite/client/include/SynchronizerValidator.hpp
  projects/hipblaslt/tensilelite/client/main.cpp
  projects/hipblaslt/tensilelite/client/src/SynchronizerValidator.cpp
  projects/hipblaslt/tensilelite/tests/SynchronizerValidatorReporting_test.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(hipblaslt): tighten the Synchronizer check comments
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/handle.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/check_synchronizer.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/handle.h
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/sk_queue_selfclean.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/ClientConfigIni/test_client_config_ini_char.py
  projects/hipblaslt/tensilelite/client/include/SynchronizerValidator.hpp
  projects/hipblaslt/tensilelite/client/main.cpp
  projects/hipblaslt/tensilelite/client/src/SynchronizerValidator.cpp
  projects/hipblaslt/tensilelite/tests/SynchronizerValidatorReporting_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): cover amaxD in the Synchronizer check, and harden the checker
  projects/hipblaslt/CHANGELOG.md
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/check_synchronizer.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/handle.h
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/sk_queue_selfclean.yaml
  projects/hipblaslt/tensilelite/client/include/SynchronizerValidator.hpp
  projects/hipblaslt/tensilelite/client/src/SynchronizerValidator.cpp
  projects/hipblaslt/tensilelite/tests/SynchronizerValidatorReporting_test.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

revert(hipblaslt): stage the Synchronizer readback on the handle again
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/check_synchronizer.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/handle.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): check the Stream-K flag block as well as the Synchronizer
  projects/hipblaslt/CHANGELOG.md
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/handle.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/check_synchronizer.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/handle.h
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): stage the flag-buffer readback per thread, not per handle
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/check_synchronizer.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/handle.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Reframe the recorded global-store vw=1 as a recorder-vs-ISA gap
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/helpers/tiling/.claude/skills/rocke-tiling-api/SKILL.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/helpers/tiling/docs/tiling_interleaving_design.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

added auto tuning for 350 and 355 for a bunch of other algos
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_merge.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_partition_flag.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_partition_predicate.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_partition_three_way.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_partition_two_way_flag.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_partition_two_way_predicate.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_radix_sort_block_sort.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_radix_sort_onesweep.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_reduce.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_reduce_by_key.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_scan.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_scan_by_key.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_segmented_radix_sort.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_segmented_reduce.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_select_flag.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_select_predicate.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_select_predicated_flag.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_select_unique.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_select_unique_by_key.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(mirror-sync): stage ignored paths so force-tracked files sync
  .github/scripts/pr_merge_sync_patches.py
  .github/scripts/tests/test_pr_merge_sync_patches.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(dispatcher): enable HIP language for fmha sources in standalone cmake build
  projects/composablekernel/dispatcher/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

added plumbing for mi355x auto tuning
  projects/rocprim/rocprim/include/rocprim/device/config_types.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

use integer expression for BCOUNT
  projects/rocsolver/clients/gtest/lapack/getf2_getrf_gtest.cpp
  projects/rocsolver/clients/gtest/lapack/getrs_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): advance StreamK partials-write accumulator across batches (#11962)
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/sk_hgemm_lsu.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(gfx950-dense): trim long comment blocks that restate prose stated nearby
  dnn-providers/cmake/Tests.cmake
  dnn-providers/hip-kernel-provider/descriptor-packaging/cmake/HkpPackaging.cmake
  dnn-providers/hip-kernel-provider/src/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/Gfx950AttentionDenseGeometry.hpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/Gfx950AttentionDenseNative.cpp
  dnn-providers/hip-kernel-provider/src/integration_tests/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/IntegrationGpuGfx950AttentionDenseKnobs.cpp
  dnn-providers/hip-kernel-provider/src/tests/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/TestGfx950AttentionDenseDispatch.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/TestGfx950AttentionDenseMatchers.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/TestGfx950AttentionDensePacks.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/TestGfx950AttentionDenseSignature.cpp
  dnn-providers/integration-tests/src/harness/TestSettings.hpp
  dnn-providers/integration-tests/src/harness/TomlGuards.hpp
  dnn-providers/integration-tests/src/harness/bundle/OutputComparison.cpp
  projects/hipdnn/tools/IngestorGenerator/configs/gfx950_attention_dense.profile.yaml
  projects/hipdnn/tools/IngestorGenerator/templates/fragments/cmake_test_sources.j2
  projects/hipdnn/tools/IngestorGenerator/templates/test_packs.cpp.j2
  projects/hipdnn/tools/IngestorGenerator/tests/test_config_loader.py
  projects/hipdnn/tools/IngestorGenerator/tests/test_variant_reachability.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Make MXFP4 scale layout part of Tensile problem matching
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Alik_Bljk_F4BS_MXA32_MXB32_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Alik_Bljk_F4BS_MXA32_MXB32_MXSFHPS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Alik_Bljk_F4HS_MXA32_MXB32_BH_BiasSH_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Alik_Bljk_F4HS_MXA32_MXB32_MXSFHPS_BH_BiasSH_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Alik_Bljk_F4SS_MXA32_MXB32_BH_BiasS_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Alik_Bljk_F4SS_MXA32_MXB32_MXSFHPS_BH_BiasS_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Alik_Bljk_F4BS_MXA32_MXB32_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Alik_Bljk_F4BS_MXA32_MXB32_MXSFHPS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Alik_Bljk_F4HS_MXA32_MXB32_BH_BiasSH_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Alik_Bljk_F4HS_MXA32_MXB32_MXSFHPS_BH_BiasSH_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Alik_Bljk_F4SS_MXA32_MXB32_BH_BiasS_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Alik_Bljk_F4SS_MXA32_MXB32_MXSFHPS_BH_BiasS_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Alik_Bljk_F4BS_MXA32_MXB32_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Alik_Bljk_F4BS_MXA32_MXB32_MXSFHPS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Alik_Bljk_F4HS_MXA32_MXB32_BH_BiasSH_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Alik_Bljk_F4HS_MXA32_MXB32_MXSFHPS_BH_BiasSH_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Alik_Bljk_F4SS_MXA32_MXB32_BH_BiasS_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Alik_Bljk_F4SS_MXA32_MXB32_MXSFHPS_BH_BiasS_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
  projects/hipblaslt/tensilelite/Tensile/Contractions.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Problem.py
  projects/hipblaslt/tensilelite/client/include/ClientProblemFactory.hpp
  projects/hipblaslt/tensilelite/client/src/ClientProblemFactory.cpp
  projects/hipblaslt/tensilelite/include/Tensile/ContractionProblem.hpp
  projects/hipblaslt/tensilelite/include/Tensile/ContractionProblemPredicates.hpp
  projects/hipblaslt/tensilelite/include/Tensile/ContractionProblem_Detail.hpp
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Serialization/ContractionPredicates.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci(gfx1250): Disable hotswap for hipblaslt (#12572)
  .github/workflows/gfx1250_hipblaslt_tensilelite_test.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci: also auto-retry TheRock Multi-Arch CI on failed/flaky jobs (#12511)
  .github/workflows/auto-retry-failed.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocprim): added back in missing commas in run tuning
  projects/rocprim/tuning/run_tuning.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Tuning BBS HHS and F8BS TN for gfx950 id75a3 (#12597)
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950_id75a3/Equality/gfx950_Cijk_Alik_Bljk_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocBLAS) : sanitizer link flag, trsv rm inline invert recursion (#12607)
  projects/rocblas/cmake/toolchain-options.cmake
  projects/rocblas/library/src/blas2/rocblas_trsv_kernels.cpp
  projects/rocblas/next-cmake/cmake/rocblas_target_configure_sanitizers.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Record the cooperative-load split-axis corollary in the interleaving doc
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/helpers/tiling/docs/tiling_interleaving_design.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hipblaslt: restore what the rebase dropped and build gfx1250-strict again
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/__init__.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/comm/gfx950/fused_a2a.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/config_helpers.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/test_config_helpers.py
  projects/hipblaslt/tensilelite/Tensile/Tests/custom/custom_aiter_bf16.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/custom/custom_aiter_f4.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/custom/custom_ck.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/custom/custom_rr.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/custom/custom_tensile_sk.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/custom/custom_triton_f4.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/custom/custom_wave_bf16.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_ClientWriter_library_files.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_arch_steppings.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_occupancy_hip.py
  projects/hipblaslt/tensilelite/Tensile/Toolchain/Component.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

added a note about windows install
  projects/hipthreads/docs/install/install.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(integration-tests): move golden-data registration out of BundleRegistration
  dnn-providers/integration-tests/CMakeLists.txt
  dnn-providers/integration-tests/README.md
  dnn-providers/integration-tests/docs/support-claim-enforcement.md
  dnn-providers/integration-tests/src/golden_data_main.cpp
  dnn-providers/integration-tests/src/harness/bundle/BundleRegistration.hpp
  dnn-providers/integration-tests/src/harness/reference-validation/BundleReferenceValidationHarness.cpp
  dnn-providers/integration-tests/src/harness/reference-validation/BundleReferenceValidationHarness.hpp
  dnn-providers/integration-tests/src/harness/reference-validation/GoldenDataRegistration.cpp
  dnn-providers/integration-tests/src/harness/reference-validation/GoldenDataRegistration.hpp
  dnn-providers/integration-tests/src/harness/reference-validation/GoldenOutputProbe.cpp
  dnn-providers/integration-tests/src/harness/reference-validation/GoldenOutputProbe.hpp
  dnn-providers/integration-tests/src/harness/reference-validation/ReferenceLaneVerdict.cpp
  dnn-providers/integration-tests/src/harness/reference-validation/ReferenceLaneVerdict.hpp
  dnn-providers/integration-tests/src/harness/reference-validation/ReferenceOpCoverage.cpp
  dnn-providers/integration-tests/src/harness/reference-validation/ReferenceOpCoverage.hpp
  dnn-providers/integration-tests/tests/CMakeLists.txt
  dnn-providers/integration-tests/tests/TestBundleDiscovery.cpp
  dnn-providers/integration-tests/tests/TestBundleReferenceValidationHarness.cpp
  dnn-providers/integration-tests/tests/TestGoldenDataRegistration.cpp
  dnn-providers/integration-tests/tests/TestGoldenOutputProbe.cpp
  dnn-providers/integration-tests/tests/TestReferenceOpCoverage.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

test(rocke): add gfx1151 SDPA comparison harness
  autoresearch.sh
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx1151/__init__.py
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx1151/attention/__init__.py
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx1151/attention/aotriton.py
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx1151/attention/aotriton_bridge.cpp
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx1151/attention/benchmark_sdpa.py
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx1151/attention/candidate.py
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx1151/attention/cases.py
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx1151/attention/run_remote.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx1151/attention/README.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

use larger batch count for exercise small matrix kernel
  projects/rocsolver/clients/gtest/lapack/getf2_getrf_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
