Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(integration-tests): map bundle tier dirs to capitalised GTest suite prefixes (ALMIOPEN-2310)
  dnn-providers/integration-tests/src/harness/bundle/BundleDiscovery.hpp
  dnn-providers/integration-tests/tests/TestBundleDiscovery.cpp
  dnn-providers/integration-tests/tests/TestVerificationPaths.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(integration-tests): print test coverage summary after run (ALMIOPEN-2310)
  dnn-providers/integration-tests/src/main.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(integration-tests): drive bundle sweeps via provider external-integration (ALMIOPEN-2310)
  dnn-providers/integration-tests/CMakeLists.txt
  dnn-providers/integration-tests/test_categories.yaml
  dnn-providers/miopen-provider/test_categories_integration.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(integration-tests): use lowercase tier dirs as bundle GTest prefix (ALMIOPEN-2310)
  dnn-providers/integration-tests/src/harness/bundle/BundleDiscovery.hpp
  dnn-providers/integration-tests/tests/TestBundleDiscovery.cpp
  dnn-providers/integration-tests/tests/TestVerificationPaths.cpp
  dnn-providers/miopen-provider/test_categories_integration.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(miopen-provider): add bundle tolerance overrides for 3D conv wrw bf16 split-K
  dnn-providers/miopen-provider/config/MIOPEN_ENGINE.toml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(miopen-provider): add bundle tolerance override for 3D conv fwd fp32
  dnn-providers/miopen-provider/config/MIOPEN_ENGINE.toml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(integration-tests): rewrite GPU executor tests to use conv instead of deleted dummy pointwise plan
  dnn-providers/integration-tests/tests/TestGpuReferenceGraphExecutor.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(integration-tests): re-enable C++ graph tests while bundles land behind --allow-bundles
  dnn-providers/integration-tests/src/integration-tests/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(integration-tests): re-enable C++ graph tests while bundles land behind --allow-bundles
  dnn-providers/miopen-provider/test_categories_integration.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(integration-tests): re-enable C++ graph tests while bundles land behind --allow-bundles
  dnn-providers/integration-tests/src/main.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(integration-tests): port layernorm and rmsnorm-backward C++ tests to bundle sweeps
  dnn-providers/integration-tests/integration_test_bundles/full/Layernorm/Default/graph.template.json
  dnn-providers/integration-tests/integration_test_bundles/full/Layernorm/Default/sweep.json
  dnn-providers/integration-tests/integration_test_bundles/full/Layernorm/Variant2/graph.template.json
  dnn-providers/integration-tests/integration_test_bundles/full/Layernorm/Variant2/sweep.json
  dnn-providers/integration-tests/integration_test_bundles/full/RMSNormBackward/Default/graph.template.json
  dnn-providers/integration-tests/integration_test_bundles/full/RMSNormBackward/Default/sweep.json
  dnn-providers/integration-tests/integration_test_bundles/quick/Layernorm/Default/graph.template.json
  dnn-providers/integration-tests/integration_test_bundles/quick/Layernorm/Default/sweep.json
  dnn-providers/integration-tests/integration_test_bundles/quick/Layernorm/Variant2/graph.template.json
  dnn-providers/integration-tests/integration_test_bundles/quick/Layernorm/Variant2/sweep.json
  dnn-providers/integration-tests/integration_test_bundles/quick/RMSNormBackward/Default/graph.template.json
  dnn-providers/integration-tests/integration_test_bundles/quick/RMSNormBackward/Default/sweep.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(integration-tests): port batchnorm C++ tests to bundle sweeps and fix import_graph.py
  dnn-providers/integration-tests/integration_test_bundles/quick/Batchnorm/Default/sweep.json
  dnn-providers/integration-tests/integration_test_bundles/quick/Batchnorm/Variant2/sweep.json
  dnn-providers/integration-tests/integration_test_bundles/quick/BatchnormBackward/Default/sweep.json
  dnn-providers/integration-tests/integration_test_bundles/quick/BatchnormBackward/Variant2/sweep.json
  dnn-providers/integration-tests/integration_test_bundles/quick/BatchnormInferencePointwiseBatchnormBackward/Default/sweep.json
  dnn-providers/integration-tests/integration_test_bundles/quick/BatchnormPointwise/Default/sweep.json
  dnn-providers/integration-tests/integration_test_bundles/quick/BatchnormPointwise/Variant2/sweep.json
  dnn-providers/integration-tests/migration-scripts/import_graph.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(integration-tests): port matmul C++ integration tests to bundle format
  dnn-providers/integration-tests/integration_test_bundles/quick/BlockScaleDequantizeMatmul/Default/graph.template.json
  dnn-providers/integration-tests/integration_test_bundles/quick/BlockScaleDequantizeMatmul/Default/sweep.json
  dnn-providers/integration-tests/integration_test_bundles/quick/Matmul/Default/graph.template.json
  dnn-providers/integration-tests/integration_test_bundles/quick/Matmul/Default/sweep.json
  dnn-providers/integration-tests/integration_test_bundles/quick/MatmulPointwise/Default/graph.template.json
  dnn-providers/integration-tests/integration_test_bundles/quick/MatmulPointwise/Default/sweep.json
  dnn-providers/integration-tests/integration_test_bundles/quick/MatmulPointwise/Variant2/graph.template.json
  dnn-providers/integration-tests/integration_test_bundles/quick/MatmulPointwise/Variant2/sweep.json
  dnn-providers/integration-tests/integration_test_bundles/quick/MatmulPointwise/Variant3/graph.template.json
  dnn-providers/integration-tests/integration_test_bundles/quick/MatmulPointwise/Variant3/sweep.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocALUTION): docs refactor of preconditioners and solvers (#10084)
  projects/rocalution/docs/reference/rocALUTION-api.rst
  projects/rocalution/docs/reference/rocALUTION-preconditioners.rst
  projects/rocalution/docs/reference/rocALUTION-solvers.rst
  projects/rocalution/src/solvers/chebyshev.hpp
  projects/rocalution/src/solvers/direct/inversion.hpp
  projects/rocalution/src/solvers/direct/lu.hpp
  projects/rocalution/src/solvers/direct/qr.hpp
  projects/rocalution/src/solvers/krylov/bicgstab.hpp
  projects/rocalution/src/solvers/krylov/bicgstabl.hpp
  projects/rocalution/src/solvers/krylov/cg.hpp
  projects/rocalution/src/solvers/krylov/cr.hpp
  projects/rocalution/src/solvers/krylov/fcg.hpp
  projects/rocalution/src/solvers/krylov/fgmres.hpp
  projects/rocalution/src/solvers/krylov/gmres.hpp
  projects/rocalution/src/solvers/krylov/idr.hpp
  projects/rocalution/src/solvers/krylov/qmrcgstab.hpp
  projects/rocalution/src/solvers/mixed_precision.hpp
  projects/rocalution/src/solvers/multigrid/base_amg.hpp
  projects/rocalution/src/solvers/multigrid/multigrid.hpp
  projects/rocalution/src/solvers/multigrid/pairwise_amg.hpp
  projects/rocalution/src/solvers/multigrid/ruge_stueben_amg.hpp
  projects/rocalution/src/solvers/multigrid/smoothed_amg.hpp
  projects/rocalution/src/solvers/multigrid/unsmoothed_amg.hpp
  projects/rocalution/src/solvers/preconditioners/preconditioner.hpp
  projects/rocalution/src/solvers/preconditioners/preconditioner_ai.hpp
  projects/rocalution/src/solvers/preconditioners/preconditioner_as.hpp
  projects/rocalution/src/solvers/preconditioners/preconditioner_blockjacobi.hpp
  projects/rocalution/src/solvers/preconditioners/preconditioner_blockprecond.hpp
  projects/rocalution/src/solvers/preconditioners/preconditioner_multicolored.hpp
  projects/rocalution/src/solvers/preconditioners/preconditioner_multicolored_gs.hpp
  projects/rocalution/src/solvers/preconditioners/preconditioner_multicolored_ilu.hpp
  projects/rocalution/src/solvers/preconditioners/preconditioner_multielimination.hpp
  projects/rocalution/src/solvers/preconditioners/preconditioner_saddlepoint.hpp
  projects/rocalution/src/solvers/solver.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(tensilelite): derive StreamK B-multicast from ClusterDim, drop StreamKMulticast key
  projects/hipblaslt/tensilelite/Tensile/Common/Utilities.py
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/Components/ClusterLoad.py
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/Contractions.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionClass/__snapshots__/test_solution_class_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_cluster_load_component.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_multicast_tristate.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_streamk_multicast.py
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Serialization/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add dgrad cases to rocke_ir_parity_harness
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/rocke_ir_parity_harness.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Adding a few more exclusions to the symbol checks.
  projects/miopen/test/byte_equivalence/wrapper_excluded_symbols.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipdnn): address PR 9771 review comments - fix binary name, clarify bundle opt-in status and sweep authoring
  dnn-providers/integration-tests/README.md
  dnn-providers/integration-tests/migration-scripts/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): correct rowScaleShift in subtile exec mask for align8 stores (#9683)
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/subtile_bf16_gfx1250.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Make generate_index default false
  projects/hipdnn/backend/src/descriptors/ResampleFwdOperationDescriptor.cpp
  projects/hipdnn/backend/tests/descriptors/TestGraphDescriptorResampleFwd.cpp
  projects/hipdnn/backend/tests/descriptors/TestResampleFwdOperationFromNode.cpp
  projects/hipdnn/flatbuffers_sdk/include/hipdnn_flatbuffers_sdk/data_objects/resample_fwd_attributes_generated.h
  projects/hipdnn/flatbuffers_sdk/include/hipdnn_flatbuffers_sdk/utilities/json/ResampleFwdAttributes.hpp
  projects/hipdnn/flatbuffers_sdk/schemas/resample_fwd_attributes.fbs
  projects/hipdnn/frontend/include/hipdnn_frontend/Graph.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/attributes/ResampleFwdAttributes.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/ResampleFwdPacker.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/ResampleFwdUnpacker.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/ResampleFwdNode.hpp
  projects/hipdnn/frontend/tests/TestResampleFwdAttributes.cpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/FlatbufferGraphTestUtils.hpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestCpuReferenceGraphExecutor.cpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestResampleFwdPlan.cpp
  projects/hipdnn/tests/frontend/IntegrationResampleFwdDescriptorLifting.cpp
  projects/hipdnn/tests/frontend/IntegrationResampleFwdDescriptorLowering.cpp
  projects/hipdnn/tools/DescriptorGenerator/configs/resample_fwd.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update projects/hipdnn/frontend/include/hipdnn_frontend/Graph.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/Graph.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix tests
  projects/hipdnn/backend/src/descriptors/ResampleBwdOperationDescriptor.cpp
  projects/hipdnn/backend/tests/descriptors/TestGraphDescriptorResampleBwd.cpp
  projects/hipdnn/backend/tests/descriptors/TestResampleBwdOperationDescriptor.cpp
  projects/hipdnn/backend/tests/descriptors/TestResampleBwdOperationFromNode.cpp
  projects/hipdnn/flatbuffers_sdk/include/hipdnn_flatbuffers_sdk/utilities/json/Common.hpp
  projects/hipdnn/flatbuffers_sdk/include/hipdnn_flatbuffers_sdk/utilities/json/ResampleFwdAttributes.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/attributes/ResampleBwdAttributes.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/ResampleBwdPacker.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/ResampleBwdUnpacker.hpp
  projects/hipdnn/tests/frontend/IntegrationResampleBwdDescriptorLifting.cpp
  projects/hipdnn/tests/frontend/IntegrationResampleBwdDescriptorLowering.cpp
  projects/hipdnn/tools/DescriptorGenerator/configs/resample_bwd.yaml
  projects/hipdnn/tools/DescriptorGenerator/configs/resample_fwd.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Implement requested changes
  projects/hipdnn/backend/include/HipdnnBackendAttributeName.h
  projects/hipdnn/backend/include/HipdnnBackendDescriptorType.h
  projects/hipdnn/backend/include/HipdnnOperationType.h
  projects/hipdnn/backend/src/BackendEnumStringUtils.hpp
  projects/hipdnn/backend/src/descriptors/DescriptorFactory.cpp
  projects/hipdnn/backend/src/descriptors/ResampleBwdOperationDescriptor.cpp
  projects/hipdnn/backend/tests/TestBackendEnumStringUtils.cpp
  projects/hipdnn/backend/tests/descriptors/TestGraphDescriptorResampleBwd.cpp
  projects/hipdnn/backend/tests/descriptors/TestResampleBwdOperationDescriptor.cpp
  projects/hipdnn/backend/tests/descriptors/TestResampleBwdOperationFromNode.cpp
  projects/hipdnn/flatbuffers_sdk/include/hipdnn_flatbuffers_sdk/data_objects/resample_bwd_attributes_generated.h
  projects/hipdnn/flatbuffers_sdk/include/hipdnn_flatbuffers_sdk/utilities/json/ResampleBwdAttributes.hpp
  projects/hipdnn/flatbuffers_sdk/schemas/resample_bwd_attributes.fbs
  projects/hipdnn/frontend/include/hipdnn_frontend/Graph.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/attributes/ResampleBwdAttributes.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/OperationUnpacker.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/ResampleBwdPacker.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/ResampleBwdUnpacker.hpp
  projects/hipdnn/frontend/tests/TestGraphResampleBwd.cpp
  projects/hipdnn/frontend/tests/TestOperationUnpacker.cpp
  projects/hipdnn/tests/frontend/IntegrationResampleBwdDescriptorLifting.cpp
  projects/hipdnn/tests/frontend/IntegrationResampleBwdDescriptorLowering.cpp
  projects/hipdnn/tools/DescriptorGenerator/configs/resample_bwd.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix CI tests
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/ResampleBwdPacker.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocsparse): apply review feedback and rebalance spmat_scale tests
  projects/rocsparse/CHANGELOG.md
  projects/rocsparse/clients/tests/test_spmat_scale.yaml
  projects/rocsparse/library/include/internal/generic/rocsparse_spmat_scale.h
  projects/rocsparse/library/include/rocsparse-auxiliary.h
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(gfx1151/attention): bcast_group lever -- +6.2% at L2048, cache cliff at L16K
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx1151/attention/chunk_sweep.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx1151/attention/plan.md
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx1151/attention/profiling/isa_deep.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx1151/attention/profiling/prof_full.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx1151/attention/profiling/shufdbg.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx1151/attention/profiling/sum_counters.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx1151/attention/profiling/vt_prof.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx1151/wmma_fmha_swapqk.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(tensilelite): derive StreamK B-multicast from ClusterDim, drop StreamKMulticast key
  projects/hipblaslt/tensilelite/Tensile/Common/Utilities.py
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/Components/ClusterLoad.py
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/Contractions.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionClass/__snapshots__/test_solution_class_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_cluster_load_component.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_multicast_tristate.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_streamk_cluster_reduction.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_streamk_multicast.py
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Serialization/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Updated the section heading and the wording of a deprecation item in the rocsparse changelog.
  projects/rocsparse/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(origami): Multiple arch support for streamk hybrid
  shared/origami/include/origami/heuristics.hpp
  shared/origami/include/origami/streamk.hpp
  shared/origami/src/origami/streamk.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): enable subtile iterate mode for large DepthU beyond pad_interval limit
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGREmit.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Utilities.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/subtile_bf16_gfx1250.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/subtile_bf16_gfx1250_cluster.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

pre-select package manager install for prereqs
  projects/hiptensor/docs/install/installation.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add README for conv_implicit_gemm_dgrad instance
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/README_conv_implicit_gemm_dgrad.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(tensilelite): derive StreamK B-multicast from ClusterDim + free self-only maskA on factored 2-D + PAP
  projects/hipblaslt/tensilelite/Tensile/Common/Utilities.py
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/Components/ClusterLoad.py
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/Contractions.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_mxf4_force_dp_only_pap.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_mxf4gemm_cluster_factored_pap.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_mxf8_force_dp_only_pap.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_mxf8gemm_cluster_factored_pap.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionClass/__snapshots__/test_solution_class_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_streamk_factored_cluster_pap_gfx1250_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_streamk_forcedp_2d_pap_gfx1250_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/data/test_data/_designed/gfx1250/streamk_factored_cluster_pap.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/data/test_data/_designed/gfx1250/streamk_forcedp_2d_pap.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_streamk_factored_cluster_pap_gfx1250_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_streamk_forcedp_2d_pap_gfx1250_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_cluster_load_component.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_multicast_tristate.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_streamk_cluster_reduction.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_streamk_dual_2d_multicast.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_streamk_factored_cluster.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_streamk_multicast.py
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Serialization/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensile): correct amd-smi temperature units and register client test in next-cmake
  shared/tensile/HostLibraryTests/client/HardwareMonitorType_test.cpp
  shared/tensile/Tensile/Source/client/include/HardwareMonitorType.hpp
  shared/tensile/Tensile/Source/client/source/HardwareMonitor.cpp
  shared/tensile/next-cmake/tests/client/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): activate HIP_CHECK macro in gemm_tensor_quant_ctypes_lib
  projects/composablekernel/dispatcher/bindings/ctypes/gemm_tensor_quant_ctypes_lib.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke/attention): accept use_d256_gfx942_fast in gfx950 supports_tiled_2d
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx950/attention_tiled_2d.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): activate HIP_CHECK macro in gemm_rowcolquant_ctypes_lib
  projects/composablekernel/dispatcher/bindings/ctypes/gemm_rowcolquant_ctypes_lib.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): activate HIP_CHECK macro in gemm_aquant_ctypes_lib
  projects/composablekernel/dispatcher/bindings/ctypes/gemm_aquant_ctypes_lib.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): activate HIP_CHECK macro in gemm_bquant_ctypes_lib
  projects/composablekernel/dispatcher/bindings/ctypes/gemm_bquant_ctypes_lib.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): activate HIP_CHECK macro in gemm_abquant_ctypes_lib
  projects/composablekernel/dispatcher/bindings/ctypes/gemm_abquant_ctypes_lib.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
