Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[hipblaslt] Remove invalid kernels from gfx1250 Equality libraries
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Equality/gfx1250_Cijk_Ailk_Bjlk_BBS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Equality/gfx1250_Cijk_Alik_Bljk_BBS_BH_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

adding tune eq library
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950_id75a3/Equality/gfx950_Cijk_Alik_Bljk_F4BS_MXAE8B32_MXBE8B32_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

revert: remove duplicate ConvFwd FromNode test file
  projects/hipdnn/backend/tests/CMakeLists.txt
  projects/hipdnn/backend/tests/descriptors/TestConvolutionFwdOperationFromNode.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocblas): Fix command injection in logging test by replacing system with file compare (#10521)
  projects/rocblas/clients/include/testing_logging.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocsparse): signal-gated gemmi block size by m on wave32 (#9793)
  projects/rocsparse/library/src/level3/rocsparse_gemmi.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Potential fix for pull request finding
  .github/workflows/therock-test-packages.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): LoopIters code ordering fix (#10564)
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Allow VGPR overflow in ForceGenerateKernel (#9615)
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_vgpr_overflow_force_generate.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ci): pass --platform explicitly instead of hardcoding a Windows runner
  .github/workflows/therock-test-packages.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): guard OOB amdsmi frequency index in HardwareMonitor (#10717)
  projects/hipblaslt/tensilelite/client/include/HardwareMonitor.hpp
  projects/hipblaslt/tensilelite/client/src/HardwareMonitor.cpp
  projects/hipblaslt/tensilelite/tests/CMakeLists.txt
  projects/hipblaslt/tensilelite/tests/HardwareMonitor_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipBLAS) : comparison report script changes (#10718)
  projects/hipblas/scripts/performance/multiplot/benchmark_plot.sh
  projects/hipblas/scripts/performance/multiplot/benchmark_report.py
  projects/hipblas/scripts/performance/multiplot/plot.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Temporary: Defer to __shfl based reductions
  projects/rocsolver/library/src/auxiliary/rocauxiliary_latrd.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[TensileLite] PLSIN: make it an internal subtile decision
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/Common/RequiredParameters.py
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Plsin.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocisa): return caps maps by const reference instead of by value (#9757)
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/base.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/code.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/container.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/cmp.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/common.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/extension.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/instruction.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/mem.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/mfma.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/base.cpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/pass/insert_delay_alu.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): address review comments on iterate-mode unit tests
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_isSubtileIterateMode.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtile_gfx1250_codegen.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocsparse): wave32 launch tuning for csrmv LRB medium-row kernels (#9792)
  projects/rocsparse/library/src/level2/rocsparse_csrmv_template_lrb.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

chore(hipblaslt) Remove unused include (immintrin.h) (#9293)
  projects/hipblaslt/clients/common/include/hipblaslt_math.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocsparse): fix integer overflow in rocsparse_prune_csr2csr_by_percentage.cpp (#10356)
  projects/rocsparse/CHANGELOG.md
  projects/rocsparse/clients/common/rocsparse_host.cpp
  projects/rocsparse/clients/include/rocsparse_host.hpp
  projects/rocsparse/clients/testings/testing_prune_dense2csr.cpp
  projects/rocsparse/clients/testings/testing_prune_dense2csr_by_percentage.cpp
  projects/rocsparse/clients/tests/test_prune_dense2csr.yaml
  projects/rocsparse/clients/tests/test_prune_dense2csr_by_percentage.yaml
  projects/rocsparse/library/src/conversion/prune_csr2csr_by_percentage_device.h
  projects/rocsparse/library/src/conversion/prune_dense2csr_by_percentage_device.h
  projects/rocsparse/library/src/conversion/rocsparse_prune_csr2csr.cpp
  projects/rocsparse/library/src/conversion/rocsparse_prune_csr2csr.hpp
  projects/rocsparse/library/src/conversion/rocsparse_prune_csr2csr_by_percentage.cpp
  projects/rocsparse/library/src/conversion/rocsparse_prune_csr2csr_by_percentage.hpp
  projects/rocsparse/library/src/conversion/rocsparse_prune_dense2csr.cpp
  projects/rocsparse/library/src/conversion/rocsparse_prune_dense2csr.hpp
  projects/rocsparse/library/src/conversion/rocsparse_prune_dense2csr_by_percentage.cpp
  projects/rocsparse/library/src/conversion/rocsparse_prune_dense2csr_by_percentage.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hiptensor): resolve categorized ctest paths against fragment dir for Windows (#10712)
  projects/hiptensor/test/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Correct the pre-store barrier rationale: it is a load-to-use wait, not an LDS-write fence
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Finish correcting the barrier rationale: test header and assert message
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtile_prestore_barrier.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

update instruction location
  shared/stinkytofu/hardware/src/gfx/Gfx1250v0/Gfx1250v0Formats.def
  shared/stinkytofu/hardware/src/gfx/Gfx1250v0/Gfx1250v0Instructions.def
  shared/stinkytofu/hardware/src/gfx/common/Gfx125xRocisaMaps.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix for pair (StreamingLLM_sink, SlidingWindow). Wrong move_tile
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qr_ks_vs.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qr_ks_vs_async.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

remove PGR1 kernels
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Equality/gfx1250_Cijk_Alik_Bljk_BBS_BH_Bias_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Equality/gfx1250_Cijk_Alik_Bljk_F4BS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Equality/gfx1250_Cijk_Alik_Bljk_F4SS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Equality/gfx1250_Cijk_Alik_Bljk_F8BS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Equality/gfx1250_Cijk_Alik_Bljk_F8SS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Pin the barrier's position, not just its presence; adopt the shared rocisa fixture
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtile_prestore_barrier.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

(CMCL) docs(hipdnn): refine RFC 0020 versioning, loading, and duplicate-detection semantics
  projects/hipdnn/docs/rfcs/0020_UniversalEngineDescriptor.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Revert "Remove instance on gfx1250 having issue with hipOccupancyMaxActiveBlocksPerMultiprocessor"
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_conv_bwd_weight/device_exp_gemm_xdl_universal_km_kn_mn_instance.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

11 PGR2 BBS_TN kernels
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Equality/gfx1250_Cijk_Alik_Bljk_BBS_BH_Bias_HA_S_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

build(hipdnn): wire Python bindings into the superbuild as a component
  .github/workflows/hipdnn-superbuild-ci.yml
  CMakeLists.txt
  CMakePresets.json
  projects/hipdnn/docs/Building.md
  projects/hipdnn/python/README.md
  projects/hipdnn/python/frontend_bindings/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[rocSPARSE] Unit tests: sort & misc conversions [AISPARSE-636] (#10151)
  projects/rocsparse/clients/unittests/CMakeLists.txt
  projects/rocsparse/clients/unittests/unit_test_host_conversion_sort.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): gfx1250 Origami BBS TN 106-kernel bank from tuning team (AIHPBLAS-4307)
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Origami/gfx1250_Cijk_Alik_Bljk_BBS_BH_Bias_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Origami/gfx1250_Cijk_Alik_Bljk_F4BS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Origami/gfx1250_Cijk_Alik_Bljk_F4SS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Origami/gfx1250_Cijk_Alik_Bljk_F8BS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Origami/gfx1250_Cijk_Alik_Bljk_F8SS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

remove COO optimization from rocsparse_spmm changelog entry
  projects/rocsparse/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipdnn): add MoE grouped matmul backward schema (#10125)
  projects/hipdnn/flatbuffers_sdk/CMakeLists.txt
  projects/hipdnn/flatbuffers_sdk/include/hipdnn_flatbuffers_sdk/data_objects/graph_generated.h
  projects/hipdnn/flatbuffers_sdk/include/hipdnn_flatbuffers_sdk/data_objects/moe_grouped_matmul_bwd_attributes_generated.h
  projects/hipdnn/flatbuffers_sdk/include/hipdnn_flatbuffers_sdk/utilities/json/Graph.hpp
  projects/hipdnn/flatbuffers_sdk/include/hipdnn_flatbuffers_sdk/utilities/json/MoeGroupedMatmulBwdAttributes.hpp
  projects/hipdnn/flatbuffers_sdk/schemas/graph.fbs
  projects/hipdnn/flatbuffers_sdk/schemas/moe_grouped_matmul_bwd_attributes.fbs
  projects/hipdnn/flatbuffers_sdk/tests/utilities/TestJson.cpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/FlatbufferGraphTestUtils.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipdnn): scaffold MoE grouped matmul backward frontend codegen
  projects/hipdnn/backend/include/HipdnnBackendAttributeName.h
  projects/hipdnn/backend/include/HipdnnBackendDescriptorType.h
  projects/hipdnn/backend/include/HipdnnOperationType.h
  projects/hipdnn/backend/src/BackendEnumStringUtils.hpp
  projects/hipdnn/backend/tests/TestBackendEnumStringUtils.cpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/NodeType.hpp
  projects/hipdnn/tools/DescriptorGenerator/configs/moe_grouped_matmul_bwd.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipdnn): add MoE grouped matmul backward integration tests
  projects/hipdnn/frontend/include/hipdnn_frontend/node/MoeGroupedMatmulBwdNode.hpp
  projects/hipdnn/frontend/tests/TestMoeGroupedMatmulBwdNode.cpp
  projects/hipdnn/tests/frontend/CMakeLists.txt
  projects/hipdnn/tests/frontend/IntegrationMoeGroupedMatmulBwd.cpp
  projects/hipdnn/tests/frontend/IntegrationMoeGroupedMatmulBwdDescriptorLifting.cpp
  projects/hipdnn/tests/frontend/IntegrationMoeGroupedMatmulBwdDescriptorLowering.cpp
  projects/hipdnn/tools/DescriptorGenerator/configs/moe_grouped_matmul_bwd.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipdnn): add MoE grouped matmul backward backend descriptor
  projects/hipdnn/backend/src/CMakeLists.txt
  projects/hipdnn/backend/src/descriptors/DescriptorFactory.cpp
  projects/hipdnn/backend/src/descriptors/MoeGroupedMatmulBwdOperationDescriptor.cpp
  projects/hipdnn/backend/src/descriptors/MoeGroupedMatmulBwdOperationDescriptor.hpp
  projects/hipdnn/backend/src/descriptors/NodeFactory.cpp
  projects/hipdnn/backend/src/descriptors/NodeFactory.hpp
  projects/hipdnn/backend/tests/CMakeLists.txt
  projects/hipdnn/backend/tests/descriptors/TestGraphDescriptorMoeGroupedMatmulBwd.cpp
  projects/hipdnn/backend/tests/descriptors/TestMoeGroupedMatmulBwdOperationDescriptor.cpp
  projects/hipdnn/backend/tests/descriptors/TestMoeGroupedMatmulBwdOperationFromNode.cpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/constants/MoeGroupedMatmulBwdConstants.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hipdnn): add MoE bwd leading-dim and expert-count negative tests
  projects/hipdnn/backend/tests/descriptors/TestMoeGroupedMatmulBwdOperationFromNode.cpp
  projects/hipdnn/frontend/tests/TestMoeGroupedMatmulBwdNode.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(hipdnn): align MoE backward node with forward inference conventions
  projects/hipdnn/backend/src/descriptors/MoeGroupedMatmulBwdOperationDescriptor.cpp
  projects/hipdnn/backend/tests/descriptors/TestMoeGroupedMatmulBwdOperationDescriptor.cpp
  projects/hipdnn/backend/tests/descriptors/TestMoeGroupedMatmulBwdOperationFromNode.cpp
  projects/hipdnn/frontend/include/hipdnn_frontend/Graph.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/MoeGroupedMatmulBwdNode.hpp
  projects/hipdnn/frontend/tests/TestGraphMoeGroupedMatmulBwd.cpp
  projects/hipdnn/frontend/tests/TestMoeGroupedMatmulBwdNode.cpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/constants/MoeGroupedMatmulBwdConstants.hpp
  projects/hipdnn/tests/frontend/IntegrationMoeGroupedMatmulBwdDescriptorLifting.cpp
  projects/hipdnn/tools/DescriptorGenerator/configs/moe_grouped_matmul_bwd.yaml
  projects/hipdnn/tools/DescriptorGenerator/templates/test_descriptor.cpp.j2
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipdnn): add MoE grouped matmul backward frontend node and graph API
  projects/hipdnn/frontend/include/hipdnn_frontend/Graph.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/attributes/MoeGroupedMatmulBwdAttributes.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/MoeGroupedMatmulBwdPacker.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/MoeGroupedMatmulBwdUnpacker.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/OperationUnpacker.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/MoeGroupedMatmulBwdNode.hpp
  projects/hipdnn/frontend/tests/CMakeLists.txt
  projects/hipdnn/frontend/tests/TestGraphMoeGroupedMatmulBwd.cpp
  projects/hipdnn/frontend/tests/TestMoeGroupedMatmulBwdAttributes.cpp
  projects/hipdnn/frontend/tests/TestMoeGroupedMatmulBwdNode.cpp
  projects/hipdnn/frontend/tests/TestOperationUnpacker.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hipdnn): cover inferred MoE bwd dweight dims in lifting round-trip
  projects/hipdnn/tests/frontend/IntegrationMoeGroupedMatmulBwdDescriptorLifting.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
