Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

test: remove benchmark yaml, covers additional yaml sizes that are not a good indication of performance
  projects/hipblaslt/tensilelite/Tensile/Tests/common/benchmark_runs/f4_nt_gfx950.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

doc: restore benchmark_runs README
  projects/hipblaslt/tensilelite/Tensile/Tests/common/benchmark_runs/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix: remove deleted yaml from syncsperbenchmark opt outs
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_common_yaml_syncs_per_benchmark.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): retain explicit known-bugs selection
  projects/hipblaslt/cmake/HipBLASLtCodegen.cmake
  projects/hipblaslt/scripts/README.md
  projects/hipblaslt/scripts/run_tensile_logic_check.py
  projects/hipblaslt/tensilelite/Tensile/TensileLogic/KnownBugs.py
  projects/hipblaslt/tensilelite/Tensile/TensileLogic/ParseArguments.py
  projects/hipblaslt/tensilelite/Tensile/TensileLogic/Run.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileLogic/__snapshots__/test_knownbugs_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileLogic/test_knownbugs_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileLogic/test_parsearguments_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_KnownBugs.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_TensileLogic_Run.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(tensilelite): harden custom kernel resource handling
  projects/hipblaslt/tensilelite/Tensile/CustomKernels.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomKernels_resources.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_resources.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): guard Traversable import by Python version
  projects/hipblaslt/tensilelite/Tensile/Resources.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): load known bugs from resources
  projects/hipblaslt/cmake/HipBLASLtCodegen.cmake
  projects/hipblaslt/scripts/README.md
  projects/hipblaslt/scripts/run_tensile_logic_check.py
  projects/hipblaslt/tensilelite/Tensile/TensileLogic/KnownBugs.py
  projects/hipblaslt/tensilelite/Tensile/TensileLogic/ParseArguments.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileLogic/__snapshots__/test_knownbugs_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileLogic/test_knownbugs_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_KnownBugs.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(tensilelite): group resource helpers by feature
  projects/hipblaslt/tensilelite/Tensile/Resources.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): make runtime packages zip-importable
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Validators/__init__.py
  projects/hipblaslt/tensilelite/Tensile/Utilities/Decorators/__init__.py
  projects/hipblaslt/tensilelite/Tensile/Utilities/__init__.py
  projects/hipblaslt/tensilelite/Tensile/Utilities/archive/__init__.py
  projects/hipblaslt/tensilelite/Tensile/Utilities/tensile_generator/__init__.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): cover zip-backed package resources
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_resources.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(tensilelite): read bundled generator data through package resources
  projects/hipblaslt/tensilelite/Tensile/BenchmarkProblems.py
  projects/hipblaslt/tensilelite/Tensile/CustomKernels.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Resources.py
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/Run.py
  projects/hipblaslt/tensilelite/Tensile/TensileLogic/HandleCustomKernel.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileLogic/test_handlecustomkernel_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomKernels_resources.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_custom_kernel_occupancy.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_resources.py
  projects/hipblaslt/tensilelite/Tensile/__init__.py
  projects/hipblaslt/tensilelite/Tensile/ductile/config/__init__.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): remove import reintroduced by new test on develop
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_custom_kernel_staggeru_metadata.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

rename file
  projects/hipblaslt/tensilelite/Tensile/CustomKernels.py
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/Run.py
  projects/hipblaslt/tensilelite/Tensile/TensileLogic/KnownBugs.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_resources.py
  projects/hipblaslt/tensilelite/Tensile/__init__.py
  projects/hipblaslt/tensilelite/Tensile/ductile/config/__init__.py
  projects/hipblaslt/tensilelite/Tensile/resources.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove CUSTOM_KERNEL_PATH
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/CustomKernels.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/CustomKernels/test_custom_kernels_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/PackageInit/test_package_init_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomKernels_resources.py
  projects/hipblaslt/tensilelite/Tensile/__init__.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

formatting cleanup
  projects/hipblaslt/tensilelite/Tensile/TensileLogic/Run.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix up rebase issues
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/Run.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(ck-tile): enable GEMM bridges on gfx1250 (MI400) — universal + grouped + multi-D (#10921)
  projects/composablekernel/dispatcher/codegen/arch_specs_generated.py
  projects/composablekernel/dispatcher/python/gemm_utils.py
  projects/composablekernel/dispatcher/tests/test_gemm_utils.py
  projects/composablekernel/dispatcher/tests/test_multi_d_bridge.py
  projects/composablekernel/tile_engine/ops/gemm/configs/default_ci_config_gfx1250.json
  projects/composablekernel/tile_engine/ops/gemm/configs/default_ci_config_gfx1250_fp8.json
  projects/composablekernel/tile_engine/ops/gemm/gemm_multi_d/configs/default_ci_config_gfx1250.json
  projects/composablekernel/tile_engine/ops/gemm/gemm_multi_d_full_benchmark.py
  projects/composablekernel/tile_engine/ops/gemm/gemm_validation_utils.py
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm/configs/default_ci_config_gfx1250.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): clang-tidy fixes for shape-based dispatch (#10977)
  dnn-providers/hip-kernel-provider/src/engines/hip_flash2_engine/Flash2Dispatch.hpp
  dnn-providers/hip-kernel-provider/src/engines/hip_flash2_engine/HipFlash2FwdPlanBuilder.hpp
  dnn-providers/hip-kernel-provider/src/tests/engines/hip_flash2_engine/TestFlash2Dispatch.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci: gate multi-arch TheRock CI by label
  .github/workflows/therock-ci.yml
  .github/workflows/therock-multi-arch-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipdnn): grow the cuDNN compatibility shim toward upstream sample parity (#11388)
  projects/hipdnn/docs/rfcs/0012_CuDNN_Shim_Reference.md
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/cudnn.h
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/cudnn_frontend/graph_properties.h
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/cudnn_frontend/sdpa_attributes.h
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/cudnn_frontend_utils.h
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/cudnn_runtime_version.h
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/detail/graph_wrapper.h
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/detail/node_wrappers/unsupported_nodes.h
  projects/hipdnn/frontend/include/hipdnn_frontend/attributes/MoeGroupedMatmulAttributes.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/attributes/MoeGroupedMatmulBwdAttributes.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/attributes/ResampleFwdAttributes.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/attributes/TensorAttributes.hpp
  projects/hipdnn/frontend/tests/CMakeLists.txt
  projects/hipdnn/frontend/tests/TestCudnnShimGraph.cpp
  projects/hipdnn/frontend/tests/TestCudnnShimGraphNodes.cpp
  projects/hipdnn/frontend/tests/TestCudnnShimHandle.cpp
  projects/hipdnn/frontend/tests/TestCudnnShimUtils.cpp
  projects/hipdnn/frontend/tests/TestResampleFwdAttributes.cpp
  projects/hipdnn/frontend/tests/TestTensorAttributes.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(hip-kernel-provider): clang-format HipFlash2FwdPlanBuilder.cpp
  dnn-providers/hip-kernel-provider/src/engines/hip_flash2_engine/HipFlash2FwdPlanBuilder.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): [ROCM-30125] cherry-pick #11182 to BKC 10.1 (#11403)
  projects/hipblaslt/clients/tests/data/known_bugs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250v0/Origami/gfx1250v0_Cijk_Alik_Bljk_BBS_BH_Bias_HA_S_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): add missing PluginModuleDir.cpp to build target
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): resolve cgroup sysfs paths from mountinfo
  projects/hipblaslt/clients/common/include/cgroup_memory_probe.hpp
  projects/hipblaslt/clients/tests/src/cgroup_memory_probe_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(stinkytofu): drop a double blank line in InsertClusterBarrierPass
  shared/stinkytofu/src/transforms/asm/InsertClusterBarrierPass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(integration-tests): inject the bundle harness collaborators
  dnn-providers/integration-tests/CMakeLists.txt
  dnn-providers/integration-tests/src/harness/IReferenceExecutors.hpp
  dnn-providers/integration-tests/src/harness/IReferenceGraphExecutor.hpp
  dnn-providers/integration-tests/src/harness/ReferenceExecutorPool.cpp
  dnn-providers/integration-tests/src/harness/ReferenceExecutorPool.hpp
  dnn-providers/integration-tests/src/harness/VariantPack.hpp
  dnn-providers/integration-tests/src/harness/bundle/BundleReferenceValidationHarness.cpp
  dnn-providers/integration-tests/src/harness/bundle/BundleReferenceValidationHarness.hpp
  dnn-providers/integration-tests/src/harness/bundle/BundleRegistration.hpp
  dnn-providers/integration-tests/src/harness/bundle/FrontendGraphEngineRunner.cpp
  dnn-providers/integration-tests/src/harness/bundle/FrontendGraphEngineRunner.hpp
  dnn-providers/integration-tests/src/harness/bundle/HarnessDependencies.cpp
  dnn-providers/integration-tests/src/harness/bundle/HarnessDependencies.hpp
  dnn-providers/integration-tests/src/harness/bundle/HarnessPolicy.hpp
  dnn-providers/integration-tests/src/harness/bundle/IGraphEngineRunner.hpp
  dnn-providers/integration-tests/src/harness/bundle/ISupportClaimObserver.hpp
  dnn-providers/integration-tests/src/harness/bundle/IVerificationReporter.hpp
  dnn-providers/integration-tests/src/harness/bundle/IntegrationBundleVerificationHarness.cpp
  dnn-providers/integration-tests/src/harness/bundle/IntegrationBundleVerificationHarness.hpp
  dnn-providers/integration-tests/tests/BundleFixtureFiles.hpp
  dnn-providers/integration-tests/tests/CMakeLists.txt
  dnn-providers/integration-tests/tests/HarnessTestSupport.hpp
  dnn-providers/integration-tests/tests/TestBundleVerificationHarness.cpp
  dnn-providers/integration-tests/tests/TestEnforcementRungs.cpp
  dnn-providers/integration-tests/tests/TestErrorPaths.cpp
  dnn-providers/integration-tests/tests/TestSupportClaimEnforcement.cpp
  dnn-providers/integration-tests/tests/TestVerificationModePaths.cpp
  dnn-providers/integration-tests/tests/main.cpp
  dnn-providers/integration-tests/tests/mocks/MockGraphEngineRunner.hpp
  dnn-providers/integration-tests/tests/mocks/MockReferenceExecutors.hpp
  dnn-providers/integration-tests/tests/mocks/MockSupportClaimObserver.hpp
  dnn-providers/integration-tests/tests/mocks/MockVerificationReporter.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(hkp_pack): trim the parallel prewarm comments to ambient
  dnn-providers/hip-kernel-provider/descriptor-packaging/python/hkp_pack/pipeline.py
  dnn-providers/hip-kernel-provider/descriptor-packaging/tests/test_hkp_pack_parallel.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

build(hipdnn): make the dnn-providers clang-format targets work on Windows
  dnn-providers/cmake/ClangCheck.cmake
  dnn-providers/cmake/RunClangFormat.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hipblaslt): strengthen live cgroup probe integration tests
  projects/hipblaslt/clients/tests/src/cgroup_memory_probe_gtest.cpp
  projects/hipblaslt/clients/tests/src/host_memory_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(hipblaslt): use SPDX header in host_memory_gtest.cpp
  projects/hipblaslt/clients/tests/src/host_memory_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hipDNN: fix clang-format violations and Windows CRLF in LineStoreLockHelper
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/CacheRoot.hpp
  projects/hipdnn/data_sdk/tests/utilities/LineStoreLockHelper.cpp
  projects/hipdnn/data_sdk/tests/utilities/TestLineStore.cpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/GenericPlanBuilder.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/KernelIngestorStateManager.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/WinnerCacheFile.hpp
  projects/hipdnn/plugin_sdk/tests/ingestor/TestGenericPlanBuilder.cpp
  projects/hipdnn/plugin_sdk/tests/ingestor/TestWinnerCache.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Extract the GR cooperative-spread planner and guard its inputs
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGeometry.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_gr_coop_spread.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): log cgroup probe read failures on the live path
  projects/hipblaslt/clients/common/include/cgroup_memory_probe.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update install.rst
  projects/hipsparse/docs/install/install.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test: drop the odd M/N sizes from the TLU=1 subtile suite
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_mxfp4_tlu1.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update install.rst
  projects/rocsparse/docs/install/install.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update therock-multi-arch-ci.yml
  .github/workflows/therock-multi-arch-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(frontend): stop autotune demanding UIDs for pass-by-value tensors
  projects/hipdnn/frontend/include/hipdnn_frontend/Graph.hpp
  projects/hipdnn/frontend/tests/TestGraph.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(tensilelite): de-duplicate and unstale the TLU swizzle comments
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileTLUSwizzle.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(tensilelite): drop the unreachable stack-32 col-scatter case
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileTLUSwizzle.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
