Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

ci(ck-tile): stop the dispatcher lane reporting false greens
  projects/composablekernel/Dockerfile
  projects/composablekernel/dispatcher/tests/test_gemm_parity.py
  projects/composablekernel/groovy/vars/ck.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensile): stop emitting spurious "non-default ROCm location" toolchain warnings
  shared/tensile/CHANGELOG.md
  shared/tensile/Tensile/Utilities/Toolchain.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

cleanup(tensilelite): remove disconnected OpenCL runtime
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/Tensile.py
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/ParseArguments.py
  projects/hipblaslt/tensilelite/Tensile/Tests/build_client.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/nan_bounds_check_odd_padding.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/use_beta_false.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/ParseArguments/test_parse_arguments_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/PublicInputSurface/test_pchaos_Tensile_L239_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileMain/test_tensile_helpers_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_assignGlobalParameters_types.py
  projects/hipblaslt/tensilelite/client/main.cpp
  projects/hipblaslt/tensilelite/include/Tensile/ocl/OclFwd.hpp
  projects/hipblaslt/tensilelite/include/Tensile/ocl/OclHardware.hpp
  projects/hipblaslt/tensilelite/include/Tensile/ocl/OclSolutionAdapter.hpp
  projects/hipblaslt/tensilelite/include/Tensile/ocl/OclUtils.hpp
  projects/hipblaslt/tensilelite/src/ocl/CMakeLists.txt
  projects/hipblaslt/tensilelite/src/ocl/OclHardware.cpp
  projects/hipblaslt/tensilelite/src/ocl/OclSolutionAdapter.cpp
  projects/hipblaslt/tensilelite/src/ocl/OclUtils.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hipblaslt): unit-test cgroup host-memory probe parsing
  projects/hipblaslt/clients/common/include/cgroup_memory_probe.hpp
  projects/hipblaslt/clients/common/include/d_vector.hpp
  projects/hipblaslt/clients/tests/src/CMakeLists.txt
  projects/hipblaslt/clients/tests/src/cgroup_memory_probe_gtest.cpp
  projects/hipblaslt/clients/tests/src/host_memory_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): fail host OOM fatally in gtest, exit in bench
  projects/hipblaslt/clients/common/include/d_vector.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci(hipblaslt): restrict rocjitsu race checks to direct triggers (#10504)
  .github/scripts/tests/therock_configure_ci_test.py
  .github/scripts/tests/therock_matrix_test.py
  .github/scripts/therock_configure_ci.py
  .github/scripts/therock_matrix.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Support mixed TLU subtile layouts for NN and TT
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/InstructionEmitter.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGREmit.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileLREmit.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/f4_subtile.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(miopen): remove dead build/doc infra files (B5)
  projects/miopen/cmake/rocm-path.cmake
  projects/miopen/custom.properties
  projects/miopen/docs/CMakeLists.txt
  projects/miopen/install_deps.cmake
  projects/miopen/min-requirements.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

- Clean up.
  projects/rocfft/library/src/device/generator/fftgenerator.h
  projects/rocfft/library/src/device/generator/stockham_gen_rr.h
  projects/rocfft/library/src/device/generator/stockham_pp_gen_rr.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): replace raw delete with RAII std::unique_ptr in destroy functions
  projects/hipdnn/backend/src/HipdnnBackend.cpp
  projects/hipdnn/backend/src/descriptors/DescriptorFactory.cpp
  projects/hipdnn/backend/src/handle/HandleFactory.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): resolve workspace alignment TODO with architecture rationale
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaKernelUtils.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(miopen): remove dead driver CPU-verify headers (B-1, B-2)
  projects/miopen/driver/bn_driver.hpp
  projects/miopen/driver/conv_driver.hpp
  projects/miopen/driver/conv_verify.hpp
  projects/miopen/driver/miopen_BatchNormHost.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fixed config script to not include non pows of 2s for lfsr
  projects/rocrand/scripts/config-tuning/select_best_config.py
  projects/rocrand/scripts/config-tuning/splice_config.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix raw buffer initialization
  projects/rocsolver/library/src/auxiliary/rocauxiliary_latrd.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Revert "fixed config script to not include non pows of 1s for lfsr"
  projects/rocrand/scripts/config-tuning/select_best_config.py
  projects/rocrand/scripts/config-tuning/splice_config.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

updated lfsr113 to have a pow2 block size on gfx950
  projects/rocrand/library/src/rng/config/lfsr113_config.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocfft): reject zero lengths and batch in plan creation instead of hanging
  projects/rocfft/clients/tests/unit_test.cpp
  projects/rocfft/library/src/plan.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

- Add missing append_index in real/complex copy kernels.
  projects/rocfft/library/src/rtc_realcomplex_kernel.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipdnn): specify what the tooling should do, not what it does
  projects/hipdnn/docs/rfcs/0019.13_TrainingMethodology.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(data_sdk): stop converting small-payload float NaNs to infinity
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/types/Half.hpp
  projects/hipdnn/data_sdk/tests/types/TestHalf.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Reserve paired-read headroom for row-major subtile LDS regions
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): make the dispatcher fp8/bf8 encoding follow the target arch
  projects/composablekernel/dispatcher/python/dispatcher_common.py
  projects/composablekernel/dispatcher/python/fmha_utils.py
  projects/composablekernel/dispatcher/python/gemm_utils.py
  projects/composablekernel/dispatcher/python/grouped_gemm_abquant_utils.py
  projects/composablekernel/dispatcher/python/grouped_gemm_aquant_utils.py
  projects/composablekernel/dispatcher/python/grouped_gemm_bquant_utils.py
  projects/composablekernel/dispatcher/python/grouped_gemm_rowcolquant_utils.py
  projects/composablekernel/dispatcher/python/grouped_gemm_tensorquant_utils.py
  projects/composablekernel/dispatcher/tests/test_gemm_parity.py
  projects/composablekernel/dispatcher/tests/test_gemm_utils.py
  projects/composablekernel/dispatcher/tests/test_rowcolquant_gpu_correctness.py
  projects/composablekernel/dispatcher/tests/test_tensorquant_gpu_correctness.py
  projects/composablekernel/groovy/vars/ck.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

- More.
  projects/rocfft/library/src/device/generator/stockham_pp_gen_cc.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(miopen): remove dead unused headers (H3a, H4)
  projects/miopen/src/CMakeLists.txt
  projects/miopen/src/base64.cpp
  projects/miopen/src/include/miopen/kernel_cache_key.hpp
  projects/miopen/src/include/miopen/make_unique.hpp
  projects/miopen/src/include/miopen/utility/base64.hpp
  projects/miopen/src/include/miopen/utility/scope.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci(ck-tile): run Stream-K on gfx950
  projects/composablekernel/dispatcher/tests/test_streamk_gpu_correctness.py
  projects/composablekernel/groovy/vars/ck.groovy
  projects/composablekernel/tile_engine/ops/gemm_streamk/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(ck-tile): exercise all four Multi-D GEMM layouts
  projects/composablekernel/dispatcher/tests/test_gemm_search_space.py
  projects/composablekernel/dispatcher/tests/test_multi_d_gpu_correctness.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

- More fixes.
  projects/rocfft/library/src/rtc_realcomplex_gen.cpp
  projects/rocfft/library/src/rtc_realcomplex_kernel.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

- More plumbing.
  projects/rocfft/library/src/include/rtc_realcomplex_kernel.h
  projects/rocfft/library/src/rtc_realcomplex_kernel.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

remove ~~~ accidentally added to d_vector.hpp
  projects/hipblaslt/clients/common/include/d_vector.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): make the library/src regression guard evaluate path expressions, not just literals
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/DECISIONS.md
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_no_library_src_dependency_char.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rpp): add DIST family union to nightly matrix to stop HIP QA clobber
  .github/scripts/therock_matrix.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(ck-tile): exercise bf16 and fp32 in the batched-contraction GPU test
  projects/composablekernel/dispatcher/python/batched_contraction_utils.py
  projects/composablekernel/dispatcher/tests/test_batched_contraction_gpu_correctness.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Changelog entry
  projects/rocfft/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix hw parameters
  shared/origami/include/origami/hardware.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Some updates to batched and small K problems
  shared/origami/include/origami/heuristics.hpp
  shared/origami/src/origami/gemm.cpp
  shared/origami/tests/test_gemm.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Changelog entry
  projects/hipfft/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove instances of dead code
  projects/rpp/src/modules/tensor/hip/kernel/blend.cpp
  projects/rpp/src/modules/tensor/rppt_tensor_arithmetic_operations.cpp
  projects/rpp/src/modules/tensor/rppt_tensor_filter_augmentations.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocsparse): add ELL storage fields to the shared TRM info structures
  projects/rocsparse/library/src/common/rocsparse_mat_info.cpp
  projects/rocsparse/library/src/common/rocsparse_trm_data_t.cpp
  projects/rocsparse/library/src/common/rocsparse_trm_info.cpp
  projects/rocsparse/library/src/common/rocsparse_trm_t.cpp
  projects/rocsparse/library/src/include/rocsparse_ellsv_info.hpp
  projects/rocsparse/library/src/include/rocsparse_mat_info.hpp
  projects/rocsparse/library/src/include/rocsparse_trm_data_t.hpp
  projects/rocsparse/library/src/include/rocsparse_trm_info.hpp
  projects/rocsparse/library/src/include/rocsparse_trm_t.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocsparse): add native ELL triangular solve kernels
  projects/rocsparse/library/src/CMakeLists.txt
  projects/rocsparse/library/src/include/rocsparse_trm_data_t.hpp
  projects/rocsparse/library/src/level2/ellsv_device.h
  projects/rocsparse/library/src/level2/rocsparse_ellsv.cpp
  projects/rocsparse/library/src/level2/rocsparse_ellsv.hpp
  projects/rocsparse/library/src/level2/rocsparse_ellsv_analysis.cpp
  projects/rocsparse/library/src/level2/rocsparse_ellsv_solve.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Clang formatting
  projects/rocsparse/library/src/level2/rocsparse_ellsv.cpp
  projects/rocsparse/library/src/level2/rocsparse_ellsv_analysis.cpp
  projects/rocsparse/library/src/level2/rocsparse_ellsv_solve.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
