Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Fix casting in bf16 tanh method
  dnn-providers/hip-kernel-provider/src/engines/hip_mlops_engine/kernels/common/HipKernelMath.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove unused ushort-bf16 conversion union
  dnn-providers/hip-kernel-provider/src/engines/hip_mlops_engine/kernels/common/HipKernelMath.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update batchnorm/Configuration.hpp
  dnn-providers/hip-kernel-provider/src/engines/hip_mlops_engine/kernels/batchnorm/Configuration.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocsparse): Add batching support to SpMM non-zero split algorithm (#9899)
  projects/rocsparse/CHANGELOG.md
  projects/rocsparse/CMakeLists.txt
  projects/rocsparse/clients/tests/test_spmm_batched_csr.yaml
  projects/rocsparse/library/include/internal/generic/rocsparse_spmm.h
  projects/rocsparse/library/src/common/rocsparse_common.cpp
  projects/rocsparse/library/src/level3/csrmm/nnz_split/kernel_declarations.h
  projects/rocsparse/library/src/level3/csrmm/nnz_split/kernel_definitions.h
  projects/rocsparse/library/src/level3/csrmm_device_nnz_split.h
  projects/rocsparse/library/src/level3/rocsparse_csrmm.hpp
  projects/rocsparse/library/src/level3/rocsparse_csrmm_buffer_size.cpp
  projects/rocsparse/library/src/level3/rocsparse_csrmm_impl.cpp
  projects/rocsparse/library/src/level3/rocsparse_csrmm_template_nnz_split.cpp
  projects/rocsparse/library/src/level3/rocsparse_spmm.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Use battch sttride of 65535
  projects/rocsparse/library/src/level3/rocsparse_csrmm_template_nnz_split.cpp
  projects/rocsparse/library/src/level3/rocsparse_csrmm_template_row_split.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(rocke): apply black formatting to test_pipeline_basic.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_pipeline_basic.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipcub): drop removed headers from hipCUB and tests (#10120)
  projects/hipccl/hipccl3/hipcub/hipcub/include/hipcub/backend/cub/grid/grid_barrier.hpp
  projects/hipccl/hipccl3/hipcub/hipcub/include/hipcub/backend/cub/hipcub.hpp
  projects/hipccl/hipccl3/hipcub/hipcub/include/hipcub/backend/rocprim/grid/grid_barrier.hpp
  projects/hipccl/hipccl3/hipcub/hipcub/include/hipcub/backend/rocprim/hipcub.hpp
  projects/hipccl/hipccl3/hipcub/test/hipcub/test_utils.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipcub): drop removed headers from hipCUB and tests (#10120)
  projects/hipccl/hipccl2/hipcub/hipcub/include/hipcub/backend/cub/grid/grid_barrier.hpp
  projects/hipccl/hipccl2/hipcub/hipcub/include/hipcub/backend/cub/hipcub.hpp
  projects/hipccl/hipccl2/hipcub/hipcub/include/hipcub/backend/rocprim/grid/grid_barrier.hpp
  projects/hipccl/hipccl2/hipcub/hipcub/include/hipcub/backend/rocprim/hipcub.hpp
  projects/hipccl/hipccl2/hipcub/test/hipcub/test_utils.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipcub): drop removed headers from hipCUB and tests (#10120)
  projects/hipcub/hipcub/include/hipcub/backend/cub/grid/grid_barrier.hpp
  projects/hipcub/hipcub/include/hipcub/backend/cub/hipcub.hpp
  projects/hipcub/hipcub/include/hipcub/backend/rocprim/grid/grid_barrier.hpp
  projects/hipcub/hipcub/include/hipcub/backend/rocprim/hipcub.hpp
  projects/hipcub/test/hipcub/test_utils.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): hard-fail runtime pass-by-value invariant violations and fix scale-tensor uid collision
  dnn-providers/integration-tests/integration_test_bundles/README.md
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/bf16/Small/Small.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/bf16/Small/Small.meta.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/bf16/hd128_causal_batch/Small/Small.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/bf16/hd128_causal_batch/Small/Small.meta.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/bf16/hd128_causal_group/Small/Small.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/bf16/hd128_causal_group/Small/Small.meta.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/bf16/hd128_nomask_batch/Small/Small.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/bf16/hd128_nomask_batch/Small/Small.meta.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/bf16/hd128_nomask_batch_stats/SmallStats/SmallStats.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/bf16/hd128_nomask_batch_stats/SmallStats/SmallStats.meta.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/bf16/hd128_nomask_group/Small/Small.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/bf16/hd128_nomask_group/Small/Small.meta.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/bf16/hd192_causal_batch/Small/Small.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/bf16/hd192_causal_batch/Small/Small.meta.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/bf16/hd192_nomask_batch/Small/Small.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/bf16/hd192_nomask_batch/Small/Small.meta.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/fp16/hd128_causal_batch/Small/Small.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/fp16/hd128_causal_batch/Small/Small.meta.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/fp16/hd128_nomask_batch/Small/Small.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/fp16/hd128_nomask_batch/Small/Small.meta.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/fp16/hd128_nomask_batch_stats/SmallStats/SmallStats.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/fp16/hd128_nomask_batch_stats/SmallStats/SmallStats.meta.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/fp16/hd192_causal_batch/Small/Small.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/fp16/hd192_causal_batch/Small/Small.meta.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/fp16/hd192_nomask_batch/Small/Small.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/fp16/hd192_nomask_batch/Small/Small.meta.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/fp8/hd128_causal_batch/Small/Small.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/fp8/hd128_causal_batch/Small/Small.meta.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/fp8/hd128_causal_group/Small/Small.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/fp8/hd128_causal_group/Small/Small.meta.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/fp8/hd128_nomask_batch/Small/Small.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/bhsd/fp8/hd128_nomask_batch/Small/Small.meta.json
  dnn-providers/integration-tests/integration_test_bundles/quick/SdpaFwdRuntimeScale/regenerate_bundles.sh
  dnn-providers/integration-tests/migration-scripts/run_capture_pipeline.sh
  dnn-providers/integration-tests/reference_data_scripts/generate_sdpa_runtime_scale_test_bundle.py
  dnn-providers/integration-tests/src/harness/bundle/BundleRegistration.hpp
  dnn-providers/integration-tests/src/harness/bundle/IntegrationTestBundle.hpp
  dnn-providers/integration-tests/tests/TestBundleDiscovery.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(stinkytofu): clear AnalysisManager cache between Function swaps in DAG scheduler tests
  shared/stinkytofu/tests/unit/asm/DAGSchedulerPassTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Updated blockscale and MX moe gemm kernels
  projects/composablekernel/example/65_gemm_multiply_multiply/moe_gemm1_xdl_fp8_blockscale.cpp
  projects/composablekernel/example/65_gemm_multiply_multiply/moe_gemm1_xdl_fp8_blockscale_splitk.cpp
  projects/composablekernel/example/67_gemm_microscaling/moe_gemm1_xdl_mx_fp4.cpp
  projects/composablekernel/example/67_gemm_microscaling/moe_gemm1_xdl_mx_fp4_bns.cpp
  projects/composablekernel/example/67_gemm_microscaling/moe_gemm1_xdl_mx_fp4_bpreshuffle.cpp
  projects/composablekernel/include/ck/tensor_operation/gpu/grid/gridwise_moe_gemm.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/grid/gridwise_moe_gemm_blockscale.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/grid/gridwise_moe_mx_gemm.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/grid/gridwise_moe_mx_gemm_bns.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/grid/gridwise_moe_mx_gemm_bpreshuffle.hpp
  projects/composablekernel/library/include/ck/library/reference_tensor_operation/cpu/reference_moe_gemm1_blockscale.hpp
  projects/composablekernel/library/include/ck/library/reference_tensor_operation/cpu/reference_moe_mx_gemm1.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixed clang-format
  projects/composablekernel/example/65_gemm_multiply_multiply/moe_gemm1_xdl_fp8.cpp
  projects/composablekernel/example/65_gemm_multiply_multiply/moe_gemm1_xdl_fp8_blockscale_splitk.cpp
  projects/composablekernel/example/67_gemm_microscaling/moe_gemm1_xdl_mx_fp4.cpp
  projects/composablekernel/example/67_gemm_microscaling/moe_gemm1_xdl_mx_fp4_bns.cpp
  projects/composablekernel/example/67_gemm_microscaling/moe_gemm1_xdl_mx_fp4_bpreshuffle.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Applied comments
  projects/composablekernel/example/65_gemm_multiply_multiply/CMakeLists.txt
  projects/composablekernel/example/65_gemm_multiply_multiply/moe_gemm1_xdl_fp8.cpp
  projects/composablekernel/example/65_gemm_multiply_multiply/moe_gemm1_xdl_fp8_blockscale_splitk.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Added opportunity use GeluTanh in the example 'moe_gemm1_xdl_fp8'
  projects/composablekernel/example/65_gemm_multiply_multiply/moe_gemm1_xdl_fp8.cpp
  projects/composablekernel/library/include/ck/library/reference_tensor_operation/cpu/reference_moe_gemm.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(ck): Added Gelu with Tanh approx to XDL 2-stage MoE epilogue
  projects/composablekernel/include/ck/tensor_operation/gpu/grid/gridwise_gemm_xdl_cshuffle_common.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/grid/gridwise_moe_gemm.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixed build
  projects/composablekernel/example/65_gemm_multiply_multiply/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[miopen][winograd][gfx942][gfx950] Enable bf16 for Winograd Rage
  projects/miopen/src/CMakeLists.txt
  projects/miopen/src/kernels/winograd/Conv_Winograd_Rage_v4_9_1_bf16_fp32acc_f2x3_stride1.s
  projects/miopen/src/kernels/winograd/Conv_Winograd_Rage_v4_9_1_gfx94x_gfx95x_bf16_fp32acc_f2x3_stride1.inc
  projects/miopen/src/solver/conv/conv_wino_rage_RxS.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvWinoRageRxS.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[miopen][winograd][gfx942][gfx950] Add BFP16 NHWC tests for TransposedConvWinoRageRxS
  projects/miopen/test/gtest/unit_conv_solver_ConvWinoRageRxS.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[miopen][winograd][gfx942][gfx950] Harden Winograd Rage bf16 tests
  projects/miopen/test/gtest/cba_find2_infer.cpp
  projects/miopen/test/gtest/cba_infer.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvWinoRageRxS.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update projects/hiptensor/docs/install/installation.rst
  projects/hiptensor/docs/install/installation.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Triple operand macro definition
  dnn-providers/hip-kernel-provider/src/engines/hip_mlops_engine/kernels/common/HipKernelMath.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke): add the gfx942 dense flash-attention prefill kernel
  dnn-providers/hip-kernel-provider/rocke/library/kernels/__init__.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/attention_dense.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(rocke): share the attention LDS-capacity accessor
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/attention_arch.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/attention_tiled_2d.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocke): fuse the softmax rescale and widen exp2_fast to bf16 D64
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/attention_dense.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocke): add CPU surface and dispatch-wiring tests for gfx942 attention_dense
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_gfx942_dense_wiring.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke): register opt-in gfx942 attention_dense dispatch candidate
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/AGENTS.md
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocke): use exp2_fast in the gfx942 dense softmax
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/attention_dense.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocke): lift conflict-free-V into the gfx942 dense prefill kernel
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/attention_dense.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke): add the gfx942 dense prefill builder and live benchmark
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx942/attention/prefill/benchmark_dense_prefill_live.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx942/attention/prefill/README.md
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx942/attention/prefill/_p0_occupancy.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx942/attention/prefill/attention_dense_prefill.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

perf(rocke): tune gfx942 dense waves-per-eu to reach 2 WG/CU at bf16 D64
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/attention_dense.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocke): add the gfx942 dense persistent grid-stride variant
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/attention_dense.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_gfx942_dense_wiring.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocke): add the default-off _P0_IGLP scheduler-hint knob
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/attention_dense.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocke): adopt the gfx942 D64 K-bank-conflict pad
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/attention_dense.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx950/attention_dense.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke): implement the gfx942 run_attention_dense_torch entry point
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/attention_dense.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocke): add the gfx942 dense golden-IR lane
  dnn-providers/hip-kernel-provider/rocke/library/tests/golden/attention_dense_gfx942_ir_sha256.json
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942_golden.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocke): wire the rocKE library tests into a collectable CI lane
  dnn-providers/hip-kernel-provider/rocke/library/tests/pytest.ini
  dnn-providers/hip-kernel-provider/rocke/library/tests/run_all.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942_golden.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942_numeric.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocke): correct the bf16-D128 sliced-K ring gate test
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_dense_pipe_wiring.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocke): re-baseline the gfx942 dense kernel and README to the measured bound
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx942/attention/prefill/README.md
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/attention_dense.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix comments form copilot
  projects/rocsolver/library/src/lapack/roclapack_sygst_hegst.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
