Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[rocfft] add a perf suite for some real 2D sizes computed as a single kernel
  projects/rocfft/scripts/perf/suites.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocfft] Add write thread guard for in-place real pre-/post-processing in kernels for 2D real transforms
  projects/rocfft/library/src/device/generator/stockham_gen_base.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Moved CHANGELOG entry
  projects/rocfft/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CHANGELOG
  projects/rocfft/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Extract MX scale-format validator into Validators/ module
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Validators/MXScaleFormat.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_MXScaleFormatValidation.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci: revert tr_rand_cub_thrust TheRock pin to develop
  .github/workflows/therock-test-component.yml
  .github/workflows/therock-test-packages.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fft: change callback param from bool to enum
  projects/hipfft/clients/hipfft_params.h
  projects/hipfft/clients/tests/accuracy_test_1D.cpp
  projects/hipfft/clients/tests/accuracy_test_2D.cpp
  projects/hipfft/clients/tests/accuracy_test_3D.cpp
  projects/hipfft/clients/tests/accuracy_test_callback.cpp
  projects/hipfft/clients/tests/gtest_main.cpp
  projects/hipfft/clients/tests/multi_device_test.cpp
  projects/hipfft/shared/accuracy_test.h
  projects/hipfft/shared/fft_enums.h
  projects/hipfft/shared/fft_params.h
  projects/hipfft/shared/mpi_worker.h
  projects/hipfft/shared/params_gen.h
  projects/hipfft/shared/reference_fft_data.h
  projects/hipfft/shared/rocfft_params.h
  projects/hipfft/shared/test_callbacks.cpp
  projects/hipfft/shared/test_callbacks.h
  projects/rocfft/clients/tests/accuracy_test_3D.cpp
  projects/rocfft/clients/tests/accuracy_test_callback.cpp
  projects/rocfft/clients/tests/callback_change_type.cpp
  projects/rocfft/clients/tests/gtest_main.cpp
  projects/rocfft/clients/tests/multi_device_test.cpp
  projects/rocfft/shared/accuracy_test.h
  projects/rocfft/shared/fft_enums.h
  projects/rocfft/shared/fft_params.h
  projects/rocfft/shared/mpi_worker.h
  projects/rocfft/shared/params_gen.h
  projects/rocfft/shared/reference_fft_data.h
  projects/rocfft/shared/rocfft_params.h
  projects/rocfft/shared/test_callbacks.cpp
  projects/rocfft/shared/test_callbacks.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add back gfx1150
  projects/rocprim/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add VEC_K_COL_V KV cache layout for FP8 batch_prefill
  projects/composablekernel/example/ck_tile/01_fmha/codegen/ops/fmha_batch_prefill.py
  projects/composablekernel/example/ck_tile/01_fmha/fmha_fwd.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/block/block_attention_kvcache_layout_enum.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/kernel/fmha_batch_prefill_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_batch_prefill_pipeline_qr_ks_vs_async.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_batch_prefill_pipeline_qr_ks_vs_async_default_policy.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_problem.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/tile_fmha_traits.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update test marks
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/sk_dynamic.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

MFXP8 test config.
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_mxfp8.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[Tests] Port MXFP8 multi-DU correctness regression yamls (PR 7781)
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_mxfp8_correctness_regression.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_mxfp8_correctness_regression_mt192x256_plr1_wgm4.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_mxfp8_correctness_regression_mt256x192_plr1_wgm1.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_mxfp8_correctness_regression_mt256x320_plr0_wgm1.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_mxfp8_correctness_regression_mt320x256_plr1_wgm4.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[SubtileImpl][Scheduler] Fix multi-DU asymmetric-MIWT LR-vs-GR race (PR 7781)
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Apply clang-format fixes
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/FileUtilities.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/detail/TensorFileUtils.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[integration-tests] Address PR review comments
  dnn-providers/integration-tests/src/integration_tests/batchnorm/IntegrationGpuBatchnormBackward.cpp
  dnn-providers/integration-tests/src/integration_tests/batchnorm/IntegrationGpuBatchnormBackwardActivation.cpp
  dnn-providers/integration-tests/src/main.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add credentials to docker manifest inspect call
  projects/composablekernel/Jenkinsfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Adding new hash
  .github/actions/ci-env/action.yml
  .github/workflows/therock-test-component.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] Use @Library shared library for ck.groovy, address PR review
  projects/composablekernel/Jenkinsfile
  projects/composablekernel/vars/ck.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[ck] Convert reflect/ rendering to ASCII for hipRTC compatibility
  projects/composablekernel/experimental/builder/include/ck_tile/builder/reflect/conv_description.hpp
  projects/composablekernel/experimental/builder/include/ck_tile/builder/reflect/tree_formatter.hpp
  projects/composablekernel/experimental/builder/test/test_conv_description.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

adding new artifacts
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-windows.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[Tests] Update yaml docstrings post-reconcile with author's upstream fixes
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_mxfp8_correctness_regression.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_mxfp8_correctness_regression_mt192x256_plr1_wgm4.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_mxfp8_correctness_regression_mt256x192_plr1_wgm1.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_mxfp8_correctness_regression_mt256x320_plr0_wgm1.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_mxfp8_correctness_regression_mt320x256_plr1_wgm4.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[ck] Enforce ASCII-only C/C++ sources for hipRTC compatibility
  projects/composablekernel/.pre-commit-config.yaml
  projects/composablekernel/Jenkinsfile
  projects/composablekernel/script/check_ascii_only.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] Replace @Library with loadCk() for restart-from-stage safety
  projects/composablekernel/Jenkinsfile
  projects/composablekernel/vars/ck.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Add per-engine support-claim sidecars (RFC 0012)
  dnn-providers/integration-tests/CMakeLists.txt
  dnn-providers/integration-tests/docs/support-claims-bringup.md
  dnn-providers/integration-tests/docs/support-claims-failures.md
  dnn-providers/integration-tests/docs/support-claims-schema.md
  dnn-providers/integration-tests/src/harness/GraphDescription.hpp
  dnn-providers/integration-tests/src/harness/IntegrationGraphVerificationHarness.hpp
  dnn-providers/integration-tests/src/harness/SupportClaims.cpp
  dnn-providers/integration-tests/src/harness/SupportClaims.hpp
  dnn-providers/integration-tests/src/harness/SupportClaimsAutoGen.cpp
  dnn-providers/integration-tests/src/harness/SupportClaimsAutoGen.hpp
  dnn-providers/integration-tests/src/harness/SupportClaimsVerifier.cpp
  dnn-providers/integration-tests/src/harness/SupportClaimsVerifier.hpp
  dnn-providers/integration-tests/src/harness/SupportMatrixCollector.hpp
  dnn-providers/integration-tests/src/harness/TestConfig.hpp
  dnn-providers/integration-tests/src/harness/TestSettings.hpp
  dnn-providers/integration-tests/src/main.cpp
  dnn-providers/integration-tests/tests/CMakeLists.txt
  dnn-providers/miopen-provider/config/MIOPEN_ENGINE.supported.toml
  dnn-providers/miopen-provider/config/MIOPEN_ENGINE.toml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Fix CI build by computing rocm_package_version
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-nightly.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK Tile] mxfp6 sync pipeline: ds_write_b128 eliminates LDS unaligned stall
  projects/composablekernel/include/ck_tile/core/tensor/buffer_view.hpp
  projects/composablekernel/include/ck_tile/ops/flatmm/pipeline/mx_flatmm_pipeline_agmem_bgmem_creg_v1_sync_policy.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

adding correct dir
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-windows.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add ISA to subtile BF16 gfx1250 YAML GlobalParameters for AM compatibility
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/subtile_bf16_gfx1250.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] Add hipDNN provider implementation plan (v0.9).
  projects/composablekernel/python/ck_dsl/dsl_docs/hipdnn_provider/plan.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] Add hipDNN provider implementation plan (v0.9) (#7895)
  projects/composablekernel/python/ck_dsl/dsl_docs/hipdnn_provider/plan.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] Add hipDNN provider implementation plan (v0.9) (#7895)
  projects/composablekernel/python/ck_dsl/dsl_docs/hipdnn_provider/plan.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Ignore transient support-claims artifacts
  dnn-providers/integration-tests/.gitignore
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Surface matching matcher's source location in Rule A output
  dnn-providers/integration-tests/src/harness/SupportClaimsVerifier.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

all
  .github/workflows/therock-test-component.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Skip TF32 emulation INF test on gfx1250
  projects/hipblaslt/clients/tests/data/known_bugs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

rocfft: disable TheRock RPATH override on rtc helper
  projects/rocfft/library/src/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocsolver] Replace manual shift_left warp reductions with DPP-based helpers
  projects/rocsolver/library/src/auxiliary/rocauxiliary_lange.hpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_larf.hpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_latrd.hpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_latrd_forsytrd.hpp
  projects/rocsolver/library/src/include/lapack_device_functions.hpp
  projects/rocsolver/library/src/include/lib_device_helpers.hpp
  projects/rocsolver/library/src/lapack/roclapack_geqr2.hpp
  projects/rocsolver/library/src/lapack/roclapack_sytd2_hetd2.hpp
  projects/rocsolver/library/src/specialized/rocauxiliary_larfg_specialized_kernels.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN][SDPA] Refactor bwd dispatch tuples to named struct
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaBwdPlanBuilder.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix dates
  projects/hipsparse/clients/tests/hipsparse_test_enum.hpp
  projects/hipsparse/library/include/hipsparse-generic-types.h
  projects/hipsparse/library/include/hipsparse-version.h.in
  projects/hipsparse/library/src/amd_detail/hipsparse_generic_auxiliary.cpp
  projects/hipsparse/library/src/nvidia_detail/hipsparse_generic_auxiliary.cpp
  projects/hipsparse/library/src/nvidia_detail/utility.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocsolver] Extend DPP reductions to sytrs, lacn2; add fallbacks and docs
  projects/rocsolver/library/src/include/lapack_device_functions.hpp
  projects/rocsolver/library/src/include/lib_device_helpers.hpp
  projects/rocsolver/library/src/lapack/roclapack_sytrs.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
