Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

test(tensilelite): strengthen persistent vector epilogue coverage
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/bf16_vector_epilogue_persistent.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_PrefetchAcrossPersistent.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Enable saving of benchmark data from intermediate GA iterations
  projects/hipblaslt/tensilelite/Tensile/backends/ductile_backend.py
  projects/hipblaslt/tensilelite/Tensile/ductile/algorithm/ga.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocfft): add multi-device Bluestein tests
  projects/rocfft/clients/tests/multi_device_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

reverted hipccl port
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/config/device_find_first_of.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/config/device_run_length_encode.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/config/device_run_length_encode_non_trivial.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/config/device_topk_air.hpp
  projects/hipccl/hipccl3/rocprim/tuning/confgen/templates/device_adjacent_difference.h.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/confgen/templates/device_adjacent_find.h.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/confgen/templates/device_find_first_of.h.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/confgen/templates/device_run_length_encode.h.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/confgen/templates/device_run_length_encode_non_trivial.h.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/confgen/templates/device_segmented_topk_air.h.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/confgen/templates/device_topk_air.h.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/run_tuning.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/base_tuner.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_adjacent_difference_inplace.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_adjacent_find.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_find_first_of.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_run_length_encode.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_run_length_encode_non_trivial.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_search_n.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_segmented_topk_air.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_topk_air.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_adjacent_difference.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_adjacent_difference_inplace.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_adjacent_find.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_find_first_of.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_lower_bound.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_run_length_encode.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_run_length_encode_non_trivial.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_search_n.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_segmented_topk_air.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_topk_air.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_upper_bound.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix cotenant.hpp build under poisoned stdio identifiers
  projects/hipblaslt/clients/scripts/cotenant/cotenant.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Make cotenant log helper portable to Windows
  projects/hipblaslt/clients/scripts/cotenant/cotenant.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Exclude in-process cotenant from Windows builds
  projects/hipblaslt/clients/bench/src/client.cpp
  projects/hipblaslt/clients/scripts/cotenant/README.md
  projects/hipblaslt/clients/scripts/cotenant/cotenant.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(stinkytofu): Split wave0 for cluster barrier (#12835)
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_initc_iter_wmma.py
  shared/stinkytofu/include/stinkytofu/bindings/python/Module.hpp
  shared/stinkytofu/include/stinkytofu/ir/asm/StinkyAsmDirectives.hpp
  shared/stinkytofu/include/stinkytofu/transforms/asm/InsertClusterBarrierPass.hpp
  shared/stinkytofu/src/pipeline/backend/Gfx1250Backend.cpp
  shared/stinkytofu/src/transforms/asm/InsertClusterBarrierPass.cpp
  shared/stinkytofu/src/transforms/asm/RegionClonePass.cpp
  shared/stinkytofu/tests/unit/asm/InsertClusterBarrierPassTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): restrict solution lookups to provider rows
  projects/hipblaslt/tensilelite/include/CMakeLists.txt
  projects/hipblaslt/tensilelite/include/Tensile/CachingLibrary.hpp
  projects/hipblaslt/tensilelite/include/Tensile/ExactLogicLibrary.hpp
  projects/hipblaslt/tensilelite/include/Tensile/ProviderRows.hpp
  projects/hipblaslt/tensilelite/src/CMakeLists.txt
  projects/hipblaslt/tensilelite/src/ProviderRows.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hipblaslt): cover provider-row walks and their caching
  projects/hipblaslt/clients/tests/src/CMakeLists.txt
  projects/hipblaslt/clients/tests/src/provider_rows_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Changes round 1
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaPlanUtils.hpp
  dnn-providers/hip-kernel-provider/src/engines/hip_flash2_engine/HipFlash2FwdPlanBuilder.cpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/Gfx950AttentionDenseNative.cpp
  dnn-providers/hip-kernel-provider/src/integration_tests/asm_sdpa_engine/IntegrationGpuSdpaForward.cpp
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/IntegrationGpuGfx950AttentionDenseKnobs.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/AsmSdpaConfigHelpers.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/TestSdpaBwdPlanBuilder.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/TestSdpaFwdPlanBuilder.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/TestGfx950AttentionDenseMatchers.cpp
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwdRuntimeScale/bhsd/bf16/hd128_causal_batch/Small/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwdRuntimeScale/bhsd/bf16/hd128_causal_group/Small/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwdRuntimeScale/bhsd/bf16/hd192_causal_batch/Small/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwdRuntimeScale/bhsd/fp16/hd128_causal_batch/Small/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwdRuntimeScale/bhsd/fp16/hd192_causal_batch/Small/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwdRuntimeScale/bhsd/fp8/hd128_causal_batch/Small/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwdRuntimeScale/bhsd/fp8/hd128_causal_group/Small/Small.json
  dnn-providers/integration-tests/integration-test-bundles/standard/SdpaFwd/bshd/fp16/hd128_causal_crossattn/Prefill.json
  dnn-providers/integration-tests/reference-data-scripts/generate_sdpa_runtime_scale_test_bundle.py
  dnn-providers/integration-tests/src/harness/gpu-graph-executor/detail/GpuSdpaFwdPlan.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/attributes/SdpaAttributes.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/attributes/SdpaBackwardAttributes.hpp
  projects/hipdnn/frontend/tests/TestCudnnShimGraphSDPA.cpp
  projects/hipdnn/frontend/tests/TestSdpaAttributes.cpp
  projects/hipdnn/frontend/tests/TestSdpaBackwardAttributes.cpp
  projects/hipdnn/python/frontend_wheel_package/tests/test_sdpa.py
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/PlanUtils.hpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/SdpaGraphUtils.hpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestSdpaFwdPlan.cpp
  projects/hipdnn/tests/frontend/IntegrationSdpaBwdDescriptorLowering.cpp
  projects/hipdnn/tests/frontend/IntegrationSdpaBwdLifting.cpp
  projects/hipdnn/tests/frontend/IntegrationSdpaFwdDescriptorLifting.cpp
  projects/hipdnn/tests/frontend/IntegrationSdpaFwdDescriptorLowering.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hipblaslt): run the JIT debug and component test children without the generator launcher
  projects/hipblaslt/clients/tests/jit/CMakeLists.txt
  projects/hipblaslt/clients/tests/jit/jit_component_test.cpp
  projects/hipblaslt/clients/tests/jit/jit_debug_test.cpp
  projects/hipblaslt/clients/tests/jit/jit_test_child.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke): bound gfx1250 GEMM loads and preserve persistent CTA counts
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/instances/common/gemm_build_load.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/architecture/authoring_model.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/backend.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/gemm_universal.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/golden/gemm_load_bounds_llvm23.json
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/test_gemm_load_bounds.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/test_gemm_load_bounds_numeric.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/test_gemm_persistent.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Update TheRock reference to (498444a) (#12984)
  .github/actions/ci-env/action.yml
  .github/workflows/clang-tidy.yml
  .github/workflows/therock-ci-nightly.yml
  .github/workflows/therock-multi-arch-ci-asan-nightly.yml
  .github/workflows/therock-multi-arch-ci-asan.yml
  .github/workflows/therock-multi-arch-ci-nightly.yml
  .github/workflows/therock-multi-arch-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): serve several JIT backends in heuristic queries
  projects/hipblaslt/cmake/hipblaslt-jit-hipkittens.cmake
  projects/hipblaslt/library/src/amd_detail/CMakeLists.txt
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-backend.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-component.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-heuristic.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-hipkittens-backend.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-hipkittens.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-hipkittens.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-no-backend.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-no-opt-in-backend.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-process-backend.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-tensilelite-backend.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-test-backend.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): per-candidate contracts, execution policies and seed fields in the JIT interfaces
  projects/hipblaslt/JIT.md
  projects/hipblaslt/clients/tests/jit/jit_component_test.cpp
  projects/hipblaslt/clients/tests/jit/jit_debug_test.cpp
  projects/hipblaslt/clients/tests/jit/mock_backend_test.cpp
  projects/hipblaslt/clients/tests/jit/test_heuristic.py
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-catalog-knowledge.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-component.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-component.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-debug-child.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-debug.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-debug.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-mock-backend.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-mock.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-origami-predictor.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-prediction.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-tensilelite.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-test-backend.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hipblaslt): cover heuristic queries over several mock backends
  .github/scripts/test_hipblaslt_jit.py
  projects/hipblaslt/clients/tests/jit/CMakeLists.txt
  projects/hipblaslt/clients/tests/jit/test_heuristic.py
  projects/hipblaslt/library/src/amd_detail/CMakeLists.txt
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-mock-backend.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-mock.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-process-backend.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): add the JIT solution pipeline interfaces
  .github/workflows/hipblaslt-jit-ci.yml
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/CMakePresets.json
  projects/hipblaslt/JIT.md
  projects/hipblaslt/clients/tests/jit/CMakeLists.txt
  projects/hipblaslt/clients/tests/jit/README.md
  projects/hipblaslt/clients/tests/jit/jit_component_test.cpp
  projects/hipblaslt/library/src/amd_detail/CMakeLists.txt
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-backend.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-component.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-component.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(hipblaslt): build JIT kernel sources with comgr
  .github/workflows/hipblaslt-jit-ci.yml
  projects/hipblaslt/JIT.md
  projects/hipblaslt/clients/tests/jit/CMakeLists.txt
  projects/hipblaslt/clients/tests/jit/README.md
  projects/hipblaslt/clients/tests/jit/code_object_test.cpp
  projects/hipblaslt/library/src/amd_detail/CMakeLists.txt
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-builder.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-code-object.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-code-object.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-component.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

test(hipblaslt): add pre-generated gfx950 JIT test bundles
  projects/hipblaslt/JIT.md
  projects/hipblaslt/clients/tests/jit/CMakeLists.txt
  projects/hipblaslt/clients/tests/jit/README.md
  projects/hipblaslt/clients/tests/jit/data/.gitattributes
  projects/hipblaslt/clients/tests/jit/data/README.md
  projects/hipblaslt/clients/tests/jit/data/gfx950/splitk/library/TensileLibrary.dat.zlib
  projects/hipblaslt/clients/tests/jit/data/gfx950/splitk/manifest.json
  projects/hipblaslt/clients/tests/jit/data/gfx950/splitk/sources/Cijk_Ailk_Bljk_HHS_BH_UserArgs_MT128x16x64_MI16xJaqFDzpe2wrrzO5n99JdgtC9VpYBTrF-LKNrh189ZgM=.s
  projects/hipblaslt/clients/tests/jit/data/gfx950/splitk/sources/KernelHeader.h
  projects/hipblaslt/clients/tests/jit/data/gfx950/splitk/sources/Kernels.cpp
  projects/hipblaslt/clients/tests/jit/data/gfx950/splitk/sources/Kernels.h
  projects/hipblaslt/clients/tests/jit/data/gfx950/splitk/sources/ReductionTemplate.h
  projects/hipblaslt/clients/tests/jit/data/gfx950/splitk/sources/TensileTypes.h
  projects/hipblaslt/clients/tests/jit/data/gfx950/splitk/sources/memory_gfx.h
  projects/hipblaslt/clients/tests/jit/data/gfx950/splitk/sources/tensile_bfloat16.h
  projects/hipblaslt/clients/tests/jit/data/gfx950/splitk/sources/tensile_float8_bfloat8.h
  projects/hipblaslt/clients/tests/jit/jit_bundle_freshness_test.cpp
  projects/hipblaslt/clients/tests/jit/source_bundle_test.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-source-bundle.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Tensile.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(uhd_gen): training data is stored as Parquet datasets; generate trains from them
  projects/hipdnn/tools/uhd_gen/dataset/__main__.py
  projects/hipdnn/tools/uhd_gen/dataset/publish.py
  projects/hipdnn/tools/uhd_gen/dataset/store.py
  projects/hipdnn/tools/uhd_gen/dataset/tests/test_store.py
  projects/hipdnn/tools/uhd_gen/generate.py
  projects/hipdnn/tools/uhd_gen/sizing.py
  projects/hipdnn/tools/uhd_gen/tests/test_addressing.py
  projects/hipdnn/tools/uhd_gen/tests/test_generate_collections.py
  projects/hipdnn/tools/uhd_gen/tests/test_generate_published.py
  projects/hipdnn/tools/uhd_gen/tests/test_sizing.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hipblaslt): run a HipKittens kernel that the JIT heuristic selects
  .github/scripts/test_hipblaslt_jit.py
  projects/hipblaslt/clients/tests/jit/hipkittens_backend_test.cpp
  projects/hipblaslt/clients/tests/jit/test_hipkittens_heuristic.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci: update workflow files to use TheRock ref a11f4a2
  .github/workflows/clang-tidy.yml
  .github/workflows/therock-ci-nightly.yml
  .github/workflows/therock-multi-arch-ci-asan-nightly.yml
  .github/workflows/therock-multi-arch-ci-asan.yml
  .github/workflows/therock-multi-arch-ci-nightly.yml
  .github/workflows/therock-multi-arch-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(hipblaslt): wrap two JIT heuristic lines and match the test scripts' file mode
  projects/hipblaslt/clients/tests/jit/test_hipkittens_heuristic.py
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-backend.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): compose backend, predictor and knowledge versions into the cache key
  projects/hipblaslt/JIT.md
  projects/hipblaslt/clients/tests/jit/jit_component_test.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-backend.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-component.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-component.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-library.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-process-backend.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ck: generalize depthwise BF16 WRW geometry and resource admission
  projects/composablekernel/CHANGELOG.md
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/depthwise_bwd_weight_bf16_finalize.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_depthwise_bf16.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_depthwise_grouped_row_strip_bf16.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_depthwise_row_strip_bf16.hpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv2d_bwd_weight/nhwgc/wmma/nhwgc_gkyxc_nhwgk/device_grouped_conv2d_bwd_weight_depthwise_wmma_nhwgc_gkyxc_nhwgk_bf16_instance.cpp
  projects/composablekernel/test/grouped_convnd_bwd_weight/test_grouped_convnd_bwd_weight_grouped_row_strip_bf16.cpp
  projects/composablekernel/test/grouped_convnd_bwd_weight/test_grouped_convnd_bwd_weight_row_strip_bf16.cpp
  projects/composablekernel/test/grouped_convnd_bwd_weight/test_grouped_convnd_bwd_weight_wmma_overwrite.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipblaslt): describe HIPBLASLT_JIT_BACKENDS and HipKittens in heuristic queries
  projects/hipblaslt/JIT.md
  projects/hipblaslt/JIT_HIPKITTENS.md
  projects/hipblaslt/JIT_ROADMAP.md
  projects/hipblaslt/clients/tests/jit/README.hipkittens.md
  projects/hipblaslt/clients/tests/jit/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Gaussian filter intra image multithreading support
  projects/rpp/src/include/common/cpu/rpp_cpu_simd_load_store.hpp
  projects/rpp/src/modules/tensor/cpu/kernel/gaussian_filter.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ck: register measured FP16 packed forward configurations
  projects/composablekernel/CHANGELOG.md
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/nhwgc/wmma/device_grouped_conv2d_fwd_wmma_cshufflev3_nhwgc_gkyxc_nhwgk_f16_packed_instance.cpp
  projects/composablekernel/test/grouped_convnd_fwd/test_grouped_convnd_fwd_wmma_groups_per_wmma.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): run process-local JIT GEMM solutions
  .github/workflows/hipblaslt-jit-ci.yml
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/JIT.md
  projects/hipblaslt/clients/tests/jit/CMakeLists.txt
  projects/hipblaslt/clients/tests/jit/README.md
  projects/hipblaslt/clients/tests/jit/disabled_api_test.cpp
  projects/hipblaslt/clients/tests/jit/mock_backend_test.cpp
  projects/hipblaslt/clients/tests/src/CMakeLists.txt
  projects/hipblaslt/clients/tests/src/gemm_pointer_check_gtest.cpp
  projects/hipblaslt/library/src/amd_detail/CMakeLists.txt
  projects/hipblaslt/library/src/amd_detail/hipblaslt-ext.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-backend.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-component.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-gemm-internal.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-gemm-tag.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-hash.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-json.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-loader.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-loader.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-mock-backend.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-mock.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-problem-type.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-problem-type.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/include/rocblaslt-types.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_auxiliary.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_mat.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

test(hipblaslt): replay the JIT API tests on committed bundles
  projects/hipblaslt/clients/tests/jit/CMakeLists.txt
  projects/hipblaslt/clients/tests/jit/README.md
  projects/hipblaslt/clients/tests/jit/data/README.md
  projects/hipblaslt/clients/tests/jit/data/gfx950/amax/library/TensileLibrary.dat.zlib
  projects/hipblaslt/clients/tests/jit/data/gfx950/amax/manifest.json
  projects/hipblaslt/clients/tests/jit/data/gfx950/amax/sources/Cijk_Ailk_Bljk_HHS_BH_AmaxD_UserArgs_MT128x16x64ACh4JXDjkgNsGKrlUfY_APkM6Xq6vQx60yW58y8W5Gk=.s
  projects/hipblaslt/clients/tests/jit/data/gfx950/amax/sources/KernelHeader.h
  projects/hipblaslt/clients/tests/jit/data/gfx950/amax/sources/Kernels.cpp
  projects/hipblaslt/clients/tests/jit/data/gfx950/amax/sources/Kernels.h
  projects/hipblaslt/clients/tests/jit/data/gfx950/amax/sources/ReductionTemplate.h
  projects/hipblaslt/clients/tests/jit/data/gfx950/amax/sources/TensileTypes.h
  projects/hipblaslt/clients/tests/jit/data/gfx950/amax/sources/memory_gfx.h
  projects/hipblaslt/clients/tests/jit/data/gfx950/amax/sources/tensile_bfloat16.h
  projects/hipblaslt/clients/tests/jit/data/gfx950/amax/sources/tensile_float8_bfloat8.h
  projects/hipblaslt/clients/tests/jit/data/gfx950/streamk/library/TensileLibrary.dat.zlib
  projects/hipblaslt/clients/tests/jit/data/gfx950/streamk/manifest.json
  projects/hipblaslt/clients/tests/jit/data/gfx950/streamk/sources/Cijk_Ailk_Bljk_HHS_BH_UserArgs_MT128x128x64_MI16d9GjwJjr9XlYHKUj73a0s9mBr9MmnPSy5GsZRZl-Yxg=.s
  projects/hipblaslt/clients/tests/jit/data/gfx950/streamk/sources/KernelHeader.h
  projects/hipblaslt/clients/tests/jit/data/gfx950/streamk/sources/Kernels.cpp
  projects/hipblaslt/clients/tests/jit/data/gfx950/streamk/sources/Kernels.h
  projects/hipblaslt/clients/tests/jit/data/gfx950/streamk/sources/ReductionTemplate.h
  projects/hipblaslt/clients/tests/jit/data/gfx950/streamk/sources/TensileTypes.h
  projects/hipblaslt/clients/tests/jit/data/gfx950/streamk/sources/memory_gfx.h
  projects/hipblaslt/clients/tests/jit/data/gfx950/streamk/sources/tensile_bfloat16.h
  projects/hipblaslt/clients/tests/jit/data/gfx950/streamk/sources/tensile_float8_bfloat8.h
  projects/hipblaslt/clients/tests/jit/jit_api_test.cpp
  projects/hipblaslt/clients/tests/jit/test_bundle_failures.py
  projects/hipblaslt/clients/tests/jit/test_helper_failures.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(hip-kernel-provider): harden hsaco packing identity, validation and errors
  dnn-providers/hip-kernel-provider/descriptor-packaging/README.md
  dnn-providers/hip-kernel-provider/descriptor-packaging/examples/descriptors/README.md
  dnn-providers/hip-kernel-provider/descriptor-packaging/python/hkp_pack/__init__.py
  dnn-providers/hip-kernel-provider/descriptor-packaging/python/hkp_pack/descriptors.py
  dnn-providers/hip-kernel-provider/descriptor-packaging/python/hkp_pack/hsaco_source.py
  dnn-providers/hip-kernel-provider/descriptor-packaging/python/hkp_pack/pipeline.py
  dnn-providers/hip-kernel-provider/descriptor-packaging/tests/test_hkp_pack_hsaco.py
  dnn-providers/hip-kernel-provider/descriptor-packaging/tests/test_hkp_pack_parallel.py
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/descriptors/README.md
  projects/hipdnn/docs/rfcs/0017_UniversalKernelDescriptor.md
  projects/hipdnn/tools/IngestorGenerator/README.md
  projects/hipdnn/tools/IngestorGenerator/codegen/config_loader.py
  projects/hipdnn/tools/IngestorGenerator/codegen/generator.py
  projects/hipdnn/tools/IngestorGenerator/templates/fragments/cmake_descriptor_files.j2
  projects/hipdnn/tools/IngestorGenerator/tests/test_config_loader.py
  projects/hipdnn/tools/ai/skills/hipdnn-ingestor-engine/SKILL.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): publish JIT solutions to a persistent library
  projects/hipblaslt/JIT.md
  projects/hipblaslt/clients/tests/jit/CMakeLists.txt
  projects/hipblaslt/clients/tests/jit/README.md
  projects/hipblaslt/clients/tests/jit/jit_library_test.cpp
  projects/hipblaslt/clients/tests/jit/mock_backend_test.cpp
  projects/hipblaslt/library/src/amd_detail/CMakeLists.txt
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-backend.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-fs.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-fs.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-library.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-library.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-mock-backend.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-msgpack.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-msgpack.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/Run.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_reserved_jit_indices.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen] Fix the ConvHipConv unit tests that fail on gfx1250
  projects/miopen/test/gtest/unit_conv_solver_ConvHipConv.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocke): four heads per workgroup for gfx942 MLA prefill (AICK-1502)
  dnn-providers/hip-kernel-provider/rocke/library/builders/mla/verify_score_probe_gfx942.py
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/mla/gfx942.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/mla/mla_prefill_gfx942.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/mla/test_mla_prefill_gfx942_wiring.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/golden/mla_prefill_gfx942_ir_sha256.json
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_mla_benchmark_shapes.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_mla_prefill_gfx942.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_mla_prefill_gfx942_golden.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): add beta·C to the HipKittens JIT kernel
  projects/hipblaslt/JIT_HIPKITTENS.md
  projects/hipblaslt/clients/tests/jit/README.hipkittens.md
  projects/hipblaslt/clients/tests/jit/hipkittens_backend_test.cpp
  projects/hipblaslt/clients/tests/jit/test_hipkittens_bench.py
  projects/hipblaslt/clients/tests/jit/test_hipkittens_heuristic.py
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-hipkittens.cpp
  projects/hipblaslt/library/src/amd_detail/hipkittens/gemm_bf16_tn_256x256x64_gfx950.hip
  projects/hipblaslt/library/src/amd_detail/hipkittens/gemm_bf16_tn_256x256x64_gfx950.yaml
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocke): MLA prefill case study, parallel-lane fourth pass (AICK-1502)
  dnn-providers/hip-kernel-provider/rocke/library/examples/gfx942/mla_prefill/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): add alpha to the HipKittens JIT kernel
  projects/hipblaslt/JIT_HIPKITTENS.md
  projects/hipblaslt/clients/tests/jit/README.hipkittens.md
  projects/hipblaslt/clients/tests/jit/hipkittens_backend_test.cpp
  projects/hipblaslt/clients/tests/jit/test_hipkittens_bench.py
  projects/hipblaslt/clients/tests/jit/test_hipkittens_heuristic.py
  projects/hipblaslt/library/src/amd_detail/hipkittens/gemm_bf16_tn_256x256x64_gfx950.hip
  projects/hipblaslt/library/src/amd_detail/hipkittens/gemm_bf16_tn_256x256x64_gfx950.yaml
  projects/hipblaslt/library/src/amd_detail/hipkittens/make_entries.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): address hsaco review findings
  dnn-providers/hip-kernel-provider/descriptor-packaging/python/hkp_pack/hip_compile.py
  dnn-providers/hip-kernel-provider/descriptor-packaging/python/hkp_pack/pipeline.py
  dnn-providers/hip-kernel-provider/descriptor-packaging/tests/test_hkp_pack_hsaco.py
  projects/hipdnn/tools/IngestorGenerator/codegen/config_loader.py
  projects/hipdnn/tools/IngestorGenerator/codegen/generator.py
  projects/hipdnn/tools/IngestorGenerator/templates/fragments/cmake_descriptor_files.j2
  projects/hipdnn/tools/IngestorGenerator/tests/test_config_loader.py
  projects/hipdnn/tools/ai/skills/hipdnn-ingestor-engine/extend.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(hipdnn): read an absent SDPA attn_scale_value as 1.0 everywhere
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/asm/SdpaBwdKernelArgs.hpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/asm/SdpaFwdKernelArgs.hpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaBwdPlanBuilder.cpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaFwdPlanBuilder.cpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaPlanUtils.hpp
  dnn-providers/hip-kernel-provider/src/engines/hip_flash2_engine/HipFlash2FwdPlan.cpp
  dnn-providers/hip-kernel-provider/src/engines/hip_flash2_engine/HipFlash2FwdPlanBuilder.cpp
  dnn-providers/hip-kernel-provider/src/engines/hip_flash2_engine/HipFlash2FwdPlanBuilder.hpp
  dnn-providers/hip-kernel-provider/src/engines/hip_flash2_engine/HipFlash2FwdPlanBuilder_v2.hpp
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/IntegrationGpuGfx950AttentionDenseKnobs.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/TestSdpaBwdPlanBuilder.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/TestSdpaFwdPlanBuilder.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/hip_flash2_engine/TestHipFlash2FwdPlanBuilder.cpp
  dnn-providers/integration-tests/CMakeLists.txt
  dnn-providers/integration-tests/gpu-ref/include/hipdnn-gpu-ref/GpuFpReferenceSdpa.hpp
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaBackward/Default/graph.template.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/generate_golden_data.sh
  dnn-providers/integration-tests/reference-data-scripts/generate_sdpa_fwd_golden.py
  dnn-providers/integration-tests/reference-data-scripts/generate_sdpa_runtime_scale_test_bundle.py
  dnn-providers/integration-tests/reference-data-scripts/tests/test_generate_sdpa_fwd_golden.py
  dnn-providers/integration-tests/test_categories_external.yaml
  dnn-providers/integration-tests/tests/gpu-ref/TestGpuFpReferenceSdpa.cpp
  projects/hipdnn/docs/rfcs/0017_UniversalKernelDescriptor.md
  projects/hipdnn/docs/rfcs/examples/0017_UniversalKernelDescriptor_WorkedExample.md
  projects/hipdnn/frontend/include/hipdnn_frontend/Graph.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/attributes/SdpaAttributes.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/attributes/SdpaBackwardAttributes.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/SdpaBwdNode.hpp
  projects/hipdnn/samples/README.md
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/CpuFpReferenceSdpa.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/DynamicTolerancesSdpa.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/SdpaFwdPlan.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/detail/FlatbufferTensorAttributesUtils.hpp
  projects/hipdnn/test_sdk/tests/utilities/TestCpuFpReferenceSdpa.cpp
  projects/hipdnn/test_sdk/tests/utilities/TestDynamicTolerancesSdpa.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation
