Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

moved debug 908 to non-critical nightly
  projects/miopen/Jenkinsfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[Fix overly strict check logic]
  projects/hipblaslt/tensilelite/include/Tensile/ContractionProblemPredicates.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[Add solution for gfx90a]
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aldebaran/110CU/Equality/aldebaran_Cijk_Ailk_Bljk_S_B_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix GSUStartWGIdx calculation
  projects/hipblaslt/tensilelite/Tensile/Components/GSU.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix compilation errors in check_numerics_test: use reference for Handle, add includes
  projects/miopen/test/gtest/check_numerics_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update conv_wino_fury_RxS.cpp
  projects/miopen/src/solver/conv/conv_wino_fury_RxS.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocprim): Kernel Tuner proof of concept for device merge (#703)
  projects/hipccl/hipccl2/rocprim/tuning/configs_header_generation.py
  projects/hipccl/hipccl2/rocprim/tuning/fallback_config.json
  projects/hipccl/hipccl2/rocprim/tuning/run_tuning.py
  projects/hipccl/hipccl2/rocprim/tuning/templates/config_template
  projects/hipccl/hipccl2/rocprim/tuning/templates/merge_config_template
  projects/hipccl/hipccl2/rocprim/tuning/tuning_scripts/base_tuner.py
  projects/hipccl/hipccl2/rocprim/tuning/tuning_scripts/templates/base_wrapper_template
  projects/hipccl/hipccl2/rocprim/tuning/tuning_scripts/templates/device_merge_wrapper_template
  projects/hipccl/hipccl2/rocprim/tuning/tuning_scripts/tuning_device_merge.py
  projects/hipccl/hipccl2/rocprim/tuning/utils/__init__.py
  projects/hipccl/hipccl2/rocprim/tuning/utils/compare_simulated_strategies.py
  projects/hipccl/hipccl2/rocprim/tuning/utils/config_parser.py
  projects/hipccl/hipccl2/rocprim/tuning/utils/tuning_utils.hpp
  projects/hipccl/hipccl2/rocprim/tuning/utils/utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocprim): Kernel Tuner proof of concept for device merge (#703)
  projects/hipccl/hipccl3/rocprim/tuning/configs_header_generation.py
  projects/hipccl/hipccl3/rocprim/tuning/fallback_config.json
  projects/hipccl/hipccl3/rocprim/tuning/run_tuning.py
  projects/hipccl/hipccl3/rocprim/tuning/templates/config_template
  projects/hipccl/hipccl3/rocprim/tuning/templates/merge_config_template
  projects/hipccl/hipccl3/rocprim/tuning/tuning_scripts/base_tuner.py
  projects/hipccl/hipccl3/rocprim/tuning/tuning_scripts/templates/base_wrapper_template
  projects/hipccl/hipccl3/rocprim/tuning/tuning_scripts/templates/device_merge_wrapper_template
  projects/hipccl/hipccl3/rocprim/tuning/tuning_scripts/tuning_device_merge.py
  projects/hipccl/hipccl3/rocprim/tuning/utils/__init__.py
  projects/hipccl/hipccl3/rocprim/tuning/utils/compare_simulated_strategies.py
  projects/hipccl/hipccl3/rocprim/tuning/utils/config_parser.py
  projects/hipccl/hipccl3/rocprim/tuning/utils/tuning_utils.hpp
  projects/hipccl/hipccl3/rocprim/tuning/utils/utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

More review comments
  projects/hipdnn/plugins/miopen_legacy_plugin/engines/plans/MiopenBatchnormPlanBuilder.cpp
  projects/hipdnn/plugins/miopen_legacy_plugin/engines/plans/MiopenConvFwdBiasActivPlanBuilder.cpp
  projects/hipdnn/plugins/miopen_legacy_plugin/integration_tests/IntegrationGpuBatchnormBackwardActivation.cpp
  projects/hipdnn/plugins/miopen_legacy_plugin/tests/common/BatchnormFusionCommon.hpp
  projects/hipdnn/plugins/miopen_legacy_plugin/tests/engines/plans/TestMiopenBatchnormBwdPlan.cpp
  projects/hipdnn/plugins/miopen_legacy_plugin/tests/engines/plans/TestMiopenBatchnormPlanBuilder.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add option to disable conv Gemm* solver VRAM limit
  projects/miopen/src/solver/conv/gemm_common.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocthrust): fix incorrect event waiting logic in 'TEST_EVENT_WAIT' macro
  projects/rocthrust/test/test_event.cpp
  projects/rocthrust/testing/event.cu
  projects/rocthrust/testing/unittest/util_async.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Cleanup clang-tidy
  projects/miopen/src/solver/conv/conv_wino_fury_RxS.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Port deterministic_conv_api to GTest
  projects/miopen/test/deterministic_conv_api_old.cpp
  projects/miopen/test/gtest/deterministic_conv_api.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Old test file removed
  projects/miopen/test/deterministic_conv_api_old.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Static tensor IDs struct
  projects/hipdnn/plugins/miopen_legacy_plugin/integration_tests/IntegrationGpuBatchnormBackwardActivation.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocBLAS] remove unused staging branch bump script
  projects/rocblas/bump_release-staging_version.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix clang-format
  projects/miopen/src/solver/conv/conv_wino_fury_RxS.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add multiple examples using tabs in the documentation
  projects/hipsparse/clients/samples/documentation_examples/level1/example_hipsparse_axpyi.cpp
  projects/hipsparse/docs/conf.py
  projects/hipsparse/docs/reference/level1.rst
  projects/hipsparse/library/include/internal/level1/hipsparse_axpyi.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Port fusion_aux to GTest
  projects/miopen/test/fusion_aux.cpp
  projects/miopen/test/gtest/fusion_aux.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Use std::filesystem when manipulating paths in get_filename function
  projects/hipsparse/clients/benchmarks/CMakeLists.txt
  projects/hipsparse/clients/common/utility.cpp
  projects/hipsparse/clients/include/utility.hpp
  projects/hipsparse/clients/samples/CMakeLists.txt
  projects/hipsparse/clients/tests/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix plugin doc link
  projects/hipdnn/docs/PluginDevelopment.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add back missing tests
  projects/hipsparse/clients/tests/test_bsrmm.yaml
  projects/hipsparse/clients/tests/test_bsrsm2.yaml
  projects/hipsparse/clients/tests/test_csrmm.yaml
  projects/hipsparse/clients/tests/test_csrsm2.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update copyrights
  projects/miopen/src/kernels/winograd/Conv_Winograd_Fury_v4_6_0_fp16_fp32acc_f2x3_c16_stride1.s
  projects/miopen/src/kernels/winograd/Conv_Winograd_Fury_v4_6_0_fp16_fp32acc_f2x3_c32_stride1.s
  projects/miopen/src/kernels/winograd/Conv_Winograd_Fury_v4_6_0_gfx12_1536vgprs_fp16_fp32acc_f2x3_c16_stride1.inc
  projects/miopen/src/kernels/winograd/Conv_Winograd_Fury_v4_6_0_gfx12_1536vgprs_fp16_fp32acc_f2x3_c32_stride1.inc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove stale .github files
  projects/hipdnn/.github/CODEOWNERS
  projects/hipdnn/.github/pull_request_template.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Update smallMN_largeK suite
  shared/rocroller/scripts/lib/rrperf/rrsuites.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update smallMN_largeK suite +1
  shared/rocroller/scripts/lib/rrperf/rrsuites.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Bug fix
  shared/origami/src/origami/utils.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

gfx950 tuning equality bbs nn tn hhs nn tt tn
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bljk_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bjlk_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_S_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_S_MX_B_BiasS_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update input size
  projects/miopen/src/check_numerics.cpp
  projects/miopen/test/check_numerics_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

format
  projects/miopen/src/check_numerics.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fine tune for small tensors
  projects/miopen/src/check_numerics.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Increase grid size to hide memory latency
  projects/miopen/src/check_numerics.cpp
  projects/miopen/test/check_numerics_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Dynamic grid size calculation considering Tensor size and occupany
  projects/miopen/src/check_numerics.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Resolve merge conflicts
  shared/rocroller/lib/source/KernelGraph/Transformations/AddComputeIndex.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update tests
  projects/hipsparse/clients/tests/test_bsrsm2.yaml
  projects/hipsparse/clients/tests/test_csrsm2.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Bump rocblas version
  projects/rocblas/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

changelog update
  projects/rocblas/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add minimum version in find_package call for Google Benchmark
  projects/hipcub/cmake/Dependencies.cmake
  projects/rocprim/cmake/Dependencies.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update projects/rocblas/CHANGELOG.md
  projects/rocblas/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

elevate search start log message to warning, add search end message
  projects/miopen/src/include/miopen/find_solution.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
