Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

ci(hipblaslt-asan): add test/therock to sparse checkout
  .github/workflows/hipblaslt-asan-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

phase 2 complete, exploring more axis unrolling next
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/architecture/portable_ir_production_readiness.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/architecture/portable_ir_schema.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/portable_ir/README.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/portable_ir/drivers/roll_nd_coverage.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/portable_ir/portable_ir_scaling_plan.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/portable_ir/src/roll_nd.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/portable_ir/src/roller.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/portable_ir/tests/test_roll_nd.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/portable_ir/test_recipe_roller.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): Add support for a frequency hint parameter
  projects/hipblaslt/tensilelite/CMakeLists.txt
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/Contractions.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Naming.py
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/Run.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_TensileLibLogicToYaml.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_streamk_force_dp_only.py
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Serialization/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Tensile.hpp
  projects/hipblaslt/tensilelite/include/Tensile/hip/HipSolutionAdapter.hpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/src/hip/HipSolutionAdapter.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix bad merge with test_utils.hpp
  projects/hipcub/test/hipcub/test_utils.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): resolve JSON role-map test gaps; auto-discover test stub path
  .github/workflows/hipdnn-superbuild-ci.yml
  projects/hipdnn/python/frontend_wheel_package/tests/conftest.py
  projects/hipdnn/python/frontend_wheel_package/tests/graph_builders.py
  projects/hipdnn/python/frontend_wheel_package/tests/test_serialization.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update 448x128x32 tile
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test: trigger CI with stage availability debug logging
  projects/rocprim/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ci): avoid duplicate GitHub output writes
  .github/scripts/ci_utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Reapply "[rocThrust] Change default SQLite3 to system package and bump SQLite3 version to 3.51.3" (#8890)
  projects/rocthrust/CHANGELOG.md
  projects/rocthrust/cmake/Dependencies.cmake
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

update CHANGELOG.md
  projects/rocthrust/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test: trigger CI with available filenames debug
  projects/rocprim/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): address all code review issues in contraction_multi_abd bridge (PR #10238)
  projects/composablekernel/dispatcher/bindings/ctypes/CMakeLists.txt
  projects/composablekernel/dispatcher/codegen/contraction_multi_abd_codegen.py
  projects/composablekernel/dispatcher/python/contraction_multi_abd_utils.py
  projects/composablekernel/dispatcher/tests/test_contraction_multi_abd_bridge.py
  projects/composablekernel/include/ck_tile/ops/batched_contraction/kernel/batched_contraction_multi_abd_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/batched_contraction_multi_abd.hpp
  projects/composablekernel/tile_engine/ops/gemm/contraction_multi_abd/CMakeLists.txt
  projects/composablekernel/tile_engine/ops/gemm/contraction_multi_abd/contraction_multi_abd_benchmark.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): add missing break in TestJson's ResampleBwdAttributes case
  projects/hipdnn/flatbuffers_sdk/tests/utilities/TestJson.cpp
  projects/hipdnn/python/frontend_wheel_package/tests/conftest.py
  projects/hipdnn/python/frontend_wheel_package/tests/helpers.py
  projects/hipdnn/python/frontend_wheel_package/tests/test_error_paths.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test: trigger CI with generic artifact fallback
  projects/rocprim/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(ck-tile): harden GPU-test arch detection per Copilot review
  projects/composablekernel/dispatcher/tests/test_grouped_gemm_gpu_correctness.py
  projects/composablekernel/dispatcher/tests/test_multi_abd_gpu_correctness.py
  projects/composablekernel/dispatcher/tests/test_multi_d_gpu_correctness.py
  projects/composablekernel/dispatcher/tests/test_mx_gemm_gpu_correctness.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hip-kernel-provider): add LayerNorm + elementwise activation AOT catalog families for gfx1151
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/activation/CMakeLists.txt
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/activation/TestActivationNumericParity.cpp
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/activation/TestActivationSelection.cpp
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/activation/family.json
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/activation/produce_activation_co.py
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/fmha_wmma_fwd/TestSdpaNumericParity.cpp
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/gemm_wmma/TestGemmWmmaNumericParity.cpp
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/gemm_wmma_universal/TestGemmUniversalNumericParity.cpp
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/layernorm2d/CMakeLists.txt
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/layernorm2d/TestLayerNormNumericParity.cpp
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/layernorm2d/TestLayerNormSelection.cpp
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/layernorm2d/family.json
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/layernorm2d/produce_layernorm2d_co.py
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/rmsnorm2d/TestRmsNormSelection.cpp
  dnn-providers/hip-kernel-provider/src/engines/aot_catalog_engine/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/engines/aot_catalog_engine/CatalogEngine.cpp
  dnn-providers/hip-kernel-provider/src/engines/aot_catalog_engine/ops/ActivationAdapter.cpp
  dnn-providers/hip-kernel-provider/src/engines/aot_catalog_engine/ops/ActivationAdapter.hpp
  dnn-providers/hip-kernel-provider/src/engines/aot_catalog_engine/ops/LayerNormAdapter.cpp
  dnn-providers/hip-kernel-provider/src/engines/aot_catalog_engine/ops/LayerNormAdapter.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(ck): move element space size overflow test into test/util
  projects/composablekernel/test/CMakeLists.txt
  projects/composablekernel/test/tensor_description/CMakeLists.txt
  projects/composablekernel/test/util/CMakeLists.txt
  projects/composablekernel/test/util/unit_tensor_descriptor_element_space_size.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hip-kernel-provider): add runtime-N LayerNorm2D kernel for gfx1151
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/layernorm2d/TestLayerNormSelection.cpp
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/layernorm2d/family.json
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/layernorm2d/produce_layernorm2d_co.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/layernorm2d_dynamic.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(hip-kernel-provider): clang-format AOT catalog files (pinned v18.1.4)
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/activation/TestActivationNumericParity.cpp
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/activation/TestActivationSelection.cpp
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/layernorm2d/TestLayerNormNumericParity.cpp
  dnn-providers/hip-kernel-provider/src/engines/aot_catalog_engine/catalog/Catalog.cpp
  dnn-providers/hip-kernel-provider/src/engines/aot_catalog_engine/ops/LayerNormAdapter.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocblas): correct large-N gemm wrong/NaN results on gfx1201 (grid.y limit)
  projects/rocblas/CHANGELOG.md
  projects/rocblas/clients/gtest/gemm_gtest.yaml
  projects/rocblas/clients/gtest/test_gemm_large_n_grid_y_limit.py
  projects/rocblas/library/src/blas3/Tensile/gemm_templates.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): close four defects the ingestor review proved (ALMIOPEN-2402)
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/HandleDeviceResolver.hpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/PointwiseAddMatchers.cpp
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/IntegrationGpuKernelIngestor.cpp
  dnn-providers/hip-kernel-provider/src/tests/core/TestContainer.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/TestHandleDeviceResolver.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/TestKernelIngestorEngine.cpp
  projects/hipdnn/plugin_sdk/CMakeLists.txt
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/GenericPlan.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/MatchContext.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipdnn): unify the bound-token value type and log why matching declined (ALMIOPEN-2402)
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/PointwiseAddMatchers.cpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/GenericPlanBuilder.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/KernelIngestorStateManager.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/MatchContext.hpp
  projects/hipdnn/plugin_sdk/tests/ingestor/TestKernelIngestorStateManager.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix grouped GEMM TFLOPS calculation in BenchmarkTimer
  projects/hipblaslt/tensilelite/client/src/BenchmarkTimer.cpp
  projects/hipblaslt/tensilelite/client/src/ProgressListener.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add test
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_grouped_gemm_flops_reporting.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): add CK-tile core include to dispatcher_conv_lib ctypes target
  projects/composablekernel/dispatcher/bindings/ctypes/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): use auto for CatalogTypes template cast (clang-tidy)
  dnn-providers/hip-kernel-provider/src/engines/aot_catalog_engine/catalog/CatalogTypes.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): drop non-existent ${PROJECT_SOURCE_DIR}/dispatcher/include from ctypes targets
  projects/composablekernel/dispatcher/bindings/ctypes/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocsparse): device-derived wave-relative bellmm tile size (#9795)
  projects/rocsparse/library/src/level3/rocsparse_bellmm_template_general.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

clang-format
  projects/composablekernel/include/ck_tile/ops/fmha/kernel/fmha_bwd_kernel.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): fail closed on collisions and cover what the tests missed (ALMIOPEN-2402)
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/KernelIngestorEngine.cpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/KernelIngestorEngine.hpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/PointwiseAddMatchers.cpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/PointwiseAddMatchers.hpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/TestKernelIngestorEngine.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/PointwiseAddTestGraphs.hpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/TestPointwiseAddDispatchHandler.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/TestPointwiseAddMatchers.cpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/Catalog.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/Descriptors.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/GenericEngine.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/GenericPlanBuilder.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/KernelIngestorStateManager.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/LruCache.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/MatchContext.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/NativeRegistry.hpp
  projects/hipdnn/plugin_sdk/tests/ingestor/IngestorMocks.hpp
  projects/hipdnn/plugin_sdk/tests/ingestor/KernelIngestorTestFixtures.hpp
  projects/hipdnn/plugin_sdk/tests/ingestor/TestDescriptors.cpp
  projects/hipdnn/plugin_sdk/tests/ingestor/TestGenericEngine.cpp
  projects/hipdnn/plugin_sdk/tests/ingestor/TestGenericPlanBuilder.cpp
  projects/hipdnn/plugin_sdk/tests/ingestor/TestKernelIngestorStateManager.cpp
  projects/hipdnn/plugin_sdk/tests/ingestor/TestLruCache.cpp
  projects/hipdnn/plugin_sdk/tests/ingestor/TestMatchContext.cpp
  projects/hipdnn/plugin_sdk/tests/ingestor/TestNativeRegistry.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck): drain LDS reads before the async-load barrier on gfx1250
  projects/composablekernel/include/ck/tensor_operation/gpu/block/blockwise_gemm_pipeline_xdlops_v3_mx.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipdnn): cut the argument out of the ingestor's comments (ALMIOPEN-2402)
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/HandleDeviceResolver.hpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/KernelIngestorEngine.cpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/KernelIngestorEngine.hpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/kernels/PointwiseAdd.cpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/PointwiseAddDispatchHandler.cpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/PointwiseAddDispatchHandler.hpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/PointwiseAddMatchers.cpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/PointwiseAddMatchers.hpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/PointwiseAddPack.cpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/PointwiseAddPack.hpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/PointwiseAddSymbols.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/Catalog.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/Descriptors.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/GenericEngine.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/GenericPlan.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/GenericPlanBuilder.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/IDeviceResolver.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/IKernelDispatchHandler.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/IKernelHeuristic.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/KernelDefinition.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/KernelIngestorStateManager.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/LruCache.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/MatchContext.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/NativeRegistry.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(aot-catalog): runtime-generic forward conv (implicit-GEMM) on gfx1151
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/conv2d_fprop/CMakeLists.txt
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/conv2d_fprop/README_conv_enablement.md
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/conv2d_fprop/TestConvNumericParity.cpp
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/conv2d_fprop/TestConvSelection.cpp
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/conv2d_fprop/family.json
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/conv2d_fprop/produce_conv2d_fprop_co.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/helpers/transforms.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/conv_implicit_gemm.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/conv_implicit_gemm_dynamic.py
  dnn-providers/hip-kernel-provider/src/engines/aot_catalog_engine/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/engines/aot_catalog_engine/CatalogEngine.cpp
  dnn-providers/hip-kernel-provider/src/engines/aot_catalog_engine/ops/ConvFpropAdapter.cpp
  dnn-providers/hip-kernel-provider/src/engines/aot_catalog_engine/ops/ConvFpropAdapter.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(stinkytofu): exercise both static and dynamic StinkyTofu plugin loading from rocisa
  projects/hipblaslt/tensilelite/rocisa/CMakeLists.txt
  projects/hipblaslt/tensilelite/rocisa/test/test_pass_plugin.py
  projects/hipblaslt/tensilelite/tasks.py
  shared/stinkytofu/examples/plugins/CMakeLists.txt
  shared/stinkytofu/src/conversion/rocisa/ToStinkyTofuUtils.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): clear all clang-tidy warnings-as-errors in AOT catalog
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/activation/TestActivationSelection.cpp
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/layernorm2d/TestLayerNormNumericParity.cpp
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/layernorm2d/TestLayerNormSelection.cpp
  dnn-providers/hip-kernel-provider/src/engines/aot_catalog_engine/catalog/Catalog.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/aot_catalog_engine/AotCatalogTestSupport.hpp
  dnn-providers/hip-kernel-provider/src/tests/engines/aot_catalog_engine/TestWorkspaceExpr.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocblas): address review on large-N gemm grid.y chunking
  projects/rocblas/CHANGELOG.md
  projects/rocblas/clients/gtest/gemm_gtest.yaml
  projects/rocblas/clients/gtest/test_gemm_large_n_grid_y_limit.py
  projects/rocblas/library/src/blas3/Tensile/gemm_templates.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hip-kernel-provider): rename WorkspaceFamilyFixture to satisfy name validator
  dnn-providers/hip-kernel-provider/src/tests/engines/aot_catalog_engine/TestWorkspaceExpr.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt][tensilelite] Test that tuned CU libs are unaffected by the implicit XCC fallback
  projects/hipblaslt/tensilelite/tests/Predicates_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

black format
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/portable_ir/recipe_vm.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/architecture/portable_ir_production_readiness.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/architecture/portable_ir_schema.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/portable_ir/README.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/portable_ir/drivers/roll_gfx950_sweep.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/portable_ir/drivers/roll_hsaco_parity.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/portable_ir/drivers/roll_nd_coverage.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/portable_ir/portable_ir_scaling_plan.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/portable_ir/src/roll.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/portable_ir/src/roll_nd.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/portable_ir/src/roll_regimes.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/portable_ir/src/roller.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/portable_ir/tests/test_roll_nd.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/portable_ir/tests/test_roll_regimes.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/portable_ir/tests/test_roller.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/portable_ir/utils/recipe_expand.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/portable_ir/test_recipe_roller.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(stinkytofu): add worktree-venv skill for per-worktree Python environments
  shared/stinkytofu/.claude/skills/worktree-venv/SKILL.md
  shared/stinkytofu/.claude/skills/worktree-venv/scripts/setup_worktree_venv.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
