Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

debugging
  projects/miopen/vars/utils.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

clean hyphen
  projects/miopen/vars/utils.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CK groovy library is expanding and should be contained in a self describing folder rather than src and vars, updating this pre-emptively.
  .github/scripts/therock_configure_ci.py
  projects/composablekernel/groovy/.gitkeep
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

build: use object libraries for linking
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/clients/CMakeLists.txt
  projects/hipblaslt/clients/tests/src/fp64_emulation_gtest.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/CMakeLists.txt
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/fp64_emulation.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test: add fp64 emulation unittest stub
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/clients/CMakeLists.txt
  projects/hipblaslt/clients/tests/src/CMakeLists.txt
  projects/hipblaslt/clients/tests/src/fp64_emulation_gtest.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/fp64_emulation.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test: add small dgemm test with eager mode
  projects/hipblaslt/clients/tests/src/fp64_emulation_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen] Retrain LGBM picker to v11 (corrected unfiltered data)
  projects/miopen/src/conv/heuristics/lgbm_models/rank/quantize.c
  projects/miopen/src/conv/heuristics/lgbm_models/rank/recipe.json
  projects/miopen/src/conv/heuristics/lgbm_models/rank/tu0.c
  projects/miopen/src/conv/heuristics/lgbm_models/rank/tu1.c
  projects/miopen/src/conv/heuristics/lgbm_models/rank/tu2.c
  projects/miopen/src/conv/heuristics/lgbm_models/rank/tu3.c
  projects/miopen/src/conv/heuristics/lgbm_models/rank/tu4.c
  projects/miopen/src/conv/heuristics/lgbm_models/rank/tu5.c
  projects/miopen/src/conv/heuristics/lgbm_models/rank/tu6.c
  projects/miopen/src/conv/heuristics/lgbm_models/rank/tu7.c
  projects/miopen/src/conv/heuristics/lgbm_models/regen_models.py
  projects/miopen/src/kernels/lgbm_model_meta.json
  projects/miopen/test/gtest/lgbm_test_vectors.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add cuda 13 tests
  projects/hipsparse/clients/tests/cuda/13/hipsparse_test.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix copyright
  projects/hipblaslt/tensilelite/Tensile/BenchmarkProblems.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/Ductile/test_ductile_backend.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/Ductile/test_ductile_convergence.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/Ductile/test_ductile_ga_checkpoint.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/Ductile/test_ductile_ga_termination.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/Ductile/test_ductile_operators_contracts.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/Ductile/test_ductile_param_config.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/Ductile/test_ductile_population_core.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/Ductile/test_ductile_reproducibility.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/Ductile/test_ductile_searchspace_sampling.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_backend_integration.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_backend_selection.py
  projects/hipblaslt/tensilelite/Tensile/backends/__init__.py
  projects/hipblaslt/tensilelite/Tensile/backends/base.py
  projects/hipblaslt/tensilelite/Tensile/backends/ductile_backend.py
  projects/hipblaslt/tensilelite/Tensile/backends/tensile_backend.py
  projects/hipblaslt/tensilelite/Tensile/ductile/__init__.py
  projects/hipblaslt/tensilelite/Tensile/ductile/algorithm/__init__.py
  projects/hipblaslt/tensilelite/Tensile/ductile/algorithm/ga.py
  projects/hipblaslt/tensilelite/Tensile/ductile/config/__init__.py
  projects/hipblaslt/tensilelite/Tensile/ductile/config/defaults.yaml
  projects/hipblaslt/tensilelite/Tensile/ductile/core/__init__.py
  projects/hipblaslt/tensilelite/Tensile/ductile/core/crossover.py
  projects/hipblaslt/tensilelite/Tensile/ductile/core/mating.py
  projects/hipblaslt/tensilelite/Tensile/ductile/core/mutation.py
  projects/hipblaslt/tensilelite/Tensile/ductile/core/population.py
  projects/hipblaslt/tensilelite/Tensile/ductile/core/selection.py
  projects/hipblaslt/tensilelite/Tensile/ductile/core/space.py
  projects/hipblaslt/tensilelite/Tensile/ductile/core/survival.py
  projects/hipblaslt/tensilelite/Tensile/ductile/utils/__init__.py
  projects/hipblaslt/tensilelite/Tensile/ductile/utils/logger.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

updated the audio setting based on feedback
  projects/rpp/docs/install/rpp-build.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Gfx1250: decouple esm2 region from SIA4; move delay-alu re-insertion to its own SIA4 gate
  shared/stinkytofu/src/pipeline/backend/Gfx1250Backend.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] [stinkytofu] Add gating function for stinkytofu expert scheduling mode
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Simplify Windows resource-compiler handling and enrich VERSIONINFO
  cmake/toolchains/rocm-clang.cmake
  projects/hipdnn/backend/backend.rc.in
  projects/hipdnn/backend/src/CMakeLists.txt
  projects/hipdnn/cmake/ClangToolChain.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

build: don't require HIP to fp64 target
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add cuda 13 tests
  projects/hipsparse/clients/include/testing_spmv_csr_reuse_descr.hpp
  projects/hipsparse/clients/tests/cuda/13/test_spmv_csr.yaml
  projects/hipsparse/clients/tests/cuda/13/test_spmv_csr_reuse_descr.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

build: don't shadow library symbols
  projects/hipblaslt/clients/CMakeLists.txt
  projects/hipblaslt/clients/tests/src/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

build: don't shadow library symbols 2
  projects/hipblaslt/clients/tests/src/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add cuda 13 tests
  projects/hipsparse/clients/include/testing_spmv_csr_reuse_descr.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Rewrite pipeline
  projects/miopen/vars/utils.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add cuda 13 tests
  projects/hipsparse/clients/tests/cuda/13/test_spmv_csr_reuse_descr.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

disable -> enable
  projects/rpp/docs/install/rpp-build.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix merge conflicts
  projects/hipblaslt/tensilelite/Tensile/Toolchain/Component.py
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Formatting indentStr
  projects/rocfft/library/src/rccl_wrapper.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add cuda 13 tests
  projects/hipsparse/clients/include/testing_rot.hpp
  projects/hipsparse/library/include/internal/generic/hipsparse_rot.h
  projects/hipsparse/library/src/nvidia_detail/generic/hipsparse_rot.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add cuda 13 tests
  projects/hipsparse/clients/include/hipsparse_graph.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Get th previous run.
  projects/miopen/vars/utils.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add cuda 13 tests
  projects/hipsparse/clients/include/testing_spmm_bsr.hpp
  projects/hipsparse/clients/tests/cuda/13/CMakeLists.txt
  projects/hipsparse/clients/tests/cuda/13/hipsparse_test.yaml
  projects/hipsparse/clients/tests/test_spmm_bsr.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

update logic files and vgpr count for gfx1100
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi31/GridBased/navi31_Cijk_Alik_Bljk_BBS_BH_Bias_AuxB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi31/GridBased/navi31_Cijk_Alik_Bljk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi31/GridBased/navi31_Cijk_Alik_Bljk_HHS_BH_Bias_AuxH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi31/GridBased/navi31_Cijk_Alik_Bljk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/hardware_caps.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

more debugging
  projects/miopen/vars/utils.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update unit tests.
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedLogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedSchedulerRef.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add SPMM BSR format tests to cuda 12.8 and 13 tests
  projects/hipsparse/clients/include/testing_spmm_bsr.hpp
  projects/hipsparse/clients/tests/cuda/12.8/hipsparse_test.yaml
  projects/hipsparse/clients/tests/cuda/12.8/test_spmm_bsr.yaml
  projects/hipsparse/clients/tests/test_spmm_bsr.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipcub][rocthrust][rocprim] Add missing RESOURCE_GROUPS property to new tests from test filter standardization (#8188)
  projects/hipccl/hipccl3/hipcub/test/CMakeLists.txt
  projects/hipccl/hipccl3/rocprim/test/CMakeLists.txt
  projects/hipccl/hipccl3/rocthrust/test/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipcub][rocthrust][rocprim] Add missing RESOURCE_GROUPS property to new tests from test filter standardization (#8188)
  projects/hipccl/hipccl2/hipcub/test/CMakeLists.txt
  projects/hipccl/hipccl2/rocprim/test/CMakeLists.txt
  projects/hipccl/hipccl2/rocthrust/test/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocprim] Add FFM test filters (#8334)
  projects/hipccl/hipccl3/rocprim/test/test_categories.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocprim] Add FFM test filters (#8334)
  projects/hipccl/hipccl2/rocprim/test/test_categories.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add SDDMM CSR format tests to cuda 12.8 and 13 tests
  projects/hipsparse/clients/include/hipsparse_graph.hpp
  projects/hipsparse/clients/include/testing_sddmm_csr.hpp
  projects/hipsparse/clients/tests/cuda/12.8/test_sddmm_csr.yaml
  projects/hipsparse/clients/tests/cuda/13/test_sddmm_csr.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add SDDMM CSR format tests to cuda 12.8 and 13 tests
  projects/hipsparse/clients/include/testing_sddmm_csr.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add SPMM BSR format tests to cuda 12.8 and 13 tests
  projects/hipsparse/clients/tests/cuda/13/test_spmm_bsr.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Address review feedback for dnn-benchmarking CUDA support
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/cli/hipdnn_suite_runner.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/cli/internal_profiling.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/cli/parser.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/cli/pytorch_suite_runner.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/cli/suite_runner_cli.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/config/__init__.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/config/benchmark_config.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/execution/executor.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/execution/pytorch_executor.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/execution/suite_runner.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/execution/timing.py
  projects/hipdnn/tools/dnn-benchmarking/tests/integration/test_gpu_timing_rocm.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/cli/test_suite_cli.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/config/test_benchmark_config.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/execution/test_executor_e2e_sync.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/execution/test_pytorch_executor.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/execution/test_suite_runner.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/execution/test_timing.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocBLAS] per-batch alpha stride support for axpy/axpy_ex
  projects/rocblas/.gitignore
  projects/rocblas/CHANGELOG.md
  projects/rocblas/clients/gtest/axpy_gtest.yaml
  projects/rocblas/clients/gtest/blas1/axpy_gtest.cpp
  projects/rocblas/clients/gtest/blas_ex/axpy_ex_gtest.cpp
  projects/rocblas/clients/include/blas1/testing_axpy_batched.hpp
  projects/rocblas/clients/include/blas1/testing_axpy_strided_batched.hpp
  projects/rocblas/clients/include/blas_ex/testing_axpy_batched_ex.hpp
  projects/rocblas/clients/include/blas_ex/testing_axpy_strided_batched_ex.hpp
  projects/rocblas/docs/reference/level-1.rst
  projects/rocblas/library/src/blas1/rocblas_axpy_batched_imp.hpp
  projects/rocblas/library/src/blas1/rocblas_axpy_strided_batched_imp.hpp
  projects/rocblas/library/src/blas_ex/rocblas_axpy_batched_ex_imp.hpp
  projects/rocblas/library/src/blas_ex/rocblas_axpy_strided_batched_ex_imp.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
