Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[rocBLAS] Fix Windows build infrastructure issues (Tensile dependencies and GPU detection) (#3930)
  projects/rocblas/CMakeLists.txt
  projects/rocblas/clients/CMakeLists.txt
  projects/rocblas/rdeps.py
  projects/rocblas/rdeps.xml
  projects/rocblas/rmake.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[HIPDNN] Enforce required default_value for Knobs and add EmptyConstraint for unconstrained knobs (#4553)
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/data_objects/knob_value_generated.h
  projects/hipdnn/data_sdk/schemas/knob_value.fbs
  projects/hipdnn/data_sdk/tests/flatbuffer_utilities/TestEngineDetailsWrapper.cpp
  projects/hipdnn/data_sdk/tests/flatbuffer_utilities/TestKnobWrapper.cpp
  projects/hipdnn/frontend/include/hipdnn_frontend/knob/Knob.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/knob/KnobConstraint.hpp
  projects/hipdnn/frontend/tests/TestKnob.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipTensor] Add IDs of newly added contraction instances with unary ops to Actor-Critic model (#4489)
  projects/hiptensor/library/src/contraction/contraction_selection.cpp
  projects/hiptensor/library/src/contraction/contraction_selection.hpp
  projects/hiptensor/library/src/contraction/contraction_solution_impl.hpp
  projects/hiptensor/library/src/contraction/contraction_solution_instances.cpp
  projects/hiptensor/library/src/contraction/device/CMakeLists.txt
  projects/hiptensor/library/src/contraction/device/device_contraction_bilinear_unary_m6_n6_k6_xdl_c_shuffle_bf16_bf16_bf16_bf16_kknn_instance.cpp
  projects/hiptensor/library/src/contraction/device/device_contraction_bilinear_unary_m6_n6_k6_xdl_c_shuffle_bf16_bf16_bf16_bf16_knnn_instance.cpp
  projects/hiptensor/library/src/contraction/device/device_contraction_bilinear_unary_m6_n6_k6_xdl_c_shuffle_bf16_bf16_bf16_bf16_mknn_instance.cpp
  projects/hiptensor/library/src/contraction/device/device_contraction_bilinear_unary_m6_n6_k6_xdl_c_shuffle_bf16_bf16_bf16_bf16_mnnn_instance.cpp
  projects/hiptensor/library/src/contraction/device/device_contraction_bilinear_unary_m6_n6_k6_xdl_c_shuffle_f16_f16_f16_f16_kknn_instance.cpp
  projects/hiptensor/library/src/contraction/device/device_contraction_bilinear_unary_m6_n6_k6_xdl_c_shuffle_f16_f16_f16_f16_knnn_instance.cpp
  projects/hiptensor/library/src/contraction/device/device_contraction_bilinear_unary_m6_n6_k6_xdl_c_shuffle_f16_f16_f16_f16_mknn_instance.cpp
  projects/hiptensor/library/src/contraction/device/device_contraction_bilinear_unary_m6_n6_k6_xdl_c_shuffle_f16_f16_f16_f16_mnnn_instance.cpp
  projects/hiptensor/library/src/contraction/device/device_contraction_scale_unary_m6_n6_k6_xdl_c_shuffle_bf16_bf16_bf16_kkn_instance.cpp
  projects/hiptensor/library/src/contraction/device/device_contraction_scale_unary_m6_n6_k6_xdl_c_shuffle_bf16_bf16_bf16_knn_instance.cpp
  projects/hiptensor/library/src/contraction/device/device_contraction_scale_unary_m6_n6_k6_xdl_c_shuffle_bf16_bf16_bf16_mkn_instance.cpp
  projects/hiptensor/library/src/contraction/device/device_contraction_scale_unary_m6_n6_k6_xdl_c_shuffle_bf16_bf16_bf16_mnn_instance.cpp
  projects/hiptensor/library/src/contraction/device/device_contraction_scale_unary_m6_n6_k6_xdl_c_shuffle_f16_f16_f16_kkn_instance.cpp
  projects/hiptensor/library/src/contraction/device/device_contraction_scale_unary_m6_n6_k6_xdl_c_shuffle_f16_f16_f16_knn_instance.cpp
  projects/hiptensor/library/src/contraction/device/device_contraction_scale_unary_m6_n6_k6_xdl_c_shuffle_f16_f16_f16_mkn_instance.cpp
  projects/hiptensor/library/src/contraction/device/device_contraction_scale_unary_m6_n6_k6_xdl_c_shuffle_f16_f16_f16_mnn_instance.cpp
  projects/hiptensor/library/src/contraction/device/hiptensor_contraction_bilinear_unary_ops_instances.hpp
  projects/hiptensor/library/src/contraction/device/hiptensor_contraction_scale_unary_ops_instances.hpp
  projects/hiptensor/library/src/contraction/hiptensor_contraction.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[miopen] Addressing New Compiler Warnings in MIOpen (#4131)
  projects/miopen/cmake/EnableCompilerWarnings.cmake
  projects/miopen/src/kernels/hip_f8_impl.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocPRIM] Temporarily disable gfx950 test_device_merge_sort cases (#4532)
  projects/rocprim/test/rocprim/CMakeLists.txt
  projects/rocprim/test/rocprim/test_device_merge_sort.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Add handle & stream management helpers to the frontend (#4630)
  projects/hipdnn/frontend/include/hipdnn_frontend.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/Handle.hpp
  projects/hipdnn/frontend/tests/CMakeLists.txt
  projects/hipdnn/frontend/tests/TestHandle.cpp
  projects/hipdnn/python/hipdnn_frontend/__init__.py
  projects/hipdnn/python/hipdnn_frontend/samples/conv_dgrad.py
  projects/hipdnn/python/hipdnn_frontend/samples/conv_fprop.py
  projects/hipdnn/python/hipdnn_frontend/samples/conv_wgrad.py
  projects/hipdnn/python/hipdnn_frontend/samples/matmul.py
  projects/hipdnn/python/src/handle_bindings.cpp
  projects/hipdnn/samples/batchnorm/BnBackward.cpp
  projects/hipdnn/samples/batchnorm/BnInference.cpp
  projects/hipdnn/samples/batchnorm/BnInferenceWithVariance.cpp
  projects/hipdnn/samples/batchnorm/BnTraining.cpp
  projects/hipdnn/samples/batchnorm/FusedBnInfDReluBnBwd.cpp
  projects/hipdnn/samples/batchnorm/FusedBnInferenceActiv.cpp
  projects/hipdnn/samples/batchnorm/FusedBnInferenceVarianceActiv.cpp
  projects/hipdnn/samples/batchnorm/FusedBnTrainingActiv.cpp
  projects/hipdnn/samples/convolution/ConvDgrad.cpp
  projects/hipdnn/samples/convolution/ConvFprop.cpp
  projects/hipdnn/samples/convolution/ConvWgrad.cpp
  projects/hipdnn/samples/convolution/FusedConvFpropActiv.cpp
  projects/hipdnn/samples/convolution/FusedConvFpropBiasActiv.cpp
  projects/hipdnn/samples/serialization/SerializationRoundTrip.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Revert "[CK] Add new fwd conv fp16/bf16 instances optimized for unit group size." (#4652)
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_conv_fwd/device_grouped_conv_fwd_xdl_comp_instance.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocRAND]: increasing benchmark workload (#3514)
  projects/rocrand/CHANGELOG.md
  projects/rocrand/benchmark/benchmark_occupancy_helper.hpp
  projects/rocrand/benchmark/benchmark_rocrand_device_api.cpp
  projects/rocrand/benchmark/benchmark_rocrand_host_api.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update CMakeLists.txt (#4655)
  projects/composablekernel/tile_engine/ops/gemm_streamk/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Revert "Reject UseCustomMainLoopSchedule=1 but no CMS Support and fixed libraries" (#4675)
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Alik_Bljk_HHS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bljk_F8NBS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bljk_F8NF8NS_BH_BiasSH_HAS_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/StreamK/gfx942_Cijk_Ailk_Bjlk_BBS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/StreamK/gfx942_Cijk_Alik_Bljk_BBS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942_80cu/Equality/aquavanjaram_Cijk_Ailk_Bljk_HHS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942_80cu/Equality/aquavanjaram_Cijk_Alik_Bljk_HHS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942_80cu/GridBased/aquavanjaram_Cijk_Alik_Bljk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bjlk_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bjlk_S_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bjlk_S_MX_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bljk_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bljk_S_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bjlk_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bjlk_S_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SABV_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_S_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_S_MX_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/Origami_nta4/gfx950_Cijk_Alik_Bljk_F8B8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/Origami_nta4/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Alik_Bljk_F8B8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_F8B8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/custom_mainloop_scheduling.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/custom_mainloop_scheduling_tf32.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/general_wgm.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt] Fix setLibrary race condition (#4621)
  projects/hipblaslt/tensilelite/include/Tensile/ExactLogicLibrary.hpp
  projects/hipblaslt/tensilelite/tests/ContractionSelectionLibrary_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Revert "Revert "Reject UseCustomMainLoopSchedule=1 but no CMS Support and fixed libraries"" (#4700)
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Alik_Bljk_HHS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bljk_F8NBS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bljk_F8NF8NS_BH_BiasSH_HAS_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/StreamK/gfx942_Cijk_Ailk_Bjlk_BBS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/StreamK/gfx942_Cijk_Alik_Bljk_BBS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942_80cu/Equality/aquavanjaram_Cijk_Ailk_Bljk_HHS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942_80cu/Equality/aquavanjaram_Cijk_Alik_Bljk_HHS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942_80cu/GridBased/aquavanjaram_Cijk_Alik_Bljk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bjlk_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bjlk_S_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bjlk_S_MX_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bljk_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bljk_S_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bjlk_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bjlk_S_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SABV_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_S_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_S_MX_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/Origami_nta4/gfx950_Cijk_Alik_Bljk_F8B8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/Origami_nta4/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Alik_Bljk_F8B8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_F8B8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/custom_mainloop_scheduling.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/custom_mainloop_scheduling_tf32.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/general_wgm.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix SIOF bug in gfx11 matrix instruction map initialization (#4666)
  shared/origami/include/origami/hardware.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Updating all hipsparselt libraries to use UseCustomMainLoopSchedule0 (#4674)
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Ailk_Bljk_BBS_BH_Bias_FDMN_SPB_A_S_SAV.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Alik_Bljk_BBS_BH_Bias_FDMN_SPA_A_S_SAV.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Alik_Bljk_BBS_BH_Bias_FDMN_SPB_A_S_SAV.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Alik_Bljk_HHS_BH_Bias_FDMN_SPB_A_S_SAV.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_HHS_BH_Bias_FDMN_SPB_A_S_SAV.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocRAND] fix warnings: HIP_CHECKs missing at hipgraphs_doc_sample.hpp (#4590)
  projects/rocrand/test/hipgraphs_doc_sample.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocsparse] Centralize _Float16 stream output operator (#4672)
  projects/rocsparse/clients/include/rocsparse_clients_float16.hpp
  projects/rocsparse/clients/include/rocsparse_vector.hpp
  projects/rocsparse/clients/include/utility.hpp
  projects/rocsparse/clients/tools/rocsparseio-convert.cpp
  projects/rocsparse/library/src/conversion/rocsparse_internal_spmat_print.cpp
  projects/rocsparse/library/src/include/rocsparse_float16.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipdnn] [miopen-provider] Centralize AI rule files (#4445)
  dnn-providers/miopen-provider/.cursor/rules/ai-rules.mdc
  dnn-providers/miopen-provider/.cursor/rules/building.mdc
  dnn-providers/miopen-provider/.cursor/rules/cpp-style.mdc
  dnn-providers/miopen-provider/.cursor/rules/hipdnn-architecture.mdc
  dnn-providers/miopen-provider/.cursor/rules/testing.mdc
  dnn-providers/miopen-provider/.github/copilot-instructions.md
  dnn-providers/miopen-provider/CLAUDE.md
  dnn-providers/miopen-provider/docs/ai-rules.md
  projects/hipdnn/.clinerules
  projects/hipdnn/.cursor/rules/ai-rules.mdc
  projects/hipdnn/.cursor/rules/building.mdc
  projects/hipdnn/.cursor/rules/cpp-style.mdc
  projects/hipdnn/.cursor/rules/hipdnn-architecture.mdc
  projects/hipdnn/.cursor/rules/testing.mdc
  projects/hipdnn/.github/copilot-instructions.md
  projects/hipdnn/CLAUDE.md
  projects/hipdnn/docs/Building.md
  projects/hipdnn/docs/ai-rules.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[HipDNN]: Add Plugin unloaded ext function to hipdnn backend. (#4625)
  dnn-providers/miopen-provider/integration_tests/IntegrationGraphVerificationHarness.hpp
  dnn-providers/miopen-provider/integration_tests/main.cpp
  projects/hipdnn/backend/include/HipdnnBackendPluginUnloadingMode.h
  projects/hipdnn/backend/include/hipdnn_backend.h
  projects/hipdnn/backend/src/BackendEnumStringUtils.hpp
  projects/hipdnn/backend/src/HipdnnBackend.cpp
  projects/hipdnn/backend/src/logging/EnumFormatters.hpp
  projects/hipdnn/backend/src/plugin/EnginePluginResourceManager.cpp
  projects/hipdnn/backend/src/plugin/EnginePluginResourceManager.hpp
  projects/hipdnn/backend/tests/TestBackendEnumStringUtils.cpp
  projects/hipdnn/backend/tests/main.cpp
  projects/hipdnn/tests/backend/CMakeLists.txt
  projects/hipdnn/tests/backend/IntegrationSetPluginUnloadingModeExt.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[ci] Adding timeout mins for TheRock CI steps (#4725)
  .github/workflows/therock-test-component.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocrand): nvcc build (#3985)
  projects/rocrand/benchmark/custom_csv_formater.hpp
  projects/rocrand/library/src/rng/mt19937_octo_engine.hpp
  projects/rocrand/test/internal/test_rocrand_host_prng.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[miopen-provider] Add hipDNN CMake utilities (#4473)
  dnn-providers/miopen-provider/CMakeLists.txt
  dnn-providers/miopen-provider/cmake/CheckPreCommit.cmake
  dnn-providers/miopen-provider/cmake/CheckToolVersion.cmake
  dnn-providers/miopen-provider/cmake/ClangCheck.cmake
  dnn-providers/miopen-provider/cmake/ClangTidy.cmake
  dnn-providers/miopen-provider/cmake/Sanitizers.cmake
  dnn-providers/miopen-provider/cmake/Tests.cmake
  dnn-providers/miopen-provider/integration_tests/CMakeLists.txt
  dnn-providers/miopen-provider/tests/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[ci] Adding skip-therockci label logic (#4708)
  .github/scripts/therock_configure_ci.py
  .github/workflows/therock-ci.yml
  docs/ci_behavior_manipulation.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Compile time optimization warp_exchange (#4412)
  projects/rocprim/rocprim/include/rocprim/warp/warp_exchange.hpp
  projects/rocprim/test/rocprim/test_warp_exchange.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add tensilelite directory to hipSPARSELt labeler config (#4144)
  .github/labeler.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] [ALMIOPEN-847] Adding knobs documentation and samples (#4711)
  dnn-providers/miopen-provider/CMakeLists.txt
  dnn-providers/miopen-provider/docs/EngineConfiguration.md
  dnn-providers/miopen-provider/docs/Knobs.md
  projects/hipdnn/backend/src/CMakeLists.txt
  projects/hipdnn/docs/HowTo.md
  projects/hipdnn/docs/Knobs.md
  projects/hipdnn/docs/PluginDevelopment.md
  projects/hipdnn/docs/rfcs/0004_EngineConfigKnobs.md
  projects/hipdnn/samples/CMakeLists.txt
  projects/hipdnn/samples/README.md
  projects/hipdnn/samples/knobs/KnobsUsage.cpp
  projects/hipdnn/samples/knobs/README.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[hipblaslt] Added API to query available CMS kernels and parameters (#4696)
  projects/hipblaslt/tensilelite/Tensile/Components/CustomSchedule.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomSchedule_LayoutAutoDetection.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix: correct ULP calculation in get_absolute_threshold for BF16 tolerance (#4556)
  projects/composablekernel/include/ck_tile/host/check_err.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocsparse] skip non-YAML tests when using --yaml filter (#4668)
  projects/rocsparse/CHANGELOG.md
  projects/rocsparse/clients/common/rocsparse_parse_data.cpp
  projects/rocsparse/clients/include/rocsparse_data.hpp
  projects/rocsparse/clients/tests/rocsparse_test_listeners.cpp
  projects/rocsparse/clients/tests/rocsparse_test_listeners.hpp
  projects/rocsparse/clients/tests/rocsparse_test_main.cpp
  projects/rocsparse/clients/tests/test_atomic_add.cpp
  projects/rocsparse/clients/tests/test_bfloat16.cpp
  projects/rocsparse/clients/tests/test_complex_types.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[ck] Support VGPR estimate in GridwiseGemm_wmma_cshuffle_v3 (#4638)
  projects/composablekernel/example/35_splitK_gemm/gemm_wmma_splitk_reduce_multi_d_fp16.cpp
  projects/composablekernel/example/65_gemm_multiply_multiply/gemm_multiply_multiply_wmma_fp16_bpreshuffle.cpp
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_data_multiple_d_wmma_cshuffle_v3.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/grid/gridwise_gemm_wmma_cshuffle_v3.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen] CPU_SolverTest_NONE.TestSolver fix (#4716)
  projects/miopen/test/gtest/solver.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipBLASlt][CMS] TF32 128x128x32 and 128x128x64 NN w/PLR1 w/VectorWidth=2,4 (#4639)
  projects/hipblaslt/tensilelite/Tensile/Components/CustomSchedule.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/custom_mainloop_scheduling_tf32.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomSchedule.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[ci] Adding TSAN builds (#4141)
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/cmake/hipblaslt_target_configure_sanitizers.cmake
  projects/hipblaslt/tensilelite/Tensile/cmake/TensileConfig.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Add quickstart doc for consumers (#4613)
  projects/hipdnn/README.md
  projects/hipdnn/docs/ConsumerQuickStart.md
  projects/hipdnn/docs/HowTo.md
  projects/hipdnn/samples/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocFFT] Allow deterministic device input generator to be used when USE_HIPRAND=OFF. (#4058)
  projects/hipfft/clients/bench/bench.cpp
  projects/hipfft/shared/accuracy_test.h
  projects/hipfft/shared/data_gen_device.cpp
  projects/hipfft/shared/data_gen_device.h
  projects/hipfft/shared/fft_params.h
  projects/rocfft/clients/bench/bench.h
  projects/rocfft/clients/tests/hermitian_test.cpp
  projects/rocfft/shared/accuracy_test.h
  projects/rocfft/shared/data_gen_device.cpp
  projects/rocfft/shared/data_gen_device.h
  projects/rocfft/shared/fft_params.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipBLASlt][CMS] Add CMS for BF16 256x224x64 NN (#4680)
  projects/hipblaslt/tensilelite/Tensile/Components/CustomSchedule.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/custom_mainloop_scheduling.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomSchedule.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Updated the optimization pass number to accomodate for gfx908 failure as well
  shared/tensile/HostLibraryTests/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Disable the optimization for RunGEMMKernel_test.cpp
  shared/tensile/HostLibraryTests/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Read default preferred engine from HIPDNN_PREFERRED_ENGINE e… (#4661)
  projects/hipdnn/frontend/include/hipdnn_frontend/Graph.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocBLAS] use status to log or report details on Tensile related failures (#4628)
  projects/rocblas/clients/common/gtest_helpers.cpp
  projects/rocblas/library/src/tensile_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen] Fix stack overflow in kernels() for threads with small stacks (#4472)
  projects/miopen/src/CMakeLists.txt
  projects/miopen/src/kernels/kernel.cpp.in
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
