Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Drop cmake workarounds for nvcc < 12
  projects/rocthrust/testing/fix_clang_nvcc_11.5.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add variadic ctor and CTAD to zip_iterator
  projects/rocthrust/test/test_zip_iterator.cpp
  projects/rocthrust/testing/zip_iterator.cu
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add thrust::strided_iterator and a step for thrust::counting_iterator
  projects/rocthrust/test/CMakeLists.txt
  projects/rocthrust/test/test_counting_iterator.cpp
  projects/rocthrust/test/test_strided_iterator.cpp
  projects/rocthrust/testing/counting_iterator.cu
  projects/rocthrust/testing/strided_iterator.cu
  projects/rocthrust/thrust/iterator/counting_iterator.h
  projects/rocthrust/thrust/iterator/iterator_adaptor.h
  projects/rocthrust/thrust/iterator/strided_iterator.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Allow default-initializing and skipping initialization of Thrust vectors
  projects/rocthrust/test/test_vector.cpp
  projects/rocthrust/testing/vector.cu
  projects/rocthrust/thrust/detail/vector_base.h
  projects/rocthrust/thrust/detail/vector_base.inl
  projects/rocthrust/thrust/device_vector.h
  projects/rocthrust/thrust/host_vector.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Make sure that libcxx iterators play nicely with the thrust system and traversal machinery
  projects/rocthrust/test/CMakeLists.txt
  projects/rocthrust/test/test_libcxx_iterators.cpp
  projects/rocthrust/test/test_zip_iterator.cpp
  projects/rocthrust/testing/CMakeLists.txt
  projects/rocthrust/testing/cuda_iterators.cu
  projects/rocthrust/testing/zip_iterator.cu
  projects/rocthrust/thrust/detail/internal_functional.h
  projects/rocthrust/thrust/detail/type_traits/pointer_traits.h
  projects/rocthrust/thrust/iterator/constant_iterator.h
  projects/rocthrust/thrust/iterator/counting_iterator.h
  projects/rocthrust/thrust/iterator/detail/retag.h
  projects/rocthrust/thrust/iterator/iterator_traits.h
  projects/rocthrust/thrust/iterator/permutation_iterator.h
  projects/rocthrust/thrust/iterator/zip_iterator.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Reorganise testframework unit test
  projects/rocthrust/testing/unittest/testframework.cu
  projects/rocthrust/testing/unittest/testframework.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Small refactorings in Thrust CUDA
  projects/rocthrust/thrust/system/cuda/detail/fill.h
  projects/rocthrust/thrust/system/cuda/detail/tabulate.h
  projects/rocthrust/thrust/system/cuda/detail/terminate.h
  projects/rocthrust/thrust/system/cuda/detail/uninitialized_copy.h
  projects/rocthrust/thrust/system/cuda/detail/uninitialized_fill.h
  projects/rocthrust/thrust/system/hip/detail/fill.h
  projects/rocthrust/thrust/system/hip/detail/tabulate.h
  projects/rocthrust/thrust/system/hip/detail/terminate.h
  projects/rocthrust/thrust/system/hip/detail/uninitialized_copy.h
  projects/rocthrust/thrust/system/hip/detail/uninitialized_fill.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Refactor Thrust select_system
  projects/rocthrust/thrust/detail/select_system.h
  projects/rocthrust/thrust/detail/type_traits/is_metafunction_defined.h
  projects/rocthrust/thrust/iterator/detail/minimum_system.h
  projects/rocthrust/thrust/system/detail/generic/select_system.h
  projects/rocthrust/thrust/system/detail/generic/select_system.inl
  projects/rocthrust/thrust/system/detail/generic/select_system_exists.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add missing header to iterator traits
  projects/rocthrust/thrust/iterator/iterator_traits.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Port `thrust::strided_iterator` to libhipcxx
  projects/rocthrust/CHANGELOG.md
  projects/rocthrust/test/test_libcxx_iterators.cpp
  projects/rocthrust/testing/cuda_iterators.cu
  projects/rocthrust/thrust/iterator/iterator_traits.h
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Refactor Thrust internal_functional
  projects/rocthrust/test/test_copy.cpp
  projects/rocthrust/test/test_raw_reference_cast.cpp
  projects/rocthrust/testing/copy.cu
  projects/rocthrust/testing/raw_reference_cast.cu
  projects/rocthrust/thrust/detail/internal_functional.h
  projects/rocthrust/thrust/detail/raw_reference_cast.h
  projects/rocthrust/thrust/detail/type_traits.h
  projects/rocthrust/thrust/iterator/tabulate_output_iterator.h
  projects/rocthrust/thrust/iterator/transform_input_output_iterator.h
  projects/rocthrust/thrust/iterator/transform_output_iterator.h
  projects/rocthrust/thrust/system/cuda/detail/count.h
  projects/rocthrust/thrust/system/cuda/detail/remove.h
  projects/rocthrust/thrust/system/cuda/detail/replace.h
  projects/rocthrust/thrust/system/detail/generic/copy.inl
  projects/rocthrust/thrust/system/detail/generic/copy_if.inl
  projects/rocthrust/thrust/system/detail/generic/fill.h
  projects/rocthrust/thrust/system/detail/generic/merge.inl
  projects/rocthrust/thrust/system/detail/generic/mismatch.inl
  projects/rocthrust/thrust/system/detail/generic/remove.inl
  projects/rocthrust/thrust/system/detail/generic/set_operations.inl
  projects/rocthrust/thrust/system/detail/generic/sort.inl
  projects/rocthrust/thrust/system/detail/generic/transform.inl
  projects/rocthrust/thrust/system/detail/generic/uninitialized_fill.inl
  projects/rocthrust/thrust/system/hip/detail/count.h
  projects/rocthrust/thrust/system/hip/detail/remove.h
  projects/rocthrust/thrust/system/hip/detail/replace.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Refactor thrust::minimum_type|minimum_system
  projects/rocthrust/test/CMakeLists.txt
  projects/rocthrust/test/test_minimum_type.cpp
  projects/rocthrust/testing/CMakeLists.txt
  projects/rocthrust/testing/minimum_type.cu
  projects/rocthrust/thrust/detail/overlapped_copy.h
  projects/rocthrust/thrust/detail/type_traits/minimum_type.h
  projects/rocthrust/thrust/iterator/detail/minimum_system.h
  projects/rocthrust/thrust/iterator/permutation_iterator.h
  projects/rocthrust/thrust/iterator/zip_iterator.h
  projects/rocthrust/thrust/system/detail/generic/copy.inl
  projects/rocthrust/thrust/system/detail/generic/copy_if.inl
  projects/rocthrust/thrust/system/detail/generic/reduce_by_key.inl
  projects/rocthrust/thrust/system/detail/generic/transform.inl
  projects/rocthrust/thrust/system/detail/generic/unique_by_key.inl
  projects/rocthrust/thrust/system/omp/detail/copy.inl
  projects/rocthrust/thrust/system/tbb/detail/copy.inl
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Port ``thrust::constant_iterator`` to libhipcxx
  projects/rocthrust/CHANGELOG.md
  projects/rocthrust/test/test_libcxx_iterators.cpp
  projects/rocthrust/testing/cuda_iterators.cu
  projects/rocthrust/thrust/iterator/iterator_traits.h
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Use ``hip::std::type_identity`` instead of identity-like types
  projects/rocthrust/CHANGELOG.md
  projects/rocthrust/thrust/detail/allocator/allocator_traits.h
  projects/rocthrust/thrust/detail/internal_functional.h
  projects/rocthrust/thrust/detail/pointer.h
  projects/rocthrust/thrust/detail/raw_reference_cast.h
  projects/rocthrust/thrust/detail/temporary_array.h
  projects/rocthrust/thrust/detail/type_traits.h
  projects/rocthrust/thrust/detail/type_traits/pointer_traits.h
  projects/rocthrust/thrust/iterator/constant_iterator.h
  projects/rocthrust/thrust/iterator/counting_iterator.h
  projects/rocthrust/thrust/iterator/detail/iterator_adaptor_base.h
  projects/rocthrust/thrust/iterator/detail/iterator_facade_category.h
  projects/rocthrust/thrust/iterator/zip_iterator.h
  projects/rocthrust/thrust/random/detail/xor_combine_engine_max.h
  projects/rocthrust/thrust/random/xor_combine_engine.h
  projects/rocthrust/thrust/system/cuda/detail/core/util.h
  projects/rocthrust/thrust/unique_ptr.h
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Drop dead code in Thrust reduce
  projects/rocthrust/thrust/system/cuda/detail/reduce.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update raw pointer in unwrap contiguous iterator
  projects/rocthrust/thrust/type_traits/unwrap_contiguous_iterator.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add trivial sort test
  projects/rocthrust/test/test_sort.cpp
  projects/rocthrust/testing/sort.cu
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocBLAS) : revert gfx942 hipblaslt until more data types are supported (#11441)
  projects/rocblas/library/src/include/handle.hpp
  projects/rocblas/library/src/tensile_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Replace ``_LIBCUDACXX_HIDE_FROM_ABI`` with ``_CCCL_API`` inline
  projects/rocthrust/.clang-format
  projects/rocthrust/CHANGELOG.md
  projects/rocthrust/thrust/advance.h
  projects/rocthrust/thrust/distance.h
  projects/rocthrust/thrust/functional.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Port ``thrust::tabulate_output_iterator`` to libhipcxx
  projects/rocthrust/CHANGELOG.md
  projects/rocthrust/test/test_libcxx_iterators.cpp
  projects/rocthrust/testing/cuda_iterators.cu
  projects/rocthrust/thrust/detail/internal_functional.h
  projects/rocthrust/thrust/iterator/iterator_traits.h
  projects/rocthrust/thrust/iterator/zip_iterator.h
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Refactor thrust::sequential::sort
  projects/rocthrust/thrust/system/detail/sequential/sort.inl
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Refactor around thrust::vector
  projects/rocthrust/thrust/detail/temporary_array.inl
  projects/rocthrust/thrust/detail/type_traits/is_thrust_pointer.h
  projects/rocthrust/thrust/detail/type_traits/pointer_traits.h
  projects/rocthrust/thrust/detail/vector_base.h
  projects/rocthrust/thrust/detail/vector_base.inl
  projects/rocthrust/thrust/system/cuda/detail/internal/copy_device_to_device.h
  projects/rocthrust/thrust/type_traits/is_contiguous_iterator.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Apply `remove_cvref` in `thrust::is_contiguous_iterator` and refactor all uses
  projects/rocthrust/test/test_is_contiguous_iterator.cpp
  projects/rocthrust/test/test_trivial_sequence.cpp
  projects/rocthrust/test/test_type_traits.cpp
  projects/rocthrust/test/test_universal_memory.cpp
  projects/rocthrust/testing/is_contiguous_iterator.cu
  projects/rocthrust/testing/trivial_sequence.cu
  projects/rocthrust/testing/type_traits.cu
  projects/rocthrust/testing/universal_memory.cu
  projects/rocthrust/thrust/detail/trivial_sequence.h
  projects/rocthrust/thrust/system/cuda/detail/core/make_load_iterator.h
  projects/rocthrust/thrust/system/cuda/detail/sort.h
  projects/rocthrust/thrust/type_traits/is_contiguous_iterator.h
  projects/rocthrust/thrust/type_traits/is_trivially_relocatable.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add vectorized `cub::DeviceTransform` algorithm
  projects/rocthrust/thrust/system/cuda/detail/core/util.h
  projects/rocthrust/thrust/system/cuda/detail/unique.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

`thrust::cuda::pinned_memory_resource` should dispatch to the host system
  projects/rocthrust/test/test_universal_memory.cpp
  projects/rocthrust/testing/universal_memory.cu
  projects/rocthrust/thrust/system/cpp/pointer.h
  projects/rocthrust/thrust/system/cuda/memory_resource.h
  projects/rocthrust/thrust/system/cuda/pointer.h
  projects/rocthrust/thrust/system/hip/memory_resource.h
  projects/rocthrust/thrust/system/hip/pointer.h
  projects/rocthrust/thrust/system/omp/pointer.h
  projects/rocthrust/thrust/system/tbb/pointer.h
  projects/rocthrust/thrust/universal_allocator.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Port ``thrust::transform_output_iterator`` to libhipcxx
  projects/rocthrust/CHANGELOG.md
  projects/rocthrust/test/test_libcxx_iterators.cpp
  projects/rocthrust/testing/cuda_iterators.cu
  projects/rocthrust/thrust/detail/internal_functional.h
  projects/rocthrust/thrust/iterator/iterator_traits.h
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix ``thrust::make_discard_iterator``
  projects/rocthrust/CHANGELOG.md
  projects/rocthrust/thrust/iterator/discard_iterator.h
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt-provider): add OCP MX FP6 (E2M3/E3M2) dequantize + GEMM support (#11069)
  dnn-providers/hipblaslt-provider/HipblasltUtils.cpp
  dnn-providers/hipblaslt-provider/HipblasltUtils.hpp
  dnn-providers/hipblaslt-provider/Workarounds.hpp
  dnn-providers/hipblaslt-provider/docs/OperationSupport.md
  dnn-providers/hipblaslt-provider/engines/plans/HipblasltMxMatmulPlanBuilder.cpp
  dnn-providers/hipblaslt-provider/tests/TestHipblasltUtils.cpp
  dnn-providers/hipblaslt-provider/tests/engines/plans/TestHipblasltMxMatmulPlanBuilder.cpp
  dnn-providers/integration-tests/src/integration-tests/matmul/IntegrationGpuMxMatmul.cpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/PackedElementTraits.hpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/PackedFp4Tensor.hpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/PackedFp6Tensor.hpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/PackedSubByteTensor.hpp
  projects/hipdnn/data_sdk/tests/CMakeLists.txt
  projects/hipdnn/data_sdk/tests/utilities/TestPackedFp4Tensor.cpp
  projects/hipdnn/data_sdk/tests/utilities/TestPackedFp6Tensor.cpp
  projects/hipdnn/docs/OperationSupport.md
  projects/hipdnn/frontend/include/hipdnn_frontend/Types.hpp
  projects/hipdnn/frontend/tests/TestTypes.cpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/SdkFrontendTypeConversions.hpp
  projects/hipdnn/test_sdk/tests/utilities/TestSdkFrontendTypeConversions.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Port ``thrust::permutation_iterator``
  projects/rocthrust/CHANGELOG.md
  projects/rocthrust/test/test_libcxx_iterators.cpp
  projects/rocthrust/testing/cuda_iterators.cu
  projects/rocthrust/thrust/iterator/iterator_traits.h
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update doc errors set_operations.h
  projects/rocthrust/thrust/set_operations.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Refactor generic sequence
  projects/rocthrust/thrust/system/detail/generic/sequence.h
  projects/rocthrust/thrust/system/detail/generic/sequence.inl
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Refactor benchmark of conditional algorithms
  projects/rocthrust/benchmark/bench/copy/if.cu
  projects/rocthrust/benchmark/bench/partition/basic.cu
  projects/rocthrust/benchmark/bench_utils/bench_utils.hpp
  projects/rocthrust/benchmark/bench_utils/generation_utils.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Reimplement thrust::swap_ranges via transform
  projects/rocthrust/thrust/system/cuda/detail/swap_ranges.h
  projects/rocthrust/thrust/system/hip/detail/swap_ranges.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Implement ``transform[_if]_n`` in the generic system
  projects/rocthrust/CHANGELOG.md
  projects/rocthrust/thrust/detail/transform.inl
  projects/rocthrust/thrust/system/detail/generic/transform.h
  projects/rocthrust/thrust/system/detail/generic/transform.inl
  projects/rocthrust/thrust/transform.h
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Refactor thrust cuda replace
  projects/rocthrust/thrust/system/cuda/detail/replace.h
  projects/rocthrust/thrust/system/hip/detail/replace.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Replace cuda version checks
  projects/rocthrust/test/test_vector.cpp
  projects/rocthrust/testing/vector.cu
  projects/rocthrust/thrust/detail/malloc_and_free.h
  projects/rocthrust/thrust/system/cuda/error.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixes ``thrust::unique`` for non-const ``equality_op``
  projects/rocthrust/testing/cuda/unique.cu
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[Backport 3.1] Backport iterator fixes
  projects/rocthrust/test/test_constant_iterator.cpp
  projects/rocthrust/test/test_counting_iterator.cpp
  projects/rocthrust/test/test_discard_iterator.cpp
  projects/rocthrust/test/test_offset_iterator.cpp
  projects/rocthrust/test/test_permutation_iterator.cpp
  projects/rocthrust/test/test_reverse_iterator.cpp
  projects/rocthrust/test/test_tabulate_output_iterator.cpp
  projects/rocthrust/test/test_transform_input_output_iterator.cpp
  projects/rocthrust/test/test_transform_iterator.cpp
  projects/rocthrust/test/test_transform_output_iterator.cpp
  projects/rocthrust/test/test_zip_iterator.cpp
  projects/rocthrust/testing/constant_iterator.cu
  projects/rocthrust/testing/counting_iterator.cu
  projects/rocthrust/testing/discard_iterator.cu
  projects/rocthrust/testing/offset_iterator.cu
  projects/rocthrust/testing/permutation_iterator.cu
  projects/rocthrust/testing/reverse_iterator.cu
  projects/rocthrust/testing/tabulate_output_iterator.cu
  projects/rocthrust/testing/transform_input_output_iterator.cu
  projects/rocthrust/testing/transform_iterator.cu
  projects/rocthrust/testing/transform_output_iterator.cu
  projects/rocthrust/testing/zip_iterator.cu
  projects/rocthrust/thrust/detail/vector_base.h
  projects/rocthrust/thrust/detail/vector_base.inl
  projects/rocthrust/thrust/iterator/iterator_traits.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Use forward declarations of extended floating point types instead of including the headers
  projects/rocthrust/thrust/system/cuda/detail/sort.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[Backport to 3.1] Fix dereferencing `nullptr` in `thrust::device_reference`
  projects/rocthrust/test/test_minimum_system.cpp
  projects/rocthrust/testing/CMakeLists.txt
  projects/rocthrust/testing/minimum_system.cu
  projects/rocthrust/thrust/detail/reference.h
  projects/rocthrust/thrust/detail/seq.h
  projects/rocthrust/thrust/iterator/detail/minimum_system.h
  projects/rocthrust/thrust/system/cpp/detail/execution_policy.h
  projects/rocthrust/thrust/system/detail/generic/select_system.h
  projects/rocthrust/thrust/system/detail/sequential/execution_policy.h
  projects/rocthrust/thrust/system/omp/detail/execution_policy.h
  projects/rocthrust/thrust/system/tbb/detail/execution_policy.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
