Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

build: bootstrap host-numerics component
  .github/workflows/host-numerics-ci.yml
  shared/host-numerics/CMakeLists.txt
  shared/host-numerics/LICENSE.md
  shared/host-numerics/README.md
  shared/host-numerics/cmake/ROCHostNumericsConfig.cmake.in
  shared/host-numerics/include/roc/host_numerics/version.hpp
  shared/host-numerics/python/CMakeLists.txt
  shared/host-numerics/python/roc_host_numerics/__init__.py
  shared/host-numerics/python/src/bindings.cpp
  shared/host-numerics/python/tests/test_import.py
  shared/host-numerics/tests/CMakeLists.txt
  shared/host-numerics/tests/package/CMakeLists.txt
  shared/host-numerics/tests/package/main.cpp
  shared/host-numerics/tests/version_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

ci(host-numerics): minimize standalone setup
  .github/workflows/host-numerics-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(miopen): move the parity harness self-tests from pre-commit to ctest
  .pre-commit-config.yaml
  projects/miopen/script/test_check_public_abi.py
  projects/miopen/script/test_compare_forwarding_runs.py
  projects/miopen/script/test_run_forwarding_parity.py
  projects/miopen/test/gtest/CMakeLists.txt
  projects/miopen/test/gtest/test_forwarding_parity_gpu_labels.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Address review: gmock completeness, tool scoping, doc single-sourcing
  dnn-providers/cmake/Dependencies.cmake
  dnn-providers/hip-kernel-provider/README.md
  dnn-providers/hip-kernel-provider/descriptor-packaging/cmake/HkpPackaging.cmake
  dnn-providers/hip-kernel-provider/descriptor-packaging/tests/conftest.py
  dnn-providers/hip-kernel-provider/descriptor-packaging/tests/test_hkp_python_environment.py
  dnn-providers/hipblaslt-provider/README.md
  dnn-providers/miopen-provider/README.md
  projects/hipdnn/cmake/Dependencies.cmake
  projects/hipdnn/cmake/Tests.cmake
  projects/hipdnn/docs/Building.md
  projects/hipdnn/samples/example_engine_plugin/tests/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(rocke/attention): address host-independence review findings
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention/gfx942.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/attention_unified.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_dense_pipe_wiring.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_host_independent_dispatch.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_per_engine_spec_fns.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_builds.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_lds_budget_resolver.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Added num_kv_blocks to UnifiedAttentionProblem
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx950/attention/prefill/parity_unified_attention.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ci): match JIT client dependency configuration
  .github/workflows/hipblaslt-jit-gemm-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(rocke/attention): apply black formatting to review fixes
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/attention_unified.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_per_engine_spec_fns.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

addressing review comments
  projects/hipthreads/docs/conceptual/hipThreads-execution-model.rst
  projects/hipthreads/docs/how-to/hipThreads-in-a-project.rst
  projects/hipthreads/docs/how-to/hipThreads-tune-scheduler-concurrency.rst
  projects/hipthreads/docs/index.rst
  projects/hipthreads/docs/install/install.rst
  projects/hipthreads/docs/install/source-build.rst
  projects/hipthreads/docs/reference/cpp_api.rst
  projects/hipthreads/docs/reference/hipThreads-set-test-timeout.rst
  projects/hipthreads/docs/reference/limitations.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Added tests to evaluate shim overhead
  projects/hipdnn/cmake/scripts/test_name_validator.py
  projects/hipdnn/docs/rfcs/0012_CuDNN_Shim.md
  projects/hipdnn/tests/frontend/CMakeLists.txt
  projects/hipdnn/tests/frontend/IntegrationCudnnShimOverhead.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(hipdnn): share expression arrays and complete device identity
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/HandleDeviceResolver.hpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/TestHandleDeviceResolver.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/IngestorPackTestSupport.hpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/TestConvFwdPack.cpp
  projects/hipdnn/docs/Environment.md
  projects/hipdnn/docs/JsonExpression.md
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/DeviceKey.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/DeviceProperties.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/WinnerCacheFile.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/jsonexpr/Value.hpp
  projects/hipdnn/plugin_sdk/tests/ingestor/KernelIngestorTestFixtures.hpp
  projects/hipdnn/plugin_sdk/tests/ingestor/TestDeviceKey.cpp
  projects/hipdnn/plugin_sdk/tests/ingestor/TestGenericPlanBuilder.cpp
  projects/hipdnn/plugin_sdk/tests/ingestor/TestJsonDataSource.cpp
  projects/hipdnn/plugin_sdk/tests/ingestor/TestJsonExpression.cpp
  projects/hipdnn/plugin_sdk/tests/ingestor/TestJsonValue.cpp
  projects/hipdnn/plugin_sdk/tests/ingestor/TestWinnerCache.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

perf(hipblaslt): specialize gfx1151 w4a16 group-128 decode
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1151/FreeSize/gfx1151_W4A16_Decode_G128_ExLlama.yaml
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/Contractions.py
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Custom_W4A16_Decode_G128_ExLlama_gfx1151.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Source/README.md
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Source/generate_w4a16_decode.py
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Source/w4a16_decode.hip
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/ValidParameters/__snapshots__/test_builders_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_custom_kernel_staggeru_metadata.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_w4a16_decode.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

perf(rocsparse): straight-line fast path for check_matrix_csr when grid unclamped (AISPARSE-698)
  projects/rocsparse/library/src/util/check_matrix_csr_device.h
  projects/rocsparse/library/src/util/rocsparse_check_matrix_csr.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocsparse): single-panel fast path for bellmm when grid.y unclamped (AISPARSE-667)
  projects/rocsparse/library/src/level3/rocsparse_bellmm_template_general.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipfft): guard -Xcompiler/-Xlinker wrapping behind actual nvcc check
  projects/hipfft/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocsparse): straight-line fast path for bsr2csr block-per-row kernels when grid unclamped (AISPARSE-703)
  projects/rocsparse/library/src/conversion/bsr2csr_device.h
  projects/rocsparse/library/src/conversion/rocsparse_bsr2csr.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(hipblaslt): tune group-32 w4a16 Q27B Equality dispatch
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1151/Equality/gfx1151_Cijk_Alik_Bljk_I4H_HHS_BH_SABB32ZPU8X_Q27B.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1151/FreeSize/gfx1151_W4A16_Decode_G32_ExLlama.yaml
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Custom_W4A16_Decode_G128_ExLlama_gfx1151.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Custom_W4A16_Decode_G32_ExLlama_gfx1151.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Custom_W4A16_Decode_G32_W4_ExLlama_gfx1151.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Source/README.md
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Source/generate_w4a16_decode.py
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Source/w4a16_decode.hip
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_custom_kernel_staggeru_metadata.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_w4a16_decode.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(ci): Remove C++17 flag for gfx90a in CK CI (#12417)
  projects/composablekernel/groovy/vars/ck.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke): carry the gfx1250 TDM traits through the C++ spec and bindings
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/bindings/rocke_engine.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/include/rocke/instance_gemm_universal.h
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/instances/common/gemm_spec.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add HIPCCL_BUILD_LEGACY feature flag
  projects/hipccl/CMakeLists.txt
  projects/hipccl/hipccl2/hipcub/CMakeLists.txt
  projects/hipccl/hipccl2/rocprim/CMakeLists.txt
  projects/hipccl/hipccl2/rocthrust/CMakeLists.txt
  projects/hipccl/hipccl3/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix: update RTD paths to be repo-root-relative for RPP subproject
  projects/rpp/.readthedocs.yaml
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix: update RTD paths to be repo-root-relative for RPP subproject
  projects/rpp/.readthedocs.yaml
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add labels to CMake summaries
  projects/hipccl/hipccl3/hipcub/cmake/Summary.cmake
  projects/hipccl/hipccl3/rocprim/cmake/Summary.cmake
  projects/hipccl/hipccl3/rocthrust/cmake/Summary.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

revert(rocke): restore per-shape identity for gfx950 SWA kernels
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx950/attention_dense.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_builds.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx950_numeric.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/golden/rocke_representative_ir_sha256.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): drop the gfx950 sliding-window attention variant
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/descriptors/rocKE/gfx950_attention_dense/gfx950_attention_dense.kdp.json
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/Gfx950AttentionDenseNative.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/TestGfx950AttentionDensePacks.cpp
  projects/hipdnn/tools/IngestorGenerator/configs/gfx950_attention_dense.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke): add the gfx1250 TDM LDS/prefetch traits to the universal GEMM
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/SUPPORT_MATRIX.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/gemm_universal.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/differential/fuzz_diff.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke): dispatch fp16 RCR GEMM candidates on gfx1250
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/dispatch/gemm/common.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/dispatch/gemm/fp16_rcr.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/dispatch/gemm/support.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/dispatch/dispatch_tests/gemm/test_support.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocke): gfx1250 arch reference, TDM case studies and replay scripts
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/arch/README.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/arch/gfx1250.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/CASE-STUDY-fp16-rcr-step0.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/CASE-STUDY-tdm-prefetch.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/build_candidates.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/roofline_probe.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/step0_lever_sweep.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/isa_features/tdm_descriptor_verify.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test: CMake change should trigger CI
  projects/rocprim/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(ingestor-gen): record the gfx950 aligned runtime parameter fields
  projects/hipdnn/tools/IngestorGenerator/configs/gfx950_attention_dense.profile.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipdnn): add foundational project policies
  dnn-providers/hip-kernel-provider/README.md
  dnn-providers/hipblaslt-provider/README.md
  dnn-providers/integration-tests/README.md
  dnn-providers/miopen-provider/README.md
  projects/hipdnn/CONTRIBUTING.md
  projects/hipdnn/README.md
  projects/hipdnn/SECURITY.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Address review comments
  shared/tensile/Tensile/cmake/TensileConfig.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Address review comments
  shared/tensile/Tensile/cmake/TensileConfig.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensile): Added `gfx1250-strict` as a supported offload target
  shared/tensile/Tensile/Common.py
  shared/tensile/Tensile/Hardware.py
  shared/tensile/Tensile/Source/cmake/TensileSupportedArchitectures.cmake
  shared/tensile/Tensile/TensileCreateLibrary.py
  shared/tensile/Tensile/cmake/TensileConfig.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add tests to cover new parsings for gfx1250-strict
  shared/tensile/Tensile/Hardware.py
  shared/tensile/Tensile/Tests/unit/test_Common.py
  shared/tensile/Tensile/Tests/unit/test_HardwarePredicates.py
  shared/tensile/Tensile/Tests/unit/test_TensileCreateLibrary.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocke): add DSA (DeepSeek Sparse Attention) design doc (#11881)
  dnn-providers/hip-kernel-provider/rocke/library/builders/dsa/DESIGN.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

- CHANGELOG.
  projects/rocfft/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update .readthedocs.yaml paths
  projects/rpp/.readthedocs.yaml
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix unit test superbuild for prims libraries due to duplicate generate_resource_spec target; updated README
  projects/hipccl/README.md
  projects/hipccl/hipccl3/CMakeLists.txt
  projects/hipccl/hipccl3/hipcub/CMakeLists.txt
  projects/hipccl/hipccl3/hipcub/test/CMakeLists.txt
  projects/hipccl/hipccl3/rocprim/test/CMakeLists.txt
  projects/hipccl/hipccl3/rocthrust/CMakeLists.txt
  projects/hipccl/hipccl3/rocthrust/test/CMakeLists.txt
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipdnn): detect a deterministic kernel catalog and route it to L1
  projects/hipdnn/tools/CLAUDE.md
  projects/hipdnn/tools/corpus_build/__main__.py
  projects/hipdnn/tools/corpus_build/kernels.py
  projects/hipdnn/tools/corpus_build/tests/test_corpus_build.py
  projects/hipdnn/tools/uhd_gen/__main__.py
  projects/hipdnn/tools/uhd_gen/catalog.py
  projects/hipdnn/tools/uhd_gen/evaluate.py
  projects/hipdnn/tools/uhd_gen/generate.py
  projects/hipdnn/tools/uhd_gen/knobs.py
  projects/hipdnn/tools/uhd_gen/tests/test_catalog.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
