Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

ck_tile: add gtest unit tests for MX flatmm (gfx950) (#5082)
  projects/composablekernel/example/ck_tile/18_flatmm/mxgemm/mx_flatmm.cpp
  projects/composablekernel/example/ck_tile/18_flatmm/mxgemm/mx_flatmm_arch_traits.hpp
  projects/composablekernel/example/ck_tile/18_flatmm/mxgemm/run_mx_flatmm.inc
  projects/composablekernel/test/ck_tile/CMakeLists.txt
  projects/composablekernel/test/ck_tile/flatmm/CMakeLists.txt
  projects/composablekernel/test/ck_tile/flatmm/test_mx_flatmm_base.hpp
  projects/composablekernel/test/ck_tile/flatmm/test_mx_flatmm_fixtures.hpp
  projects/composablekernel/test/ck_tile/flatmm/test_mx_flatmm_fp4fp4.cpp
  projects/composablekernel/test/ck_tile/flatmm/test_mx_flatmm_fp4fp8.cpp
  projects/composablekernel/test/ck_tile/flatmm/test_mx_flatmm_fp6fp6.cpp
  projects/composablekernel/test/ck_tile/flatmm/test_mx_flatmm_fp8fp4.cpp
  projects/composablekernel/test/ck_tile/flatmm/test_mx_flatmm_fp8fp8.cpp
  projects/composablekernel/test/ck_tile/gemm_streamk_tile_engine/test_gemm_streamk_simple.cpp
  projects/composablekernel/test/ck_tile/grouped_gemm/test_grouped_gemm_util.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Fix Data SDK versioned FlatBuffers header include order (#5319)
  projects/hipdnn/data_sdk/cmake/hipdnn_data_sdkConfig_imported.cmake.in
  projects/hipdnn/data_sdk/cmake/hipdnn_data_sdkConfig_local.cmake.in
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Tuning Equality for BBS_TN for gfx950 (#4600)
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipBLASlt][CMS] fix TF32 128x128x64 NN (#5301)
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bljk_S_MX_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/tensilelite/Tensile/Components/CustomSchedule.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/custom_mainloop_scheduling_tf32.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomSchedule.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomSchedule_LayoutAutoDetection.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] fp8_e8m0: Fix numeric_limits round_style and improve test coverage (#5338)
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/types/Fp8E8M0.hpp
  projects/hipdnn/data_sdk/tests/types/TestFp8E8M0.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK][Examples] Adding parameters for a couple of CK examples: -gemm_add_add_mean_meansquare_xdl_fp16 -gemm_dl_quantization_int8 -gemm_xdl_bias_relu_quantization_int8 -gemm_xdl_quantization_int8
  projects/composablekernel/example/14_gemm_quantization/gemm_dl_quantization_int8.cpp
  projects/composablekernel/example/14_gemm_quantization/gemm_xdl_bias_relu_quantization_int8.cpp
  projects/composablekernel/example/14_gemm_quantization/gemm_xdl_quantization_int8.cpp
  projects/composablekernel/example/16_gemm_multi_d_multi_reduces/gemm_add_add_mean_meansquare_xdl_fp16.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hipsolver: remove Boost dependency from deps superbuild
  projects/hipsolver/deps/CMakeLists.txt
  projects/hipsolver/deps/external-boost.cmake
  projects/hipsolver/deps/external-gtest.cmake
  projects/hipsolver/docs/installation/install.rst
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[CK][Test] Moving device_op creation before data initialization.
  projects/composablekernel/profiler/include/profiler/profile_batched_contraction_multiple_d_impl.hpp
  projects/composablekernel/profiler/include/profiler/profile_batched_gemm_impl.hpp
  projects/composablekernel/profiler/include/profiler/profile_batchnorm_backward_impl.hpp
  projects/composablekernel/profiler/include/profiler/profile_conv_bwd_data_impl.hpp
  projects/composablekernel/profiler/include/profiler/profile_conv_fwd_impl.hpp
  projects/composablekernel/profiler/include/profiler/profile_grouped_conv_bwd_data_impl.hpp
  projects/composablekernel/profiler/include/profiler/profile_grouped_conv_bwd_weight_impl.hpp
  projects/composablekernel/profiler/include/profiler/profile_grouped_conv_fwd_bias_clamp_impl.hpp
  projects/composablekernel/profiler/include/profiler/profile_grouped_conv_fwd_bilinear_impl.hpp
  projects/composablekernel/profiler/include/profiler/profile_grouped_conv_fwd_impl.hpp
  projects/composablekernel/profiler/include/profiler/profile_grouped_conv_fwd_outelementop_impl.hpp
  projects/composablekernel/test/grouped_convnd_bwd_weight/test_grouped_convnd_bwd_weight_bilinear.cpp
  projects/composablekernel/test/grouped_convnd_fwd/test_grouped_convnd_fwd_scaleadd_ab.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Changed the include order of the new WMMA/MFMA unification framework (#5241)
  projects/composablekernel/include/ck_tile/core.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/amdgcn_mma.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/mfma/mfma_gfx9.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/mfma/mfma_traits.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/mma_traits.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/mfma/selector.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/mfma/sparse_gfx9.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/sparse.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/sparse_traits.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/wmma/sparse_gfx12.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/warp/warp_gemm_smfmac_impl.hpp
  projects/composablekernel/include/ck_tile/ops/gemm_mx.hpp
  projects/composablekernel/include/ck_tile/ops/grouped_convolution.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[fusilli-provider] Add CODEOWNERS and PR label for `fusilli-provider` (#5358)
  .github/CODEOWNERS
  .github/labeler.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update CMakeLists.txt
  projects/hipsolver/deps/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[TensileLite] Add build-time type validation for library logic YAMLs (#5002)
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/Run.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_validateParameterTypes.py
  projects/hipblaslt/utilities/fix_yaml_types.py
  projects/hipblaslt/utilities/test_fix_yaml_types.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Revert "[rocRAND]: increasing benchmark workload#3514" (#5340)
  projects/rocrand/CHANGELOG.md
  projects/rocrand/benchmark/benchmark_curand_host_api.cpp
  projects/rocrand/benchmark/benchmark_occupancy_helper.hpp
  projects/rocrand/benchmark/benchmark_rocrand_device_api.cpp
  projects/rocrand/benchmark/benchmark_rocrand_host_api.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipBLASlt][CMS] fix cms for tf32 128x128x32 NT with PLR1 (#5342)
  projects/hipblaslt/tensilelite/Tensile/Components/CustomSchedule.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Add Layernorm descriptor lowering (#5192)
  projects/hipdnn/backend/include/HipdnnBackendAttributeName.h
  projects/hipdnn/backend/include/HipdnnBackendDescriptorType.h
  projects/hipdnn/backend/src/BackendEnumStringUtils.hpp
  projects/hipdnn/backend/src/CMakeLists.txt
  projects/hipdnn/backend/src/descriptors/DescriptorFactory.cpp
  projects/hipdnn/backend/src/descriptors/LayernormOperationDescriptor.cpp
  projects/hipdnn/backend/src/descriptors/LayernormOperationDescriptor.hpp
  projects/hipdnn/backend/tests/CMakeLists.txt
  projects/hipdnn/backend/tests/TestBackendEnumStringUtils.cpp
  projects/hipdnn/backend/tests/descriptors/TestGraphDescriptorLayernorm.cpp
  projects/hipdnn/backend/tests/descriptors/TestLayernormOperationDescriptor.cpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/LayerNormPacker.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/LayerNormNode.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/constants/LayernormConstants.hpp
  projects/hipdnn/tests/frontend/CMakeLists.txt
  projects/hipdnn/tests/frontend/IntegrationLayerNormDescriptorLowering.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK TILE] Skip work if any of Grouped GEMM groups M/N/K are zero. (#5050)
  projects/composablekernel/include/ck_tile/ops/gemm/kernel/grouped_gemm_kernel.hpp
  projects/composablekernel/test/ck_tile/grouped_gemm/CMakeLists.txt
  projects/composablekernel/test/ck_tile/grouped_gemm/test_grouped_gemm_bf16.cpp
  projects/composablekernel/test/ck_tile/grouped_gemm/test_grouped_gemm_f16.cpp
  projects/composablekernel/test/ck_tile/grouped_gemm/test_grouped_gemm_ut_cases.inc
  projects/composablekernel/test/ck_tile/grouped_gemm/test_grouped_gemm_util.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen] Port LRN kernels from OpenCL to HIP (#4887)
  projects/miopen/src/CMakeLists.txt
  projects/miopen/src/include/miopen/mlo_internal.hpp
  projects/miopen/src/kernels/MIOpenLRNBwd.cl
  projects/miopen/src/kernels/MIOpenLRNBwd.cpp
  projects/miopen/src/kernels/MIOpenLRNFwd.cl
  projects/miopen/src/kernels/MIOpenLRNFwd.cpp
  projects/miopen/src/kernels/hip_math_ops.hpp
  projects/miopen/src/ocl/lrn_ocl.cpp
  projects/miopen/src/ocl/mloNorm.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Use underscores instead of hyphens(-) in test names (#5276)
  projects/miopen/test/CMakeLists.txt
  shared/ctest/parse_test_categories.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt] Symbol visibility correction (#3767)
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/tensilelite/CMakeLists.txt
  projects/hipblaslt/tensilelite/include/Tensile/Macros.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[ALMIOPEN-990] Re-enable driver tests in targeted categories (#4982)
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-nightly.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-ci.yml
  .github/workflows/therock-test-component.yml
  .github/workflows/therock-test-packages.yml
  projects/miopen/test/gtest/test_categories.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK_TILE, CK_BUILDER] Add two-stage bwd weight kernels to CK Tile profiler (#5237)
  projects/composablekernel/experimental/builder/include/ck_tile/builder/conv_algorithm_concepts.hpp
  projects/composablekernel/experimental/builder/include/ck_tile/builder/factory/conv_tile_factory.hpp
  projects/composablekernel/experimental/builder/include/ck_tile/builder/factory/helpers/ck_tile/conv_tile_tuning_params.hpp
  projects/composablekernel/experimental/builder/include/ck_tile/builder/testing/conv/ck_tile.hpp
  projects/composablekernel/experimental/builder/test/conv/ck_tile/test_ckb_conv_bwd_data_2d_fp16_v3.cpp
  projects/composablekernel/experimental/builder/test/conv/ck_tile/test_ckb_conv_bwd_weight_2d_fp16_v3.cpp
  projects/composablekernel/experimental/builder/test/conv/ck_tile/test_ckb_conv_fwd_2d_fp16_v3.cpp
  projects/composablekernel/experimental/builder/test/conv/ck_tile/test_ckb_conv_fwd_e2e.cpp
  projects/composablekernel/experimental/builder/test/impl/conv_algorithm_types.hpp
  projects/composablekernel/experimental/grouped_convolution_tile_instances/generate_instances.py
  projects/composablekernel/experimental/grouped_convolution_tile_instances/instances/instance_includes.inc
  projects/composablekernel/experimental/grouped_convolution_tile_instances/instances/instance_run.inc
  projects/composablekernel/include/ck_tile/ops/elementwise/kernel/elementwise_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/elementwise/pipeline/elementwise_pipeline_default_policy.hpp
  projects/composablekernel/include/ck_tile/ops/elementwise/pipeline/elementwise_pipeline_problem.hpp
  projects/composablekernel/include/ck_tile/ops/elementwise/pipeline/elementwise_shape.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Add Windows support for Address Sanitizer standalone build (#5087)
  projects/hipdnn/backend/tests/CMakeLists.txt
  projects/hipdnn/cmake/Sanitizers.cmake
  projects/hipdnn/docs/Building.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Add ConvolutionBwd (dgrad) support to Fusilli plugin (#5406)
  dnn-providers/fusilli-provider/include/graph_import.h
  dnn-providers/fusilli-provider/test/integration/CMakeLists.txt
  dnn-providers/fusilli-provider/test/integration/convolution/simple_conv_dgrad.cpp
  dnn-providers/fusilli-provider/test/test_fusilli_plugin_api.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocRAND]: xorwow optimization for gfx908 and gfx942 (#5239)
  projects/rocrand/CHANGELOG.md
  projects/rocrand/library/src/rng/xorwow.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK_TILE] FMHA BWD Use Persistent Kernels in Deterministic Mode (#5174)
  projects/composablekernel/example/ck_tile/01_fmha/codegen/ops/fmha_bwd.py
  projects/composablekernel/example/ck_tile/01_fmha/fmha_bwd.hpp
  projects/composablekernel/example/ck_tile/01_fmha/fmha_bwd_runner.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/kernel/fmha_bwd_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_bwd_dq_dk_dv_pipeline_kr_ktr_vr.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_bwd_dq_dk_dv_pipeline_kr_ktr_vr_iglp.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_bwd_dq_dk_dv_pipeline_trload_kr_ktr_vr.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt][tensilelite] Add GitHub Agentic workflow for automated documentation (#4634)
  .gitattributes
  .github/workflows/hipblaslt-doc-agent.lock.yml
  .github/workflows/hipblaslt-doc-agent.md
  .pre-commit-config.yaml
  projects/hipblaslt/.agent/docs/doc_agent_state.py
  projects/hipblaslt/.agent/docs/targets.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[hipDNN] Add stubbed hipdnn_flatbuffers_sdk library (#5346)
  projects/hipdnn/CMakeLists.txt
  projects/hipdnn/README.md
  projects/hipdnn/flatbuffers_sdk/CMakeLists.txt
  projects/hipdnn/flatbuffers_sdk/cmake/hipdnn_flatbuffers_sdkConfig.cmake.in
  projects/hipdnn/flatbuffers_sdk/include/hipdnn_flatbuffers_sdk/hipdnn_flatbuffers_sdk.hpp
  projects/hipdnn/flatbuffers_sdk/tests/CMakeLists.txt
  projects/hipdnn/flatbuffers_sdk/tests/TestVersion.cpp
  projects/hipdnn/flatbuffers_sdk/tests/main.cpp
  projects/hipdnn/flatbuffers_sdk/version.h.in
  projects/hipdnn/flatbuffers_sdk/version.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[hipDNN] Update EngineNames.hpp path in plugin development docs (#5417)
  projects/hipdnn/docs/PluginDevelopment.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Adding a missing CheckXnackDisabled() in one of the tests to avoid failed tests with HSA_XNACK=1 (#5422)
  projects/miopen/test/gtest/unit_conv_solver_ConvWinoRageRxS.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocwmma] - Update find_package search for OpenMP (#3799)
  projects/rocwmma/CMakeLists.txt
  projects/rocwmma/samples/CMakeLists.txt
  projects/rocwmma/test/CMakeLists.txt
  projects/rocwmma/test/regression/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK][CK Tile] Grouped Convolution Backward Weight set of fixes (#5387)
  projects/composablekernel/example/ck_tile/20_grouped_convolution/grouped_convolution_backward_weight_invoker.hpp
  projects/composablekernel/example/ck_tile/20_grouped_convolution/grouped_convolution_backward_weight_two_stage_invoker.hpp
  projects/composablekernel/experimental/builder/include/ck_tile/builder/testing/conv/ck_tile.hpp
  projects/composablekernel/experimental/grouped_convolution_tile_instances/generate_instances.py
  projects/composablekernel/profiler/include/profiler/grouped_convolution_backward_weight_tile_algs.hpp
  projects/composablekernel/profiler/src/profile_grouped_conv_bwd_weight_tile.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add missing quote (#5435)
  projects/miopen/test/gtest/test_categories.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix Integer Type Errors (#5208)
  projects/rocblas/clients/benchmarks/program_options.hpp
  projects/rocblas/clients/include/d_vector.hpp
  projects/rocblas/clients/include/rocblas_random.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Semi-intelligent Defaulting Behavior (#4567)
  projects/miopen/src/include/miopen/conv/solvers.hpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_3d_grouped_bwd_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_3d_grouped_fwd_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_3d_grouped_wrw_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_bwd_data_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_fwd_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_grouped_bwd_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_grouped_fwd_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_grouped_wrw_xdlops.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Add custom op to support for plugin-provided operations (#5341)
  projects/hipdnn/data_sdk/CMakeLists.txt
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/data_objects/v24_12_23/hipdnn_data_sdk/data_objects/custom_op_attributes_generated.h
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/data_objects/v24_12_23/hipdnn_data_sdk/data_objects/graph_generated.h
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/data_objects/v25_9_23/hipdnn_data_sdk/data_objects/custom_op_attributes_generated.h
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/data_objects/v25_9_23/hipdnn_data_sdk/data_objects/graph_generated.h
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/flatbuffer_utilities/NodeWrapper.hpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/json/CustomOpAttributes.hpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/json/Graph.hpp
  projects/hipdnn/data_sdk/schemas/custom_op_attributes.fbs
  projects/hipdnn/data_sdk/schemas/graph.fbs
  projects/hipdnn/data_sdk/tests/utilities/TestJson.cpp
  projects/hipdnn/frontend/include/hipdnn_frontend/Graph.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/attributes/CustomOpAttributes.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/CustomOpNode.hpp
  projects/hipdnn/frontend/tests/CMakeLists.txt
  projects/hipdnn/frontend/tests/TestCustomOpAttributes.cpp
  projects/hipdnn/frontend/tests/TestCustomOpNode.cpp
  projects/hipdnn/frontend/tests/TestGraph.cpp
  projects/hipdnn/frontend/tests/TestGraphSerialization.cpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/FlatbufferGraphTestUtils.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[ci] disabling mi325 test runners (#5444)
  .github/workflows/therock-ci-linux.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Add SDPA backward pass attribute, node, and test support (#5321)
  projects/hipdnn/data_sdk/CMakeLists.txt
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/data_objects/v24_12_23/hipdnn_data_sdk/data_objects/graph_generated.h
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/data_objects/v24_12_23/hipdnn_data_sdk/data_objects/sdpa_backward_attributes_generated.h
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/data_objects/v25_9_23/hipdnn_data_sdk/data_objects/graph_generated.h
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/data_objects/v25_9_23/hipdnn_data_sdk/data_objects/sdpa_backward_attributes_generated.h
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/json/Graph.hpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/json/SdpaBackwardAttributes.hpp
  projects/hipdnn/data_sdk/schemas/graph.fbs
  projects/hipdnn/data_sdk/schemas/sdpa_backward_attributes.fbs
  projects/hipdnn/data_sdk/tests/utilities/TestJson.cpp
  projects/hipdnn/frontend/include/hipdnn_frontend/Graph.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/attributes/SdpaBackwardAttributes.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/SdpaBpropNode.hpp
  projects/hipdnn/frontend/tests/CMakeLists.txt
  projects/hipdnn/frontend/tests/TestGraphSerialization.cpp
  projects/hipdnn/frontend/tests/TestSdpaBackwardAttributes.cpp
  projects/hipdnn/frontend/tests/TestSdpaBpropNode.cpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/FlatbufferGraphTestUtils.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Align SdpaAttributes InputNames/OutputNames casing with cuDN… (#5363)
  projects/hipdnn/frontend/include/hipdnn_frontend/attributes/SdpaAttributes.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/SdpaFpropPacker.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/SdpaFpropNode.hpp
  projects/hipdnn/frontend/tests/TestSdpaAttributes.cpp
  projects/hipdnn/frontend/tests/TestSdpaFpropNode.cpp
  projects/hipdnn/tests/frontend/IntegrationSdpaFpropDescriptorLowering.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen] Find 2 Conv GTest: 4 test cases are disabled (#5404)
  projects/miopen/test/gtest/find_2_conv.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Add BlockScaleQuantize descriptor lowering (#5191)
  projects/hipdnn/backend/include/HipdnnBackendAttributeName.h
  projects/hipdnn/backend/include/HipdnnBackendDescriptorType.h
  projects/hipdnn/backend/src/BackendEnumStringUtils.hpp
  projects/hipdnn/backend/src/CMakeLists.txt
  projects/hipdnn/backend/src/descriptors/BlockScaleQuantizeOperationDescriptor.cpp
  projects/hipdnn/backend/src/descriptors/BlockScaleQuantizeOperationDescriptor.hpp
  projects/hipdnn/backend/src/descriptors/DescriptorFactory.cpp
  projects/hipdnn/backend/tests/CMakeLists.txt
  projects/hipdnn/backend/tests/TestBackendEnumStringUtils.cpp
  projects/hipdnn/backend/tests/descriptors/TestBlockScaleQuantizeOperationDescriptor.cpp
  projects/hipdnn/backend/tests/descriptors/TestGraphDescriptorBlockScaleQuantize.cpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/BlockScaleQuantizePacker.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/BlockScaleQuantizeNode.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/constants/BlockScaleQuantizeConstants.hpp
  projects/hipdnn/tests/frontend/CMakeLists.txt
  projects/hipdnn/tests/frontend/IntegrationBlockScaleQuantizeDescriptorLowering.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
