Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fixes
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/benchmark_winograd_conv.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/__init__.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/conv_winograd.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/golden/rocke_representative_ir_sha256.json
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/test_conv_winograd_correctness.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

direct
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/benchmark_direct_conv.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/conv_direct_grouped.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fixes
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/benchmark_direct_conv.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/conv_reference.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/conv_direct_grouped.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): add CK-tile core include to dispatcher ctypes bindings (#9579)
  projects/composablekernel/dispatcher/bindings/ctypes/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(stinkytofu): update nanobind arg annotations for 3.x compatibility
  shared/stinkytofu/python_module/src/python_bindings.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

First attempt at integrating RMSNorm GPU reference implementation for validation
  dnn-providers/integration-tests/src/harness/gpu-graph-executor/GpuReferenceGraphExecutor.hpp
  dnn-providers/integration-tests/src/harness/gpu-graph-executor/detail/GpuPlanRegistrySignatureKey.hpp
  dnn-providers/integration-tests/src/harness/gpu-graph-executor/detail/GpuRMSNormPlan.hpp
  dnn-providers/integration-tests/src/harness/gpu-graph-executor/detail/GpuRMSNormSignatureKey.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Added tests for GPU reference graph infrastructure for RMSNorm forward and backward
  dnn-providers/integration-tests/tests/CMakeLists.txt
  dnn-providers/integration-tests/tests/TestGpuRMSNormPlan.cpp
  dnn-providers/integration-tests/tests/TestGpuRMSNormSignatureKey.cpp
  dnn-providers/integration-tests/tests/TestGpuReferenceGraphExecutor.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

gpu-graph-executor/detail/GpuRMSNormPlan.hpp: checking for existence of epsilon tensor & rejecting if I/O or stats tensors are runtime pass-by-value
  dnn-providers/integration-tests/src/harness/gpu-graph-executor/detail/GpuRMSNormPlan.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

gpu-graph-executor/detail/GpuRMSNormPlan.hpp: updated epsilon tensor from scalar to tensor & extracting its value from variant pack
  dnn-providers/integration-tests/src/harness/gpu-graph-executor/detail/GpuRMSNormPlan.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Revert "refactor(miopen): remove dead build/doc infra files (B5)"
  projects/miopen/cmake/rocm-path.cmake
  projects/miopen/custom.properties
  projects/miopen/docs/CMakeLists.txt
  projects/miopen/install_deps.cmake
  projects/miopen/min-requirements.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(miopen): remove dead build infra files (B5), keep docs/CMakeLists.txt
  projects/miopen/cmake/rocm-path.cmake
  projects/miopen/custom.properties
  projects/miopen/install_deps.cmake
  projects/miopen/min-requirements.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(miopen): add naive reference kernel for 3D INT8 forward convolutions (#10051)
  projects/miopen/src/kernels/gpu_reference_kernel/naive_conv.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvDirectNaiveConvFwd.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(rocke): apply black formatting and fix cmake-lint E1122
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/conv_direct_grouped.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/img2col.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_conv_build_signatures.py
  dnn-providers/hip-kernel-provider/rocke/platform/CMakeLists.txt
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/_conv_implicit_gemm_common.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/conv_direct_grouped.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/conv_implicit_gemm.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/conv_implicit_gemm_dgrad.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/conv_implicit_gemm_wgrad.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/deep_fused_conv_pool.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/img2col.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/gfx1151/deep_fused_conv_pool.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/gfx1201/deep_fused_conv_pool.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/gfx950/deep_fused_conv_pool.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(miopen): report the hipconv kernel in ConvHipConv performance logs
  projects/miopen/driver/README.md
  projects/miopen/src/solver/conv/conv_hipconv.cpp
  projects/miopen/test/gtest/unit_kernel_tuning_mode_logs.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): FixedLinear catalog / arbiter selector libraries (gfx1201)
  projects/hipblaslt/tensilelite/Tensile/LibraryIO.py
  projects/hipblaslt/tensilelite/Tensile/SolutionLibrary.py
  projects/hipblaslt/tensilelite/include/Tensile/ContractionLibrary.hpp
  projects/hipblaslt/tensilelite/include/Tensile/FixedLinearArbiterLibrary.hpp
  projects/hipblaslt/tensilelite/include/Tensile/FixedLinearCatalogLibrary.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Serialization/FixedLinearArbiterLibrary.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Serialization/FixedLinearCatalogLibrary.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Serialization/SolutionLibrary.hpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(origami): gfx1201 RDNA selection fixes, tuned HHS-TN genome, env levers
  shared/origami/include/origami/hardware.hpp
  shared/origami/include/origami/heuristics.hpp
  shared/origami/include/origami/types.hpp
  shared/origami/src/origami/gemm.cpp
  shared/origami/src/origami/hardware.cpp
  shared/origami/src/origami/heuristics.cpp
  shared/origami/src/origami/origami.cpp
  shared/origami/src/origami/types.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(gfx1201): add the HHS-TN lean-69 and tuned-SK3 best-of catalogs
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/Experimental/README.md
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/Experimental/lean69_sk0_grid/gfx1201/GridBased/gfx1201_Cijk_Alik_Bljk_HHS_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/Experimental/lean69_sk0_origami/gfx1201/GridBased/gfx1201_Cijk_Alik_Bljk_HHS_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/Experimental/sk3_bestof_grid/gfx1201/GridBased/gfx1201_Cijk_Alik_Bljk_HHS_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/Experimental/sk3_bestof_origami/gfx1201/GridBased/gfx1201_Cijk_Alik_Bljk_HHS_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(miopen): inline gfx942 hard heuristic spatial gate
  projects/miopen/src/include/miopen/conv/solvers.hpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_3d_grouped_fwd_xdlops.cpp
  projects/miopen/test/gtest/perf_config_HipImplicitGemm3DGroupFwdXdlops.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add mxf4 m=32 config yaml
  projects/hipblaslt/tensilelite/mxf4_tn_m_32_mab.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(origami): expose gfx1101 in the nanobind architecture_t enum
  shared/origami/python/src/origami/bindings.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke): fix builder-signature contract violations (test_builder_signature_contract)
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/_conv_implicit_gemm_common.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/conv_implicit_gemm.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/conv_implicit_gemm_dgrad.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/deep_fused_conv_pool.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_builder_signature_contract.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(hipblaslt): move navi32 TN Prediction logic into navi32/Origami/
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Origami/navi32_Cijk_Alik_Bljk_BBS_BH_Bias_AuxB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Origami/navi32_Cijk_Alik_Bljk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Origami/navi32_Cijk_Alik_Bljk_HHS_BH_Bias_AuxH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Origami/navi32_Cijk_Alik_Bljk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(integraion-tests): RMSNorm GPU reference integration (#11294)
  dnn-providers/integration-tests/src/harness/gpu-graph-executor/GpuReferenceGraphExecutor.hpp
  dnn-providers/integration-tests/src/harness/gpu-graph-executor/detail/GpuPlanRegistrySignatureKey.hpp
  dnn-providers/integration-tests/src/harness/gpu-graph-executor/detail/GpuRMSNormPlan.hpp
  dnn-providers/integration-tests/src/harness/gpu-graph-executor/detail/GpuRMSNormSignatureKey.hpp
  dnn-providers/integration-tests/tests/CMakeLists.txt
  dnn-providers/integration-tests/tests/TestGpuRMSNormPlan.cpp
  dnn-providers/integration-tests/tests/TestGpuRMSNormSignatureKey.cpp
  dnn-providers/integration-tests/tests/TestGpuReferenceGraphExecutor.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add offload-compress to generate_resource_spec
  projects/rocthrust/test/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Allow cuda::par*.on() to take cuda::stream_ref
  projects/rocthrust/thrust/system/cuda/detail/par.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Make ``cuda::stream_ref`` constructible on device
  projects/rocthrust/thrust/system/cuda/detail/par.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove ``_CCCL_INLINE_VAR`` replacement recommendation, since ``_CCCL_INLINE_VAR`` is removed from CCCL
  projects/rocthrust/thrust/detail/raw_reference_cast.h
  projects/rocthrust/thrust/detail/type_traits/iterator/is_output_iterator.h
  projects/rocthrust/thrust/iterator/detail/iterator_facade_category.h
  projects/rocthrust/thrust/iterator/detail/retag.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Simplify Thrust assign_value
  projects/rocthrust/thrust/system/cuda/detail/assign_value.h
  projects/rocthrust/thrust/system/cuda/detail/internal/copy_cross_system.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Use ``[[maybe_unused]]``
  projects/rocthrust/test/test_address_stability.cpp
  projects/rocthrust/test/test_complex.cpp
  projects/rocthrust/test/test_transform_iterator.cpp
  projects/rocthrust/testing/address_stability.cu
  projects/rocthrust/testing/complex.cu
  projects/rocthrust/testing/cuda/merge_sort.cu
  projects/rocthrust/testing/transform_iterator.cu
  projects/rocthrust/thrust/detail/complex/catrig.h
  projects/rocthrust/thrust/detail/contiguous_storage.h
  projects/rocthrust/thrust/device_malloc_allocator.h
  projects/rocthrust/thrust/device_new_allocator.h
  projects/rocthrust/thrust/mr/new.h
  projects/rocthrust/thrust/random/detail/linear_congruential_engine_discard.h
  projects/rocthrust/thrust/system/cuda/detail/core/agent_launcher.h
  projects/rocthrust/thrust/system/cuda/detail/core/triple_chevron_launch.h
  projects/rocthrust/thrust/system/cuda/memory_resource.h
  projects/rocthrust/thrust/system/hip/memory_resource.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(rocke): apply black formatting to conv_implicit_gemm.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/conv_implicit_gemm.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hip-kernel-provider): Layernorm bwd (#9500)
  dnn-providers/hip-kernel-provider/src/engines/hip_mlops_engine/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/engines/hip_mlops_engine/kernels/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/engines/hip_mlops_engine/kernels/layernorm/LayernormBwd.cpp
  dnn-providers/hip-kernel-provider/src/engines/hip_mlops_engine/kernels/layernorm/LayernormCommon.hpp
  dnn-providers/hip-kernel-provider/src/engines/hip_mlops_engine/kernels/layernorm/LayernormFwd.cpp
  dnn-providers/hip-kernel-provider/src/engines/hip_mlops_engine/plans/PlanUtils.hpp
  dnn-providers/hip-kernel-provider/src/engines/hip_mlops_engine/plans/layernorm/LayernormApplicabilityChecks.cpp
  dnn-providers/hip-kernel-provider/src/engines/hip_mlops_engine/plans/layernorm/LayernormApplicabilityChecks.hpp
  dnn-providers/hip-kernel-provider/src/engines/hip_mlops_engine/plans/layernorm/LayernormBwdPlan.cpp
  dnn-providers/hip-kernel-provider/src/engines/hip_mlops_engine/plans/layernorm/LayernormBwdPlan.hpp
  dnn-providers/hip-kernel-provider/src/engines/hip_mlops_engine/plans/layernorm/LayernormFwdPlan.cpp
  dnn-providers/hip-kernel-provider/src/engines/hip_mlops_engine/plans/layernorm/LayernormPlanBuilder.cpp
  dnn-providers/hip-kernel-provider/src/engines/hip_mlops_engine/plans/layernorm/LayernormUtilities.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/hip_mlops_engine/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/tests/engines/hip_mlops_engine/plans/Layernorm/TestLayernormApplicabilityChecks.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/hip_mlops_engine/plans/Layernorm/TestLayernormBwdPlan.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/hip_mlops_engine/plans/Layernorm/TestLayernormPlanBuilder.cpp
  dnn-providers/integration-tests/src/common/LayernormCommon.hpp
  dnn-providers/integration-tests/src/harness/tolerance/ToleranceResolver.hpp
  dnn-providers/integration-tests/src/integration-tests/CMakeLists.txt
  dnn-providers/integration-tests/src/integration-tests/layernorm/CMakeLists.txt
  dnn-providers/integration-tests/src/integration-tests/layernorm/IntegrationGpuLayernormBackward.cpp
  dnn-providers/integration-tests/src/integration-tests/layernorm/IntegrationGpuLayernormForward.cpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/CpuFpReferenceLayernorm.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/LayernormBpropPlan.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/LayernormBpropSignatureKey.hpp
  projects/hipdnn/test_sdk/tests/utilities/TestCpuFpReferenceLayernormBackward.cpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/LayernormGraphUtils.hpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestCpuReferenceGraphExecutor.cpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestLayernormBpropPlan.cpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestLayernormBpropSignatureKey.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Layernorm backwards test bundles
  dnn-providers/integration-tests/integration-test-bundles/full/LayernormBackward/Default/graph.template.json
  dnn-providers/integration-tests/integration-test-bundles/full/LayernormBackward/Default/sweep.json
  dnn-providers/integration-tests/integration-test-bundles/full/LayernormBackward/Variant2/graph.template.json
  dnn-providers/integration-tests/integration-test-bundles/full/LayernormBackward/Variant2/sweep.json
  dnn-providers/integration-tests/integration-test-bundles/quick/LayernormBackward/Default/graph.template.json
  dnn-providers/integration-tests/integration-test-bundles/quick/LayernormBackward/Default/sweep.json
  dnn-providers/integration-tests/integration-test-bundles/quick/LayernormBackward/Variant2/graph.template.json
  dnn-providers/integration-tests/integration-test-bundles/quick/LayernormBackward/Variant2/sweep.json
  dnn-providers/integration-tests/src/integration-tests/CMakeLists.txt
  dnn-providers/integration-tests/src/integration-tests/layernorm/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

place_bundles.py hotfix for graph IDs preventing proper template generation
  dnn-providers/integration-tests/migration-scripts/place_bundles.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(miopen-provider): support 1D (NCL/NLC) convolutions (#11367)
  dnn-providers/integration-tests/integration-test-bundles/quick/ConvolutionBwd/Default/sweep.json
  dnn-providers/integration-tests/integration-test-bundles/quick/ConvolutionFwd/Default/sweep.json
  dnn-providers/integration-tests/integration-test-bundles/quick/ConvolutionWrw/Default/sweep.json
  dnn-providers/integration-tests/src/common/ConvolutionCommon.hpp
  dnn-providers/integration-tests/src/integration-tests/conv/IntegrationConvForwardSerializeRoundTrip.cpp
  dnn-providers/miopen-provider/MiopenConvDescriptor.cpp
  dnn-providers/miopen-provider/MiopenUtils.cpp
  dnn-providers/miopen-provider/MiopenUtils.hpp
  dnn-providers/miopen-provider/docs/OperationSupport.md
  dnn-providers/miopen-provider/engines/plans/MiopenBatchnormBwdPlan.cpp
  dnn-providers/miopen-provider/engines/plans/MiopenBatchnormFwdInferencePlan.cpp
  dnn-providers/miopen-provider/engines/plans/MiopenBatchnormFwdInferenceWithVariancePlan.cpp
  dnn-providers/miopen-provider/engines/plans/MiopenBatchnormFwdTrainingPlan.cpp
  dnn-providers/miopen-provider/engines/plans/MiopenConvBwdPlan.cpp
  dnn-providers/miopen-provider/engines/plans/MiopenConvFwdBiasActivPlan.cpp
  dnn-providers/miopen-provider/engines/plans/MiopenConvFwdPlan.cpp
  dnn-providers/miopen-provider/engines/plans/MiopenConvFwdPlan.hpp
  dnn-providers/miopen-provider/engines/plans/MiopenConvWrwPlan.cpp
  dnn-providers/miopen-provider/tests/TestMiopenConvDescriptor.cpp
  dnn-providers/miopen-provider/tests/TestMiopenUtils.cpp
  dnn-providers/miopen-provider/tests/common/ConvolutionCommon.hpp
  dnn-providers/miopen-provider/tests/engines/plans/TestMiopenConvBwdPlan.cpp
  dnn-providers/miopen-provider/tests/engines/plans/TestMiopenConvFwdBiasActivPlan.cpp
  dnn-providers/miopen-provider/tests/engines/plans/TestMiopenConvFwdPlan.cpp
  dnn-providers/miopen-provider/tests/engines/plans/TestMiopenConvPlanBuilder.cpp
  dnn-providers/miopen-provider/tests/engines/plans/TestMiopenConvWrwPlan.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Layernorm GPU reference
  dnn-providers/integration-tests/gpu-ref/CMakeLists.txt
  dnn-providers/integration-tests/gpu-ref/include/hipdnn-gpu-ref/GpuFpReferenceLayernorm.hpp
  dnn-providers/integration-tests/gpu-ref/kernels/CMakeLists.txt
  dnn-providers/integration-tests/gpu-ref/kernels/layernorm/GpuRefLayernormBwd.cpp
  dnn-providers/integration-tests/gpu-ref/kernels/layernorm/GpuRefLayernormFwd.cpp
  dnn-providers/integration-tests/gpu-ref/kernels/types/GpuRefLayernormArgs.h
  dnn-providers/integration-tests/gpu-ref/kernels/types/GpuRefTypes.h
  dnn-providers/integration-tests/gpu-ref/src/GpuFpReferenceLayernorm.cpp
  dnn-providers/integration-tests/tests/CMakeLists.txt
  dnn-providers/integration-tests/tests/gpu-ref/GpuLayernormBwdRefTestFixture.hpp
  dnn-providers/integration-tests/tests/gpu-ref/GpuLayernormFwdRefTestFixture.hpp
  dnn-providers/integration-tests/tests/gpu-ref/LayernormShapeCatalog.hpp
  dnn-providers/integration-tests/tests/gpu-ref/LayernormTestCase.hpp
  dnn-providers/integration-tests/tests/gpu-ref/TestGpuFpReferenceLayernormBwd.cpp
  dnn-providers/integration-tests/tests/gpu-ref/TestGpuFpReferenceLayernormFwd.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix review feedback
  dnn-providers/integration-tests/gpu-ref/include/hipdnn-gpu-ref/GpuFpReferenceLayernorm.hpp
  dnn-providers/integration-tests/gpu-ref/include/hipdnn-gpu-ref/detail/GpuRefHelpers.hpp
  dnn-providers/integration-tests/gpu-ref/src/GpuFpReferenceLayernorm.cpp
  dnn-providers/integration-tests/gpu-ref/src/GpuFpReferenceRMSNorm.cpp
  dnn-providers/integration-tests/gpu-ref/src/GpuReferencePointwise.cpp
  dnn-providers/integration-tests/tests/gpu-ref/TestGpuFpReferenceLayernormBwd.cpp
  dnn-providers/integration-tests/tests/gpu-ref/TestGpuFpReferenceLayernormFwd.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

cshuffle fixes
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/helpers/epilogues.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/include/rocke/helper_rocke.helpers.epilogues.h
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/instances/common/conv_implicit_gemm_wgrad.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/benchmark_implicit_gemm_conv.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/helpers/epilogues.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/README_conv_implicit_gemm_wgrad.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/conv_implicit_gemm_wgrad.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/golden/rocke_representative_ir_sha256.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(tensilelite): drive the fused-A2A client from the environment and every solution
  projects/hipblaslt/tensilelite/client/CMakeLists.txt
  projects/hipblaslt/tensilelite/client/include/SdmaQueue.hpp
  projects/hipblaslt/tensilelite/client/main.cpp
  projects/hipblaslt/tensilelite/client/src/FusedA2AClient.cpp
  projects/hipblaslt/tensilelite/tasks.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): run the fused-A2A config on a two-GPU runner
  projects/hipblaslt/tensilelite/Tensile/Tests/common/comm/gfx950/fused_a2a.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/conftest.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_fused_a2a_gfx950_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_fused_a2a_gfx950_char.py
  projects/hipblaslt/tensilelite/pytest.ini
  projects/hipblaslt/tensilelite/tox.ini
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocfft): implement JIT callback API, deprecate function pointer API
  projects/hipfft/CMakeLists.txt
  projects/hipfft/shared/fft_params.h
  projects/hipfft/shared/params_gen.h
  projects/hipfft/shared/rocfft_params.h
  projects/hipfft/shared/test_callbacks.cpp
  projects/rocfft/CHANGELOG.md
  projects/rocfft/clients/tests/accuracy_test_callback.cpp
  projects/rocfft/clients/tests/callback_change_type.cpp
  projects/rocfft/clients/tests/gtest_main.cpp
  projects/rocfft/clients/tests/multi_device_test.cpp
  projects/rocfft/docs/how-to/load-store-callbacks.rst
  projects/rocfft/library/include/rocfft/rocfft.h
  projects/rocfft/library/src/device/generator/generator.h
  projects/rocfft/library/src/exec_info.cpp
  projects/rocfft/library/src/include/exec_info.h
  projects/rocfft/library/src/include/load_store_ops.h
  projects/rocfft/library/src/load_store_ops_gen.cpp
  projects/rocfft/library/src/plan.cpp
  projects/rocfft/library/src/powX.cpp
  projects/rocfft/library/src/rtc_kernel.cpp
  projects/rocfft/library/src/transform.cpp
  projects/rocfft/shared/fft_params.h
  projects/rocfft/shared/params_gen.h
  projects/rocfft/shared/rocfft_params.h
  projects/rocfft/shared/test_callbacks.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
