Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Fixed default batch factor for na_inference tests
  projects/miopen/test/gtest/na_inference.cpp
  projects/miopen/test/gtest/na_inference_find2.cpp
  projects/miopen/test/gtest/na_train.cpp
  projects/miopen/test/gtest/na_train_find2.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Removed leftover comments in na_inference_find2 test
  projects/miopen/test/gtest/na_inference_find2.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

na_* tests format
  projects/miopen/test/gtest/compare_helper.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

na_* tests format
  projects/miopen/test/gtest/compare_helper.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Trying to print dynamic_cast on CI
  projects/miopen/src/fusion.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Ported na_train_find2 to GTest
  projects/miopen/test/gtest/na_train.cpp
  projects/miopen/test/gtest/na_train_find2.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Ported na_inference test to GTest
  projects/miopen/test/gtest/na_inference.cpp
  projects/miopen/test/gtest/na_train.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Applied format to na_inference and na_train tests
  projects/miopen/test/gtest/na_inference.cpp
  projects/miopen/test/gtest/na_inference_find2.cpp
  projects/miopen/test/gtest/na_train.cpp
  projects/miopen/test/gtest/na_train_find2.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

na_* tests format
  projects/miopen/test/gtest/compare_helper.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Ported na_train to GTest
  projects/miopen/test/gtest/compare_helper.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

na_* tests format
  projects/miopen/test/gtest/compare_helper.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Aplied clang-format to na_ tests
  projects/miopen/test/gtest/na_inference.cpp
  projects/miopen/test/gtest/na_inference_find2.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Ported na_train to GTest
  projects/miopen/test/gtest/compare_helper.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

na_* tests format
  projects/miopen/test/gtest/compare_helper.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Ported na_train to GTest
  projects/miopen/test/gtest/na_train.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

na_* tests format
  projects/miopen/test/gtest/compare_helper.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Updated licence and removed tests that weren't ran for CTest
  projects/miopen/test/gtest/na_inference.cpp
  projects/miopen/test/gtest/na_inference_find2.cpp
  projects/miopen/test/gtest/na_train.cpp
  projects/miopen/test/gtest/na_train_find2.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Ported na_train to GTest
  projects/miopen/test/gtest/compare_helper.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Ported na_train to GTest
  projects/miopen/test/gtest/compare_helper.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Revert "Trying to print dynamic_cast on CI"
  projects/miopen/src/fusion.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Small fixes for na_inference
  projects/miopen/test/gtest/compare_helper.hpp
  projects/miopen/test/gtest/na_inference.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Ported na_train to GTest
  projects/miopen/test/gtest/compare_helper.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Ported na_inference_find2 to GTest
  projects/miopen/test/gtest/na_inference_find2.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fixes
  projects/composablekernel/include/ck_tile/core/arch/amd_buffer_addressing.hpp
  projects/composablekernel/include/ck_tile/core/arch/amd_buffer_addressing_builtins.hpp
  projects/composablekernel/include/ck_tile/core/tensor/buffer_view.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/kernel/universal_gemm_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/grouped_convolution/kernel/grouped_convolution_backward_data_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/grouped_convolution/kernel/grouped_convolution_backward_weight_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/grouped_convolution/kernel/grouped_convolution_forward_kernel.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] More lifetime-warning suppression
  projects/composablekernel/include/ck/tensor_description/tensor_space_filling_curve.hpp
  projects/composablekernel/include/ck/utility/array.hpp
  projects/composablekernel/include/ck/utility/sequence.hpp
  projects/composablekernel/include/ck/utility/statically_indexed_array.hpp
  projects/composablekernel/include/ck_tile/core/container/array.hpp
  projects/composablekernel/include/ck_tile/core/container/static_array.hpp
  projects/composablekernel/include/ck_tile/core/container/thread_buffer.hpp
  projects/composablekernel/include/ck_tile/host/kernel_launch.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add fp8bf16 hdim=256 tile for batch prefill
  projects/composablekernel/example/ck_tile/01_fmha/codegen/ops/fmha_batch_prefill.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

restricted cshuffle change to architectures before gfx950
  projects/composablekernel/include/ck_tile/ops/epilogue/cshuffle_epilogue.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fixed lds block desc name
  projects/composablekernel/include/ck_tile/ops/epilogue/cshuffle_epilogue.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Review fixes: rename types to X/W/Y convention, add mixed-type tests, deduplicate error helper
  projects/hipdnn/test_sdk/gpu_ref/include/hipdnn_gpu_ref/GpuFpReferenceConvolution.hpp
  projects/hipdnn/test_sdk/gpu_ref/include/hipdnn_gpu_ref/detail/GpuRefHipError.hpp
  projects/hipdnn/test_sdk/gpu_ref/kernels/convolution/GpuRefConvFwd.cpp
  projects/hipdnn/test_sdk/gpu_ref/kernels/types/GpuRefTypes.h
  projects/hipdnn/test_sdk/gpu_ref/src/GpuRefKernelCompiler.cpp
  projects/hipdnn/test_sdk/tests/utilities/TestGpuFpReferenceConvolution.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix test suite naming: GpuTest* -> TestGpu* to match CI validation
  projects/hipdnn/test_sdk/tests/utilities/TestGpuFpReferenceConvolution.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update README.md
  projects/hipdnn/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs: Update FMHA backward documentation for DqDkDv + ConvertDQ pipeline
  projects/composablekernel/experimental/rocm_ck/examples/06_rocm_ck_fmha_bwd/INSIGHTS.md
  projects/composablekernel/experimental/rocm_ck/examples/06_rocm_ck_fmha_bwd/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt] add option to set offload-bundler path
  projects/hipblaslt/device-library/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Refactor param to string op into utility function
  dnn-providers/hip-kernel-provider/src/engines/plans/PlanUtils.hpp
  dnn-providers/hip-kernel-provider/src/engines/plans/RMSnorm/RMSnormFwdPlan.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Initial effort to make hipdnn_integration_tests commandline driven
  CMakeLists.txt
  CMakePresets.json
  dnn-providers/integration-tests/CMakeLists.txt
  dnn-providers/integration-tests/cmake/ClangToolChain.cmake
  dnn-providers/integration-tests/cmake/HipdnnIntegrationTestHelpers.cmake
  dnn-providers/integration-tests/cmake/hipdnn_integration_testsConfig.cmake.in
  dnn-providers/integration-tests/src/IntegrationGpuBatchnormBackwardActivation.cpp
  dnn-providers/integration-tests/src/IntegrationGpuConvForward.cpp
  dnn-providers/integration-tests/src/IntegrationIsSupportedExtPerformance.cpp
  dnn-providers/integration-tests/src/harness/EngineTestMatrix.hpp
  dnn-providers/integration-tests/src/harness/IntegrationGraphVerificationHarness.hpp
  dnn-providers/integration-tests/src/harness/TestConfig.hpp
  dnn-providers/integration-tests/src/main.cpp
  dnn-providers/miopen-provider/CMakeLists.txt
  plans/integration_tests_cmdline_args/plan.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Add AMD_COMGR_REDIRECT_LOGS to testing scripts
  shared/rocroller/scripts/run-tests-sharded
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK_TILE] Fix lambda parameter shadowing in nested static_ford
  projects/composablekernel/include/ck_tile/ops/gemm/block/block_gemm_areg_breg_creg_v1.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK_TILE] Flatten nested static_for loops into static_ford across ck_tile
  projects/composablekernel/include/ck_tile/ops/epilogue/chainer/epilogue_chainer.hpp
  projects/composablekernel/include/ck_tile/ops/flatmm/block/block_flatmm_asmem_bsmem_creg_v1.hpp
  projects/composablekernel/include/ck_tile/ops/flatmm/kernel/moe_flatmm_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/flatmm/pipeline/flatmm_pipeline_agmem_bgmem_creg_v1.hpp
  projects/composablekernel/include/ck_tile/ops/flatmm/pipeline/mixed_prec_flatmm_pipeline_agmem_bgmem_creg_v1.hpp
  projects/composablekernel/include/ck_tile/ops/flatmm/pipeline/moe_flatmm_pipeline_agmem_bgmem_creg.hpp
  projects/composablekernel/include/ck_tile/ops/flatmm/pipeline/mx_flatmm_pipeline_agmem_bgmem_creg_v1.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_bwd_pipeline_default_policy.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/block/block_gemm_areg_breg_creg_v1.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/block/block_gemm_areg_breg_creg_v2.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/block/block_gemm_areg_bsmem_creg_one_warp_v1.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/block/block_gemm_areg_bsmem_creg_v1.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/block/block_gemm_areg_bsmem_creg_v2.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/block/block_gemm_areg_bsmem_creg_v2r1.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/block/block_gemm_asmem_breg_creg_v1.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/block/block_gemm_asmem_bsmem_creg_v1.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/block/block_gemm_mx_areg_bsmem_creg_v1.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/block/block_universal_gemm_as_bs_cr.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/block/block_wp_asmem_breg_creg.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/block/block_wp_asmem_bsmem_creg_v1.hpp
  projects/composablekernel/include/ck_tile/ops/gemm_quant/block/block_universal_gemm_ar_aquant_flatbr_bquant_cr.hpp
  projects/composablekernel/include/ck_tile/ops/gemm_quant/block/block_universal_gemm_ar_flatbr_bquant_cr.hpp
  projects/composablekernel/include/ck_tile/ops/gemm_quant/block/block_universal_gemm_as_aquant_bs_bquant_cr.hpp
  projects/composablekernel/include/ck_tile/ops/gemm_quant/block/block_universal_gemm_as_aquant_bs_cr.hpp
  projects/composablekernel/include/ck_tile/ops/gemm_quant/block/block_universal_gemm_as_bs_bquant_cr.hpp
  projects/composablekernel/include/ck_tile/ops/gemm_quant/pipeline/gemm_wp_abquant_pipeline_ag_bg_cr_v2.hpp
  projects/composablekernel/include/ck_tile/ops/gemm_quant/pipeline/gemm_wp_bquant_pipeline_ag_bg_cr_v2.hpp
  projects/composablekernel/include/ck_tile/ops/norm_reduce/block/block_norm_reduce.hpp
  projects/composablekernel/include/ck_tile/ops/reduce/block/block_reduce2d.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Disable logging shutdown test under ASAN
  projects/hipdnn/tests/backend_logging/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update test_categories.yaml to include 'full' label and modify commented labels
  projects/rocblas/clients/gtest/test_categories.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
