Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

add PrefetchGL2Inc64Bit
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/Common/RequiredParameters.py
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/Components/GL2Prefetch.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/InstructionEmitter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Naming.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/LibraryIO/__snapshots__/test_logiccontract_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionClass/__snapshots__/test_solution_class_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_gl2_prefetch_offset.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): judge split-K grids the same way at build time and launch
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_custom_kernel_host.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): fix flaky gfx1250v0 vs strict emit check (#12893)
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_arch_steppings.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add PrefetchGL2SAddr
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/Common/RequiredParameters.py
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/Components/GL2Prefetch.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Naming.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/LibraryIO/__snapshots__/test_logiccontract_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionClass/__snapshots__/test_solution_class_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/ValidParameters/__snapshots__/test_builders_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_gl2_prefetch_offset.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

PrefetchGL2SAddr 2
  shared/stinkytofu/src/analysis/asm/AsmVerifierPass.cpp
  shared/stinkytofu/tests/unit/ir/RegisterWidthValidationTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix test issues
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/ductile/gfx950/f8_tn_mx_subtile.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_halfplr_streamk_rejects.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke): re-bless the gfx1250 scaled-WMMA llvm23 golden for p10-p15
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/gfx1250_scaled_wmma_llvm23.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

pass ldb to the FP16 NN wvSpltK kernels and rename them
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/Range/aquavanjaram_Cijk_Ailk_Bljk_HHS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Range/gfx950_Cijk_Ailk_Bljk_HHS_BH_UserArgs.yaml
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/rocblas/README.md
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/rocblas/wvSpltK_f16_nn_m1.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/rocblas/wvSpltK_f16_nn_m2.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/rocblas/wvSpltK_f16_nn_m4.s
  projects/hipblaslt/tensilelite/Tensile/Tests/custom/custom_rocblas_gemv_f16_nn_m1.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/custom/custom_rocblas_gemv_f16_nn_m2.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/custom/custom_rocblas_gemv_f16_nn_m4.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomKernelMetadata.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomKernels_buffer_oob.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

skip custom kernels for pointer-array GEMMs in the heuristic
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/rocblas/README.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

test the skinny GEMMs library logic routes to wvSpltK
  projects/hipblaslt/clients/tests/data/matmul_gtest.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

chore(rocsparse): drop unused include and fix copyright in csr2ell_strided_batched (AISPARSE-683)
  projects/rocsparse/library/src/conversion/rocsparse_csr2ell_strided_batched.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add more env vars before running fmha on gfx1250 ffm
  projects/composablekernel/groovy/vars/ck.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

clang format
  projects/rocsparse/library/src/level3/refactored/rocsparse_cscsm_solve.cpp
  projects/rocsparse/library/src/level3/refactored/rocsparse_sptrsm.cpp
  projects/rocsparse/library/src/level3/refactored/rocsparse_xcsrsm_solve.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix copyright year
  projects/rocwmma/test/CMakeLists.txt
  projects/rocwmma/test/dlrm/CMakeLists.txt
  projects/rocwmma/test/gemm/CMakeLists.txt
  projects/rocwmma/test/gemm/gemm_kernel_base.cpp
  projects/rocwmma/test/gemm/gemm_kernel_base_instantiations.hpp
  projects/rocwmma/test/gemm/instantiations/bfloat16_bfloat16_bfloat16.cpp
  projects/rocwmma/test/gemm/instantiations/bfloat16_bfloat16_float32.cpp
  projects/rocwmma/test/gemm/instantiations/bfloat16_float32_float32.cpp
  projects/rocwmma/test/gemm/instantiations/bfloat8_float32_float32.cpp
  projects/rocwmma/test/gemm/instantiations/bfloat8_fnuz_float32_float32.cpp
  projects/rocwmma/test/gemm/instantiations/float16_float16_float16.cpp
  projects/rocwmma/test/gemm/instantiations/float16_float16_float32.cpp
  projects/rocwmma/test/gemm/instantiations/float16_float32_float32.cpp
  projects/rocwmma/test/gemm/instantiations/float32_float32_float32.cpp
  projects/rocwmma/test/gemm/instantiations/float64_float64_float64.cpp
  projects/rocwmma/test/gemm/instantiations/float8_float32_float32.cpp
  projects/rocwmma/test/gemm/instantiations/float8_fnuz_float32_float32.cpp
  projects/rocwmma/test/gemm/instantiations/hfloat16_float32_float32.cpp
  projects/rocwmma/test/gemm/instantiations/hfloat16_hfloat16_float32.cpp
  projects/rocwmma/test/gemm/instantiations/hfloat16_hfloat16_hfloat16.cpp
  projects/rocwmma/test/gemm/instantiations/int8_int32_int32.cpp
  projects/rocwmma/test/gemm/instantiations/int8_int8_int32.cpp
  projects/rocwmma/test/gemm/instantiations/xfloat32_float32_float32.cpp
  projects/rocwmma/test/kernel_generator.hpp
  projects/rocwmma/test/rocblas_reference.hpp
  projects/rocwmma/test/unit/CMakeLists.txt
  projects/rocwmma/test/unit/kernel_generator_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocisa): explain macro condition token positions
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/pass/macro_inline.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocisa): explain conjunction result markers
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/pass/macro_inline.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocisa): evaluate every term in macro conjunctions
  projects/hipblaslt/CHANGELOG.md
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/pass/macro_inline.cpp
  projects/hipblaslt/tensilelite/rocisa/test/test_macro_inline.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci(hipblaslt): shallow-fetch ASan build dependencies
  .github/workflows/hipblaslt-asan-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(hipblaslt): format final-loop regression kernel names
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomKernels_final_loop_wait.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): wait for handwritten gfx950 final-loop operands
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/tensile/Custom_Cijk_Alik_Bljk_BBS_BH_MT256x256x64_MI16x16x1_UserArgs_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/tensile/Custom_Cijk_Alik_Bljk_BBS_BH_MT256x256x64_MI16x16x1_UserArgs_shortname1_gfx950.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/tensile/Custom_Cijk_Alik_Bljk_HHS_BH_MT256x256x64_MI16x16x1_UserArgs_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomKernels_final_loop_wait.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): complete the K=64 prefetch in handwritten gfx950 kernels (#12679)
  projects/hipblaslt/CHANGELOG.md
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/tensile/Custom_Cijk_Alik_Bljk_BBS_BH_MT256x256x64_MI16x16x1_UserArgs_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/tensile/Custom_Cijk_Alik_Bljk_BBS_BH_MT256x256x64_MI16x16x1_UserArgs_shortname1_gfx950.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/tensile/Custom_Cijk_Alik_Bljk_HHS_BH_MT256x256x64_MI16x16x1_UserArgs_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_custom_tn_prefetch_waits.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Reduce number of kernels generated for several benchmarks and tests
  projects/hipccl/hipccl3/rocprim/benchmark/benchmark_device_partition.hpp
  projects/hipccl/hipccl3/rocprim/benchmark/benchmark_device_select.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/device_segmented_topk.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/device_segmented_radix_sort.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck): conv test and assembly without early inlining (#13073)
  projects/composablekernel/include/ck/tensor_description/multi_index_transform.hpp
  projects/composablekernel/include/ck/utility/functional2.hpp
  projects/composablekernel/include/ck/utility/functional3.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hip-kernel-provider): kpack runtime cut-over (Phase 2) [ALMIOPEN-2459] (#10990)
  dnn-providers/hip-kernel-provider/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/asm/AsmKernelPath.hpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/asm/AsmKpackArchive.hpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/asm/PluginModuleDir.cpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/asm/PluginModuleDir.hpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaBwdPlanBuilder.cpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaFwdLaunchParams.hpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaFwdPlanBuilder.cpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaKernelUtils.hpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaModuleCache.hpp
  dnn-providers/hip-kernel-provider/src/integration_tests/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/integration_tests/asm_sdpa_engine/IntegrationGpuSdpaForward.cpp
  dnn-providers/hip-kernel-provider/src/tests/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/tests/compilation/TestKpackKernelLoader.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/TestAsmKernelPath.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/TestAsmKpackArchive.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/TestAsmKpackLoading.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/TestSdpaFwdPlanGridMath.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/TestSdpaModuleCache.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke): skip XCD tile order for 1x1 single-N-tile grouped dgrad
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/README_conv_implicit_gemm_dgrad.md
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/conv_implicit_gemm_dgrad.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_conv_dgrad_spec_policy.py
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/optimization_runbook.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx950/conv_dgrad/stride1_igemm_dgrad_case_study.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(merge): port develop's gfx950 conv_fwd pack to this branch's ingestor
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/IngestorPacks.cpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/descriptors/rocKE/gfx950_conv_fwd/gfx950_conv_fwd.ued.json
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/descriptors/rocKE/gfx950_conv_fwd/gfx950_conv_fwd.uhd.json
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/TestGfx950ConvFwdPacks.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(hipblaslt): drop residual EXT pad/restride harness path
  projects/hipblaslt/clients/common/include/mxDataGen.hpp
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

cap the wvSpltK ranges at K = 4096 except FP16 NN m = 1
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/Range/aquavanjaram_Cijk_Ailk_Bljk_HHS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Range/gfx950_Cijk_Ailk_Bljk_HHS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Range/gfx950_Cijk_Alik_Bljk_BBS_BH_UserArgs.yaml
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/rocblas/README.md
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomKernelMetadata.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(integration-tests): settle the bundle oracle before the engine runs
  dnn-providers/integration-tests/src/harness/ReferenceCapabilityError.hpp
  dnn-providers/integration-tests/src/harness/TestConfig.hpp
  dnn-providers/integration-tests/src/harness/bundle/HarnessPolicy.hpp
  dnn-providers/integration-tests/src/harness/bundle/IntegrationBundleVerificationHarness.cpp
  dnn-providers/integration-tests/src/harness/bundle/IntegrationBundleVerificationHarness.hpp
  dnn-providers/integration-tests/src/harness/bundle/ProductionPolicy.cpp
  dnn-providers/integration-tests/src/harness/bundle/UnverifiableBundleReport.hpp
  dnn-providers/integration-tests/src/main.cpp
  dnn-providers/integration-tests/tests/TestProductionPolicy.cpp
  dnn-providers/integration-tests/tests/TestTestConfig.cpp
  dnn-providers/integration-tests/tests/TestVerificationModePaths.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(integration-tests): let the engine's verdict win over the no-oracle check
  dnn-providers/integration-tests/src/harness/bundle/IntegrationBundleVerificationHarness.cpp
  dnn-providers/integration-tests/src/harness/bundle/IntegrationBundleVerificationHarness.hpp
  dnn-providers/integration-tests/tests/TestProductionPolicy.cpp
  dnn-providers/integration-tests/tests/TestTestConfig.cpp
  dnn-providers/integration-tests/tests/TestVerificationModePaths.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(integration-tests): say which oracle failed, and keep one unverifiable wording
  dnn-providers/integration-tests/src/harness/TestConfig.hpp
  dnn-providers/integration-tests/src/harness/bundle/IntegrationBundleVerificationHarness.cpp
  dnn-providers/integration-tests/src/harness/bundle/IntegrationBundleVerificationHarness.hpp
  dnn-providers/integration-tests/tests/TestVerificationModePaths.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(integration-tests): satisfy clang-tidy in the reference-error context
  dnn-providers/integration-tests/src/harness/bundle/IntegrationBundleVerificationHarness.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

2-refactor(tensilelite): move remaining custom kernel namespace paths
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/README.md
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/tensile/Custom_Cijk_Alik_Bljk_BBS_BH_MT128x16x128_MI16x16x1_SN_GSUM_K1_MIWT2_1_01_gfx942.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/tensile/Custom_Cijk_Alik_Bljk_BBS_BH_MT16x16x128_MI16x16x1_SN_GSUM_K1_MIWT1_1_2.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/tensile/Custom_Cijk_Alik_Bljk_BBS_BH_MT16x16x128_MI16x16x1_SN_GSUM_K1_MIWT1_1_2_gfx942.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/tensile/Custom_Cijk_Alik_Bljk_BBS_BH_MT16x16x128_MI16x16x1_SN_GSUM_K1_MIWT1_1_3.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/tensile/Custom_Cijk_Alik_Bljk_BBS_BH_MT16x16x128_MI16x16x1_SN_GSUM_K1_MIWT1_1_3_gfx942.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/tensile/Custom_Cijk_Alik_Bljk_BBS_BH_MT256x256x64_MI16x16x1_UserArgs_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/tensile/Custom_Cijk_Alik_Bljk_BBS_BH_MT256x256x64_MI16x16x1_UserArgs_shortname1_gfx950.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/tensile/Custom_Cijk_Alik_Bljk_F8B8BS_BH_SAB_NTD_UserArgs_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/tensile/Custom_Cijk_Alik_Bljk_F8B8BS_BH_SAB_NTD_UserArgs_shortname1_gfx950.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/tensile/Custom_Cijk_Alik_Bljk_F8B8BS_BH_SAB_UserArgs_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/tensile/Custom_Cijk_Alik_Bljk_F8BS_BH_SAB_NTD_UserArgs_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/tensile/Custom_Cijk_Alik_Bljk_F8BS_BH_SAB_NTD_UserArgs_shortname1_gfx950.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/tensile/Custom_Cijk_Alik_Bljk_F8BS_BH_SAB_UserArgs_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/tensile/Custom_Cijk_Alik_Bljk_F8NBS_BH_BiasSB_AS_SABV_SAV_UserArgs_MT256x224x128_MI16x16x1_SN_K1_MIWT4_14_DTVA.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/tensile/Custom_Cijk_Alik_Bljk_F8NBS_BH_BiasSB_AS_SABV_SAV_UserArgs_MT256x224x128_MI16x16x1_SN_K1_MIWT4_14_WSGRB2_DTVA.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/tensile/Custom_Cijk_Alik_Bljk_F8NBS_BH_BiasSB_AS_SABV_SAV_UserArgs_MT256x256x128_MI16x16x1_SN_K1_MIWT4_16_DTVA.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/tensile/Custom_Cijk_Alik_Bljk_F8NBS_BH_BiasSB_AS_SABV_SAV_UserArgs_MT256x256x128_MI16x16x1_SN_K1_MIWT4_16_WSGRB2_DTVA.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/tensile/Custom_Cijk_Alik_Bljk_HHS_BH_MT256x256x64_MI16x16x1_UserArgs_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/tensile/Custom_Cijk_Alik_Bljk_HHS_BH_UserArgs_MT128x16x128_MI16x16x1_SN_K1_MIWT2_1_triple_buffer.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/tensile/Custom_Cijk_Alik_Bljk_S_MX_B_BIAS_HA_S_SAV_NTD_SK3_UserArgs_MT256x256x32_MI16x16x1_shortname0_gfx950.s
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Simplify cmake for new gemm 'instantiations' directory
  projects/rocwmma/test/gemm/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

2-refactor(tensilelite): update integration and metadata namespace references
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/scripts/run_tensile_logic_check.py
  projects/hipblaslt/tensilelite/.gitignore
  projects/hipblaslt/tensilelite/AGENTS.md
  projects/hipblaslt/tensilelite/AGENTS_reference.md
  projects/hipblaslt/tensilelite/AMaxGenerator.py
  projects/hipblaslt/tensilelite/LayerNormGenerator.py
  projects/hipblaslt/tensilelite/MANIFEST.in
  projects/hipblaslt/tensilelite/README.md
  projects/hipblaslt/tensilelite/SoftmaxGenerator.py
  projects/hipblaslt/tensilelite/cmake/tensilelite_auto_build.cmake
  projects/hipblaslt/tensilelite/pyproject.toml
  projects/hipblaslt/tensilelite/pytest.ini
  projects/hipblaslt/tensilelite/scripts/precommit_affected_tests.py
  projects/hipblaslt/tensilelite/tasks.py
  projects/hipblaslt/tensilelite/test_categories.yaml
  projects/hipblaslt/tensilelite/tox.ini
  projects/hipblaslt/utilities/geko/README.md
  projects/hipblaslt/utilities/geko/geko/config_generator/fork_params/hw_profiles/gfx950/post_processor.py
  projects/hipblaslt/utilities/geko/geko/config_generator/fork_params/param_meta.py
  projects/hipblaslt/utilities/geko/geko/config_generator/output_writer.py
  projects/hipblaslt/utilities/geko/geko/library/operations.py
  projects/hipblaslt/utilities/geko/geko/optim/optim.py
  projects/hipblaslt/utilities/geko/tests/config_generator/test_config_merge_writer_sections_params_unit.py
  projects/hipblaslt/utilities/geko/tests/test_library_operations_unit.py
  projects/hipblaslt/utilities/geko/tests/test_optim_core_unit.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(tensilelite): enable one-way namespace compatibility
  projects/hipblaslt/scripts/run_tensile_logic_check.py
  projects/hipblaslt/tensilelite/Tensile/__init__.py
  projects/hipblaslt/tensilelite/pyproject.toml
  projects/hipblaslt/tensilelite/tasks.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_isSubtileIterateMode.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_namespace_bridge.py
  projects/hipblaslt/utilities/geko/geko/config_generator/fork_params/hw_profiles/gfx950/post_processor.py
  projects/hipblaslt/utilities/geko/geko/config_generator/fork_params/param_meta.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

2-refactor(tensilelite): update package source namespace references
  projects/hipblaslt/tensilelite/tensilelite/BenchmarkProblems.py
  projects/hipblaslt/tensilelite/tensilelite/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/tensilelite/Component.py
  projects/hipblaslt/tensilelite/tensilelite/Components/StreamK.py
  projects/hipblaslt/tensilelite/tensilelite/ExperimentalLibrary.py
  projects/hipblaslt/tensilelite/tensilelite/LibraryLogic.py
  projects/hipblaslt/tensilelite/tensilelite/OccupancyMeasure.py
  projects/hipblaslt/tensilelite/tensilelite/RocisaStatus.py
  projects/hipblaslt/tensilelite/tensilelite/SolutionStructs/Validators/MXScaleFormat.py
  projects/hipblaslt/tensilelite/tensilelite/Tensile.py
  projects/hipblaslt/tensilelite/tensilelite/TensileCreateLibrary/ParseArguments.py
  projects/hipblaslt/tensilelite/tensilelite/Utilities/tensile_generator/README.md
  projects/hipblaslt/tensilelite/tensilelite/__init__.py
  projects/hipblaslt/tensilelite/tensilelite/backends/ductile_backend.py
  projects/hipblaslt/tensilelite/tensilelite/backends/tensile_backend.py
  projects/hipblaslt/tensilelite/tensilelite/bin/Tensile
  projects/hipblaslt/tensilelite/tensilelite/bin/TensileBenchmarkCluster
  projects/hipblaslt/tensilelite/tensilelite/bin/TensileCreateLibrary
  projects/hipblaslt/tensilelite/tensilelite/bin/TensileGenerateSummations
  projects/hipblaslt/tensilelite/tensilelite/bin/TensileLibLogicToYaml
  projects/hipblaslt/tensilelite/tensilelite/bin/TensileLogic
  projects/hipblaslt/tensilelite/tensilelite/bin/TensileMergeLibrary
  projects/hipblaslt/tensilelite/tensilelite/bin/TensileRetuneLibrary
  projects/hipblaslt/tensilelite/tensilelite/bin/TensileUpdateLibrary
  projects/hipblaslt/tensilelite/tensilelite/ductile/config/__init__.py
  projects/hipblaslt/tensilelite/tensilelite/verify_stinky_comment_vs_elf_text.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

2-refactor(tensilelite): update custom kernel namespace references
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): share namespace bridge subprocess helper
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_namespace_bridge.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): complete package move plumbing
  projects/hipblaslt/tensilelite/MANIFEST.in
  projects/hipblaslt/tensilelite/pyproject.toml
  projects/hipblaslt/tensilelite/scripts/precommit_affected_tests.py
  projects/hipblaslt/tensilelite/tensilelite/bin/Tensile
  projects/hipblaslt/tensilelite/tensilelite/bin/TensileBenchmarkCluster
  projects/hipblaslt/tensilelite/tensilelite/bin/TensileCreateLibrary
  projects/hipblaslt/tensilelite/tensilelite/bin/TensileGenerateSummations
  projects/hipblaslt/tensilelite/tensilelite/bin/TensileLibLogicToYaml
  projects/hipblaslt/tensilelite/tensilelite/bin/TensileLogic
  projects/hipblaslt/tensilelite/tensilelite/bin/TensileMergeLibrary
  projects/hipblaslt/tensilelite/tensilelite/bin/TensileRetuneLibrary
  projects/hipblaslt/tensilelite/tensilelite/bin/TensileUpdateLibrary
  projects/hipblaslt/tensilelite/tensilelite/ductile/config/__init__.py
  projects/hipblaslt/tensilelite/tox.ini
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
