Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Fixing typo
  .github/labeler.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

clang format
  projects/miopen/src/logger.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Migration rocWMMA
  README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

bump C to 10
  projects/rocsolver/clients/common/lapack/testing_sygvdx_hegvdx.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

increase sygvdx test tolerance
  projects/rocsolver/clients/common/lapack/testing_sygvdx_hegvdx.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix incorrect event waiting logic in `test_wait_event` (#2394)
  projects/hipccl/hipccl2/rocthrust/test/test_event.cpp
  projects/hipccl/hipccl2/rocthrust/testing/event.cu
  projects/hipccl/hipccl2/rocthrust/testing/unittest/util_async.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix incorrect event waiting logic in `test_wait_event` (#2394)
  projects/hipccl/hipccl3/rocthrust/test/test_event.cpp
  projects/hipccl/hipccl3/rocthrust/testing/event.cu
  projects/hipccl/hipccl3/rocthrust/testing/unittest/util_async.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update CONTRIBUTING.md to refer to the development guide.
  CONTRIBUTING.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CMake changes for integration into TheRock
  projects/rocwmma/CMakeLists.txt
  projects/rocwmma/samples/CMakeLists.txt
  projects/rocwmma/test/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Apply suggestion from @Copilot
  projects/rocwmma/test/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update CONTRIBUTING.md to refer readers to TheRock development guide.
  CONTRIBUTING.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove the DISABLE_OFFLOAD_COMPRESS option in the MIOpen Dockerfile
  projects/miopen/Dockerfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipCUB] Build rocm-cmake from source
  projects/hipcub/cmake/ROCmCMakeBuildToolsDependency.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add env for toggling search warnings
  projects/miopen/docs/how-to/debug-log.rst
  projects/miopen/src/include/miopen/find_solution.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Check if build exists before extracting it
  shared/rocroller/.jenkins/common.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Error out if comparision is not disabled
  shared/rocroller/.jenkins/common.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocPRIM] Compress code objects during rocPRIM build (#1440)
  projects/rocprim/CHANGELOG.md
  projects/rocprim/CMakeLists.txt
  projects/rocprim/cmake/Summary.cmake
  projects/rocprim/rmake.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

update timer for thread safety
  projects/miopen/src/logger.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

get relu fwd working with values configurable from the graph
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/cpu_graph_executor/PointwisePlan.hpp
  projects/hipdnn/sdk/tests/test_utilities/cpu_graph_executor/PointwiseGraphUtils.hpp
  projects/hipdnn/sdk/tests/test_utilities/cpu_graph_executor/TestCpuReferenceGraphExecutor.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add updated documentation, and rename forward to fprop for consistency
  projects/hipdnn/docs/OperationSupport.md
  projects/hipdnn/samples/CMakeLists.txt
  projects/hipdnn/samples/README.md
  projects/hipdnn/samples/convolution/ConvFprop.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

throw if params we dont support yet get set in a graph
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/cpu_graph_executor/PointwisePlan.hpp
  projects/hipdnn/sdk/tests/test_utilities/cpu_graph_executor/TestPointwisePlan.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hipdnn build doc updates
  projects/hipdnn/dockerfiles/README.md
  projects/hipdnn/docs/Building.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix test names and add examples
  shared/rocroller/test/catch/ExpressionTransformationTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add comment
  shared/rocroller/test/catch/ExpressionTransformationTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Added more build properties to ensure libraries end up in the correct spot in Windows
  projects/hipdnn/backend/src/CMakeLists.txt
  projects/hipdnn/backend/tests/CMakeLists.txt
  projects/hipdnn/plugins/miopen_legacy_plugin/CMakeLists.txt
  projects/hipdnn/plugins/miopen_legacy_plugin/engines/MiopenEngine.cpp
  projects/hipdnn/plugins/miopen_legacy_plugin/engines/MiopenEngine.hpp
  projects/hipdnn/plugins/miopen_legacy_plugin/tests/common/GoldenReferenceGpu.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/TestUtilities.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/utilities/PlatformUtils.windows.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/utilities/StringUtil.hpp
  projects/hipdnn/sdk/tests/test_utilities/GoldenReferenceCpu.hpp
  projects/hipdnn/sdk/tests/test_utilities/TestLoggingUtils.cpp
  projects/hipdnn/tests/test_plugins/CMakeLists.txt
  projects/hipdnn/tests/test_plugins/TestPluginConstants.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Re-enable large datatype tests on gfx950
  shared/rocroller/scripts/lib/rrperf/rrsuites.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add check to prevent std::uniform_int_distribution creation for single byte types
  projects/rocprim/benchmark/benchmark_utils.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update README.md
  projects/hipdnn/dockerfiles/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix up comments
  projects/hipdnn/docs/OperationSupport.md
  projects/hipdnn/samples/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Make compute FP32
  projects/hipdnn/samples/batchnorm/BnBackward.cpp
  projects/hipdnn/samples/batchnorm/BnInference.cpp
  projects/hipdnn/samples/batchnorm/BnTraining.cpp
  projects/hipdnn/samples/convolution/ConvDgrad.cpp
  projects/hipdnn/samples/convolution/ConvFprop.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Updates
  .github/workflows/therock-ci.yml
  .github/workflows/therock-test-component.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update README.md
  projects/hipdnn/dockerfiles/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Alphabetical ordering
  projects/hipdnn/docs/OperationSupport.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add intial f64 compute support
  projects/rocblas/clients/common/blas_ex/common_syrk_ex.cpp
  projects/rocblas/clients/include/blas_ex/testing_syrk_ex.hpp
  projects/rocblas/clients/include/rocblas_common.yaml
  projects/rocblas/clients/include/type_dispatch.hpp
  projects/rocblas/docs/reference/extension.rst
  projects/rocblas/library/include/internal/rocblas-functions.h
  projects/rocblas/library/src/blas3/rocblas_syrk_herk_kernels.cpp
  projects/rocblas/library/src/blas_ex/rocblas_syrk_ex.hpp
  projects/rocblas/library/src/blas_ex/rocblas_syrk_ex_kernels.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Fix merge
  projects/hipdnn/plugins/miopen_legacy_plugin/tests/engines/plans/TestMiopenBatchnormPlanBuilder.cpp
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/FlatbufferGraphTestUtils.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/cpu_graph_executor/BatchnormBwdSignatureKey.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

remove unsupported shapes
  projects/miopen/test/gtest/unit_conv_solver_ConvAsmImplicitGemmGTCDynamicBwdXdlops.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvAsmImplicitGemmGTCDynamicFwdXdlops.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvAsmImplicitGemmGTCDynamicWrwXdlops.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix incorrect numReadsPerUnroll calc for LDSTR
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update logic yamls for preserving efflike
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Ailk_Bjlk_B8B8S_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Ailk_Bjlk_B8BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Ailk_Bjlk_B8F8B8S_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Ailk_Bjlk_B8F8BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Ailk_Bjlk_B8F8F8S_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Ailk_Bjlk_B8F8HS_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Ailk_Bjlk_B8F8SS_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Ailk_Bjlk_B8F8S_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Ailk_Bjlk_B8HS_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Ailk_Bjlk_B8SS_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Ailk_Bjlk_F8B8B8S_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Ailk_Bjlk_F8B8BS_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Ailk_Bjlk_F8B8F8S_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Ailk_Bjlk_F8B8HS_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Ailk_Bjlk_F8B8SS_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Ailk_Bjlk_F8B8S_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Ailk_Bjlk_F8BS_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Ailk_Bjlk_F8F8S_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Ailk_Bjlk_F8HS_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Ailk_Bjlk_F8SS_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Ailk_Bjlk_I8BH_SHB_HA_S_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Ailk_Bjlk_I8II_BH_SHB_HA_S_SCD_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Switch MbskPrefetchMethod between 0/1 based on # store elements.
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
