Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

fix(conv): skip CK grouped bwd-data flat descriptor when N is split
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_data_multiple_d_xdl_cshuffle_v1.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

gfx1250 hw coefficients
  shared/origami/include/origami/hardware.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

build(miopen): compare the kdb bzip2 magic in hex
  projects/miopen/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix daily hiptensor tests
  projects/composablekernel/Dockerfile
  projects/composablekernel/Dockerfile.compiler
  projects/composablekernel/groovy/vars/ck.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix curve constant
  shared/origami/include/origami/hardware.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

build(hipdnn): enable warnings-as-errors on samples and fix resulting warnings (#10546)
  projects/hipdnn/samples/CMakeLists.txt
  projects/hipdnn/samples/batchnorm/BnInferenceWithVariance.cpp
  projects/hipdnn/samples/batchnorm/BnTraining.cpp
  projects/hipdnn/samples/batchnorm/FusedBnInferenceVarianceActiv.cpp
  projects/hipdnn/samples/batchnorm/FusedBnTrainingActiv.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke): reach _resolve_attention_arch through the module handle (#10508)
  dnn-providers/hip-kernel-provider/rocke/library/builders/common/attention_spec_builder.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/conftest.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_arch_binding_guard.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_builds.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attn_bf16_d128_ring.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_lds_budget_resolver.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_selector_parity.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/rocke_ir_parity_harness.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): let the Synchronizer check drive its own solution run
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/client/include/SynchronizerValidator.hpp
  projects/hipblaslt/tensilelite/client/src/SynchronizerValidator.cpp
  projects/hipblaslt/tensilelite/tests/SynchronizerResidue_test.cpp
  projects/hipblaslt/tensilelite/tests/SynchronizerValidatorReporting_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hipblaslt): drop CheckStreamKSync from the ductile StreamK test
  projects/hipblaslt/tensilelite/Tensile/Tests/common/ductile/gfx950/bf16_tn_streamK.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke): guard OCP fp8 K/V decode on gfx942 to stop silent NaN (#10650)
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/attention_unified.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_builds.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(conv): wire stride_overflow guard in grouped bwd-data CK ops
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_data_multiple_d_xdl_cshuffle_v1.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_data_multiple_d_xdl_cshuffle_v3.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(conv): wire stride_overflow guard in grouped bwd-weight CK ops
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_two_stage_xdl_cshuffle.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_xdl_cshuffle.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_xdl_cshuffle_v3.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_xdl_waveletmodel_cshuffle_v3.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

build(miopen): make the shared/ctest categorization include optional
  projects/miopen/test/gtest/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

black format
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/architecture/wavescope_integration.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/utilities/tools/stage2_capture/capture_att_trace.py
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/utilities/tools/wavescope/README.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/utilities/tools/wavescope/capture_wavescope_trace.py
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/utilities/tools/wavescope/emit_inline_frames.py
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/utilities/tools/wavescope/trace_provenance.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_debug_info.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/tools/test_wavescope_sidecar.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix CI
  shared/stinkytofu/tests/unit/core/TimePassesInstrumentation_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix CI
  shared/stinkytofu/tests/CMakeLists.txt
  shared/stinkytofu/tests/unit/core/TimePassesInstrumentation_test.cpp
  shared/stinkytofu/tools/stinkytofu-opt/stinkytofu-opt.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(stinkytofu): add per-pass wall-time profiling to the pipeline
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  shared/stinkytofu/docs/user/global-parameters.md
  shared/stinkytofu/include/stinkytofu/bindings/python/Module.hpp
  shared/stinkytofu/include/stinkytofu/pipeline/ScopeAdaptor.hpp
  shared/stinkytofu/include/stinkytofu/support/TimePassesInstrumentation.hpp
  shared/stinkytofu/src/core/CMakeLists.txt
  shared/stinkytofu/src/core/TimePassesInstrumentation.cpp
  shared/stinkytofu/src/pipeline/backend/Backend.cpp
  shared/stinkytofu/tests/CMakeLists.txt
  shared/stinkytofu/tests/unit/core/TimePassesInstrumentationTest.cpp
  shared/stinkytofu/tools/stinkytofu-opt/README.md
  shared/stinkytofu/tools/stinkytofu-opt/stinkytofu-opt.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

update
  shared/stinkytofu/include/stinkytofu/pipeline/ScopeAdaptor.hpp
  shared/stinkytofu/src/core/TimePassesInstrumentation.cpp
  shared/stinkytofu/tools/stinkytofu-opt/stinkytofu-opt.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocthrust, hiprand): include shared/primbench in rocrand sparse-checkout
  projects/hiprand/cmake/Dependencies.cmake
  projects/rocthrust/cmake/Dependencies.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(conv): compare bytes, not elements, in ASM-GTC overflow guards
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_gtc_bwd_nhwc.cpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_gtc_fwd_nhwc.cpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_gtc_wrw_nhwc.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(ck-tile): enable gemm_universal GEMM bridge on gfx1250 (MI400)
  projects/composablekernel/dispatcher/codegen/arch_specs_generated.py
  projects/composablekernel/dispatcher/python/gemm_utils.py
  projects/composablekernel/dispatcher/tests/test_gemm_utils.py
  projects/composablekernel/tile_engine/ops/gemm/configs/default_ci_config_gfx1250.json
  projects/composablekernel/tile_engine/ops/gemm/configs/default_ci_config_gfx1250_fp8.json
  projects/composablekernel/tile_engine/ops/gemm/gemm_full_benchmark.py
  projects/composablekernel/tile_engine/ops/gemm/gemm_validation_utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke): make WaveScope sidecars capture-safe
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/architecture/wavescope_integration.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/utilities/skills/capture-kernel-trace-rocke.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/utilities/tools/stage2_capture/capture_att_trace.py
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/utilities/tools/wavescope/README.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/utilities/tools/wavescope/capture_wavescope_trace.py
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/utilities/tools/wavescope/emit_inline_frames.py
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/utilities/tools/wavescope/trace_provenance.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/tools/test_wavescope_sidecar.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

(CMCL) Address review: deterministic hipcc builds, per-shard KDP arch, skip non-descriptor json, cross-shard test
  dnn-providers/hip-kernel-provider/descriptor-packaging/python/hkp_pack/descriptors.py
  dnn-providers/hip-kernel-provider/descriptor-packaging/python/hkp_pack/hip_compile.py
  dnn-providers/hip-kernel-provider/descriptor-packaging/python/hkp_pack/pipeline.py
  dnn-providers/hip-kernel-provider/descriptor-packaging/tests/test_hkp_pack.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocthrust): disable zip_iterator_sort_by_key test
  projects/rocthrust/test/CMakeLists.txt
  projects/rocthrust/testing/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocthrust, hiprand): include shared/primbench in rocrand sparse-checkout
  projects/hiprand/cmake/Dependencies.cmake
  projects/rocthrust/cmake/Dependencies.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocthrust): disable zip_iterator_sort_by_key test
  projects/rocthrust/test/CMakeLists.txt
  projects/rocthrust/testing/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt) : Update GFX950 Origami Libraries for Work Stealing (#10877)
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Ailk_Bjlk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Ailk_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Ailk_Bljk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Alik_Bjlk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Alik_Bljk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Ailk_Bjlk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Ailk_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Ailk_Bljk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Alik_Bjlk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Alik_Bljk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Ailk_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Ailk_Bljk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Alik_Bjlk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Alik_Bljk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_emit_bigfiles_char.ambr
  projects/hipblaslt/tensilelite/include/Tensile/ContractionProblem.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Debug.hpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/src/Debug.cpp
  shared/origami/src/origami/origami.cpp
  shared/origami/tests/test_origami.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Revert "fix(rocthrust): fix transform basic compile error (#10866)"
  projects/rocrand/cmake/SetupNVCC.cmake
  projects/rocthrust/CMakeLists.txt
  projects/rocthrust/CMakePresets.json
  projects/rocthrust/benchmark/bench/transform/basic.cu
  projects/rocthrust/benchmark/bench_utils/bench_utils.hpp
  projects/rocthrust/benchmark/bench_utils/generation_utils.hpp
  projects/rocthrust/benchmark/bench_utils/thrust_compat.hpp
  projects/rocthrust/cmake/Benchmarks.cmake
  projects/rocthrust/cmake/Dependencies.cmake
  projects/rocthrust/cmake/Summary.cmake
  projects/rocthrust/cmake/VerifyCompiler.cmake
  projects/rocthrust/test/CMakeLists.txt
  projects/rocthrust/testing/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): use longBranchScc0 for Replay hazard protection (#10670)
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix test_ck_tile_multi_reduce2d_multiblock
  projects/composablekernel/include/ck_tile/core/arch/amd_buffer_addressing.hpp
  projects/composablekernel/include/ck_tile/core/arch/amd_buffer_addressing_builtins.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix example_reduce_multiblock_atomic_add
  projects/composablekernel/include/ck/utility/amd_buffer_addressing.hpp
  projects/composablekernel/include/ck/utility/amd_buffer_addressing_builtins.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix test_ck_tile_grouped_gemm_f8
  projects/composablekernel/test/ck_tile/grouped_gemm/test_grouped_gemm_ut_cases.inc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Skip Block16 mode on asicRevision 0 for test_ck_tile_pk_fp6
  projects/composablekernel/test/ck_tile/data_type/test_pk_fp4.cpp
  projects/composablekernel/test/ck_tile/data_type/test_pk_fp6.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add asicRevision check to skip cluster launch on gfx1250 A0
  projects/composablekernel/test/ck_tile/gemm/test_gemm_pipeline_util.hpp
  projects/composablekernel/test/ck_tile/gemm_mx/test_mx_gemm_pipeline_util.hpp
  projects/composablekernel/test/ck_tile/tdm/tdm_basic.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix test_tile_gemm_quant_bquant_preshuffle_decode prefill 1d 2d
  projects/composablekernel/test/ck_tile/gemm_block_scale/test_gemm_quant_fixtures.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix test_ck_tile_wmma_bf16_16x16x32_gfx1250
  projects/composablekernel/test/ck_tile/warp_gemm/test_wmma_bf16_16x16x32_gfx1250.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

he2hb: update laset calls
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sy2sb_he2hb.hpp
  projects/rocsolver/library/src/include/lapack_device_functions.hpp
  projects/rocsolver/library/src/include/laset.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hb2st: update laset calls
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): disable TDMSplit due to read-token races
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Equality/gfx1250_Cijk_Alik_Bljk_BBS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Equality/gfx1250_Cijk_Alik_Bljk_F8BS_MXAE8B32_MXBE8B32_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Equality/gfx1250_Cijk_Alik_Bljk_F8F8S_BH_UserArgs.yaml
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/tdm_split_gfx1250_xfail.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionValidity/test_r4_tdmsplit_pap_mx_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_r3_streamk_tdmsplit_gfx1250_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

New benchmarking scripts
  projects/rocsolver/bench_latrd_multikernel.sh
  projects/rocsolver/bench_syevd_multikernel.sh
  projects/rocsolver/bench_sytrd_multikernel.sh
  projects/rocsolver/docs/latrd_sytrd_syevd_benchmarking_guide.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation
