Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

Make MFMA instruction size a config template parameter.
  projects/composablekernel/experimental/grouped_convolution_tile_instances/instances/backward_data_direct/grouped_convolution_backward_data_tile_nhwgc_fp16_calls_32c.inc
  projects/composablekernel/experimental/grouped_convolution_tile_instances/instances/forward_direct/grouped_convolution_forward_tile_nhwgc_fp16_calls_32c.inc
  projects/composablekernel/include/ck_tile/ops/direct_convolution/kernel/conv_32c_tile_impl_v3.hpp
  projects/composablekernel/include/ck_tile/ops/direct_convolution/kernel/non_grouped_conv_compute_loop_v3.hpp
  projects/composablekernel/include/ck_tile/ops/direct_convolution/utils/conv_params.hpp
  projects/composablekernel/include/ck_tile/ops/direct_convolution/utils/mfma.hpp
  projects/composablekernel/include/ck_tile/ops/direct_convolution/utils/types.hpp
  projects/composablekernel/test/ck_tile/direct_conv/test_non_grouped_32c_fp16_tile_conv.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

subtile: emit K%32 tail loop for BF16 and MXFP4
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileScaleEmit.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/client/src/DataInitialization.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

subtile: drop minASEMforMX=256 conditional for MX path
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

subtile: dedupe scale re-scatter in DataInitialization
  projects/hipblaslt/tensilelite/client/src/DataInitialization.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

subtile: fix StreamK gating in mxfp4 tail yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_mxfp4_tail.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

subtile: add K-tail yaml fixtures and unit-test coverage
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_bf16_tail.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_mxfp4_tail.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_mxfp4_tail_smoke.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/_subtile_tailloop_fixtures.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedLogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_solution_subtile_tailloop.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtile_tailloop_emit.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

subtile: address PR review for K-tail loop
  projects/hipblaslt/tensilelite/Tensile/ClientWriter.py
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/client/include/DataInitialization.hpp
  projects/hipblaslt/tensilelite/client/main.cpp
  projects/hipblaslt/tensilelite/client/src/DataInitialization.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

subtile: poison MX scale padding in mxfp4 yamls
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_mxfp4.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_mxfp4_tail.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_mxfp4_tail_smoke.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

subtile: address PR review followups + fix CI tests
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtile_tailloop_emit.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

subtile: expand mxfp4 tail-yaml coverage per PR review
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_mxfp4_tail.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

contractions: tolerate deprecated Assert* keys in library logic parse
  projects/hipblaslt/tensilelite/Tensile/Contractions.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_Contractions_deprecated_asserts.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

subtile: move PGR=2 small-counter LWA realign into preLoop
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/InstructionEmitter.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedLogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedSchedulerRef.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtile_tailloop_emit.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

subtile: drop unnecessary closeLoop from K-tail scaffold
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedLogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtile_tailloop_emit.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Support cluster barrier conversion.
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/common.hpp
  shared/stinkytofu/hardware/src/gfx/Gfx1250/Gfx1250.cpp
  shared/stinkytofu/src/conversion/rocisa/AllHwMappings.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

updates according Jonthan's requests: remove task name, enable 7 solvers testing
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_bwd_v1r1.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_wrw_v4r4_xdlops.cpp
  projects/miopen/test/gtest/conv_deterministic_implicit_gemm.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add support for cyclic-shify and xor swizzle.
  projects/composablekernel/experimental/grouped_convolution_tile_instances/instances/forward_direct/grouped_convolution_forward_tile_nhwgc_bf16_calls_32c.inc
  projects/composablekernel/experimental/grouped_convolution_tile_instances/instances/forward_direct/grouped_convolution_forward_tile_nhwgc_fp16_calls_32c.inc
  projects/composablekernel/include/ck_tile/ops/direct_convolution/kernel/conv_32c_tile_impl_v3.hpp
  projects/composablekernel/include/ck_tile/ops/direct_convolution/kernel/non_grouped_conv_compute_loop_v3.hpp
  projects/composablekernel/test/ck_tile/direct_conv/test_non_grouped_32c_fp16_tile_conv.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

subtile: add bf16 any-K unit + yaml regression tests
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_bf16_anyk_k2.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_bf16_anyk_k8.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_bf16_anyk_odd.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_solution_subtile_anyk.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtile_anyk_emit.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

subtile: allow low ASEM for bf16 any-K tail loop
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/_subtile_tailloop_fixtures.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

subtile: add largemt anyK regression yaml + unit pins per sebvince's review
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_bf16_anyk_largemt_sebvince.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_solution_subtile_anyk_largemt.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

subtile: add BufferLoadB16/BufferLoadU16 rocisa bindings
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/mem.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/instruction/mem.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

subtile: replay bf16-anyk tail-mask evolution onto K32-on-develop
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/InstructionEmitter.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileLREmit.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_bf16_anyk_largemt.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_bf16_anyk_odd.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/_subtile_tailloop_fixtures.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedLogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedSchedulerRef.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_solution_subtile_anyk.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtile_anyk_emit.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtile_tail_per_mmak_lr.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtile_tailloop_emit.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix yaml type mismatch: library logic for gfx1152
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Ailk_Bjlk_BBS_BH_Bias_AuxB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Ailk_Bjlk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Ailk_Bjlk_BSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Ailk_Bjlk_HHS_BH_Bias_AuxH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Ailk_Bjlk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Ailk_Bjlk_HSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Ailk_Bjlk_I8BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Ailk_Bjlk_I8II_BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Ailk_Bljk_BBS_BH_Bias_AuxB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Ailk_Bljk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Ailk_Bljk_BSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Ailk_Bljk_HHS_BH_Bias_AuxH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Ailk_Bljk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Ailk_Bljk_HSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Ailk_Bljk_I8BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Ailk_Bljk_I8II_BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Alik_Bjlk_BBS_BH_Bias_AuxB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Alik_Bjlk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Alik_Bjlk_BSS_BH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Alik_Bjlk_HHS_BH_Bias_AuxH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Alik_Bjlk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Alik_Bjlk_HSS_BH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Alik_Bjlk_I8BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Alik_Bjlk_I8II_BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Alik_Bljk_BBS_BH_Bias_AuxB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Alik_Bljk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Alik_Bljk_BSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Alik_Bljk_HHS_BH_Bias_AuxH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Alik_Bljk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Alik_Bljk_HSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Alik_Bljk_I8BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1152/GridBased/gfx1152_Cijk_Alik_Bljk_I8II_BH_HAI_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix yaml type mismatch: library logic for gfx1153
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/Equality/gfx1153_Cijk_Alik_Bljk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Ailk_Bjlk_BBS_BH_Bias_AuxB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Ailk_Bjlk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Ailk_Bjlk_BSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Ailk_Bjlk_HHS_BH_Bias_AuxH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Ailk_Bjlk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Ailk_Bjlk_HSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Ailk_Bjlk_I8BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Ailk_Bjlk_I8II_BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Ailk_Bljk_BBS_BH_Bias_AuxB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Ailk_Bljk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Ailk_Bljk_BSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Ailk_Bljk_HHS_BH_Bias_AuxH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Ailk_Bljk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Ailk_Bljk_HSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Ailk_Bljk_I8BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Ailk_Bljk_I8II_BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Alik_Bjlk_BBS_BH_Bias_AuxB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Alik_Bjlk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Alik_Bjlk_BSS_BH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Alik_Bjlk_HHS_BH_Bias_AuxH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Alik_Bjlk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Alik_Bjlk_HSS_BH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Alik_Bjlk_I8BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Alik_Bjlk_I8II_BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Alik_Bljk_BBS_BH_Bias_AuxB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Alik_Bljk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Alik_Bljk_BSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Alik_Bljk_HHS_BH_Bias_AuxH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Alik_Bljk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Alik_Bljk_HSS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Alik_Bljk_I8BH_HAI_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1153/GridBased/gfx1153_Cijk_Alik_Bljk_I8II_BH_HAI_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix yaml type mismatch: library logic for gfx1200
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1200/Equality/gfx1200_Cijk_Ailk_Bjlk_HHS_BH_Bias_S_AuxH_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1200/Equality/gfx1200_Cijk_Ailk_Bljk_HHS_BH_Bias_S_AuxH_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1200/Equality/gfx1200_Cijk_Alik_Bjlk_HHS_BH_Bias_S_AuxH_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1200/Equality/gfx1200_Cijk_Alik_Bljk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1200/Equality/gfx1200_Cijk_Alik_Bljk_HHS_BH_Bias_S_AuxH_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1200/GridBased/gfx1200_Cijk_Alik_Bjlk_HHS_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1200/GridBased/gfx1200_Cijk_Alik_Bljk_F8BS_BH_Bias_HA_S_SABV_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1200/GridBased/gfx1200_Cijk_Alik_Bljk_HHS_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1200/GridBased/gfx1200_Cijk_Alik_Bljk_H_HS_BH_Bias_S_HA_S_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add sampling to the bathed contration tile engine
  projects/composablekernel/tile_engine/ops/gemm/batched_contraction/CMakeLists.txt
  projects/composablekernel/tile_engine/ops/gemm/batched_contraction/batched_contraction_instance_builder.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Address Copilot's comments
  projects/rocsolver/clients/common/lapack/testing_cholqr.hpp
  projects/rocsolver/library/src/lapack/roclapack_cholqr.cpp
  projects/rocsolver/library/src/lapack/roclapack_cholqr.hpp
  projects/rocsolver/library/src/lapack/roclapack_cholqr_batched.cpp
  projects/rocsolver/library/src/lapack/roclapack_cholqr_strided_batched.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update rocm-docs-core to 1.33.0
  projects/composablekernel/docs/sphinx/requirements.in
  projects/composablekernel/docs/sphinx/requirements.txt
  projects/hipblas/docs/sphinx/requirements.in
  projects/hipblas/docs/sphinx/requirements.txt
  projects/hipblaslt/docs/sphinx/requirements.in
  projects/hipblaslt/docs/sphinx/requirements.txt
  projects/hipcub/docs/sphinx/requirements.in
  projects/hipcub/docs/sphinx/requirements.txt
  projects/hipfft/docs/sphinx/requirements.in
  projects/hipfft/docs/sphinx/requirements.txt
  projects/hiprand/docs/sphinx/requirements.in
  projects/hiprand/docs/sphinx/requirements.txt
  projects/hipsolver/docs/sphinx/requirements.in
  projects/hipsolver/docs/sphinx/requirements.txt
  projects/hipsparse/docs/sphinx/requirements.in
  projects/hipsparse/docs/sphinx/requirements.txt
  projects/hipsparselt/docs/sphinx/requirements.in
  projects/hipsparselt/docs/sphinx/requirements.txt
  projects/hiptensor/docs/sphinx/requirements.in
  projects/hiptensor/docs/sphinx/requirements.txt
  projects/miopen/docs/sphinx/requirements.in
  projects/miopen/docs/sphinx/requirements.txt
  projects/rocblas/docs/sphinx/requirements.in
  projects/rocblas/docs/sphinx/requirements.txt
  projects/rocfft/docs/sphinx/requirements.in
  projects/rocfft/docs/sphinx/requirements.txt
  projects/rocprim/docs/sphinx/requirements.in
  projects/rocprim/docs/sphinx/requirements.txt
  projects/rocrand/docs/sphinx/requirements.in
  projects/rocrand/docs/sphinx/requirements.txt
  projects/rocsolver/docs/sphinx/requirements.in
  projects/rocsolver/docs/sphinx/requirements.txt
  projects/rocsparse/docs/sphinx/requirements.in
  projects/rocsparse/docs/sphinx/requirements.txt
  projects/rocthrust/docs/sphinx/requirements.in
  projects/rocthrust/docs/sphinx/requirements.txt
  projects/rocwmma/docs/sphinx/requirements.in
  projects/rocwmma/docs/sphinx/requirements.txt
  shared/tensile/docs/sphinx/requirements.in
  shared/tensile/docs/sphinx/requirements.txt
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add okl.py: thin wrapper around hipblaslt-bench for optimal-kernel lookup
  projects/hipblaslt/tensilelite/Testing/okl.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

tmp
  projects/composablekernel/include/ck_tile/core/arch/arch.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/mfma/mfma_gfx9.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/sparse_traits.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/wmma/sparse_gfx12.hpp
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout.inc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

PR fixes
  projects/hipsparse/CHANGELOG.md
  projects/hipsparse/clients/include/testing_spmv_csr_reuse_descr.hpp
  projects/hipsparse/clients/tests/rocm/test_spmv_csr_reuse_descr.yaml
  projects/hipsparse/library/src/amd_detail/generic/hipsparse_spmv.cpp
  projects/hipsparse/library/src/amd_detail/hipsparse_generic_auxiliary.cpp
  projects/hipsparse/library/src/amd_detail/utility.h
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt] Update gfx942 equality logic yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Alik_Bljk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

PR fixes
  projects/hipsparse/clients/include/testing_spmv_csr_reuse_descr.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove the no-swizzle instances from CK profiler.
  projects/composablekernel/experimental/grouped_convolution_tile_instances/instances/backward_data_direct/grouped_convolution_backward_data_tile_nhwgc_bf16_calls_32c.inc
  projects/composablekernel/experimental/grouped_convolution_tile_instances/instances/backward_data_direct/grouped_convolution_backward_data_tile_nhwgc_fp16_calls_32c.inc
  projects/composablekernel/experimental/grouped_convolution_tile_instances/instances/forward_direct/grouped_convolution_forward_tile_nhwgc_bf16_calls_32c.inc
  projects/composablekernel/experimental/grouped_convolution_tile_instances/instances/forward_direct/grouped_convolution_forward_tile_nhwgc_fp16_calls_32c.inc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

PR fixes
  projects/hipsparse/clients/tests/cuda/12.8/test_spmv_csr_reuse_descr.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add new test cases
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/sk_dynamic.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

WIP: refactor CPU reference naming (pre-final test cleanup)
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/CpuFpReferenceRMSNorm.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/CpuReferenceBatchnorm.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/CpuReferenceBlockScaleDequantize.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/CpuReferenceConvolution.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/CpuReferenceLayernorm.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/CpuReferenceMatmul.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/CpuReferenceMiopenRmsValidation.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/CpuReferenceRMSNorm.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/CpuReferenceReduction.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/CpuReferenceSdpa.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/CpuReferenceValidation.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/LoadGraphAndTensors.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/TestTolerances.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/BatchnormBwdPlan.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/BatchnormFwdInferencePlan.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/BatchnormFwdInferenceWithVariancePlan.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/BatchnormTrainPlan.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/BlockScaleDequantizePlan.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/ConvolutionBwdPlan.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/ConvolutionFwdPlan.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/ConvolutionWrwPlan.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/LayernormFpropPlan.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/MatmulPlan.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/RMSNormFwdPlan.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/ReductionPlan.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/SdpaBwdPlan.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/SdpaFwdPlan.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Change skill install default to copy with automatic SHA256 updates
  projects/hipdnn/tools/ai/install-skills.py
  projects/hipdnn/tools/ai/skills/hipdnn-review/.claude/commands/hipdnn-review.md
  projects/hipdnn/tools/ai/skills/hipdnn-review/SKILL.md
  projects/hipdnn/tools/ai/skills/hipdnn-superbuild-test/.claude/commands/hipdnn-superbuild-test.md
  projects/hipdnn/tools/ai/skills/hipdnn-superbuild-test/SKILL.md
  projects/hipdnn/tools/ai/skills/hipdnn-superbuild-test/scripts/windows_rocm_setup.py
  projects/hipdnn/tools/ai/skills/hipdnn-superbuild/.claude/commands/hipdnn-superbuild.md
  projects/hipdnn/tools/ai/skills/hipdnn-superbuild/SKILL.md
  projects/hipdnn/tools/ai/skills/hipdnn-superbuild/scripts/windows_rocm_setup.py
  projects/hipdnn/tools/ai/skills/pr-summary/.claude/commands/pr-summary.md
  projects/hipdnn/tools/ai/skills/pr-summary/SKILL.md
  projects/hipdnn/tools/ai/validate-skills.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Add LDS staged epilogue. Add more configurations.
  projects/composablekernel/experimental/grouped_convolution_tile_instances/instances/backward_data_direct/grouped_convolution_backward_data_tile_nhwgc_bf16_calls_32c.inc
  projects/composablekernel/experimental/grouped_convolution_tile_instances/instances/backward_data_direct/grouped_convolution_backward_data_tile_nhwgc_fp16_calls_32c.inc
  projects/composablekernel/experimental/grouped_convolution_tile_instances/instances/forward_direct/grouped_convolution_forward_tile_nhwgc_bf16_calls_32c.inc
  projects/composablekernel/experimental/grouped_convolution_tile_instances/instances/forward_direct/grouped_convolution_forward_tile_nhwgc_fp16_calls_32c.inc
  projects/composablekernel/include/ck_tile/ops/direct_convolution/kernel/conv_32c_tile_impl_v3.hpp
  projects/composablekernel/include/ck_tile/ops/direct_convolution/kernel/non_grouped_conv_compute_loop_v3.hpp
  projects/composablekernel/test/ck_tile/direct_conv/test_non_grouped_32c_fp16_tile_conv.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Allow multiple install targets and default to both Codex and Claude
  projects/hipdnn/tools/ai/install-skills.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipBLASLt] Add hipblasLtSetSmCountTarget / GetSmCountTarget; drop ext duplicates
  projects/hipblaslt/CHANGELOG.md
  projects/hipblaslt/clients/tests/src/hipblaslt_test.cpp
  projects/hipblaslt/library/include/hipblaslt/hipblaslt-ext.hpp
  projects/hipblaslt/library/include/hipblaslt/hipblaslt.h
  projects/hipblaslt/library/src/amd_detail/hipblaslt-ext.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/include/rocblaslt-auxiliary.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/handle.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_auxiliary.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
