Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Fixing tidy issue
  projects/miopen/src/solver/batchnorm/backward_spatial.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

-Wsign-compare warnings: getting every loop look similar
  projects/miopen/driver/CBAInferFusion_driver.hpp
  projects/miopen/driver/activ_driver.hpp
  projects/miopen/driver/addlayernorm_driver.hpp
  projects/miopen/driver/cat_driver.hpp
  projects/miopen/src/conv/heuristics/ai_heuristics.cpp
  projects/miopen/src/rnn/Solutions/bwd_multi_stream.cpp
  projects/miopen/src/rnn/Solutions/bww_multi_stream.cpp
  projects/miopen/src/rnn/Solutions/bww_s_steam.cpp
  projects/miopen/src/solver/getitem/backward_getitem.cpp
  projects/miopen/test/gtest/cat.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

-Wsign-compare warnings fix, the warning is disabled
  projects/miopen/driver/CBAInferFusion_driver.hpp
  projects/miopen/driver/activ_driver.hpp
  projects/miopen/driver/addlayernorm_driver.hpp
  projects/miopen/driver/cat_driver.hpp
  projects/miopen/src/conv/heuristics/ai_heuristics.cpp
  projects/miopen/src/include/miopen/conv/asm_implicit_gemm.hpp
  projects/miopen/src/rnn/Solutions/bwd_multi_stream.cpp
  projects/miopen/src/rnn/Solutions/bww_multi_stream.cpp
  projects/miopen/src/rnn/Solutions/bww_s_steam.cpp
  projects/miopen/src/solver/batchnorm/backward_spatial.cpp
  projects/miopen/src/solver/conv/conv_asm_1x1u.cpp
  projects/miopen/src/solver/conv/conv_asm_1x1u_stride2.cpp
  projects/miopen/src/solver/conv/conv_asm_3x3u.cpp
  projects/miopen/src/solver/conv/conv_asm_dir_BwdWrW3x3.cpp
  projects/miopen/src/solver/getitem/backward_getitem.cpp
  projects/miopen/test/gtest/adam.hpp
  projects/miopen/test/gtest/addlayernorm.hpp
  projects/miopen/test/gtest/api_convbiasactiv.cpp
  projects/miopen/test/gtest/cat.hpp
  projects/miopen/test/gtest/conv3d_test_case.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixed some more inconsistencies
  projects/miopen/driver/CBAInferFusion_driver.hpp
  projects/miopen/driver/activ_driver.hpp
  projects/miopen/driver/addlayernorm_driver.hpp
  projects/miopen/driver/cat_driver.hpp
  projects/miopen/src/conv/heuristics/ai_heuristics.cpp
  projects/miopen/src/rnn/Solutions/bwd_multi_stream.cpp
  projects/miopen/src/rnn/Solutions/bww_multi_stream.cpp
  projects/miopen/src/rnn/Solutions/bww_s_steam.cpp
  projects/miopen/src/solver/getitem/backward_getitem.cpp
  projects/miopen/test/gtest/cat.hpp
  projects/miopen/test/gtest/conv3d_test_case.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

-Wsign-compare warnings: getting every loop look similar
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_grouped_bwd_xdlops.cpp
  projects/miopen/test/conv_common.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

-Wsign-compare warnings fix, the warning is disabled, part 2
  projects/miopen/src/include/miopen/solver/conv_direct_naive_conv.hpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_gtc_bwd_nhwc.cpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_gtc_fwd_nchwc.cpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_gtc_fwd_nhwc.cpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_gtc_wrw_nhwc.cpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_wrw_gtc_dynamic_xdlops.cpp
  projects/miopen/src/solver/conv/conv_ck_grouped_conv_fwd.cpp
  projects/miopen/src/solver/conv/conv_ck_igemm_fwd_v6r1_dlops_nchw.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_3d_grouped_bwd_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_3d_grouped_fwd_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_3d_grouped_wrw_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_bwd_v4r1.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_bwd_v4r1_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_fwd_v4r1.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_grouped_bwd_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_grouped_fwd_xdlops.cpp
  projects/miopen/src/solver/conv_ck_igemm_fwd_bias_activ_fused.cpp
  projects/miopen/src/solver/conv_ck_igemm_fwd_bias_res_add_activ_fused.cpp
  projects/miopen/src/solver/conv_ck_igemm_grp_fwd_activ_fused.cpp
  projects/miopen/src/solver/conv_ck_igemm_grp_fwd_bias_activ_fused.cpp
  projects/miopen/test/conv_common.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixed some more inconsistencies
  projects/miopen/src/solver/conv/conv_ck_igemm_fwd_v6r1_dlops_nchw.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_bwd_v4r1.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_bwd_v4r1_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_grouped_bwd_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_grouped_fwd_xdlops.cpp
  projects/miopen/test/conv_common.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixed format
  projects/miopen/src/solver/conv/conv_ck_igemm_fwd_v6r1_dlops_nchw.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(tensilelite): add stage-tagged TypeAlias for LogicalScheduler pipeline
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/ScheduleTypes.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_ScheduleTypes.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update projects/hipblaslt/tensilelite/Tensile/Components/Subtile/ScheduleTypes.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/ScheduleTypes.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update projects/hipblaslt/tensilelite/Tensile/Components/Subtile/ScheduleTypes.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/ScheduleTypes.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Minor merge fix
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

turn off doxysphinx rocwmma
  projects/rocwmma/docs/conf.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Replace implicit pass tracking with explicit sequential build()
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_ScheduleTypes.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedLogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedSchedulerRef.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

turn off doxysphinx for rocfft
  projects/rocfft/docs/conf.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] README: clarify which CI pipelines run dvc pull
  dnn-providers/integration-tests/golden_reference_data/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

turn off doxysphinx for hipblas
  projects/hipblas/docs/conf.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

turn off doxysphinx for rocsolver
  projects/rocsolver/docs/conf.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Remove shared mutable state from LogicalScheduler passes
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_ScheduleTypes.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedLogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedSchedulerRef.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

turn off doxysphinx for hipblaslt
  projects/hipblaslt/docs/conf.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

turn off doxysphinx for hipfft
  projects/hipfft/docs/conf.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

turn off doxysphinx for hiprand
  projects/hiprand/docs/conf.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

turn off doxysphinx for rocblas
  projects/rocblas/docs/conf.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

turn off doxysphinx for hipsolver
  projects/hipsolver/docs/conf.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

added veltkamp level1 and broke ULP
  projects/composablekernel/rocm_ck/tests/correctness/block_gemm_asmem_bsmem_creg_v1_accum.hpp
  projects/composablekernel/rocm_ck/tests/correctness/mfma_gemm_policy.hpp
  projects/composablekernel/rocm_ck/tests/correctness/mfma_tile_gemm.hip
  projects/composablekernel/rocm_ck/tests/correctness/mfma_tile_gemm.hpp
  projects/composablekernel/rocm_ck/tests/correctness/split_gemm.hip
  projects/composablekernel/rocm_ck/tests/correctness/split_gemm.hpp
  projects/composablekernel/rocm_ck/tests/correctness/test_split_gemm.hip
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Adding the same redirect code to miopenCreateWithStream.
  projects/miopen/src/private/wrapper.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Suppress lifetime-safety-intra-tu-suggestions for building generated code.
  projects/composablekernel/dispatcher/library/CMakeLists.txt
  projects/composablekernel/profiler/src/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[ck] Unify Build_CK and buildHipClangJob into buildAndTest
  projects/composablekernel/Jenkinsfile
  projects/composablekernel/vars/ck.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Merged new changes
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedLogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedSchedulerRef.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix SAV epilogue LDS multi-turn staging for UseSubtileImpl.
  projects/hipblaslt/tensilelite/Tensile/AsmStoreState.py
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Formatting
  projects/hipfft/clients/tests/hipfftxt_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen] Add HIP solver ConvHipDirectFwd code
  projects/miopen/CMakeLists.txt
  projects/miopen/src/CMakeLists.txt
  projects/miopen/src/include/miopen/conv/solvers.hpp
  projects/miopen/src/kernels/MIOpenConvDirUniHip.cpp
  projects/miopen/src/solver/conv/conv_hip_dir2Dfwd.cpp
  projects/miopen/src/solver/conv/conv_hip_dir2Dfwd_exhaustive_search.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove OCL kernel and solver
  projects/miopen/src/CMakeLists.txt
  projects/miopen/src/fusion.cpp
  projects/miopen/src/include/miopen/fusion/solvers.hpp
  projects/miopen/src/kernels/MIOpenConvDirBatchNormActiv.cl
  projects/miopen/src/solver.cpp
  projects/miopen/src/solver/conv_ocl_dir2Dfwd_fused.cpp
  projects/miopen/test/gtest/cba_find2_infer.cpp
  projects/miopen/test/gtest/cba_infer.cpp
  projects/miopen/test/gtest/db_sync.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update FDB and PerfDB
  projects/miopen/src/kernels/gfx1030_36.HIP.fdb.txt.bz2
  projects/miopen/src/kernels/gfx900_56.db.bz2
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[miopen] Port ConvOclDirectFwdFused solver and kernel to HIP
  projects/miopen/src/CMakeLists.txt
  projects/miopen/src/fusion.cpp
  projects/miopen/src/include/miopen/fusion/solvers.hpp
  projects/miopen/src/kernels/MIOpenConvDirBatchNormActivHip.cpp
  projects/miopen/src/solver.cpp
  projects/miopen/src/solver/conv_hip_dir2Dfwd_fused.cpp
  projects/miopen/test/gtest/cba_find2_infer.cpp
  projects/miopen/test/gtest/cba_infer.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add json rule to generate configs from JSON configurations.
  projects/composablekernel/dispatcher/codegen/grouped_config_rules_json.py
  projects/composablekernel/dispatcher/codegen/unified_grouped_conv_codegen.py
  projects/composablekernel/dispatcher/codegen/validate_rules_coverage.py
  projects/composablekernel/dispatcher/scripts/generate_profiler_kernels.py
  projects/composablekernel/profiler/README.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

aotriton graphs
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/gqa_bf16_b4_qh10_kvh2_sq143_skv127_d256_causal_on.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/gqa_bf16_b4_qh16_kvh8_sq2048_skv2048_d256_causal_off.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/gqa_bf16_b4_qh16_kvh8_sq2048_skv579_d203_causal_on.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/gqa_fp16_b1_qh10_kvh2_sq4_skv4_d8_causal_off.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/gqa_fp16_b1_qh16_kvh8_sq2048_skv2048_d256_causal_on.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/gqa_fp16_b4_qh10_kvh2_sq143_skv2048_d8_causal_off.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/gqa_fp16_b4_qh16_kvh8_sq2048_skv579_d203_causal_off.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/gqa_fp32_b1_qh10_kvh2_sq143_skv579_d203_causal_off.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/irregular_bf16_b3_h7_sq1033_skv1063_d149_causal_on_contiguous.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/irregular_bf16_b3_h7_sq157_skv211_d53_causal_on_storage_flip.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/irregular_fp16_b3_h7_sq11_skv13_d7_causal_off_contiguous.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/irregular_fp16_b3_h7_sq2063_skv2081_d241_causal_off_storage_flip.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/irregular_fp16_b3_h7_sq523_skv571_d89_causal_off_storage_flip.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/matrix_bias_bf16_b1_h4_sq143_skv128_d80_storage_flip.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/matrix_bias_fp16_b4_h1_sq512_skv256_d48_contiguous.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/perf_fwd_fp16_b4_h48_s1024_d128_causal_off.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/perf_fwd_fp16_b4_h48_s1024_d128_causal_on.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/perf_fwd_fp16_b4_h48_s1024_d64_causal_off.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/perf_fwd_fp16_b4_h48_s1024_d64_causal_on.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/perf_fwd_fp16_b4_h48_s2048_d128_causal_off.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/perf_fwd_fp16_b4_h48_s2048_d128_causal_on.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/perf_fwd_fp16_b4_h48_s2048_d64_causal_off.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/perf_fwd_fp16_b4_h48_s2048_d64_causal_on.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/perf_fwd_fp16_b4_h48_s4096_d128_causal_off.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/perf_fwd_fp16_b4_h48_s4096_d128_causal_on.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/perf_fwd_fp16_b4_h48_s4096_d64_causal_off.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/perf_fwd_fp16_b4_h48_s4096_d64_causal_on.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/varlen_padded_bf16_h3_n12_d184_causal_on.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/varlen_padded_bf16_h3_n22_dqk120_dv8_causal_on.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/varlen_padded_fp16_h3_n17_dqk24_dv152_causal_off.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/varlen_padded_fp16_h3_n5_d8_causal_off.json
  projects/hipdnn/tools/dnn-benchmarking/graphs/aotriton_test/varlen_padded_fp16_h3_n7_d64_causal_off.json
  projects/hipdnn/tools/dnn-benchmarking/tests/integration/test_aotriton_graph_samples.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix formatting
  projects/hipblas/clients/include/type_utils.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] tensor wait drain only for barriers or when there is only one wave
  shared/stinkytofu/src/transforms/asm/StinkyWaitCntInsertionPass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Enhance command-line argument parsing for kernel configuration
  shared/stinkytofu/tools/stinkytofu-opt/stinkytofu-opt.cpp
  shared/stinkytofu/tools/stinkytofu-opt/stinkytofu-opt.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
