Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

Use hip hcc compatability flag in tensilelite-host
  projects/hipblaslt/tensilelite/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

need to pull in rocroller before finding msgpack
  projects/hipblaslt/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update to ensure build with TheRock succeeds
  projects/hipblaslt/cmake/dependencies.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update to add new sample
  projects/hipblaslt/clients/samples/15_hipblaslt_gemm_with_scale_a_b_vector/sample_hipblaslt_gemm_swizzleA_with_scale_a_b_vector.cpp
  projects/hipblaslt/clients/samples/15_hipblaslt_gemm_with_scale_a_b_vector/sample_hipblaslt_gemm_with_scale_a_b_vector.cpp
  projects/hipblaslt/clients/samples/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove module path update in config
  projects/hipblaslt/cmake/hipblaslt-config.cmake.in
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Patch bad rebase
  projects/hipblaslt/tensilelite/src/analytical/CMakeLists.txt
  projects/hipblaslt/tensilelite/src/analytical/StreamK.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Cleanup and minor change to preset
  projects/hipblaslt/CMakePresets.json
  projects/hipblaslt/cmake/hipblaslt-config.cmake.in
  projects/hipblaslt/cmake/hipblaslt_python.cmake
  projects/hipblaslt/tensilelite/Tensile/ClientWriter.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add missing file
  projects/hipblaslt/clients/samples/15_hipblaslt_gemm_with_scale_a_b_vector/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

build: add toolchain file to superbuild
  CMakeLists.txt
  CMakePresets.json
  cmake/modules/add_subdirectory_with_message.cmake
  cmake/modules/disableable_option.cmake
  cmake/modules/fetch_rocm_cmake.cmake
  cmake/toolchains/linux-amdclang.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

.
  projects/rocsparse/library/src/include/rocsparse_trm_t.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Incorporate feedback from manager review
  projects/hipsparse/CHANGELOG.md
  projects/hipsparse/docs/install/install-windows.rst
  projects/hipsparse/docs/install/install.rst
  projects/rocsparse/docs/install/Linux_Install_Guide.rst
  projects/rocsparse/docs/install/Windows_Install_Guide.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixes for hipfft's simple tests on CUDA
  projects/hipfft/clients/tests/simple_test.cpp
  projects/hipfft/library/src/amd_detail/hipfft.cpp
  projects/hipfft/library/src/nvidia_detail/hipfft.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add required stride to mapper connection
  shared/rocroller/lib/source/CodeGen/LoadStoreTileGenerator.cpp
  shared/rocroller/lib/source/CommandSolution.cpp
  shared/rocroller/lib/source/KernelGraph/ControlFlowRWTracer.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/AddComputeIndex.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix UnrollStride connection
  shared/rocroller/lib/source/KernelGraph/Transformations/AddComputeIndex.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Removing hipfft_test_params.h
  projects/hipfft/clients/tests/gtest_main.cpp
  projects/hipfft/clients/tests/hipfft_test_params.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

print index expressions
  shared/rocroller/lib/source/KernelGraph/Transformations/MemoryTracer.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[docs] update Azure CI docs
  docs/continuous-integration.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller_host.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

use -j8; set OMP_NUM_THREADS=1
  shared/rocroller/.jenkins/common.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix OpenMP compile flags and build example
  projects/rocblas/clients/CMakeLists.txt
  projects/rocblas/clients/common/CMakeLists.txt
  projects/rocblas/clients/samples/CMakeLists.txt
  projects/rocblas/clients/samples/example_openmp.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update CK commit hash in requirements.txt
  projects/miopen/requirements.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocPRIM] Fix hip version version check for hipStreamLegacy usage (#1265)
  projects/hipccl/hipccl2/rocprim/rocprim/include/rocprim/device/config_types.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocPRIM] Fix hip version version check for hipStreamLegacy usage (#1265)
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/config_types.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Performance optimization for histogram with large bin count on mi300x (#719)
  projects/hipccl/hipccl2/rocprim/benchmark/benchmark_device_histogram.cpp
  projects/hipccl/hipccl2/rocprim/benchmark/benchmark_device_histogram.parallel.hpp
  projects/hipccl/hipccl2/rocprim/benchmark/benchmark_utils.hpp
  projects/hipccl/hipccl2/rocprim/rocprim/include/rocprim/detail/various.hpp
  projects/hipccl/hipccl2/rocprim/rocprim/include/rocprim/device/detail/config/device_histogram.hpp
  projects/hipccl/hipccl2/rocprim/rocprim/include/rocprim/device/detail/device_config_helper.hpp
  projects/hipccl/hipccl2/rocprim/rocprim/include/rocprim/device/detail/device_histogram.hpp
  projects/hipccl/hipccl2/rocprim/rocprim/include/rocprim/device/device_histogram.hpp
  projects/hipccl/hipccl2/rocprim/scripts/autotune/templates/histogram_config_template
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Performance optimization for histogram with large bin count on mi300x (#719)
  projects/hipccl/hipccl3/rocprim/benchmark/benchmark_device_histogram.cpp
  projects/hipccl/hipccl3/rocprim/benchmark/benchmark_device_histogram.parallel.hpp
  projects/hipccl/hipccl3/rocprim/benchmark/benchmark_utils.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/detail/various.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/config/device_histogram.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/device_config_helper.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/device_histogram.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/device_histogram.hpp
  projects/hipccl/hipccl3/rocprim/scripts/autotune/templates/histogram_config_template
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Create new origami directory; move files from hipblaslt to new origami dir
  shared/origami/include/origami/AnalyticalGemm.hpp
  shared/origami/include/origami/Hardware.hpp
  shared/origami/include/origami/StreamK.hpp
  shared/origami/include/origami/Utils.hpp
  shared/origami/src/origami/AnalyticalGemm.cpp
  shared/origami/src/origami/Hardware.cpp
  shared/origami/src/origami/Utils.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Complete origami standalone build system; change namespace for all origami files.
  shared/origami/CMakeLists.txt
  shared/origami/README.md
  shared/origami/cmake/dependencies.cmake
  shared/origami/cmake/origami-config.cmake.in
  shared/origami/include/origami/Hardware.hpp
  shared/origami/python/README.md
  shared/origami/python/origami_grid_test.py
  shared/origami/python/origami_module.cpp
  shared/origami/python/origami_test.py
  shared/origami/python/setup.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Update includes and namespaces
  shared/origami/include/origami/AnalyticalGemm.hpp
  shared/origami/include/origami/Hardware.hpp
  shared/origami/include/origami/StreamK.hpp
  shared/origami/include/origami/Utils.hpp
  shared/origami/src/origami/AnalyticalGemm.cpp
  shared/origami/src/origami/Hardware.cpp
  shared/origami/src/origami/Utils.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix pathing issue in FindBLIS
  projects/hipblaslt/cmake/FindBLIS.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Delete the moved origami files and directories.
  projects/hipblaslt/tensilelite/Tensile/Utilities/origami/README.md
  projects/hipblaslt/tensilelite/Tensile/Utilities/origami/origami_grid_test.py
  projects/hipblaslt/tensilelite/Tensile/Utilities/origami/origami_module.cpp
  projects/hipblaslt/tensilelite/Tensile/Utilities/origami/origami_test.py
  projects/hipblaslt/tensilelite/Tensile/Utilities/origami/setup.py
  projects/hipblaslt/tensilelite/include/CMakeLists.txt
  projects/hipblaslt/tensilelite/include/Tensile/analytical/AnalyticalGemm.hpp
  projects/hipblaslt/tensilelite/include/Tensile/analytical/Hardware.hpp
  projects/hipblaslt/tensilelite/include/Tensile/analytical/StreamK.hpp
  projects/hipblaslt/tensilelite/include/Tensile/analytical/Utils.hpp
  projects/hipblaslt/tensilelite/src/analytical/AnalyticalGemm.cpp
  projects/hipblaslt/tensilelite/src/analytical/CMakeLists.txt
  projects/hipblaslt/tensilelite/src/analytical/Hardware.cpp
  projects/hipblaslt/tensilelite/src/analytical/StreamK.cpp
  projects/hipblaslt/tensilelite/src/analytical/Utils.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Final touch ups to origami build system.
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/CMakeLists.txt
  projects/hipblaslt/tensilelite/CMakeLists.txt
  shared/origami/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Nomenclature update
  projects/hipcub/README.md
  projects/hiprand/README.md
  projects/rocprim/README.md
  projects/rocrand/README.md
  projects/rocthrust/README.md
  projects/rocthrust/examples/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Use system package manager to install blas/lapack requirements
  projects/hipblaslt/install.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

order swizzle scale loads before A/B prefetch in AddPrefetch pass
  shared/rocroller/lib/source/KernelGraph/Transformations/AddPrefetch.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add new changes from develop into shared/origami.
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/rocroller_host_internal.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller_host.cpp
  projects/hipblaslt/tensilelite/include/Tensile/PredictionLibrary.hpp
  projects/hipblaslt/tensilelite/include/Tensile/hip/HipHardware.hpp
  projects/hipblaslt/tensilelite/src/CMakeLists.txt
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/src/hip/HipHardware.cpp
  shared/origami/CMakeLists.txt
  shared/origami/include/origami/AnalyticalGemm.hpp
  shared/origami/include/origami/Hardware.hpp
  shared/origami/include/origami/StreamK.hpp
  shared/origami/include/origami/Utils.hpp
  shared/origami/python/origami_grid_test.py
  shared/origami/python/origami_module.cpp
  shared/origami/python/origami_test.py
  shared/origami/src/origami/AnalyticalGemm.cpp
  shared/origami/src/origami/Hardware.cpp
  shared/origami/src/origami/StreamK.cpp
  shared/origami/src/origami/Utils.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update readme.
  shared/origami/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix finding LAPACK and CBLAS
  projects/hipblas/clients/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Correct GTest print check for 128-bit ints on Windows
  projects/rocprim/test/rocprim/test_utils_assertions.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Workaround CK include issue for unit tests in TheRock
  projects/miopen/test/gtest/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Find `rocm_smi` via config files
  projects/rocblas/clients/CMakeLists.txt
  projects/rocblas/clients/cmake/FindROCmSMI.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
