Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(hipblaslt): demonstrate public JIT APIs in the sample
  .github/scripts/test_hipblaslt_jit.py
  .github/workflows/hipblaslt-jit-gemm-ci.yml
  projects/hipblaslt/CHANGELOG.md
  projects/hipblaslt/clients/samples/29_hipblaslt_jit_gemm/README.md
  projects/hipblaslt/clients/samples/29_hipblaslt_jit_gemm/sample_hipblaslt_jit_gemm.cpp
  projects/hipblaslt/clients/tests/jit/public_gemm_test.cpp
  projects/hipblaslt/clients/tests/jit/test_bundle_failures.py
  projects/hipblaslt/clients/tests/jit/test_helper_failures.py
  projects/hipblaslt/library/src/amd_detail/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

perf(tensilelite): reuse persistent TDM descriptor fields
  projects/hipblaslt/tensilelite/Tensile/Components/TensorDataMover.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_PrefetchAcrossPersistent.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_tdm_descriptor_foundation.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Group gfx125 QR-TDM progressive K reloads in pairs
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qr_ks_vs_tdm.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocke): correct integer coverage and conversion support
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/reference/dtype_support.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocke): use CDNA5 architecture label in ISA summary
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/reference/matrix_instructions_summary.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(migration-scripts): anchor the refusal-order check on the preamble
  dnn-providers/integration-tests/migration-scripts/test_migration.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(ingestor-gen): restore the evidence rule and state the packaged reset contract
  projects/hipdnn/tools/IngestorGenerator/README.md
  projects/hipdnn/tools/IngestorGenerator/codegen/config_loader.py
  projects/hipdnn/tools/IngestorGenerator/templates/fragments/ingestor_packs_cpp.j2
  projects/hipdnn/tools/IngestorGenerator/tools/README-sweeps.md
  projects/hipdnn/tools/ai/skills/hipdnn-ingestor-engine/RUNBOOK.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci(codeowners): assign hipDNN and MIOpen workflow files to their teams
  .github/CODEOWNERS
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(merge): reconcile develop-owned ingestor tooling with branch-owned UHD code
  projects/hipdnn/tools/IngestorGenerator/ValidateDescriptors.cpp
  projects/hipdnn/tools/IngestorGenerator/templates/native.cpp.j2
  projects/hipdnn/tools/IngestorGenerator/templates/test_packs.cpp.j2
  projects/hipdnn/tools/IngestorGenerator/tools/mine_shapes.py
  projects/hipdnn/tools/corpus_build/model_shapes.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hip-kernel-provider): describe the product root as expected to repay a full pool
  dnn-providers/hip-kernel-provider/descriptor-packaging/cmake/HkpPackaging.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(tensilelite): introduce layered JIT component roadmap
  projects/hipblaslt/tensilelite/docs/jit-roadmap.md
  projects/hipblaslt/tensilelite/docs/single-solution.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

chore: drop the plan document from the repository root
  Plans/matching-infinities-validator-toml-knob.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci(miopen): select the miopen-dbsync test component in the per-PR flow
  .github/scripts/therock_matrix.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): derive physical MX layout from request scale modes
  projects/hipblaslt/tensilelite/Tensile/JitGemm.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_JitGemm.py
  projects/hipblaslt/tensilelite/docs/jit-roadmap.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

THROWAWAY: validate TheRock PR #8465 (gfx950 CPU-only dbsync lane) - do not merge
  .github/workflows/therock-multi-arch-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Partially fixed implementation.
  projects/hipblaslt/tensilelite/Tensile/AsmStoreState.py
  projects/hipblaslt/tensilelite/Tensile/Components/ComputeStoreVgprs.py
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/InstructionEmitter.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGREmit.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGeometry.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileLREmit.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileScaleEmit.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtile_gfx1250_codegen.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtile_mxf4_gfx1250_geometry.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): preserve GEMM defaults and stage JIT API regressions
  .github/scripts/test_hipblaslt_jit.py
  .github/workflows/hipblaslt-jit-gemm-ci.yml
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/clients/tests/jit/alternate_backend_test.cpp
  projects/hipblaslt/clients/tests/jit/public_gemm_test.cpp
  projects/hipblaslt/clients/tests/jit/test_bundle_failures.py
  projects/hipblaslt/clients/tests/jit/test_helper_failures.py
  projects/hipblaslt/docs/jit.md
  projects/hipblaslt/library/src/amd_detail/CMakeLists.txt
  projects/hipblaslt/library/src/amd_detail/hipblaslt-jit-tensilelite.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
  projects/hipblaslt/tensilelite/docs/jit-roadmap.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

docs(tensilelite): distinguish planned provider design
  projects/hipblaslt/tensilelite/docs/jit-roadmap.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(tensilelite): distinguish exact epilogue specialization
  projects/hipblaslt/tensilelite/docs/jit-roadmap.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipblaslt): describe the API layer JIT preset
  projects/hipblaslt/CMakePresets.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Apply reviewers comments.
  projects/rocsolver/library/src/auxiliary/rocauxiliary_stedc.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

chore(hipblaslt): drop the w4a16 CustomKernels Source README
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Source/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(merge): ValidateDescriptors and its fixtures against the branch's UHD schema
  projects/hipdnn/tools/IngestorGenerator/ValidateDescriptors.cpp
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/validate_descriptors/bad_arch/fixture.ued.json
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/validate_descriptors/bad_arch/fixture.uhd.json
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/validate_descriptors/dangling_uuid/fixture.ued.json
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/validate_descriptors/dangling_uuid/fixture.uhd.json
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/validate_descriptors/duplicate_tuple/fixture.ued.json
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/validate_descriptors/duplicate_tuple/fixture.uhd.json
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/validate_descriptors/undeclared_knob/fixture.ued.json
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/validate_descriptors/undeclared_knob/fixture.uhd.json
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/validate_descriptors/valid/fixture.ued.json
  projects/hipdnn/tools/IngestorGenerator/tests/fixtures/validate_descriptors/valid/fixture.uhd.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hip-kernel-provider): expand gfx950 dense attention to per-tile variants
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/descriptors/rocKE/gfx950_attention_dense/gfx950_attention_dense.kdp.json
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/descriptors/rocKE/gfx950_attention_dense/gfx950_attention_dense.kmd.json
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/descriptors/rocKE/gfx950_attention_dense/gfx950_attention_dense.ued.json
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/Gfx950AttentionDenseGeometry.hpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/Gfx950AttentionDenseNative.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/TestGfx950AttentionDenseDispatch.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/TestGfx950AttentionDenseGeometry.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/TestGfx950AttentionDenseMatchers.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/TestGfx950AttentionDensePacks.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/TestGfx950AttentionDenseSignature.cpp
  projects/hipdnn/tools/IngestorGenerator/configs/gfx950_attention_dense.profile.yaml
  projects/hipdnn/tools/IngestorGenerator/configs/gfx950_attention_dense.yaml
  projects/hipdnn/tools/IngestorGenerator/tests/test_variant_reachability.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(miopen): rank gfx1151 depthwise direct solver in FAST mode
  projects/miopen/src/include/miopen/conv/solvers.hpp
  projects/miopen/src/solver/conv/conv_direct_depthwise_fwd_2d.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvDirectDepthwiseFwd2D.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix for simplified single float store
  projects/rpp/src/include/common/cpu/rpp_cpu_simd_load_store.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Ship libtensilelite-host.so in its own tensilelite-host package
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/tasks.py
  projects/hipblaslt/tensilelite/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Declare hipblaslt's dependency on the tensilelite-host package
  projects/hipblaslt/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Scope hipSPARSELt's Fortran/LAPACK setup to configurations that need it
  projects/hipsparselt/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Decouple the client BLAS choice from HIPSPARSELT_ENABLE_THEROCK
  projects/hipsparselt/clients/CMakeLists.txt
  projects/hipsparselt/cmake/hipsparselt_link_blas_libraries.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Declare hipSPARSELt's install RPATH instead of inheriting hipBLASLt's
  projects/hipsparselt/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Expose HIPSPARSELT_ENABLE_THEROCK through the build drivers
  projects/hipsparselt/install-host.sh
  projects/hipsparselt/tasks.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Depend on tensilelite-host, not hipblaslt, from hipSPARSELt runtime
  projects/hipsparselt/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(tensilelite): generate optimized unsigned-bias8 W4A16 prefill
  projects/hipblaslt/tensilelite/Tensile/ClientWriter.py
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/Components/Signature.py
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/README.md
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Problem.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Validators/BlockDequant.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx11/w4a16_bs128_fp16_tn.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx11/w4a16_bs128_tn.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx11/w4a16_bs128_zp_tn.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx11/w4a16_bs128_zp_u8_fp16_tn.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx11/w4a16_bs128_zp_u8_tn.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx11/w4a16_bs32_tn.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx11/w4a16_bs32_zp_tn.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx11/w4a16_bs32_zp_u8_fp16_tn.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx11/w4a16_bs64_tn.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx11/w4a16_bs64_zp_tn.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_w4a16_block_dequant.py
  projects/hipblaslt/tensilelite/client/include/ClientProblemFactory.hpp
  projects/hipblaslt/tensilelite/client/include/DataInitialization.hpp
  projects/hipblaslt/tensilelite/client/include/TypedId.hpp
  projects/hipblaslt/tensilelite/client/main.cpp
  projects/hipblaslt/tensilelite/client/src/ClientProblemFactory.cpp
  projects/hipblaslt/tensilelite/client/src/DataInitialization.cpp
  projects/hipblaslt/tensilelite/client/src/Reference.cpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/hardware_caps.hpp
  projects/hipblaslt/tensilelite/scripts/gen_w4a16_kernel.py
  projects/hipblaslt/tensilelite/scripts/generate_q27b_w4a16.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(tensilelite): dual-issue the dot2 MAC with VOPD
  projects/hipblaslt/tensilelite/Tensile/Components/MAC_F16_HPA.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/hardware_caps.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/common.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/instruction/common.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

(CMCL) Drop the kpack CI check's engine gate
  .github/workflows/hipdnn-superbuild-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

(CMCL) Write the input manifest with file(CONFIGURE)
  dnn-providers/hip-kernel-provider/descriptor-packaging/cmake/HkpPackaging.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(hipblaslt): extract persistent loop ownership
  projects/hipblaslt/tensilelite/Tensile/Components/PersistentLoop.py
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/Components/TileProcessingStrategy.py
  projects/hipblaslt/tensilelite/Tensile/Components/WorkAssignment.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/_persistent_isa.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/streamk5_test_helpers.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_PrefetchAcrossPersistent.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_ReuseAcrossPersistent.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_data_parallel_static.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_streamk_queue_index.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_streamk_uso_gate.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_streamk_work_stealing.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_tile_processing_strategy.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): add native persistent DataParallel scheduling
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/Components/PersistentLoop.py
  projects/hipblaslt/tensilelite/Tensile/Components/Signature.py
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Components/TileProcessingStrategy.py
  projects/hipblaslt/tensilelite/Tensile/Components/WorkAssignment.py
  projects/hipblaslt/tensilelite/Tensile/CustomKernels.py
  projects/hipblaslt/tensilelite/Tensile/ExecutionPolicy.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/data_parallel_static_sgemm_pap.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/DECISIONS.md
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/adr/0015-native-data-parallel-arguments.md
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_PrefetchAcrossPersistent.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_data_parallel_static.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_execution_policy.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_execution_policy_ingestion.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_persistent_argument_layout.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_persistent_assignment_execution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_register_kernel_args.py
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/tests/CuCount_test.cpp
  projects/hipblaslt/tensilelite/tests/PersistentArgumentLayout_test.cpp
  projects/hipblaslt/tensilelite/tests/PersistentExecutionPolicySerialization_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(rocsolver): keep the syevj convergence test exact at extreme scale
  projects/rocsolver/CHANGELOG.md
  projects/rocsolver/clients/gtest/unit/syevj_convergence_gtest.cpp
  projects/rocsolver/library/src/lapack/roclapack_syevj_heevj.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
