Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

pass b_thread_vec_up instead of b_thread_vec
  projects/composablekernel/include/ck/tensor_operation/gpu/block/blockwise_gemm_pipeline_xdlops_b_preshuffle_gufusion_v1.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/block/blockwise_gemm_pipeline_xdlops_moe_blockscale_b_preshuffle_gufusion_v1.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke/attention): exclude gfx942 D128 from sliced-K ring (correctness) (#9647)
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/attention_unified.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attn_bf16_d128_ring.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Minor fix
  projects/composablekernel/script/tools/ck-rocprof.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocke/attention): recover fp16 gfx942 D128 prefill via depth-2 sliced-K ring
  dnn-providers/hip-kernel-provider/rocke/library/builders/common/attention_spec_builder.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/attention_unified.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/attention_tiled_2d.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attn_bf16_d128_ring.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Minor fix
  projects/composablekernel/tile_engine/ops/gemm/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Instrument function pool for internal test coverage
  projects/rocfft/library/src/device/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

address steqr review comments: include type_traits, rename l to el
  projects/rocsolver/library/src/auxiliary/rocauxiliary_steqr.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove input 'migration' in TensileMergeLibrary
  projects/hipblaslt/tensilelite/Tensile/TensileMergeLibrary.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_TensileMergeLibrary.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixed the error flagged by static analysis
  projects/rocblas/library/src/hipblaslt_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Disable K Chunking for hipblaslt backend.
  projects/rocblas/library/src/blas3/Tensile/gemm_tensile.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Reuse the workspace from rocblas handle in the new hipblaslt integration
  projects/rocblas/library/src/hipblaslt_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Tuned DGEMM Library
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Ailk_Bljk_D_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Ailk_Bljk_D_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Ailk_Bljk_D_B_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(LibraryIO char): kill _fast_yaml_str + getCUCount mutation survivors
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/LibraryIO/__snapshots__/test_serializers_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/LibraryIO/test_logiccontract_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/LibraryIO/test_serializers_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Format rocsparse-types.h
  projects/rocsparse/library/include/rocsparse-types.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixing clang-tidy issues
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/detail/graph_wrapper.h
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/detail/node_wrappers/unsupported_nodes.h
  projects/hipdnn/frontend/tests/TestCudnnShimGraphNodes.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen] clang-format the LGBM picker sources (fix pre-commit CI)
  projects/miopen/src/conv/heuristics/ai_heuristics.cpp
  projects/miopen/src/conv/heuristics/lgbm_pcfg_metadata.cpp
  projects/miopen/src/conv/heuristics/lgbm_pcfg_pick.cpp
  projects/miopen/src/conv/heuristics/lgbm_pick.cpp
  projects/miopen/src/hip/convolutionocl.cpp
  projects/miopen/src/include/miopen/conv/heuristics/lgbm_pcfg_metadata.hpp
  projects/miopen/src/include/miopen/find_solution.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen] Export LGBM symbols so miopen_gtest links against libMIOpen.so
  projects/miopen/src/include/miopen/conv/heuristics/lgbm_metadata.hpp
  projects/miopen/src/include/miopen/conv/heuristics/lgbm_pcfg_hook.hpp
  projects/miopen/src/include/miopen/conv/heuristics/lgbm_pcfg_metadata.hpp
  projects/miopen/src/include/miopen/conv/heuristics/lgbm_pcfg_pick.hpp
  projects/miopen/src/include/miopen/conv/heuristics/lgbm_pick.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): guard Inf/NaN consistency check for pointer-array batches
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
  projects/hipblaslt/clients/common/include/unit.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(dapper): resolve impact base on CI merge checkouts (TheRock)
  projects/miopen/script/dependency-parser/main.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Post-review fixes
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/cudnn_frontend/graph_properties.h
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/detail/graph_wrapper.h
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/detail/node_wrappers/unsupported_nodes.h
  projects/hipdnn/frontend/tests/TestCudnnShimGraphNodes.cpp
  projects/hipdnn/samples/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test: add fft JIT callback test infrastructure
  projects/hipfft/clients/hipfft_params.h
  projects/hipfft/clients/tests/CMakeLists.txt
  projects/hipfft/clients/tests/gtest_main.cpp
  projects/hipfft/shared/accuracy_test.h
  projects/hipfft/shared/client_except.h
  projects/hipfft/shared/fft_enums.h
  projects/hipfft/shared/fft_params.h
  projects/hipfft/shared/mpi_worker.h
  projects/hipfft/shared/rocfft_complex.h
  projects/hipfft/shared/rocfft_hip.h
  projects/hipfft/shared/rocfft_params.h
  projects/hipfft/shared/test_callbacks.cpp
  projects/hipfft/shared/test_callbacks.h
  projects/rocfft/clients/tests/CMakeLists.txt
  projects/rocfft/clients/tests/gtest_main.cpp
  projects/rocfft/shared/accuracy_test.h
  projects/rocfft/shared/client_except.h
  projects/rocfft/shared/fft_enums.h
  projects/rocfft/shared/fft_params.h
  projects/rocfft/shared/mpi_worker.h
  projects/rocfft/shared/rocfft_complex.h
  projects/rocfft/shared/rocfft_hip.h
  projects/rocfft/shared/rocfft_params.h
  projects/rocfft/shared/test_callbacks.cpp
  projects/rocfft/shared/test_callbacks.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen] Fix clang-tidy failures + exclude generated LGBM artifacts
  .pre-commit-config.yaml
  projects/miopen/cmake/ClangTidy.cmake
  projects/miopen/src/CMakeLists.txt
  projects/miopen/src/conv/heuristics/lgbm_pcfg_pick.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add ESREC embedding similarity loader and ranking in origami NN.
  shared/origami/CMakeLists.txt
  shared/origami/include/origami/nn/detail/model_store.hpp
  shared/origami/include/origami/nn/esrec/encoder.hpp
  shared/origami/include/origami/nn/esrec/esrec_loader.hpp
  shared/origami/include/origami/nn/esrec/fallback.hpp
  shared/origami/include/origami/nn/esrec/loaded_model.hpp
  shared/origami/include/origami/nn/esrec/rank.hpp
  shared/origami/include/origami/nn/features/gemm_embedding_similarity.hpp
  shared/origami/src/nn/dispatch.cpp
  shared/origami/src/nn/esrec/encoder.cpp
  shared/origami/src/nn/esrec/esrec_loader.cpp
  shared/origami/src/nn/esrec/fallback.cpp
  shared/origami/src/nn/esrec/rank.cpp
  shared/origami/src/nn/features/gemm_embedding_similarity.cpp
  shared/origami/src/nn/model_registry.cpp
  shared/origami/tests/CMakeLists.txt
  shared/origami/tests/test_nn.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): add CU-contention cotenant benchmarking helper (#8934)
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/clients/CMakeLists.txt
  projects/hipblaslt/clients/scripts/cotenant/.gitignore
  projects/hipblaslt/clients/scripts/cotenant/README.md
  projects/hipblaslt/clients/scripts/cotenant/hipblaslt-cotenant
  projects/hipblaslt/clients/scripts/cotenant/hipblaslt-cotenant-kernel.hip
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

test(ci): enable cross-repo artifact reuse testing
  .github/workflows/therock-multi-arch-ci.yml
  projects/rocprim/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(tensilelite): make StreamK workspace-flag readers dead under StreamKForceDPOnly on gfx1250
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(ci): add TEST_OVERRIDE_CHANGED_PROJECTS for rocprim
  .github/workflows/therock-multi-arch-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(tensilelite): drop StreamK workspace kernargs under StreamKForceDPOnly on gfx1250
  projects/hipblaslt/tensilelite/Tensile/Components/Signature.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(ci): enable multi-arch CI presubmit, disable therock-ci presubmit
  .github/workflows/therock-ci.yml
  .github/workflows/therock-multi-arch-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

remove selectors
  projects/hiptensor/docs/install/installation.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

remove selector extensions
  projects/hiptensor/docs/extension/rocm_docs_custom/selector/__init__.py
  projects/hiptensor/docs/extension/rocm_docs_custom/selector/static/selector-toc2.js
  projects/hiptensor/docs/extension/rocm_docs_custom/selector/static/selector.css
  projects/hiptensor/docs/extension/rocm_docs_custom/selector/static/selector.js
  projects/hiptensor/docs/extension/rocm_docs_custom/selector/static/utils.js
  projects/hiptensor/docs/extension/rocm_docs_custom/selector/static/vendor/tom-select.bootstrap5.min.css
  projects/hiptensor/docs/extension/rocm_docs_custom/selector/static/vendor/tom-select.popular.min.js
  projects/hiptensor/docs/extension/rocm_docs_custom/selector/templates/selector-toc2.html
  projects/hiptensor/docs/install/gpu-selector.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ci): add stage_reuse_external_rebuild_stages for cross-repo reuse
  .github/workflows/therock-multi-arch-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen] Add trailing newline to LGBM JSON assets (fix pre-commit eof hook)
  projects/miopen/src/kernels/lgbm_model_meta.json
  projects/miopen/src/kernels/lgbm_pcfg_model_meta.json
  projects/miopen/test/gtest/lgbm_pcfg_test_vectors.json
  projects/miopen/test/gtest/lgbm_test_vectors.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add selector install page to toc
  projects/hiptensor/docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): correct MaxWavesPerSimd for gfx11/gfx12 (#9703)
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_occupancy.py
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/hardware_caps.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

filter flaky tests
  projects/miopen/test/gtest/test_categories.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fixes
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/benchmark_implicit_gemm_conv.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/conv_implicit_gemm_wgrad.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipsparselt] Gate residual host code
  projects/hipsparselt/clients/bench/client.cpp
  projects/hipsparselt/clients/include/hipsparselt_arguments.hpp
  projects/hipsparselt/clients/include/hipsparselt_common.yaml
  projects/hipsparselt/clients/include/spmm/testing_spmm.hpp
  projects/hipsparselt/clients/include/type_dispatch.hpp
  projects/hipsparselt/clients/test/spmm_gtest.cpp
  projects/hipsparselt/library/include/hipsparselt.h
  projects/hipsparselt/library/src/hcc_detail/hipsparselt.cpp
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/include/rocsparselt-types.h
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/handle.cpp
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/include/handle.h
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/include/tensile_host.hpp
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/rocsparselt_auxiliary.cpp
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/rocsparselt_spmm.cpp
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/tensile_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipsparselt] Added and fixed gate tests.
  projects/hipsparselt/clients/include/spmm/testing_spmm.hpp
  projects/hipsparselt/clients/test/spmm_batched_gtest.yaml
  projects/hipsparselt/clients/test/spmm_batched_gtest_row.yaml
  projects/hipsparselt/clients/test/spmm_gtest.cpp
  projects/hipsparselt/clients/test/spmm_gtest.yaml
  projects/hipsparselt/clients/test/spmm_gtest_row.yaml
  projects/hipsparselt/clients/test/spmm_strided_batched_gtest.yaml
  projects/hipsparselt/clients/test/spmm_strided_batched_gtest_row.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipsparselt] Add gate-residual tuned logic (HHS GridBased + Equality)
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Ailk_Bjlk_HHS_BH_Bias_FDMN_SPAML0_A_S_SAV_GateRes_H.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Ailk_Bjlk_HHS_BH_Bias_FDMN_SPBML0_A_S_SAV_GateRes_H.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Ailk_Bljk_HHS_BH_Bias_FDMN_SPAML0_A_S_SAV_GateRes_H.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Ailk_Bljk_HHS_BH_Bias_FDMN_SPBML0_A_S_SAV_GateRes_H.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Alik_Bjlk_HHS_BH_Bias_FDMN_SPAML0_A_S_SAV_GateRes_H.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Alik_Bjlk_HHS_BH_Bias_FDMN_SPBML0_A_S_SAV_GateRes_H.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Alik_Bljk_HHS_BH_Bias_FDMN_SPAML0_A_S_SAV_GateRes_H.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Alik_Bljk_HHS_BH_Bias_FDMN_SPBML0_A_S_SAV_GateRes_H.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Ailk_Bjlk_HHS_BH_Bias_FDMN_SPAML0_A_S_SAV_GateRes_H.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Ailk_Bjlk_HHS_BH_Bias_FDMN_SPBML0_A_S_SAV_GateRes_H.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Ailk_Bljk_HHS_BH_Bias_FDMN_SPAML0_A_S_SAV_GateRes_H.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Ailk_Bljk_HHS_BH_Bias_FDMN_SPBML0_A_S_SAV_GateRes_H.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bjlk_HHS_BH_Bias_FDMN_SPAML0_A_S_SAV_GateRes_H.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bjlk_HHS_BH_Bias_FDMN_SPBML0_A_S_SAV_GateRes_H.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bljk_HHS_BH_Bias_FDMN_SPAML0_A_S_SAV_GateRes_H.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bljk_HHS_BH_Bias_FDMN_SPBML0_A_S_SAV_GateRes_H.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
