Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[hipblaslt][tensilelite] Fix test mocks after HIP_CONFIG removal from validateToolchain
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileCreateLibraryRun/test_r7_createlib_deep_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_gfx1250_asic_revision.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocBLAS/shared-tensile] Changes to appease linter
  shared/tensile/Tensile/Common.py
  shared/tensile/Tensile/Tests/unit/test_TensileCreateLibrary.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblas] Use legacy FindCUDA instead of FindCUDAToolkit for cmake compatibility
  projects/hipblas/CMakeLists.txt
  projects/hipblas/clients/benchmarks/CMakeLists.txt
  projects/hipblas/clients/gtest/CMakeLists.txt
  projects/hipblas/clients/samples/CMakeLists.txt
  projects/hipblas/library/src/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

build(hipblas): use FindCUDAToolkit now that cmake 3.17 is the minimum
  projects/hipblas/CMakeLists.txt
  projects/hipblas/clients/benchmarks/CMakeLists.txt
  projects/hipblas/clients/gtest/CMakeLists.txt
  projects/hipblas/clients/samples/CMakeLists.txt
  projects/hipblas/library/src/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt][tensilelite] Add rocm_sdk pip fallback for ROCm version detection
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/ToolchainValidators/test_toolchain_validators_char.py
  projects/hipblaslt/tensilelite/Tensile/Toolchain/Component.py
  shared/tensile/Tensile/Common.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix: restore CUDA CI compatibility for hipfft, hipsolver, and tensile lint
  projects/hipfft/CMakeLists.txt
  projects/hipsolver/CMakeLists.txt
  shared/tensile/Tensile/Tests/unit/test_Common.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocBLAS/shared-tensile] Continue deprecating hipconfig
  shared/tensile/Tensile/AsmCaps.py
  shared/tensile/Tensile/Common.py
  shared/tensile/Tensile/Tests/conftest.py
  shared/tensile/Tensile/Tests/unit/test_CustomKernels.py
  shared/tensile/Tensile/Tests/unit/test_TensileCreateLibrary.py
  shared/tensile/Tensile/Utilities/Toolchain.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt][tensilelite] Prioritize pip rocm_sdk version over system ROCm
  projects/hipblaslt/tensilelite/Tensile/Toolchain/Component.py
  shared/tensile/Tensile/Common.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt] Continue deprecating hipconfig
  projects/hipblaslt/tensilelite/Tensile/Toolchain/Component.py
  projects/hipblaslt/tensilelite/Tensile/Toolchain/Validators.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblas] Replace HIP_PLATFORM env var with USE_CUDA CMake option
  projects/hipblas/CMakeLists.txt
  projects/hipblas/clients/CMakeLists.txt
  projects/hipblas/clients/benchmarks/CMakeLists.txt
  projects/hipblas/clients/cmake/build-options.cmake
  projects/hipblas/clients/gtest/CMakeLists.txt
  projects/hipblas/clients/samples/CMakeLists.txt
  projects/hipblas/docs/install/Linux_Install_Guide.rst
  projects/hipblas/install.sh
  projects/hipblas/library/src/CMakeLists.txt
  projects/hipblas/rmake.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[hipblaslt][tensilelite] Remove supportedHip from characterization tests
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/PublicInputSurfaceDeep/test_pchaos_Validators_L226_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/ToolchainValidators/test_toolchain_validators_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblas/hipsolver/hipfft] Remove HIP_PLATFORM env var; fix misleading comment
  projects/hipblas/rmake.py
  projects/hipfft/CMakeLists.txt
  projects/hipsolver/CMakeLists.txt
  projects/hipsolver/install.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt] Deprecate hipconfig: read ROCm version without hipconfig
  projects/hipblaslt/cmake/hipblaslt_python.cmake
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/Run.py
  projects/hipblaslt/tensilelite/Tensile/Toolchain/Component.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): make the logged w4a16 bench command replayable
  projects/hipblaslt/clients/common/include/testing_auxiliary.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/utility.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix build errors
  projects/hipblaslt/tensilelite/include/Tensile/Serialization/PredictionLibrary.hpp
  shared/origami/README.md
  shared/origami/src/nn/twrec/twrec_loader.cpp
  shared/origami/tests/test_nn.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Missing include
  shared/origami/src/nn/twrec/twrec_loader.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(rocsparse): clang-format bsrmm/coomm/csrmm grid-stride loops (AISPARSE-665, AISPARSE-704)
  projects/rocsparse/library/src/level3/bsrmm_device_general.h
  projects/rocsparse/library/src/level3/rocsparse_coomm_template_segmented.cpp
  projects/rocsparse/library/src/level3/rocsparse_csrmm_template_nnz_split.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

cleaning up
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950_id75a3/Equality/gfx950_Cijk_Alik_Bljk_F4BS_MXAE8B32_MXBE8B32_STA_BH_BiasSB_HAS_SAB_SAV_UserArgs_WGMDBGF32.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[bkc] Pin to use release/bkc/therock-10.2-20260922 workflows
  .github/actions/ci-env/action.yml
  .github/scripts/resolve_therock_ref.py
  .github/workflows/clang-tidy.yml
  .github/workflows/therock-ci-nightly.yml
  .github/workflows/therock-multi-arch-ci-asan-nightly.yml
  .github/workflows/therock-multi-arch-ci-asan.yml
  .github/workflows/therock-multi-arch-ci-nightly.yml
  .github/workflows/therock-multi-arch-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove ORIGAMI_STANDALONE
  shared/origami/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipsparse): support ell_nnz beyond INT32_MAX in hybmv/csr2hyb host path (AISPARSE-681)
  projects/hipsparse/CHANGELOG.md
  projects/hipsparse/clients/include/gbyte.hpp
  projects/hipsparse/clients/include/testing_csr2hyb.hpp
  projects/hipsparse/clients/include/testing_hybmv.hpp
  projects/hipsparse/clients/include/utility.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add flaky test to skip list
  projects/rpp/utilities/test/src/framework/skip_list.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): define tensor-only core API
  projects/hipblaslt/clients/samples/common/helper.h
  projects/hipblaslt/clients/tests/src/matrix_transform_gtest.cpp
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/adapters/hipblaslt/HipblasltReferenceGemm.cpp
  shared/host-validation/adapters/include/roc/host_validation/adapters/hipblaslt/GroupedGemmDataInitialization.hpp
  shared/host-validation/adapters/include/roc/host_validation/adapters/hipblaslt/HipblasltDataInitialization.hpp
  shared/host-validation/adapters/include/roc/host_validation/adapters/tensilelite/HostValidationBridge.hpp
  shared/host-validation/adapters/include/roc/host_validation/adapters/tensilelite/TensileDataGeneration.hpp
  shared/host-validation/cmake/ROCHostValidationConfig.cmake.in
  shared/host-validation/include/roc/host_validation/detail/comparison.hpp
  shared/host-validation/include/roc/host_validation/detail/data_generation.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/include/roc/host_validation/detail/tensor_views.hpp
  shared/host-validation/include/roc/host_validation/tensor.hpp
  shared/host-validation/include/roc/host_validation/validation.hpp
  shared/host-validation/tests/CMakeLists.txt
  shared/host-validation/tests/check_core_boundary.cmake
  shared/host-validation/tests/package/CMakeLists.txt
  shared/host-validation/tests/package/main.cpp
  shared/host-validation/tests/package/validation.cpp
  shared/host-validation/tests/tensor_core_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): unify reference GEMM API
  projects/hipblaslt/clients/bench/src/client_groupedgemm_fixed_mk.cpp
  projects/hipblaslt/clients/common/include/testing_matmul_batch_offset.hpp
  projects/hipblaslt/clients/samples/19_hipblaslt_gemm_mix_precision_ext/sample_hipblaslt_gemm_mix_precision_ext.cpp
  projects/hipblaslt/tensilelite/client/cpu_gemm_driver.cpp
  shared/host-validation/README.md
  shared/host-validation/adapters/hipblaslt/HipblasltReferenceGemm.cpp
  shared/host-validation/adapters/include/roc/host_validation/adapters/hipblaslt/Types.hpp
  shared/host-validation/adapters/include/roc/host_validation/adapters/tensilelite/HostValidationBridge.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/include/roc/host_validation/tensor.hpp
  shared/host-validation/tests/host_validation_test.cpp
  shared/host-validation/tests/package/validation.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): add runtime-typed tensor core
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/comparison.hpp
  shared/host-validation/include/roc/host_validation/detail/data_generation.hpp
  shared/host-validation/include/roc/host_validation/detail/tensor_views.hpp
  shared/host-validation/include/roc/host_validation/tensor.hpp
  shared/host-validation/tests/CMakeLists.txt
  shared/host-validation/tests/host_validation_test.cpp
  shared/host-validation/tests/package/main.cpp
  shared/host-validation/tests/scalar_codec_test.cpp
  shared/host-validation/tests/tensor_core_test.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(host-validation): complete runtime scalar codecs
  shared/host-validation/include/roc/host_validation/tensor.hpp
  shared/host-validation/tests/scalar_codec_test.cpp
  shared/host-validation/tests/tensor_core_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(host-validation): add Python NumPy oracle
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/python/CMakeLists.txt
  shared/host-validation/python/roc_host_validation/__init__.py
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): add pluggable BLAS backend
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/clients/CMakeLists.txt
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/adapters/hipblaslt/HipblasltReferenceGemm.cpp
  shared/host-validation/cmake/ROCHostValidationConfig.cmake.in
  shared/host-validation/include/roc/host_validation/backends/blas.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/src/backends/blas.cpp
  shared/host-validation/tests/CMakeLists.txt
  shared/host-validation/tests/blas_backend_test.cpp
  shared/host-validation/tests/package/CMakeLists.txt
  shared/host-validation/tests/package/blas.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(host-validation): own partial output selection
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/tests/host_validation_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

ci(host-validation): require standalone Python validation
  .github/workflows/host-validation-ci.yml
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): bridge Tensile GEMM to runtime API
  shared/host-validation/adapters/include/roc/host_validation/adapters/tensilelite/HostValidationBridge.hpp
  shared/host-validation/adapters/tensilelite/Reference.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): extract reference epilogue
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/Epilogue.hpp
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
  projects/hipblaslt/clients/common/src/CMakeLists.txt
  projects/hipblaslt/clients/common/src/host_validation/Epilogue.cpp
  projects/hipblaslt/clients/tests/src/matmul_gtest.cpp
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/reference_common.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_epilogue.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/include/roc/host_validation/validation.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/tests/host_validation_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): centralize indexed data generation
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/HipblasltDataInitialization.hpp
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/hipblaslt_init.hpp
  projects/hipblaslt/clients/tests/src/host_validation_gtest.cpp
  projects/hipblaslt/tensilelite/client/CMakeLists.txt
  projects/hipblaslt/tensilelite/client/include/DataInitialization.hpp
  projects/hipblaslt/tensilelite/client/src/host_validation/DataInitialization.cpp
  projects/hipblaslt/tensilelite/tests/DataInit_test.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/data_generation.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/tests/host_validation_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): bridge advanced tensile epilogues
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/Reference.hpp
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/reference_epilogue.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_reduction.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/tests/host_validation_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): expand tensile runtime gemm coverage
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/python/tests/test_host_validation.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): bridge tensile fp6 storage
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): own bias reduction
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/Reduction.hpp
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
  projects/hipblaslt/clients/common/src/CMakeLists.txt
  projects/hipblaslt/clients/common/src/host_validation/Reduction.cpp
  projects/hipblaslt/clients/tests/src/matmul_gtest.cpp
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/reference_common.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_reduction.hpp
  shared/host-validation/include/roc/host_validation/validation.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/tests/host_validation_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): share partial epilogue selection
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/reference_common.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_epilogue.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(tensilelite): remove local tiled reference gemm
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(host-validation): add tensor contraction reference
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/Reference.hpp
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/detail/reference_common.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_contraction.hpp
  shared/host-validation/include/roc/host_validation/detail/reference_gemm.hpp
  shared/host-validation/include/roc/host_validation/validation.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/tests/host_validation_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
