Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

[tensilelite] Add temp docs/scripts/tests/yamls/kernels during dev
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/tensilelite/epilogues/README.md
  projects/hipblaslt/tensilelite/epilogues/YAMLs/baseline_bf16_k1_winner.yaml
  projects/hipblaslt/tensilelite/epilogues/YAMLs/epilogues_bf16_k1.yaml
  projects/hipblaslt/tensilelite/epilogues/YAMLs/epilogues_bf16_residualout_k1.yaml
  projects/hipblaslt/tensilelite/epilogues/YAMLs/epilogues_mxfp8_k1.yaml
  projects/hipblaslt/tensilelite/epilogues/YAMLs/residual_nostoreback_bf16_k1_winner.yaml
  projects/hipblaslt/tensilelite/epilogues/__init__.py
  projects/hipblaslt/tensilelite/epilogues/bf16_epilogue_perf_results.md
  projects/hipblaslt/tensilelite/epilogues/docs/GEMM_PARTIALRMS_LIBRARY.md
  projects/hipblaslt/tensilelite/epilogues/docs/KERNEL_SELECTION.md
  projects/hipblaslt/tensilelite/epilogues/docs/LIBRARY_CREATION_GUIDE.md
  projects/hipblaslt/tensilelite/epilogues/docs/PARTIALRMS_STREAMK_PARTIALBUF_BUG.md
  projects/hipblaslt/tensilelite/epilogues/docs/PARTIALRMS_WG2X4_KNOWN_ISSUE.md
  projects/hipblaslt/tensilelite/epilogues/docs/TUNING_PIPELINE.md
  projects/hipblaslt/tensilelite/epilogues/docs/epilogue_overhead_analysis.md
  projects/hipblaslt/tensilelite/epilogues/docs/mxfp8_scaled_wg4x1_base_gemm_bug.md
  projects/hipblaslt/tensilelite/epilogues/docs/repro_subtile_1ldsbuffer_bug.sh
  projects/hipblaslt/tensilelite/epilogues/docs/repro_subtile_1ldsbuffer_bug.yaml
  projects/hipblaslt/tensilelite/epilogues/docs/tensilelite-kernel-arguments.md
  projects/hipblaslt/tensilelite/epilogues/gen/gen_asm_logic.py
  projects/hipblaslt/tensilelite/epilogues/kernels/README.md
  projects/hipblaslt/tensilelite/epilogues/kernels/row_div.s
  projects/hipblaslt/tensilelite/epilogues/kernels/row_div_quant.s
  projects/hipblaslt/tensilelite/epilogues/kernels/row_rstd.s
  projects/hipblaslt/tensilelite/epilogues/kernels/small_reduction.s
  projects/hipblaslt/tensilelite/epilogues/pyproject.toml
  projects/hipblaslt/tensilelite/epilogues/scripts/build_asm_library.sh
  projects/hipblaslt/tensilelite/epilogues/scripts/run_epilogue_tests.sh
  projects/hipblaslt/tensilelite/epilogues/torch/gemm_rmsnorm.py
  projects/hipblaslt/tensilelite/epilogues/torch/requiremnts.txt
  projects/hipblaslt/tensilelite/epilogues/torch/scale_norm.py
  projects/hipblaslt/tensilelite/scripts/benchmark_yaml.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(tensilelite): add C++ host support for PartialRMS, dynamic quant, and DeepseekScale epilogues
  projects/hipblaslt/tensilelite/client/include/ClientProblemFactory.hpp
  projects/hipblaslt/tensilelite/client/include/DataInitialization.hpp
  projects/hipblaslt/tensilelite/client/include/ProgramOptions.hpp
  projects/hipblaslt/tensilelite/client/include/Reference.hpp
  projects/hipblaslt/tensilelite/client/include/TypedId.hpp
  projects/hipblaslt/tensilelite/client/main.cpp
  projects/hipblaslt/tensilelite/client/src/ClientProblemFactory.cpp
  projects/hipblaslt/tensilelite/client/src/DataInitialization.cpp
  projects/hipblaslt/tensilelite/client/src/Reference.cpp
  projects/hipblaslt/tensilelite/client/src/ReferenceValidator.cpp
  projects/hipblaslt/tensilelite/include/Tensile/ContractionProblem.hpp
  projects/hipblaslt/tensilelite/include/Tensile/ContractionProblemPredicates.hpp
  projects/hipblaslt/tensilelite/include/Tensile/ContractionProblem_Detail.hpp
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Serialization/Base.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Serialization/ContractionPredicates.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Serialization/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/include/Tensile/UtilsOrigami.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/code.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/code.cpp
  projects/hipblaslt/tensilelite/src/ContractionProblem.cpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/src/hip/HipSolutionAdapter.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): handle TextBlock items in macro_inline pass
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/pass/macro_inline.cpp
  projects/hipblaslt/tensilelite/rocisa/test/test_macro_inline.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): add fused RMSNorm epilogue APIs
  projects/hipblaslt/clients/tests/src/CMakeLists.txt
  projects/hipblaslt/clients/tests/src/hipblaslt_gtest_epilogue_chain.cpp
  projects/hipblaslt/device-library/CMakeLists.txt
  projects/hipblaslt/device-library/partial-rms/CMakeLists.txt
  projects/hipblaslt/device-library/row-div/CMakeLists.txt
  projects/hipblaslt/docs/design/fused_epilogue_rmsnorm.md
  projects/hipblaslt/docs/how-to/how-to-build-test-fused-rmsnorm.md
  projects/hipblaslt/library/include/hipblaslt/hipblaslt.h
  projects/hipblaslt/library/src/amd_detail/hipblaslt.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/include/rocblaslt-types.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/handle.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/utility.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_auxiliary.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_mat.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/utility.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(tensilelite): add Python epilogue emitters for PartialRMS, dynamic quant, and DeepseekScale
  projects/hipblaslt/tensilelite/Tensile/BenchmarkProblems.py
  projects/hipblaslt/tensilelite/Tensile/ClientWriter.py
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/Common/RequiredParameters.py
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/Components/Signature.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/InstructionEmitter.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/InstructionScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileDynamicQuant.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGREmit.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGeometry.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileLREmit.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtilePartialRMSEmit.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileResidualAddEmit.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileScaleEmit.py
  projects/hipblaslt/tensilelite/Tensile/Contractions.py
  projects/hipblaslt/tensilelite/Tensile/Hardware.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/LibraryIO.py
  projects/hipblaslt/tensilelite/Tensile/LogicFilter.py
  projects/hipblaslt/tensilelite/Tensile/SolutionLibrary.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Naming.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Problem.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/epilogues_k1_bf16.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/epilogues_k1_bf16_no_residual_out.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/epilogues_k1_bf16_streamk_split.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/epilogues_k1_mxfp8.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/epilogues_k1_mxfp8_no_residual_out.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/test_config_run.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_data/cpu_only_clientconfig.golden.ini
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_epilogue_validation.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_logic_filter.py
  projects/hipblaslt/tensilelite/Tensile/bin/TensileLogicFilter
  projects/hipblaslt/tensilelite/rocisa_stinkytofu_adaptor/rocisa_stinkytofu_adaptor/code.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): extend epilogue chain with MXfp8 quant and E2E tests
  projects/hipblaslt/clients/tests/src/hipblaslt_gtest_epilogue_chain.cpp
  projects/hipblaslt/device-library/CMakeLists.txt
  projects/hipblaslt/docs/how-to/how-to-build-test-fused-rmsnorm.md
  projects/hipblaslt/library/include/hipblaslt/hipblaslt.h
  projects/hipblaslt/library/src/amd_detail/hipblaslt.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/include/rocblaslt-types.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(tensilelite): replace per-solution CPU re-run with per-row partialRMS validation
  projects/hipblaslt/tensilelite/client/include/ReferenceValidator.hpp
  projects/hipblaslt/tensilelite/client/src/ClientProblemFactory.cpp
  projects/hipblaslt/tensilelite/client/src/Reference.cpp
  projects/hipblaslt/tensilelite/client/src/ReferenceValidator.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Enable large-K RowMajor-A in QuantGemmMultiDKernel via 64-bit offsets
  projects/composablekernel/include/ck_tile/ops/gemm_quant/kernel/gemm_quant_kernel.hpp
  projects/composablekernel/test/ck_tile/gemm_block_scale/test_gemm_quant_rowcol_large_tensor.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): add gfx950 Origami logic for partialRMS epilogue chains
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/partialrms_residual_mxfp8quant_residualout_scaled_mxfp8_k1_Cijk_Alik_Bljk_F8F8S_MXAE8B32_MXBE8B32_H_PRMS_RA_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/partialrms_residualadd_storebf16d_bf16_k1_Cijk_Alik_Bljk_BBS_H_PRMS_RA_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): update the design doc (#11147)
  projects/hipblaslt/docs/design/fused_epilogue_rmsnorm.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): use caller-owned RMSNorm handoff storage
  projects/hipblaslt/clients/tests/src/hipblaslt_gtest_epilogue_chain.cpp
  projects/hipblaslt/docs/design/fused_epilogue_rmsnorm.md
  projects/hipblaslt/library/include/hipblaslt/hipblaslt.h
  projects/hipblaslt/library/src/amd_detail/hipblaslt.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(hipblaslt): validate the RMSNorm handoff buffer on the consumer call
  projects/hipblaslt/clients/tests/src/hipblaslt_gtest_epilogue_chain.cpp
  projects/hipblaslt/library/include/hipblaslt/hipblaslt.h
  projects/hipblaslt/library/src/amd_detail/hipblaslt.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): select MX quant DQuant sizes by problem orientation
  projects/hipblaslt/clients/tests/src/hipblaslt_gtest_epilogue_chain.cpp
  projects/hipblaslt/docs/how-to/how-to-build-test-fused-rmsnorm.md
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

test(hipblaslt): fix epilogue chain test compilation and runtime failures
  projects/hipblaslt/clients/tests/src/hipblaslt_gtest_epilogue_chain.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(stinkytofu): match native waitcnt placement and True16 .l/.h on adaptor cvt
  projects/hipblaslt/tensilelite/rocisa_stinkytofu_adaptor/rocisa_stinkytofu_adaptor/instruction.py
  shared/stinkytofu/include/stinkytofu/ir/logical/LogicalInstructions.hpp
  shared/stinkytofu/python_module/src/python_bindings.cpp
  shared/stinkytofu/src/transforms/logical/ToStinkyAsmPass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix: fix setupnvcc inclusion for real now
  projects/hipcub/cmake/VerifyCompiler.cmake
  projects/hiprand/cmake/VerifyCompiler.cmake
  projects/rocrand/cmake/VerifyCompiler.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add kernels for gfx950_id75a3
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950_id75a3/Equality/gfx950_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(geko): Enable custom lib for benchmarking and offline tuning (#11782)
  projects/hipblaslt/utilities/geko/README.md
  projects/hipblaslt/utilities/geko/geko/bench/bench.py
  projects/hipblaslt/utilities/geko/geko/bench/log.py
  projects/hipblaslt/utilities/geko/geko/bench/utils.py
  projects/hipblaslt/utilities/geko/geko/cli.py
  projects/hipblaslt/utilities/geko/geko/optim/optim.py
  projects/hipblaslt/utilities/geko/geko/pipeline.py
  projects/hipblaslt/utilities/geko/geko/search.py
  projects/hipblaslt/utilities/geko/pyproject.toml
  projects/hipblaslt/utilities/geko/scripts/search.py
  projects/hipblaslt/utilities/geko/tests/test_bench_core_unit.py
  projects/hipblaslt/utilities/geko/tests/test_cli_unit.py
  projects/hipblaslt/utilities/geko/tests/test_pipeline_unit.py
  projects/hipblaslt/utilities/geko/tests/test_search_unit.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs: Update CHANGELOG.md for 10.1.0
  projects/hipblaslt/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix: remove googlebenchmark because hipcub uses primbench
  projects/hipcub/cmake/Dependencies.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hip-kernel-provider: add packaged gfx950 rocKE convolution
  dnn-providers/hip-kernel-provider/README.md
  dnn-providers/hip-kernel-provider/descriptor-packaging/examples/descriptors/rocKE/gfx950_conv_fwd/gfx950_conv_fwd.kdp.json
  dnn-providers/hip-kernel-provider/descriptor-packaging/examples/descriptors/rocKE/gfx950_conv_fwd/gfx950_conv_fwd.kmd.json
  dnn-providers/hip-kernel-provider/descriptor-packaging/examples/descriptors/rocKE/gfx950_conv_fwd/gfx950_conv_fwd.udd.json
  dnn-providers/hip-kernel-provider/descriptor-packaging/examples/descriptors/rocKE/gfx950_conv_fwd/gfx950_conv_fwd.ued.json
  dnn-providers/hip-kernel-provider/descriptor-packaging/examples/descriptors/rocKE/gfx950_conv_fwd/gfx950_conv_fwd.uhd.json
  dnn-providers/hip-kernel-provider/descriptor-packaging/examples/descriptors/rocKE/gfx950_conv_fwd/kernel_dtype_matches_graph.umd.json
  dnn-providers/hip-kernel-provider/descriptor-packaging/tests/test_hkp_pack_layout.py
  dnn-providers/hip-kernel-provider/docs/gfx950_conv_fwd/README.md
  dnn-providers/hip-kernel-provider/docs/gfx950_conv_fwd/coverage.md
  dnn-providers/hip-kernel-provider/docs/gfx950_conv_fwd/graph_contract.md
  dnn-providers/hip-kernel-provider/docs/gfx950_conv_fwd/mining.md
  dnn-providers/hip-kernel-provider/rocke/library/builders/common/convolution_forward.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_convolution_forward_packaging.py
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/IngestorPacks.cpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/IngestorPacks.hpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/Gfx950ConvFwdGeometry.hpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/Gfx950ConvFwdNative.cpp
  dnn-providers/hip-kernel-provider/src/integration_tests/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/IntegrationGpuGfx950ConvFwd.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/TestGfx950ConvFwdGeometry.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/TestGfx950ConvFwdPack.cpp
  dnn-providers/integration-tests/integration-test-bundles/quick/Gfx950ConvFwd/Smoke/graph.template.json
  dnn-providers/integration-tests/integration-test-bundles/quick/Gfx950ConvFwd/Smoke/support.json
  dnn-providers/integration-tests/integration-test-bundles/quick/Gfx950ConvFwd/Smoke/sweep.json
  dnn-providers/integration-tests/integration-test-bundles/standard/Gfx950ConvFwd/Spatial/graph.template.json
  dnn-providers/integration-tests/integration-test-bundles/standard/Gfx950ConvFwd/Spatial/support.json
  dnn-providers/integration-tests/integration-test-bundles/standard/Gfx950ConvFwd/Spatial/sweep.json
  projects/hipdnn/tools/IngestorGenerator/configs/gfx950_conv_fwd.profile.yaml
  projects/hipdnn/tools/IngestorGenerator/configs/gfx950_conv_fwd.requests.json
  projects/hipdnn/tools/IngestorGenerator/configs/gfx950_conv_fwd.yaml
  projects/hipdnn/tools/IngestorGenerator/tests/test_mine_conv_shapes.py
  projects/hipdnn/tools/IngestorGenerator/tools/benchmark_conv_integration.py
  projects/hipdnn/tools/IngestorGenerator/tools/mine_conv_shapes.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update CMakeLists.txt - version bump
  projects/hipblaslt/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): filter unsupported StreamK benchmark kernels
  projects/hipblaslt/tensilelite/client/include/LogReporter.hpp
  projects/hipblaslt/tensilelite/client/src/SolutionIterator.cpp
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/tests/CuCount_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Reapply "fix(tensilelite): use the 1024-byte LDS granularity on gfx11" (#11791)
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_occupancy.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_occupancy_buildtime.py
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/hardware_caps.hpp
  projects/hipblaslt/tensilelite/rocisa_stinkytofu_adaptor/tests/test_caps.py
  shared/stinkytofu/python_module/src/HardwareCaps.cpp
  shared/stinkytofu/python_module/tests/test_comgr.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix: ignore unused command line arguments when compiling with offload compress
  shared/cmake/flags/offload_compress.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): encode features before measuring regret
  projects/hipdnn/tools/uhd_gen/tests/test_regret.py
  projects/hipdnn/tools/uhd_gen/train_uhd.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): encode features before measuring regret
  projects/hipdnn/tools/uhd_gen/tests/test_regret.py
  projects/hipdnn/tools/uhd_gen/train_uhd.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update CHANGELOG.md
  projects/hipblaslt/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

added note about multigpu support
  projects/hipthreads/docs/reference/limitations.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(ck-tile): drop the staged-gemm scheduler prescriptions where the body is single-tile
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_bwd_dq_dk_dv_pipeline_ldsacc_kr_ktr_vr.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hipblaslt: add SwizzleB DTL macrotiles to gfx950 logic
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Alik_Bljk_F4BS_MXA32_MXB32_STB_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke): dispatch the fused-MoE mega kernels on gfx942, and stop the spec hash aliasing dtypes (#11002)
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/dispatch/families/moe.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/dispatch/dispatch_tests/moe/test_moe.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(integration-tests): skip cost-excluded bundles instead of running them
  dnn-providers/integration-tests/src/harness/bundle/BundleRegistration.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): tell a knob the graph binds from one the pack never built
  projects/hipdnn/tools/uhd_gen/knobs.py
  projects/hipdnn/tools/uhd_gen/tests/test_knobs.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): tell a knob the graph binds from one the pack never built
  projects/hipdnn/tools/uhd_gen/knobs.py
  projects/hipdnn/tools/uhd_gen/tests/test_knobs.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(miopen): build TheRock docker base from CI artifacts instead of source (#11395)
  projects/miopen/Dockerfile
  projects/miopen/Jenkinsfile
  projects/miopen/README.md
  projects/miopen/driver/CMakeLists.txt
  projects/miopen/vars/utils.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(hipdnn): let a UHD declare derived features, and hash them
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/uhd/FeatureExtractor.hpp
  projects/hipdnn/plugin_sdk/tests/ingestor/uhd/TestFeatureExtractor.cpp
  projects/hipdnn/plugin_sdk/tests/ingestor/uhd/TestUhdKernelHeuristic.cpp
  projects/hipdnn/tools/uhd_gen/__main__.py
  projects/hipdnn/tools/uhd_gen/features.py
  projects/hipdnn/tools/uhd_gen/tests/test_derived_cli.py
  projects/hipdnn/tools/uhd_gen/tests/test_features_hash.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipdnn): let a UHD declare derived features, and hash them
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/uhd/FeatureExtractor.hpp
  projects/hipdnn/plugin_sdk/tests/ingestor/uhd/TestFeatureExtractor.cpp
  projects/hipdnn/plugin_sdk/tests/ingestor/uhd/TestUhdKernelHeuristic.cpp
  projects/hipdnn/tools/uhd_gen/__main__.py
  projects/hipdnn/tools/uhd_gen/features.py
  projects/hipdnn/tools/uhd_gen/tests/test_features_hash.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix typo
  projects/rocfft/testing.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocke/conv): add the pointwise fast path dgrad was missing
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/instances/common/conv_implicit_gemm_dgrad.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/conv_implicit_gemm_dgrad.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
