Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(host-validation): check layout address arithmetic
  shared/host-validation/include/roc/host_validation/tensor.hpp
  shared/host-validation/tests/tensor_core_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): absorb AMD GPU layout transforms
  .github/CODEOWNERS
  .github/labeler.yml
  .github/scripts/therock_matrix.py
  .github/workflows/host-validation-ci.yml
  CMakeLists.txt
  CMakePresets.json
  CONTRIBUTING.md
  README.md
  cmake/modules/add_subdirectory_with_message.cmake
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/README.md
  projects/hipblaslt/clients/common/CMakeLists.txt
  projects/hipblaslt/clients/common/src/host_validation/mxDataGen.cpp
  projects/hipblaslt/utilities/geko/README.md
  shared/host-validation/CMakeLists.txt
  shared/host-validation/LICENSE.md
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/amd_gpu_layout/mx.hpp
  shared/host-validation/tests/CMakeLists.txt
  shared/host-validation/tests/amd_gpu_layout_test.cpp
  shared/host-validation/tests/check_amd_gpu_layout_boundary.cmake
  shared/host-validation/tests/check_component_boundary.cmake
  shared/host-validation/tests/check_core_boundary.cmake
  shared/host-validation/tests/package/CMakeLists.txt
  shared/host-validation/tests/package/amd_gpu_layout.cpp
  shared/host-validation/tests/run_amd_gpu_layout_package_test.cmake
  shared/mx-layout-transforms/CMakeLists.txt
  shared/mx-layout-transforms/README.md
  shared/mx-layout-transforms/cmake/ROCMxLayoutTransformsConfig.cmake.in
  shared/mx-layout-transforms/tests/CMakeLists.txt
  shared/mx-layout-transforms/tests/check_component_boundary.cmake
  shared/mx-layout-transforms/tests/package/CMakeLists.txt
  shared/rocroller/CMakeLists.txt
  shared/rocroller/README.md
  shared/rocroller/client/CMakeLists.txt
  shared/rocroller/client/src/gemm.cpp
  shared/rocroller/scripts/lib/rrperf/git.py
  shared/rocroller/test/unit/CMakeLists.txt
  shared/rocroller/test/unit/GEMMTestBase.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

style(host-validation): format pointwise oracle
  shared/host-validation/python/tests/test_canonical_pointwise_oracle.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(host-validation): expose scalar storage groups
  shared/host-validation/include/roc/host_validation/tensor.hpp
  shared/host-validation/tests/scalar_codec_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(host-validation): add exact runtime scalar values
  shared/host-validation/include/roc/host_validation/tensor.hpp
  shared/host-validation/tests/scalar_codec_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): separate GEMM problem semantics
  shared/host-validation/include/roc/host_validation/gemm.hpp
  shared/host-validation/src/backends/blas.cpp
  shared/host-validation/src/backends/tiled.cpp
  shared/host-validation/src/detail/reference_common.hpp
  shared/host-validation/src/detail/reference_gemm.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): tighten host reference selection safety
  projects/hipblaslt/tensilelite/client/src/host_validation/GemmProblemAdapter.cpp
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(host-validation): count selections without allocation
  shared/host-validation/include/roc/host_validation/operation_types.hpp
  shared/host-validation/tests/host_validation_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocroller): fall back from unsupported host BLAS
  shared/rocroller/host/src/HostReference.cpp
  shared/rocroller/host/test/HostReferenceTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(host-validation): expand Python finalization oracles
  shared/host-validation/python/tests/test_canonical_pointwise_oracle.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): type GEMM scalar coefficients
  projects/hipblaslt/clients/bench/src/client_groupedgemm_fixed_mk.cpp
  projects/hipblaslt/clients/common/include/testing_matmul_batch_offset.hpp
  projects/hipblaslt/clients/common/src/host_validation/HipblasltReferenceGemm.cpp
  projects/hipblaslt/clients/samples/19_hipblaslt_gemm_mix_precision_ext/sample_hipblaslt_gemm_mix_precision_ext.cpp
  projects/hipblaslt/tensilelite/client/cpu_gemm_driver.cpp
  shared/host-validation/include/roc/host_validation/gemm.hpp
  shared/host-validation/include/roc/host_validation/tensor.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/src/backends/blas.cpp
  shared/host-validation/src/detail/reference_common.hpp
  shared/host-validation/src/detail/reference_gemm.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): harden host epilogue storage
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/Epilogue.hpp
  projects/hipblaslt/clients/common/src/host_validation/Epilogue.cpp
  projects/hipblaslt/clients/tests/src/matmul_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): bound MX compatibility outputs
  projects/hipblaslt/clients/common/include/roc/host_validation/adapters/hipblaslt/mxDataGen.hpp
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
  projects/hipblaslt/clients/common/src/host_validation/mxDataGen.cpp
  projects/hipblaslt/tensilelite/client/src/DataInitialization.cpp
  projects/hipblaslt/tensilelite/tests/MXDataGen_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ci): repair host validation integration signals
  projects/hipblaslt/clients/common/include/hipblaslt/host_validation/HostComparison.hpp
  projects/hipblaslt/clients/common/include/hipblaslt/host_validation/near.hpp
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
  projects/hipblaslt/clients/tests/src/host_validation_gtest.cpp
  shared/rocroller/test/catch/HostDataGenerationTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ci): harden host-validation integration paths
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/cmake/run_coverage_tests.sh
  shared/rocroller/CMakeLists.txt
  shared/rocroller/CMakePresets.json
  shared/rocroller/cmake/rocroller_materialize_monorepo_paths.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ci): restore host numerics compatibility signals
  shared/mxdatagenerator/CMakeLists.txt
  shared/mxdatagenerator/README.md
  shared/mxdatagenerator/tests/compatibility_target_test.cpp
  shared/rocroller/host/include/rocRoller/HostNumerics/HostReference.hpp
  shared/rocroller/host/src/HostDataGeneration.cpp
  shared/rocroller/host/src/HostReference.cpp
  shared/rocroller/host/test/HostDataGenerationTest.cpp
  shared/rocroller/test/catch/HostDataGenerationTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(host-validation): use magnitude semantics for complex allclose
  projects/hipblaslt/clients/common/include/hipblaslt/host_validation/HostComparison.hpp
  projects/hipblaslt/clients/tests/src/host_validation_gtest.cpp
  shared/host-validation/include/roc/host_validation/comparison.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/src/comparison.cpp
  shared/host-validation/src/detail/comparison_common.hpp
  shared/host-validation/tests/host_validation_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ci): support aliased host BLAS providers
  shared/host-validation/cmake/FindCBLAS.cmake
  shared/host-validation/tests/blas_backend_test.cpp
  shared/host-validation/tests/package/aliased-blas/FindBLAS.cmake
  shared/host-validation/tests/package/blas.cpp
  shared/host-validation/tests/package/fake-ilp64-cblas/cblas.h
  shared/host-validation/tests/package/run_package_component_tests.cmake
  shared/rocroller/client/src/gemm.cpp
  shared/rocroller/test/unit/GEMMFusion.cpp
  shared/rocroller/test/unit/GEMMTestBase.hpp
  shared/rocroller/test/unit/MatrixMultiplyTestBase.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): add owning axpby and softmax results
  projects/hipblaslt/clients/common/include/hipblaslt/host_validation/MatrixTransformReference.hpp
  projects/hipblaslt/clients/tests/src/hipblaslt_gtest_ext_op.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/axpby.hpp
  shared/host-validation/include/roc/host_validation/softmax.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/src/axpby.cpp
  shared/host-validation/src/detail/reference_axpby.hpp
  shared/host-validation/src/detail/reference_softmax.hpp
  shared/host-validation/src/softmax.cpp
  shared/host-validation/tests/host_validation_test.cpp
  shared/host-validation/tests/package/validation.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): address review design gaps
  projects/hipblaslt/clients/common/include/hipblaslt/host_validation/Types.hpp
  projects/hipblaslt/clients/common/src/hipblaslt_init_device.cpp
  projects/hipblaslt/clients/common/src/host_validation/mxDataGen.cpp
  projects/hipblaslt/clients/samples/common/helper.h
  projects/hipblaslt/clients/tests/src/host_validation_gtest.cpp
  projects/hipblaslt/clients/tests/src/matrix_transform_gtest.cpp
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/DataInitializationHelpers.hpp
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/HostValidationBridge.hpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/mx.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/python/tests/test_mx_generation_oracle.py
  shared/host-validation/src/detail/reference_layer_norm.hpp
  shared/host-validation/src/detail/reference_softmax.hpp
  shared/host-validation/src/detail/structured_sparsity.hpp
  shared/host-validation/src/mx.cpp
  shared/host-validation/tests/mx_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

build(host-validation): formalize LP64 CBLAS contract
  .github/workflows/host-validation-ci.yml
  CMakeLists.txt
  projects/hipblaslt/.gitignore
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/CMakePresets.json
  projects/hipblaslt/README.md
  projects/hipblaslt/clients/CMakeLists.txt
  projects/hipblaslt/cmake/FindBLIS.cmake
  projects/hipblaslt/deps/CMakeLists.txt
  projects/hipblaslt/deps/external-lapack.cmake
  projects/hipblaslt/docs/install/building-installing-hipblaslt.rst
  projects/hipblaslt/tasks.py
  projects/hipblaslt/tensilelite/Tensile/Utilities/tensile_generator/README.md
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/cmake/FindCBLAS.cmake
  shared/host-validation/cmake/ROCHostValidationConfig.cmake.in
  shared/host-validation/tests/CMakeLists.txt
  shared/host-validation/tests/blas_backend_test.cpp
  shared/host-validation/tests/package/blas.cpp
  shared/host-validation/tests/package/component/CMakeLists.txt
  shared/host-validation/tests/package/dependency-search-traps/FindCBLAS.cmake
  shared/host-validation/tests/package/fake-ilp64-cblas/FindBLAS.cmake
  shared/host-validation/tests/package/fake-ilp64-cblas/cblas.h
  shared/host-validation/tests/package/run_package_component_tests.cmake
  shared/host-validation/tests/package/source_build/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(host-validation): unify Python GEMM backend policy
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): add owning layer norm results
  projects/hipblaslt/clients/bench/src/client_extop_layernorm.cpp
  projects/hipblaslt/clients/tests/src/hipblaslt_gtest_ext_op.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/layer_norm.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/src/detail/reference_layer_norm.hpp
  shared/host-validation/src/layer_norm.cpp
  shared/host-validation/tests/host_validation_test.cpp
  shared/host-validation/tests/package/validation.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): bind native GEMM request types
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/gemm.hpp
  shared/host-validation/include/roc/host_validation/operation_types.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/python/tests/test_pointwise_oracle.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): add owning epilogue results
  projects/hipblaslt/clients/common/src/host_validation/Epilogue.cpp
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/GemmProblemAdapter.hpp
  projects/hipblaslt/tensilelite/client/src/host_validation/GemmProblemAdapter.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/epilogue.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/src/detail/reference_epilogue.hpp
  shared/host-validation/src/epilogue.cpp
  shared/host-validation/tests/host_validation_test.cpp
  shared/host-validation/tests/package/validation.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): add owning structured sparsity results
  projects/hipblaslt/tensilelite/client/src/host_validation/DataInitialization.cpp
  projects/hipblaslt/tensilelite/tests/DataInit_test.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/structured_sparsity.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/src/detail/structured_sparsity.hpp
  shared/host-validation/tests/host_validation_test.cpp
  shared/host-validation/tests/package/validation.cpp
  shared/host-validation/tests/structured_sparsity_benchmark.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): add owning reduction results
  projects/hipblaslt/clients/common/src/host_validation/Reduction.cpp
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/GemmProblemAdapter.hpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/reduction.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/src/detail/reference_reduction.hpp
  shared/host-validation/src/reduction.cpp
  shared/host-validation/tests/host_validation_test.cpp
  shared/host-validation/tests/package/validation.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): add owning GEMM results
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/gemm.hpp
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/src/gemm.cpp
  shared/host-validation/tests/host_validation_test.cpp
  shared/host-validation/tests/package/validation.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): split GEMM and comparison bindings
  shared/host-validation/python/CMakeLists.txt
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/src/bindings.hpp
  shared/host-validation/python/src/comparison_bindings.cpp
  shared/host-validation/python/src/gemm_bindings.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): use canonical index and storage APIs
  projects/hipblaslt/clients/bench/src/client_groupedgemm_fixed_mk.cpp
  projects/hipblaslt/clients/common/include/hipblaslt/host_validation/Comparison.hpp
  projects/hipblaslt/clients/common/include/hipblaslt/host_validation/HostComparison.hpp
  projects/hipblaslt/clients/common/include/testing_matmul_batch_offset.hpp
  projects/hipblaslt/clients/tests/src/ulp_gtest.cpp
  projects/hipblaslt/tensilelite/client/src/ReferenceValidator.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/comparison.hpp
  shared/host-validation/include/roc/host_validation/generation.hpp
  shared/host-validation/include/roc/host_validation/generation_compatibility.hpp
  shared/host-validation/include/roc/host_validation/index_order.hpp
  shared/host-validation/include/roc/host_validation/structured_sparsity.hpp
  shared/host-validation/include/roc/host_validation/tensor.hpp
  shared/host-validation/python/src/comparison_bindings.cpp
  shared/host-validation/python/src/generation_bindings.cpp
  shared/host-validation/python/tests/test_generation_recipe_api.py
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/src/comparison.cpp
  shared/host-validation/src/detail/comparison_common.hpp
  shared/host-validation/src/detail/structured_sparsity.hpp
  shared/host-validation/src/generation.cpp
  shared/host-validation/tests/comparison_benchmark.cpp
  shared/host-validation/tests/host_validation_test.cpp
  shared/rocroller/host/src/HostDataGeneration.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): remove generation compatibility bridge
  projects/hipblaslt/clients/common/include/hipblaslt/host_validation/GenerationCompatibility.hpp
  projects/hipblaslt/clients/common/include/hipblaslt/host_validation/GenerationRecipes.hpp
  projects/hipblaslt/tensilelite/client/cpu_gemm_driver.cpp
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/TensileDataGeneration.hpp
  projects/hipblaslt/tensilelite/client/src/host_validation/DataInitialization.cpp
  projects/hipblaslt/tensilelite/tests/DataInit_test.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceMXFastPath_test.cpp
  shared/host-validation/CMakeLists.txt
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/generation.hpp
  shared/host-validation/include/roc/host_validation/generation_compatibility.hpp
  shared/host-validation/include/roc/host_validation/generation_primitives.hpp
  shared/host-validation/include/roc/host_validation/structured_sparsity.hpp
  shared/host-validation/python/tests/test_generation_recipe_api.py
  shared/host-validation/tests/generation_recipe_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): expose native operation bindings
  shared/host-validation/python/CMakeLists.txt
  shared/host-validation/python/src/bindings.cpp
  shared/host-validation/python/src/bindings.hpp
  shared/host-validation/python/src/operation_bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(tensilelite): clarify host validation invocation adapter
  projects/hipblaslt/tensilelite/client/CMakeLists.txt
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/GemmInvocationAdapter.hpp
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/HostValidationBridge.hpp
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/Reference.hpp
  projects/hipblaslt/tensilelite/client/src/host_validation/DataInitialization.cpp
  projects/hipblaslt/tensilelite/client/src/host_validation/GemmInvocationAdapter.cpp
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): type MX data recipes
  projects/hipblaslt/clients/common/include/hipblaslt/host_validation/mxDataGen.hpp
  projects/hipblaslt/clients/common/src/host_validation/mxDataGen.cpp
  shared/host-validation/README.md
  shared/host-validation/include/roc/host_validation/mx.hpp
  shared/host-validation/python/src/mx_bindings.cpp
  shared/host-validation/python/tests/test_host_validation.py
  shared/host-validation/python/tests/test_mx_generation_oracle.py
  shared/host-validation/src/mx.cpp
  shared/host-validation/tests/mx_test.cpp
  shared/rocroller/host/src/HostDataGeneration.cpp
  shared/rocroller/host/test/HostDataGenerationTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(host-validation): align request execution contracts
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  shared/host-validation/include/roc/host_validation/gemm.hpp
  shared/host-validation/include/roc/host_validation/operation_types.hpp
  shared/host-validation/include/roc/host_validation/reduction.hpp
  shared/host-validation/python/src/gemm_bindings.cpp
  shared/host-validation/src/gemm.cpp
  shared/host-validation/src/reduction.cpp
  shared/host-validation/tests/blas_backend_test.cpp
  shared/host-validation/tests/blocked_backend_test.cpp
  shared/host-validation/tests/host_validation_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): move flat GEMM compatibility to Python
  shared/host-validation/python/roc_host_validation/__init__.py
  shared/host-validation/python/src/gemm_bindings.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(host-validation): require explicit package components
  projects/hipblaslt/CMakeLists.txt
  shared/host-validation/CMakeLists.txt
  shared/host-validation/cmake/ROCHostValidationConfig.cmake.in
  shared/host-validation/cmake/ROCHostValidationTargets.cmake.in
  shared/host-validation/tests/package/CMakeLists.txt
  shared/host-validation/tests/package/no_components/CMakeLists.txt
  shared/host-validation/tests/package/run_package_component_tests.cmake
  shared/host-validation/tests/package/source_build/CMakeLists.txt
  shared/rocroller/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(tensilelite): unify reference GEMM execution policy
  projects/hipblaslt/tensilelite/client/cpu_gemm_driver.cpp
  projects/hipblaslt/tensilelite/client/include/roc/host_validation/adapters/tensilelite/Reference.hpp
  projects/hipblaslt/tensilelite/client/src/host_validation/DataInitialization.cpp
  projects/hipblaslt/tensilelite/client/src/host_validation/Reference.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceFastPath_test.cpp
  projects/hipblaslt/tensilelite/tests/ReferenceMXFastPath_test.cpp
  shared/host-validation/README.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(hipblaslt): consolidate host comparison passes
  projects/hipblaslt/clients/common/include/hipblaslt/host_validation/Comparison.hpp
  projects/hipblaslt/clients/common/include/hipblaslt/host_validation/HostComparison.hpp
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(hipblaslt): define initialization policy explicitly
  projects/hipblaslt/clients/common/include/hipblaslt/host_validation/GenerationCompatibility.hpp
  projects/hipblaslt/clients/common/include/hipblaslt/host_validation/GenerationRecipes.hpp
  projects/hipblaslt/clients/common/include/hipblaslt/host_validation/GroupedGemmDataInitialization.hpp
  projects/hipblaslt/clients/common/include/hipblaslt/host_validation/InitializationPolicy.hpp
  projects/hipblaslt/clients/common/include/hipblaslt/host_validation/Types.hpp
  projects/hipblaslt/clients/common/include/hipblaslt/host_validation/hipblaslt_init.hpp
  projects/hipblaslt/clients/common/src/hipblaslt_init_device.cpp
  projects/hipblaslt/clients/common/src/host_validation/DataInitialization.cpp
  projects/hipblaslt/clients/common/src/host_validation/HipblasltReferenceGemm.cpp
  projects/hipblaslt/clients/samples/common/helper.h
  projects/hipblaslt/clients/tests/src/host_validation_gtest.cpp
  projects/hipblaslt/clients/tests/src/matrix_transform_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
