Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

fix(hipblaslt): lower reused GEMM problems as in builds without JIT
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(tensilelite): remove unreachable emitter code
  projects/hipblaslt/tensilelite/Tensile/Components/ShiftVectorComponents.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGREmit.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileLREmit.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileScaleEmit.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/data/test_data/_designed/gfx942/shiftvec_full.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/data/test_data/_designed/gfx942/shiftvector.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/data/test_data/_designed/gfx942/shiftvector2.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_r4_shiftvector2_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_r7_shiftvec_full_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_mfma_fp8.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(tensilelite): remove unused scale offset stubs
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileScaleEmit.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): retain reachable int8 edge shifts
  projects/hipblaslt/tensilelite/Tensile/Components/ShiftVectorComponents.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_r7_shiftvec_full_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci(hipblaslt): shallow-fetch ASan build dependencies
  .github/workflows/hipblaslt-asan-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hip-kernel-provider): align rocKE rejection tests with backend contracts
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_gfx1250_scaled_wmma.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_storage.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/test_rocke.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Make ffm full test set include quick
  projects/rocblas/rtest.xml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

init commit
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/InstructionEmitter.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGREmit.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtile_multi_du_lds_race.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): launch every GSU slice of hand-written split-K kernels
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
  projects/hipblaslt/tensilelite/Tensile/CustomKernels.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomKernelMetadata.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_custom_kernel_host.py
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/tests/CustomKernel_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipdnn): describe the shipped gfx950 dense attention bundle
  dnn-providers/hip-kernel-provider/descriptor-packaging/examples/descriptors/README.md
  dnn-providers/hip-kernel-provider/descriptor-packaging/tests/test_desk_check_invariants.py
  projects/hipdnn/tools/ai/skills/hipdnn-ingestor-engine/RUNBOOK.md
  projects/hipdnn/tools/ai/skills/hipdnn-superbuild-test/SKILL.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add checks for status of hipFree
  projects/rocsolver/clients/gtest/memory_model_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(miopen): reject reduce tensors that do not fit the int32 kernels (ALMIOPEN-2718)
  projects/miopen/src/reducetensor.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): give the hipdnn_torch SDPA output Q's dimension order
  projects/hipdnn/tools/hipdnn_torch/hipdnn_torch/sdpa.py
  projects/hipdnn/tools/hipdnn_torch/tests/test_gates.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update smart pointers to account for ragged tensors
  dnn-providers/integration-tests/src/harness/GoldenReferenceCpu.hpp
  dnn-providers/integration-tests/src/harness/bundle/IntegrationTestBundle.hpp
  dnn-providers/integration-tests/src/harness/bundle/OutputComparison.hpp
  dnn-providers/integration-tests/src/harness/gpu-graph-executor/GpuReferenceGraphExecutor.hpp
  dnn-providers/integration-tests/src/harness/input-init/FillInputs.hpp
  dnn-providers/integration-tests/src/integration-tests/sdpa/IntegrationGpuSdpaBackward.cpp
  dnn-providers/integration-tests/tests/TestVerificationPaths.cpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/LoadGraphAndTensors.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/CpuReferenceGraphExecutor.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/GraphTensorBundle.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/detail/FlatbufferTensorAttributesUtils.hpp
  projects/hipdnn/test_sdk/tests/utilities/TestLoadGraphAndTensors.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(miopen): drop the HIP backend guard from the depthwise solver test
  projects/miopen/test/gtest/unit_conv_solver_ConvDirectDepthwiseFwd2D.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipdnn): describe the production root without naming bundles
  dnn-providers/hip-kernel-provider/descriptor-packaging/examples/descriptors/README.md
  dnn-providers/hip-kernel-provider/descriptor-packaging/tests/test_desk_check_invariants.py
  projects/hipdnn/tools/ai/skills/hipdnn-ingestor-engine/RUNBOOK.md
  projects/hipdnn/tools/ai/skills/hipdnn-superbuild-test/SKILL.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix: vgpr limit of gfx1250
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/arch/data.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/occupancy.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tests/test_occupancy.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/arch/data/arch_specs.json
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm_universal_sweep/bf16_gemm_sweep.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/test_gfx1250_gemm.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

emit the wvSpltK kernels at code object v4
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/README.md
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/rocblas/README.md
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/rocblas/wvSpltK_bf16_tn.cpp
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/rocblas/wvSpltK_bf16_tn_m1.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/rocblas/wvSpltK_bf16_tn_m2.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/rocblas/wvSpltK_bf16_tn_m4.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/rocblas/wvSpltK_hf_m1.cpp
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/rocblas/wvSpltK_hf_m1.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/rocblas/wvSpltK_hf_m2.cpp
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/rocblas/wvSpltK_hf_m2.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/rocblas/wvSpltK_hf_m4.cpp
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/rocblas/wvSpltK_hf_m4.s
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomKernelMetadata.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update script to accomodate ragged tensors and fix seq-lens
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/generate_golden_data.sh
  dnn-providers/integration-tests/reference-data-scripts/generate_sdpa_fwd_golden.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Compose the DPP fold with the pair-pack ring (TENSILE_PLSIN_FOLD_RING)
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(logic/gfx950): replace non-swizzle F4BS default with STA-tuned solutions
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950_id75a3/Equality/gfx950_Cijk_Alik_Bljk_F4BS_MXAE8B32_MXBE8B32_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Move fold coalescing into the pair-pack ring: pre-pack batchA, drop the re-pack
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(logic/gfx950): add DPPStoreFold + M-first ExactLogic entries to non-swizzle F4BS default; prefer NTD4 solutions
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950_id75a3/Equality/gfx950_Cijk_Alik_Bljk_F4BS_MXAE8B32_MXBE8B32_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Revert "perf(logic/gfx950): replace non-swizzle F4BS default with STA-tuned solutions"
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950_id75a3/Equality/gfx950_Cijk_Alik_Bljk_F4BS_MXAE8B32_MXBE8B32_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

New bundles and fixes for running
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_ragged/Small/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_ragged/Small/Small.meta.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_ragged/Small/Small.tensors.dvc
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_ragged_group/Small/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_ragged_group/Small/Small.meta.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_ragged_group/Small/Small.tensors.dvc
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_nomask_ragged/Small/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_nomask_ragged/Small/Small.meta.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_nomask_ragged/Small/Small.tensors.dvc
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_nomask_ragged_group/Small/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_nomask_ragged_group/Small/Small.meta.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_nomask_ragged_group/Small/Small.tensors.dvc
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/generate_golden_data.sh
  dnn-providers/integration-tests/src/harness/bundle/IntegrationTestBundle.hpp
  dnn-providers/integration-tests/src/integration-tests/sdpa/IntegrationGoldenRefSdpaFwdInference.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixes so tests pass
  dnn-providers/integration-tests/src/integration-tests/sdpa/IntegrationGoldenRefSdpaFwdInference.cpp
  dnn-providers/integration-tests/tests/TestOutputComparison.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): preserve DPP fold store data
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950_id75a3/Equality/gfx950_Cijk_Alik_Bljk_F4BS_MXAE8B32_MXBE8B32_STA_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

debug(tensilelite): disable DPP fold on guarded stores
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Test bundle changes
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_ragged/Small/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_ragged/Small/Small.meta.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_ragged/Small/Small.support.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_ragged/Small/Small.tensors.dvc
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_ragged_group/Small/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_ragged_group/Small/Small.meta.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_ragged_group/Small/Small.support.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_ragged_group/Small/Small.tensors.dvc
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_nomask_ragged/Small/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_nomask_ragged/Small/Small.meta.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_nomask_ragged/Small/Small.support.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_nomask_ragged/Small/Small.tensors.dvc
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_nomask_ragged_group/Small/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_nomask_ragged_group/Small/Small.meta.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_nomask_ragged_group/Small/Small.support.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_nomask_ragged_group/Small/Small.tensors.dvc
  dnn-providers/integration-tests/reference-data-scripts/generate_sdpa_fwd_golden.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Replace unique_ptr with shared_ptr
  dnn-providers/integration-tests/tests/TestOutputComparison.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove seqlen tests
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_ragged_group/Small/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_ragged_group/Small/Small.meta.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_ragged_group/Small/Small.support.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_ragged_group/Small/Small.tensors.dvc
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_nomask_ragged_group/Small/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_nomask_ragged_group/Small/Small.meta.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_nomask_ragged_group/Small/Small.support.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_nomask_ragged_group/Small/Small.tensors.dvc
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/generate_golden_data.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add new test bundles and verification script fixes
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_nomask_ragged/Small/Small.support.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd192_causal_ragged/Small/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd192_causal_ragged/Small/Small.meta.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd192_causal_ragged/Small/Small.support.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd192_causal_ragged/Small/Small.tensors.dvc
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd192_nomask_ragged/Small/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd192_nomask_ragged/Small/Small.meta.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd192_nomask_ragged/Small/Small.support.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd192_nomask_ragged/Small/Small.tensors.dvc
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/generate_golden_data.sh
  dnn-providers/integration-tests/reference-data-scripts/tests/test_verify_golden_bundles.py
  dnn-providers/integration-tests/reference-data-scripts/verify_golden_bundles.py
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/detail/FlatbufferTensorAttributesUtils.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke): gfx942 bf16 MLA prefill kernel, dispatch and verification (AICK-1502)
  .gitignore
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/common/mla_shapes.py
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx942/attention/prefill/benchmark_mla_prefill_live.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/mla/__init__.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/mla/ref_mla_attn.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/mla/verify_score_probe_gfx942.py
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/mla/__init__.py
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/mla/common.py
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/mla/gfx942.py
  dnn-providers/hip-kernel-provider/rocke/library/examples/gfx942/mla_prefill/README.md
  dnn-providers/hip-kernel-provider/rocke/library/kernels/mla/__init__.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/mla/mla_prefill_gfx942.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/mla/__init__.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/mla/test_mla_prefill_gfx942_wiring.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/golden/mla_prefill_gfx942_ir_sha256.json
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_mla_benchmark_shapes.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_mla_prefill_gfx942.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_mla_prefill_gfx942_golden.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_mla_reference.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/SUPPORT_MATRIX.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

perf(rocke): three latency-hiding levers for gfx942 MLA prefill (AICK-1502)
  dnn-providers/hip-kernel-provider/rocke/library/kernels/mla/mla_prefill_gfx942.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/golden/mla_prefill_gfx942_ir_sha256.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocke): MLA prefill optimization case study (AICK-1502)
  dnn-providers/hip-kernel-provider/rocke/library/examples/gfx942/mla_prefill/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(rocke): align MLA dispatch with the shared dispatch core (AICK-1502)
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/mla/__init__.py
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/mla/common.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/mla/test_mla_prefill_gfx942_wiring.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/test_core_helpers.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(uhd): size the next training round and generate the shapes it asks for
  projects/hipdnn/tools/corpus_gen/CorpusGen.cpp
  projects/hipdnn/tools/corpus_gen/include/hipdnn_corpus_gen/OperationMetadata.hpp
  projects/hipdnn/tools/corpus_gen/include/hipdnn_corpus_gen/PoolAssembly.hpp
  projects/hipdnn/tools/corpus_gen/include/hipdnn_corpus_gen/ProblemSpace.hpp
  projects/hipdnn/tools/corpus_gen/include/hipdnn_corpus_gen/RegimeFocus.hpp
  projects/hipdnn/tools/corpus_gen/tests/TestPoolAssembly.cpp
  projects/hipdnn/tools/corpus_gen/tests/TestRegimeLabel.cpp
  projects/hipdnn/tools/uhd_gen/README.md
  projects/hipdnn/tools/uhd_gen/__main__.py
  projects/hipdnn/tools/uhd_gen/generate.py
  projects/hipdnn/tools/uhd_gen/sizing.py
  projects/hipdnn/tools/uhd_gen/tests/test_generate_collections.py
  projects/hipdnn/tools/uhd_gen/tests/test_sizing.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

revert(miopen): remove gfx1250 from the MIOpen dev image arch lists (ALMIOPEN-2820)
  projects/miopen/vars/utils.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

address review feedback
  projects/rocblas/TESTING.md
  projects/rocblas/clients/gtest/test_categories.yaml
  projects/rocblas/rtest.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(miopen): add reduce shape limit regression tests (ALMIOPEN-2718)
  projects/miopen/test/gtest/reduce_shape_limits.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
