Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

perf(tensilelite): schedule device alpha load
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_r6_rich_gfx1250_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

wip(hipblaslt): plumb device scalar alpha
  projects/hipblaslt/library/src/amd_detail/rocblaslt/include/rocblaslt-types.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_auxiliary.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_mat.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove redundant assert
  projects/hipblaslt/utilities/geko/geko/bench/bench.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

predicate the packed layout of the wvSpltK kernels
  projects/hipblaslt/tensilelite/Tensile/AddCustomConfig.py
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/Contractions.py
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/rocblas/wvSpltK_hf_m1.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/rocblas/wvSpltK_hf_m2.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/rocblas/wvSpltK_hf_m4.s
  projects/hipblaslt/tensilelite/Tensile/Tests/custom/custom_rocblas_gemv.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/custom/custom_rocblas_gemv_m2.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/custom/custom_rocblas_gemv_m4.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/ValidParameters/__snapshots__/test_builders_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/ValidParameters/test_validators_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomKernelMetadata.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Add temp docs/scripts/tests/yamls/kernels during dev
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/tensilelite/epilogues/README.md
  projects/hipblaslt/tensilelite/epilogues/YAMLs/baseline_bf16_k1_winner.yaml
  projects/hipblaslt/tensilelite/epilogues/YAMLs/epilogues_bf16_k1.yaml
  projects/hipblaslt/tensilelite/epilogues/YAMLs/epilogues_bf16_residualout_k1.yaml
  projects/hipblaslt/tensilelite/epilogues/YAMLs/epilogues_mxfp8_k1.yaml
  projects/hipblaslt/tensilelite/epilogues/YAMLs/residual_nostoreback_bf16_k1_winner.yaml
  projects/hipblaslt/tensilelite/epilogues/__init__.py
  projects/hipblaslt/tensilelite/epilogues/bf16_epilogue_perf_results.md
  projects/hipblaslt/tensilelite/epilogues/docs/GEMM_PARTIALRMS_LIBRARY.md
  projects/hipblaslt/tensilelite/epilogues/docs/KERNEL_SELECTION.md
  projects/hipblaslt/tensilelite/epilogues/docs/LIBRARY_CREATION_GUIDE.md
  projects/hipblaslt/tensilelite/epilogues/docs/PARTIALRMS_STREAMK_PARTIALBUF_BUG.md
  projects/hipblaslt/tensilelite/epilogues/docs/PARTIALRMS_WG2X4_KNOWN_ISSUE.md
  projects/hipblaslt/tensilelite/epilogues/docs/TUNING_PIPELINE.md
  projects/hipblaslt/tensilelite/epilogues/docs/epilogue_overhead_analysis.md
  projects/hipblaslt/tensilelite/epilogues/docs/mxfp8_scaled_wg4x1_base_gemm_bug.md
  projects/hipblaslt/tensilelite/epilogues/docs/repro_subtile_1ldsbuffer_bug.sh
  projects/hipblaslt/tensilelite/epilogues/docs/repro_subtile_1ldsbuffer_bug.yaml
  projects/hipblaslt/tensilelite/epilogues/docs/tensilelite-kernel-arguments.md
  projects/hipblaslt/tensilelite/epilogues/gen/gen_asm_logic.py
  projects/hipblaslt/tensilelite/epilogues/kernels/README.md
  projects/hipblaslt/tensilelite/epilogues/kernels/row_div.s
  projects/hipblaslt/tensilelite/epilogues/kernels/row_div_quant.s
  projects/hipblaslt/tensilelite/epilogues/kernels/row_rstd.s
  projects/hipblaslt/tensilelite/epilogues/kernels/small_reduction.s
  projects/hipblaslt/tensilelite/epilogues/pyproject.toml
  projects/hipblaslt/tensilelite/epilogues/scripts/build_asm_library.sh
  projects/hipblaslt/tensilelite/epilogues/scripts/run_epilogue_tests.sh
  projects/hipblaslt/tensilelite/epilogues/torch/gemm_rmsnorm.py
  projects/hipblaslt/tensilelite/epilogues/torch/requiremnts.txt
  projects/hipblaslt/tensilelite/epilogues/torch/scale_norm.py
  projects/hipblaslt/tensilelite/scripts/benchmark_yaml.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

added total share % to the plot script
  projects/hipblaslt/scripts/plot_wgm.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add runtime checks for gfx1250 MX GEMM parameters
  projects/composablekernel/tile_engine/ops/gemm/mx_gemm/mx_gemm_profiler.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): add Python epilogue emitters for PartialRMS, dynamic quant, and DeepseekScale
  projects/hipblaslt/tensilelite/Tensile/BenchmarkProblems.py
  projects/hipblaslt/tensilelite/Tensile/ClientWriter.py
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/Common/RequiredParameters.py
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/Components/Signature.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/InstructionEmitter.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/InstructionScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileDynamicQuant.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGREmit.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGeometry.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileLREmit.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtilePartialRMSEmit.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileResidualAddEmit.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileScaleEmit.py
  projects/hipblaslt/tensilelite/Tensile/Contractions.py
  projects/hipblaslt/tensilelite/Tensile/Hardware.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/LibraryIO.py
  projects/hipblaslt/tensilelite/Tensile/LogicFilter.py
  projects/hipblaslt/tensilelite/Tensile/SolutionLibrary.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Naming.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Problem.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/epilogues_k1_bf16.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/epilogues_k1_bf16_no_residual_out.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/epilogues_k1_bf16_streamk_split.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/epilogues_k1_mxfp8.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/epilogues_k1_mxfp8_no_residual_out.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/test_config_run.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_data/cpu_only_clientconfig.golden.ini
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_epilogue_validation.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_logic_filter.py
  projects/hipblaslt/tensilelite/Tensile/bin/TensileLogicFilter
  projects/hipblaslt/tensilelite/rocisa_stinkytofu_adaptor/rocisa_stinkytofu_adaptor/code.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(integration-tests): drop Gpu from validator test case names
  dnn-providers/integration-tests/tests/TestTestConfig.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): add C++ host support for PartialRMS, dynamic quant, and DeepseekScale epilogues
  projects/hipblaslt/tensilelite/client/include/ClientProblemFactory.hpp
  projects/hipblaslt/tensilelite/client/include/DataInitialization.hpp
  projects/hipblaslt/tensilelite/client/include/ProgramOptions.hpp
  projects/hipblaslt/tensilelite/client/include/Reference.hpp
  projects/hipblaslt/tensilelite/client/include/TypedId.hpp
  projects/hipblaslt/tensilelite/client/main.cpp
  projects/hipblaslt/tensilelite/client/src/ClientProblemFactory.cpp
  projects/hipblaslt/tensilelite/client/src/DataInitialization.cpp
  projects/hipblaslt/tensilelite/client/src/Reference.cpp
  projects/hipblaslt/tensilelite/client/src/ReferenceValidator.cpp
  projects/hipblaslt/tensilelite/include/Tensile/ContractionProblem.hpp
  projects/hipblaslt/tensilelite/include/Tensile/ContractionProblemPredicates.hpp
  projects/hipblaslt/tensilelite/include/Tensile/ContractionProblem_Detail.hpp
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Serialization/Base.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Serialization/ContractionPredicates.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Serialization/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/include/Tensile/UtilsOrigami.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/code.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/code.cpp
  projects/hipblaslt/tensilelite/src/ContractionProblem.cpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/src/hip/HipSolutionAdapter.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): add fused RMSNorm epilogue APIs
  projects/hipblaslt/clients/tests/src/CMakeLists.txt
  projects/hipblaslt/clients/tests/src/hipblaslt_gtest_epilogue_chain.cpp
  projects/hipblaslt/device-library/CMakeLists.txt
  projects/hipblaslt/device-library/partial-rms/CMakeLists.txt
  projects/hipblaslt/device-library/row-div/CMakeLists.txt
  projects/hipblaslt/docs/design/fused_epilogue_rmsnorm.md
  projects/hipblaslt/docs/how-to/how-to-build-test-fused-rmsnorm.md
  projects/hipblaslt/library/include/hipblaslt/hipblaslt.h
  projects/hipblaslt/library/src/amd_detail/hipblaslt.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/include/rocblaslt-types.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/handle.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/utility.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_auxiliary.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_mat.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/utility.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(tensilelite): handle TextBlock items in macro_inline pass
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/pass/macro_inline.cpp
  projects/hipblaslt/tensilelite/rocisa/test/test_macro_inline.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): extend epilogue chain with MXfp8 quant and E2E tests
  projects/hipblaslt/clients/tests/src/hipblaslt_gtest_epilogue_chain.cpp
  projects/hipblaslt/device-library/CMakeLists.txt
  projects/hipblaslt/docs/how-to/how-to-build-test-fused-rmsnorm.md
  projects/hipblaslt/library/include/hipblaslt/hipblaslt.h
  projects/hipblaslt/library/src/amd_detail/hipblaslt.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/include/rocblaslt-types.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Prefetch every partition two macro tiles ahead for the four-deep tail
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hipblaslt): fix epilogue chain test compilation and runtime failures
  projects/hipblaslt/clients/tests/src/hipblaslt_gtest_epilogue_chain.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): select MX quant DQuant sizes by problem orientation
  projects/hipblaslt/clients/tests/src/hipblaslt_gtest_epilogue_chain.cpp
  projects/hipblaslt/docs/how-to/how-to-build-test-fused-rmsnorm.md
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(hipblaslt): add gfx950 Origami logic for partialRMS epilogue chains
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/partialrms_residual_mxfp8quant_residualout_scaled_mxfp8_k1_Cijk_Alik_Bljk_F8F8S_MXAE8B32_MXBE8B32_H_PRMS_RA_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/partialrms_residualadd_storebf16d_bf16_k1_Cijk_Alik_Bljk_BBS_H_PRMS_RA_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): validate the RMSNorm handoff buffer on the consumer call
  projects/hipblaslt/clients/tests/src/hipblaslt_gtest_epilogue_chain.cpp
  projects/hipblaslt/library/include/hipblaslt/hipblaslt.h
  projects/hipblaslt/library/src/amd_detail/hipblaslt.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): replace per-solution CPU re-run with per-row partialRMS validation
  projects/hipblaslt/tensilelite/client/include/ReferenceValidator.hpp
  projects/hipblaslt/tensilelite/client/src/ClientProblemFactory.cpp
  projects/hipblaslt/tensilelite/client/src/Reference.cpp
  projects/hipblaslt/tensilelite/client/src/ReferenceValidator.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): use caller-owned RMSNorm handoff storage
  projects/hipblaslt/clients/tests/src/hipblaslt_gtest_epilogue_chain.cpp
  projects/hipblaslt/docs/design/fused_epilogue_rmsnorm.md
  projects/hipblaslt/library/include/hipblaslt/hipblaslt.h
  projects/hipblaslt/library/src/amd_detail/hipblaslt.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(hipblaslt): update the design doc (#11147)
  projects/hipblaslt/docs/design/fused_epilogue_rmsnorm.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): update gfx950 library logic YAMLs for MegaFused epilogue
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Equality/bench_fused_bf16_partialrms_residualadd_Cijk_Alik_Bljk_BBS_H_RMSE_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Equality/partialrms_residual_mxfp8quant_residualout_scaled_mxfp8_k1_Cijk_Alik_Bljk_F8F8S_MXAE8B32_MXBE8B32_H_RMSE_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/alphavec2_sweep_bf16_k1_Cijk_Alik_Bljk_BBS_H_FDN_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/alphavec2_sweep_mxfp8_k1_Cijk_Alik_Bljk_F8BS_MXAE8B32_MXBE8B32_H_FDN_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/partialrms_residual_mxfp8quant_residualout_scaled_mxfp8_k1_Cijk_Alik_Bljk_F8F8S_MXAE8B32_MXBE8B32_H_PRMS_RA_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/partialrms_residualadd_storebf16d_bf16_k1_Cijk_Alik_Bljk_BBS_H_PRMS_RA_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

(rocblas) Switched rocblas default backend from Tensile to hipBLASLt for f64 on gfx950 (#12424)
  projects/rocblas/library/src/tensile_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

prep for more changes to land soon
  projects/rocblas/CMakeLists.txt
  projects/rocblas/bump_develop_version.sh
  shared/tensile/CHANGELOG.md
  shared/tensile/HostLibraryTests/CMakeLists.txt
  shared/tensile/Tensile/__init__.py
  shared/tensile/Tensile/cmake/TensileConfigVersion.cmake
  shared/tensile/bump-version.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

docs(ck-tile): remove MX validation report from source tree
  projects/composablekernel/dispatcher/docs/mx_gemm.md
  projects/composablekernel/dispatcher/docs/mx_gemm_validation.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci(codeowners): assign hipDNN and MIOpen workflow files to their teams (#12504)
  .github/CODEOWNERS
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix (rocprim): Update lookback scan and ordered_block_id optimizations to include gfx1250 (#11620)
  projects/rocprim/CHANGELOG.md
  projects/rocprim/rocprim/include/rocprim/config.hpp
  projects/rocprim/rocprim/include/rocprim/device/config_types.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/lookback_scan_state.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/ordered_block_id.hpp
  projects/rocprim/rocprim/include/rocprim/intrinsics/atomic.hpp
  projects/rocprim/rocprim/include/rocprim/thread/thread_load.hpp
  projects/rocprim/rocprim/include/rocprim/thread/thread_store.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add return type for callable_proxy
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/hipstd.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(hipblaslt): tuning B8F8 F8B8BS F8BS TN for gfx950_id75a3 (#12109)
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950_id75a3/Equality/gfx950_Cijk_Alik_Bljk_B8F8_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950_id75a3/Equality/gfx950_Cijk_Alik_Bljk_F8B8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950_id75a3/Equality/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Updated scripts to add config info to custom kernels
  projects/hipblaslt/tensilelite/Tensile/AddCustomConfig.py
  projects/hipblaslt/tensilelite/Tensile/AddCustomConfigFolder.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke): support low-bit dynamic loop carries (#11695)
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/lower_llvm/control.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/lower_llvm/core.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/include/rocke/lower_llvm_internal.h
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/lower_llvm.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_lowbit_loop_types.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci(hipdnn): install clang-tidy-20 from Ubuntu archive instead of apt.llvm.org
  .github/workflows/hipdnn-superbuild-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocBLAS): repair d_vector guard logic and HMM accounting
  projects/rocblas/clients/common/host_alloc.cpp
  projects/rocblas/clients/gtest/CMakeLists.txt
  projects/rocblas/clients/gtest/host_alloc_gtest.cpp
  projects/rocblas/clients/include/d_vector.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocBLAS): fail clean-guard test when allocation fails
  projects/rocblas/clients/gtest/host_alloc_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocBLAS): include host_alloc_gtest in next-cmake target
  projects/rocblas/next-cmake/clients/test/src/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(rocBLAS): clang-format 13 d_vector.hpp guard copies
  projects/rocblas/clients/include/d_vector.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocBLAS): run host_alloc guard tests through type dispatch
  projects/rocblas/clients/gtest/aux_gtest.yaml
  projects/rocblas/clients/gtest/host_alloc_gtest.cpp
  projects/rocblas/next-cmake/clients/test/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocBLAS): add host_alloc_gtest.yaml data for the guard suite
  projects/rocblas/clients/gtest/host_alloc_gtest.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocBLAS): guard the glibc inttypes workaround in rocblas_random.hpp
  projects/rocblas/clients/common/host_alloc.cpp
  projects/rocblas/clients/gtest/CMakeLists.txt
  projects/rocblas/clients/gtest/host_alloc_gtest.cpp
  projects/rocblas/clients/include/d_vector.hpp
  projects/rocblas/clients/include/rocblas_random.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(rocBLAS): size the guard check buffer to the guard, not the cap
  projects/rocblas/clients/include/d_vector.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
