Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Add ExpertSchedulingMode (#1716)
  tensilelite/Tensile/Components/GlobalWriteBatch.py
  tensilelite/Tensile/Components/SIA.py
  tensilelite/Tensile/KernelWriter.py
  tensilelite/Tensile/KernelWriterAssembly.py
  tensilelite/Tensile/SolutionStructs/Solution.py
  tensilelite/Tensile/Tests/common/gemm/gfx12/b8f8ss_grvw1_gfx12.yaml
  tensilelite/Tensile/Tests/common/gemm/gfx12/fp16_tn_gfx12.yaml
  tensilelite/Tensile/Tests/common/gemm/gfx12/fp8_gfx12.yaml
  tensilelite/rocisa/rocisa/include/hardware_caps.hpp
  tensilelite/rocisa/rocisa/include/instruction/common.hpp
  tensilelite/rocisa/rocisa/src/instruction/common.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add copyright into rocroller host (#1994)
  library/src/amd_detail/rocblaslt/src/include/rocroller_host.hpp
  library/src/amd_detail/rocblaslt/src/rocroller_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

update TN_BBS_STA TN_F8NBS_STA_SABV gridbased
  library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bljk_BBS_STA_BH_Bias_HAS_SAV_UserArgs.yaml
  library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bljk_F8NBS_STA_BH_Bias_HAS_SABV_SAV_UserArgs.yaml
  library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bljk_F8NBS_STA_BH_Bias_HAS_SAB_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixed, explicit rocisa build path.
  CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Added kernels for BBS_TN_NT_NN (#1980)
  library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Ailk_Bjlk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942_80cu/Equality/aquavanjaram_Cijk_Ailk_Bjlk_BBS_BH_UserArgs.yaml
  library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942_80cu/Equality/aquavanjaram_Cijk_Ailk_Bljk_BBS_BH_UserArgs.yaml
  library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942_80cu/Equality/aquavanjaram_Cijk_Alik_Bljk_BBS_BH_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocPRIM] Disable int tests in `test_lookback_reproducibility.cpp` (#725)
  projects/hipccl/hipccl3/rocprim/CHANGELOG.md
  projects/hipccl/hipccl3/rocprim/test/rocprim/test_lookback_reproducibility.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocPRIM] Disable int tests in `test_lookback_reproducibility.cpp` (#725)
  projects/hipccl/hipccl2/rocprim/CHANGELOG.md
  projects/hipccl/hipccl2/rocprim/test/rocprim/test_lookback_reproducibility.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocPRIM] Disable int tests in `test_lookback_reproducibility.cpp` (#725)
  CHANGELOG.md
  test/rocprim/test_lookback_reproducibility.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipCUB] Mergeback 6.4 changes (#466) (#476)
  projects/hipccl/hipccl3/hipcub/CHANGELOG.md
  projects/hipccl/hipccl3/hipcub/CMakeLists.txt
  projects/hipccl/hipccl3/hipcub/test/hipcub/test_hipcub_device_radix_sort.hpp
  projects/hipccl/hipccl3/hipcub/test/hipcub/test_utils_data_generation.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipCUB] Mergeback 6.4 changes (#466) (#476)
  projects/hipccl/hipccl2/hipcub/CHANGELOG.md
  projects/hipccl/hipccl2/hipcub/CMakeLists.txt
  projects/hipccl/hipccl2/hipcub/test/hipcub/test_hipcub_device_radix_sort.hpp
  projects/hipccl/hipccl2/hipcub/test/hipcub/test_utils_data_generation.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add FP4 target suite.
  scripts/lib/rrperf/rrsuites.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix errors that would occur when attempting to compile a C program with rocSPARSE (#1035)
  CHANGELOG.md
  clients/samples/CMakeLists.txt
  library/include/internal/level1/rocsparse_axpyi.h
  library/include/internal/level1/rocsparse_dotci.h
  library/include/internal/level1/rocsparse_doti.h
  library/include/internal/level1/rocsparse_gthr.h
  library/include/internal/level1/rocsparse_gthrz.h
  library/include/internal/level1/rocsparse_roti.h
  library/include/internal/level1/rocsparse_sctr.h
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add compilation of C program using hipSPARSE (#609)
  CMakeLists.txt
  clients/samples/CMakeLists.txt
  clients/samples/example_axpyi.c
  clients/samples/example_c_headers.c
  library/include/hipsparse-auxiliary.h
  library/include/hipsparse-generic-auxiliary.h
  library/include/hipsparse.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Addition of CI targets gfx94x. Remove old targets that are no longer supported (#3625)
  Jenkinsfile
  vars/utils.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add half precision to SDDMM routine (#1031)
  clients/benchmarks/rocsparse_routine.cpp
  clients/common/rocsparse_host.cpp
  clients/include/rocsparse_host.hpp
  clients/include/testing_sddmm.hpp
  clients/include/testing_sddmm_dispatch.hpp
  clients/include/type_dispatch.hpp
  clients/testings/testing_sddmm.cpp
  clients/tests/rocsparse_test_config.hpp
  clients/tests/rocsparse_test_dispatch.hpp
  clients/tests/rocsparse_test_dispatch_enum.hpp
  clients/tests/rocsparse_test_template.hpp
  clients/tests/rocsparse_test_template_traits.hpp
  clients/tests/test_sddmm.cpp
  clients/tests/test_sddmm.yaml
  library/include/internal/generic/rocsparse_sddmm.h
  library/src/include/utility.h
  library/src/level3/rocsparse_sddmm.cpp
  library/src/level3/rocsparse_sddmm.hpp
  library/src/level3/rocsparse_sddmm_coo.cpp
  library/src/level3/rocsparse_sddmm_coo_aos.cpp
  library/src/level3/rocsparse_sddmm_coox_kernel.hpp
  library/src/level3/rocsparse_sddmm_csc.cpp
  library/src/level3/rocsparse_sddmm_csr.cpp
  library/src/level3/rocsparse_sddmm_csx_kernel.hpp
  library/src/level3/rocsparse_sddmm_ell.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix moe i4 example bug (#2139)
  example/65_gemm_multiply_multiply/moe_gemm1_xdl_pk_i4.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add ck tile examples to package (#1880)
  example/CMakeLists.txt
  example/ck_tile/01_fmha/CMakeLists.txt
  example/ck_tile/02_layernorm2d/CMakeLists.txt
  example/ck_tile/03_gemm/CMakeLists.txt
  example/ck_tile/03_gemm/stript.sh
  example/ck_tile/04_img2col/CMakeLists.txt
  example/ck_tile/05_reduce/CMakeLists.txt
  example/ck_tile/06_permute/CMakeLists.txt
  example/ck_tile/09_topk_softmax/CMakeLists.txt
  example/ck_tile/10_rmsnorm2d/CMakeLists.txt
  example/ck_tile/11_add_rmsnorm2d_rdquant/CMakeLists.txt
  example/ck_tile/11_add_rmsnorm2d_rdquant/add_rmsnorm2d_rdquant_fwd.cpp
  example/ck_tile/11_add_rmsnorm2d_rdquant/example_add_rmsnorm2d_rdquant_fwd.cpp
  example/ck_tile/12_smoothquant/CMakeLists.txt
  example/ck_tile/13_moe_sorting/CMakeLists.txt
  example/ck_tile/14_moe_smoothquant/CMakeLists.txt
  example/ck_tile/15_fused_moe/CMakeLists.txt
  example/ck_tile/16_batched_gemm/CMakeLists.txt
  example/ck_tile/17_grouped_gemm/CMakeLists.txt
  example/ck_tile/18_flatmm/CMakeLists.txt
  example/ck_tile/35_batched_transpose/CMakeLists.txt
  example/ck_tile/CMakeLists.txt
  include/ck_tile/ops/flatmm/pipeline/flatmm_pipeline_agmem_bgmem_creg_v1.hpp
  include/ck_tile/ops/gemm/pipeline/gemm_pipeline_problem.hpp
  include/ck_tile/ops/gemm/pipeline/tile_gemm_traits.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CTest - Pointing the tests to the correct location of the sample files. (#183)
  tests/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

WIP: Windows compatibility changes for C++ code. (#1967)
  clients/common/blis_interface.cpp
  clients/common/hipblaslt_init_device.cpp
  clients/common/hipblaslt_parse_data.cpp
  clients/common/utility.cpp
  clients/gtest/hipblaslt_test.cpp
  clients/include/TensorDataManipulation.hpp
  clients/include/datatype_interface.hpp
  clients/include/hipblaslt_arguments.hpp
  clients/include/hipblaslt_init.hpp
  clients/include/hipblaslt_random.hpp
  clients/include/testing_matmul.hpp
  library/CMakeLists.txt
  library/include/hipblaslt/hipblaslt-ext.hpp
  library/src/amd_detail/hipblaslt-ext-op-internal.hpp
  library/src/amd_detail/hipblaslt-ext-op.cpp
  library/src/amd_detail/hipblaslt-ext.cpp
  library/src/amd_detail/rocblaslt/include/rocblaslt-auxiliary.h
  library/src/amd_detail/rocblaslt/src/CMakeLists.txt
  library/src/amd_detail/rocblaslt/src/include/logging.h
  library/src/amd_detail/rocblaslt/src/rocblaslt_auxiliary.cpp
  library/src/amd_detail/rocblaslt/src/rocblaslt_transform.cpp
  library/src/amd_detail/rocblaslt/src/tensile_host.cpp
  library/src/amd_detail/rocblaslt/src/utility.cpp
  library/src/hipblaslt_ostream.cpp
  library/src/include/hipblaslt_ostream.hpp
  tensilelite/Tensile/Source/client/include/DataInitialization.hpp
  tensilelite/Tensile/Source/lib/include/Tensile/Serialization/PlaceholderLibrary.hpp
  tensilelite/Tensile/Source/lib/source/ContractionSolution.cpp
  tensilelite/Tensile/Source/lib/source/MLPNet.cpp
  tensilelite/Tensile/Source/lib/source/hip/HipSolutionAdapter.cpp
  tensilelite/rocisa/rocisa/src/helper.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Check RMA functional test data in GPU kernel (#91)
  tests/functional_tests/primitive_tester.cpp
  tests/functional_tests/tester.cpp
  tests/functional_tests/tester.hpp
  tests/functional_tests/verify_results_kernels.hpp
  tests/functional_tests/wavefront_primitives.cpp
  tests/functional_tests/workgroup_primitives.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

reorganized the conceptual and reference sections a bit
  docs/conceptual/concepts.rst
  docs/conceptual/rocPRIM-operations.rst
  docs/conceptual/rocPRIM-performance-tuning.rst
  docs/conceptual/rocPRIM-scope.rst
  docs/conceptual/rocPRIM-stripe-block.rst
  docs/conceptual/rocPRIM-type-traits.rst
  docs/conf.py
  docs/device_ops/partial_sort.rst
  docs/device_ops/select.rst
  docs/index.rst
  docs/reference/developer.rst
  docs/reference/iterators.rst
  docs/reference/ops_summary.rst
  docs/reference/reference.rst
  docs/reference/rocPRIM-data-type-support.rst
  docs/reference/rocPRIM-glossary.rst
  docs/reference/types.rst
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Check max-ilp-scheduling compiler option for moe_gemm examples (#2127)
  example/65_gemm_multiply_multiply/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Hermetic build (#1993)
  library/src/amd_detail/rocblaslt/src/extops/CMakeLists.txt
  next-cmake/CMakeLists.txt
  next-cmake/README.rst
  next-cmake/device-library/extops/CMakeLists.txt
  tensilelite/AMaxGenerator.py
  tensilelite/ExtOpCreateLibrary.py
  tensilelite/LayerNormGenerator.py
  tensilelite/SoftmaxGenerator.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[next-cmake] Make BLIS actually optional. (#1996)
  next-cmake/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[cmake-next] Make final tweaks needed to build as part of TheRock. (#1997)
  next-cmake/CMakeLists.txt
  next-cmake/clients/CMakeLists.txt
  next-cmake/clients/common/src/CMakeLists.txt
  next-cmake/cmake/hipblaslt_python.cmake
  next-cmake/device-library/CMakeLists.txt
  next-cmake/device-library/extops/CMakeLists.txt
  tensilelite/Tensile/TensileCreateLibrary/__main__.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[cmake-next] Add HIPBLASLT_BUILD_SHARED flag. (#1998)
  next-cmake/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[TileEngine] Support for sparsity in codegen (#2128)
  tile_engine/ops/gemm/README.md
  tile_engine/ops/gemm/gemm_host_api.cpp
  tile_engine/ops/gemm/gemm_host_api.hpp
  tile_engine/ops/gemm/gemm_instance_builder.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Support for MFMA_16x16x128 for fp8/bf8 (#2125)
  include/ck_tile/ops/epilogue/cshuffle_epilogue.hpp
  include/ck_tile/ops/epilogue/default_2d_epilogue.hpp
  include/ck_tile/ops/gemm/block/block_universal_gemm_as_bs_cr.hpp
  include/ck_tile/ops/gemm/warp/warp_gemm.hpp
  include/ck_tile/ops/gemm/warp/warp_gemm_attribute_mfma_impl.hpp
  include/ck_tile/ops/gemm/warp/warp_gemm_dispatcher.hpp
  tile_engine/ops/gemm/CMakeLists.txt
  tile_engine/ops/gemm/gemm_instance_builder.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add Matrix A and Matrix B Swizzle for LDS in Computev4 policy (#2136)
  include/ck_tile/ops/gemm/pipeline/gemm_pipeline_ag_bg_cr_comp_v4.hpp
  include/ck_tile/ops/gemm/pipeline/gemm_pipeline_ag_bg_cr_comp_v4_default_policy.hpp
  include/ck_tile/ops/gemm/pipeline/gemm_universal_pipeline_ag_bg_cr_policy.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

* CI: Added AV1 stability test to CI. (#576)
  .jenkins/common.groovy
  test/testScripts/run_rocDecodeSamples.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Sparse, when compressing matrix at client, if cpuInput.current is not set use cpuInput.valid instead. * cpuInput.current will be set when validation is enabled.
  tensilelite/Tensile/Source/client/source/DataInitialization.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix lds padding vgpr alignment
  tensilelite/Tensile/KernelWriterAssembly.py
  tensilelite/Tensile/Tests/common/gemm/fp32_nt.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

unify env variables and use DPRINTF (#89)
  src/bootstrap/CMakeLists.txt
  src/bootstrap/bootstrap.cpp
  src/bootstrap/env.cpp
  src/bootstrap/env.hpp
  src/bootstrap/socket.cpp
  src/bootstrap/utils.cpp
  src/bootstrap/utils.hpp
  src/ipc_policy.cpp
  src/reverse_offload/mpi_transport.cpp
  src/rocshmem.cpp
  src/util.cpp
  src/util.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update the scheduling for BF16/F16 on gfx950. (#1871)
  tensilelite/Tensile/KernelWriter.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Mergeback 6.4 changes (#219) (#220)
  CHANGELOG.md
  CMakeLists.txt
  rmake.py
  toolchain-windows.cmake
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[cmake-next] Fix various issues in exports. (#1999)
  next-cmake/CMakeLists.txt
  next-cmake/clients/CMakeLists.txt
  next-cmake/cmake/hipblaslt-config.cmake.in
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Run CI jobs as user jenkins (#2141)
  Dockerfile
  Jenkinsfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixing unchecked rocsparse operation from the client executables. (#1036)
  clients/benchmarks/rocsparse_bench.cpp
  clients/tests/rocsparse_test_main.cpp
  library/src/handle.cpp
  library/src/rocsparse_debug.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

MIOpenDriver: exit with status 1 on usage error (#3686)
  driver/driver.hpp
  driver/tensorop_driver.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Change word "execution" with "scheduling"
  library/src/handle.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
