Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

Disable Mma pipeline fp4 tests for now. Will revisit later.
  projects/composablekernel/test/ck_tile/core/arch/mma/pipeline/test_amdgcn_scale_mma.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Adapt sparse mma pipeline and tests to make old tests work. Working but needs more cleanup.
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/mfma/selector.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/sparse_mma_pipeline.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/sparse_transforms.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/wmma/selector.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/utility/tile_distribution_encoding_calculator.hpp
  projects/composablekernel/include/ck_tile/ops/sageattention.hpp
  projects/composablekernel/test/ck_tile/core/arch/mma/pipeline/test_amdgcn_sparse_mma.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Allow non-scale unification dispatcher calls to use AttrNumAccess greater than 1.
  projects/composablekernel/include/ck_tile/ops/gemm/warp/warp_gemm_dispatcher_unification.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Pipeline cleanup
  projects/composablekernel/include/ck_tile/core/arch/mma/mma_wavewise.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/scale/scale_mma_pipeline.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/sparse_mma_pipeline.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/sparse_transforms.hpp
  projects/composablekernel/test/ck_tile/core/arch/mma/pipeline/pipeline_tests_helper.hpp
  projects/composablekernel/test/ck_tile/core/arch/mma/pipeline/test_amdgcn_sparse_mma.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add sampling to the grouped rowcolquant and tensorcolquant
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_rowcolquant/CMakeLists.txt
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_rowcolquant/grouped_gemm_rowcolquant_instance_builder.py
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_tensorquant/CMakeLists.txt
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_tensorquant/grouped_gemm_tensorquant_instance_builder.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[ci] Merge stinkytofu/rocisa CI into Component CI and fix required checks
  .github/scripts/component_ci.py
  .github/workflows/component-ci.yml
  .github/workflows/rocisa-ci.yml
  .github/workflows/stinkytofu-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[ci] Use explicit == true for boolean matrix conditions in Component CI
  .github/workflows/component-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Added unit test for KernelWriterBetaOnly, ShiftVectorComponents and WorkGroupMappingAlgos
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_KernelWriterBetaOnly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_ShiftVectorComponents.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_WorkGroupMappingAlgos.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

grouped gemm rowcolquant tile engine support
  projects/composablekernel/Jenkinsfile
  projects/composablekernel/tile_engine/operation_support_matrix.md
  projects/composablekernel/tile_engine/ops/gemm/CMakeLists.txt
  projects/composablekernel/tile_engine/ops/gemm/gemm_instance_builder.py
  projects/composablekernel/tile_engine/ops/gemm/gemm_validation_utils.py
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/CMakeLists.txt
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_rowcolquant/CMakeLists.txt
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_rowcolquant/configs/default_ci_config.json
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_rowcolquant/configs/default_config.json
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_rowcolquant/configs/user_provided_config.json
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_rowcolquant/grouped_gemm_rowcolquant_benchmark.hpp
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_rowcolquant/grouped_gemm_rowcolquant_benchmark.py
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_rowcolquant/grouped_gemm_rowcolquant_benchmark_single.cpp
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_rowcolquant/grouped_gemm_rowcolquant_common.hpp
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_rowcolquant/grouped_gemm_rowcolquant_instance_builder.py
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_rowcolquant/grouped_gemm_rowcolquant_profiler.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

update rowcolquant benchamrk script to re-use methods from benchmark utils instead of implementing them again
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_rowcolquant/grouped_gemm_rowcolquant_benchmark.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

minor fix for rowcolquant benchmarking
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_rowcolquant/grouped_gemm_rowcolquant_benchmark.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add tensorquant to the tile engine
  projects/composablekernel/Jenkinsfile
  projects/composablekernel/tile_engine/ops/gemm/gemm_instance_builder.py
  projects/composablekernel/tile_engine/ops/gemm/gemm_validation_utils.py
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/CMakeLists.txt
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_tensorquant/CMakeLists.txt
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_tensorquant/configs/default_ci_config.json
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_tensorquant/configs/default_config.json
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_tensorquant/configs/user_provided_config.json
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_tensorquant/grouped_gemm_tensorquant_benchmark.hpp
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_tensorquant/grouped_gemm_tensorquant_benchmark.py
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_tensorquant/grouped_gemm_tensorquant_benchmark_single.cpp
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_tensorquant/grouped_gemm_tensorquant_common.hpp
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_tensorquant/grouped_gemm_tensorquant_instance_builder.py
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_tensorquant/grouped_gemm_tensorquant_profiler.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add sampling to the grouped rowcolquant and tensorcolquant
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_rowcolquant/CMakeLists.txt
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_rowcolquant/grouped_gemm_rowcolquant_instance_builder.py
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_tensorquant/CMakeLists.txt
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_tensorquant/grouped_gemm_tensorquant_instance_builder.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Fix clang-tidy path filters for dorny/paths-filter
  .github/workflows/clang-tidy.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Clean up CDNA5 DAG scheduler ready-queue
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Add dummy file to test CI trigger
  shared/stinkytofu/dummy-ci-test.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocroller] Add dummy file to test CI skip-to-summary
  shared/rocroller/dummy-ci-test.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

suppress clang warnings when using gcc
  projects/composablekernel/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Clean code. Add/improve comments
  projects/rocsolver/clients/common/lapack/testing_cholqr.hpp
  projects/rocsolver/clients/gtest/lapack/cholqr_gtest.cpp
  projects/rocsolver/library/src/lapack/roclapack_cholqr.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] Add rocm_ck spec factories: GemmSpec, makeSpec()
  projects/composablekernel/rocm_ck/README.md
  projects/composablekernel/rocm_ck/include/rocm_ck/gemm_spec.hpp
  projects/composablekernel/rocm_ck/include/rocm_ck/ops.hpp
  projects/composablekernel/rocm_ck/include/rocm_ck/spec_json.hpp
  projects/composablekernel/rocm_ck/include/rocm_ck/validate.hpp
  projects/composablekernel/rocm_ck/tests/CMakeLists.txt
  projects/composablekernel/rocm_ck/tests/compile_fail/CMakeLists.txt
  projects/composablekernel/rocm_ck/tests/compile_fail/block_tile_indivisible.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/block_tile_k_indivisible.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/block_tile_n_indivisible.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/block_tile_negative.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/block_waves_k_not_1.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/block_waves_negative.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/direct2d_with_d_tensor.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/duplicate_scalar.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/first_op_not_gemm.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/fp8_wave_tile_wrong_target.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/i4_without_quantize.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/i8_on_gfx90a.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/i8_pipeline_v1.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/i8_wrong_acc_dtype.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/interwave_requires_memory.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/invalid_wave_tile.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/k_batch_zero.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/preshuffle_a_not_row.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/preshuffle_b_not_col.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/scale_missing_scalar.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/streamk_with_splitk.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/tensor_no_name.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/too_many_epilogue_ops.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/too_many_ops.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/too_many_physical_tensors.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/wave_tile_negative.cpp
  projects/composablekernel/rocm_ck/tests/unit/unit_gemm_spec.cpp
  projects/composablekernel/rocm_ck/tests/unit/unit_schema_compatibility.cpp
  projects/composablekernel/rocm_ck/tests/unit/unit_validate.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update TheRock ref to 602e40d
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-nightly.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-ci.yml
  .github/workflows/therock-test-component.yml
  .github/workflows/therock-test-packages.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] Address review feedback on rocm_ck GemmSpec and test infrastructure
  projects/composablekernel/rocm_ck/include/rocm_ck/gemm_spec.hpp
  projects/composablekernel/rocm_ck/include/rocm_ck/spec_json.hpp
  projects/composablekernel/rocm_ck/include/rocm_ck/validate.hpp
  projects/composablekernel/rocm_ck/tests/CMakeLists.txt
  projects/composablekernel/rocm_ck/tests/compile_fail/CMakeLists.txt
  projects/composablekernel/rocm_ck/tests/compile_fail/block_tile_indivisible.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/block_waves_k_not_1.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/invalid_wave_tile.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/k_batch_zero.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/too_many_epilogue_ops.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/too_many_ops.cpp
  projects/composablekernel/rocm_ck/tests/compile_fail/too_many_physical_tensors.cpp
  projects/composablekernel/rocm_ck/tests/unit/unit_gemm_spec.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

use hip_runtime_error exception everywhere, macroize common catch block
  projects/hipfft/clients/tests/hipfft_accuracy_test.cpp
  projects/hipfft/clients/tests/hipfftw_test.cpp
  projects/hipfft/shared/accuracy_test.h
  projects/hipfft/shared/client_except.h
  projects/hipfft/shared/fft_params.h
  projects/hipfft/shared/mpi_worker.h
  projects/hipfft/shared/reference_fft_data.h
  projects/hipfft/shared/test_callbacks.cpp
  projects/hipfft/shared/test_callbacks.h
  projects/hipfft/shared/test_params.h
  projects/rocfft/clients/tests/bitwise_repro/bitwise_repro_test.cpp
  projects/rocfft/clients/tests/bitwise_repro/bitwise_repro_test.h
  projects/rocfft/clients/tests/gtest_main.cpp
  projects/rocfft/clients/tests/hermitian_test.cpp
  projects/rocfft/clients/tests/rocfft_accuracy_test.cpp
  projects/rocfft/clients/tests/unit_test.cpp
  projects/rocfft/shared/accuracy_test.h
  projects/rocfft/shared/client_except.h
  projects/rocfft/shared/fft_params.h
  projects/rocfft/shared/mpi_worker.h
  projects/rocfft/shared/reference_fft_data.h
  projects/rocfft/shared/test_callbacks.cpp
  projects/rocfft/shared/test_callbacks.h
  projects/rocfft/shared/test_params.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Improve documentation
  projects/rocsolver/library/include/rocsolver/rocsolver-functions.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK_TILE] Restructure naive GEMM tutorial
  projects/composablekernel/tutorial/ck_tile/gemm/01_naive_gemm/BLOCK_LEVEL_PIPELINE.md
  projects/composablekernel/tutorial/ck_tile/gemm/01_naive_gemm/HOST_LEVEL_PIPELINE.md
  projects/composablekernel/tutorial/ck_tile/gemm/01_naive_gemm/KERNEL_ENTRY_POINT.md
  projects/composablekernel/tutorial/ck_tile/gemm/01_naive_gemm/README.md
  projects/composablekernel/tutorial/ck_tile/gemm/01_naive_gemm/TILE_DISTRIBUTION.md
  projects/composablekernel/tutorial/ck_tile/gemm/01_naive_gemm/WALKTHROUGH.md
  projects/composablekernel/tutorial/ck_tile/gemm/01_naive_gemm/block_gemm_asmem_bsmem_creg.hpp
  projects/composablekernel/tutorial/ck_tile/gemm/01_naive_gemm/block_gemm_asmem_bsmem_creg_policy.hpp
  projects/composablekernel/tutorial/ck_tile/gemm/01_naive_gemm/block_gemm_pipeline_agmem_bgmem_creg.hpp
  projects/composablekernel/tutorial/ck_tile/gemm/01_naive_gemm/block_gemm_pipeline_agmem_bgmem_creg_policy.hpp
  projects/composablekernel/tutorial/ck_tile/gemm/01_naive_gemm/grid_gemm.hpp
  projects/composablekernel/tutorial/ck_tile/gemm/01_naive_gemm/practice_gemm.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix ifdefs for clang warnings
  projects/composablekernel/codegen/include/ck/host/types.hpp
  projects/composablekernel/codegen/src/headers.cpp
  projects/composablekernel/codegen/test/include/test.hpp
  projects/composablekernel/example/ck_tile/01_fmha/codegen/ops/fmha_fwd_splitkv.py
  projects/composablekernel/example/ck_tile/01_fmha/fmha_fwd_runner.hpp
  projects/composablekernel/example/ck_tile/20_grouped_convolution/grouped_convolution_utils.hpp
  projects/composablekernel/experimental/builder/test/unit_device_buffer.cpp
  projects/composablekernel/include/ck/tensor_operation/gpu/grid/gridwise_batched_gemm_gemm_wmma_cshuffle_v3.hpp
  projects/composablekernel/include/ck/utility/amd_address_space.hpp
  projects/composablekernel/include/ck/utility/amd_cluster_load.hpp
  projects/composablekernel/include/ck/utility/c_style_pointer_cast.hpp
  projects/composablekernel/include/ck/utility/env.hpp
  projects/composablekernel/include/ck_tile/core/arch/amd_buffer_addressing.hpp
  projects/composablekernel/include/ck_tile/core/arch/amd_buffer_addressing_builtins.hpp
  projects/composablekernel/include/ck_tile/core/arch/amd_cluster_load.hpp
  projects/composablekernel/include/ck_tile/core/arch/arch.hpp
  projects/composablekernel/include/ck_tile/core/tensor/tensor_adaptor_coordinate.hpp
  projects/composablekernel/include/ck_tile/core/tensor/tile_elementwise.hpp
  projects/composablekernel/include/ck_tile/core/utility/debug.hpp
  projects/composablekernel/include/ck_tile/core/utility/env.hpp
  projects/composablekernel/include/ck_tile/core/utility/type_traits.hpp
  projects/composablekernel/include/ck_tile/host/joinable_thread.hpp
  projects/composablekernel/include/ck_tile/ops/flatmm/block/flatmm_32x512x128_1x4x1_16x16x32.hpp
  projects/composablekernel/include/ck_tile/ops/flatmm/block/flatmm_sn_32x128x512_1x4x1_16x16x32.hpp
  projects/composablekernel/include/ck_tile/ops/flatmm/block/flatmm_sn_32x128x512_1x4x1_16x16x32_itl.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/block/cast_tile_mx.hpp
  projects/composablekernel/profiler/include/profiler/profile_contraction_utils.hpp
  projects/composablekernel/test/ck_tile/flatmm/test_mx_flatmm_base.hpp
  projects/composablekernel/test/common/csv_test_loader.hpp
  projects/composablekernel/test/grouped_convnd_bwd_data/test_grouped_convnd_bwd_data_dataset_xdl.cpp
  projects/composablekernel/test/grouped_convnd_bwd_weight/test_grouped_convnd_bwd_weight_dataset_xdl.cpp
  projects/composablekernel/test/grouped_convnd_fwd/test_grouped_convnd_fwd_dataset_xdl.cpp
  projects/composablekernel/test/grouped_gemm/test_grouped_gemm_fixed_nk_bias.cpp
  projects/composablekernel/test/grouped_gemm/test_grouped_gemm_multi_abd_fixed_nk.cpp
  projects/composablekernel/test/grouped_gemm/test_grouped_gemm_util.hpp
  projects/composablekernel/test/grouped_gemm_tile_loop/test_grouped_gemm_tile_loop_util.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixed typo in 'cba.hpp'
  projects/miopen/src/include/miopen/tensor_holder.hpp
  projects/miopen/test/driver.hpp
  projects/miopen/test/gtest/cba.hpp
  projects/miopen/test/gtest/conv_activ.hpp
  projects/miopen/test/gtest/conv_activ_infer.cpp
  projects/miopen/test/gtest/cpu_multi_head_attention.hpp
  projects/miopen/test/gtest/deepbench_conv.cpp
  projects/miopen/test/gtest/lstm.hpp
  projects/miopen/test/gtest/mha_helper.hpp
  projects/miopen/test/rnn_util.hpp
  projects/miopen/test/serialize.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK_TILE] Add tile distribution encoding tutorials
  projects/composablekernel/tutorial/ck_tile/CMakeLists.txt
  projects/composablekernel/tutorial/ck_tile/tile_distribution/CMakeLists.txt
  projects/composablekernel/tutorial/ck_tile/tile_distribution/README.md
  projects/composablekernel/tutorial/ck_tile/tile_distribution/tile_distribution_1.cpp
  projects/composablekernel/tutorial/ck_tile/tile_distribution/tile_distribution_2.cpp
  projects/composablekernel/tutorial/ck_tile/tile_distribution/tile_distribution_3.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix one more ifdef
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_batched_gemm_gemm_wmma_cshuffle_v3_common.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

use different check for __clang__ in older files
  projects/composablekernel/include/rapidjson/document.h
  projects/composablekernel/include/rapidjson/encodedstream.h
  projects/composablekernel/include/rapidjson/error/en.h
  projects/composablekernel/include/rapidjson/error/error.h
  projects/composablekernel/include/rapidjson/filereadstream.h
  projects/composablekernel/include/rapidjson/filewritestream.h
  projects/composablekernel/include/rapidjson/internal/diyfp.h
  projects/composablekernel/include/rapidjson/internal/regex.h
  projects/composablekernel/include/rapidjson/istreamwrapper.h
  projects/composablekernel/include/rapidjson/memorystream.h
  projects/composablekernel/include/rapidjson/ostreamwrapper.h
  projects/composablekernel/include/rapidjson/pointer.h
  projects/composablekernel/include/rapidjson/reader.h
  projects/composablekernel/include/rapidjson/schema.h
  projects/composablekernel/include/rapidjson/writer.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Enable coverage options for project in superbuild
  .github/workflows/therock-ci-linux.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

remove whitespace
  .github/workflows/therock-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add an example code coverage work flow
  .github/workflows/therock-ci-linux.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add coverage step in CI
  .github/workflows/therock-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Rename back to projects_to_test (plural)
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK][CK_DSL] Add prefill attention benchmark docs
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/README.md
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/skills/bisect-perf-regression.md
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/skills/capture-kernel-trace-ckdsl.md
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/skills/empirical-case-studies.md
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/skills/gemm-optimization-ckdsl.md
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/skills/kernel-launch-guide.md
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/skills/kernel-trace-analysis.md
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/skills/lds-optimization-ckdsl.md
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/skills/prefetch-data-load-ckdsl.md
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/stage1_benchmark/_ua_shape_utils.py
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/stage1_benchmark/benchmark_ckdsl_unified_attention.py
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/stage1_benchmark/benchmark_triton_unified_attention.py
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/stage3_extract_isa/compare_ua_hsacos.py
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/stage3_extract_isa/count_instructions.py
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/stage3_extract_isa/extract_isa.py
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/stage4_analyze/analyze_lds_conflicts.py
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/stage4_analyze/analyze_prefetch_efficiency.py
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/stage4_analyze/parse_kernel_trace.py
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/stage5_compare/compare_rocprof_stats.py
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/utils/compare_isa.py
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/utils/extract_ck_dsl_isa.py
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/utils/profile_register_usage.py
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/utils/rocm_tools.py
  projects/composablekernel/python/ck_dsl/examples/attention/benchmark_prefill2d_traces.py
  projects/composablekernel/python/ck_dsl/examples/attention/prefill2d_bf16_triton_ckdsl_perf.csv
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK][CK_DSL] Add prefill attention benchmark docs
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/README.md
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/skills/bisect-perf-regression.md
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/skills/capture-kernel-trace-ckdsl.md
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/skills/empirical-case-studies.md
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/skills/gemm-optimization-ckdsl.md
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/skills/kernel-launch-guide.md
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/skills/kernel-trace-analysis.md
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/skills/lds-optimization-ckdsl.md
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/skills/prefetch-data-load-ckdsl.md
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/stage1_benchmark/_ua_shape_utils.py
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/stage1_benchmark/benchmark_ckdsl_unified_attention.py
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/stage1_benchmark/benchmark_triton_unified_attention.py
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/stage3_extract_isa/compare_ua_hsacos.py
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/stage3_extract_isa/count_instructions.py
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/stage3_extract_isa/extract_isa.py
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/stage4_analyze/analyze_lds_conflicts.py
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/stage4_analyze/analyze_prefetch_efficiency.py
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/stage4_analyze/parse_kernel_trace.py
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/stage5_compare/compare_rocprof_stats.py
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/utils/compare_isa.py
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/utils/extract_ck_dsl_isa.py
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/utils/profile_register_usage.py
  projects/composablekernel/python/ck_dsl/dsl_docs/optimization/mlse_kernel_optimization/tools/utils/rocm_tools.py
  projects/composablekernel/python/ck_dsl/examples/attention/benchmark_prefill2d_traces.py
  projects/composablekernel/python/ck_dsl/examples/attention/prefill2d_bf16_triton_ckdsl_perf.csv
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix lint
  .github/workflows/therock-ci-linux.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

consume project_name in test step as well
  .github/workflows/therock-ci-linux.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix keyname
  .github/workflows/therock-ci-linux.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
