Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

fix: replace ninja with cmake --build for generator-agnostic builds
  projects/hipdnn/tools/dnn-benchmarking/setup.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

remove unit test
  projects/miopen/test/gtest/unit_FinInterface.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvOclDirectFwdGen.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Initial support for gfx90c
  projects/hipblas/clients/common/utility.cpp
  projects/hipblas/clients/include/utility.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add cleanup workaround
  projects/hipblas/clients/gtest/hipblas_gtest_main.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(01-01): add failing tests for suite runner
  projects/hipdnn/tools/dnn-benchmarking/.planning/PROJECT.md
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/execution/test_suite_runner.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs: initialize project
  projects/hipdnn/tools/dnn-benchmarking/.planning/PROJECT.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(01-01): implement suite runner with provider/engine iteration and correctness checking
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/config/benchmark_config.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/execution/suite_runner.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/reporting/suite_results.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(01-01): complete suite execution core plan
  projects/hipdnn/tools/dnn-benchmarking/.planning/phases/01-suite-execution-engine/01-01-SUMMARY.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(01-01): add unit tests for suite result data model serialization
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/reporting/test_suite_results.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix: restore accidentally deleted PROJECT.md
  projects/hipdnn/tools/dnn-benchmarking/.planning/PROJECT.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(01-02): add failing tests for suite CLI parser and run_suite workflow
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/cli/__init__.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/cli/test_suite_cli.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(01-02): implement suite CLI with glob patterns, run_suite workflow, and reporter methods
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/cli/main.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/cli/parser.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/reporting/reporter.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/cli/test_suite_cli.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

chore: remove planning files from tracking
  projects/hipdnn/tools/dnn-benchmarking/.planning/PROJECT.md
  projects/hipdnn/tools/dnn-benchmarking/.planning/phases/01-suite-execution-engine/01-01-SUMMARY.md
  projects/hipdnn/tools/dnn-benchmarking/.planning/phases/01-suite-execution-engine/01-02-SUMMARY.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(phase-01): address code review findings (WR-01..04, IN-01..04)
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/cli/main.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/config/benchmark_config.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/execution/suite_runner.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/reporting/suite_results.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/cli/__init__.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/cli/test_suite_cli.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/execution/test_suite_runner.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/reporting/test_suite_reporter.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/reporting/test_suite_results.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(01-02): complete suite CLI integration plan
  projects/hipdnn/tools/dnn-benchmarking/.planning/phases/01-suite-execution-engine/01-02-SUMMARY.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(01-02): add unit tests for suite reporter progress and summary output
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/reporting/test_suite_reporter.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test: add GPU integration tests for suite execution
  projects/hipdnn/tools/dnn-benchmarking/tests/integration/test_suite_execution.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs: update requirements-rocm.txt and CLAUDE.md for suite mode
  projects/hipdnn/tools/dnn-benchmarking/CLAUDE.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style: apply black formatting to suite mode files
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/cli/main.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/execution/suite_runner.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/reporting/reporter.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/reporting/suite_results.py
  projects/hipdnn/tools/dnn-benchmarking/tests/integration/test_suite_execution.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/cli/test_suite_cli.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/execution/test_suite_runner.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/reporting/test_suite_reporter.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/reporting/test_suite_results.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor: unify single-graph and suite execution paths
  projects/hipdnn/tools/dnn-benchmarking/CLAUDE.md
  projects/hipdnn/tools/dnn-benchmarking/README.md
  projects/hipdnn/tools/dnn-benchmarking/cli-mode-unification.txt
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/cli/main.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/cli/parser.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/config/benchmark_config.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/execution/suite_runner.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/reporting/reporter.py
  projects/hipdnn/tools/dnn-benchmarking/tests/integration/test_cli_integration.py
  projects/hipdnn/tools/dnn-benchmarking/tests/integration/test_suite_execution.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/cli/test_suite_cli.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/execution/test_suite_runner.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/reporting/test_suite_reporter.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs: clean up CLAUDE.md, add ROCm PyTorch setup guide
  projects/hipdnn/tools/dnn-benchmarking/CLAUDE.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor: simplify CLI flags — unify engine, tolerances, remove redundant options
  projects/hipdnn/tools/dnn-benchmarking/.gitignore
  projects/hipdnn/tools/dnn-benchmarking/CLAUDE.md
  projects/hipdnn/tools/dnn-benchmarking/README.md
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/cli/main.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/cli/parser.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/config/benchmark_config.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/execution/suite_runner.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/reporting/suite_results.py
  projects/hipdnn/tools/dnn-benchmarking/tests/conftest.py
  projects/hipdnn/tools/dnn-benchmarking/tests/integration/test_cli_integration.py
  projects/hipdnn/tools/dnn-benchmarking/tests/integration/test_execution.py
  projects/hipdnn/tools/dnn-benchmarking/tests/integration/test_suite_execution.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/cli/test_suite_cli.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/execution/test_suite_runner.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/reporting/test_suite_results.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix: address code review feedback on suite-mode benchmarking
  projects/hipdnn/tools/dnn-benchmarking/CLAUDE.md
  projects/hipdnn/tools/dnn-benchmarking/README.md
  projects/hipdnn/tools/dnn-benchmarking/cli-mode-unification.txt
  projects/hipdnn/tools/dnn-benchmarking/requirements-rocm.txt
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/cli/main.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/cli/parser.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/config/benchmark_config.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/execution/suite_runner.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/reporting/reporter.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/reporting/statistics.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/reporting/suite_results.py
  projects/hipdnn/tools/dnn-benchmarking/tests/integration/test_cli_integration.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/cli/test_suite_cli.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/execution/test_suite_runner.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/reporting/test_suite_reporter.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/reporting/test_suite_results.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs: fix manual install instructions to use --no-deps after requirements
  projects/hipdnn/tools/dnn-benchmarking/CLAUDE.md
  projects/hipdnn/tools/dnn-benchmarking/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test: update test to match create_gpu_timer auto=None fallback behavior
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/execution/test_timing.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix: handle unset node compute_data_type and missing GPU timer gracefully
  projects/hipdnn/tools/dnn-benchmarking/graphs/sample_conv_fwd.json
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/execution/executor.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/execution/timing.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix: restore requirements-rocm.txt to develop state
  projects/hipdnn/tools/dnn-benchmarking/requirements-rocm.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

small comment
  projects/composablekernel/include/ck/ck.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

block comment support in parsing
  shared/race-emulator/include/race-emulator/Parsing.h
  shared/race-emulator/include/race-emulator/Util.h
  shared/race-emulator/src/Parsing.cpp
  shared/race-emulator/src/Util.cpp
  shared/race-emulator/tests/parsing_tests.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add first test of gfx950
  shared/race-emulator/tests/asm/gfx950/copy.s
  shared/race-emulator/tests/e2e_hip_general.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

new instruction: v_permlane_swap
  shared/race-emulator/src/VectorInstructions.cpp
  shared/race-emulator/tests/vector_instruction_tests.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

mention support for gfx950
  shared/race-emulator/.github/CODEOWNERS
  shared/race-emulator/README.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Unify event lifecycle: all events go through WAVE_COMPLETE for simplicity
  shared/race-emulator/include/race-emulator/Wave.h
  shared/race-emulator/include/race-emulator/Workgroup.h
  shared/race-emulator/src/Wave.cpp
  shared/race-emulator/src/Workgroup.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

documentation checks for clang-tidy
  shared/race-emulator/.clang-tidy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

peg in the ground for current state. Runs but numerical failures
  shared/race-emulator/tests/e2e_tensilelite.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

additional unit tests
  shared/race-emulator/tests/scalar_instruction_tests.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Make wavesize strongly typed
  shared/race-emulator/include/race-emulator/Arch.h
  shared/race-emulator/include/race-emulator/Parsing.h
  shared/race-emulator/include/race-emulator/Wave.h
  shared/race-emulator/include/race-emulator/Workgroup.h
  shared/race-emulator/src/Emulator.cpp
  shared/race-emulator/src/Parsing.cpp
  shared/race-emulator/src/Wave.cpp
  shared/race-emulator/tests/control_flow_instruction_tests.cpp
  shared/race-emulator/tests/e2e_hip_general.cpp
  shared/race-emulator/tests/e2e_tensilelite.cpp
  shared/race-emulator/tests/gpu_validation/gfx942/validate_instructions.hip
  shared/race-emulator/tests/memory_instruction_tests.cpp
  shared/race-emulator/tests/race_tests.cpp
  shared/race-emulator/tests/scalar_instruction_tests.cpp
  shared/race-emulator/tests/vector_instruction_tests.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add mfma for gfx950
  shared/race-emulator/src/MfmaInstructions.cpp
  shared/race-emulator/tests/vector_instruction_tests.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ability to merge profiles
  shared/race-emulator/include/race-emulator/Profiler.h
  shared/race-emulator/src/Profiler.cpp
  shared/race-emulator/tests/profiler_tests.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

remove nextEventId
  shared/race-emulator/include/race-emulator/Workgroup.h
  shared/race-emulator/src/Workgroup.cpp
  shared/race-emulator/tests/e2e_tensilelite.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
