Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

doc(hipsparselt): [AIROCDOC-3764] follow-up on hipsparselt API reference revamping (#10709)
  projects/hipsparselt/docs/reference/api-reference.rst
  projects/hipsparselt/docs/reference/datatypes.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(umd): move the escape hatch out of the expression language
  dnn-providers/hip-kernel-provider/include/hip_kernel_provider_common/umd/UmdCompiler.hpp
  dnn-providers/hip-kernel-provider/src/tests/core/TestUniversalGraphMatcher.cpp
  projects/hipdnn/docs/rfcs/0018_UMD_PoC_Plan.md
  projects/hipdnn/docs/rfcs/0018_UniversalMatchDescriptor.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(hip-kernel-provider): spell the SdpaPlanUtils include from an include root
  dnn-providers/hip-kernel-provider/src/integration_tests/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/AsmSdpaConfigHelpers.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipsparselt): restore prune_test and compress_test instantiation broken by TGate dispatch extension
  projects/hipsparselt/clients/test/compress_gtest.cpp
  projects/hipsparselt/clients/test/prune_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): address remaining Copilot review issues in rowcolquant/tensorquant bridges
  projects/composablekernel/dispatcher/bindings/ctypes/grouped_gemm_rowcolquant_ctypes_lib.cpp
  projects/composablekernel/dispatcher/bindings/ctypes/grouped_gemm_tensorquant_ctypes_lib.cpp
  projects/composablekernel/dispatcher/tests/test_rowcolquant_gpu_correctness.py
  projects/composablekernel/dispatcher/tests/test_tensorquant_gpu_correctness.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocrand): force fma use (#10604)
  projects/rocrand/library/include/rocrand/rocrand_normal.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(origami): cherry-pick heuristic tuning bindings for gfx1201 campaign
  shared/origami/include/origami/heuristics.hpp
  shared/origami/python/src/origami/__init__.py
  shared/origami/python/src/origami/bindings.cpp
  shared/origami/python/tests/baselines/rankings/gfx1100.yaml
  shared/origami/src/origami/gemm.cpp
  shared/origami/src/origami/heuristics.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

always use recursion
  projects/rocsolver/library/src/lapack/roclapack_potrf.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(origami): restore doc-comment opener lost in cherry-pick merge
  shared/origami/include/origami/heuristics.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): Fix clang_rt search for asan per-target-runtime-dir (#10347)
  .github/workflows/hipblaslt-asan-ci.yml
  projects/hipblaslt/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(ck-tile): apply clang-format-18 to rowcolquant/tensorquant ctypes cleanup
  projects/composablekernel/dispatcher/bindings/ctypes/grouped_gemm_rowcolquant_ctypes_lib.cpp
  projects/composablekernel/dispatcher/bindings/ctypes/grouped_gemm_tensorquant_ctypes_lib.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(ck-tile): skip intermediate host copies on the non-shuffled bridge path
  projects/composablekernel/dispatcher/bindings/ctypes/gemm_abquant_ctypes_lib.cpp
  projects/composablekernel/dispatcher/bindings/ctypes/gemm_bquant_ctypes_lib.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix out-of-bounds fill value for I8 in geometric ops to use -128 instead of 0
  projects/rpp/src/include/common/cpu/rpp_cpu_interpolation.hpp
  projects/rpp/src/include/common/cpu/rpp_cpu_simd_load_store.hpp
  projects/rpp/src/include/common/hip/rpp_hip_interpolation.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(umd): carry a compiled UMD's id as UUID bytes
  dnn-providers/hip-kernel-provider/include/hip_kernel_provider_common/umd/UmdCompiler.hpp
  dnn-providers/hip-kernel-provider/include/hip_kernel_provider_common/umd/UniversalGraphMatcher.hpp
  dnn-providers/hip-kernel-provider/src/tests/core/TestUniversalGraphMatcher.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci: point MIOPEN_SYSTEM_DB_PATH at the artifact bin dir on Windows (#10081)
  .github/workflows/therock-test-component.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): address Copilot review issues in contraction_multi_abd bridge (PR #10238)
  projects/composablekernel/dispatcher/bindings/ctypes/batched_contraction_multi_abd_ctypes_lib.cpp
  projects/composablekernel/dispatcher/python/contraction_multi_abd_utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ci): add timeout-minutes: 30 to Download hipBLASLt ASAN trees step (#10682)
  .github/workflows/hipblaslt-asan-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(hipdnn_torch): drop in-branch frontend bindings; adopt PR #10600
  projects/hipdnn/python/frontend_bindings/CMakeLists.txt
  projects/hipdnn/python/frontend_bindings/src/attributes_bindings.cpp
  projects/hipdnn/python/frontend_bindings/src/graph_bindings.cpp
  projects/hipdnn/python/frontend_bindings/src/types_bindings.cpp
  projects/hipdnn/python/hipdnn_torch/hipdnn_torch/sdpa.py
  projects/hipdnn/python/hipdnn_torch/reference/vllm-integration-techniques.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

docs(hipdnn_torch): build SDPA-ON frontend + get bindings from PR #10600
  projects/hipdnn/python/hipdnn_torch/LOCAL_DEV.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci(rpp): enable RPP build and test in TheRock CI (#10510)
  .github/actions/ci-env/action.yml
  .github/scripts/tests/therock_configure_ci_test.py
  .github/scripts/tests/therock_matrix_test.py
  .github/scripts/therock_configure_ci.py
  .github/scripts/therock_matrix.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

added flakey test
  projects/rocprim/testing.md
  projects/rocrand/testing.md
  projects/rocthrust/testing.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): address validation findings in contraction_multi_abd bridge (PR #10238)
  projects/composablekernel/dispatcher/bindings/ctypes/batched_contraction_multi_abd_ctypes_lib.cpp
  projects/composablekernel/dispatcher/codegen/contraction_multi_abd_codegen.py
  projects/composablekernel/dispatcher/python/contraction_multi_abd_utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

added hipCUB testing.md
  projects/hipcub/testing.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

update wording for naive timout env limitation
  projects/miopen/docs/reference/env_variables.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hipdnn): conform pointwise test names
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestPointwiseOperationsCpuGraphExecutor.cpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestPointwisePlan.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocsolver): guard the rocsparse lookup for in-tree builds
  projects/rocsolver/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(ck-tile): add missing tests for contraction_multi_abd bridge fixes (PR #10238)
  projects/composablekernel/dispatcher/tests/test_contraction_multi_abd_bridge.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Convert Origami S_MX_B kernels to SK5
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Ailk_Bjlk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Ailk_Bljk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Alik_Bjlk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Alik_Bljk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Ailk_Bjlk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Ailk_Bljk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Alik_Bjlk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Alik_Bljk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Ailk_Bljk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Alik_Bjlk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Alik_Bljk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(ck-tile): apply clang-format-18 to contraction_multi_abd bridge files (PR #10238)
  projects/composablekernel/dispatcher/bindings/ctypes/batched_contraction_multi_abd_ctypes_lib.cpp
  projects/composablekernel/include/ck_tile/ops/batched_contraction/kernel/batched_contraction_multi_abd_kernel.hpp
  projects/composablekernel/tile_engine/ops/gemm/contraction_multi_abd/contraction_multi_abd_benchmark.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(origami): correct the gfx1201 hardware descriptor in the test helpers
  shared/origami/python/tests/baselines/rankings/gfx1201.yaml
  shared/origami/python/tests/helpers.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipfft): align behavior for single-process, multi-device hipfft across backends (#9318)
  projects/hipfft/CHANGELOG.md
  projects/hipfft/clients/hipfft_params.h
  projects/hipfft/clients/tests/CMakeLists.txt
  projects/hipfft/clients/tests/gtest_main.cpp
  projects/hipfft/clients/tests/hipfftxt_test.cpp
  projects/hipfft/clients/tests/multi_device_test.cpp
  projects/hipfft/clients/tests/simple_test.cpp
  projects/hipfft/clients/tests/test_categories.yaml
  projects/hipfft/library/src/amd_detail/hipfft.cpp
  projects/hipfft/library/src/nvidia_detail/hipfft.cpp
  projects/hipfft/shared/fft_enums.h
  projects/hipfft/shared/hip_object_wrapper.h
  projects/hipfft/shared/hipfft_brick.h
  projects/hipfft/shared/reference_fft_data.h
  projects/rocfft/shared/fft_enums.h
  projects/rocfft/shared/hip_object_wrapper.h
  projects/rocfft/shared/reference_fft_data.h
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(stinkytofu): add ModulePass layer with per-function / main-only / module-wide pass scopes (#10629)
  shared/stinkytofu/include/stinkytofu/core/ModulePassManager.hpp
  shared/stinkytofu/include/stinkytofu/core/PassInstrumentation.hpp
  shared/stinkytofu/include/stinkytofu/pipeline/Backend.hpp
  shared/stinkytofu/include/stinkytofu/pipeline/BackendRegistry.hpp
  shared/stinkytofu/include/stinkytofu/pipeline/ModuleAdaptors.hpp
  shared/stinkytofu/include/stinkytofu/pipeline/ScopeAdaptor.hpp
  shared/stinkytofu/include/stinkytofu/support/DebugPrintInstrumentation.hpp
  shared/stinkytofu/include/stinkytofu/transforms/asm/Gfx1250HazardPass.hpp
  shared/stinkytofu/include/stinkytofu/transforms/asm/InsertCoexecHazardPass.hpp
  shared/stinkytofu/include/stinkytofu/transforms/asm/InsertVgprMsbPass.hpp
  shared/stinkytofu/include/stinkytofu/transforms/asm/InsertWaitAluPass.hpp
  shared/stinkytofu/include/stinkytofu/transforms/asm/RemoveDelayAluPass.hpp
  shared/stinkytofu/include/stinkytofu/transforms/asm/RemoveWaitAluPass.hpp
  shared/stinkytofu/src/core/CMakeLists.txt
  shared/stinkytofu/src/core/DebugPrintInstrumentation.cpp
  shared/stinkytofu/src/core/ModulePassManager.cpp
  shared/stinkytofu/src/pipeline/backend/Backend.cpp
  shared/stinkytofu/src/pipeline/backend/Gfx1250Backend.cpp
  shared/stinkytofu/src/transforms/asm/Gfx1250HazardPass.cpp
  shared/stinkytofu/src/transforms/asm/InsertCoexecHazardPass.cpp
  shared/stinkytofu/src/transforms/asm/InsertVgprMsbPass.cpp
  shared/stinkytofu/src/transforms/asm/InsertWaitAluPass.cpp
  shared/stinkytofu/src/transforms/asm/RemoveDelayAluPass.cpp
  shared/stinkytofu/src/transforms/asm/RemoveInstructionPass.cpp
  shared/stinkytofu/src/transforms/asm/RemoveWaitAluPass.cpp
  shared/stinkytofu/src/transforms/asm/SetMatrixReusePass.cpp
  shared/stinkytofu/tests/CMakeLists.txt
  shared/stinkytofu/tests/unit/asm/Gfx1250HazardProfileTest.cpp
  shared/stinkytofu/tests/unit/asm/ModuleAdaptorsTest.cpp
  shared/stinkytofu/tools/stinkytofu-opt/stinkytofu-opt.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(miopen): Build break with GCC 15. (#9642)
  projects/miopen/src/include/miopen/serializable.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke/attention): derive K-single guard in gfx942 bf16 wide geometry
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/attention_unified.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(rocsparse): switch on fill_mode to prepare fill_mode_diagonal
  projects/rocsparse/clients/common/rocsparse_host.cpp
  projects/rocsparse/clients/include/rocsparse_matrix_utils.hpp
  projects/rocsparse/clients/testings/testing_check_matrix_coo.cpp
  projects/rocsparse/clients/testings/testing_csritsv.cpp
  projects/rocsparse/clients/testings/testing_sptrsv.cpp
  projects/rocsparse/library/src/include/rocsparse_csc_to_csr_descr.hpp
  projects/rocsparse/library/src/level2/csrsv_device.h
  projects/rocsparse/library/src/level2/rocsparse_bsrsv_solve.cpp
  projects/rocsparse/library/src/level2/rocsparse_csritsv_analysis.cpp
  projects/rocsparse/library/src/level2/rocsparse_csrsv_analysis_kernels.cpp
  projects/rocsparse/library/src/level2/rocsparse_csrsv_solve.cpp
  projects/rocsparse/library/src/level3/csrsm_device.h
  projects/rocsparse/library/src/level3/rocsparse_bsrsm_template_large.cpp
  projects/rocsparse/library/src/level3/rocsparse_csrsm_solve_impl.cpp
  projects/rocsparse/library/src/util/check_matrix_coo_device.h
  projects/rocsparse/library/src/util/check_matrix_csr_device.h
  projects/rocsparse/library/src/util/check_matrix_gebsr_device.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): make `invoke build --clean` work on Python < 3.12
  projects/hipblaslt/tasks.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

added hiprand testing.md
  projects/hiprand/testing.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): reject 192-dim tiles in batched bridge validity gate (match Old-TE IsSupportedArgument)
  projects/composablekernel/dispatcher/python/batched_gemm_utils.py
  projects/composablekernel/dispatcher/tests/test_batched_bridge.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): guard OOB amdsmi frequency index in HardwareMonitor
  projects/hipblaslt/tensilelite/client/include/HardwareMonitor.hpp
  projects/hipblaslt/tensilelite/client/src/HardwareMonitor.cpp
  projects/hipblaslt/tensilelite/tests/CMakeLists.txt
  projects/hipblaslt/tensilelite/tests/HardwareMonitor_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fixup: scope fix to the OOB frequency index only
  projects/hipblaslt/tensilelite/client/src/HardwareMonitor.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
