Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

Moved getDeviceString to common file
  dnn-providers/hip-kernel-provider/include/hip_kernel_provider_common/HipDeviceUtils.hpp
  dnn-providers/hip-kernel-provider/src/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaFwdPlanBuilder.cpp
  dnn-providers/hip-kernel-provider/src/hip/HipUtils.cpp
  dnn-providers/hip-kernel-provider/src/hip/HipUtils.hpp
  dnn-providers/hip-kernel-provider/src/integration_tests/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/tests/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/tests/TestHipKernelContainer.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/TestAsmSdpaEngine.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/TestSdpaFwdPlanBuilder.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] Keep two-dot git diff syntax in ci_safety_check for safer change detection
  projects/composablekernel/script/dependency-parser/ci_safety_check.sh
  projects/composablekernel/script/dependency-parser/validate_pr.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Final fixes to compile
  dnn-providers/hip-kernel-provider/src/integration_tests/IntegrationGraphVerificationHarness.hpp
  dnn-providers/hip-kernel-provider/src/integration_tests/asm_sdpa_engine/IntegrationGpuSdpaForward.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix incorrectly failing test
  dnn-providers/hip-kernel-provider/src/tests/TestHipKernelContainer.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] Expand build infrastructure pattern to catch all build-related files
  projects/composablekernel/script/dependency-parser/ci_safety_check.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add performance logging flag to hipDNN core (#9)
  projects/hipdnn/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix branch update: use compare API and always check before CI
  .github/scripts/merge_queue.py
  .github/scripts/merge_queue_process.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add descriptor validation to hipDNN core (#10)
  projects/hipdnn/docs/ai-rules.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt][G-F-A] fix MFMA_BF16_1K KeyError of install build
  projects/hipblaslt/tensilelite/Tensile/CustomKernels.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Naming.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

PR review comment fixes
  dnn-providers/integration-tests/gpu_ref/include/hipdnn_gpu_ref/GpuFpReferenceValidation.hpp
  dnn-providers/integration-tests/gpu_ref/kernels/types/GpuRefTypes.h
  dnn-providers/integration-tests/gpu_ref/kernels/types/GpuRefValidatorArgs.h
  dnn-providers/integration-tests/gpu_ref/kernels/validator/GpuRefValidator.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Properly address unescaped chars in PR title
  .github/scripts/notify_teams.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

rocfft: update doc + samples to check/alloc/set per-device work buffers
  projects/rocfft/clients/samples/multi_gpu/mgpu_complex.cpp
  projects/rocfft/docs/how-to/working-with-rocfft.rst
  projects/rocfft/library/include/rocfft/rocfft.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Update projects/composablekernel/script/dependency-parser/ci_safety_check.sh
  projects/composablekernel/script/dependency-parser/ci_safety_check.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix null graph name segfault in fusilli plugin with hash fallback
  dnn-providers/fusilli-provider/include/graph_import.h
  dnn-providers/fusilli-provider/test/test_graph_import.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add reduction graph import to fusilli provider
  dnn-providers/fusilli-provider/include/graph_import.h
  dnn-providers/fusilli-provider/test/integration/CMakeLists.txt
  dnn-providers/fusilli-provider/test/integration/reduction/simple_reduction.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix rocThrust test memory leaks
  projects/rocthrust/test/test_binary_search.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipBLASlt] Optimized equality kernels for OpenPi on gfx1151
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1151/Equality/gfx1151_Cijk_Alik_Bljk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipBLASlt] Optimized large k equality kernels for OpenPi on gfx1151
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1151/Equality/gfx1151_Cijk_Alik_Bljk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Improve supported kernels and add kernel name
  projects/hipblaslt/library/src/amd_detail/hipblaslt-ext.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/custom_kernels.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/include/rocroller_host.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/include/solution_selection.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/rocroller_host.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/solution_selection.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Also remove the transpose based rage solver from the registry
  projects/miopen/src/solver.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

remove duplicate shape
  dnn-providers/integration-tests/src/common/BatchnormCommon.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix pre-commit
  .github/scripts/notify_teams.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix pre-commit2
  .github/scripts/notify_teams.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update changelog and expand tests for large systems
  projects/rocsparse/CHANGELOG.md
  projects/rocsparse/clients/tests/test_gtsv_no_pivot.yaml
  projects/rocsparse/library/src/precond/gtsv/rocsparse_gtsv_no_pivot.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Forgot workspace
  dnn-providers/fusilli-provider/test/integration/reduction/simple_reduction.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Renamed softmaxKernel in mha_solver_forward.cpp
  projects/miopen/src/solver/mha/mha_solver_forward.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update mha_solver_forward.cpp
  projects/miopen/src/solver/mha/mha_solver_forward.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Convert 4 CK fusion solvers from direct CK linking to dlopen runtime loading
  projects/miopen/src/ck_impl/CMakeLists.txt
  projects/miopen/src/ck_impl/ck_fused_bias_activ_impl.cpp
  projects/miopen/src/ck_impl/ck_fused_bias_res_add_activ_impl.cpp
  projects/miopen/src/ck_impl/ck_fused_grp_activ_impl.cpp
  projects/miopen/src/ck_impl/ck_fused_grp_bias_activ_impl.cpp
  projects/miopen/src/include/miopen/solver/ck_grouped_conv_interface.hpp
  projects/miopen/src/include/miopen/solver/ck_grouped_conv_lib_loader.hpp
  projects/miopen/src/solver/ck_grouped_conv_lib_loader.cpp
  projects/miopen/src/solver/conv_ck_igemm_fwd_bias_activ_fused.cpp
  projects/miopen/src/solver/conv_ck_igemm_fwd_bias_res_add_activ_fused.cpp
  projects/miopen/src/solver/conv_ck_igemm_grp_fwd_activ_fused.cpp
  projects/miopen/src/solver/conv_ck_igemm_grp_fwd_bias_activ_fused.cpp
  projects/miopen/test/gtest/unit_ck_grouped_conv_loader.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

new hash
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-nightly.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-ci.yml
  .github/workflows/therock-test-component.yml
  .github/workflows/therock-test-packages.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

TMP: limit threads for building docker
  projects/miopen/Dockerfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Run clang-format on all changed files
  projects/miopen/src/ck_impl/ck_fused_bias_activ_impl.cpp
  projects/miopen/src/ck_impl/ck_fused_bias_res_add_activ_impl.cpp
  projects/miopen/src/ck_impl/ck_fused_grp_activ_impl.cpp
  projects/miopen/src/ck_impl/ck_fused_grp_bias_activ_impl.cpp
  projects/miopen/src/include/miopen/solver/ck_grouped_conv_interface.hpp
  projects/miopen/src/include/miopen/solver/ck_grouped_conv_lib_loader.hpp
  projects/miopen/src/solver/conv_ck_igemm_fwd_bias_activ_fused.cpp
  projects/miopen/src/solver/conv_ck_igemm_fwd_bias_res_add_activ_fused.cpp
  projects/miopen/src/solver/conv_ck_igemm_grp_fwd_activ_fused.cpp
  projects/miopen/src/solver/conv_ck_igemm_grp_fwd_bias_activ_fused.cpp
  projects/miopen/test/gtest/unit_ck_grouped_conv_loader.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixed [[noreturn]] in pooling/solvers.hpp
  projects/miopen/src/include/miopen/pooling/solvers.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix clang-tidy implicit bool conversion in ck_grouped_conv_lib_loader
  projects/miopen/src/solver/ck_grouped_conv_lib_loader.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

limit to 64 threads
  projects/miopen/Dockerfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

solve applicable
  projects/miopen/src/solver/conv/conv_hip_dir2D11x11.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

(CM) Fix MSVC compile warnings.
  projects/hipdnn/samples/example_engine_plugin/CMakeLists.txt
  projects/hipdnn/samples/example_engine_plugin/sample/CMakeLists.txt
  projects/hipdnn/samples/example_engine_plugin/src/CMakeLists.txt
  projects/hipdnn/samples/example_engine_plugin/tests/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix minor review items in CK fusion solver dlopen impl files
  projects/miopen/src/ck_impl/ck_fused_grp_activ_impl.cpp
  projects/miopen/src/ck_impl/ck_fused_grp_bias_activ_impl.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove test related to a different change
  dnn-providers/fusilli-provider/test/integration/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Use wavefront_size() and use op.conditionName
  shared/rocroller/lib/source/CodeGen/ExecuteMaskGenerator.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

(CM) Update Windows content in readme.
  projects/hipdnn/samples/example_engine_plugin/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
