Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[fusilli-provider] Allocate workspace in SDPA integration tests (#6712)
  dnn-providers/fusilli-provider/test/integration/sdpa/simple_sdpa.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK_TILE] Grouped Convolution Backward Data Direct Load (#6624)
  projects/composablekernel/include/ck/tensor_operation/gpu/block/blockwise_gemm_pipeline_xdlops_base.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/block/blockwise_gemm_pipeline_xdlops_selector.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/block/blockwise_gemm_pipeline_xdlops_v1.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_data_multiple_d_xdl_cshuffle_v3.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_xdl_cshuffle_v3.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/grid/gridwise_gemm_xdl_cshuffle_conv_v3.hpp
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_conv_bwd_data/device_grouped_conv_bwd_data_xdl_v3_instance.hpp
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_backward_data.hpp
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_backward_data_xdl.inc
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv2d_bwd_data/CMakeLists.txt
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv2d_bwd_data/xdl/device_grouped_conv2d_bwd_data_xdl_v3_nhwgc_gkyxc_nhwgk_bf16_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv2d_bwd_data/xdl/device_grouped_conv2d_bwd_data_xdl_v3_nhwgc_gkyxc_nhwgk_f16_instance.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hip-kernel-provider CI]: enable the build CI for hip-kernel-provider (#6649)
  .github/repos-config.json
  .github/scripts/therock_matrix.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hipCUB DeviceSegmentedReduce uint32_t Overflow Causes Silent Data Loss (#6636)
  projects/rocprim/rocprim/include/rocprim/device/device_segmented_reduce.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Move SDPA frontend API behind HIPDNN_ENABLE_SDPA feature flag (#6647)
  dnn-providers/fusilli-provider/test/integration/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/integration_tests/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/tests/CMakeLists.txt
  projects/hipdnn/CMakeLists.txt
  projects/hipdnn/frontend/CMakeLists.txt
  projects/hipdnn/frontend/cmake/hipdnn_frontendConfig.cmake.in
  projects/hipdnn/frontend/include/hipdnn_frontend/Graph.hpp
  projects/hipdnn/frontend/tests/TestGraph.cpp
  projects/hipdnn/samples/CMakeLists.txt
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/FrontendGraphFactory.hpp
  projects/hipdnn/test_sdk/tests/CMakeLists.txt
  projects/hipdnn/tests/frontend/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update CODEOWNERS for new component stinkytofu (#6654)
  .github/CODEOWNERS
  .github/labeler.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update CHANGELOG.md for resolved overflow issue (#6721)
  projects/rocprim/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt] Use Origami runtime XCC query in HipAMDGPU selection path (#6551)
  projects/hipblaslt/tensilelite/include/Tensile/hip/HipHardware.hpp
  projects/hipblaslt/tensilelite/src/hip/HipHardware.cpp
  shared/origami/include/origami/hardware.hpp
  shared/origami/python/src/origami/bindings.cpp
  shared/origami/src/origami/hardware.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[miopen] Fix flaky GetitemBwd FP32 test caused by data race in CPU reference (#6728)
  projects/miopen/test/gtest/getitem.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOPEN] Exclude flaky GPU_GetitemBwd_FP32 test for gfx94X (#6677)
  projects/miopen/test/gtest/test_categories.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK_TILE] fix(fmha): support >2GB KV cache in batch prefill via template dispatch (#6653)
  projects/composablekernel/example/ck_tile/01_fmha/codegen/ops/fmha_batch_prefill.py
  projects/composablekernel/example/ck_tile/01_fmha/fmha_fwd.hpp
  projects/composablekernel/include/ck_tile/core/arch/amd_buffer_addressing_builtins.hpp
  projects/composablekernel/include/ck_tile/core/tensor/tile_scatter_gather.hpp
  projects/composablekernel/include/ck_tile/core/utility/type_traits.hpp
  projects/composablekernel/include/ck_tile/ops/fmha.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/block/block_attention_kv_load_mode_enum.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_batch_prefill_pipeline_qr_ks_vs_async.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_problem.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/tile_fmha_traits.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] Fix divide-by-zero crash for grouped conv kernels (#6132)
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_dl.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_explicit.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_multiple_d_wmma_cshuffle_v3.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_multiple_d_xdl_cshuffle.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_two_stage_wmma_cshuffle_v3.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_two_stage_xdl_cshuffle.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_wmma_cshuffle_v3.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_xdl_cshuffle.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_xdl_cshuffle_v3.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/split_k_utils.hpp
  projects/composablekernel/include/ck/tensor_operation/operator_transform/transform_conv_bwd_weight_to_gemm.hpp
  projects/composablekernel/include/ck/tensor_operation/operator_transform/transform_conv_bwd_weight_to_gemm_v2.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add layernorm dynamic tolerance (#6580)
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/DynamicTolerances.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/DynamicTolerancesLayerNorm.hpp
  projects/hipdnn/test_sdk/tests/CMakeLists.txt
  projects/hipdnn/test_sdk/tests/utilities/TestDynamicTolerancesLayerNorm.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Example plugin updates to address review comments and run clang-tidy (#6561)
  projects/hipdnn/samples/CMakeLists.txt
  projects/hipdnn/samples/example_engine_plugin/CMakeLists.txt
  projects/hipdnn/samples/example_engine_plugin/README.md
  projects/hipdnn/samples/example_engine_plugin/README_TEMPLATE.md
  projects/hipdnn/samples/example_engine_plugin/ai_plugin_rename_prompt.md
  projects/hipdnn/samples/example_engine_plugin/sample/ExampleProviderSample.cpp
  projects/hipdnn/samples/example_engine_plugin/src/engines/plans/ConvFwdPlan.cpp
  projects/hipdnn/samples/example_engine_plugin/src/engines/plans/ConvFwdPlan.hpp
  projects/hipdnn/samples/example_engine_plugin/src/engines/plans/ConvFwdPlanBuilder.cpp
  projects/hipdnn/samples/example_engine_plugin/src/engines/plans/ReluPlan.cpp
  projects/hipdnn/samples/example_engine_plugin/src/engines/plans/ReluPlan.hpp
  projects/hipdnn/samples/example_engine_plugin/src/engines/plans/ReluPlanBuilder.cpp
  projects/hipdnn/samples/example_engine_plugin/src/hip/HipCompiledProgram.cpp
  projects/hipdnn/samples/example_engine_plugin/src/hip/HipRunnableKernel.cpp
  projects/hipdnn/samples/example_engine_plugin/src/hip/HipRunnableKernel.hpp
  projects/hipdnn/samples/example_engine_plugin/src/hip/HipUtils.hpp
  projects/hipdnn/samples/example_engine_plugin/tests/CMakeLists.txt
  projects/hipdnn/samples/example_engine_plugin/tests/TestConvFwdPlan.cpp
  projects/hipdnn/samples/example_engine_plugin/tests/TestConvFwdPlanBuilder.cpp
  projects/hipdnn/samples/example_engine_plugin/tests/TestExampleProviderContainer.cpp
  projects/hipdnn/samples/example_engine_plugin/tests/TestExampleProviderEngine.cpp
  projects/hipdnn/samples/example_engine_plugin/tests/TestHelpers.hpp
  projects/hipdnn/samples/example_engine_plugin/tests/TestReluPlan.cpp
  projects/hipdnn/samples/example_engine_plugin/tests/TestReluPlanBuilder.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[hipblaslt] add BBS kernels for gfx942_228cu (#6666)
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942_228cu/Equality/aquavanjaram_Cijk_Ailk_Bjlk_BBS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942_228cu/Equality/aquavanjaram_Cijk_Ailk_Bljk_BBS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942_228cu/Equality/aquavanjaram_Cijk_Alik_Bljk_BBS_BH_Bias_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt][tensilelite] Temporarily disable gfx1250 StreamK tests (#6732)
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_f8gemm_quick.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_hgemm_quick.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_mxf4gemm_quick.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_mxf4gemm_tdm.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_mxf6b8gemm_quick.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_mxf8b6gemm_quick.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_mxf8f4gemm_quick.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_mxf8f4gemm_tdm.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_mxf8gemm_quick.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_mxf8gemm_tdm.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_sgemm_quick.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Add scheduling fence as a hard region boundary (#6702)
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/common.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/instruction/common.cpp
  shared/stinkytofu/hardware/src/gfx/Gfx1250/Gfx1250.cpp
  shared/stinkytofu/include/stinkytofu/ir/asm/StinkyAsmIR.hpp
  shared/stinkytofu/src/conversion/rocisa/AllHwMappings.cpp
  shared/stinkytofu/src/ir/asm/StinkyAsmIR.cpp
  shared/stinkytofu/src/serialization/asm/IRConverter.cpp
  shared/stinkytofu/src/transforms/asm/StinkyBuildImplicitDependencyPass.cpp
  shared/stinkytofu/src/transforms/asm/StinkyDAGSchedulerPass.cpp
  shared/stinkytofu/tests/filecheck/dag_scheduling_fence_wmma_eager.stir
  shared/stinkytofu/tools/tablegen/GenInstructions.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update TheRock CI hash (dc88ae1) (#6694)
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-nightly.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-ci.yml
  .github/workflows/therock-test-component.yml
  .github/workflows/therock-test-packages.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipSPARSELt] Fix PGR2-related condition when using SIA0 in sparse kernel
  projects/hipblaslt/tensilelite/Tensile/Components/SIA.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_f16.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Plugin SDK + Device Properties Infrastructure (RFC 0007 - Part 1/3) (#6467)
  projects/hipdnn/backend/src/CMakeLists.txt
  projects/hipdnn/backend/src/handle/Handle.cpp
  projects/hipdnn/backend/src/handle/Handle.hpp
  projects/hipdnn/backend/src/logging/Logging.hpp
  projects/hipdnn/backend/src/plugin/EnginePluginResourceManager.cpp
  projects/hipdnn/backend/src/plugin/EnginePluginResourceManager.hpp
  projects/hipdnn/backend/src/plugin/HeuristicPlugin.cpp
  projects/hipdnn/backend/src/plugin/HeuristicPlugin.hpp
  projects/hipdnn/backend/src/plugin/HeuristicPluginManager.hpp
  projects/hipdnn/backend/src/plugin/HeuristicPluginResourceManager.cpp
  projects/hipdnn/backend/src/plugin/HeuristicPluginResourceManager.hpp
  projects/hipdnn/backend/src/plugin/PluginResourceManagerBase.hpp
  projects/hipdnn/backend/src/plugin/SharedLibrary.cpp
  projects/hipdnn/backend/tests/CMakeLists.txt
  projects/hipdnn/backend/tests/TestHeuristicPlugin.cpp
  projects/hipdnn/backend/tests/TestHeuristicPluginIntegration.cpp
  projects/hipdnn/backend/tests/TestHeuristicPluginManager.cpp
  projects/hipdnn/backend/tests/TestHeuristicPluginResourceManager.cpp
  projects/hipdnn/backend/tests/TestPluginConstants.hpp
  projects/hipdnn/backend/tests/descriptors/mocks/MockHeuristicPlugin.hpp
  projects/hipdnn/backend/tests/descriptors/mocks/MockHeuristicPluginResourceManager.hpp
  projects/hipdnn/docs/Environment.md
  projects/hipdnn/docs/rfcs/0007_EngineSelectionHeuristicsFramework.md
  projects/hipdnn/flatbuffers_sdk/CMakeLists.txt
  projects/hipdnn/flatbuffers_sdk/include/hipdnn_flatbuffers_sdk/data_objects/v24_12_23/hipdnn_flatbuffers_sdk/data_objects/device_properties_generated.h
  projects/hipdnn/flatbuffers_sdk/include/hipdnn_flatbuffers_sdk/data_objects/v25_9_23/hipdnn_flatbuffers_sdk/data_objects/device_properties_generated.h
  projects/hipdnn/flatbuffers_sdk/schemas/device_properties.fbs
  projects/hipdnn/flatbuffers_sdk/tests/CMakeLists.txt
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/HeuristicsPluginApi.h
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/PluginApi.h
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/PluginApiDataTypes.h
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/PluginDataTypeHelpers.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/heuristic_api_version.h
  projects/hipdnn/plugin_sdk/tests/TestPluginDataTypeHelpers.cpp
  projects/hipdnn/tests/test_plugins/CMakeLists.txt
  projects/hipdnn/tests/test_plugins/TestGoodHeuristicPlugin.cpp
  projects/hipdnn/tests/test_plugins/TestIncompleteHeuristicApiPlugin.cpp
  projects/hipdnn/tests/test_plugins/TestNoOptionalHeuristicPlugin.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[hipDNN] Fix example plugin clang-tidy errors. (#6735)
  projects/hipdnn/samples/example_engine_plugin/tests/TestConvFwdPlanBuilder.cpp
  projects/hipdnn/samples/example_engine_plugin/tests/TestExampleProviderEngine.cpp
  projects/hipdnn/samples/example_engine_plugin/tests/TestReluPlanBuilder.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[miopen-provider]: Fix clang-tidy naming errors in batchnorm unsupported dtype test (#6717)
  dnn-providers/miopen-provider/integration_tests/IntegrationGpuBatchnormUnsupportedDataTypes.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Do not treat off as named VGPR when isOff=True (#6643)
  projects/hipblaslt/tensilelite/rocisa/test/test_mubuf_off_vaddr.py
  shared/stinkytofu/include/stinkytofu/bindings/python/Module.hpp
  shared/stinkytofu/src/analysis/asm/AsmVerifierPass.cpp
  shared/stinkytofu/src/conversion/rocisa/ToStinkyTofuUtils.cpp
  shared/stinkytofu/src/serialization/asm/IRParser.cpp
  shared/stinkytofu/tests/filecheck/mubuf_off_vaddr.stir
  shared/stinkytofu/tests/unit/asm/StinkyAsmEmitterTest.cpp
  shared/stinkytofu/tests/unit/ir/RegisterWidthValidationTest.cpp
  shared/stinkytofu/tools/stinkytofu-opt/stinkytofu-opt.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] Fix out of bounds modifications caused by negative topk_ids in MoeSortingMultiPhaseKernel_P0_v1 (#6242)
  projects/composablekernel/include/ck_tile/ops/fused_moe/kernel/moe_sorting_kernel.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen] Fixed warnings about unused parameters (#6590)
  projects/miopen/cmake/EnableCompilerWarnings.cmake
  projects/miopen/driver/getitem_driver.hpp
  projects/miopen/driver/rope_driver.hpp
  projects/miopen/driver/sys_info.hpp
  projects/miopen/src/comgr.cpp
  projects/miopen/src/include/miopen/kernel_build_params.hpp
  projects/miopen/src/op_args.cpp
  projects/miopen/test/gtest/activ_common.hpp
  projects/miopen/test/gtest/bn_activ_infer.cpp
  projects/miopen/test/gtest/bn_fwd_infer.cpp
  projects/miopen/test/gtest/compare_helper.hpp
  projects/miopen/test/gtest/execute_primitive.cpp
  projects/miopen/test/gtest/getitem.hpp
  projects/miopen/test/gtest/hipblaslt_gemm.cpp
  projects/miopen/test/gtest/layout_transpose.cpp
  projects/miopen/test/gtest/mha_helper.hpp
  projects/miopen/test/gtest/pooling2d_asymmetric.cpp
  projects/miopen/test/gtest/pooling2d_common.hpp
  projects/miopen/test/gtest/pooling2d_wide.cpp
  projects/miopen/test/gtest/reducecalculation.hpp
  projects/miopen/test/gtest/t5layernorm.hpp
  projects/miopen/test/gtest/unit_FinInterface.cpp
  projects/miopen/test/gtest/unit_conv_solver.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvCkGroupedConvFwd.cpp
  projects/miopen/test/gtest/unit_implicitgemm_ck_util.cpp
  projects/miopen/test/gtest/unit_lib_env_var.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] lock dsload memory token after optNLL (#6703)
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocBLAS] adds version notes (#6742)
  projects/rocblas/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Revert "[stinkytofu] Add scheduling fence as a hard region boundary" (#6762)
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/common.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/instruction/common.cpp
  shared/stinkytofu/hardware/src/gfx/Gfx1250/Gfx1250.cpp
  shared/stinkytofu/include/stinkytofu/ir/asm/StinkyAsmIR.hpp
  shared/stinkytofu/src/conversion/rocisa/AllHwMappings.cpp
  shared/stinkytofu/src/ir/asm/StinkyAsmIR.cpp
  shared/stinkytofu/src/serialization/asm/IRConverter.cpp
  shared/stinkytofu/src/transforms/asm/StinkyBuildImplicitDependencyPass.cpp
  shared/stinkytofu/src/transforms/asm/StinkyDAGSchedulerPass.cpp
  shared/stinkytofu/tests/filecheck/dag_scheduling_fence_wmma_eager.stir
  shared/stinkytofu/tools/tablegen/GenInstructions.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Add wmma FileCheck tests (#6668)
  shared/stinkytofu/tests/filecheck/dag_wmma_prefetch_flow.stir
  shared/stinkytofu/tests/filecheck/waitcnt_insertion_wmma_dsread.stir
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Improve the performance of qr_ks_vs_whole_k_prefetch pipeline (#6209)
  projects/composablekernel/include/ck_tile/host/rotating_buffers.hpp
  projects/composablekernel/include/ck_tile/ops/fmha.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/kernel/fmha_fwd_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_problem.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qr_ks_vs_whole_k_prefetch_default_policy.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qr_ks_vs_whole_k_prefetch_trload.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qs_ks_vs.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/tile_fmha_shape.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/block/block_gemm_areg_bsmem_creg_v2_prefetch_k.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/block/block_gemm_areg_bsmem_creg_v2_prefetch_n.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/block/block_gemm_areg_bsmem_trload_creg_v2_prefetch_n.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Fix ADD_SQUARE pointwise mode doc comment (#6754)
  projects/hipdnn/backend/include/HipdnnPointwiseMode.h
  projects/hipdnn/frontend/include/hipdnn_frontend/Types.hpp
  projects/hipdnn/tools/DescriptorGenerator/configs/pointwise.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] Fix CI Failures for PR From Forks (#6701)
  projects/composablekernel/Dockerfile.aiter
  projects/composablekernel/Dockerfile.fa
  projects/composablekernel/Jenkinsfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipBLAS] version changelog updates (#6737)
  projects/hipblas/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[miopen] Gate TheRock bumps in MIOpen CI with CI validation (#6725)
  projects/miopen/Dockerfile
  projects/miopen/Jenkinsfile
  projects/miopen/vars/utils.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipBLASLt] Add invoke task runner and modernize dependency handling (#6455)
  projects/hipblaslt/CHANGELOG.md
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/CMakePresets.json
  projects/hipblaslt/README.md
  projects/hipblaslt/clients/CMakeLists.txt
  projects/hipblaslt/device-library/extops/CMakeLists.txt
  projects/hipblaslt/docker/Dockerfile
  projects/hipblaslt/docs/conceptual/hipblaslt-clients.rst
  projects/hipblaslt/docs/how-to/how-to-use-hipblaslt-tuning-utility.rst
  projects/hipblaslt/docs/install/building-installing-hipblaslt.rst
  projects/hipblaslt/install.sh
  projects/hipblaslt/requirements.txt
  projects/hipblaslt/tasks.py
  projects/hipblaslt/tensilelite/Tensile/Toolchain/Component.py
  projects/hipblaslt/tensilelite/Tensile/Utilities/tensile_generator/README.md
  projects/hipblaslt/tensilelite/rocisa/setup.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Add raw GPU assembly (.s) input support to stinkytofu-opt (#6756)
  shared/stinkytofu/include/stinkytofu/serialization/asm/RawAsmParser.hpp
  shared/stinkytofu/src/serialization/asm/CMakeLists.txt
  shared/stinkytofu/src/serialization/asm/IRConverter.cpp
  shared/stinkytofu/src/serialization/asm/RawAsmParser.cpp
  shared/stinkytofu/tests/CMakeLists.txt
  shared/stinkytofu/tests/filecheck/raw_asm_dag_sched.s
  shared/stinkytofu/tests/filecheck/raw_asm_roundtrip.s
  shared/stinkytofu/tools/stinkytofu-opt/stinkytofu-opt.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Add DVC to Docker image (#6747)
  projects/hipdnn/dockerfiles/Dockerfile.ubuntu24
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] fix missing comma in IRParser array serialization (#6699)
  shared/stinkytofu/src/serialization/asm/IRParser.cpp
  shared/stinkytofu/tests/filecheck/implicit_dep_lds_token_annotations.stir
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocSOLVER] Implementation of GETRS_NPVT (#4575)
  projects/rocsolver/CHANGELOG.md
  projects/rocsolver/clients/CMakeLists.txt
  projects/rocsolver/clients/common/lapack/testing_getrs.hpp
  projects/rocsolver/clients/common/lapack/testing_getrs_npvt.cpp
  projects/rocsolver/clients/common/lapack/testing_getrs_npvt.hpp
  projects/rocsolver/clients/common/misc/lapack_host_reference.cpp
  projects/rocsolver/clients/common/misc/lapack_host_reference.hpp
  projects/rocsolver/clients/common/misc/rocsolver.hpp
  projects/rocsolver/clients/common/misc/rocsolver_dispatcher.hpp
  projects/rocsolver/clients/gtest/CMakeLists.txt
  projects/rocsolver/clients/gtest/lapack/getrs_npvt_gtest.cpp
  projects/rocsolver/library/include/rocsolver/rocsolver-functions.h
  projects/rocsolver/library/src/CMakeLists.txt
  projects/rocsolver/library/src/lapack/roclapack_getrs.hpp
  projects/rocsolver/library/src/lapack/roclapack_getrs_npvt.cpp
  projects/rocsolver/library/src/lapack/roclapack_getrs_npvt.hpp
  projects/rocsolver/library/src/lapack/roclapack_getrs_npvt_batched.cpp
  projects/rocsolver/library/src/lapack/roclapack_getrs_npvt_strided_batched.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocPRIM] Do not run test sizes too large for 32GB APU systems (#6646)
  projects/rocprim/test/rocprim/test_device_merge_sort.cpp
  projects/rocprim/test/rocprim/test_device_radix_sort.hpp
  projects/rocprim/test/rocprim/test_utils.hpp
  projects/rocprim/test/rocprim/test_utils_memory_check.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
