Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

docs(hipblaslt): update install pages for 7.13 (#7379)
  projects/hipblas/docs/sphinx/_toc.yml.in
  projects/hipblaslt/docs/index.rst
  projects/hipblaslt/docs/install/building-installing-hipblaslt.rst
  projects/hipblaslt/docs/install/install.rst
  projects/hipblaslt/docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK][CK Tile] Grouped Conv Tile Profiler Verification (#7021)
  projects/composablekernel/profiler/include/profiler/grouped_convolution_backward_data_tile_algs.hpp
  projects/composablekernel/profiler/include/profiler/grouped_convolution_backward_weight_tile_algs.hpp
  projects/composablekernel/profiler/include/profiler/grouped_convolution_forward_tile_algs.hpp
  projects/composablekernel/profiler/src/profile_grouped_conv_bwd_data_tile.cpp
  projects/composablekernel/profiler/src/profile_grouped_conv_bwd_weight_tile.cpp
  projects/composablekernel/profiler/src/profile_grouped_conv_fwd_tile.cpp
  projects/composablekernel/script/convert_miopen_driver_to_tile_profiler.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Fix subtile+SK+activation segfault (#7527)
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileLREmit.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_bf16.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocprim] Properly run tests in parallel on multiple GPUs (#7048)
  projects/rocprim/.gitlab-ci.yml
  projects/rocprim/CHANGELOG.md
  projects/rocprim/CMakeLists.txt
  projects/rocprim/README.md
  projects/rocprim/cmake/DownloadProject.CMakeLists.cmake.in
  projects/rocprim/cmake/GenerateResourceSpec.cmake
  projects/rocprim/test/CMakeLists.txt
  projects/rocprim/test/generate_resource_spec.cpp
  projects/rocprim/test/rocprim/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

docs(hipsolver): update install pages for 7.13 (#7371)
  projects/hipsolver/docs/index.rst
  projects/hipsolver/docs/installation/build.rst
  projects/hipsolver/docs/installation/install.rst
  projects/hipsolver/docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] Fix RDNA3 FMHA tile-load paths (#7016)
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qr_ks_vs_whole_k_prefetch.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qr_ks_vs_whole_k_prefetch_default_policy.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qs_ks_vs.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK rocm_ck] FMHA BWD: add arch enum dispatch (P4-1)
  projects/composablekernel/experimental/rocm_ck/examples/06_rocm_ck_fmha_bwd/rocm_fmha_bwd_registry.hpp
  projects/composablekernel/experimental/rocm_ck/include/rocm_ck/ops/fmha_bwd/common.hpp
  projects/composablekernel/experimental/rocm_ck/include/rocm_ck/ops/fmha_bwd/dqdkdv_spec.hpp
  projects/composablekernel/experimental/rocm_ck/tests/test_fmha_bwd_common.cpp
  projects/composablekernel/experimental/rocm_ck/tests/test_fmha_bwd_compat.cpp
  projects/composablekernel/experimental/rocm_ck/tests/test_fmha_bwd_dqdkdv.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Add `ROCISA_USE_STABLE_ABI` build option for rocisa (#7325)
  projects/hipblaslt/tensilelite/rocisa/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(miopen): update install pages for 7.13 (#7370)
  projects/miopen/docs/index.rst
  projects/miopen/docs/install/build-source.rst
  projects/miopen/docs/install/install.rst
  projects/miopen/docs/install/prerequisites.rst
  projects/miopen/docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK Tile] Eight Waves pipeline for MX GEMM (#5552)
  projects/composablekernel/example/ck_tile/42_mx_gemm/CMakeLists.txt
  projects/composablekernel/example/ck_tile/42_mx_gemm/mx_gemm.cpp
  projects/composablekernel/example/ck_tile/42_mx_gemm/mx_gemm.hpp
  projects/composablekernel/example/ck_tile/42_mx_gemm/mx_gemm_instance.hpp
  projects/composablekernel/example/ck_tile/42_mx_gemm/run_mx_gemm.inc
  projects/composablekernel/include/ck_tile/core/arch/amd_buffer_addressing_builtins.hpp
  projects/composablekernel/include/ck_tile/ops/epilogue/cshuffle_epilogue.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/block/block_gemm_areg_breg_creg_v1.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/pipeline/gemm_pipeline_ag_bg_cr_comp_async_eight_waves_policy.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/pipeline/gemm_pipeline_ag_bg_cr_eight_waves_base.hpp
  projects/composablekernel/include/ck_tile/ops/gemm_mx.hpp
  projects/composablekernel/include/ck_tile/ops/gemm_mx/block/block_mx_gemm_areg_breg_creg_eight_waves_v1.hpp
  projects/composablekernel/include/ck_tile/ops/gemm_mx/block/block_mx_gemm_areg_breg_creg_v1.hpp
  projects/composablekernel/include/ck_tile/ops/gemm_mx/kernel/gemm_mx_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/gemm_mx/pipeline/gemm_pipeline_ag_bg_cr_comp_async.hpp
  projects/composablekernel/include/ck_tile/ops/gemm_mx/pipeline/gemm_pipeline_ag_bg_cr_comp_async_default_policy.hpp
  projects/composablekernel/include/ck_tile/ops/gemm_mx/pipeline/gemm_pipeline_ag_bg_cr_comp_async_eight_waves.hpp
  projects/composablekernel/include/ck_tile/ops/gemm_mx/pipeline/gemm_pipeline_ag_bg_cr_comp_async_eight_waves_policy.hpp
  projects/composablekernel/include/ck_tile/ops/gemm_quant/pipeline/gemm_abquant_pipeline_ag_bg_cr_eight_waves.hpp
  projects/composablekernel/include/ck_tile/ops/gemm_quant/pipeline/gemm_abquant_pipeline_ag_bg_cr_eight_waves_policy.hpp
  projects/composablekernel/test/ck_tile/gemm_mx/CMakeLists.txt
  projects/composablekernel/test/ck_tile/gemm_mx/test_mx_gemm_async.cpp
  projects/composablekernel/test/ck_tile/gemm_mx/test_mx_gemm_config.hpp
  projects/composablekernel/test/ck_tile/gemm_mx/test_mx_gemm_fp4.cpp
  projects/composablekernel/test/ck_tile/gemm_mx/test_mx_gemm_fp8.cpp
  projects/composablekernel/test/ck_tile/gemm_mx/test_mx_gemm_instance.hpp
  projects/composablekernel/test/ck_tile/gemm_mx/test_mx_gemm_util.hpp
  projects/composablekernel/test/ck_tile/grouped_gemm_mx/test_mx_grouped_gemm_ut_cases.inc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Parameter type change for gfx942, gfx950 complex library logic (#7434)
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Ailk_Bjlk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Ailk_Bjlk_C_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Ailk_Bjlk_C_Z_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Ailk_Bjlk_Z_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Ailk_Bljk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Ailk_Bljk_Z_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bjlk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bjlk_C_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bjlk_C_Z_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bjlk_Z_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bljk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bljk_Z_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_C_Bjlk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_C_Bjlk_C_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_C_Bjlk_C_Z_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_C_Bjlk_Z_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_C_Bljk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_C_Bljk_Z_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/GridBased/gfx950_Cijk_Ailk_Bjlk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/GridBased/gfx950_Cijk_Ailk_Bjlk_C_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/GridBased/gfx950_Cijk_Ailk_Bjlk_C_Z_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/GridBased/gfx950_Cijk_Ailk_Bjlk_Z_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/GridBased/gfx950_Cijk_Ailk_Bljk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/GridBased/gfx950_Cijk_Ailk_Bljk_Z_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/GridBased/gfx950_Cijk_Alik_Bjlk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/GridBased/gfx950_Cijk_Alik_Bjlk_C_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/GridBased/gfx950_Cijk_Alik_Bjlk_C_Z_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/GridBased/gfx950_Cijk_Alik_Bjlk_Z_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/GridBased/gfx950_Cijk_Alik_Bljk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/GridBased/gfx950_Cijk_Alik_Bljk_Z_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/GridBased/gfx950_Cijk_Alik_C_Bjlk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/GridBased/gfx950_Cijk_Alik_C_Bjlk_C_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/GridBased/gfx950_Cijk_Alik_C_Bjlk_C_Z_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/GridBased/gfx950_Cijk_Alik_C_Bjlk_Z_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/GridBased/gfx950_Cijk_Alik_C_Bljk_C_B_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/GridBased/gfx950_Cijk_Alik_C_Bljk_Z_B_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt][tensilelite] Add FP8 dispatch to selectMXScaleGeometry (#7356)
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_selectMXScaleGeometry.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hiptensor] Add hipTensor support on gfx1250 (#7518)
  projects/hiptensor/CHANGELOG.md
  projects/hiptensor/README.md
  projects/hiptensor/cmake/Functions/hiptensorSupportedArchitectures.cmake
  projects/hiptensor/docs/api-reference/api-reference.rst
  projects/hiptensor/docs/install/installation.rst
  projects/hiptensor/library/include/hiptensor/internal/config.hpp
  projects/hiptensor/library/src/hip_device.cpp
  projects/hiptensor/library/src/include/hip_device.hpp
  projects/hiptensor/test/utils.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[ci] Adding tensilelite codecov on the codecov commenter bot (#7490)
  codecov.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] fix daily builds for pytorch (#7547)
  projects/composablekernel/Dockerfile.pytorch
  projects/composablekernel/Jenkinsfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocroller]Add test filter standardization to rocroller (#6190)
  shared/ctest/TestCategories.cmake
  shared/ctest/parse_catch2_categories.py
  shared/ctest/parse_test_categories.py
  shared/rocroller/CMakeLists.txt
  shared/rocroller/test/CMakeLists.txt
  shared/rocroller/test/test_categories.yaml
  shared/rocroller/test/test_categories_catch2.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hiprand): Update install pages for 7.13 (#7374)
  projects/hiprand/docs/index.rst
  projects/hiprand/docs/install/build.rst
  projects/hiprand/docs/install/installation.rst
  projects/hiprand/docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Investigations for MIOpen/hipDNN shim. Covers: - Feature flag - Passthrough wrapper - Public/private split - MIOpen plugin redirection
  dnn-providers/miopen-provider/CMakeLists.txt
  projects/miopen/CMakeLists.txt
  projects/miopen/cmake/InvestigationHipdnnWrapper.cmake
  projects/miopen/docs/rfcs/0001_HipdnnForwardingWrapper_phase1_investigation.md
  projects/miopen/src/CMakeLists.txt
  projects/miopen/src/private/miopen_private_rename.h
  projects/miopen/src/private/wrapper.cpp
  projects/miopen/tools/wrapper/Phase1-Steps1+1-ImplementionSummary.md
  projects/miopen/tools/wrapper/Phase1-Steps1+2-Summary.md
  projects/miopen/tools/wrapper/README.md
  projects/miopen/tools/wrapper/RemainingWork.md
  projects/miopen/tools/wrapper/check_consumer_smoke.sh
  projects/miopen/tools/wrapper/check_find_package_smoke.sh
  projects/miopen/tools/wrapper/check_public_api.sh
  projects/miopen/tools/wrapper/check_stub_count.cmake
  projects/miopen/tools/wrapper/consumer_smoke.c
  projects/miopen/tools/wrapper/find_package_smoke/CMakeLists.txt
  projects/miopen/tools/wrapper/microbench_settensor.cpp
  projects/miopen/tools/wrapper/symbol_diff.sh
  projects/miopen/tools/wrapper/wrapper_overhead.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Engineering made for conv shape input
  projects/miopen/src/conv/heuristics/ai_candidate_selection.cpp
  projects/miopen/src/conv/heuristics/ai_heuristics.cpp
  projects/miopen/src/include/miopen/conv/heuristics/ai_candidate_selection.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add profile-ck-kernel skill for automated CK Tile kernel profiling
  .claude/skills/profile-ck-kernel/SKILL.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix CK Builder integration to CK profiler after merge.
  projects/composablekernel/profiler/include/profiler/grouped_convolution_backward_data_tile_algs.hpp
  projects/composablekernel/profiler/include/profiler/grouped_convolution_backward_weight_tile_algs.hpp
  projects/composablekernel/profiler/include/profiler/grouped_convolution_forward_tile_algs.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

next try
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout.inc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Use CMake variable DISPATCHER_CONFIG_SET to toggle between test and profiler instance sets for codegen.
  projects/composablekernel/dispatcher/library/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add all two sparse intrinsics with packed datatypes (both WMMA int4), and adapt the layout test to be able to deal with these.
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/wmma/sparse_gfx12.hpp
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout.inc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add support for tiny datatypes (packed types) in infra and layout test. Add wmma_i32_16x16x16_iu4_w32_gfx12 intrinsic as a first test.
  projects/composablekernel/example/ck_tile/51_tile_distr_enc_reg_map/example_tile_distr_enc_calc.cpp
  projects/composablekernel/include/ck_tile/core/arch/mma/amdgcn_mma.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/utility/tile_distribution_encoding_calculator.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/utility/tile_distribution_encoding_register_mapper.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/wmma/wmma_gfx12.hpp
  projects/composablekernel/include/ck_tile/core/numeric/pk_int4.hpp
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout.inc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add the remaining two dense wmma intrinsics with packed data types (3 total).
  projects/composablekernel/example/ck_tile/51_tile_distr_enc_reg_map/example_tile_distr_enc_calc.cpp
  projects/composablekernel/include/ck_tile/core/arch/mma/wmma/wmma_gfx11.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/wmma/wmma_gfx12.hpp
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout.inc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Put back the ext_vector<int8_t, 12> implementation override. Seems like everything works without it, but it might have been put in place for performance reasons.
  projects/composablekernel/include/ck_tile/core/numeric/vector_type.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

WIP gfx950 scale fp4 fp8.
  projects/composablekernel/include/ck_tile/core/arch/mma/scale/mfma/scale_gfx9.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/scale/scale_traits.hpp
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout.inc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Address copilot comments
  projects/composablekernel/include/ck_tile/core/arch/mma/amdgcn_mma.hpp
  projects/composablekernel/include/ck_tile/core/numeric/vector_type.hpp
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout.inc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add bf6 support to ck_tile and the layout test. Add bf6 variants of the gfx950 scale intrinsics and test these in the layout test.
  projects/composablekernel/include/ck_tile/core.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/scale/mfma/scale_gfx9.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/scale/scale_traits.hpp
  projects/composablekernel/include/ck_tile/core/numeric/pk_f6.hpp
  projects/composablekernel/include/ck_tile/core/numeric/type_convert.hpp
  projects/composablekernel/include/ck_tile/core/numeric/vector_type.hpp
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout.inc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Simplify the custom f6x16xN ext_vector implementations
  projects/composablekernel/include/ck_tile/core/numeric/vector_type.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add fp6x16_t scale intrinsics + support in layout test. The ck tile fp6x16_t impl is awkward relative to old ck and needs some custom definitions for the ext vector implementation.
  projects/composablekernel/include/ck_tile/core/arch/mma/scale/mfma/scale_gfx9.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/scale/scale_traits.hpp
  projects/composablekernel/include/ck_tile/core/numeric/vector_type.hpp
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout.inc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

assert() only works in debug mode, replace with printf() and builtin_trap().
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout.inc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Address Chris (T) review comments
  projects/composablekernel/include/ck_tile/core/arch/mma/scale/mfma/scale_gfx9.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/scale/scale_traits.hpp
  projects/composablekernel/include/ck_tile/core/numeric/vector_type.hpp
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout.inc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Address Yung-sheng's comments
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/wmma/sparse_gfx12.hpp
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout.inc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Post rebase fixups
  projects/composablekernel/include/ck_tile/core/arch/mma/amdgcn_mma.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/scale/scale_traits.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/wmma/wmma_gfx12.hpp
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout.inc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update scale intrinsics to match the style in Yung-sheng's PR (no const& specifiers for the scale args). Also removed some redundant local type aliases.
  projects/composablekernel/include/ck_tile/core/arch/mma/scale/mfma/scale_gfx9.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Another post-rebase fix DataTypeTraits
  projects/composablekernel/include/ck_tile/ops/common/utils.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

clang format
  projects/composablekernel/include/ck_tile/core/arch/mma/wmma/wmma_gfx11.hpp
  projects/composablekernel/include/ck_tile/core/numeric/vector_type.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Post-rebase fixes
  projects/composablekernel/include/ck_tile/core/arch/arch.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/scale/mfma/scale_gfx9.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/wmma/sparse_gfx12.hpp
  projects/composablekernel/include/ck_tile/ops/common/utils.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
