Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[hipBLASLt][tensilelite] SK5: fix hybrid unit tests for bit-30 mode layout
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_streamk5_hybrid.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Apply pre-commit formatting
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/execution/timing.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

remove blank lines
  projects/hipblaslt/utilities/geko/geko/bench/bench.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Make conditional kernel-config decode metadata-driven
  projects/miopen/src/conv/heuristics/ai_candidate_selection.cpp
  projects/miopen/src/include/miopen/conv/heuristics/ai_candidate_selection.hpp
  projects/miopen/src/kernels/gfx942_ConvHipImplicitGemmGroupWrwXdlops_metadata.tn.model
  projects/miopen/src/kernels/gfx950_ConvHipImplicitGemmGroupWrwXdlops_metadata.tn.model
  projects/miopen/test/gtest/conv_ai_candidate_selection_model.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add ValuC bypass optimization for FP4 subtile epilogue
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatchUtils.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Source/memory_gfx.h
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedLogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_can_bypass_valu_c.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_max_vgpr_no_agpr_microbenchmark.py
  projects/hipblaslt/tensilelite/src/hip/HipHardware.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hipblaslt_incremental_refactor-grc.101: port LogicalScheduler loop-variant builders to C++
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/cpp_migration/cpp/include/tensile_writer/logical_scheduler.hpp
  projects/hipblaslt/tensilelite/cpp_migration/cpp/include/tensile_writer/logical_scheduler_passes.hpp
  projects/hipblaslt/tensilelite/cpp_migration/cpp/src/main.cpp
  projects/hipblaslt/tensilelite/cpp_migration/cpp/tests/CMakeLists.txt
  projects/hipblaslt/tensilelite/cpp_migration/cpp/tests/loop_variants_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipBLASLt][tensilelite] Fix host-library gtest build/run under current ROCm
  projects/hipblaslt/tensilelite/tests/CuCount_test.cpp
  projects/hipblaslt/tensilelite/tests/DataInit_test.cpp
  projects/hipblaslt/tensilelite/tests/include/FallbackTestUtils.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Potential fix for pull request finding
  projects/composablekernel/tile_engine/ops/gemm/mx_gemm/mx_gemm_benchmark.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Potential fix for pull request finding
  projects/composablekernel/tile_engine/ops/gemm/mx_gemm/mx_gemm_benchmark.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

General Batched GEMM support for StreamK=3 and Parallel Reduction Strategy (#7464)
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/clients/tests/data/matmul_gtest.yaml
  projects/hipblaslt/library/include/hipblaslt/hipblaslt-ext.hpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-ext.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_auxiliary.cpp
  projects/hipblaslt/tensilelite/Tensile/Components/GSU.py
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterConversion.py
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Rename reset_info_nblocks to calculate_nblocks for reusability
  projects/rocsolver/library/src/include/lib_device_helpers.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix build_preloop prerequisite to require VGPR_TILES (hipblaslt_incremental_refactor-7qn)
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] increase time limit for fmha_bwd tests to prevent timeouts (#8241)
  projects/composablekernel/test/ck_tile/fmha/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix UseSubtileImpl epilogue vector global load turn count.
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipsparse] Improve hipSPARSE test harness diagnostics for CI failures (#7978)
  projects/hipsparse/clients/include/hipsparse_test_unique_ptr.hpp
  projects/hipsparse/clients/include/utility.hpp
  projects/hipsparse/clients/tests/hipsparse_gtest_main.cpp
  projects/hipsparse/clients/tests/hipsparse_test_template.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix epilogue BF16 bias global load subgroup stride.
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add regression testting to spsv
  projects/hipsparse/clients/include/testing_spsv_csr_reuse_descr.hpp
  projects/hipsparse/clients/tests/CMakeLists.txt
  projects/hipsparse/clients/tests/cuda/12.8/CMakeLists.txt
  projects/hipsparse/clients/tests/cuda/12.8/hipsparse_test.yaml
  projects/hipsparse/clients/tests/cuda/12.8/test_spsv_csr_reuse_descr.yaml
  projects/hipsparse/clients/tests/hipsparse_test_enum.hpp
  projects/hipsparse/clients/tests/rocm/CMakeLists.txt
  projects/hipsparse/clients/tests/rocm/hipsparse_test.yaml
  projects/hipsparse/clients/tests/rocm/test_spsv_csr_reuse_descr.yaml
  projects/hipsparse/clients/tests/test_spsv_csr_reuse_descr.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Revert memory_gfx.h LLVM intrinsic name change
  projects/hipblaslt/tensilelite/Tensile/Source/memory_gfx.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Allow setup with missing provider plugins
  projects/hipdnn/tools/dnn-benchmarking/setup.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Convert OCL to HIP ConvOclDirectFwdFused solver (#7281)
  projects/miopen/CMakeLists.txt
  projects/miopen/src/CMakeLists.txt
  projects/miopen/src/fusion.cpp
  projects/miopen/src/include/miopen/conv/solvers.hpp
  projects/miopen/src/include/miopen/fusion/solvers.hpp
  projects/miopen/src/kernels/MIOpenConvDirBatchNormActivHip.cpp
  projects/miopen/src/kernels/MIOpenConvDirUniHip.cpp
  projects/miopen/src/kernels/gfx1030_36.HIP.fdb.txt.bz2
  projects/miopen/src/kernels/gfx900_56.db.bz2
  projects/miopen/src/solver.cpp
  projects/miopen/src/solver/conv/conv_hip_dir2Dfwd.cpp
  projects/miopen/src/solver/conv/conv_hip_dir2Dfwd_exhaustive_search.cpp
  projects/miopen/src/solver/conv_hip_dir2Dfwd_fused.cpp
  projects/miopen/test/gtest/cba_find2_infer.cpp
  projects/miopen/test/gtest/cba_infer.cpp
  projects/miopen/test/gtest/db_sync.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Port remaining AB GR/LR offset plans to C++ (hipblaslt_incremental_refactor-grc.103)
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGREmit.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileLREmit.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/subtileOffsetAssign_golden.txt
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtileOffsetAssignCpp.py
  projects/hipblaslt/tensilelite/cpp_migration/cpp/include/tensile_writer/tile_info.hpp
  projects/hipblaslt/tensilelite/cpp_migration/cpp/src/main.cpp
  projects/hipblaslt/tensilelite/cpp_migration/cpp/tests/subtile_test_fixtures.hpp
  projects/hipblaslt/tensilelite/cpp_migration/cpp/tests/tile_info_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Some cleanup and PR review respones.
  projects/hipfft/clients/samples/hipfft_planmany_3d_r2c.cpp
  projects/hipfft/clients/samples/sample_utils.hpp
  projects/hipfft/clients/tests/hipfftxt_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK][CK_TILE] max-pool backward review improvements
  projects/composablekernel/example/ck_tile/53_pooling_bwd/CMakeLists.txt
  projects/composablekernel/example/ck_tile/53_pooling_bwd/pool2d_bwd.cpp
  projects/composablekernel/example/ck_tile/CMakeLists.txt
  projects/composablekernel/include/ck_tile/host/reference/reference_pool_bwd.hpp
  projects/composablekernel/include/ck_tile/ops/pooling_bwd/kernel/pool_bwd_cast_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/pooling_bwd/kernel/pool_bwd_kernel.hpp
  projects/composablekernel/test/ck_tile/pooling_bwd/test_pooling_bwd.cpp
  projects/composablekernel/test/ck_tile/pooling_bwd_tile_engine/CMakeLists.txt
  projects/composablekernel/test/ck_tile/pooling_bwd_tile_engine/configs/simple_test_config.json
  projects/composablekernel/test/ck_tile/pooling_bwd_tile_engine/test_pooling_bwd_simple.cpp
  projects/composablekernel/tile_engine/operation_support_matrix.md
  projects/composablekernel/tile_engine/ops/pooling_bwd/CMakeLists.txt
  projects/composablekernel/tile_engine/ops/pooling_bwd/pooling_bwd_benchmark.hpp
  projects/composablekernel/tile_engine/ops/pooling_bwd/pooling_bwd_benchmark_single.cpp
  projects/composablekernel/tile_engine/ops/pooling_bwd/pooling_bwd_common.hpp
  projects/composablekernel/tile_engine/ops/pooling_bwd/pooling_bwd_instance_builder.py
  projects/composablekernel/tile_engine/ops/pooling_bwd/pooling_bwd_validation_utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[CK][CK_TILE] Fix clang-formatting
  projects/composablekernel/example/ck_tile/53_pooling_bwd/pool2d_bwd.cpp
  projects/composablekernel/include/ck_tile/host/reference/reference_pool_bwd.hpp
  projects/composablekernel/include/ck_tile/ops/pooling_bwd/kernel/pool_bwd_kernel.hpp
  projects/composablekernel/test/ck_tile/pooling_bwd/test_pooling_bwd.cpp
  projects/composablekernel/test/ck_tile/pooling_bwd_tile_engine/test_pooling_bwd_simple.cpp
  projects/composablekernel/tile_engine/ops/pooling_bwd/pooling_bwd_benchmark_single.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK][CK_TILE] Add max-pool backward op
  projects/composablekernel/example/ck_tile/53_pooling_bwd/CMakeLists.txt
  projects/composablekernel/example/ck_tile/53_pooling_bwd/pool2d_bwd.cpp
  projects/composablekernel/example/ck_tile/CMakeLists.txt
  projects/composablekernel/include/ck_tile/host.hpp
  projects/composablekernel/include/ck_tile/host/reference/reference_pool_bwd.hpp
  projects/composablekernel/include/ck_tile/ops/pooling_bwd.hpp
  projects/composablekernel/include/ck_tile/ops/pooling_bwd/kernel/pool_bwd_cast_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/pooling_bwd/kernel/pool_bwd_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/pooling_bwd/pipeline/pool_bwd_default_policy.hpp
  projects/composablekernel/include/ck_tile/ops/pooling_bwd/pipeline/pool_bwd_problem.hpp
  projects/composablekernel/include/ck_tile/ops/pooling_bwd/pipeline/pool_bwd_shape.hpp
  projects/composablekernel/test/ck_tile/CMakeLists.txt
  projects/composablekernel/test/ck_tile/pooling_bwd/CMakeLists.txt
  projects/composablekernel/test/ck_tile/pooling_bwd/test_pooling_bwd.cpp
  projects/composablekernel/test/ck_tile/pooling_bwd_tile_engine/CMakeLists.txt
  projects/composablekernel/test/ck_tile/pooling_bwd_tile_engine/configs/simple_test_config.json
  projects/composablekernel/test/ck_tile/pooling_bwd_tile_engine/extract_test_params.py
  projects/composablekernel/test/ck_tile/pooling_bwd_tile_engine/test_pooling_bwd_simple.cpp
  projects/composablekernel/tile_engine/CMakeLists.txt
  projects/composablekernel/tile_engine/operation_support_matrix.md
  projects/composablekernel/tile_engine/ops/pooling_bwd/CMakeLists.txt
  projects/composablekernel/tile_engine/ops/pooling_bwd/configs/default_config.json
  projects/composablekernel/tile_engine/ops/pooling_bwd/pooling_bwd_benchmark.hpp
  projects/composablekernel/tile_engine/ops/pooling_bwd/pooling_bwd_benchmark_single.cpp
  projects/composablekernel/tile_engine/ops/pooling_bwd/pooling_bwd_common.hpp
  projects/composablekernel/tile_engine/ops/pooling_bwd/pooling_bwd_instance_builder.py
  projects/composablekernel/tile_engine/ops/pooling_bwd/pooling_bwd_validation_utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Address Copilot review comments: flush-cache CLI fix and batched_contraction validation
  projects/composablekernel/tile_engine/ops/gemm/batched_contraction/batched_contraction_benchmark_single.cpp
  projects/composablekernel/tile_engine/ops/gemm/block_scale_gemm/gemm_rowcolquant/gemm_rowcolquant_benchmark.py
  projects/composablekernel/tile_engine/ops/gemm/gemm_multi_abd/gemm_multi_abd_benchmark.py
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_tensorquant/grouped_gemm_tensorquant_benchmark.py
  projects/composablekernel/tile_engine/ops/gemm/mx_gemm/mx_gemm_benchmark.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Address PR #7919 review comments in tile engine GEMM ops expansion
  projects/composablekernel/tile_engine/ops/gemm/batched_gemm/configs/default_ci_config.json
  projects/composablekernel/tile_engine/ops/gemm/batched_gemm/configs/default_config.json
  projects/composablekernel/tile_engine/ops/gemm/batched_gemm/configs/user_provided_config.json
  projects/composablekernel/tile_engine/ops/gemm/block_scale_gemm/gemm_rowcolquant/CMakeLists.txt
  projects/composablekernel/tile_engine/ops/gemm/block_scale_gemm/gemm_tensor_quant/gemm_tensor_quant_benchmark_single.cpp
  projects/composablekernel/tile_engine/ops/gemm/gemm_instance_builder.py
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_rowcolquant/CMakeLists.txt
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_rowcolquant/grouped_gemm_rowcolquant_profiler.hpp
  projects/composablekernel/tile_engine/ops/gemm/grouped_gemm_quant/grouped_gemm_tensorquant/CMakeLists.txt
  projects/composablekernel/vars/ck.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Add BundleMetadata companion file (.meta.json) for golden reference bundles (#7939)
  dnn-providers/integration-tests/src/harness/DeviceArch.hpp
  dnn-providers/integration-tests/src/harness/GoldenReferenceCpu.hpp
  dnn-providers/integration-tests/src/harness/TestConfig.hpp
  dnn-providers/integration-tests/src/harness/TestSettings.hpp
  dnn-providers/integration-tests/tests/CMakeLists.txt
  dnn-providers/integration-tests/tests/TestArchMatch.cpp
  dnn-providers/integration-tests/tests/TestBundleMetadata.cpp
  dnn-providers/miopen-provider/tests/common/GoldenReferenceGpu.hpp
  projects/hipdnn/docs/rfcs/0011_GoldenReferenceValidation.md
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/ArchMatch.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/BundleMetadata.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/DeviceQuery.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/FileUtilities.hpp
  projects/hipdnn/test_sdk/tests/utilities/TestLoadGraphAndTensors.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[CK][CI] Add node-health retry logic to pipeline
  projects/composablekernel/Jenkinsfile
  projects/composablekernel/src/org/ck/NodeFault.groovy
  projects/composablekernel/src/org/ck/TransientFault.groovy
  projects/composablekernel/vars/ck.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove redundant test_max_vgpr_no_agpr_microbenchmark.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_max_vgpr_no_agpr_microbenchmark.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

exclude other projects from pre-commit
  .pre-commit-config.yaml
  projects/miopen/cmake/ClangCheck.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Port MX scale GR/LR offset plans to C++ (hipblaslt_incremental_refactor-grc.105)
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileScaleEmit.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/subtileScaleOffsetAssign_golden.txt
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtileScaleOffsetAssignCpp.py
  projects/hipblaslt/tensilelite/cpp_migration/cpp/include/tensile_writer/tile_info.hpp
  projects/hipblaslt/tensilelite/cpp_migration/cpp/src/main.cpp
  projects/hipblaslt/tensilelite/cpp_migration/cpp/tests/subtile_test_fixtures.hpp
  projects/hipblaslt/tensilelite/cpp_migration/cpp/tests/tile_info_test.cpp
  projects/hipblaslt/tensilelite/cpp_migration/tensile_writer/subtile/tile_info.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

pin therock to 384834eac2fb304de9a03a112d941928761f044a # 2026-06-10
  .github/actions/ci-env/action.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

lint changes
  projects/miopen/cmake/Analyzers.cmake
  projects/miopen/cmake/ClangCheck.cmake
  projects/miopen/cmake/ClangTidy.cmake
  projects/miopen/cmake/CppCheck.cmake
  projects/miopen/src/CMakeLists.txt
  projects/miopen/test/CMakeLists.txt
  projects/miopen/test/gtest/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Wave 1 of comments
  projects/hipdnn/docs/rfcs/0014_RaggedTensors.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove a need for a shell script
  projects/miopen/cmake/ClangCheck.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix whitespace violations in miopen
  projects/miopen/README.md
  projects/miopen/docs/install/build-source.rst
  projects/miopen/script/dependency-parser/src/enhanced_ninja_parser.py
  projects/miopen/src/kernels/static_composable_kernel/include/tensor_description/static_kernel_multi_index_transform.hpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_bwd_v4r1_dynamic.cpp
  projects/miopen/test/CMakeLists.txt
  projects/miopen/test/gtest/CMakeLists.txt
  projects/miopen/test/gtest/adam.hpp
  projects/miopen/test/gtest/test_categories.yaml
  projects/miopen/test/gtest/unit_conv_solver_ConvAsmImplicitGemmGTCDynamicBwdXdlopsNHWC.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvAsmImplicitGemmGTCDynamicFwdXdlopsNHWC.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvAsmImplicitGemmGTCDynamicWrwXdlopsNHWC.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvAsmImplicitGemmV4R1DynamicBwd.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvAsmImplicitGemmV4R1DynamicFwd.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvAsmImplicitGemmV4R1DynamicFwd_1x1.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvAsmImplicitGemmV4R1DynamicWrw.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvCkGroupedConvFwd.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvHipImplicitGemm3DGroupBwdXdlops.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvHipImplicitGemm3DGroupFwdXdlops.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvHipImplicitGemm3DGroupWrwXdlops.cpp
  projects/miopen/test/gtest/unit_conv_solver_GemmBwdRest.cpp
  projects/miopen/vars/utils.groovy
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] Address PR 8237 review on GEMM dispatcher/sweep
  projects/composablekernel/python/ck_dsl/benchmark/gemm/fp16_rcr_sweep.py
  projects/composablekernel/python/ck_dsl/dispatch/core.py
  projects/composablekernel/python/ck_dsl/dispatch/gemm/fp16_rcr.py
  projects/composablekernel/python/ck_dsl/dispatch/gemm/support.py
  projects/composablekernel/python/ck_dsl/dispatch/tests/gemm/test_registry.py
  projects/composablekernel/python/ck_dsl/run_manifest.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix subtile wait_gr vmcnt for wrap-LR and scale reads.
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedLogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedSchedulerRef.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

removed dead code wrt pr automation
  projects/hipblaslt/utilities/geko/geko/bench/bench.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
