Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

merge LdsBlockSizePerPadForMX and LdsBlockSizePerPadForNonMX
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add ConvolutionWrw backend descriptor and integration with frontend
  projects/hipdnn/backend/include/HipdnnBackendAttributeName.h
  projects/hipdnn/backend/include/HipdnnBackendDescriptorType.h
  projects/hipdnn/backend/src/BackendEnumStringUtils.hpp
  projects/hipdnn/backend/src/CMakeLists.txt
  projects/hipdnn/backend/src/descriptors/ConvolutionWrwOperationDescriptor.cpp
  projects/hipdnn/backend/src/descriptors/ConvolutionWrwOperationDescriptor.hpp
  projects/hipdnn/backend/src/descriptors/DescriptorFactory.cpp
  projects/hipdnn/backend/tests/CMakeLists.txt
  projects/hipdnn/backend/tests/TestBackendEnumStringUtils.cpp
  projects/hipdnn/backend/tests/descriptors/TestConvolutionWrwOperationDescriptor.cpp
  projects/hipdnn/backend/tests/descriptors/TestGraphDescriptorConvolutionWrw.cpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/ConvolutionWgradPacker.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/ConvolutionWgradNode.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/constants/ConvWrwConstants.hpp
  projects/hipdnn/tests/frontend/CMakeLists.txt
  projects/hipdnn/tests/frontend/IntegrationConvolutionWgradDescriptorLowering.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

cleanup whitespaces
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Exclude tests added as part of Test Filter Standardization from 'make check' to avoid long running time during build
  projects/miopen/test/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add the required gpu exclusions and use yaml anchors to improve readability
  projects/miopen/test/gtest/test_categories.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add exclude pattern for rocm-1016. Rename test names for consistency
  projects/miopen/test/gtest/test_categories.yaml
  shared/ctest/parse_test_categories.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Changes in parser to improve clarity and readability
  shared/ctest/parse_test_categories.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add gtest filters as {positive_filters}-{negative_filters} rather than adding a - to each negative filter.
  shared/ctest/parse_test_categories.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Adding miopen POC for Test Filter Standardization
  projects/miopen/CMakeLists.txt
  projects/miopen/test/gtest/CMakeLists.txt
  projects/miopen/test/gtest/test_categories.yaml
  shared/ctest/README.md
  shared/ctest/TestCategories.cmake
  shared/ctest/parse_test_categories.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

correct test_categories, and use exclusions as negative filters rather than removing from positive filters
  projects/miopen/test/gtest/test_categories.yaml
  shared/ctest/parse_test_categories.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add optional enhanced metadata fields to test categories (#4109)
  shared/ctest/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove the quotes around gtest pattern to mimic existing behavior
  shared/ctest/parse_test_categories.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add a timeout multiplier, and update the documentation
  projects/miopen/test/gtest/test_categories.yaml
  shared/ctest/README.md
  shared/ctest/parse_test_categories.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

add functionality for gpu specific exclusions
  projects/miopen/test/gtest/test_categories.yaml
  shared/ctest/README.md
  shared/ctest/parse_test_categories.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Add patterns to categories and improve readability
  projects/miopen/test/gtest/test_categories.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Clean up the labels and add filters as per TheRock Commit 200d502 (ALMIOPEN-990)
  projects/miopen/test/gtest/test_categories.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Increase timeout to help MIOpen tests run to completion
  projects/miopen/test/gtest/test_categories.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add input validation in TestCategories.cmake
  shared/ctest/TestCategories.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Adding pre-commit changes
  shared/ctest/parse_test_categories.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add documentation for gpu_excludes.
  shared/ctest/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Adding pre-commit changes
  shared/ctest/README.md
  shared/ctest/TestCategories.cmake
  shared/ctest/parse_test_categories.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add better logic for gpu based exclusion. Todo: cleanup parse_test_categories.py.
  projects/miopen/test/gtest/test_categories.yaml
  shared/ctest/parse_test_categories.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add error handling in TestCategories.cmake
  shared/ctest/TestCategories.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove debugs and add empty string check
  shared/ctest/TestCategories.cmake
  shared/ctest/parse_test_categories.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Using context managers (with statement) for file operations
  shared/ctest/parse_test_categories.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Exclude slower tests as per #3362
  projects/miopen/test/gtest/test_categories.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Made exceptions verbose. Changed colors in mermaid diagram to make it readable in dark mode.
  shared/ctest/README.md
  shared/ctest/parse_test_categories.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update StreamKReductionStrategy enum
  projects/composablekernel/example/ck_tile/40_streamk_gemm/README.md
  projects/composablekernel/example/ck_tile/40_streamk_gemm/gemm_utils.hpp
  projects/composablekernel/example/ck_tile/40_streamk_gemm/run_gemm_example.inc
  projects/composablekernel/example/ck_tile/40_streamk_gemm/streamk_gemm_basic.cpp
  projects/composablekernel/include/ck_tile/ops/common/streamk_common.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/kernel/streamk_gemm/streamk_gemm_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/kernel/streamk_gemm/streamk_gemm_tile_partitioner_impl.hpp
  projects/composablekernel/test/ck_tile/gemm_streamk/test_gemm_streamk_util.hpp
  projects/composablekernel/test/ck_tile/gemm_streamk/test_streamk_tile_partitioner.cpp
  projects/composablekernel/test/ck_tile/gemm_streamk_tile_engine/generate_configs.py
  projects/composablekernel/tile_engine/ops/gemm_streamk/gemm_streamk_instance_builder.py
  projects/composablekernel/tile_engine/ops/gemm_streamk/gemm_streamk_profiler.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Don't pollute the ck_tile namespace with Windows.h (fixes compilation issues).
  projects/composablekernel/include/ck_tile/host/high_res_cpu_clock.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

TRUE/FALSE are already used by Windows.h (compiler error).
  projects/composablekernel/include/ck_tile/ops/fused_moe/pipeline/fused_moegemm_pipeline_flatmm_ex.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add missing <chrono> include.
  projects/composablekernel/example/ck_tile/41_batched_contraction/run_batched_contraction_example.inc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix CMS schedule
  projects/hipblaslt/tensilelite/Tensile/Components/CustomSchedule.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix appending the wrong scale pointers
  projects/hipblaslt/tensilelite/Tensile/Contractions.py
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

reject read larger than b128 for both mx and non-mx datatype
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix bad invocation for calcLdsPad and calcLdsBlockSizePerPad
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Correcting complex only functions
  projects/rocblas/scripts/yaml/min_coverage.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update warp_gemm_dispatcher.hpp to remove duplicates
  projects/composablekernel/include/ck_tile/ops/gemm/warp/warp_gemm_dispatcher.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Make shared/ctest optional for standalone or sparse checkouts
  projects/rocblas/clients/gtest/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix bad invocation for calcLdsBlockSizePerPad for mx datatype
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add batchnorm inference operation descriptor with full round-trip test coverage
  projects/hipdnn/backend/include/HipdnnBackendAttributeName.h
  projects/hipdnn/backend/include/HipdnnBackendDescriptorType.h
  projects/hipdnn/backend/src/BackendEnumStringUtils.hpp
  projects/hipdnn/backend/src/CMakeLists.txt
  projects/hipdnn/backend/src/descriptors/BatchnormInferenceOperationDescriptor.cpp
  projects/hipdnn/backend/src/descriptors/BatchnormInferenceOperationDescriptor.hpp
  projects/hipdnn/backend/src/descriptors/DescriptorFactory.cpp
  projects/hipdnn/backend/tests/CMakeLists.txt
  projects/hipdnn/backend/tests/TestBackendEnumStringUtils.cpp
  projects/hipdnn/backend/tests/descriptors/TestBatchnormInferenceOperationDescriptor.cpp
  projects/hipdnn/backend/tests/descriptors/TestGraphDescriptorBatchnormInference.cpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/BatchnormInferencePacker.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/BatchnormInferenceNode.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/constants/BnInferenceConstants.hpp
  projects/hipdnn/tests/frontend/CMakeLists.txt
  projects/hipdnn/tests/frontend/IntegrationBatchnormInferenceDescriptorLowering.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
