Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

[hipsparse, rocsparse] update changelog headings for 7.14
  projects/hipsparse/CHANGELOG.md
  projects/rocsparse/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipsparselt] update changelog heading for 7.14
  projects/hipsparselt/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove WGM8
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_mxf4gemm_tdm_pap.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_mxf6b8gemm_tdm_pap.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_mxf8b6gemm_tdm_pap.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_mxf8f4gemm_tdm_pap.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_mxf8gemm_tdm_pap.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/sk_mxf4gemm_tdm_pap_ext.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(dnn-bench): apply pre-commit black formatting
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/execution/pytorch_ops/_common.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/execution/pytorch_ops/handlers/conv.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hip-kernel-provider] Remove CKC_PARITY_ARCH; cover gfx942 via explicit emitter config
  dnn-providers/hip-kernel-provider/rocKE/tests/README.md
  dnn-providers/hip-kernel-provider/rocKE/tests/instances/differential/ir_artifact_diff.py
  dnn-providers/hip-kernel-provider/rocKE/tests/instances/parity/_emit_common.py
  dnn-providers/hip-kernel-provider/rocKE/tests/instances/parity/gemm_emit.c
  dnn-providers/hip-kernel-provider/rocKE/tests/instances/parity/gemm_emit.py
  dnn-providers/hip-kernel-provider/rocKE/tests/run_all.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hip-kernel-provider] Add gfx1151/gfx1201 (RDNA) coverage to non-MMA common emitters
  dnn-providers/hip-kernel-provider/rocKE/tests/instances/parity/elementwise_emit.c
  dnn-providers/hip-kernel-provider/rocKE/tests/instances/parity/elementwise_emit.py
  dnn-providers/hip-kernel-provider/rocKE/tests/instances/parity/reduce_emit.c
  dnn-providers/hip-kernel-provider/rocKE/tests/instances/parity/reduce_emit.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Move GetWorkSpaceSizeRange APIs from public header to private
  projects/miopen/include/miopen/miopen.h
  projects/miopen/test/gtest/conv_workspace_size_range.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hip-kernel-provider] Fix two pytest collection errors in rocKE tests
  dnn-providers/hip-kernel-provider/rocKE/tests/core/test_ck_dsl_c_interface.py
  dnn-providers/hip-kernel-provider/rocKE/tests/test_ck_dsl_ci_static.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update CHANGELOG.md
  projects/hipblas/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update CHANGELOG.md
  projects/rocblas/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hip-kernel-provider] Add top-level rocKE README with build/run/test steps
  dnn-providers/hip-kernel-provider/rocKE/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Fix parameter types in StreamK work-stealing test YAMLs
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/sk_dynamic_work_stealing.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/sk_hybrid_work_stealing.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

updating eq library
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950_id75a3/Equality/gfx950_Cijk_Alik_Bljk_F8B8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950_id75a3/Equality/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

adds the comment to why Windows
  projects/hipdnn/python/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Changes to address review comments
  projects/rocfft/CMakeLists.txt
  projects/rocfft/clients/tests/CMakeLists.txt
  projects/rocfft/cmake/build-gtest.cmake
  projects/rocfft/library/src/tests/CMakeLists.txt
  projects/rocfft/library/src/tests/function_pool_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipBLASLt] Mark gfx950 MXFP4 subtile scaleAlphaVec asymmetric tiles known bug (ROCM-27082)
  projects/hipblaslt/clients/tests/data/known_bugs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add libhipcxx feature flag
  projects/rocthrust/CMakeLists.txt
  projects/rocthrust/thrust/detail/config/libcxx.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove debug message
  projects/rocthrust/thrust/detail/config/libcxx.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add libcudacxx flag
  projects/rocthrust/CMakeLists.txt
  projects/rocthrust/cmake/Summary.cmake
  projects/rocthrust/thrust/detail/config/libcxx.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix typos
  projects/rocthrust/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipcub, rocthrust, rocprim, ck] updating changelogs for 7.14 (#8739)
  projects/hipccl/hipccl3/hipcub/CHANGELOG.md
  projects/hipccl/hipccl3/rocprim/CHANGELOG.md
  projects/hipccl/hipccl3/rocthrust/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipcub, rocthrust, rocprim, ck] updating changelogs for 7.14 (#8739)
  projects/hipccl/hipccl2/hipcub/CHANGELOG.md
  projects/hipccl/hipccl2/rocprim/CHANGELOG.md
  projects/hipccl/hipccl2/rocthrust/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update RAND changelogs
  projects/hiprand/CHANGELOG.md
  projects/rocrand/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipBLASlt] Tighten ROCM-26455 guard to confirmed 2^32-byte limit
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/rocblaslt_mat_utils.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

origami: relocate gemm tuning constants into heuristic_defaults_t
  shared/origami/include/origami/heuristics.hpp
  shared/origami/src/origami/gemm.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Trimmed comments to be a little less verbose
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/cudnn.h
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/cudnn_frontend.h
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/cudnn_frontend/graph_helpers.h
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/cudnn_frontend/graph_properties.h
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/cudnn_frontend_utils.h
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/cudnn_frontend_version.h
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/cudnn_runtime_version.h
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/cudnn_status.h
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/detail/status_translation.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove redundant HasFatalFailure() guard from runEngineCapturingOutputs
  dnn-providers/integration-tests/src/harness/golden/IntegrationGraphGoldenReferenceVerificationHarness.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix trailing whitespace in python CMakeLists
  projects/hipdnn/python/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK_TILE] Fix missing fp8/bf8 16x16x64 asymmetric warp gemm dispatcher specializations
  projects/composablekernel/include/ck_tile/ops/gemm/warp/warp_gemm.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/warp/warp_gemm_dispatcher.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Allow for compilation without openmp
  projects/hipfft/shared/concurrency.h
  projects/rocfft/library/src/CMakeLists.txt
  projects/rocfft/shared/concurrency.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update CHANGELOG.md
  projects/rocsolver/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update CHANGELOG.md
  projects/hipsolver/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipSPARSELt] Gate FNUZ 8-bit spmm tests as known bugs on gfx942 (ROCM-27091)
  projects/hipsparselt/clients/test/known_bugs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add TensileLite affected-tests pre-commit hook
  projects/hipblaslt/.pre-commit-config.yaml
  projects/hipblaslt/tensilelite/pyproject.toml
  projects/hipblaslt/tensilelite/scripts/PRECOMMIT_SETUP.md
  projects/hipblaslt/tensilelite/scripts/precommit_affected_tests.py
  projects/hipblaslt/tensilelite/tasks.py
  projects/hipblaslt/tensilelite/uv.lock
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Scope pre-commit snapshot-update hint to failing files
  projects/hipblaslt/tensilelite/scripts/precommit_affected_tests.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Sanitize PRECOMMIT_SETUP.md: drop local image and personal path refs
  projects/hipblaslt/tensilelite/scripts/PRECOMMIT_SETUP.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

First pass changes
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/RaggedTensor.hpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/ShallowRaggedTensor.hpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/Tensor.hpp
  projects/hipdnn/data_sdk/tests/CMakeLists.txt
  projects/hipdnn/data_sdk/tests/utilities/TestRaggedTensor.cpp
  projects/hipdnn/data_sdk/tests/utilities/TestRaggedTensor.hpp
  projects/hipdnn/data_sdk/tests/utilities/TestShallowRaggedTensor.cpp
  projects/hipdnn/data_sdk/tests/utilities/TestTensorIterator.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Characterize SIA0 PGR2 non-TDM global-read placement
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_r7_sia0_pgr2_placement_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/data/test_data/_designed/gfx1250/sia0_pgr2_xf32_tn.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_r7_sia0_pgr2_placement_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update copyright dates
  projects/hipfft/shared/concurrency.h
  projects/rocfft/library/src/CMakeLists.txt
  projects/rocfft/shared/concurrency.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK_TILE] Guard asymmetric fp8/bf8 16x16x64 dispatcher entries with __gfx950__
  projects/composablekernel/include/ck_tile/ops/gemm/warp/warp_gemm_dispatcher.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
