Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

Additional touch ups after merge
  projects/rocsolver/library/include/rocsolver/rocsolver-functions.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixed CK Builder test name CI failure
  projects/miopen/test/gtest/ck_builder_xdl.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

disable
  projects/composablekernel/experimental/grouped_convolution_tile_instances/configs/profiler/ndhwgc_fp16.conf
  projects/composablekernel/experimental/grouped_convolution_tile_instances/configs/profiler/nhwgc_bf16.conf
  projects/composablekernel/experimental/grouped_convolution_tile_instances/configs/profiler/nhwgc_fp16.conf
  projects/composablekernel/experimental/grouped_convolution_tile_instances/configs/tests/ndhwgc_bf16.conf
  projects/composablekernel/experimental/grouped_convolution_tile_instances/configs/tests/ndhwgc_fp16.conf
  projects/composablekernel/experimental/grouped_convolution_tile_instances/configs/tests/nhwgc_bf16.conf
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

miopen-provider: Document and log first-execution algorithm selection overhead
  dnn-providers/miopen-provider/docs/Performance.md
  dnn-providers/miopen-provider/engines/plans/MiopenConvBwdPlan.cpp
  dnn-providers/miopen-provider/engines/plans/MiopenConvFwdPlan.cpp
  dnn-providers/miopen-provider/engines/plans/MiopenConvWrwPlan.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix Performance.md
  dnn-providers/miopen-provider/docs/Performance.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix rpath for linux python build
  shared/origami/python/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Revert "resolved merge conflicts in rocsolver-functions.h"
  projects/rocsolver/library/include/rocsolver/rocsolver-functions.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

tried to resolve merge conflicts
  projects/rocsolver/library/include/rocsolver/rocsolver-functions.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Integration of grouped conv Run<>()
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_data_multiple_d_wmma_cshuffle_v3.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_multiple_d_wmma_cshuffle_v3.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_two_stage_wmma_cshuffle_v3.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_wmma_cshuffle_v3.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_fwd_multiple_abd_wmma_cshuffle_v3.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/grid/gridwise_gemm_wmma_cshuffle_v3.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Address test failures.
  shared/rocroller/test/catch/InstructionTest.cpp
  shared/rocroller/test/unit/ArgumentLoaderTest.cpp
  shared/rocroller/test/unit/CoordinateGraphTest.cpp
  shared/rocroller/test/unit/KernelTest.cpp
  shared/rocroller/test/unit/RegisterLivenessObserverTest.cpp
  shared/rocroller/test/unit/SchedulerTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add missing license text
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/custom_kernels.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/include/custom_kernels.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

.gitignore case build_* already covered
  projects/hipblaslt/.gitignore
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Ignore CMakeUserPresets.json
  projects/hipblaslt/.gitignore
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Ignore decompressed artifacts
  projects/hipblaslt/tensilelite/tests/configs/SolutionLibraries/.gitignore
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix TwoTile initialization and tile space sunder
  shared/rocroller/lib/source/KernelGraph/Transformations/AddStreamK.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Squash commits that enable simple external kernel running
  projects/hipblaslt/for_demo/simplegemm_poc.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

added synchronizations
  projects/rocsolver/library/src/auxiliary/rocauxiliary_gecon.hpp
  projects/rocsolver/library/src/include/lapack_device_functions.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Document workspace size limit methods
  dnn-providers/miopen-provider/MiopenExecutionSettings.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Cleanup.
  shared/rocroller/lib/include/rocRoller/KernelGraph/Transforms/SortArguments_detail.hpp
  shared/rocroller/lib/source/KernelGraph/Transformations/SortArguments.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt-provider] Convert hipblaslt-provider to stream-style logging (#4440)
  dnn-providers/hipblaslt-provider/CMakeLists.txt
  dnn-providers/hipblaslt-provider/HipblasltPlugin.cpp
  dnn-providers/hipblaslt-provider/HipblasltUtils.hpp
  dnn-providers/hipblaslt-provider/HipdnnEnginePluginHandle.hpp
  dnn-providers/hipblaslt-provider/engines/plans/HipblasltMatmulPlanBuilder.cpp
  dnn-providers/hipblaslt-provider/integration_tests/CMakeLists.txt
  dnn-providers/hipblaslt-provider/integration_tests/IntegrationGraphVerificationHarness.hpp
  dnn-providers/hipblaslt-provider/integration_tests/main.cpp
  dnn-providers/hipblaslt-provider/tests/main.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

use setComputeInputTypeA instead of setComputeInputType
  projects/hipblaslt/tensilelite/tests/RangeLibrary_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove indent
  projects/miopen/src/kernels/winograd/Conv_Winograd_Rage_v4_6_1_gfx12x_fp16_fp32acc_f2x3_stride1.inc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove ConvWinoRageRxSFused
  projects/miopen/src/fusion.cpp
  projects/miopen/src/include/miopen/fusion/solvers.hpp
  projects/miopen/src/solver.cpp
  projects/miopen/src/solver/conv/conv_wino_rage_RxS.cpp
  projects/miopen/test/gtest/cba_find2_infer.cpp
  projects/miopen/test/gtest/cba_infer.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

switching to C implementation in postGSU kernel for the drelu implmenetation so that it pass the code coverage test compiling on all archs
  projects/hipblaslt/tensilelite/Tensile/Activation.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/exception/f16_cf32_nan.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gradient/fp16_gradient_activation.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gradient/fp16_gradient_bias.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gradient/gfx11/fp16_gradient_activation_gfx11.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gradient/gfx11/fp16_gradient_bias_gfx11.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gradient/gfx950/bf16_gradient_bias.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove azure_resolve_subtree_deps.py (Azure CI script)
  .github/scripts/azure_resolve_subtree_deps.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Symlinks and documentation
  dnn-providers/miopen-provider/.clinerules
  dnn-providers/miopen-provider/.cursor/rules/ai-rules.mdc
  dnn-providers/miopen-provider/.github/copilot-instructions.md
  dnn-providers/miopen-provider/CLAUDE.md
  dnn-providers/miopen-provider/docs/ai-rules.md
  projects/hipdnn/.clinerules
  projects/hipdnn/.cursor/rules/ai-rules.mdc
  projects/hipdnn/.github/copilot-instructions.md
  projects/hipdnn/CLAUDE.md
  projects/hipdnn/docs/Building.md
  projects/hipdnn/docs/ai-rules.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fixing permissions of CustomSchedule.py
  projects/hipblaslt/tensilelite/Tensile/Components/CustomSchedule.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Test: CI/CD test: DO NOT MERGE
  projects/rocsolver/docs/conf.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Add portable custom data types for bfloat16, half, and FP8
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/types/All.hpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/types/Bfloat16.hpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/types/Double.hpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/types/Float.hpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/types/Fp8E4M3.hpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/types/Fp8E5M2.hpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/types/Half.hpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/types/Int32.hpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/types/Int8.hpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/types/Uint8.hpp
  projects/hipdnn/data_sdk/tests/CMakeLists.txt
  projects/hipdnn/data_sdk/tests/types/TestBfloat16.cpp
  projects/hipdnn/data_sdk/tests/types/TestCrossTypeConversion.cpp
  projects/hipdnn/data_sdk/tests/types/TestForwardingFunctions.cpp
  projects/hipdnn/data_sdk/tests/types/TestFp8E4M3.cpp
  projects/hipdnn/data_sdk/tests/types/TestFp8E5M2.cpp
  projects/hipdnn/data_sdk/tests/types/TestHalf.cpp
  projects/hipdnn/data_sdk/tests/types/TestUserDefinedLiterals.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update license text for rocroller_host src files
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/custom_kernels.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/gemm.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/include/analytical_utils.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/include/custom_kernels.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/include/gemm.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/include/kernel_type.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/include/parameter_selection.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/include/rocroller_host.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/include/runtime_args_selection.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/include/solution_cache.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/include/solution_selection.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/parameter_selection.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/rocroller_host.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/runtime_args_selection.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/solution_cache.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/solution_selection.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Added a porting guide
  projects/hipdnn/docs/PortingGuide.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix formatting
  dnn-providers/miopen-provider/engines/plans/MiopenConvBwdPlan.cpp
  dnn-providers/miopen-provider/engines/plans/MiopenConvFwdPlan.cpp
  dnn-providers/miopen-provider/engines/plans/MiopenConvWrwPlan.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[miopen-provider] Convert miopen-provider to stream-style logging (#4442)
  dnn-providers/miopen-provider/CMakeLists.txt
  dnn-providers/miopen-provider/HipdnnEnginePluginHandle.hpp
  dnn-providers/miopen-provider/MiopenPlugin.cpp
  dnn-providers/miopen-provider/MiopenUtils.hpp
  dnn-providers/miopen-provider/engines/MiopenEngine.cpp
  dnn-providers/miopen-provider/engines/plans/MiopenBatchnormFwdTrainingPlan.cpp
  dnn-providers/miopen-provider/engines/plans/MiopenBatchnormPlanBuilder.cpp
  dnn-providers/miopen-provider/engines/plans/MiopenConvPlanBuilder.cpp
  dnn-providers/miopen-provider/integration_tests/CMakeLists.txt
  dnn-providers/miopen-provider/integration_tests/IntegrationGpuBatchnormForwardTraining.cpp
  dnn-providers/miopen-provider/integration_tests/IntegrationGpuBatchnormFwdTrainingActiv.cpp
  dnn-providers/miopen-provider/integration_tests/IntegrationGraphVerificationHarness.hpp
  dnn-providers/miopen-provider/integration_tests/main.cpp
  dnn-providers/miopen-provider/tests/main.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix clang format
  projects/composablekernel/example/15_grouped_gemm/grouped_gemm_wmma_fixed_nk_fp16.cpp
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_gemm_wmma_fixed_nk.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/grid/gridwise_gemm_wmma_cshuffle_v3_common.hpp
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_gemm/device_grouped_gemm_wmma_fixed_nk_instance.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Apply clang-format to epilogue test files
  projects/composablekernel/test/ck_tile/epilogue/test_cshuffle_epilogue_common.hpp
  projects/composablekernel/test/ck_tile/epilogue/test_cshuffle_epilogue_scale.cpp
  projects/composablekernel/test/ck_tile/epilogue/test_cshuffle_epilogue_util.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix clang format
  projects/composablekernel/include/ck_tile/ops/flatmm/kernel/moe_flatmm_kernel.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Pre-commit
  dnn-providers/miopen-provider/docs/ai-rules.md
  projects/hipdnn/docs/ai-rules.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Ran format
  projects/miopen/test/gtest/ck_builder_xdl.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

clang format
  projects/miopen/src/kernels/MIOpenPoolingBwdND.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

PR Review comments
  projects/hipdnn/docs/PortingGuide.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
