Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

fix(ck-tile): reject negative K in grouped TDM GEMM
  projects/composablekernel/include/ck_tile/ops/gemm/kernel/grouped_gemm_kernel.hpp
  projects/composablekernel/test/ck_tile/grouped_gemm/test_grouped_gemm_tdm_ut_cases.inc
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): preserve initial code-object load errors (#11051)
  projects/hipblaslt/clients/tests/src/CMakeLists.txt
  projects/hipblaslt/clients/tests/src/hip_solution_adapter_gtest.cpp
  projects/hipblaslt/tensilelite/client/main.cpp
  projects/hipblaslt/tensilelite/client/src/FusedA2AClient.cpp
  projects/hipblaslt/tensilelite/include/Tensile/hip/HipSolutionAdapter.hpp
  projects/hipblaslt/tensilelite/src/hip/HipSolutionAdapter.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ck: disable early inlining for gfx1250 BF16 3D scalar forward rows
  projects/composablekernel/CHANGELOG.md
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/ndhwgc/CMakeLists.txt
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/ngcdhw/CMakeLists.txt
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(rocfft): match CI clang-format in fft_hash.h
  projects/rocfft/shared/fft_hash.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

wip(ck-tile): revive the TDM atomic-barrier path in comp_tdm_v2
  projects/composablekernel/include/ck_tile/core/arch/barrier.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/pipeline/gemm_pipeline_ag_bg_cr_comp_tdm_v2.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocprim): Implement Kernel Tuner for Sort Algorithms (#11678)
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/config/device_merge_sort_block_merge.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/config/device_merge_sort_block_sort.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/config/device_radix_sort_block_sort.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/config/device_radix_sort_onesweep.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/config/device_segmented_radix_sort.hpp
  projects/hipccl/hipccl3/rocprim/tuning/confgen/migrate.py
  projects/hipccl/hipccl3/rocprim/tuning/confgen/templates/device_merge_sort_block_merge.h.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/confgen/templates/device_merge_sort_block_sort.h.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/confgen/templates/device_radix_sort_block_sort.h.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/confgen/templates/device_radix_sort_onesweep.h.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/confgen/templates/device_segmented_radix_sort.h.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/run_tuning.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_merge_sort_block_merge.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_merge_sort_block_sort.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_radix_sort_block_sort.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_radix_sort_onesweep.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_segmented_radix_sort.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_merge_sort_block_merge.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_merge_sort_block_sort.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_radix_sort_block_sort.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_radix_sort_onesweep.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_segmented_radix_sort.py
  projects/hipccl/hipccl3/rocprim/tuning/utils/utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocprim): add device_reduce algorithms to kernel tuner (#12095)
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/config/device_reduce.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/config/device_reduce_by_key.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/config/device_segmented_reduce.hpp
  projects/hipccl/hipccl3/rocprim/tuning/confgen/generate.py
  projects/hipccl/hipccl3/rocprim/tuning/confgen/templates/device_reduce.h.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/confgen/templates/device_reduce_by_key.h.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/confgen/templates/device_segmented_reduce.h.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/run_tuning.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_reduce.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_reduce_by_key.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_segmented_reduce.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_reduce.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_reduce_by_key.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_segmented_reduce.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocprim): Kernel Tuner, Fix Confgen Template For Segmented Reduce (#12604)
  projects/hipccl/hipccl3/rocprim/tuning/confgen/templates/device_segmented_reduce.h.jinja2
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocprim): add scan algorithms to kernel tuner (#12094)
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/config/device_scan.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/config/device_scan_by_key.hpp
  projects/hipccl/hipccl3/rocprim/tuning/confgen/migrate.py
  projects/hipccl/hipccl3/rocprim/tuning/confgen/templates/device_scan.h.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/confgen/templates/device_scan_by_key.h.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/run_tuning.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_scan.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_scan_by_key.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_scan.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_scan_by_key.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocprim): Implement Kernel Tuner For Adjacent Algorithms (#10769)
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/config/device_adjacent_difference.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/config/device_adjacent_difference_inplace.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/config/device_adjacent_find.hpp
  projects/hipccl/hipccl3/rocprim/tuning/confgen/generate.py
  projects/hipccl/hipccl3/rocprim/tuning/confgen/migrate.py
  projects/hipccl/hipccl3/rocprim/tuning/confgen/templates/device_adjacent_difference.h.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/confgen/templates/device_adjacent_difference_inplace.h.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/confgen/templates/device_adjacent_find.h.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/run_tuning.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/base_tuner.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/common/base.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_adjacent_difference.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_adjacent_difference_inplace.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_adjacent_find.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_merge.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_adjacent_difference.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_adjacent_difference_inplace.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_adjacent_find.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_merge.py
  projects/hipccl/hipccl3/rocprim/tuning/utils/utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocprim): Implement Kernel Tuner For Search Algorithms (#11617)
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/config/device_binary_search.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/config/device_lower_bound.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/config/device_search_n.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/config/device_upper_bound.hpp
  projects/hipccl/hipccl3/rocprim/tuning/confgen/generate.py
  projects/hipccl/hipccl3/rocprim/tuning/confgen/templates/device_binary_search.h.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/confgen/templates/device_lower_bound.h.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/confgen/templates/device_search_n.h.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/confgen/templates/device_upper_bound.h.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/run_tuning.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/base_tuner.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_adjacent_find.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_binary_search.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_lower_bound.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_search_n.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/templates/device_upper_bound.cpp.jinja2
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_binary_search.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_lower_bound.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_search_n.py
  projects/hipccl/hipccl3/rocprim/tuning/tuner/tuning_device_upper_bound.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocsparse): sync unit_test_grid_clamp.hpp with the sibling large-grid PRs (AISPARSE-699/700)
  projects/rocsparse/clients/unittests/unit_test_grid_clamp.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(rocsparse): cache grid-stride start index and stride in csrmv LRB kernels (AISPARSE-662)
  projects/rocsparse/library/src/level2/csrmv_device.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen] Restrict Welford DPP reduction to GFX9
  projects/miopen/src/kernels/reduction_functions.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocprim): Fix a test heap-buffer-overflow error detected by ASAN
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/device_segmented_radix_sort.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck): build gfx1250-only conv instances only for gfx1250 (AICK-2468)
  projects/composablekernel/Jenkinsfile
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_conv_bwd_data/device_grouped_conv_bwd_data_wmma_v3_instances.hpp
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_conv_bwd_weight/device_grouped_conv_bwd_weight_v3_wmma_instance.hpp
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_conv_fwd/device_grouped_conv_fwd_wmma_cshufflev3_instance.hpp
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_conv_fwd/device_grouped_conv_fwd_wmma_cshufflev3_large_tensor_instance.hpp
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_backward_data.hpp
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_backward_data_wmma.inc
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_backward_data_xdl.inc
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_backward_weight.hpp
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_backward_weight_wmma.inc
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward.hpp
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward_bias_clamp.hpp
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward_bias_clamp_wmma_cshufflev3.inc
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward_clamp.hpp
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward_clamp_wmma_cshufflev3.inc
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward_wmma_cshufflev3.inc
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward_wmma_large_tensor.inc
  projects/composablekernel/library/src/tensor_operation_instance/gpu/CMakeLists.txt
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv2d_bwd_data/nhwgc/CMakeLists.txt
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv2d_bwd_data/nhwgc/wmma/device_grouped_conv2d_bwd_data_wmma_v3_nhwgc_gkyxc_nhwgk_bf16_gfx1250_large_tiles_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv2d_bwd_weight/nhwgc/CMakeLists.txt
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv2d_bwd_weight/nhwgc/wmma/nhwgc_gkyxc_nhwgk/device_grouped_conv2d_bwd_weight_wmma_nhwgc_gkyxc_nhwgk_bf16_gfx1250_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/nhwgc/CMakeLists.txt
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/nhwgc/wmma/device_grouped_conv2d_fwd_wmma_cshufflev3_nhwgc_gkyxc_nhwgk_bf16_gfx1250_instance_large_tiles.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/nhwgc/wmma/large_tensor/device_grouped_conv2d_fwd_wmma_cshufflev3_large_tensor_nhwgc_gkyxc_nhwgk_bf16_gfx1250_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd_bias_clamp/nhwgc/CMakeLists.txt
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd_bias_clamp/nhwgc/wmma/large_tensor/device_grouped_conv2d_fwd_bias_clamp_wmma_cshufflev3_large_tensor_nhwgc_gkyxc_nhwgk_bf16_gfx1250_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd_clamp/nhwgc/CMakeLists.txt
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd_clamp/nhwgc/wmma/large_tensor/device_grouped_conv2d_fwd_clamp_wmma_cshufflev3_large_tensor_nhwgc_gkyxc_nhwgk_bf16_gfx1250_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv3d_bwd_weight/ndhwgc/CMakeLists.txt
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv3d_bwd_weight/ndhwgc/wmma/ndhwgc_gkzyxc_ndhwgk/device_grouped_conv3d_bwd_weight_wmma_ndhwgc_gkzyxc_ndhwgk_bf16_gfx1250_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/ndhwgc/CMakeLists.txt
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/ndhwgc/wmma/large_tensor/device_grouped_conv3d_fwd_wmma_cshufflev3_large_tensor_ndhwgc_gkzyxc_ndhwgk_bf16_gfx1250_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd_bias_clamp/ndhwgc/CMakeLists.txt
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd_bias_clamp/ndhwgc/wmma/large_tensor/device_grouped_conv3d_fwd_bias_clamp_wmma_cshufflev3_large_tensor_ndhwgc_gkzyxc_ndhwgk_bf16_gfx1250_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd_clamp/ndhwgc/CMakeLists.txt
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd_clamp/ndhwgc/wmma/large_tensor/device_grouped_conv3d_fwd_clamp_wmma_cshufflev3_large_tensor_ndhwgc_gkzyxc_ndhwgk_bf16_gfx1250_instance.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hipccl): Update PR labels for hipccl
  .github/labeler.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck_tile): reject B-quant granularity finer than the warp N-tile in the 8-wave ABQuant pipeline (#11725)
  projects/composablekernel/example/ck_tile/38_block_scale_gemm/gemm_abquant_quantgrouped_preshuffleb_bf8.cpp
  projects/composablekernel/example/ck_tile/38_block_scale_gemm/gemm_abquant_quantgrouped_preshuffleb_fp8.cpp
  projects/composablekernel/include/ck_tile/ops/gemm_quant/pipeline/gemm_abquant_pipeline_ag_bg_cr_eight_waves_policy.hpp
  projects/composablekernel/test/ck_tile/gemm_block_scale/test_gemm_quant_abquant_eightwaves.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(rocsparse): address review: assign_async 1-D fill, cached loop variables, load_pointer (AISPARSE-654)
  projects/rocsparse/library/src/common/rocsparse_assign_async.cpp
  projects/rocsparse/library/src/common/rocsparse_conjugate.cpp
  projects/rocsparse/library/src/include/rocsparse_common.hpp
  projects/rocsparse/library/src/level1/gthr_device.h
  projects/rocsparse/library/src/level2/rocsparse_bsrxmv_spzl.hpp
  projects/rocsparse/library/src/level2/rocsparse_csrsv_solve_kernels.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hipdnn): uhd_gen suites skip without the converter's dependencies; fixture copy
  projects/hipdnn/plugin_sdk/tests/ingestor/KernelIngestorTestFixtures.hpp
  projects/hipdnn/tools/uhd_gen/tests/test_artifact.py
  projects/hipdnn/tools/uhd_gen/tests/test_generate.py
  projects/hipdnn/tools/uhd_gen/tests/test_parquet_pipeline.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(miopen): forward mixed-type convolutions to hipDNN, match MIOpen's fused-call checks, and add decline and parity tests
  projects/miopen/script/compare_forwarding_runs.py
  projects/miopen/script/test_check_public_abi.py
  projects/miopen/script/test_compare_forwarding_runs.py
  projects/miopen/src/private/hipdnn_forward.cpp
  projects/miopen/src/private/hipdnn_forward.hpp
  projects/miopen/test/gtest/hipdnn_shim_conv.cpp
  projects/miopen/test/gtest/known_forwarding_divergences.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(miopen): check hipDNN availability with the public createHipdnnHandle() instead of the frontend's detail namespace
  projects/miopen/src/private/hipdnn_graph.cpp
  projects/miopen/src/private/hipdnn_graph.hpp
  projects/miopen/test/gtest/CMakeLists.txt
  projects/miopen/test/gtest/hipdnn_availability.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(miopen): split the hipDNN forwarding into graph, convolution and type-conversion files, and switch the private headers to #pragma once
  projects/miopen/src/CMakeLists.txt
  projects/miopen/src/private/hipdnn_conv.cpp
  projects/miopen/src/private/hipdnn_conv.hpp
  projects/miopen/src/private/hipdnn_forward.cpp
  projects/miopen/src/private/hipdnn_graph.cpp
  projects/miopen/src/private/hipdnn_graph.hpp
  projects/miopen/src/private/hipdnn_types.cpp
  projects/miopen/src/private/hipdnn_types.hpp
  projects/miopen/src/private/lru_cache.hpp
  projects/miopen/src/private/miopen_impl.h
  projects/miopen/src/private/miopen_private_rename.h
  projects/miopen/src/private/routing.cpp
  projects/miopen/src/private/routing.hpp
  projects/miopen/src/private/wrapper.cpp
  projects/miopen/test/gtest/CMakeLists.txt
  projects/miopen/test/gtest/hipdnn_availability.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(miopen): forward the convolution entry points to hipDNN (ALMIOPEN-2169, ALMIOPEN-2170)
  projects/miopen/script/check_public_abi.py
  projects/miopen/script/check_wrapper_abi.py
  projects/miopen/script/compare_forwarding_runs.py
  projects/miopen/script/run_forwarding_parity.py
  projects/miopen/script/test_check_public_abi.py
  projects/miopen/script/test_check_wrapper_abi.py
  projects/miopen/script/test_compare_forwarding_runs.py
  projects/miopen/src/CMakeLists.txt
  projects/miopen/src/private/hipdnn_forward.cpp
  projects/miopen/src/private/hipdnn_forward.hpp
  projects/miopen/src/private/routing.cpp
  projects/miopen/src/private/routing.hpp
  projects/miopen/src/private/wrapper.cpp
  projects/miopen/test/gtest/CMakeLists.txt
  projects/miopen/test/gtest/README.md
  projects/miopen/test/gtest/hipdnn_availability.cpp
  projects/miopen/test/gtest/hipdnn_shim_conv.cpp
  projects/miopen/test/gtest/known_forwarding_divergences.txt
  projects/miopen/test/gtest/wrapper_routing.cpp
  projects/miopen/test/public_abi/wrapper_needed.baseline
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(miopen): cap the hipDNN plan cache with an LRU cache, check that the wrapper does not link the hipDNN backend, and stop gating on the full DT_NEEDED baseline
  projects/miopen/script/check_public_abi.py
  projects/miopen/script/check_wrapper_abi.py
  projects/miopen/script/test_check_public_abi.py
  projects/miopen/script/test_check_wrapper_abi.py
  projects/miopen/src/private/hipdnn_forward.cpp
  projects/miopen/src/private/lru_cache.hpp
  projects/miopen/test/gtest/CMakeLists.txt
  projects/miopen/test/gtest/README.md
  projects/miopen/test/gtest/hipdnn_lru_cache.cpp
  projects/miopen/test/public_abi/wrapper_needed.baseline
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(rocke/attention): one arch authority per launcher-cache lookup (AICK-2146)
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/attention_unified.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attn_bf16_d128_ring.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_gfx1250_attention.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_gfx942_gqa_head_fold.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Ship libtensilelite-host.so in its own tensilelite-host package
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/tasks.py
  projects/hipblaslt/tensilelite/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Declare hipblaslt's dependency on the tensilelite-host package
  projects/hipblaslt/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Drop the tensilelite-host version pin; mark devel placement as interim
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/tensilelite/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

build(hipblaslt): package TensileLite independently
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/cmake/hipblaslt-package-config.cmake
  projects/hipblaslt/tensilelite/CMakeLists.txt
  projects/hipblaslt/tensilelite/cmake/tensilelite-config.cmake.in
  projects/hipblaslt/tensilelite/cmake/tensilelite_auto_build.cmake
  projects/hipblaslt/tensilelite/cmake/tensilelite_dependencies.cmake
  projects/hipblaslt/tensilelite/cmake/tensilelite_standalone.cmake
  projects/hipblaslt/tensilelite/rocisa/CMakeLists.txt
  projects/hipblaslt/tensilelite/tests/CMakeLists.txt
  projects/hipsparselt/CMakeLists.txt
  shared/origami/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix formatting
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/device_segmented_radix_sort.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocBLAS) : resolve single block dot_64 bug (#12673)
  projects/rocblas/CHANGELOG.md
  projects/rocblas/clients/gtest/dot_gtest.yaml
  projects/rocblas/library/src/src64/blas1/rocblas_dot_kernels_64.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

gfx942 sinks support
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx942/attention/prefill/benchmark_dense_prefill_live.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx942/attention/prefill/README.md
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx942/attention/prefill/attention_dense_prefill.py
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention/gfx942.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/attention_dense.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_attention.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_gfx942_dense_wiring.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/golden/attention_dense_gfx942_ir_sha256.json
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_builds.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942_golden.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942_numeric.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Addressed comments
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx942/attention/prefill/benchmark_dense_prefill_live.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx942/attention/prefill/attention_dense_prefill.py
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention/bindings.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/attention_dense.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_gfx942_dense_wiring.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942_numeric.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke): put gfx942 dense persistent attention on the runtime-shape path
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx942/attention/prefill/benchmark_dense_prefill_live.py
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/attention/gfx942.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/attention_dense_spec.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/attention_dense.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_gfx942_dense_wiring.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/golden/attention_dense_gfx942_ir_sha256.json
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_builds.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942_numeric.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fixes
  dnn-providers/hip-kernel-provider/rocke/.gitignore
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/common/benchmark_direct_conv.py
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/common/benchmark_implicit_gemm_conv.py
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/common/direct_kernel_sweep.py
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/common/kernel_cache.py
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/common/kernel_sweep.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/conv_implicit_gemm_wgrad.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/conv_implicit_gemm_wgrad_two_stage.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/parity/conv_implicit_gemm_wgrad_emit.c
  dnn-providers/hip-kernel-provider/rocke/library/tests/parity/conv_implicit_gemm_wgrad_emit.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_conv_abi.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_conv_wgrad_correctness.py
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/include/rocke/instance_conv_implicit_gemm_wgrad.h
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/instances/common/conv_implicit_gemm_wgrad.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/helpers/compile.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocke/attention): make the arch guard prove host independence (AICK-2146)
  dnn-providers/hip-kernel-provider/rocke/library/tests/dispatch/attention/test_host_independent_dispatch.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(tensilelite): extract persistent loop components
  projects/hipblaslt/tensilelite/Tensile/Components/PersistentLoop.py
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/Components/TileProcessingStrategy.py
  projects/hipblaslt/tensilelite/Tensile/Components/WorkAssignment.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/sk_hybrid_xcc_mapping.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/gpu_test_helpers.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/streamk5_test_helpers.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_PrefetchAcrossPersistent.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_ReuseAcrossPersistent.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_data_parallel_static.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_persistent_config_generation.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_persistent_control_flow_gpu.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_persistent_loop_reuse.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_streamk_queue_index.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_streamk_uso_gate.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_streamk_work_stealing.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_tile_processing_strategy.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Updated to simplify and improve code-reuse
  dnn-providers/miopen-provider/integration_tests/CMakeLists.txt
  dnn-providers/miopen-provider/integration_tests/IntegrationGpuCudnnShimDeterministic.cpp
  projects/hipdnn/docs/KNOWN_DIVERGENCES.md
  projects/hipdnn/docs/rfcs/0012_CuDNN_Shim.md
  projects/hipdnn/docs/rfcs/0012_CuDNN_Shim_Reference.md
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/detail/engine_filters.h
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/detail/graph_wrapper.h
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/detail/note_triage.h
  projects/hipdnn/frontend/tests/CMakeLists.txt
  projects/hipdnn/frontend/tests/CudnnShimTestSupport.hpp
  projects/hipdnn/frontend/tests/TestCudnnShimEngineFilters.cpp
  projects/hipdnn/frontend/tests/TestCudnnShimNoteTriage.cpp
  projects/hipdnn/frontend/tests/TestCudnnShimNoteTriageTable.cpp
  projects/hipdnn/frontend/tests/TestCudnnShimPlanSurface.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

WIP
  projects/rocfft/library/src/CMakeLists.txt
  projects/rocfft/library/src/assignment_policy.cpp
  projects/rocfft/library/src/include/tree_node.h
  projects/rocfft/library/src/include/tree_node_bluestein.h
  projects/rocfft/library/src/plan.cpp
  projects/rocfft/library/src/rtc_bluestein_kernel.cpp
  projects/rocfft/library/src/rtc_stockham_kernel.cpp
  projects/rocfft/library/src/tree_node.cpp
  projects/rocfft/library/src/tree_node_1D.cpp
  projects/rocfft/library/src/tree_node_2D.cpp
  projects/rocfft/library/src/tree_node_bluestein.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
