Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(rocke/attention): gfx942 D256 32x32x8 conflict-free-V path + two-phase causal mask
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/attention_tiled_2d.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke/attention): D256 gfx942 K-stream — direct HBM->reg K (skip LDS round-trip), +37%
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/attention_tiled_2d.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(python): move descriptor decls to descriptors.hpp
  projects/hipblaslt/python/src/descriptors.cpp
  projects/hipblaslt/python/src/descriptors.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(python): add heuristic() with Algo and HeuristicResult
  projects/hipblaslt/python/CMakeLists.txt
  projects/hipblaslt/python/src/matmul.cpp
  projects/hipblaslt/python/src/module.cpp
  projects/hipblaslt/python/tests/test_heuristic.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): suppress cmake-lint E1122 for install PATTERN clauses
  dnn-providers/hip-kernel-provider/rocke/platform/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): tag subtile memory ops with MemTokenData for ST waitcnt
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/ClusterBarrier.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/InstructionEmitter.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGREmit.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileLREmit.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileMemToken.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileScaleEmit.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_stinky_subtile.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(python): remove nanobind include from descriptors.hpp, drop unused np import
  projects/hipblaslt/python/src/descriptors.hpp
  projects/hipblaslt/python/tests/test_heuristic.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocke/runtime): align module docs with the post-split structure
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/reference/file_index.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/runtime/__init__.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/runtime/packing.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/runtime/torch_interop.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(python): add low-level matmul() call
  projects/hipblaslt/python/src/matmul.cpp
  projects/hipblaslt/python/tests/test_matmul.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(python): sweep all heuristic algos and assert agreement
  projects/hipblaslt/python/pyproject.toml
  projects/hipblaslt/python/tests/test_algo_sweep.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(python): FNUZ fp8 GEMM (verified) + deferred OCP fp8 GEMM
  projects/hipblaslt/python/tests/test_fp8_gemm.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(python): map fp8/bf16 dtypes via ml_dtypes
  projects/hipblaslt/python/hipblaslt/__init__.py
  projects/hipblaslt/python/tests/test_dtypes.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Avoid WAR VALU->MFMA hazard
  projects/hipblaslt/clients/common/include/norm.hpp
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): wire StinkyTofu waitcnt into subtile main loop
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/InstructionScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_stinky_subtile.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(python): fp8 pack/unpack via hipBLASLt ground-truth converters
  projects/hipblaslt/python/CMakeLists.txt
  projects/hipblaslt/python/src/convert.hip
  projects/hipblaslt/python/src/init.hpp
  projects/hipblaslt/python/src/module.cpp
  projects/hipblaslt/python/tests/test_convert.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

review fixes
  projects/composablekernel/tile_engine/ops/gemm_streamk/CMakeLists.txt
  projects/composablekernel/tile_engine/ops/gemm_streamk/gemm_streamk_instance_builder.py
  projects/composablekernel/tile_engine/ops/gemm_streamk/gemm_streamk_validation_utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(python): cross-check ml_dtypes vs hipBLASLt fp8 encoding
  projects/hipblaslt/python/tests/test_encoding_crosscheck.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(python): MX block-scale build/apply/swizzle helpers
  projects/hipblaslt/python/hipblaslt/__init__.py
  projects/hipblaslt/python/hipblaslt/mx.py
  projects/hipblaslt/python/tests/test_mx.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): extend StinkyTofu waitcnt into subtile tail loop
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedLogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_stinky_subtile.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(python): header-derived enum coverage harness (Task 18)
  projects/hipblaslt/python/hipblaslt/_coverage.py
  projects/hipblaslt/python/tests/conftest.py
  projects/hipblaslt/python/tests/test_api_coverage.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): verify subtile ST waitcnt does not duplicate Python passes
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_stinky_subtile.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(python): add convenience gemm() shim over low-level API
  projects/hipblaslt/python/hipblaslt/__init__.py
  projects/hipblaslt/python/tests/test_convenience.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(python): README with install paths, examples, and pytest gpu markers
  projects/hipblaslt/python/README.md
  projects/hipblaslt/python/tests/test_algo_sweep.py
  projects/hipblaslt/python/tests/test_convenience.py
  projects/hipblaslt/python/tests/test_desc.py
  projects/hipblaslt/python/tests/test_device_array.py
  projects/hipblaslt/python/tests/test_dlpack.py
  projects/hipblaslt/python/tests/test_dtypes.py
  projects/hipblaslt/python/tests/test_fp8_gemm.py
  projects/hipblaslt/python/tests/test_handle.py
  projects/hipblaslt/python/tests/test_heuristic.py
  projects/hipblaslt/python/tests/test_layout.py
  projects/hipblaslt/python/tests/test_matmul.py
  projects/hipblaslt/python/tests/test_mx.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(python): add mode-1001 deferred test + MI350 verification handoff
  projects/hipblaslt/docs/superpowers/handoff/2026-07-10-mi350-verification.md
  projects/hipblaslt/python/tests/test_mx.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): skip hand-rolled subtile waits when StinkySubtile is on
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/InstructionEmitter.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_stinky_subtile.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(python): final review: stride i64, FNUZ cast, DLPack strides, workspace dtype, assert
  projects/hipblaslt/python/hipblaslt/__init__.py
  projects/hipblaslt/python/hipblaslt/mx.py
  projects/hipblaslt/python/src/convert.hip
  projects/hipblaslt/python/src/descriptors.cpp
  projects/hipblaslt/python/src/descriptors.hpp
  projects/hipblaslt/python/tests/test_layout.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

make more robust in case of MSVC compilation
  projects/composablekernel/cmake/Embed.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): enable HalfPLR on StreamK SK3 for gfx1250
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): add HalfPLR StreamK SK3 coverage and reject unit tests for gfx1250
  projects/hipblaslt/tensilelite/.gitignore
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_halfplr_f8gemm_tdm.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_halfplr_mxf8gemm_tdm.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_halfplr_streamk_rejects.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update comments as per Estevan's review
  projects/rocwmma/test_categories.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocsparse): prepare nnz-split buffer in SpMM compute when preprocess is skipped
  projects/rocsparse/library/src/level3/rocsparse_spmm.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt, hipsparselt): Fix incorrect dtypes in yaml files (#9273)
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1151/GridBased/gfx1151_Cijk_Alik_Bljk_BBS_BH_Bias_AuxB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1151/GridBased/gfx1151_Cijk_Alik_Bljk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1151/GridBased/gfx1151_Cijk_Alik_Bljk_HHS_BH_Bias_AuxH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1151/GridBased/gfx1151_Cijk_Alik_Bljk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi31/GridBased/navi31_Cijk_Alik_Bljk_BBS_BH_Bias_AuxB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi31/GridBased/navi31_Cijk_Alik_Bljk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi31/GridBased/navi31_Cijk_Alik_Bljk_HHS_BH_Bias_AuxH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi31/GridBased/navi31_Cijk_Alik_Bljk_HHS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Equality/navi32_Cijk_Ailk_Bljk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/navi32/Equality/navi32_Cijk_Alik_Bljk_BBS_BH_Bias_HAS_SAV_UserArgs.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Ailk_Bjlk_B8NSS_BH_Bias_FDMN_SPAML0_A_S_SAV.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Ailk_Bjlk_B8NSS_BH_Bias_FDMN_SPBML0_A_S_SAV.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Ailk_Bljk_B8NSS_BH_Bias_FDMN_SPAML0_A_S_SAV.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Ailk_Bljk_B8NSS_BH_Bias_FDMN_SPBML0_A_S_SAV.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Alik_Bjlk_B8NSS_BH_Bias_FDMN_SPAML0_A_S_SAV.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Alik_Bjlk_B8NSS_BH_Bias_FDMN_SPBML0_A_S_SAV.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Alik_Bljk_B8NSS_BH_Bias_FDMN_SPAML0_A_S_SAV.yaml
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Alik_Bljk_B8NSS_BH_Bias_FDMN_SPBML0_A_S_SAV.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Revert change of CuCount_test
  projects/hipblaslt/tensilelite/tests/CuCount_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix regression test
  projects/hipblaslt/clients/tests/data/matmul_gtest.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Change library logic parsing from warning to error
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Problem.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/Run.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionSupport/__snapshots__/test_solution_support_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionSupport/test_solution_support_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileCreateLibraryRun/test_r7_createlib_deep_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_validateParameterTypes.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix test_custom_kernels_char
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/CustomKernels/__snapshots__/test_custom_kernels_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/CustomKernels/test_custom_kernels_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/DECISIONS.md
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/adr/0002-custom-kernels-embedded-yaml-parsing.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Fix regressions and add new tests
  projects/hipblaslt/tensilelite/Tensile/TensileLogic/HandleCustomKernel.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/DECISIONS.md
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/PublicInputSurface/test_pchaos_Tensile_L239_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileCreateLibraryRun/test_run_helpers_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileLogic/__snapshots__/test_handlecustomkernel_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileLogic/test_handlecustomkernel_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileMain/test_tensile_helpers_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/ToolchainComponent/test_toolchain_component_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/ValidParameters/__snapshots__/test_builders_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Toolchain/Component.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(hipblaslt): Fix gfx1201 test for FP16 T-T GEMM + bias-fused epilogue (#9204)
  projects/hipblaslt/clients/tests/data/matmul_gtest.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1201/GridBased/gfx1201_Cijk_Alik_Bjlk_HHS_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): Change library logic parsing from warning to error (#9284)
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Problem.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/Run.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionSupport/__snapshots__/test_solution_support_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionSupport/test_solution_support_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileCreateLibraryRun/test_r7_createlib_deep_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_validateParameterTypes.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add gemm_multi_abd to the TileEngine->Dispatcher bridge
  projects/composablekernel/dispatcher/bindings/ctypes/CMakeLists.txt
  projects/composablekernel/dispatcher/bindings/ctypes/gemm_multi_abd_ctypes_lib.cpp
  projects/composablekernel/dispatcher/codegen/unified_gemm_codegen.py
  projects/composablekernel/dispatcher/python/gemm_utils.py
  projects/composablekernel/tile_engine/ops/gemm/gemm_full_benchmark.py
  projects/composablekernel/tile_engine/ops/gemm/run_one_gemm_kernel.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
