Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

(CMCL) Author the packed pointwise set and convert conv_fwd to hip (ALMIOPEN-2509)
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/test_descriptors/integration/pointwise/kernel_dtype_matches_graph.umd.json
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/test_descriptors/integration/pointwise/kernels/PointwiseAdd.cpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/test_descriptors/integration/pointwise/kernels/PointwiseMul.cpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/test_descriptors/integration/pointwise/kernels/PointwiseSub.cpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/test_descriptors/integration/pointwise/operation_is_add.umd.json
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/test_descriptors/integration/pointwise/operation_is_mul.umd.json
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/test_descriptors/integration/pointwise/operation_is_sub.umd.json
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/test_descriptors/integration/pointwise/pointwise.kmd.json
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/test_descriptors/integration/pointwise/pointwise.udd.json
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/test_descriptors/integration/pointwise/pointwise.ued.json
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/test_descriptors/integration/pointwise/pointwise.uhd.json
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/test_descriptors/integration/pointwise/pointwise_add.kdp.json
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/test_descriptors/integration/pointwise/pointwise_mul.kdp.json
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/test_descriptors/integration/pointwise/pointwise_sub.kdp.json
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/test_descriptors/shared/conv_fwd/conv_fwd.kdp.json
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/test_descriptors/shared/conv_fwd/conv_fwd_f16_block64.ukd.json
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/test_descriptors/shared/conv_fwd/kernels/ConvFwd.cpp
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/test_descriptors/unit/pointwise/pointwise_add.kdp.json
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/test_descriptors/unit/pointwise/pointwise_add_f16_block64.ukd.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(ck-tile): enable batched GEMM + batched contraction bridges on gfx1250 (MI400) (#10928)
  projects/composablekernel/dispatcher/python/batched_contraction_utils.py
  projects/composablekernel/dispatcher/python/batched_gemm_utils.py
  projects/composablekernel/dispatcher/python/gemm_utils.py
  projects/composablekernel/dispatcher/tests/test_batched_bridge.py
  projects/composablekernel/dispatcher/tests/test_batched_contraction_bridge.py
  projects/composablekernel/dispatcher/tests/test_multi_abd_bridge.py
  projects/composablekernel/tile_engine/ops/gemm/batched_contraction/configs/bridge_default_ci_config_gfx1250.json
  projects/composablekernel/tile_engine/ops/gemm/batched_contraction/configs/default_ci_config_gfx1250.json
  projects/composablekernel/tile_engine/ops/gemm/batched_contraction_full_benchmark.py
  projects/composablekernel/tile_engine/ops/gemm/batched_gemm/configs/default_ci_config_gfx1250.json
  projects/composablekernel/tile_engine/ops/gemm/batched_gemm_full_benchmark.py
  projects/composablekernel/tile_engine/ops/gemm/gemm_multi_abd/configs/default_ci_config_gfx1250.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(hipblaslt): apply clang-format to lines touched by this branch
  projects/hipblaslt/clients/common/include/cgroup_memory_probe.hpp
  projects/hipblaslt/clients/common/include/d_vector.hpp
  projects/hipblaslt/clients/tests/src/cgroup_memory_probe_gtest.cpp
  projects/hipblaslt/clients/tests/src/host_memory_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

(CMCL) Rewire the ingestor descriptor packaging onto the unit and integration roots (ALMIOPEN-2509)
  dnn-providers/hip-kernel-provider/CMakeLists.txt
  dnn-providers/hip-kernel-provider/descriptor-packaging/cmake/HkpPackaging.cmake
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/IngestorKernels.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocBLAS/Tensile) : fix Tensile solution override handling (#10766)
  projects/rocblas/CHANGELOG.md
  projects/rocblas/clients/benchmarks/gemm_tune/gemm_tune_client.cpp
  projects/rocblas/docs/how-to/Programmers_Guide.rst
  projects/rocblas/library/src/tensile_host.cpp
  shared/tensile/HostLibraryTests/CachingLibrary_test.cpp
  shared/tensile/Tensile/Source/lib/include/Tensile/MasterSolutionLibrary.hpp
  shared/tensile/Tensile/Source/lib/include/Tensile/UserDrivenTuningParser.hpp
  shared/tensile/Tensile/Source/lib/source/UserDrivenTuningParser.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

removing unecessary cmake definition in that file
  projects/rocsparse/library/include/rocsparse-version.h.in
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipsparse/rocsparse): Fix wrong references to ROCm installation (#11505)
  projects/hipsparse/docs/install/install.rst
  projects/rocsparse/docs/install/install.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): remove bad-merge duplicate _populate_launch_bquant
  projects/composablekernel/tile_engine/ops/gemm/gemm_instance_builder.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

(CMCL) Repoint the test binaries onto the split descriptor roots (ALMIOPEN-2509)
  dnn-providers/hip-kernel-provider/src/integration_tests/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/integration_tests/main.cpp
  dnn-providers/hip-kernel-provider/src/tests/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/tests/TestDescriptorRoot.hpp
  dnn-providers/hip-kernel-provider/src/tests/compilation/TestKpackKernelLoader.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/TestPointwiseKpackDispatch.cpp
  dnn-providers/hip-kernel-provider/src/tests/ingestor/TestPackedDescriptorLoad.cpp
  dnn-providers/hip-kernel-provider/src/tests/main.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove unneeded guard
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

chore: add CI trigger convenience script
  .github/scripts/trigger_ci.py
  dnn-providers/integration-tests/SUPPORT_MATRIX_OVERVIEW.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

(CMCL) Load the conv kernel from its archive and harden the descriptor gates (ALMIOPEN-2509)
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/ConvNative.cpp
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/IntegrationGpuKernelIngestorKpack.cpp
  dnn-providers/hip-kernel-provider/src/integration_tests/main.cpp
  dnn-providers/hip-kernel-provider/src/tests/TestDescriptorRoot.hpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/TestConvFwdPack.cpp
  dnn-providers/hip-kernel-provider/src/tests/ingestor/TestPackedDescriptorLoad.cpp
  dnn-providers/hip-kernel-provider/src/tests/main.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): close the corpus generator's silent gaps and test what was untested
  projects/hipdnn/tools/corpus_gen/CorpusGen.cpp
  projects/hipdnn/tools/corpus_gen/include/hipdnn_corpus_gen/CorpusOutput.hpp
  projects/hipdnn/tools/corpus_gen/include/hipdnn_corpus_gen/GraphSize.hpp
  projects/hipdnn/tools/corpus_gen/include/hipdnn_corpus_gen/MetadataCorpus.hpp
  projects/hipdnn/tools/corpus_gen/include/hipdnn_corpus_gen/OperationDirectory.hpp
  projects/hipdnn/tools/corpus_gen/include/hipdnn_corpus_gen/WorkloadSampling.hpp
  projects/hipdnn/tools/corpus_gen/operations/conv_fwd.opmeta.json
  projects/hipdnn/tools/corpus_gen/operations/layernorm_fwd.opmeta.json
  projects/hipdnn/tools/corpus_gen/operations/pointwise.opmeta.json
  projects/hipdnn/tools/corpus_gen/operations/reduction.opmeta.json
  projects/hipdnn/tools/corpus_gen/operations/rmsnorm_fwd.opmeta.json
  projects/hipdnn/tools/corpus_gen/tests/CMakeLists.txt
  projects/hipdnn/tools/corpus_gen/tests/TestCorpusOutput.cpp
  projects/hipdnn/tools/corpus_gen/tests/TestEveryGraphBuilder.cpp
  projects/hipdnn/tools/corpus_gen/tests/TestGraphBuilderRegistry.cpp
  projects/hipdnn/tools/corpus_gen/tests/TestGraphSize.cpp
  projects/hipdnn/tools/corpus_gen/tests/TestOperationDirectory.cpp
  projects/hipdnn/tools/corpus_gen/tests/TestWorkloadSampling.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

(CMCL) Document the split descriptor roots and repoint the layout tests (ALMIOPEN-2509)
  dnn-providers/hip-kernel-provider/descriptor-packaging/tests/test_hkp_pack_layout.py
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/test_descriptors/README.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(rocsparse): drop the alpha stride cast from the ELL solve
  projects/rocsparse/library/src/level2/rocsparse_ellsv_solve.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(rocsparse): move the ELL entry points of trm_data_t next to the analysis
  projects/rocsparse/library/src/common/rocsparse_trm_data_t.cpp
  projects/rocsparse/library/src/include/rocsparse_trm_data_t.hpp
  projects/rocsparse/library/src/level2/rocsparse_ellsv_analysis.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocsparse): add ELL format support to rocsparse_spsv
  projects/rocsparse/CHANGELOG.md
  projects/rocsparse/clients/benchmarks/CMakeLists.txt
  projects/rocsparse/clients/benchmarks/rocsparse_routine.cpp
  projects/rocsparse/clients/benchmarks/rocsparse_routine.hpp
  projects/rocsparse/clients/common/rocsparse_host.cpp
  projects/rocsparse/clients/include/rocsparse_host.hpp
  projects/rocsparse/clients/include/testing_spsv_ell.hpp
  projects/rocsparse/clients/testings/testing_spsv_ell.cpp
  projects/rocsparse/clients/tests/CMakeLists.txt
  projects/rocsparse/clients/tests/rocsparse_test.yaml
  projects/rocsparse/clients/tests/rocsparse_test_enum.hpp
  projects/rocsparse/clients/tests/test_spsv_ell.cpp
  projects/rocsparse/clients/tests/test_spsv_ell.yaml
  projects/rocsparse/library/include/internal/generic/rocsparse_spsv.h
  projects/rocsparse/library/src/level2/rocsparse_spsv.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(rocsparse): address spsv ELL review feedback
  projects/rocsparse/library/src/level2/rocsparse_spsv.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt][tensilelite] Remove supportedHip from characterization tests
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/PublicInputSurfaceDeep/test_pchaos_Validators_L226_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/ToolchainValidators/test_toolchain_validators_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocBLAS/shared-tensile] Continue deprecating hipconfig
  shared/tensile/Tensile/AsmCaps.py
  shared/tensile/Tensile/Common.py
  shared/tensile/Tensile/Tests/conftest.py
  shared/tensile/Tensile/Tests/unit/test_CustomKernels.py
  shared/tensile/Tensile/Tests/unit/test_TensileCreateLibrary.py
  shared/tensile/Tensile/Utilities/Toolchain.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocsparse): drop the transposed cases from the ELL spsv tests
  projects/rocsparse/clients/common/rocsparse_host.cpp
  projects/rocsparse/clients/include/rocsparse_host.hpp
  projects/rocsparse/clients/testings/testing_spsv_ell.cpp
  projects/rocsparse/clients/tests/test_spsv_ell.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(rocsparse): pass the ELL solve buffer size before the buffer
  projects/rocsparse/library/src/level2/rocsparse_spsv.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocBLAS/shared-tensile] Changes to appease linter
  shared/tensile/Tensile/Common.py
  shared/tensile/Tensile/Tests/unit/test_TensileCreateLibrary.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt] Deprecate hipconfig: read ROCm version without hipconfig
  projects/hipblaslt/cmake/hipblaslt_python.cmake
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/Run.py
  projects/hipblaslt/tensilelite/Tensile/Toolchain/Component.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblas] Fix HIP_PLATFORM override when --cuda flag is used
  projects/hipblas/rmake.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocBLAS/shared-tensile] Deprecate hipconfig: read ROCm version without hipconfig
  shared/tensile/Tensile/Common.py
  shared/tensile/Tensile/Tensile.py
  shared/tensile/Tensile/TensileCreateLib/ParseArguments.py
  shared/tensile/Tensile/cmake/TensileConfig.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt][tensilelite] Replace hipconfig version tests with new behavior tests
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/ToolchainComponent/test_toolchain_component_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt] Continue deprecating hipconfig
  projects/hipblaslt/tensilelite/Tensile/Toolchain/Component.py
  projects/hipblaslt/tensilelite/Tensile/Toolchain/Validators.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt][tensilelite] Fix test mocks after HIP_CONFIG removal from validateToolchain
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileCreateLibraryRun/test_r7_createlib_deep_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_gfx1250_asic_revision.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblas][hipsolver] Replace hipconfig --platform with hardcoded 'amd'
  projects/hipblas/install.sh
  projects/hipblas/rmake.py
  projects/hipsolver/install.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt][tensilelite] Prioritize pip rocm_sdk version over system ROCm
  projects/hipblaslt/tensilelite/Tensile/Toolchain/Component.py
  shared/tensile/Tensile/Common.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt][tensilelite] Update coverage baseline for Component.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/coverage-baseline.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt][tensilelite] Add rocm_sdk pip fallback for ROCm version detection
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/ToolchainValidators/test_toolchain_validators_char.py
  projects/hipblaslt/tensilelite/Tensile/Toolchain/Component.py
  shared/tensile/Tensile/Common.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(rocsparse): fold the ELL spsv buffer sizing into one routine
  projects/rocsparse/library/src/level2/rocsparse_ellsv.cpp
  projects/rocsparse/library/src/level2/rocsparse_ellsv.hpp
  projects/rocsparse/library/src/level2/rocsparse_spsv.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocsparse): add ELL format support to rocsparse_sptrsv
  projects/rocsparse/CHANGELOG.md
  projects/rocsparse/clients/include/testing_sptrsv_ell.hpp
  projects/rocsparse/clients/testings/testing_sptrsv_ell.cpp
  projects/rocsparse/clients/tests/CMakeLists.txt
  projects/rocsparse/clients/tests/rocsparse_test.yaml
  projects/rocsparse/clients/tests/rocsparse_test_enum.hpp
  projects/rocsparse/clients/tests/test_sptrsv_ell.cpp
  projects/rocsparse/clients/tests/test_sptrsv_ell.yaml
  projects/rocsparse/library/include/internal/generic/rocsparse_sptrsv.h
  projects/rocsparse/library/src/level2/rocsparse_sptrsv.cpp
  projects/rocsparse/library/src/level2/rocsparse_sptrsv_descr.cpp
  projects/rocsparse/library/src/level2/rocsparse_sptrsv_descr.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(rocsparse): pass the ELL solve buffer size before the buffer
  projects/rocsparse/library/src/level2/rocsparse_sptrsv.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(rocsparse): pass the caller's buffer size to the ELL sptrsv stages
  projects/rocsparse/library/src/level2/rocsparse_sptrsv.cpp
  projects/rocsparse/library/src/level2/rocsparse_sptrsv_descr.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(rocsparse): enumerate every format in the sptrsv zero-pivot switch
  projects/rocsparse/library/src/level2/rocsparse_sptrsv.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocsparse): drop the transposed cases from the ELL sptrsv tests
  projects/rocsparse/clients/testings/testing_sptrsv_ell.cpp
  projects/rocsparse/clients/tests/test_sptrsv_ell.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update projects/rocsparse/CHANGELOG.md
  projects/rocsparse/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
