Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

ci: set coverage baseline release_type to ci
  .github/workflows/therock-multi-arch-ci-nightly.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocsolver): keep the syevj threshold finite for large abstol
  projects/rocsolver/clients/gtest/lapack/syevj_convergence_gtest.cpp
  projects/rocsolver/library/src/lapack/roclapack_syevj_heevj.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocsolver): separate evect_none from non-convergence in the A contract
  projects/rocsolver/library/include/rocsolver/rocsolver-functions.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocsolver): fold the two review fixes into the changelog
  projects/rocsolver/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci: TEMP isolate coverage job with hardcoded baseline run
  .github/workflows/therock-multi-arch-ci-nightly.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(fmha): reject a non-finite d_sink in the neutral-head check
  projects/composablekernel/example/ck_tile/01_fmha/fmha_bwd_runner.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(fmha): cover a -inf sink meeting a fully masked row
  projects/composablekernel/test/ck_tile/fmha/test_fmha_bwd.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocsolver): sync after the exceed reduction, drop the duplicate norm pass
  projects/rocsolver/clients/gtest/lapack/syevj_convergence_gtest.cpp
  projects/rocsolver/library/src/lapack/roclapack_syevj_heevj.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): rename parametrize arg that shadowed xdist's worker_id
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_gpu_detection.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocsolver): sync after the pre-loop exceed reduction too
  projects/rocsolver/clients/gtest/lapack/syevj_convergence_gtest.cpp
  projects/rocsolver/library/src/lapack/roclapack_syevj_heevj.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke): keep scaled WMMA LLVM spelling in ISA layer (#12483)
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/arch/wmma_scale.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/isa/backend.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/isa/wmma_scale.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_arch_mma_ssot.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_gfx1250_scaled_wmma.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(fmha_fwd): re-measure gfx125 qr_tdm bm0 crossover to N=128
  projects/composablekernel/example/ck_tile/01_fmha/codegen/ops/fmha_fwd.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add updated secular equation solver for STEDC
  projects/rocsolver/CMakeLists.txt
  projects/rocsolver/library/src/auxiliary/rocauxiliary_stedc.hpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_steqr.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Make the staged store follow the partition split, and gate the NGLL/NLL merge off
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fixed stale test cases
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

enabled cfvst for bf16
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/attention_dense.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

rebless goldens
  dnn-providers/hip-kernel-provider/rocke/library/tests/golden/attention_dense_gfx942_ir_sha256.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test case for problem->spec
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

case study
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx942/attention/prefill/bench_rocke_once.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx942/attention/prefill/cfvst_bf16_d128_case_study.md
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx942/attention/prefill/run_ab_cfvst.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

test(ck-tile): integrate MX regressions into regular suites
  projects/composablekernel/dispatcher/docs/mx_gemm.md
  projects/composablekernel/dispatcher/tests/CMakeLists.txt
  projects/composablekernel/dispatcher/tests/test_mx_gemm_bridge.py
  projects/composablekernel/dispatcher/tests/test_mx_gemm_cmake.py
  projects/composablekernel/dispatcher/tests/test_mx_gemm_review_regressions.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hipblaslt: build gfx1250-strict from "all" and drop the gfx1250v0 overlay
  projects/hipblaslt/cmake/hipblaslt_codegen.cmake
  projects/hipblaslt/tensilelite/Tensile/Common/Architectures.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/Run.py
  projects/hipblaslt/tensilelite/Tensile/TensileLogic/ParseArguments.py
  projects/hipblaslt/tensilelite/Tensile/TensileLogic/Run.py
  projects/hipblaslt/tensilelite/Tensile/TensileLogic/ValidCorpusConsistency.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/config_helpers.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileLogic/__snapshots__/test_parsearguments_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileLogic/test_run_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_arch_steppings.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_valid_corpus_consistency.py
  projects/hipblaslt/tensilelite/pytest.ini
  projects/hipblaslt/tools/scripts/tests/test_validate_library_layout.py
  projects/hipblaslt/tools/scripts/validate_library_layout.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hipblaslt: strip probe features from GPU_TARGETS and ship generator scripts
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/tensilelite/Tensile/GpuArch.py
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/Run.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_arch_steppings.py
  projects/hipblaslt/tensilelite/tasks.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hipblaslt: select the gfx1250 stepping from the ASIC revision
  projects/hipblaslt/clients/tests/src/CMakeLists.txt
  projects/hipblaslt/clients/tests/src/arch_candidates_gtest.cpp
  projects/hipblaslt/clients/tests/src/hipblaslt_test.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/include/rocblaslt-auxiliary.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/rocblaslt_arch_candidates.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_auxiliary.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
  projects/hipblaslt/tensilelite/Tensile/Common/Architectures.py
  projects/hipblaslt/tensilelite/Tensile/GpuArch.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_arch_steppings.py
  projects/hipblaslt/tensilelite/Tensile/Toolchain/Component.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hipblaslt: close the true16 gap the rebase left on gfx1250-strict
  projects/hipblaslt/device-library/extops/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): tag a stepping's code objects with both target names
  projects/hipblaslt/tensilelite/Tensile/Common/Architectures.py
  projects/hipblaslt/tensilelite/Tensile/Toolchain/Component.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hipblaslt: make the gfx1250-strict stepping work at runtime, in the test data and under the coverage gate
  projects/hipblaslt/clients/tests/data/known_bugs.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/subtile_bf16_gfx1250.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/subtile_bf16_gfx1250_bench.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/subtile_bf16_gfx1250_cluster.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_arch_steppings.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_valid_corpus_consistency.py
  projects/hipblaslt/tensilelite/src/hip/HipHardware.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): build a named architecture's steppings alongside it
  projects/hipblaslt/tensilelite/Tensile/Common/Architectures.py
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/Run.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hipblaslt: stop the build detecting a bare gfx1250 on strict silicon
  projects/hipblaslt/tensilelite/Tensile/Common/Architectures.py
  projects/hipblaslt/tensilelite/Tensile/GpuArch.py
  projects/hipblaslt/tensilelite/Tensile/Tests/gpu_detection.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_arch_steppings.py
  projects/hipblaslt/tensilelite/tox.ini
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

chore: revert unrelated PR bot changes
  tools/libraries_pr_bot/policy_check.py
  tools/libraries_pr_bot/test_policy_check_ut.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipsparselt): fix SIA4/TDM3 sparse validation failures on gfx1250 after PR #11758
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/bf16_activation.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/f16_activation.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_b8.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_b8_sb.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_b8bs.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_b8bs_sb.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_b8f8.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_b8f8_sb.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_b8hs.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_b8hs_sb.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_bf16.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_bf16_sb.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_f16.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_f16_sb.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_f16_sia4.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_f8.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_f8_ml.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_f8_sb.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_f8b8.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_f8b8_sb.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_f8bs.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_f8bs_sb.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_f8hs.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_f8hs_sb.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_fp16_ml1.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_i8.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_i8_sb.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_i8bs.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_i8bs_sb.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_i8hs.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_i8hs_sb.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_tdm_all.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_tdm_f16_transposes.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_tdm_gl2prefetch.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_tdm_ldspadding.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_tdm_multicast.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

saturate ND tensor add/subtract/multiply on integer dtypes instead of wrapping
  projects/rpp/api/rppt_tensor_arithmetic_operations.h
  projects/rpp/src/include/common/hip/rpp_hip_math.hpp
  projects/rpp/src/modules/tensor/cpu/kernel/tensor_binary_operations.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Added graph execution code for batchNorm forward training GPU ref
  dnn-providers/integration-tests/src/harness/gpu-graph-executor/GpuReferenceGraphExecutor.hpp
  dnn-providers/integration-tests/src/harness/gpu-graph-executor/detail/GpuBatchnormFwdTrainPlan.hpp
  dnn-providers/integration-tests/src/harness/gpu-graph-executor/detail/GpuBatchnormFwdTrainSignatureKey.hpp
  dnn-providers/integration-tests/src/harness/gpu-graph-executor/detail/GpuPlanRegistrySignatureKey.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Added unit tests for graph execution of batchnorm forward training GPU ref
  dnn-providers/integration-tests/tests/BatchnormFwdTrainGraphTestUtils.hpp
  dnn-providers/integration-tests/tests/CMakeLists.txt
  dnn-providers/integration-tests/tests/TestGpuBatchnormFwdTrainPlan.cpp
  dnn-providers/integration-tests/tests/TestGpuBatchnormFwdTrainSignatureKey.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Modified EpsilonTestUtils to ScalarTestUtils so it can be used for any scalar instead of just epsilon
  dnn-providers/integration-tests/tests/EpsilonTestUtils.hpp
  dnn-providers/integration-tests/tests/LayernormBwdGraphTestUtils.hpp
  dnn-providers/integration-tests/tests/LayernormFwdGraphTestUtils.hpp
  dnn-providers/integration-tests/tests/ScalarTestUtils.hpp
  dnn-providers/integration-tests/tests/TestGpuRMSNormPlan.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): issue TDM and GL2 prefetch MXS-first like ds_load
  projects/hipblaslt/tensilelite/Tensile/Common/MxScaleLayout.py
  projects/hipblaslt/tensilelite/Tensile/Components/SIA.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_mx_tile_tdm.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_sia0_pgr2_global_read_placement.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat: limit MX128 scheduling and MXS-first issue to mxUnit==1
  projects/hipblaslt/tensilelite/Tensile/Common/MxScaleLayout.py
  projects/hipblaslt/tensilelite/Tensile/Components/SIA.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_mx_tile_tdm.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_sia0_pgr2_global_read_placement.py
  shared/stinkytofu/include/stinkytofu/bindings/python/Module.hpp
  shared/stinkytofu/include/stinkytofu/core/Types.hpp
  shared/stinkytofu/src/pipeline/backend/Gfx1250Backend.cpp
  shared/stinkytofu/src/transforms/asm/StinkyDAGSchedulerPass.cpp
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
  shared/stinkytofu/tests/unit/asm/DAGSchedulerPassTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(stinkytofu): keep DS and parent VALU on the earliest pending WMMA
  shared/stinkytofu/src/transforms/asm/StinkyDAGSchedulerPass.cpp
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
  shared/stinkytofu/src/transforms/asm/dag/ReadyQueue.hpp
  shared/stinkytofu/tests/unit/asm/DAGSchedulerPassTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Matmul GPU reference kernel
  dnn-providers/integration-tests/gpu-ref/CMakeLists.txt
  dnn-providers/integration-tests/gpu-ref/include/hipdnn-gpu-ref/GpuFpReferenceMatmul.hpp
  dnn-providers/integration-tests/gpu-ref/kernels/CMakeLists.txt
  dnn-providers/integration-tests/gpu-ref/kernels/matmul/GpuRefMatmul.cpp
  dnn-providers/integration-tests/gpu-ref/kernels/types/GpuRefMatmulArgs.h
  dnn-providers/integration-tests/gpu-ref/kernels/types/GpuRefTypes.h
  dnn-providers/integration-tests/gpu-ref/src/GpuFpReferenceMatmul.cpp
  dnn-providers/integration-tests/tests/CMakeLists.txt
  dnn-providers/integration-tests/tests/gpu-ref/GpuMatmulRefTestFixture.hpp
  dnn-providers/integration-tests/tests/gpu-ref/MatmulShapeCatalog.hpp
  dnn-providers/integration-tests/tests/gpu-ref/MatmulTestCase.hpp
  dnn-providers/integration-tests/tests/gpu-ref/TestGpuFpReferenceMatmul.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix compute type mismatch in GPU reference tests
  dnn-providers/integration-tests/tests/gpu-ref/GpuMatmulRefTestFixture.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Address automated PR comments
  dnn-providers/integration-tests/gpu-ref/include/hipdnn-gpu-ref/GpuFpReferenceMatmul.hpp
  dnn-providers/integration-tests/tests/gpu-ref/MatmulShapeCatalog.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
