Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

Revert "Add missing ValidParameter entry for WaveSeparateGlobalReadMetadata"
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add checks before and after asigning derived parameters to find all issues in there too
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix wrong dtype on default value for GlobalReadPerMfma
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(frontend): enforce K-heads == V-heads in SDPA node validation
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaBwdPlanBuilder.cpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaFwdPlanBuilder.cpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/SdpaBwdNode.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/SdpaFwdNode.hpp
  projects/hipdnn/frontend/tests/TestSdpaBwdNode.cpp
  projects/hipdnn/frontend/tests/TestSdpaFwdNode.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

guard arg.Print() in WMMA bwd data grouped conv with log level check
  projects/composablekernel/include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_data_multiple_d_wmma_cshuffle_v3.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Pin references to a commit
  projects/hipdnn/docs/rfcs/0016_RuntimePassByValueTensors.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke): load comgr before the IR-flavor gate; realpath root de-dupe
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/runtime/comgr.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/runtime/hip_module.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

cmake remove Ofast option and change uchar type to compile with standard c++
  projects/rpp/CMakeLists.txt
  projects/rpp/utilities/test_suite/HIP/Tensor_voxel_hip.cpp
  projects/rpp/utilities/test_suite/HOST/Tensor_voxel_host.cpp
  projects/rpp/utilities/test_suite/rpp_test_suite_voxel.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipblaslt): add PR title and JIRA ID conventions to AGENTS.md (#8882)
  projects/hipblaslt/AGENTS.md
  projects/hipblaslt/tensilelite/AGENTS.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): restore numHeadsQ variable used by byte-stride check
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaBwdPlanBuilder.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

UsePLRPack
  projects/hipblaslt/tensilelite/Tensile/Components/CMSValidator.py
  projects/hipblaslt/tensilelite/Tensile/Components/CustomSchedule.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomSchedule.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_ValidatePack.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

SwapGlobalReadOrder
  projects/hipblaslt/tensilelite/Tensile/Components/CMSValidator.py
  projects/hipblaslt/tensilelite/Tensile/Components/CustomSchedule.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/cms_validation_base.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomSchedule.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomSchedule_LayoutAutoDetection.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_GRMustStartAfterGRInc.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_ValidateGRsCompleteBeforeLr1s.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_ValidateGlobalReadsNotTooEarly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_ValidatePack.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci(hipdnn): pull ROCm from multi-arch nightlies and flag stale wheels
  .github/scripts/check_wheel_freshness.py
  .github/workflows/hipdnn-superbuild-ci.yml
  projects/hipdnn/scripts/windows/wheel_build_setup.ps1
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(runbook): Step 0 caveat — the preset bench is not the exhaustive lever sweep
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/optimization_runbook.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke/attention): D256 gfx950 bf16 prefill 32x32 + softmax-MFMA interleave fast path
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/attention_unified.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipdnn): point dnn-benchmarking references at its new repo
  projects/hipdnn/dockerfiles/Dockerfile.ubuntu24
  projects/hipdnn/docs/Roadmap.md
  projects/hipdnn/tools/dnn-convert-shapes/README.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat [hipblaslt] Adding ULP measurements to hipblaslt-bench (#8979)
  projects/hipblaslt/clients/bench/src/client.cpp
  projects/hipblaslt/clients/common/include/argument_model.hpp
  projects/hipblaslt/clients/common/include/hipblaslt_arguments.hpp
  projects/hipblaslt/clients/common/include/hipblaslt_init.hpp
  projects/hipblaslt/clients/common/include/testing_matmul.hpp
  projects/hipblaslt/clients/common/include/ulp.hpp
  projects/hipblaslt/clients/common/src/hipblaslt_arguments.cpp
  projects/hipblaslt/clients/common/src/hipblaslt_init_device.cpp
  projects/hipblaslt/clients/tests/data/hipblaslt_common.yaml
  projects/hipblaslt/clients/tests/src/CMakeLists.txt
  projects/hipblaslt/clients/tests/src/ulp_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci(coverage): pass --git-service github for tokenless Codecov upload
  .github/workflows/therock-ci-coverage.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Complete implementation of dense_to_sparse_bell
  projects/rocsparse/clients/common/rocsparse_host.cpp
  projects/rocsparse/clients/include/gbyte.hpp
  projects/rocsparse/clients/testings/testing_dense_to_sparse_bell.cpp
  projects/rocsparse/clients/tests/test_dense_to_sparse_bell.yaml
  projects/rocsparse/library/src/conversion/dense2bell.h
  projects/rocsparse/library/src/conversion/rocsparse_dense2bell.cpp
  projects/rocsparse/library/src/conversion/rocsparse_dense_to_sparse.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[Tensile] Fix f8 guard-band bounds check for OCP on gfx950
  shared/tensile/Tensile/Source/client/include/DataInitialization.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update changelog and fix clang formatting
  projects/rocsparse/CHANGELOG.md
  projects/rocsparse/CMakeLists.txt
  projects/rocsparse/clients/benchmarks/rocsparse_routine.cpp
  projects/rocsparse/clients/common/rocsparse_host.cpp
  projects/rocsparse/clients/include/rocsparse_host.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke): make torch optional, not load-bearing (#8891)
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_builds.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_ci_static_attention.py
  dnn-providers/hip-kernel-provider/rocke/platform/AGENTS.md
  dnn-providers/hip-kernel-provider/rocke/platform/BUILD.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/runtime/comgr.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/runtime/hip_module.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/test_rocke.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

minor update to CMakeLists.txt
  projects/rpp/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hip-kernel-provider] Forward plugin robustness (#8675)
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaBwdPlan.cpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaBwdPlanBuilder.cpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaFwdPlan.cpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaFwdPlanBuilder.cpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaPlanUtils.hpp
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/TestSdpaFwdPlanBuilder.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Delete commented debug code
  projects/rocsparse/clients/testings/testing_dense_to_sparse_bell.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen] lgbm_pcfg: first-valid ranked walk instead of single argmax
  projects/miopen/src/conv/heuristics/lgbm_pcfg_pick.cpp
  projects/miopen/src/include/miopen/conv/heuristics/lgbm_pcfg_hook.hpp
  projects/miopen/src/include/miopen/conv/heuristics/lgbm_pcfg_pick.hpp
  projects/miopen/src/include/miopen/find_solution.hpp
  projects/miopen/test/gtest/lgbm_pcfg_picker.cpp
  projects/miopen/test/gtest/lgbm_pcfg_test_vectors.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci(hip-kernel-provider): enable rocKE build in TheRock CI matrix (#9115)
  .github/scripts/therock_matrix.py
  dnn-providers/hip-kernel-provider/CMakeLists.txt
  dnn-providers/hip-kernel-provider/rocke/CMakeLists.txt
  dnn-providers/hip-kernel-provider/rocke/library/api/CMakeLists.txt
  dnn-providers/hip-kernel-provider/rocke/platform/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci(hipdnn): run CodeQL over the superbuild, host-only
  projects/hipdnn/scripts/codeql_run_new.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[ci] Point CI to the new daily index page (#142)
  .github/workflows/ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[ci] Point CI to the new daily index page (#142)
  projects/hipthreads/.github/workflows/ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

miopen-provider: bump quick category timeout to 20 minutes
  dnn-providers/miopen-provider/test_categories_integration.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[examples] Remove placement new workaround (#143)
  examples/InOneWeekendRaytracer/step3-hipthread-dropin/main.hip
  examples/InOneWeekendRaytracer/step4-simdize/main.hip
  examples/llama3.c/step3-barrier-gpu/llama3.cxx
  examples/llama3.c/step4-simdize/llama3.cxx
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[examples] Remove placement new workaround (#143)
  projects/hipthreads/examples/InOneWeekendRaytracer/step3-hipthread-dropin/main.hip
  projects/hipthreads/examples/InOneWeekendRaytracer/step4-simdize/main.hip
  projects/hipthreads/examples/llama3.c/step3-barrier-gpu/llama3.cxx
  projects/hipthreads/examples/llama3.c/step4-simdize/llama3.cxx
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hip-kernel-provider): install rocKE pytest suite and register with ctest
  dnn-providers/hip-kernel-provider/CMakeLists.txt
  dnn-providers/hip-kernel-provider/rocke/platform/CMakeLists.txt
  dnn-providers/hip-kernel-provider/rocke/platform/tests/test_rocke_ci_static.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

VRAM optional
  projects/rocblas/rtest.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci(hipdnn): pull ROCm from multi-arch nightlies and flag stale wheels (#9234)
  .github/scripts/check_wheel_freshness.py
  .github/workflows/hipdnn-superbuild-ci.yml
  projects/hipdnn/scripts/windows/wheel_build_setup.ps1
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hip-kernel-provider): parallel compilation in conv_candidate_sweep
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/tools/conv_sweep/conv_candidate_sweep.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/tools/conv_sweep/main.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Avoid zero-sized allocation when HMM is enabled
  projects/hipcub/test/hipcub/common_test_header.hpp
  projects/hipcub/test/hipcub/test_hipcub_device_segmented_radix_sort.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hiptensor): Set ffm-quick and ffm-full test categories for emulation tests (#9222)
  projects/hiptensor/test/CMakeLists.txt
  projects/hiptensor/test_categories.yaml
  test/therock/test_runner.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipcub): use primbench in benchmark_device_batch_copy.cpp
  projects/hipcub/benchmark/CMakeLists.txt
  projects/hipcub/benchmark/benchmark_device_batch_copy.cpp
  projects/hipcub/benchmark/benchmark_utils.hpp
  projects/hipcub/benchmark/cmdparser.hpp
  projects/hipcub/benchmark/common_benchmark_header.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
