Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Merge GEKO-tuned gfx950 fp16 HHS Equality kernels (geko_tune_20260908).
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Equality/gfx950_Cijk_Ailk_Bljk_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Equality/gfx950_Cijk_Alik_Bljk_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Replaced 320x256x32 BBS NT kernel
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Ailk_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Ailk_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

removed BBS NT 80x256x32
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Ailk_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Ailk_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipblaslt): add TESTING.md testing strategy document (#10266)
  projects/hipblaslt/AGENTS.md
  projects/hipblaslt/README.md
  projects/hipblaslt/TESTING.md
  projects/hipblaslt/tensilelite/TESTING.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): resolve asan build failure to restore shared tensilelite-host revert (#11726)
  .github/workflows/component-ci-rocisa.yml
  .github/workflows/hipblaslt-asan-ci.yml
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/README.md
  projects/hipblaslt/cmake/HipBLASLtCodegen.cmake
  projects/hipblaslt/cmake/hipblaslt-config.cmake.in
  projects/hipblaslt/cmake/hipblaslt-package-config.cmake
  projects/hipblaslt/cmake/hipblaslt_codegen.cmake
  projects/hipblaslt/cmake/hipblaslt_shim.cmake
  projects/hipblaslt/device-library/CMakeLists.txt
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocroller/CMakeLists.txt
  projects/hipblaslt/tasks.py
  projects/hipblaslt/tensilelite/AGENTS_reference.md
  projects/hipblaslt/tensilelite/CMakeLists.txt
  projects/hipblaslt/tensilelite/README.md
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_rocisa_install_status.py
  projects/hipblaslt/tensilelite/include/CMakeLists.txt
  projects/hipblaslt/tensilelite/rocisa/CMakeLists.txt
  projects/hipblaslt/tensilelite/rocisa/README.md
  projects/hipblaslt/tensilelite/rocisa/pyproject.toml
  projects/hipblaslt/tensilelite/rocisa/rocisa/__init__.py
  projects/hipblaslt/tensilelite/tasks.py
  projects/hipsparselt/CMakeLists.txt
  projects/hipsparselt/README.md
  projects/hipsparselt/install-host.sh
  projects/hipsparselt/library/CMakeLists.txt
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/CMakeLists.txt
  shared/origami/CMakeLists.txt
  shared/origami/README.md
  shared/stinkytofu/CMakeLists.txt
  shared/stinkytofu/examples/plugins/CMakeLists.txt
  shared/stinkytofu/tools/intrinsic-compiler/CMakeLists.txt
  shared/stinkytofu/tools/stinkytofu-check/CMakeLists.txt
  shared/stinkytofu/tools/stinkytofu-opt/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(tensilelite): filter unsupported StreamK benchmark kernels (#11872)
  projects/hipblaslt/tensilelite/client/include/LogReporter.hpp
  projects/hipblaslt/tensilelite/client/src/SolutionIterator.cpp
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/tests/CuCount_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): focus cluster enablement contract
  projects/hipblaslt/tensilelite/Tensile/Common/Utilities.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/Common/test_Utilities.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/CommonUtilities/test_mut_Utilities__SpinnyThing_increment_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/CommonUtilities/test_mut_Utilities__ceilDivide_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/CommonUtilities/test_mut_Utilities__clusterEnabled_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/CommonUtilities/test_mut_Utilities__isRhel8_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/CommonUtilities/test_mut_Utilities__isSubtileMultiDU_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

mut(slice-1): pin real SpinnyThing.increment + validateChipId behavior
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/CommonUtilities/test_mut_Utilities__SpinnyThing_increment_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileLogic/test_mut_ValidChipId__validateChipId_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

mut(slice-1): repair pragma breach + close _validateChipId coverage gap
  projects/hipblaslt/tensilelite/Tensile/Common/Utilities.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/CommonUtilities/test_mut_Utilities__SpinnyThing_increment_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/CommonUtilities/test_mut_Utilities__ceilDivide_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/CommonUtilities/test_mut_Utilities__clusterEnabled_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/CommonUtilities/test_mut_Utilities__isRhel8_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/CommonUtilities/test_mut_Utilities__isSubtileMultiDU_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileLogic/test_mut_ValidChipId__reportChipIdFailure_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileLogic/test_mut_ValidChipId__validateChipIdPlacement_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileLogic/test_mut_ValidChipId__validateChipId_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(mut): isolate Common Utilities mutation contracts
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileLogic/test_mut_ValidChipId__reportChipIdFailure_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileLogic/test_mut_ValidChipId__validateChipIdPlacement_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileLogic/test_mut_ValidChipId__validateChipId_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): cover LDS padding fallback paths
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_LdsPadding.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add 16x16x32 kernels with different grvwA and grvwB
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Ailk_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Ailk_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

enable swizzleB on the tuned library
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950_id75a3/Equality/gfx950_Cijk_Alik_Bljk_F4BS_MXAE8B32_MXBE8B32_BH_BiasSB_HAS_SAB_SAV_STB_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add 512x16x32 kernel to BBS NT
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Ailk_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Ailk_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(miopen): fix stale gfx950-only comment in ConvHipConv gtest (ALMIOPEN-2591)
  projects/miopen/test/gtest/unit_conv_solver_ConvHipConv.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(miopen): silence bugprone-unchecked-optional-access in ConvHipConv
  projects/miopen/src/solver/conv/conv_hipconv.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Carry the specialization contract once per bundle, and stop failing a bundle that claims nothing
  dnn-providers/hip-kernel-provider/descriptor-packaging/python/hkp_pack/agreement.py
  dnn-providers/hip-kernel-provider/descriptor-packaging/python/hkp_pack/descriptors.py
  dnn-providers/hip-kernel-provider/descriptor-packaging/python/hkp_pack/desk_check.py
  dnn-providers/hip-kernel-provider/descriptor-packaging/python/hkp_pack/pipeline.py
  dnn-providers/hip-kernel-provider/descriptor-packaging/tests/test_hkp_pack_hip.py
  dnn-providers/hip-kernel-provider/descriptor-packaging/tests/test_specialization_agreement.py
  projects/hipdnn/tools/IngestorGenerator/codegen/config_loader.py
  projects/hipdnn/tools/IngestorGenerator/codegen/generator.py
  projects/hipdnn/tools/IngestorGenerator/configs/gfx950_attention_dense.yaml
  projects/hipdnn/tools/IngestorGenerator/configs/scale_add.yaml
  projects/hipdnn/tools/IngestorGenerator/configs/variants_example.yaml
  projects/hipdnn/tools/IngestorGenerator/tests/test_generator.py
  projects/hipdnn/tools/IngestorGenerator/tests/test_verify_variant_sets.py
  projects/hipdnn/tools/IngestorGenerator/tools/verify_variant_sets.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Carry the specialization contract once per bundle, and stop failing a bundle that claims nothing
  dnn-providers/hip-kernel-provider/descriptor-packaging/python/hkp_pack/agreement.py
  dnn-providers/hip-kernel-provider/descriptor-packaging/python/hkp_pack/descriptors.py
  dnn-providers/hip-kernel-provider/descriptor-packaging/python/hkp_pack/desk_check.py
  dnn-providers/hip-kernel-provider/descriptor-packaging/python/hkp_pack/pipeline.py
  dnn-providers/hip-kernel-provider/descriptor-packaging/tests/test_hkp_pack_hip.py
  dnn-providers/hip-kernel-provider/descriptor-packaging/tests/test_specialization_agreement.py
  projects/hipdnn/tools/IngestorGenerator/codegen/config_loader.py
  projects/hipdnn/tools/IngestorGenerator/codegen/generator.py
  projects/hipdnn/tools/IngestorGenerator/configs/gfx950_attention_dense.yaml
  projects/hipdnn/tools/IngestorGenerator/configs/scale_add.yaml
  projects/hipdnn/tools/IngestorGenerator/configs/variants_example.yaml
  projects/hipdnn/tools/IngestorGenerator/tests/test_generator.py
  projects/hipdnn/tools/IngestorGenerator/tests/test_verify_variant_sets.py
  projects/hipdnn/tools/IngestorGenerator/tools/verify_variant_sets.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Merge GEKO-tuned gfx950 BBS/XSS Equality kernels (geko_tune_20260902).
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Equality/gfx950_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Equality/gfx950_Cijk_Alik_Bljk_S_MX_B_BiasS_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(miopen): add fp32/tf32 gtest coverage for ConvHipConv (ALMIOPEN-2591)
  projects/miopen/test/gtest/unit_conv_solver_ConvHipConv.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add 16x16x128 with different grvwA and grvwB to BBS NT
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Ailk_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Ailk_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): move kpack install paths to arch_content for TheRock packaging
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/asm/AsmKpackArchive.hpp
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/TestAsmKpackLoading.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Pin to use `release/therock-10.1` workflows
  .github/actions/ci-env/action.yml
  .github/scripts/resolve_therock_ref.py
  .github/workflows/clang-tidy.yml
  .github/workflows/therock-ci-nightly.yml
  .github/workflows/therock-multi-arch-ci-asan-nightly.yml
  .github/workflows/therock-multi-arch-ci-asan.yml
  .github/workflows/therock-multi-arch-ci-nightly.yml
  .github/workflows/therock-multi-arch-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add BBS NT 16x16x256 with different grvwA and grvwB
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_nta4/gfx950_Cijk_Ailk_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/Origami_ntb4/gfx950_Cijk_Ailk_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Another round of edits from PR review
  projects/rocfft/testing.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(ck-tile): correct where suffixed gfx names actually come from
  projects/composablekernel/dispatcher/python/gemm_utils.py
  projects/composablekernel/dispatcher/tests/test_gemm_utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(ck-tile): stop crediting rocm_agent_enumerator with suffixed gfx names
  projects/composablekernel/dispatcher/codegen/codegen_common.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(ck-tile): give each operator its own FROZEN_EXPORTS tuple
  projects/composablekernel/dispatcher/tests/test_so_abi_token.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(logic/gfx950): add SS1 MT256x256 F4BS custom kernel + Equality library entry
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Equality/gfx950_Cijk_Alik_Bljk_F4BS_MXA32_MXB32_BH_BiasSB_HAS_SAB_SAV_SS1_UserArgs.yaml
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Custom_Cijk_Alik_Bljk_F4BS_MX_BH_Bias_SA_SAV_SS1_SVW8_SK3_UserArgs_MT256x256_MI16x16_shortname0_gfx950.s
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refine(logic/gfx950): add M%32, N%32, K%256 assertions to SS1 custom kernel
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Equality/gfx950_Cijk_Alik_Bljk_F4BS_MXA32_MXB32_BH_BiasSB_HAS_SAB_SAV_SS1_UserArgs.yaml
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Custom_Cijk_Alik_Bljk_F4BS_MX_BH_Bias_SA_SAV_SS1_SVW8_SK3_UserArgs_MT256x256_MI16x16_shortname0_gfx950.s
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Carry this engine's specialization contract once on its KDP
  dnn-providers/hip-kernel-provider/descriptor-packaging/examples/descriptors/rocKE/gfx942_attention_dense/gfx942_attention_dense.kdp.json
  dnn-providers/hip-kernel-provider/descriptor-packaging/examples/descriptors/rocKE/gfx942_attention_dense/gfx942_attention_dense.kmd.json
  dnn-providers/hip-kernel-provider/descriptor-packaging/examples/descriptors/rocKE/gfx942_attention_dense/gfx942_attention_dense.udd.json
  dnn-providers/hip-kernel-provider/descriptor-packaging/examples/descriptors/rocKE/gfx942_attention_dense/gfx942_attention_dense.ued.json
  dnn-providers/hip-kernel-provider/descriptor-packaging/examples/descriptors/rocKE/gfx942_attention_dense/gfx942_attention_dense.uhd.json
  dnn-providers/hip-kernel-provider/descriptor-packaging/examples/descriptors/rocKE/gfx942_attention_dense/kernel_dtype_matches_graph.umd.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke): align loop metadata validation and cover unrolled carries
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/lower_llvm/control.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_lowbit_loop_types.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblas] Use legacy FindCUDA instead of FindCUDAToolkit for cmake compatibility
  projects/hipblas/CMakeLists.txt
  projects/hipblas/clients/benchmarks/CMakeLists.txt
  projects/hipblas/clients/gtest/CMakeLists.txt
  projects/hipblas/clients/samples/CMakeLists.txt
  projects/hipblas/library/src/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocke): add gfx1250 scaled WMMA numerical coverage
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/gemm/block_scaled_gemm_verify.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_gfx1250_scaled_wmma_reference.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/test_gfx1250_scaled_wmma_numeric.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): refresh per-file coverage ratchet baseline
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/DECISIONS.md
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/coverage-baseline.json
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test (tensilelite): revert sparse tensilelite tests changes (#11930)
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/bf16_activation.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/f16_activation.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_b8.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_b8_sb.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_b8bs.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_b8bs_sb.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_b8f8.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_b8f8_sb.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_b8hs.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_b8hs_sb.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_bf16.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_bf16_sb.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_f16.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_f16_sb.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_f16_sia4.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_f8.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_f8_ml.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_f8_sb.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_f8b8.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_f8b8_sb.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_f8bs.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_f8bs_sb.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_f8hs.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_f8hs_sb.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_fp16_ml1.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_i8.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_i8_sb.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_i8bs.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_i8bs_sb.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_i8hs.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_i8hs_sb.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_tdm_all.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_tdm_f16_transposes.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_tdm_gl2prefetch.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_tdm_ldspadding.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_tdm_multicast.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): drop DECISIONS.md entry from baseline refresh
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/DECISIONS.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblas/hipsolver/hipfft] Remove HIP_PLATFORM env var; fix misleading comment
  projects/hipblas/rmake.py
  projects/hipfft/CMakeLists.txt
  projects/hipsolver/CMakeLists.txt
  projects/hipsolver/install.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(hipblaslt): merge GEKO-tuned BBS and XSS Equality kernels for gfx950_id75a3
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950_id75a3/Equality/gfx950_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950_id75a3/Equality/gfx950_Cijk_Alik_Bljk_S_MX_B_BiasS_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

- fix windows build error.
  projects/rocfft/shared/ptrdiff.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
