Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

Update grouped_convolution_backward_weight_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/grouped_convolution/kernel/grouped_convolution_backward_weight_kernel.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[miopen] Fix corner case for verify option + memory leak
  projects/miopen/driver/InputFlags.cpp
  projects/miopen/driver/activ_driver.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

stop dumping empty logbuffer
  projects/miopen/src/logger.cpp
  projects/miopen/test/gtest/log.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[build][test] Fix duplicate hipthreads linking in test/CMakeLists.txt causing device-side duplicate symbol errors (#105)
  test/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[build][test] Fix duplicate hipthreads linking in test/CMakeLists.txt causing device-side duplicate symbol errors (#105)
  projects/hipthreads/test/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix install script on centos10
  projects/rocsparse/install.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Pass layout through to tensor creation in SDPA sample
  projects/hipdnn/samples/sdpa/SdpaFprop.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix install script for CentoOS
  projects/hipsparse/install.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix documentation example not initializing host array correctly
  projects/hipsparse/clients/samples/documentation_examples/precond/example_hipsparse_gtsv_c.c
  projects/hipsparse/clients/samples/documentation_examples/precond/example_hipsparse_gtsv_no_pivot_c.c
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Set CMS from -1 to 0
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/Equality/aquavanjaram_Cijk_Alik_Bjlk_BBS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bljk_F8NBS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bljk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt] Update API reference information for hipblasLtHandle_t to… (#4801)
  projects/hipblaslt/docs/conceptual/hipblaslt-library-organization.rst
  projects/hipblaslt/docs/reference/datatypes.rst
  projects/hipblaslt/library/include/hipblaslt/hipblaslt.h
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocsparse] [hipsparse] Refer to HIP SDK documentation for Windows ve… (#5099)
  projects/hipsparse/docs/install/install-windows.rst
  projects/rocsparse/docs/install/Windows_Install_Guide.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocblas] [hipblas] Refer to HIP SDK documentation for Windows versio… (#5098)
  projects/hipblas/docs/install/Windows_Install_Guide.rst
  projects/rocblas/docs/install/Windows_Install_Guide.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] Improve conv python examples in dispatcher
  projects/composablekernel/dispatcher/bindings/ctypes/conv_ctypes_lib.cpp
  projects/composablekernel/dispatcher/examples/CMakeLists.txt
  projects/composablekernel/dispatcher/examples/grouped_conv/python/01_basic_grouped_conv.py
  projects/composablekernel/dispatcher/examples/grouped_conv/python/02_all_directions.py
  projects/composablekernel/dispatcher/examples/grouped_conv/python/03_benchmark.py
  projects/composablekernel/dispatcher/examples/grouped_conv/python/04_registry_json.py
  projects/composablekernel/dispatcher/python/grouped_conv_utils.py
  projects/composablekernel/dispatcher/scripts/generate_conv_dispatch_header.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] Update python examples in dispatcher
  projects/composablekernel/dispatcher/examples/grouped_conv/python/01_basic_grouped_conv.py
  projects/composablekernel/dispatcher/examples/grouped_conv/python/02_all_directions.py
  projects/composablekernel/dispatcher/examples/grouped_conv/python/03_benchmark.py
  projects/composablekernel/dispatcher/examples/grouped_conv/python/04_registry_json.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] Cleanup after refactor, improved JIT.
  projects/composablekernel/dispatcher/examples/gemm/python/01_basic_gemm.py
  projects/composablekernel/dispatcher/examples/grouped_conv/python/02_all_directions.py
  projects/composablekernel/dispatcher/kernels.json
  projects/composablekernel/dispatcher/python/ctypes_utils.py
  projects/composablekernel/dispatcher/python/grouped_conv_utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] Fixing group conv examples.
  projects/composablekernel/dispatcher/examples/CMakeLists.txt
  projects/composablekernel/dispatcher/examples/grouped_conv/cpp/01_basic_grouped_conv.cpp
  projects/composablekernel/dispatcher/examples/grouped_conv/cpp/02_all_directions.cpp
  projects/composablekernel/dispatcher/examples/grouped_conv/cpp/03_benchmark_validation.cpp
  projects/composablekernel/dispatcher/examples/grouped_conv/cpp/04_registry_json.cpp
  projects/composablekernel/dispatcher/examples/grouped_conv/cpp/05_bwd_data.cpp
  projects/composablekernel/dispatcher/examples/grouped_conv/cpp/06_bwd_weight.cpp
  projects/composablekernel/dispatcher/examples/grouped_conv/cpp/07_multi_tile_benchmark.cpp
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher/backends/generated_conv_backend.hpp
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher/grouped_conv_registry.hpp
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher/grouped_conv_utils.hpp
  projects/composablekernel/dispatcher/scripts/example_kernel_builder.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] Fixes based on Copilot's pedantic cosmetic suggestions.
  projects/composablekernel/dispatcher/examples/CMakeLists.txt
  projects/composablekernel/dispatcher/examples/gemm/cpp/02_multi_size.cpp
  projects/composablekernel/dispatcher/examples/gemm/cpp/README.md
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher/backends/generated_conv_backend.hpp
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher/grouped_conv_problem.hpp
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher/grouped_conv_registry.hpp
  projects/composablekernel/dispatcher/scripts/stress_test_autocorrect.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[CK] Improving readmes and fixing formatting.
  projects/composablekernel/dispatcher/README.md
  projects/composablekernel/dispatcher/bindings/README.md
  projects/composablekernel/dispatcher/codegen/ADDING_NEW_GPU.md
  projects/composablekernel/dispatcher/codegen/README.md
  projects/composablekernel/dispatcher/examples/README.md
  projects/composablekernel/dispatcher/examples/gemm/cpp/README.md
  projects/composablekernel/dispatcher/examples/grouped_conv/cpp/01_basic_grouped_conv.cpp
  projects/composablekernel/dispatcher/examples/grouped_conv/cpp/02_all_directions.cpp
  projects/composablekernel/dispatcher/examples/grouped_conv/cpp/03_benchmark_validation.cpp
  projects/composablekernel/dispatcher/examples/grouped_conv/cpp/04_registry_json.cpp
  projects/composablekernel/dispatcher/examples/grouped_conv/cpp/05_bwd_data.cpp
  projects/composablekernel/dispatcher/examples/grouped_conv/cpp/06_bwd_weight.cpp
  projects/composablekernel/dispatcher/examples/grouped_conv/cpp/07_multi_tile_benchmark.cpp
  projects/composablekernel/dispatcher/examples/grouped_conv/python/01_basic_grouped_conv.py
  projects/composablekernel/dispatcher/examples/grouped_conv/python/02_forward.py
  projects/composablekernel/dispatcher/examples/grouped_conv/python/03_bwd_data.py
  projects/composablekernel/dispatcher/examples/grouped_conv/python/04_bwd_weight.py
  projects/composablekernel/dispatcher/examples/grouped_conv/python/05_benchmark.py
  projects/composablekernel/dispatcher/examples/grouped_conv/python/06_registry_json.py
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher/README.md
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher/backends/generated_conv_backend.hpp
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher/base_registry.hpp
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher/grouped_conv_config.hpp
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher/grouped_conv_kernel_decl.hpp
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher/grouped_conv_problem.hpp
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher/grouped_conv_registry.hpp
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher/grouped_conv_utils.hpp
  projects/composablekernel/dispatcher/python/ctypes_utils.py
  projects/composablekernel/dispatcher/python/dispatcher_common.py
  projects/composablekernel/dispatcher/python/grouped_conv_utils.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] Formatting updates.
  projects/composablekernel/dispatcher/bindings/ctypes/conv_ctypes_lib.cpp
  projects/composablekernel/dispatcher/codegen/codegen_common.py
  projects/composablekernel/dispatcher/codegen/kernel_config_loader.py
  projects/composablekernel/dispatcher/codegen/unified_gemm_codegen.py
  projects/composablekernel/dispatcher/codegen/unified_grouped_conv_codegen.py
  projects/composablekernel/dispatcher/examples/gemm/cpp/07_gfx950_minimal.cpp
  projects/composablekernel/dispatcher/examples/gemm/python/01_basic_gemm.py
  projects/composablekernel/dispatcher/examples/gemm/python/02_batch_gemm.py
  projects/composablekernel/dispatcher/examples/gemm/python/03_benchmark.py
  projects/composablekernel/dispatcher/examples/gemm/python/04_validation.py
  projects/composablekernel/dispatcher/examples/gemm/python/05_numpy_integration.py
  projects/composablekernel/dispatcher/examples/gemm/python/06_json_export.py
  projects/composablekernel/dispatcher/examples/gemm/python/09_multi_registry.py
  projects/composablekernel/dispatcher/examples/gemm/python/10_advanced_benchmark.py
  projects/composablekernel/dispatcher/scripts/compile_gemm_examples.py
  projects/composablekernel/dispatcher/scripts/compile_grouped_conv_examples.py
  projects/composablekernel/dispatcher/scripts/example_kernel_builder.py
  projects/composablekernel/dispatcher/scripts/generate_conv_dispatch_header.py
  projects/composablekernel/dispatcher/tests/test_codegen_common.py
  projects/composablekernel/dispatcher/tests/test_examples_integration.py
  projects/composablekernel/dispatcher/tests/test_grouped_conv_codegen.py
  projects/composablekernel/dispatcher/tests/test_grouped_conv_config.cpp
  projects/composablekernel/dispatcher/tests/test_grouped_conv_kernel_decl.cpp
  projects/composablekernel/dispatcher/tests/test_grouped_conv_problem.cpp
  projects/composablekernel/dispatcher/tests/test_grouped_conv_registry.cpp
  projects/composablekernel/dispatcher/tests/test_grouped_conv_utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] Improving python group conv examples.
  projects/composablekernel/dispatcher/examples/grouped_conv/python/01_basic_grouped_conv.py
  projects/composablekernel/dispatcher/examples/grouped_conv/python/02_all_directions.py
  projects/composablekernel/dispatcher/examples/grouped_conv/python/02_forward.py
  projects/composablekernel/dispatcher/examples/grouped_conv/python/03_benchmark.py
  projects/composablekernel/dispatcher/examples/grouped_conv/python/03_bwd_data.py
  projects/composablekernel/dispatcher/examples/grouped_conv/python/04_bwd_weight.py
  projects/composablekernel/dispatcher/examples/grouped_conv/python/04_registry_json.py
  projects/composablekernel/dispatcher/examples/grouped_conv/python/05_benchmark.py
  projects/composablekernel/dispatcher/examples/grouped_conv/python/06_registry_json.py
  projects/composablekernel/dispatcher/python/grouped_conv_utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] Address reviewer comments, improve readability and fix bugs.
  projects/composablekernel/dispatcher/README.md
  projects/composablekernel/dispatcher/bindings/README.md
  projects/composablekernel/dispatcher/bindings/ctypes/CMakeLists.txt
  projects/composablekernel/dispatcher/bindings/ctypes/conv_bwdw_ctypes_lib.cpp
  projects/composablekernel/dispatcher/bindings/ctypes/conv_ctypes_lib.cpp
  projects/composablekernel/dispatcher/codegen/codegen_common.py
  projects/composablekernel/dispatcher/codegen/kernel_config_loader.py
  projects/composablekernel/dispatcher/codegen/unified_grouped_conv_codegen.py
  projects/composablekernel/dispatcher/examples/CMakeLists.txt
  projects/composablekernel/dispatcher/examples/grouped_conv/cpp/06_bwd_weight.cpp
  projects/composablekernel/dispatcher/examples/grouped_conv/python/04_bwd_weight.py
  projects/composablekernel/dispatcher/examples/grouped_conv/python/05_benchmark.py
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher.hpp
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher/backends/generated_conv_backend.hpp
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher/base_registry.hpp
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher/dispatcher.hpp
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher/grouped_conv_config.hpp
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher/grouped_conv_kernel_decl.hpp
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher/grouped_conv_problem.hpp
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher/grouped_conv_registry.hpp
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher/grouped_conv_utils.hpp
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher_conv.hpp
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher_gemm.hpp
  projects/composablekernel/dispatcher/python/dispatcher_common.py
  projects/composablekernel/dispatcher/python/grouped_conv_utils.py
  projects/composablekernel/dispatcher/scripts/compile_gemm_examples.py
  projects/composablekernel/dispatcher/scripts/compile_grouped_conv_examples.py
  projects/composablekernel/dispatcher/scripts/example_kernel_builder.py
  projects/composablekernel/dispatcher/scripts/generate_conv_dispatch_header.py
  projects/composablekernel/dispatcher/src/dispatcher.cpp
  projects/composablekernel/dispatcher/tests/test_grouped_conv_codegen.py
  projects/composablekernel/dispatcher/tests/test_grouped_conv_config.cpp
  projects/composablekernel/dispatcher/tests/test_grouped_conv_kernel_decl.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK][CK_Tile] Fixes addressing review comments.
  projects/composablekernel/dispatcher/bindings/ctypes/conv_bwdw_ctypes_lib.cpp
  projects/composablekernel/dispatcher/bindings/ctypes/conv_ctypes_lib.cpp
  projects/composablekernel/dispatcher/codegen/kernel_config_loader.py
  projects/composablekernel/dispatcher/codegen/unified_grouped_conv_codegen.py
  projects/composablekernel/dispatcher/examples/grouped_conv/cpp/02_all_directions.cpp
  projects/composablekernel/dispatcher/examples/grouped_conv/cpp/03_benchmark_validation.cpp
  projects/composablekernel/dispatcher/examples/grouped_conv/python/04_bwd_weight.py
  projects/composablekernel/dispatcher/include/ck_tile/dispatcher/backends/generated_conv_backend.hpp
  projects/composablekernel/dispatcher/scripts/compile_grouped_conv_examples.py
  projects/composablekernel/dispatcher/scripts/example_kernel_builder.py
  projects/composablekernel/dispatcher/src/registry.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocprim): add typetrait definitions for '__hip_bfloat16' (#5743)
  projects/hipccl/hipccl3/rocprim/CHANGELOG.md
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/type_traits.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/type_traits_functions.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/types.hpp
  projects/hipccl/hipccl3/rocprim/scripts/copyright-date/check-copyright.sh
  projects/hipccl/hipccl3/rocprim/test/rocprim/test_radix_key_codec.cpp
  projects/hipccl/hipccl3/rocprim/test/rocprim/test_type_traits_interface.cpp
  projects/hipccl/hipccl3/rocprim/test/rocprim/test_utils_data_generation.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocprim): add typetrait definitions for '__hip_bfloat16' (#5743)
  projects/hipccl/hipccl2/rocprim/CHANGELOG.md
  projects/hipccl/hipccl2/rocprim/rocprim/include/rocprim/type_traits.hpp
  projects/hipccl/hipccl2/rocprim/rocprim/include/rocprim/type_traits_functions.hpp
  projects/hipccl/hipccl2/rocprim/rocprim/include/rocprim/types.hpp
  projects/hipccl/hipccl2/rocprim/scripts/copyright-date/check-copyright.sh
  projects/hipccl/hipccl2/rocprim/test/rocprim/test_radix_key_codec.cpp
  projects/hipccl/hipccl2/rocprim/test/rocprim/test_type_traits_interface.cpp
  projects/hipccl/hipccl2/rocprim/test/rocprim/test_utils_data_generation.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add g=1 grouped convolution test cases for regression coverage
  projects/miopen/test/gtest/unit_conv_solver_ConvBinWinogradRxSf2x3.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvBinWinogradRxSf3x2.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

adding degen test cases
  projects/miopen/test/gtest/unit_conv_solver_ConvBinWinogradRxS.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvBinWinogradRxSf2x3.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvBinWinogradRxSf3x2.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvWinoFuryRxS.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvWinoRageRxS.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add MemLayout_t support for NC Swap, CHWN, HWCN, HWNC
  projects/miopen/src/buffer_info.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

remove tranpose wingorad exports to gtest and MIOPEN_INTERNALS_EXPORT
  projects/miopen/src/conv/problem_description.cpp
  projects/miopen/src/include/miopen/conv/solvers.hpp
  projects/miopen/src/solver.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixes for superbuild involving hipdnn integration tests
  CMakeLists.txt
  CMakePresets.json
  dnn-providers/integration-tests/CMakeLists.txt
  dnn-providers/integration-tests/cmake/hipdnn_integration_testsConfig.cmake.in
  dnn-providers/miopen-provider/CMakeLists.txt
  dnn-providers/miopen-provider/cmake/ClangToolChain.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Reverting some changes caused by VS Code format-on-save
  CMakePresets.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK][CK_Tile] Additional fixes addressing review comments.
  projects/composablekernel/dispatcher/codegen/codegen_common.py
  projects/composablekernel/dispatcher/codegen/unified_grouped_conv_codegen.py
  projects/composablekernel/dispatcher/examples/gemm/python/02_batch_gemm.py
  projects/composablekernel/dispatcher/examples/gemm/python/03_benchmark.py
  projects/composablekernel/dispatcher/examples/gemm/python/04_validation.py
  projects/composablekernel/dispatcher/examples/grouped_conv/cpp/01_basic_grouped_conv.cpp
  projects/composablekernel/dispatcher/examples/grouped_conv/cpp/02_all_directions.cpp
  projects/composablekernel/dispatcher/examples/grouped_conv/cpp/03_benchmark_validation.cpp
  projects/composablekernel/dispatcher/examples/grouped_conv/cpp/04_registry_json.cpp
  projects/composablekernel/dispatcher/examples/grouped_conv/cpp/05_bwd_data.cpp
  projects/composablekernel/dispatcher/examples/grouped_conv/cpp/06_bwd_weight.cpp
  projects/composablekernel/dispatcher/examples/grouped_conv/cpp/07_multi_tile_benchmark.cpp
  projects/composablekernel/dispatcher/tests/test_examples_integration.py
  projects/composablekernel/dispatcher/tests/test_grouped_conv_codegen.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs: add new doc to index and toc
  projects/hipblaslt/docs/index.rst
  projects/hipblaslt/docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

- clang format
  projects/rocfft/library/src/include/tree_node.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add SKIP_IF_NO_DEVICES guards to validation tests
  dnn-providers/integration-tests/tests/gpu_ref/TestGpuFpReferenceConvolution.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add hip::host as INTERFACE dep to test_sdk, remove from test_sdk_tests
  projects/hipdnn/test_sdk/CMakeLists.txt
  projects/hipdnn/test_sdk/tests/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixing a bug where initGoogleTest wasn't registering if there was no argv[0]
  dnn-providers/integration-tests/src/main.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocprim, rocthrust] docs cherry pick (#5197)
  projects/rocprim/docs/block_ops/data_mov_funcs.rst
  projects/rocprim/docs/block_ops/index.rst
  projects/rocprim/docs/conceptual/rocPRIM-operations.rst
  projects/rocprim/docs/conceptual/rocPRIM-stripe-block.rst
  projects/rocprim/docs/device_ops/index.rst
  projects/rocprim/docs/index.rst
  projects/rocprim/docs/reference/acknowledge.rst
  projects/rocprim/docs/reference/intrinsics.rst
  projects/rocprim/docs/reference/iterators.rst
  projects/rocprim/docs/reference/ops_summary.rst
  projects/rocprim/docs/reference/reference.rst
  projects/rocprim/docs/reference/rocPRIM-data-type-support.rst
  projects/rocprim/docs/reference/rocPRIM-type-traits.rst
  projects/rocprim/docs/reference/types.rst
  projects/rocprim/docs/sphinx/_toc.yml.in
  projects/rocprim/docs/thread_ops/index.rst
  projects/rocprim/docs/thread_ops/radix_key_codec.rst
  projects/rocprim/docs/warp_ops/index.rst
  projects/rocprim/rocprim/include/rocprim/thread/radix_key_codec.hpp
  projects/rocprim/rocprim/include/rocprim/type_traits.hpp
  projects/rocthrust/docs/how-to/rocThrust-build-backends.rst
  projects/rocthrust/docs/index.rst
  projects/rocthrust/docs/install/rocThrust-install-with-cmake.rst
  projects/rocthrust/docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK][CK_Tile] Ensure tile engine targets are excluded from all.
  projects/composablekernel/tile_engine/CMakeLists.txt
  projects/composablekernel/tile_engine/ops/gemm/CMakeLists.txt
  projects/composablekernel/tile_engine/ops/gemm_streamk/CMakeLists.txt
  projects/composablekernel/tile_engine/ops/pooling/CMakeLists.txt
  projects/composablekernel/tile_engine/ops/reduce/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fixed CK toc
  projects/composablekernel/docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
