Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

docs(rfc-0017): drop a meta sentence from the descriptor table intro
  projects/hipdnn/docs/rfcs/0017_UniversalKernelDescriptor.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): gate -amdgpu-coerce-illegal-types on clang<22 for abquant bridge
  projects/composablekernel/dispatcher/python/gemm_abquant_utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

rolling back the changelog entries for cccl 3
  projects/hipcub/CHANGELOG.md
  projects/rocthrust/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(Samuel R2 F2+F6): drop gfx950 support entirely
  dnn-providers/hip-kernel-provider/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/engines/hip_flash2_engine/HipFlash2Engine.hpp
  dnn-providers/hip-kernel-provider/src/engines/hip_flash2_engine/HipFlash2FwdPlanBuilder.cpp
  dnn-providers/hip-kernel-provider/src/engines/hip_flash2_engine/HipFlash2FwdPlanBuilder_v2.hpp
  dnn-providers/hip-kernel-provider/src/engines/hip_flash2_engine/README.md
  dnn-providers/hip-kernel-provider/src/engines/hip_flash2_engine/config/HIP_FLASH2_ENGINE.toml
  dnn-providers/hip-kernel-provider/src/engines/hip_flash2_engine/kernels/hip_flash2_fwd_gfx950.co
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

docs(rfc-0017): order the descriptor table by dependency
  projects/hipdnn/docs/rfcs/0017_UniversalKernelDescriptor.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Updatte changelog
  projects/hipsparse/CHANGELOG.md
  projects/hipsparse/CMakeLists.txt
  projects/rocsparse/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[TensileLite] PLSIN: shrink pre-loop fused-store front guard (36 -> 25 instr)
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocsparse): drop duplicate spmat_scale changelog entries after merge
  projects/rocsparse/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix: address review comments on Formocast prediction guard
  projects/hipblaslt/tensilelite/client/src/SolutionIterator.cpp
  projects/hipblaslt/tensilelite/tests/SolutionIterator_test.cpp
  shared/origami/src/simulator/tensilelite/formocast_simulator.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke/attention): gfx950 unified_2d softmax exp2_fast lever (flag-gated)
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx950/attention_tiled_2d.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style: clang-format HipFlash2FwdPlanBuilder.cpp (line length fixes)
  dnn-providers/hip-kernel-provider/src/engines/hip_flash2_engine/HipFlash2FwdPlanBuilder.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix CI
  projects/hipblaslt/tensilelite/CMakeLists.txt
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/ToolchainAssembly/test_assembly_char.py
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

chore(rocfft): remove hardcoded -Og from debug builds
  projects/rocfft/library/src/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add rocalution to look-up table to enable docs pipeline
  .github/docs-config.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocsparse): Fix SpMM batching with COO atomic algorithm when batch count >65536 (#9958)
  projects/rocsparse/CHANGELOG.md
  projects/rocsparse/clients/tests/test_spmm_batched_coo.yaml
  projects/rocsparse/library/src/level3/coomm/atomic/kernel_declarations.h
  projects/rocsparse/library/src/level3/coomm/atomic/kernel_definitions.h
  projects/rocsparse/library/src/level3/rocsparse_coomm_template_atomic.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add voxel arithmetic tests and references
  projects/rpp/utilities/test/README.md
  projects/rpp/utilities/test/src/framework/config_param.hpp
  projects/rpp/utilities/test/src/framework/voxel_tensor_setup.hpp
  projects/rpp/utilities/test/src/reference/arithmetic_scalar_ref.hpp
  projects/rpp/utilities/test/src/tests/voxel/arithmetic/add_scalar_test.cpp
  projects/rpp/utilities/test/src/tests/voxel/arithmetic/fused_multiply_add_scalar_test.cpp
  projects/rpp/utilities/test/src/tests/voxel/arithmetic/multiply_scalar_test.cpp
  projects/rpp/utilities/test/src/tests/voxel/arithmetic/subtract_scalar_test.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck): downstream library pipeline docker name override (#10345)
  projects/composablekernel/groovy/vars/ck.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(kernel): defer row_m/row_d cross-lane reduction to after tile loop
  dnn-providers/hip-kernel-provider/src/engines/hip_flash2_engine/HipFlash2FwdPlan.hip
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

update docs and add test
  projects/rocblas/CHANGELOG.md
  projects/rocblas/clients/gtest/gemm_batched_gtest.yaml
  projects/rocblas/docs/reference/deprecations.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix color_cast R/B channel swap, I8 rounding truncation and includes PLN1 support
  projects/rpp/src/modules/tensor/cpu/kernel/color_cast.cpp
  projects/rpp/src/modules/tensor/hip/kernel/color_cast.cpp
  projects/rpp/src/modules/tensor/rppt_tensor_color_augmentations.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hip-kernel-provider): add documentation link linter
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/development/testing.md
  dnn-providers/hip-kernel-provider/rocke/platform/tools/mdlinklint/main.go
  dnn-providers/hip-kernel-provider/rocke/platform/tools/mdlinklint/main_test.go
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): constrain documentation link resolution
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/development/testing.md
  dnn-providers/hip-kernel-provider/rocke/platform/tools/mdlinklint/main.go
  dnn-providers/hip-kernel-provider/rocke/platform/tools/mdlinklint/main_test.go
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(hip-kernel-provider): rewrite documentation link linter in Python
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/development/testing.md
  dnn-providers/hip-kernel-provider/rocke/platform/tools/mdlinklint/main.go
  dnn-providers/hip-kernel-provider/rocke/platform/tools/mdlinklint/main.py
  dnn-providers/hip-kernel-provider/rocke/platform/tools/mdlinklint/main_test.go
  dnn-providers/hip-kernel-provider/rocke/platform/tools/mdlinklint/test_main.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[TensileLite] PLSIN: default to eff-alpha==1 skip (no in-store alpha multiply)
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(kernel v3): rescale per-lane o_frags before summing row_d across lanes
  dnn-providers/hip-kernel-provider/src/engines/hip_flash2_engine/HipFlash2FwdPlan.hip
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Cover the Synchronizer check with unit tests
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/ClientConfigIni/test_client_config_ini_char.py
  projects/hipblaslt/tensilelite/client/include/SynchronizerValidator.hpp
  projects/hipblaslt/tensilelite/client/src/SynchronizerValidator.cpp
  projects/hipblaslt/tensilelite/tests/CMakeLists.txt
  projects/hipblaslt/tensilelite/tests/SynchronizerResidue_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Enable the Synchronizer check only where the buffer is used
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gsu/gsu_mbsk.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_mxf4_force_dp_only.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_mxf4_force_dp_only_cluster.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/sk_mx32f4_force_dp_only.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/sk_sgemm_force_dp_only.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

.
  projects/rocthrust/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(ck-tile): wire block-scale bridge tests into CTest and fix stale abquant tests
  projects/composablekernel/dispatcher/tests/CMakeLists.txt
  projects/composablekernel/dispatcher/tests/test_abquant_bridge.py
  projects/composablekernel/dispatcher/tests/test_bquant_gpu_correctness.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocalution): address install doc review feedback
  projects/rocalution/docs/install/rocALUTION-build-from-source.rst
  projects/rocalution/docs/install/rocALUTION-install.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(kernel v4): scalar O accumulation per lane, no pf fragment
  dnn-providers/hip-kernel-provider/src/engines/hip_flash2_engine/HipFlash2FwdPlan.hip
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipdnn): add CPU ternary pointwise support
  projects/hipdnn/docs/OperationSupport-ReferenceImpl.md
  projects/hipdnn/flatbuffers_sdk/include/hipdnn_flatbuffers_sdk/utilities/PointwiseValidation.hpp
  projects/hipdnn/flatbuffers_sdk/tests/utilities/TestPointwiseValidation.cpp
  projects/hipdnn/frontend/include/hipdnn_frontend/Graph.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/FlatbufferDatatypeMapping.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/PointwisePlan.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/PointwiseSignatureKey.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/pointwise/BinaryOperationFunctors.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/pointwise/CpuDeviceExecutor.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/pointwise/PointwiseOperationFunctors.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/pointwise/ReferencePointwiseBase.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/pointwise/TernaryOperationFunctors.hpp
  projects/hipdnn/test_sdk/tests/utilities/TestFlatbufferDatatypeMapping.cpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/PointwiseGraphUtils.hpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/PointwiseTensorBundles.hpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestPointwiseOperationsCpuGraphExecutor.cpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestPointwisePlan.cpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestPointwiseSignatureKey.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

adding updates from the hipcub & rocthrust teams
  projects/hipcub/CHANGELOG.md
  projects/rocthrust/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

build: rebuild gfx942 .co against corrected fragment layout (Samuel R2 F1)
  dnn-providers/hip-kernel-provider/src/engines/hip_flash2_engine/kernels/hip_flash2_fwd_gfx942.co
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(kernel v5): shared-mem P weights, full O accumulation per lane
  dnn-providers/hip-kernel-provider/src/engines/hip_flash2_engine/HipFlash2FwdPlan.hip
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(ci): enable multi-arch CI presubmit (non-blocking) (#10087)
  .github/workflows/therock-multi-arch-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(kernel v6): use warp shfl to broadcast pv across key columns, no extra LDS
  dnn-providers/hip-kernel-provider/src/engines/hip_flash2_engine/HipFlash2FwdPlan.hip
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): prefer amd-smi for dispatcher GPU-arch detection
  projects/composablekernel/dispatcher/python/dispatcher_common.py
  projects/composablekernel/dispatcher/python/gemm_utils.py
  projects/composablekernel/tile_engine/ops/common/smi_utils.py
  projects/composablekernel/tile_engine/ops/common/test_smi_utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocblas): split the n reduction in non-transposed GEMV for short outputs
  projects/rocblas/CHANGELOG.md
  projects/rocblas/clients/gtest/gemv_gtest.yaml
  projects/rocblas/library/src/blas2/gemv_device.hpp
  projects/rocblas/library/src/blas2/rocblas_gemv_kernels.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(kernel v7): reuse sK LDS as sP for softmax weights, remove __shfl
  dnn-providers/hip-kernel-provider/src/engines/hip_flash2_engine/HipFlash2FwdPlan.hip
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
