Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

whitespace
  projects/miopen/vars/utils.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

whitespace
  projects/miopen/vars/utils.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

remove unused vector include and clarify comments
  projects/composablekernel/example/ck_tile/01_fmha/fmha_bwd.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Cut over SubtileGeometry to C++-only facade (hipblaslt_incremental_refactor-grc.70)
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGeometry.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtileEmitLeavesCpp.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtileGeometryCpp.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtileMainloopE2ECpp.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtileOffsetAssignCpp.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_tileInfoCpp.py
  projects/hipblaslt/tensilelite/cpp_migration/cpp/include/tensile_writer/subtile_geometry.hpp
  projects/hipblaslt/tensilelite/cpp_migration/cpp/src/main.cpp
  projects/hipblaslt/tensilelite/cpp_migration/tensile_writer/subtile/geometry.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

mxfp6 hybrid: A-LDS / B-direct(coalesced) +16~24% over pure-LDS
  mxfp6_gemm/.gitignore
  mxfp6_gemm/Makefile
  mxfp6_gemm/docs/lgkmcnt_audit.md
  mxfp6_gemm/docs/mxfp6_lds_wave_compute.html
  mxfp6_gemm/mxfp6_lds_hybrid.hpp
  mxfp6_gemm/test_hybrid.cpp
  mxfp6_gemm/test_hybrid_grid.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Remove dead parity reads from ABGRGeometry.for_kernel binding (hipblaslt_incremental_refactor-o1e)
  projects/hipblaslt/tensilelite/cpp_migration/cpp/src/main.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipSPARSELT] Enable SPMM TDM Multicast on gfx1250 (#8149)
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_tdm_multicast.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Cut over TileInfo AB queries and emit-leaf plans to C++-only (hipblaslt_incremental_refactor-grc.72)
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGREmit.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileLREmit.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtileEmitLeavesCpp.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_tileInfoCpp.py
  projects/hipblaslt/tensilelite/cpp_migration/cpp/include/tensile_writer/emit_leaves.hpp
  projects/hipblaslt/tensilelite/cpp_migration/cpp/src/main.cpp
  projects/hipblaslt/tensilelite/cpp_migration/tensile_writer/subtile/emit.py
  projects/hipblaslt/tensilelite/cpp_migration/tensile_writer/subtile/tile_info.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Pin exact globalMmaTilesForSubtile coords in test_tileInfoCpp (hipblaslt_incremental_refactor-2py)
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_tileInfoCpp.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK_TILE] GEMM bridge: retire legacy gemm_universal, adopt fmha/conv layout
  projects/composablekernel/test/ck_tile/CMakeLists.txt
  projects/composablekernel/test/ck_tile/gemm_tile_engine/CMakeLists.txt
  projects/composablekernel/test/ck_tile/gemm_tile_engine/README.md
  projects/composablekernel/test/ck_tile/gemm_tile_engine/configs/comprehensive_coverage_config.json
  projects/composablekernel/test/ck_tile/gemm_tile_engine/configs/large_datatype_config.json
  projects/composablekernel/test/ck_tile/gemm_tile_engine/configs/padding_coverage_config.json
  projects/composablekernel/test/ck_tile/gemm_tile_engine/configs/quick_coverage_config.json
  projects/composablekernel/test/ck_tile/gemm_tile_engine/configs/simple_test_config.json
  projects/composablekernel/test/ck_tile/gemm_tile_engine/configs/small_datatype_config.json
  projects/composablekernel/test/ck_tile/gemm_tile_engine/extract_test_params.py
  projects/composablekernel/test/ck_tile/gemm_tile_engine/test_gemm_simple.cpp
  projects/composablekernel/tile_engine/ops/gemm/CMakeLists.txt
  projects/composablekernel/tile_engine/ops/gemm/README.md
  projects/composablekernel/tile_engine/ops/gemm/configs/default_ci_config.json
  projects/composablekernel/tile_engine/ops/gemm/configs/default_config.json
  projects/composablekernel/tile_engine/ops/gemm/configs/example_problems.json
  projects/composablekernel/tile_engine/ops/gemm/configs/user_provided_config.json
  projects/composablekernel/tile_engine/ops/gemm/gemm_full_benchmark.py
  projects/composablekernel/tile_engine/ops/gemm/gemm_universal/CMakeLists.txt
  projects/composablekernel/tile_engine/ops/gemm/gemm_universal/gemm_universal_benchmark.hpp
  projects/composablekernel/tile_engine/ops/gemm/gemm_universal/gemm_universal_benchmark.py
  projects/composablekernel/tile_engine/ops/gemm/gemm_universal/gemm_universal_benchmark_single.cpp
  projects/composablekernel/tile_engine/ops/gemm/gemm_universal/gemm_universal_instance_builder.py
  projects/composablekernel/tile_engine/ops/gemm/gemm_universal/gemm_universal_profiler.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[MIOpen] Strip trailing whitespace in test_categories.yaml
  projects/miopen/test/gtest/test_categories.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Cut over subtile InstructionScheduler to C++ only (hipblaslt_incremental_refactor-grc.74)
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/InstructionScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_instructionSchedulerCpp.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtileMainloopE2ECpp.py
  projects/hipblaslt/tensilelite/cpp_migration/cpp/include/tensile_writer/instruction_scheduler.hpp
  projects/hipblaslt/tensilelite/cpp_migration/cpp/src/main.cpp
  projects/hipblaslt/tensilelite/cpp_migration/tensile_writer/subtile/instruction_scheduler.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Cut over subtile LogicalScheduler value/config helpers to C++ only (hipblaslt_incremental_refactor-grc.76)
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_logicalSchedulerCpp.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtileMainloopE2ECpp.py
  projects/hipblaslt/tensilelite/cpp_migration/cpp/src/main.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Delegate subtile LogicalScheduler writer-free pass pipeline to C++ (hipblaslt_incremental_refactor-mn4)
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/cpp_migration/cpp/include/tensile_writer/logical_scheduler_passes.hpp
  projects/hipblaslt/tensilelite/cpp_migration/cpp/src/main.cpp
  projects/hipblaslt/tensilelite/cpp_migration/tensile_writer/subtile/logical_scheduler.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix: to_value_op throws on unknown op kind (hipblaslt_incremental_refactor-awd)
  projects/hipblaslt/tensilelite/cpp_migration/cpp/include/tensile_writer/logical_scheduler_passes.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

mxfp6 hybrid drip-A: +21.9% over baseline (+5.5% over no-drip)
  mxfp6_gemm/.gitignore
  mxfp6_gemm/Makefile
  mxfp6_gemm/mxfp6_lds_hybrid.hpp
  mxfp6_gemm/profile_hybrid.cpp
  mxfp6_gemm/profile_out/hybrid_8192_annotated.asm
  mxfp6_gemm/profile_out/hybrid_8192_profile.md
  mxfp6_gemm/profile_out/hybrid_8192_raw.asm
  mxfp6_gemm/test_dripA.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[CK_TILE] GEMM bridge: fix default CI config, add --verify correctness gate
  projects/composablekernel/tile_engine/ops/gemm/README.md
  projects/composablekernel/tile_engine/ops/gemm/configs/default_ci_config.json
  projects/composablekernel/tile_engine/ops/gemm/gemm_full_benchmark.py
  projects/composablekernel/tile_engine/ops/gemm/run_one_gemm_kernel.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Cut over B16/TLU0 GR/LR offset assignment to C++ only (hipblaslt_incremental_refactor-grc.78)
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGREmit.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileLREmit.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtileMainloopE2ECpp.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtileOffsetAssignCpp.py
  projects/hipblaslt/tensilelite/cpp_migration/tensile_writer/subtile/tile_info.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Remove TENSILE_WRITER_CPP residue from subtile C++ migration surface (hipblaslt_incremental_refactor-grc.80)
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGeometry.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtileGeometryCpp.py
  projects/hipblaslt/tensilelite/cpp_migration/cpp/src/main.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

mxfp6 drip-A: tunable schedule knob; V-offset1 + PFD5 default = +24% over baseline
  mxfp6_gemm/mxfp6_lds_hybrid.hpp
  mxfp6_gemm/test_dripA.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove dead pgr variable and stale comments in kernelBodySubtile
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix calcLdsPad return-type annotation and restore Tuple import (hipblaslt_incremental_refactor-whe)
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

revert change in Tensile/Components/ShiftVectorComponents.py
  projects/hipblaslt/tensilelite/Tensile/Components/ShiftVectorComponents.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix stale calcLdsPad/LDS-byte calls in calLRVWFor950MX (hipblaslt_incremental_refactor-9g6)
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

TDM support LSU
  projects/hipblaslt/tensilelite/Tensile/Components/TensorDataMover.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/mxf8_gfx1250.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/tdm_gfx1250.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

resolve review comment 2
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

resolve review comment
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

reserve original single wave kernel
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/tdm_gfx1250.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

revert change in component.py
  projects/hipblaslt/tensilelite/Tensile/Component.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Remove orphaned imports left by subtile C++ cutover (hipblaslt_incremental_refactor-grc.82)
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_instructionSchedulerCpp.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update regression test cases with MI350 values.
  projects/composablekernel/script/direct_conv_regression_cases.txt
  projects/composablekernel/script/direct_conv_regression_test.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt][formocast] performance refinement (#6058)
  projects/hipblaslt/tensilelite/Tensile/BenchmarkProblems.py
  projects/hipblaslt/tensilelite/Tensile/BenchmarkStructs.py
  projects/hipblaslt/tensilelite/Tensile/Tensile.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_benchmarkProblems_solution_pool.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_benchmarkStructs_fork_permutations.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_data/solution_pool_gfx950.yaml
  projects/hipblaslt/tensilelite/client/include/SolutionIterator.hpp
  projects/hipblaslt/tensilelite/client/src/SolutionIterator.cpp
  projects/hipblaslt/tensilelite/include/Tensile/Utils.hpp
  shared/origami/include/origami/simulator/tensilelite/formocast.hpp
  shared/origami/include/origami/simulator/tensilelite/formocast_simulator.hpp
  shared/origami/src/simulator/tensilelite/formocast.cpp
  shared/origami/src/simulator/tensilelite/formocast_simulator.cpp
  shared/origami/tests/test_formocast.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix TDMSplit SGPR instantiation failures
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix TDMSplit+HPLR tail-loop SplitIncs leak on gfx1250
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/mxf8_gfx1250.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipSPARSELt] Add hipsparseLtMatmulAlgSelectionDestroy() API to release algorithm selection descriptor resources
  projects/hipsparselt/clients/include/utility.hpp
  projects/hipsparselt/library/include/hipsparselt.h
  projects/hipsparselt/library/src/hcc_detail/hipsparselt.cpp
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/include/rocsparselt-auxiliary.h
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/handle.cpp
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/include/handle.h
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/rocsparselt_auxiliary.cpp
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/rocsparselt_compress.cpp
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/rocsparselt_prune.cpp
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/spmm/rocsparselt_spmm.cpp
  projects/hipsparselt/library/src/nvcc_detail/hipsparselt.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipSPARSELt] Fix hipsparseLtSplitKMode_t to cusparseLtSplitKMode_t
  projects/hipsparselt/library/src/nvcc_detail/hipsparselt.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen] Fix out-of-bounds read in Activation CPU reference multi-thread partition
  projects/miopen/test/gtest/activ_common.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fixed based on feedback
  projects/hipblaslt/tensilelite/Tensile/Common/__init__.py
  projects/hipblaslt/tensilelite/Tensile/TensileLogic/ParseArguments.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_Activation.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_Activation_fusion.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_Activation_implementations.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_Activation_postprocess.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_ParseArguments.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove the HIP conv instances.
  projects/composablekernel/dispatcher/codegen/configs/grouped_conv/backward_data/profiler/nhwgc_fp16.json
  projects/composablekernel/dispatcher/codegen/configs/grouped_conv/backward_data/tests/nhwgc_fp16.json
  projects/composablekernel/dispatcher/codegen/configs/grouped_conv/forward/profiler/nhwgc_fp16.json
  projects/composablekernel/dispatcher/codegen/configs/grouped_conv/forward/tests/nhwgc_fp16.json
  projects/composablekernel/dispatcher/codegen/unified_grouped_conv_codegen.py
  projects/composablekernel/include/ck_tile/ops/direct_convolution/README.md
  projects/composablekernel/include/ck_tile/ops/direct_convolution/kernel/direct_conv_16c.hpp
  projects/composablekernel/include/ck_tile/ops/direct_convolution/kernel/direct_conv_32c.hpp
  projects/composablekernel/include/ck_tile/ops/direct_convolution/kernel/direct_conv_4c.hpp
  projects/composablekernel/include/ck_tile/ops/direct_convolution/kernel/direct_conv_8c.hpp
  projects/composablekernel/include/ck_tile/ops/direct_convolution/kernel/impl/grouped_16c_fp16_hip_conv_impl.hpp
  projects/composablekernel/include/ck_tile/ops/direct_convolution/kernel/impl/grouped_32c_fp16_hip_conv_impl.hpp
  projects/composablekernel/include/ck_tile/ops/direct_convolution/kernel/impl/grouped_4c_fp16_hip_conv_impl.hpp
  projects/composablekernel/include/ck_tile/ops/direct_convolution/kernel/impl/grouped_8c_fp16_hip_conv_impl.hpp
  projects/composablekernel/include/ck_tile/ops/direct_convolution/utils/mathutil.hpp
  projects/composablekernel/test/ck_tile/direct_conv/CMakeLists.txt
  projects/composablekernel/test/ck_tile/direct_conv/configs/direct_conv_16c_hip_configs.hpp
  projects/composablekernel/test/ck_tile/direct_conv/configs/direct_conv_32c_hip_configs.hpp
  projects/composablekernel/test/ck_tile/direct_conv/configs/direct_conv_4c_hip_configs.hpp
  projects/composablekernel/test/ck_tile/direct_conv/configs/direct_conv_8c_hip_configs.hpp
  projects/composablekernel/test/ck_tile/direct_conv/test_grouped_16c_fp16.cpp
  projects/composablekernel/test/ck_tile/direct_conv/test_grouped_32c_fp16.cpp
  projects/composablekernel/test/ck_tile/direct_conv/test_grouped_4c_fp16.cpp
  projects/composablekernel/test/ck_tile/direct_conv/test_grouped_8c_fp16.cpp
  projects/composablekernel/test/ck_tile/direct_conv/test_mathutil.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

client: auto-align I-cache rotation with DataInit's rotating buffer
  projects/hipblaslt/tensilelite/client/main.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
