Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

Move CMakeLists.txt and test_MatrixInstructionConversion.py changes to PR #8004
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_MatrixInstructionConversion.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK]: Add batched GEMM to `tile_engine` (#5277)
  projects/composablekernel/Jenkinsfile
  projects/composablekernel/tile_engine/operation_support_matrix.md
  projects/composablekernel/tile_engine/ops/gemm/CMakeLists.txt
  projects/composablekernel/tile_engine/ops/gemm/batched_gemm/CMakeLists.txt
  projects/composablekernel/tile_engine/ops/gemm/batched_gemm/batched_gemm_benchmark.hpp
  projects/composablekernel/tile_engine/ops/gemm/batched_gemm/batched_gemm_benchmark.py
  projects/composablekernel/tile_engine/ops/gemm/batched_gemm/batched_gemm_benchmark_single.cpp
  projects/composablekernel/tile_engine/ops/gemm/batched_gemm/batched_gemm_common.hpp
  projects/composablekernel/tile_engine/ops/gemm/batched_gemm/batched_gemm_instance_builder.py
  projects/composablekernel/tile_engine/ops/gemm/batched_gemm/batched_gemm_profiler.hpp
  projects/composablekernel/tile_engine/ops/gemm/batched_gemm/configs/default_ci_config.json
  projects/composablekernel/tile_engine/ops/gemm/batched_gemm/configs/default_config.json
  projects/composablekernel/tile_engine/ops/gemm/batched_gemm/configs/user_provided_config.json
  projects/composablekernel/tile_engine/ops/gemm/gemm_instance_builder.py
  projects/composablekernel/tile_engine/sampling/op_weights.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Updated codeowners to include rpp reviewers
  .github/CODEOWNERS
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK][TILE ENGINE]: Fix JSON filename collisions and CMake warning in batched GEMM
  projects/composablekernel/Jenkinsfile
  projects/composablekernel/tile_engine/ops/gemm/batched_gemm/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Added LDS tests to performance suite
  projects/rocfft/scripts/perf/suites.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[tensilelite] Split CI tests into cpu-only build stage and gpu-required run stage (#6188)
  projects/hipblaslt/tensilelite/Tensile/Tests/common/artifact_helpers.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/config_helpers.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/conftest.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/test_config.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/test_config_build.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/test_config_run.py
  projects/hipblaslt/tensilelite/Tensile/Tests/conftest.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[miopen][ALMIOPEN-1568] Remove id-token permission from reusable workflow
  .github/workflows/component-ci-miopen.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

revert trigger
  .github/workflows/component-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[miopen][ALMIOPEN-1568] Trigger component-ci on draft PRs and ready_for_review
  .github/workflows/component-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipBLASLt][tensilelite] SK5: alias SK3/SK4 path-private StreamK SGPRs to cut over-allocation
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Expand SDDMM testing to detect regressions when reusing sparse matrix descriptor
  projects/hipsparse/clients/include/testing_sddmm_csr_reuse_descr.hpp
  projects/hipsparse/clients/tests/CMakeLists.txt
  projects/hipsparse/clients/tests/cuda/12.8/CMakeLists.txt
  projects/hipsparse/clients/tests/cuda/12.8/hipsparse_test.yaml
  projects/hipsparse/clients/tests/cuda/12.8/test_sddmm_csr_reuse_descr.yaml
  projects/hipsparse/clients/tests/hipsparse_test_enum.hpp
  projects/hipsparse/clients/tests/rocm/CMakeLists.txt
  projects/hipsparse/clients/tests/rocm/hipsparse_test.yaml
  projects/hipsparse/clients/tests/rocm/test_sddmm_csr_reuse_descr.yaml
  projects/hipsparse/clients/tests/test_sddmm_csr_reuse_descr.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add batched SK4 regression case to sk_dynamic streamk test
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/sk_dynamic.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix StreamK-4 batched GEMM illegal memory access for K > DepthU
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Clarify StreamK-4 per-batch vs total tile counts
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipBLASLt][tensilelite] SK5: apply StreamK-4 batched full-tile fix to the hybrid's SK4 path
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Expand SDDMM testing to detect regressions when reusing sparse matrix descriptor
  projects/hipsparse/clients/include/testing_sddmm_csr_reuse_descr.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Updating gemm instance builder
  projects/composablekernel/tile_engine/ops/gemm/gemm_instance_builder.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Clang formattting
  projects/rocsparse/library/src/include/rocsparse_csrmv_info.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Clang formatting
  projects/hipsparse/clients/include/testing_spmm_csr_reuse_descr.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test syevd: initialize max_errors[1,2]. Simplify error checking logic.
  projects/rocsolver/clients/common/lapack/testing_syevd_heevd.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Address FlatBuffers CMake review feedback
  projects/hipdnn/CMakeLists.txt
  projects/hipdnn/cmake/FlatBuffersGenerate.cmake
  projects/hipdnn/flatbuffers_sdk/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Drop unrelated DataInit_test.cpp fix from occupancy branch
  projects/hipblaslt/tensilelite/tests/DataInit_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Test FlatBuffers schema generation
  projects/hipdnn/flatbuffers_sdk/include/hipdnn_flatbuffers_sdk/data_objects/custom_op_attributes_generated.h
  projects/hipdnn/flatbuffers_sdk/schemas/custom_op_attributes.fbs
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] RFC 0015: revise per self-review comments
  projects/hipdnn/docs/rfcs/0015_EngineSupportClaims.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Address dnn-benchmarking review comments
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/cli/internal_profiling.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/cli/parser.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/cli/pytorch_runner_cli.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/cli/suite_runner_cli.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/common/__init__.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/common/torch_support.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/config/__init__.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/config/benchmark_config.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/execution/executor.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/execution/pytorch_buffer_manager.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/execution/pytorch_executor.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/execution/suite_runner.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/execution/timing.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/metrics/arch.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/reporting/suite_results.py
  projects/hipdnn/tools/dnn-benchmarking/src/dnn_benchmarking/validation/providers/pytorch_provider.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/cli/test_pytorch_runner_cli.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/common/test_torch_support.py
  projects/hipdnn/tools/dnn-benchmarking/tests/unit/execution/test_timing.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Resolve ROCm runtime and provider DLLs for Windows Python bindings (#8120)
  projects/hipdnn/python/CMakeLists.txt
  projects/hipdnn/python/README.md
  projects/hipdnn/python/hipdnn_frontend/__init__.py
  projects/hipdnn/python/pyproject.toml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Update ContractionSolution.cpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Modified the comment based on feedback from reviewer
  projects/hipblaslt/tensilelite/Tensile/Components/GSU.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Moved the function definition of routeToGeneralBatchedOrStridedBatched() to a common sub function in base class to avoid duplication
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

StreamK=3 and Parallel Reduction Support for General Batched GEMM
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterConversion.py
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add initializeSrdAddressFlagsCheck() and routeToGeneralBatchedOrStridedBatched() to StreamKDynamic class
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Refactoring the code to move GSU and StreamK specific code to respective components for General Batched GEMM
  projects/hipblaslt/tensilelite/Tensile/Components/GSU.py
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Removed the logic to handle rocblas workflow with solution index specified inside rocblaslt_matmul_algo_get_heuristic()
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_auxiliary.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Replacing all instances of StreamK == 0 checks for General Batched with GlobalSplitU != 0 to better fit the GSU checks
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Modified the comment based on reviewer feedback
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Switched to original GSU!=0 check based on review comments
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Enabled deepbench gtest fir General Batched GEMM
  projects/hipblaslt/clients/tests/data/matmul_gtest.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Bumping up hipBLASLt version to 1.4.1
  projects/hipblaslt/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update projects/hipblaslt/library/src/amd_detail/hipblaslt-ext.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt-ext.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
