Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Fix in the encoding
  projects/composablekernel/include/ck_tile/core/arch/mma/utility/tile_distribution_encoding_calculator.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci(hip-kernel-provider): gate rocKE Python tests behind ROCKE_INSTALL_PYTHON_TESTS
  dnn-providers/hip-kernel-provider/CMakeLists.txt
  dnn-providers/hip-kernel-provider/rocke/platform/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

invoke fix from the pipeline
  projects/composablekernel/include/ck_tile/core/arch/mma/mma_wavewise.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/utility/tile_distribution_encoding_calculator.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/warp/warp_gemm_dispatcher.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/warp/warp_gemm_dispatcher_unification.hpp
  projects/composablekernel/include/ck_tile/ops/gemm_quant/pipeline/gemm_microscale_pipeline_ag_bg_cr_policy.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

one more CI issue
  projects/composablekernel/test/ck_tile/core/arch/mma/pipeline/test_amdgcn_wavewise_mma.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

added numAccess to scale and sparse pipeline
  projects/composablekernel/include/ck_tile/core/arch/mma/scale/scale_mma_pipeline.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/sparse_mma_pipeline.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/warp/warp_gemm_dispatcher_unification.hpp
  projects/composablekernel/test/ck_tile/core/arch/mma/pipeline/test_amdgcn_scale_mma.cpp
  projects/composablekernel/test/ck_tile/core/arch/mma/pipeline/test_amdgcn_sparse_mma.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen] Centralize CK compile defs and align FP8 defaults
  projects/miopen/CMakeLists.txt
  projects/miopen/cmake/MiopenCkCompileDefs.cmake
  projects/miopen/src/CMakeLists.txt
  projects/miopen/src/ck_impl/CMakeLists.txt
  projects/miopen/test/gtest/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(miopen): guard AI heuristic fdeep model caches with a mutex (#9131)
  projects/miopen/src/conv/heuristics/ai_heuristics.cpp
  projects/miopen/test/gtest/conv_ai_heuristics_threading.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(miopen): guard AI heuristic fdeep model caches with a mutex (#9131)
  projects/miopen/src/conv/heuristics/ai_heuristics.cpp
  projects/miopen/test/gtest/conv_ai_heuristics_threading.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci: recognize PascalCase Test*.cpp as unit test files (#9068)
  tools/libraries_pr_bot/policy.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(origami): drop unbound capability asserts from gfx1200 hardware test
  shared/origami/python/tests/test_hardware.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): Add missing assert to testing_auxiliary.hpp (#8970)
  projects/hipblaslt/clients/common/include/testing_auxiliary.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocsparse): fix SpMM with blocked ELL format (#8930)
  projects/hipsparse/clients/include/flops.hpp
  projects/hipsparse/clients/include/gbyte.hpp
  projects/hipsparse/clients/include/testing_spmm_bell.hpp
  projects/hipsparse/clients/include/utility.hpp
  projects/hipsparse/clients/tests/cuda/12.8/CMakeLists.txt
  projects/hipsparse/clients/tests/cuda/12.8/hipsparse_test.yaml
  projects/hipsparse/clients/tests/cuda/12.8/test_spmm_bell.yaml
  projects/hipsparse/clients/tests/cuda/13/CMakeLists.txt
  projects/hipsparse/clients/tests/cuda/13/hipsparse_test.yaml
  projects/hipsparse/clients/tests/cuda/13/test_spmm_bell.yaml
  projects/hipsparse/clients/tests/rocm/CMakeLists.txt
  projects/hipsparse/clients/tests/rocm/hipsparse_test.yaml
  projects/hipsparse/clients/tests/rocm/test_spmm_bell.yaml
  projects/hipsparse/clients/tests/test_spmm_bell.cpp
  projects/hipsparse/library/src/amd_detail/hipsparse_generic_auxiliary.cpp
  projects/rocsparse/clients/common/rocsparse_host.cpp
  projects/rocsparse/clients/common/rocsparse_matrix_factory.cpp
  projects/rocsparse/clients/include/gbyte.hpp
  projects/rocsparse/clients/include/rocsparse_host.hpp
  projects/rocsparse/clients/include/rocsparse_matrix_factory.hpp
  projects/rocsparse/clients/include/rocsparse_matrix_utils.hpp
  projects/rocsparse/clients/testings/testing_spmm_bell.cpp
  projects/rocsparse/clients/tests/test_spmm_bell.cpp
  projects/rocsparse/clients/tests/test_spmm_bell.yaml
  projects/rocsparse/library/src/auxiliary/rocsparse_auxiliary.cpp
  projects/rocsparse/library/src/level3/bellmm_device_general.h
  projects/rocsparse/library/src/level3/rocsparse_bellmm.cpp
  projects/rocsparse/library/src/level3/rocsparse_bellmm.hpp
  projects/rocsparse/library/src/level3/rocsparse_bellmm_impl.cpp
  projects/rocsparse/library/src/level3/rocsparse_bellmm_template_general.cpp
  projects/rocsparse/library/src/level3/rocsparse_spmm.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci(tensilelite): add characterization-vs-unit coverage split job summary
  .github/workflows/component-ci-tensilelite-coverage.yml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/tools/coverage_split_summary.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): use --copies for rocke-pyenv venv on Windows
  dnn-providers/hip-kernel-provider/rocke/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocprim): store flag for lookback scan as 32 bit value for fallback path (#8420)
  projects/hipccl/hipccl3/rocprim/CHANGELOG.md
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/lookback_scan_state.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocprim): store flag for lookback scan as 32 bit value for fallback path (#8420)
  projects/hipccl/hipccl2/rocprim/CHANGELOG.md
  projects/hipccl/hipccl2/rocprim/rocprim/include/rocprim/device/detail/lookback_scan_state.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocprim): store flag for lookback scan as 32 bit value for fallback path (#8420)
  projects/rocprim/CHANGELOG.md
  projects/rocprim/rocprim/include/rocprim/device/detail/lookback_scan_state.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Implementing dense to blocked ELL conversion
  projects/rocsparse/library/src/CMakeLists.txt
  projects/rocsparse/library/src/conversion/dense2bell.h
  projects/rocsparse/library/src/conversion/rocsparse_dense2bell.cpp
  projects/rocsparse/library/src/conversion/rocsparse_dense2bell.hpp
  projects/rocsparse/library/src/conversion/rocsparse_dense_to_sparse.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add all fixes: Fernando, Marton, Kiefer
  projects/composablekernel/include/ck_tile/core/arch/mma/mfma/mfma_gfx9.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/mma_wavewise.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/scale/scale_mma_pipeline.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/sparse_mma_pipeline.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocprim): update benchmark instructions (#9011)
  projects/rocprim/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Set USE_NEW_UNIFIED_FRAMEWORK to 1 for testing
  projects/composablekernel/include/ck_tile/core/arch/arch.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocprim): update benchmark instructions (#9011)
  projects/hipccl/hipccl2/rocprim/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocprim): update benchmark instructions (#9011)
  projects/hipccl/hipccl3/rocprim/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Make Swizzlefactor 1 in MmaPipelines with unsupported MmaOps to avoid triggering compile issues for irrelevant (dead) conditional branches.
  projects/composablekernel/include/ck_tile/core/arch/mma/mma_wavewise.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/scale/scale_mma_pipeline.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/sparse_mma_pipeline.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipdnn): Add runtime dlopen backend-loading mode (#8792)
  projects/hipdnn/backend/include/HipdnnStatus.h
  projects/hipdnn/backend/src/BackendEnumStringUtils.hpp
  projects/hipdnn/backend/tests/TestBackendEnumStringUtils.cpp
  projects/hipdnn/docs/ConsumerQuickStart.md
  projects/hipdnn/docs/user-guides/install/add-project.rst
  projects/hipdnn/frontend/CMakeLists.txt
  projects/hipdnn/frontend/cmake/hipdnn_frontendConfig.cmake.in
  projects/hipdnn/frontend/include/hipdnn_compatibility/cudnn/detail/status_translation.h
  projects/hipdnn/frontend/include/hipdnn_frontend/Logging.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/PluginPaths.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/BackendWrapper.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/DynamicBackendLibrary.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/HipdnnBackendInterface.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/HipdnnDirectBackendWrapper.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/HipdnnDynamicBackendWrapper.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/IncompatibleBackend.hpp
  projects/hipdnn/frontend/tests/CMakeLists.txt
  projects/hipdnn/frontend/tests/TestBackendFactory.cpp
  projects/hipdnn/frontend/tests/TestBackendInterface.cpp
  projects/hipdnn/frontend/tests/TestCudnnShimHandle.cpp
  projects/hipdnn/frontend/tests/TestIncompatibleBackendWrapper.cpp
  projects/hipdnn/frontend/tests/TestRuntimeLoadBackendFactory.cpp
  projects/hipdnn/frontend/tests/TestRuntimeLoadBackendStaticCheck.cpp
  projects/hipdnn/frontend/tests/TestSetEnginePluginPaths.cpp
  projects/hipdnn/frontend/tests/fake_backend/MockHipdnnBackend.hpp
  projects/hipdnn/samples/CMakeLists.txt
  projects/hipdnn/samples/dynamic/DynamicBackendLoading.cpp
  projects/hipdnn/test_sdk/CMakeLists.txt
  projects/hipdnn/tests/backend/IntegrationGetLastErrorString.cpp
  projects/hipdnn/tests/frontend/BackendWrapperForwardingTest.hpp
  projects/hipdnn/tests/frontend/CMakeLists.txt
  projects/hipdnn/tests/frontend/IntegrationHipdnnDirectBackendWrapper.cpp
  projects/hipdnn/tests/frontend/IntegrationHipdnnDynamicBackendWrapper.cpp
  projects/hipdnn/tests/frontend/main_dynamic.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(rocprim): use hipMemcpyAsync() to fix regression (#9013)
  projects/hipccl/hipccl3/rocprim/benchmark/benchmark_device_memory.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocprim): use hipMemcpyAsync() to fix regression (#9013)
  projects/rocprim/benchmark/benchmark_device_memory.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocprim): use hipMemcpyAsync() to fix regression (#9013)
  projects/hipccl/hipccl2/rocprim/benchmark/benchmark_device_memory.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(primbench): fix typo in code comment (#9026)
  shared/primbench/README.md
  shared/primbench/examples/cuda/copy_benchmark.cu
  shared/primbench/examples/hip/copy_benchmark.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(ci): Bump TheRock hash to d34f87 (2026-07-06) (#9126)
  .github/actions/ci-env/action.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(hipblaslt): Split subtile cluster barrier signal/wait (gfx1250) (#8805)
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/ClusterBarrier.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtile_cluster_barrier.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

adds hipblaslt only developer build
  projects/rocblas/CMakeLists.txt
  projects/rocblas/cmake/build-options.cmake
  projects/rocblas/library/src/CMakeLists.txt
  projects/rocblas/library/src/blas3/Tensile/gemm_tensile.hpp
  projects/rocblas/library/src/blas_ex/rocblas_gemm_ex.cpp
  projects/rocblas/library/src/blas_ex/rocblas_gemm_ex.hpp
  projects/rocblas/library/src/blas_ex/rocblas_gemm_ex_get_solutions.hpp
  projects/rocblas/library/src/blas_ex/rocblas_gemm_ex_kernels.cpp
  projects/rocblas/library/src/handle.cpp
  projects/rocblas/library/src/src64/blas_ex/rocblas_gemm_ex_kernels_64.cpp
  projects/rocblas/library/src/tensile_host.cpp
  projects/rocblas/rmake.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(integration-tests): replace TensorInit with FillSpec and address PR #8926 review
  dnn-providers/integration-tests/src/harness/IntegrationGraphVerificationHarness.hpp
  dnn-providers/integration-tests/src/harness/bundle/IntegrationBundleVerificationHarness.hpp
  dnn-providers/integration-tests/src/harness/input_init/InputInitSpec.hpp
  dnn-providers/integration-tests/src/harness/input_init/SynthesisConfig.hpp
  dnn-providers/integration-tests/src/harness/input_init/SynthesizeInputs.hpp
  dnn-providers/integration-tests/src/harness/tolerance/ToleranceResolver.hpp
  dnn-providers/integration-tests/src/integration_tests/conv/IntegrationGpuConvForwardSerializeRoundTrip.cpp
  dnn-providers/integration-tests/tests/TestSynthesisConfig.cpp
  dnn-providers/integration-tests/tests/TestSynthesizeInputs.cpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/BundleMetadata.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update unit_conv_solver_ConvHipImplicitGemmBwdDataV4R1.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvHipImplicitGemmBwdDataV4R1.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): fix rocke-pyenv python path on Windows
  dnn-providers/hip-kernel-provider/rocke/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix csrmv rounding failures after random number generation was recently changed
  projects/rocsparse/clients/testings/testing_csrmv.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

TensileLite coverage: single-pass split + best-effort upload
  .github/workflows/component-ci-tensilelite-coverage.yml
  projects/hipblaslt/tensilelite/.gitignore
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/tools/coverage_split_summary.py
  projects/hipblaslt/tensilelite/tox.ini
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(dnn-providers): forward TEST_ENVIRONMENT into external-integration ctest suites
  dnn-providers/integration-tests/cmake/HipdnnIntegrationTestHelpers.cmake
  dnn-providers/miopen-provider/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix in the encoding
  projects/composablekernel/include/ck_tile/core/arch/mma/utility/tile_distribution_encoding_calculator.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

invoke fix from the pipeline
  projects/composablekernel/include/ck_tile/core/arch/mma/mma_wavewise.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/utility/tile_distribution_encoding_calculator.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/warp/warp_gemm_dispatcher.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/warp/warp_gemm_dispatcher_unification.hpp
  projects/composablekernel/include/ck_tile/ops/gemm_quant/pipeline/gemm_microscale_pipeline_ag_bg_cr_policy.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
