Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

[rocRoller] Speed up node order computation (#4970)
  shared/rocroller/lib/include/rocRoller/KernelGraph/ControlGraph/ControlGraph.hpp
  shared/rocroller/lib/include/rocRoller/KernelGraph/ControlGraph/ControlGraph_impl.hpp
  shared/rocroller/lib/source/KernelGraph/ControlGraph/ControlGraph.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

rocfft: split system kernel cache into per-arch files
  projects/rocfft/CHANGELOG.md
  projects/rocfft/CMakeLists.txt
  projects/rocfft/library/src/CMakeLists.txt
  projects/rocfft/library/src/include/rtc_cache.h
  projects/rocfft/library/src/rtc_cache.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen] fix warnings produced by Wunused-value (#5052)
  projects/miopen/cmake/EnableCompilerWarnings.cmake
  projects/miopen/driver/bn_driver.hpp
  projects/miopen/driver/driver.hpp
  projects/miopen/driver/timer.hpp
  projects/miopen/src/ctc.cpp
  projects/miopen/src/gemm_v2.cpp
  projects/miopen/src/hip/handlehip.cpp
  projects/miopen/src/hipoc/hipoc_kernel.cpp
  projects/miopen/src/include/miopen/env.hpp
  projects/miopen/src/include/miopen/hipoc_kernel.hpp
  projects/miopen/src/include/miopen/manage_ptr.hpp
  projects/miopen/src/include/miopen/nogpu/handle_impl.hpp
  projects/miopen/src/include/miopen/rnn/multi_stream_utils.hpp
  projects/miopen/src/include/miopen/rnn_util.hpp
  projects/miopen/src/ocl/rnnocl.cpp
  projects/miopen/src/rnn/Solutions/bwd_multi_stream.cpp
  projects/miopen/src/solver/getitem/backward_getitem.cpp
  projects/miopen/src/solver/layernorm/backward_layernorm.cpp
  projects/miopen/src/solver/layernorm/backward_t5layernorm.cpp
  projects/miopen/src/solver/mha/mha_solver_backward.cpp
  projects/miopen/src/solver/mha/mha_solver_forward.cpp
  projects/miopen/src/solver/multimarginloss/forward_multimarginloss.cpp
  projects/miopen/src/solver/prelu/backward_prelu_multi_weights.cpp
  projects/miopen/src/solver/prelu/backward_prelu_single_weight.cpp
  projects/miopen/src/solver/reduce/forward_prod.cpp
  projects/miopen/src/solver/reduce/forward_sum.cpp
  projects/miopen/src/solver/softmarginloss/forward_softmarginloss.cpp
  projects/miopen/test/gru_common.hpp
  projects/miopen/test/gtest/gpu_reference_kernel.cpp
  projects/miopen/test/gtest/handle_hip_device.cpp
  projects/miopen/test/gtest/log.cpp
  projects/miopen/test/gtest/lstm.hpp
  projects/miopen/test/gtest/rnn_seq_api.hpp
  projects/miopen/test/gtest/rnn_vanilla_common.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocsparse] [hipsparse] Refer to HIP SDK documentation for Windows ve… (#5099)
  projects/hipsparse/docs/install/install-windows.rst
  projects/rocsparse/docs/install/Windows_Install_Guide.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Add block scale quantize frontend operation node (#5035)
  projects/hipdnn/data_sdk/CMakeLists.txt
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/data_objects/v24_12_23/hipdnn_data_sdk/data_objects/block_scale_quantize_attributes_generated.h
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/data_objects/v24_12_23/hipdnn_data_sdk/data_objects/graph_generated.h
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/data_objects/v25_9_23/hipdnn_data_sdk/data_objects/block_scale_quantize_attributes_generated.h
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/data_objects/v25_9_23/hipdnn_data_sdk/data_objects/graph_generated.h
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/flatbuffer_utilities/NodeWrapper.hpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/json/BlockScaleQuantizeAttributes.hpp
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/json/Graph.hpp
  projects/hipdnn/data_sdk/schemas/block_scale_quantize_attributes.fbs
  projects/hipdnn/data_sdk/schemas/graph.fbs
  projects/hipdnn/data_sdk/tests/utilities/TestJson.cpp
  projects/hipdnn/frontend/include/hipdnn_frontend/Graph.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/attributes/BlockScaleQuantizeAttributes.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/BlockScaleQuantizeNode.hpp
  projects/hipdnn/frontend/tests/CMakeLists.txt
  projects/hipdnn/frontend/tests/TestBlockScaleQuantizeAttributes.cpp
  projects/hipdnn/frontend/tests/TestBlockScaleQuantizeNode.cpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/FlatbufferGraphTestUtils.hpp
  projects/hipdnn/tests/frontend/CMakeLists.txt
  projects/hipdnn/tests/frontend/IntegrationBlockScaleQuantize.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocfft-test] remove extraneous, misleading test option (#5126)
  projects/rocfft/clients/tests/gtest_main.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt][CMS] Refactor GRInc-GR validation pass (#5021)
  projects/hipblaslt/tensilelite/Tensile/Components/CMSValidator.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_GRMustStartAfterGRInc.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_gr_inc_order.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen] Fix pooling runtime compilation #include issue (#5081)
  projects/miopen/src/kernels/MIOpenPooling.cpp
  projects/miopen/src/kernels/MIOpenPoolingBwd.cpp
  projects/miopen/src/kernels/MIOpenPoolingBwdND.cpp
  projects/miopen/src/kernels/MIOpenPoolingForwardNaive.cpp
  projects/miopen/src/kernels/MIOpenPoolingND.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocBLAS] improve rocblas-bench usability related to large arguments that require ILP64 API (#4986)
  projects/rocblas/clients/benchmarks/client.cpp
  projects/rocblas/docs/how-to/Programmers_Guide.rst
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[CI] Fix provider test keys to match TheRock test_matrix (#4987)
  .github/scripts/therock_matrix.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] use int64 for ptr offset (#5094)
  projects/composablekernel/include/ck/tensor_operation/gpu/grid/gridwise_moe_gemm.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/grid/gridwise_moe_gemm_blockscale.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/grid/gridwise_moe_mx_gemm.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/grid/gridwise_moe_mx_gemm_bns.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/grid/gridwise_moe_mx_gemm_bpreshuffle.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocrand] Fix benchmark_rocrand_device_api launch parameters (#5156)
  projects/rocrand/benchmark/benchmark_occupancy_helper.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocPRIM] Avoid casting away const qualifier in device_batch_memcpy (#5123)
  projects/rocprim/rocprim/include/rocprim/device/detail/device_batch_memcpy.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[{roc,hip}fft-test] Avoid underflows and reserve at least half of the system's memory for host allocations on APUs (#4953)
  projects/hipfft/clients/tests/gtest_main.cpp
  projects/hipfft/shared/sys_mem.h
  projects/rocfft/clients/tests/gtest_main.cpp
  projects/rocfft/shared/sys_mem.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] Remove log spam for deprecated convolutions (#5101)
  projects/composablekernel/library/src/tensor_operation_instance/gpu/conv1d_bwd_data/device_conv1d_bwd_data_xdl_nwc_kxc_nwk_bf16_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/conv1d_bwd_data/device_conv1d_bwd_data_xdl_nwc_kxc_nwk_f16_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/conv1d_bwd_data/device_conv1d_bwd_data_xdl_nwc_kxc_nwk_f32_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/conv1d_bwd_data/device_conv1d_bwd_data_xdl_nwc_kxc_nwk_int8_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/conv2d_bwd_data/device_conv2d_bwd_data_dl_nhwc_kyxc_nhwk_f16_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/conv2d_bwd_data/device_conv2d_bwd_data_dl_nhwc_kyxc_nhwk_f32_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/conv2d_bwd_data/device_conv2d_bwd_data_dl_nhwc_kyxc_nhwk_int8_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/conv2d_bwd_data/device_conv2d_bwd_data_xdl_nhwc_kyxc_nhwk_bf16_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/conv2d_bwd_data/device_conv2d_bwd_data_xdl_nhwc_kyxc_nhwk_f16_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/conv2d_bwd_data/device_conv2d_bwd_data_xdl_nhwc_kyxc_nhwk_f32_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/conv2d_bwd_data/device_conv2d_bwd_data_xdl_nhwc_kyxc_nhwk_int8_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/conv2d_fwd/device_conv2d_fwd_xdl_c_shuffle_nhwc_kyxc_nhwk_f16_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/conv2d_fwd/device_conv2d_fwd_xdl_nhwc_kyxc_nhwk_bf16_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/conv2d_fwd/device_conv2d_fwd_xdl_nhwc_kyxc_nhwk_f16_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/conv2d_fwd/device_conv2d_fwd_xdl_nhwc_kyxc_nhwk_f32_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/conv2d_fwd/device_conv2d_fwd_xdl_nhwc_kyxc_nhwk_int8_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/conv2d_fwd_bias_relu/device_conv2d_fwd_xdl_c_shuffle_bias_relu_nhwc_kyxc_nhwk_f16_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/conv2d_fwd_bias_relu_add/device_conv2d_fwd_xdl_c_shuffle_bias_relu_add_nhwc_kyxc_nhwk_f16_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/conv3d_bwd_data/device_conv3d_bwd_data_xdl_ndhwc_kzyxc_ndhwk_bf16_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/conv3d_bwd_data/device_conv3d_bwd_data_xdl_ndhwc_kzyxc_ndhwk_f16_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/conv3d_bwd_data/device_conv3d_bwd_data_xdl_ndhwc_kzyxc_ndhwk_f32_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/conv3d_bwd_data/device_conv3d_bwd_data_xdl_ndhwc_kzyxc_ndhwk_int8_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv3d_bwd_data/xdl/device_grouped_conv3d_bwd_data_xdl_ndhwgc_gkzyxc_ndhwgk_input_f16_comp_bf8_f8_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv3d_bwd_weight/xdl/ndhwgc_gkzyxc_ndhwgk/device_grouped_conv3d_bwd_weight_xdl_ndhwgc_gkzyxc_ndhwgk_f16_comp_bf8_fp8_instance.cpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/device_grouped_conv3d_fwd_xdl_ndhwgc_gkzyxc_ndhwgk_f16_comp_fp8_instance.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt][CMS] Cleanup and standardize ValidatorInstruction hierarchy (#5025)
  projects/hipblaslt/tensilelite/Tensile/Components/CMSValidator.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_EstimateQuadCyclesForValidator.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_ValidateGRsCompleteBeforeLr1s.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

de-boost tensilelite: drop Boost.Program_options and Boost.Filesystem
  projects/hipblaslt/tensilelite/client/cpu_gemm_driver.cpp
  projects/hipblaslt/tensilelite/client/include/BenchmarkTimer.hpp
  projects/hipblaslt/tensilelite/client/include/CMakeLists.txt
  projects/hipblaslt/tensilelite/client/include/ClientProblemFactory.hpp
  projects/hipblaslt/tensilelite/client/include/DataInitialization.hpp
  projects/hipblaslt/tensilelite/client/include/HardwareMonitorListener.hpp
  projects/hipblaslt/tensilelite/client/include/LibraryUpdateReporter.hpp
  projects/hipblaslt/tensilelite/client/include/LogReporter.hpp
  projects/hipblaslt/tensilelite/client/include/PerformanceReporter.hpp
  projects/hipblaslt/tensilelite/client/include/ProgramOptions.hpp
  projects/hipblaslt/tensilelite/client/include/ProgressListener.hpp
  projects/hipblaslt/tensilelite/client/include/ReferenceValidator.hpp
  projects/hipblaslt/tensilelite/client/include/ResultFileReporter.hpp
  projects/hipblaslt/tensilelite/client/include/SolutionIterator.hpp
  projects/hipblaslt/tensilelite/client/main.cpp
  projects/hipblaslt/tensilelite/client/src/CMakeLists.txt
  projects/hipblaslt/tensilelite/client/src/ProgramOptions.cpp
  projects/hipblaslt/tensilelite/tests/CMakeLists.txt
  projects/hipblaslt/tensilelite/tests/RangeLibrary_test.cpp
  projects/hipblaslt/tensilelite/tests/TestData.cpp
  projects/hipblaslt/tensilelite/tests/include/TestData.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[HIPDNN] Layernorm CPU Ref (#4981)
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/CpuFpReferenceLayernorm.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/CpuReferenceGraphExecutor.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/GraphTensorBundle.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/LayernormFpropPlan.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/LayernormFpropSignatureKey.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/PlanBuilderRegistry.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/PlanRegistrySignatureKey.hpp
  projects/hipdnn/test_sdk/tests/CMakeLists.txt
  projects/hipdnn/test_sdk/tests/utilities/TestCpuFpReferenceLayernorm.cpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/LayernormGraphUtils.hpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/LayernormTensorBundles.hpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestGraphTensorBundle.cpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestLayernormFpropPlan.cpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestLayernormFpropSignatureKey.cpp
  projects/hipdnn/tests/frontend/CMakeLists.txt
  projects/hipdnn/tests/frontend/IntegrationLayernormForward.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK TILE] Unification of sparse MFMA/WMMA policy structs (#4837)
  projects/composablekernel/include/ck_tile/core/arch/arch.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/amdgcn_mma.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/mfma/mfma_gfx9.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/mfma/mfma_selector.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/mma.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/mma_op_family.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/mma_selector.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/mma_traits.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/mfma/selector.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/mfma/sparse_gfx9.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/sparse.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/sparse_selector.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/sparse_transforms.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/wmma/selector.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/wmma/sparse_gfx12.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/wmma/wmma_gfx11.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/wmma/wmma_gfx12.hpp
  projects/composablekernel/include/ck_tile/core/arch/mma/wmma/wmma_selector.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/warp/warp_gemm_smfmac_impl.hpp
  projects/composablekernel/test/ck_tile/core/arch/mma/CMakeLists.txt
  projects/composablekernel/test/ck_tile/core/arch/mma/get_wave_size_helper.hpp
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma.cpp
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_sparse_mma.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove stagnant RMS norm generated headers (#5140)
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/data_objects/norm_common_generated.h
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/data_objects/rmsnorm_attributes_generated.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocblas] fix INVALID_ISA errors in GPU kernels under AddressSanitizer (#4572)
  projects/rocblas/clients/benchmarks/client.cpp
  projects/rocblas/clients/common/client_utility.cpp
  projects/rocblas/clients/gtest/CMakeLists.txt
  projects/rocblas/clients/gtest/asan_helpers_gtest.cpp
  projects/rocblas/clients/gtest/rocblas_gtest_main.cpp
  projects/rocblas/clients/include/client_utility.hpp
  projects/rocblas/library/include/internal/asan_helpers.hpp
  projects/rocblas/library/include/internal/rocblas_block_sizes.h
  projects/rocblas/library/src/blas2/rocblas_gemv_kernels.cpp
  projects/rocblas/library/src/blas2/rocblas_ger_kernels.hpp
  projects/rocblas/library/src/blas2/rocblas_hbmv_kernels.cpp
  projects/rocblas/library/src/blas2/rocblas_her2_kernels.hpp
  projects/rocblas/library/src/blas2/rocblas_her_kernels.cpp
  projects/rocblas/library/src/blas2/rocblas_hpmv_kernels.cpp
  projects/rocblas/library/src/blas2/rocblas_hpr2_kernels.cpp
  projects/rocblas/library/src/blas2/rocblas_hpr_kernels.cpp
  projects/rocblas/library/src/blas2/rocblas_sbmv_kernels.cpp
  projects/rocblas/library/src/blas2/rocblas_spmv_kernels.cpp
  projects/rocblas/library/src/blas2/rocblas_spr2_kernels.cpp
  projects/rocblas/library/src/blas2/rocblas_spr_kernels.cpp
  projects/rocblas/library/src/blas2/rocblas_syr2_kernels.cpp
  projects/rocblas/library/src/blas2/rocblas_syr_kernels.cpp
  projects/rocblas/library/src/blas2/rocblas_tbmv_kernels.cpp
  projects/rocblas/library/src/blas2/rocblas_trmv_kernels.cpp
  projects/rocblas/library/src/blas2/rocblas_trsv_kernels.cpp
  projects/rocblas/library/src/blas3/rocblas_dgmm_kernels.cpp
  projects/rocblas/library/src/blas3/rocblas_symm_hemm_kernels.cpp
  projects/rocblas/library/src/blas3/rocblas_syr2k_her2k_kernels.cpp
  projects/rocblas/library/src/blas3/rocblas_trsm_kernels.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Adding layout test for amdgcn_mma structs (#4495)
  projects/composablekernel/test/ck_tile/core/arch/mma/CMakeLists.txt
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout.cpp
  projects/composablekernel/test/ck_tile/core/arch/mma/test_amdgcn_mma_layout_util.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Frontend versioning (#5147)
  projects/hipdnn/backend/include/hipdnn_backend.h
  projects/hipdnn/backend/src/HipdnnBackend.cpp
  projects/hipdnn/backend/tests/CMakeLists.txt
  projects/hipdnn/backend/tests/TestVersion.cpp
  projects/hipdnn/data_sdk/tests/CMakeLists.txt
  projects/hipdnn/data_sdk/tests/utilities/TestVersion.cpp
  projects/hipdnn/frontend/CMakeLists.txt
  projects/hipdnn/frontend/cmake/hipdnn_frontendConfig.cmake.in
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/BackendWrapper.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/HipdnnBackendInterface.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/IncompatibleBackend.hpp
  projects/hipdnn/frontend/tests/CMakeLists.txt
  projects/hipdnn/frontend/tests/TestBackendInterface.cpp
  projects/hipdnn/frontend/tests/TestIncompatibleBackendWrapper.cpp
  projects/hipdnn/frontend/tests/TestVersion.cpp
  projects/hipdnn/frontend/tests/fake_backend/MockHipdnnBackend.hpp
  projects/hipdnn/frontend/version.h.in
  projects/hipdnn/frontend/version.json
  projects/hipdnn/plugin_sdk/tests/CMakeLists.txt
  projects/hipdnn/plugin_sdk/tests/TestVersion.cpp
  projects/hipdnn/test_sdk/tests/CMakeLists.txt
  projects/hipdnn/test_sdk/tests/TestVersion.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipsparselt] cpu blas discovery (#4925)
  projects/hipblaslt/install.sh
  projects/hipsparselt/CMakeLists.txt
  projects/hipsparselt/clients/CMakeLists.txt
  projects/hipsparselt/cmake/fetch_lapack.cmake
  projects/hipsparselt/install.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblas] Asan odr work around (#5106)
  projects/hipblas/clients/gtest/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[Tensilelite] Add support for getting rocprof counters in tensilelite client (#4836)
  projects/hipblaslt/tensilelite/Tensile/ClientWriter.py
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/client/CMakeLists.txt
  projects/hipblaslt/tensilelite/client/include/LogReporter.hpp
  projects/hipblaslt/tensilelite/client/include/MetaResultReporter.hpp
  projects/hipblaslt/tensilelite/client/include/MetaRunListener.hpp
  projects/hipblaslt/tensilelite/client/include/Profiler.hpp
  projects/hipblaslt/tensilelite/client/include/ResultReporter.hpp
  projects/hipblaslt/tensilelite/client/include/RunListener.hpp
  projects/hipblaslt/tensilelite/client/main.cpp
  projects/hipblaslt/tensilelite/client/src/CMakeLists.txt
  projects/hipblaslt/tensilelite/client/src/MetaRunListener.cpp
  projects/hipblaslt/tensilelite/client/src/Profiler.cpp
  projects/hipblaslt/tensilelite/client/src/RocProfiler.cpp
  projects/hipblaslt/tensilelite/tasks.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] [ALMIOPEN-1118] Implementation of batchnorm inference descriptor lowering (#5097)
  projects/hipdnn/backend/include/HipdnnBackendAttributeName.h
  projects/hipdnn/backend/include/HipdnnBackendDescriptorType.h
  projects/hipdnn/backend/src/BackendEnumStringUtils.hpp
  projects/hipdnn/backend/src/CMakeLists.txt
  projects/hipdnn/backend/src/descriptors/BatchnormInferenceOperationDescriptor.cpp
  projects/hipdnn/backend/src/descriptors/BatchnormInferenceOperationDescriptor.hpp
  projects/hipdnn/backend/src/descriptors/DescriptorFactory.cpp
  projects/hipdnn/backend/tests/CMakeLists.txt
  projects/hipdnn/backend/tests/TestBackendEnumStringUtils.cpp
  projects/hipdnn/backend/tests/descriptors/TestBatchnormInferenceOperationDescriptor.cpp
  projects/hipdnn/backend/tests/descriptors/TestGraphDescriptorBatchnormInference.cpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/BatchnormInferencePacker.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/BatchnormInferenceNode.hpp
  projects/hipdnn/tests/frontend/CMakeLists.txt
  projects/hipdnn/tests/frontend/IntegrationBatchnormInferenceDescriptorLowering.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Add hipdnn and DNN providers as superbuild components (#5077)
  .gitignore
  CMakeLists.txt
  CMakePresets.json
  cmake/toolchains/rocm-clang.cmake
  projects/hipdnn/cmake/FlatBuffersGenerate.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Compile-time optimize threadwise slice transfer (#4673)
  projects/composablekernel/include/ck/tensor_operation/gpu/thread/threadwise_tensor_slice_transfer_util.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/thread/threadwise_tensor_slice_transfer_v3r1.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/thread/threadwise_tensor_slice_transfer_v3r1_dequant.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/thread/threadwise_tensor_slice_transfer_v3r1_gather.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/thread/threadwise_tensor_slice_transfer_v3r2.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/thread/threadwise_tensor_slice_transfer_v4r1.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/thread/threadwise_tensor_slice_transfer_v5r1.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/thread/threadwise_tensor_slice_transfer_v6r1.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/thread/threadwise_tensor_slice_transfer_v6r1r2.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/thread/threadwise_tensor_slice_transfer_v6r2.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/thread/threadwise_tensor_slice_transfer_v6r3.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/thread/threadwise_tensor_slice_transfer_v7r2.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/thread/threadwise_tensor_slice_transfer_v7r3.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/thread/threadwise_tensor_slice_transfer_v7r3_scatter.hpp
  projects/composablekernel/test/CMakeLists.txt
  projects/composablekernel/test/threadwise_transfer_helper/CMakeLists.txt
  projects/composablekernel/test/threadwise_transfer_helper/test_threadwise_transfer_helper.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt] Fix for TF32 + UsePLRPack + UnrollLoopSwapGlobalReadOrder (#5175)
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/xfp32.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

retuned number of equality tf32 for gfx950 (#5171)
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bjlk_S_MX_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bljk_S_MX_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_S_MX_B_BiasS_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocroller] Print pylint warnings when running fix-format (#5148)
  shared/rocroller/requirements.txt
  shared/rocroller/scripts/fix-format
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt] Set SKXCCMapping to power of 2 (#5075)
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bjlk_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bjlk_SS_BSS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bjlk_S_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bjlk_S_MX_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bljk_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bljk_HSS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bljk_SS_BSS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bljk_S_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bljk_S_MX_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bjlk_S_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SABV_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_HHS_BH_BiasSH_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_SS_BSS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_S_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_S_MX_B_BiasS_HAS_SAV_UserArgs.yaml
  shared/origami/python/src/origami/bindings.cpp
  shared/origami/src/origami/origami.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocthrust] adding the updated backend build info into the documentation (#5074)
  projects/rocthrust/docs/how-to/rocThrust-build-for-backends.rst
  projects/rocthrust/docs/index.rst
  projects/rocthrust/docs/install/rocThrust-rmake-install.rst
  projects/rocthrust/docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocThrust] Update host and device system CMake options (#4983)
  projects/rocthrust/CHANGELOG.md
  projects/rocthrust/CMakeLists.txt
  projects/rocthrust/cmake/Dependencies.cmake
  projects/rocthrust/cmake/Summary.cmake
  projects/rocthrust/cmake/VerifyCompiler.cmake
  projects/rocthrust/docs/install/rocThrust-install-with-cmake.rst
  projects/rocthrust/thrust/CMakeLists.txt
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] [ALMIOPEN-1119] Implementation of Bn Inference (Variance Ext) descriptor (#5108)
  projects/hipdnn/backend/include/HipdnnBackendAttributeName.h
  projects/hipdnn/backend/include/HipdnnBackendDescriptorType.h
  projects/hipdnn/backend/src/BackendEnumStringUtils.hpp
  projects/hipdnn/backend/src/CMakeLists.txt
  projects/hipdnn/backend/src/descriptors/BatchnormInferenceVarianceExtOperationDescriptor.cpp
  projects/hipdnn/backend/src/descriptors/BatchnormInferenceVarianceExtOperationDescriptor.hpp
  projects/hipdnn/backend/src/descriptors/DescriptorFactory.cpp
  projects/hipdnn/backend/tests/CMakeLists.txt
  projects/hipdnn/backend/tests/TestBackendEnumStringUtils.cpp
  projects/hipdnn/backend/tests/descriptors/TestBatchnormInferenceVarianceExtOperationDescriptor.cpp
  projects/hipdnn/backend/tests/descriptors/TestGraphDescriptorBatchnormInferenceVarianceExt.cpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/BatchnormInferenceVarianceExtPacker.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/BatchnormInferenceNodeVarianceExt.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/constants/BnInfVarExtConstants.hpp
  projects/hipdnn/tests/frontend/CMakeLists.txt
  projects/hipdnn/tests/frontend/IntegrationBatchnormInferenceNodeVarianceExtDescriptorLowering.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Add configuration file for generating release user docs (RTD). (#5194)
  projects/hipdnn/.readthedocs.yaml
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] Replace tuple value construction with tuple_element_t type extraction [1A] (#5030)
  projects/composablekernel/example/12_reduce/reduce_blockwise.cpp
  projects/composablekernel/example/12_reduce/reduce_multiblock_atomic_add.cpp
  projects/composablekernel/example/12_reduce/reduce_threadwise_multi_d.cpp
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/add_device_operation_instance.hpp
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/add_grouped_conv_bwd_wei_exp_device_operation_instance.hpp
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/reduce/device_reduce_instance_blockwise.hpp
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/reduce/device_reduce_instance_multiblock_atomic_add.hpp
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/reduce/device_reduce_instance_threadwise.hpp
  projects/composablekernel/profiler/include/profiler/profile_reduce_impl.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add MatmulOperationDescriptor to backend C-API and frontend lowering (#5154)
  projects/hipdnn/backend/include/HipdnnBackendAttributeName.h
  projects/hipdnn/backend/include/HipdnnBackendDescriptorType.h
  projects/hipdnn/backend/src/BackendEnumStringUtils.hpp
  projects/hipdnn/backend/src/CMakeLists.txt
  projects/hipdnn/backend/src/descriptors/DescriptorFactory.cpp
  projects/hipdnn/backend/src/descriptors/MatmulOperationDescriptor.cpp
  projects/hipdnn/backend/src/descriptors/MatmulOperationDescriptor.hpp
  projects/hipdnn/backend/tests/CMakeLists.txt
  projects/hipdnn/backend/tests/TestBackendEnumStringUtils.cpp
  projects/hipdnn/backend/tests/descriptors/TestGraphDescriptorMatmul.cpp
  projects/hipdnn/backend/tests/descriptors/TestMatmulOperationDescriptor.cpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/MatmulPacker.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/MatmulNode.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/constants/MatmulConstants.hpp
  projects/hipdnn/tests/frontend/CMakeLists.txt
  projects/hipdnn/tests/frontend/IntegrationMatmulDescriptorLowering.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK_BUILDER] Simplify the TreeFormatter. (#5083)
  projects/composablekernel/experimental/builder/include/ck_tile/builder/reflect/README.md
  projects/composablekernel/experimental/builder/include/ck_tile/builder/reflect/conv_description.hpp
  projects/composablekernel/experimental/builder/include/ck_tile/builder/reflect/tree_formatter.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
