Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

Refactor CMakeLists.txt to remove AOCL shared library handling and restrict to static library detection. Update comments for clarity on library search paths.
  projects/rocblas/clients/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Quick fix
  shared/origami/tests/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

PR fixes
  projects/hipsparse/clients/include/hipsparse_arguments.hpp
  projects/hipsparse/clients/include/hipsparse_common.yaml
  projects/hipsparse/clients/include/hipsparse_graph.hpp
  projects/hipsparse/clients/include/hipsparse_local_handle.hpp
  projects/hipsparse/clients/include/testing_dotci.hpp
  projects/hipsparse/clients/include/testing_doti.hpp
  projects/hipsparse/clients/tests/rocm/test_axpby.yaml
  projects/hipsparse/clients/tests/rocm/test_dotci.yaml
  projects/hipsparse/clients/tests/rocm/test_doti.yaml
  projects/hipsparse/clients/tests/rocm/test_gather.yaml
  projects/hipsparse/clients/tests/rocm/test_gthr.yaml
  projects/hipsparse/clients/tests/rocm/test_gthrz.yaml
  projects/hipsparse/clients/tests/rocm/test_rot.yaml
  projects/hipsparse/clients/tests/rocm/test_roti.yaml
  projects/hipsparse/clients/tests/rocm/test_scatter.yaml
  projects/hipsparse/clients/tests/rocm/test_sctr.yaml
  projects/hipsparse/clients/tests/rocm/test_spvv.yaml
  projects/hipsparse/clients/tests/test_axpby.cpp
  projects/hipsparse/clients/tests/test_axpyi.cpp
  projects/hipsparse/clients/tests/test_gather.cpp
  projects/hipsparse/clients/tests/test_gthr.cpp
  projects/hipsparse/clients/tests/test_gthrz.cpp
  projects/hipsparse/clients/tests/test_rot.cpp
  projects/hipsparse/clients/tests/test_roti.cpp
  projects/hipsparse/clients/tests/test_scatter.cpp
  projects/hipsparse/clients/tests/test_sctr.cpp
  projects/hipsparse/clients/tests/test_sddmm_coo.cpp
  projects/hipsparse/clients/tests/test_sddmm_coo_aos.cpp
  projects/hipsparse/clients/tests/test_sddmm_csc.cpp
  projects/hipsparse/clients/tests/test_sddmm_csr.cpp
  projects/hipsparse/clients/tests/test_spmm_batched_coo.cpp
  projects/hipsparse/clients/tests/test_spmm_batched_csc.cpp
  projects/hipsparse/clients/tests/test_spmm_batched_csr.cpp
  projects/hipsparse/clients/tests/test_spmm_coo.cpp
  projects/hipsparse/clients/tests/test_spmm_csc.cpp
  projects/hipsparse/clients/tests/test_spmm_csr.cpp
  projects/hipsparse/clients/tests/test_spvv.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix: match new/old install manifests and fix client matrices
  projects/rocsparse/CMakeLists.txt
  projects/rocsparse/clients/CMakeLists.txt
  projects/rocsparse/clients/testings/CMakeLists.txt
  projects/rocsparse/clients/tests/CMakeLists.txt
  projects/rocsparse/library/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Revert plugin loading to use symlink instead of direct path
  projects/hipdnn/plugins/CMakeLists.txt
  projects/hipdnn/plugins/miopen_legacy_plugin
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Type fixes.
  shared/rocroller/client/include/client/GEMMParameters.hpp
  shared/rocroller/lib/include/rocRoller/CommandSolution.hpp
  shared/rocroller/lib/source/KernelGraph/Transformations/AddLDSPadding.cpp
  shared/rocroller/lib/source/KernelGraph/Utils.cpp
  shared/rocroller/test/common/include/common/GEMMProblem.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Move Primbench example to standalone file
  shared/primbench/README.md
  shared/primbench/examples/copy_benchmark.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Equality tests for flatbuffer tables, buffers, and unpacked c++ types
  projects/hipdnn/frontend/tests/TestGraphSerialization.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add hipsparse-float16.h to the public header
  projects/hipsparse/library/include/hipsparse-bfloat16.h
  projects/hipsparse/library/include/hipsparse-float16.h
  projects/hipsparse/library/include/hipsparse.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Enable BWD and WRW solvers for Navi
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_3d_grouped_bwd_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_3d_grouped_wrw_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_grouped_bwd_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_grouped_wrw_xdlops.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Enable BWD and WRW CK gtests for Navi
  projects/miopen/test/gtest/unit_conv_solver_ConvHipImplicitGemm3DGroupBwdXdlops.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvHipImplicitGemm3DGroupWrwXdlops.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvHipImplicitGemmGroupBwdXdlops.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvHipImplicitGemmGroupWrwXdlops.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

generate random values directly as an array of T
  projects/hipsparse/clients/include/testing_spmv_csr_pytorch_compat.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocfft_test_harness.cpp] Destroy the events created in standalone kernel harnesses
  projects/rocfft/library/src/rtc_test_harness.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

clang-format fix
  projects/miopen/test/gtest/unit_conv_solver_ConvHipImplicitGemmGroupBwdXdlops.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvHipImplicitGemmGroupWrwXdlops.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add better install commands to readme.
  shared/origami/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Extra UID and fusion verification
  projects/hipdnn/frontend/tests/TestGraphSerialization.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Refactor CMakeLists.txt to streamline RPATH settings for OpenMP libraries. Replace list-based RPATH collection with direct property setting for improved clarity and efficiency.
  projects/rocblas/clients/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

attempt to fix python script for mathci
  projects/hipdnn/cmake/scripts/test_name_validator.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipfftw-tests] skip tests if a std::bad_alloc is caught and revise some catch blocks
  projects/hipfft/clients/tests/hipfft_accuracy_test.cpp
  projects/hipfft/clients/tests/hipfftw_test.cpp
  projects/hipfft/clients/tests/multi_stream_test.cpp
  projects/rocfft/clients/tests/rocfft_accuracy_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Docs were not building because doxygen was getting confused with a deprecation macro we were using
  projects/hipsparse/docs/doxygen/Doxyfile
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix spelling typo
  projects/hipsparse/library/include/internal/generic/hipsparse_spsm.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix wide dataset filtering: filter Max pooling with wsidx=0 for Dataset 2
  projects/miopen/test/gtest/pooling2d_common.hpp
  projects/miopen/test/gtest/pooling2d_wide.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CLI update for types.
  shared/rocroller/client/include/client/CLI_Utils.hpp
  shared/rocroller/client/include/client/GEMMParameters.hpp
  shared/rocroller/client/src/GEMMParameters.cpp
  shared/rocroller/client/src/gemm.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add module back to RTCKernel with a comment
  projects/rocfft/library/src/include/rtc_kernel.h
  projects/rocfft/library/src/rtc_kernel.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

set RTCKernel::deviceId ASAP to ensure it's valid during precompile
  projects/rocfft/library/src/rtc_kernel.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update AOCL build configuration to use static libraries instead of shared libraries. Adjust output messages to reflect the change in library type and installation path.
  projects/rocblas/install.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Build AOCL with static libraries only
  projects/rocblas/install.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Don't try automagic padding yet.
  shared/rocroller/lib/source/KernelGraph/Transformations/AddLDSPadding.cpp
  shared/rocroller/test/unit/GEMMDirectLDSTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

constify RTCKernel members
  projects/rocfft/library/src/include/rtc_kernel.h
  projects/rocfft/library/src/rtc_kernel.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Simplify CMakeLists.txt with inline BLAS detection and sync develop changes
  projects/rocblas/clients/CMakeLists.txt
  projects/rocblas/clients/common/host_alloc.cpp
  projects/rocblas/clients/include/blas1/testing_dot_strided_batched.hpp
  projects/rocblas/clients/include/blas2/testing_tbsv_batched.hpp
  projects/rocblas/clients/include/blas2/testing_tpmv_batched.hpp
  projects/rocblas/clients/include/blas2/testing_tpsv_batched.hpp
  projects/rocblas/clients/include/blas2/testing_trmv_batched.hpp
  projects/rocblas/clients/include/blas2/testing_trsv_batched.hpp
  projects/rocblas/clients/include/blas3/testing_trsm_batched.hpp
  projects/rocblas/clients/include/client_utility.hpp
  projects/rocblas/docs/install/Linux_Install_Guide.rst
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Fix typo
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_ValidatePack.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Implementation
  projects/hipblaslt/tensilelite/Tensile/Components/CMSValidator.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Tests
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_ValidatePack.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add missing test
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomSchedule.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Debugging cuda compilation failures
  projects/hipsparse/clients/benchmarks/CMakeLists.txt
  projects/hipsparse/clients/samples/CMakeLists.txt
  projects/hipsparse/clients/tests/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove unintended changes from previous commit
  projects/rocblas/clients/common/host_alloc.cpp
  projects/rocblas/clients/include/blas1/testing_dot_strided_batched.hpp
  projects/rocblas/clients/include/blas2/testing_tbsv_batched.hpp
  projects/rocblas/clients/include/blas2/testing_tpmv_batched.hpp
  projects/rocblas/clients/include/blas2/testing_tpsv_batched.hpp
  projects/rocblas/clients/include/blas2/testing_trmv_batched.hpp
  projects/rocblas/clients/include/blas2/testing_trsv_batched.hpp
  projects/rocblas/clients/include/blas3/testing_trsm_batched.hpp
  projects/rocblas/clients/include/client_utility.hpp
  projects/rocblas/docs/install/Linux_Install_Guide.rst
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Modify custom TF32 kernels as they don't support autoWGM
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bjlk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Ailk_Bljk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocfft-test] clear cpu cache when std::bad_alloc is caught
  projects/rocfft/clients/tests/rocfft_accuracy_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Move PreSwizzle helper to mxdatagenerator.
  projects/hipblaslt/clients/common/src/mxDataGen.cpp
  shared/mxdatagenerator/CMakeLists.txt
  shared/mxdatagenerator/lib/include/PreSwizzle.hpp
  shared/rocroller/client/CMakeLists.txt
  shared/rocroller/client/include/client/PreSwizzle.hpp
  shared/rocroller/client/src/gemm.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor: update the packaging and openmp rpath
  projects/rocsparse/CMakeLists.txt
  projects/rocsparse/clients/benchmarks/CMakeLists.txt
  projects/rocsparse/clients/tests/CMakeLists.txt
  projects/rocsparse/library/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
