Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

fix(hiptensor): Move benchmark tests off general ctests (#12202)
  projects/hiptensor/TESTING.md
  projects/hiptensor/test/CMakeLists.txt
  projects/hiptensor/test_categories.yaml
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/instances/common/conv_direct_grouped_build_dgrad.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fixes
  dnn-providers/hip-kernel-provider/rocke/platform/tests/golden/rocke_representative_ir_sha256.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocsparse): add routines missing from documentation (#12244)
  projects/rocsparse/docs/reference/api.rst
  projects/rocsparse/docs/reference/auxiliary.rst
  projects/rocsparse/docs/reference/level1.rst
  projects/rocsparse/docs/reference/precond.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): address fp8 SDPA fwd review
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaFwdArgsBuilder.hpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaFwdParams.hpp
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/plans/SdpaFwdPlanBuilder.cpp
  dnn-providers/hip-kernel-provider/src/integration_tests/asm_sdpa_engine/IntegrationGpuSdpaForward.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/AsmSdpaConfigHelpers.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/TestSdpaFwdKernelArgs.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/asm_sdpa_engine/TestSdpaFwdPlanBuilder.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipstdpar): Resolves ROCM-30886 (#12296)
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/math_lib.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat: fp32 GEMM compatibility on gfx1250 (#11926)
  projects/composablekernel/example/ck_tile/03_gemm/gemm_utils.hpp
  projects/composablekernel/example/ck_tile/03_gemm/universal_gemm.cpp
  projects/composablekernel/include/ck_tile/ops/gemm/pipeline/tile_gemm_shape.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat: Compatible K when not a multiple of 8 (#11537)
  projects/composablekernel/example/ck_tile/03_gemm/gemm_splitk_two_stage_invoker.hpp
  projects/composablekernel/example/ck_tile/03_gemm/gemm_utils.hpp
  projects/composablekernel/example/ck_tile/03_gemm/run_gemm_example.inc
  projects/composablekernel/example/ck_tile/03_gemm/universal_gemm_invoker.hpp
  projects/composablekernel/test/ck_tile/gemm/CMakeLists.txt
  projects/composablekernel/test/ck_tile/gemm/test_gemm_unaligned_k.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add new test to pin name-order dependency
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/Naming/test_naming_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Initial impl
  projects/hipblaslt/tensilelite/README.md
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/KernelNameDecoder.py
  projects/hipblaslt/tensilelite/Tensile/TensileDecodeKernelName.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_kernel_name_decoder.py
  projects/hipblaslt/tensilelite/Tensile/bin/TensileDecodeKernelName
  projects/hipblaslt/tensilelite/pyproject.toml
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Cleanup cache flags
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/KernelNameDecoder.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Cleanup readme
  projects/hipblaslt/tensilelite/README.md
  projects/hipblaslt/tensilelite/Tensile/TensileDecodeKernelName.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): Add cross-XCD L2 memory ordering for StreamK on gfx950 (#11691)
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/hardware_caps.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(miopen): set -fno-offload-lto on hipconv's device targets (ROCM-31334) (#12328)
  projects/miopen/src/hipconv/CMakeLists.txt
  projects/miopen/src/hipconv/cmake/GpuArch.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hiptensor): support elementwise broadcast (#11958)
  projects/hiptensor/CHANGELOG.md
  projects/hiptensor/library/include/hiptensor/hiptensor.h
  projects/hiptensor/library/src/CMakeLists.txt
  projects/hiptensor/library/src/elementwise/elementwise_cpu_reference_impl.hpp
  projects/hiptensor/library/src/elementwise/elementwise_instance_selection.cpp
  projects/hiptensor/library/src/elementwise/elementwise_solution_impl.hpp
  projects/hiptensor/library/src/elementwise/elementwise_solution_registry.cpp
  projects/hiptensor/library/src/hiptensor.cpp
  projects/hiptensor/library/src/include/util.hpp
  projects/hiptensor/test/00_unit/CMakeLists.txt
  projects/hiptensor/test/00_unit/elementwise_broadcast_test.cpp
  projects/hiptensor/test/00_unit/elementwise_mode_test.cpp
  projects/hiptensor/test/00_unit/util_test.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Set execute bit on hipsparselt/install-host.sh
  projects/hipsparselt/install-host.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Size the StreamK parallel workspace query from the resolved grid
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/tests/StreamKLaunchSummary_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Updated documentation
  projects/hipsolver/docs/reference/api/lapack.rst
  projects/hipsolver/docs/reference/intro.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipdnn): support packed sub-byte tensors in the flatbuffer tensor factory
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/detail/FlatbufferTensorAttributesUtils.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

chore(hipblaslt): remove unused YAPF configuration
  projects/hipblaslt/.style.yapf
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): derive the rocKE comgr library from the amd_comgr package (#12324)
  dnn-providers/hip-kernel-provider/descriptor-packaging/cmake/HkpPackaging.cmake
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/runtime/comgr.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/test_rocke.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Do it on gfx12 too
  projects/composablekernel/include/ck/utility/synchronization.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

correct out-of-place beta and unguarded shapes in wvSpltK
  projects/hipblaslt/tensilelite/Tensile/AddCustomConfig.py
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/Contractions.py
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/README.md
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/rocblas/wvSpltK_hf_m1.s
  projects/hipblaslt/tensilelite/Tensile/Tests/custom/custom_rocblas_gemv.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/ValidParameters/__snapshots__/test_builders_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/ValidParameters/test_validators_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomKernelMetadata.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(rocprim): pr 10769 changes
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_adjacent_difference.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_adjacent_difference_inplace.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_adjacent_find.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_binary_search.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_lower_bound.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_search_n.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_upper_bound.hpp
  projects/rocprim/tuning/confgen/templates/device_adjacent_difference.h.jinja2
  projects/rocprim/tuning/confgen/templates/device_adjacent_difference_inplace.h.jinja2
  projects/rocprim/tuning/confgen/templates/device_adjacent_find.h.jinja2
  projects/rocprim/tuning/confgen/templates/device_binary_search.h.jinja2
  projects/rocprim/tuning/confgen/templates/device_lower_bound.h.jinja2
  projects/rocprim/tuning/confgen/templates/device_search_n.h.jinja2
  projects/rocprim/tuning/confgen/templates/device_upper_bound.h.jinja2
  projects/rocprim/tuning/tuner/templates/device_adjacent_difference.cpp.jinja2
  projects/rocprim/tuning/tuner/templates/device_adjacent_difference_inplace.cpp.jinja2
  projects/rocprim/tuning/tuner/templates/device_adjacent_find.cpp.jinja2
  projects/rocprim/tuning/tuner/templates/device_binary_search.cpp.jinja2
  projects/rocprim/tuning/tuner/templates/device_lower_bound.cpp.jinja2
  projects/rocprim/tuning/tuner/templates/device_merge.cpp.jinja2
  projects/rocprim/tuning/tuner/templates/device_search_n.cpp.jinja2
  projects/rocprim/tuning/tuner/templates/device_upper_bound.cpp.jinja2
  projects/rocprim/tuning/tuner/tuning_device_adjacent_difference.py
  projects/rocprim/tuning/tuner/tuning_device_adjacent_difference_inplace.py
  projects/rocprim/tuning/tuner/tuning_device_adjacent_find.py
  projects/rocprim/tuning/tuner/tuning_device_binary_search.py
  projects/rocprim/tuning/tuner/tuning_device_lower_bound.py
  projects/rocprim/tuning/tuner/tuning_device_merge.py
  projects/rocprim/tuning/tuner/tuning_device_search_n.py
  projects/rocprim/tuning/tuner/tuning_device_upper_bound.py
  projects/rocprim/tuning/utils/utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(integration-tests): feed the engine packed operands for sub-byte bundle inputs
  dnn-providers/integration-tests/src/harness/bundle/IntegrationBundleVerificationHarness.cpp
  dnn-providers/integration-tests/src/harness/bundle/IntegrationBundleVerificationHarness.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocprim): implement kernel tuner for radix sort onesweep
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_radix_sort_onesweep.hpp
  projects/rocprim/tuning/confgen/templates/device_radix_sort_onesweep.h.jinja2
  projects/rocprim/tuning/tuner/templates/device_radix_sort_onesweep.cpp.jinja2
  projects/rocprim/tuning/tuner/tuning_device_radix_sort_onesweep.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocprim): implement kernel tuner for segmented radix sort
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_segmented_radix_sort.hpp
  projects/rocprim/tuning/confgen/generate.py
  projects/rocprim/tuning/confgen/migrate.py
  projects/rocprim/tuning/confgen/templates/device_segmented_radix_sort.h.jinja2
  projects/rocprim/tuning/tuner/base_tuner.py
  projects/rocprim/tuning/tuner/templates/common/base.cpp.jinja2
  projects/rocprim/tuning/tuner/templates/device_segmented_radix_sort.cpp.jinja2
  projects/rocprim/tuning/tuner/tuning_device_segmented_radix_sort.py
  shared/primbench/primbench.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocprim): implement kernel tuner for merge sort block merge
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_merge_sort_block_merge.hpp
  projects/rocprim/tuning/confgen/templates/device_merge_sort_block_merge.h.jinja2
  projects/rocprim/tuning/tuner/templates/device_merge_sort_block_merge.cpp.jinja2
  projects/rocprim/tuning/tuner/tuning_device_merge_sort_block_merge.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocprim): implement kernel tuner for merge sort block sort
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_merge_sort_block_sort.hpp
  projects/rocprim/tuning/confgen/templates/device_merge_sort_block_sort.h.jinja2
  projects/rocprim/tuning/tuner/templates/device_merge_sort_block_sort.cpp.jinja2
  projects/rocprim/tuning/tuner/tuning_device_merge_sort_block_sort.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocprim): implement kernel tuner for radix sort block sort
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_radix_sort_block_sort.hpp
  projects/rocprim/tuning/confgen/templates/device_radix_sort_block_sort.h.jinja2
  projects/rocprim/tuning/tuner/templates/device_radix_sort_block_sort.cpp.jinja2
  projects/rocprim/tuning/tuner/tuning_device_radix_sort_block_sort.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocprim): updated run_tuning.py to include new sort algos
  projects/rocprim/tuning/run_tuning.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): update gfx1250v0 MAF and MAB kernels
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/gfx1250/Equality/gfx1250_Cijk_Alik_Bljk_BBS_BH_Bias_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/gfx1250/Equality/gfx1250_Cijk_Alik_Bljk_F4BS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/gfx1250/Equality/gfx1250_Cijk_Alik_Bljk_F8BS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/gfx1250/Equality/gfx1250_Cijk_Alik_Bljk_F8F8S_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250v0/gfx1250v0/Equality/gfx1250v0_Cijk_Alik_Bljk_BBS_BH_Bias_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250v0/gfx1250v0/Equality/gfx1250v0_Cijk_Alik_Bljk_BBS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250v0/gfx1250v0/Equality/gfx1250v0_Cijk_Alik_Bljk_F4BS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250v0/gfx1250v0/Equality/gfx1250v0_Cijk_Alik_Bljk_F4BS_MXAE8B32_MXBE8B32_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250v0/gfx1250v0/Equality/gfx1250v0_Cijk_Alik_Bljk_F4BS_MXAF8B16_MXBF8B16_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250v0/gfx1250v0/Equality/gfx1250v0_Cijk_Alik_Bljk_F8BS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250v0/gfx1250v0/Equality/gfx1250v0_Cijk_Alik_Bljk_F8BS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250v0/gfx1250v0/Equality/gfx1250v0_Cijk_Alik_Bljk_F8BS_MXAE8B32_MXBE8B32_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250v0/gfx1250v0/Equality/gfx1250v0_Cijk_Alik_Bljk_F8F8S_BH_Bias_SHB_HA_S_SAB_SCD_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocsolver): normalize the tridiagonal matrix in STEDC
  projects/rocsolver/CHANGELOG.md
  projects/rocsolver/clients/gtest/auxiliary/stedc_gtest.cpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_stedc.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): broaden bf16 subtile coverage for the TLU=1 layouts
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/subtile_bf16.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Preserve explicit dependency policy for samples and example plugin
  projects/hipdnn/docs/Building.md
  projects/hipdnn/samples/CMakeLists.txt
  projects/hipdnn/samples/example_engine_plugin/README.md
  projects/hipdnn/samples/example_engine_plugin/README_TEMPLATE.md
  projects/hipdnn/samples/example_engine_plugin/tests/CMakeLists.txt
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(integration-tests): extend the MX matmul sweep to fp4 and fp6 operands
  dnn-providers/integration-tests/integration-test-bundles/quick/BlockScaleDequantizeMatmul/Default/sweep.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocke): gfx950 fp8 decode optimization via 3D split-KV routing + occupancy tune (#11313)
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx950/attention/decode/benchmark_decode_live.py
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx950/attention/decode/fp8_decode_d64_gqa8_shapes.json
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx950/attention/decode/fp8_decode_isa_inspect.py
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx950/attention/decode/fp8_decode_nseg_sweep.py
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx950/attention/decode/fp8_decode_vs_baselines.py
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/gfx950/attention/decode/fp8_decode_wpe3_ab.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx950/attention/README.md
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx950/attention/decode/README.md
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx950/attention/decode/fp8_decode_3d_verify.py
  dnn-providers/hip-kernel-provider/rocke/tools/run_checks.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

hipBLASLt: FP32/FP64 fixed-point emulation (Ozaki Scheme II)
  projects/hipblaslt/clients/CMakeLists.txt
  projects/hipblaslt/clients/tests/src/CMakeLists.txt
  projects/hipblaslt/clients/tests/src/fp_emulation_gtest.cpp
  projects/hipblaslt/docs/how-to/fp-emulation.rst
  projects/hipblaslt/docs/index.rst
  projects/hipblaslt/library/include/hipblaslt/hipblaslt-ext.hpp
  projects/hipblaslt/library/include/hipblaslt/hipblaslt.h
  projects/hipblaslt/library/src/amd_detail/hipblaslt-ext.cpp
  projects/hipblaslt/library/src/amd_detail/hipblaslt.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/include/rocblaslt-types.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/CMakeLists.txt
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/fp_emulation/CMakeLists.txt
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/fp_emulation/README.md
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/fp_emulation/emulation.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/fp_emulation/include/emulation.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/fp_emulation/include/kernel_common.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/fp_emulation/include/prelim_kernels.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/fp_emulation/include/reconstruct_kernels.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/fp_emulation/include/scale_kernels.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/fp_emulation/include/shift_refine_kernels.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/fp_emulation/include/tables.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/handle.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_auxiliary.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_mat.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/utility.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Dummy change
  projects/hiptensor/library/src/hiptensor.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add wvSpltK M=2/M=4 and fix out-of-place beta
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/Contractions.py
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/rocblas/wvSpltK_hf_m2.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/rocblas/wvSpltK_hf_m4.s
  projects/hipblaslt/tensilelite/Tensile/Tests/custom/custom_rocblas_gemv_m2.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/custom/custom_rocblas_gemv_m4.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/ValidParameters/__snapshots__/test_builders_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomKernelMetadata.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_custom_kernel_staggeru_metadata.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
