Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[hipblaslt] Equality tuning for BF16, MXF8, MXF4, F8 MAF (#10250)
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Equality/gfx1250_Cijk_Alik_Bljk_BBS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Equality/gfx1250_Cijk_Alik_Bljk_F4BS_MXAE8B32_MXBE8B32_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Equality/gfx1250_Cijk_Alik_Bljk_F8BS_MXAE8B32_MXBE8B32_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Equality/gfx1250_Cijk_Alik_Bljk_F8F8S_BH_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(rocke/platform): public lower_family API + duck-typed conv spec guard
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/backend.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/lower_cktile.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(rocke): carve conv kernels + dispatch into rocke/library
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/conv.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/__init__.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/_conv_implicit_gemm_common.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/conv_direct_grouped.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/conv_implicit_gemm.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/conv_implicit_gemm_wgrad.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/deep_fused_conv_pool.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/img2col.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx1151/deep_fused_conv_pool.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx1201/__init__.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx1201/deep_fused_conv_pool.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx950/deep_fused_conv_pool.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/lowering.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/manifest.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_conv_manifest.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/backend.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/dispatch/__init__.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/dispatch/families/__init__.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/__init__.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/gfx1201/__init__.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/gfx950/__init__.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/run_manifest.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/test_manifest_runner_registry.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(rocke): move conv builders + benchmarks to library, split mixed harnesses
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/common/benchmark_implicit_gemm_conv.py
  dnn-providers/hip-kernel-provider/rocke/library/benchmarks/common/conv_reference.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/common/bake_off_direct_conv_16c.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/common/bake_off_direct_conv_4c.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/common/bake_off_implicit_gemm.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/common/gen_conv_sweep_data.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/common/hip_lowering_conv_parity.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx1151/deep_conv_fusion/ALGORITHM.md
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx1151/deep_conv_fusion/CASE-STUDY-optimizations.md
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx1151/deep_conv_fusion/README.md
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx1151/deep_conv_fusion/__init__.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx1151/deep_conv_fusion/compare_configs.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx1151/deep_conv_fusion/compare_prebuilt.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx1151/deep_conv_fusion/deep_fused_conv_pool_verify.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx1151/deep_conv_fusion/inputs.md
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx1201/__init__.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx1201/deep_fused_conv_pool_verify.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx950/deep_conv_fusion/ALGORITHM.md
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx950/deep_conv_fusion/README.md
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx950/deep_conv_fusion/__init__.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx950/deep_conv_fusion/compare_pool_tile_configs.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx950/deep_conv_fusion/deep_fused_conv_pool_verify.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx950/deep_conv_fusion/gfx950_deep_fusion_optimization_digest.md
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx950/deep_conv_fusion/profile_best_config.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/common/hip_lowering_parity.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/heuristics/gen_sweep_data.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

docs(rocke): record the convolution carve
  dnn-providers/hip-kernel-provider/ROCKE_LAYOUT_RESTRUCTURE.md
  dnn-providers/hip-kernel-provider/rocke/BUILDING.md
  dnn-providers/hip-kernel-provider/rocke/TESTING.md
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/AGENTS.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(aot-catalog-engine): relocate kernel families + build into rocke
  dnn-providers/hip-kernel-provider/CMakeLists.txt
  dnn-providers/hip-kernel-provider/rocke/CMakeLists.txt
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/.gitignore
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/CMakeLists.txt
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/README.md
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/fmha_wmma_fwd/CMakeLists.txt
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/fmha_wmma_fwd/TestSdpaNumericParity.cpp
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/fmha_wmma_fwd/family.json
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/fmha_wmma_fwd/produce_fmha_fwd_co.py
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/gemm_wmma/CMakeLists.txt
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/gemm_wmma/TestGemmWmmaNumericParity.cpp
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/gemm_wmma/family.json
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/gemm_wmma/produce_gemm_wmma_co.py
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/gemm_wmma_universal/CMakeLists.txt
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/gemm_wmma_universal/TestGemmUniversalNumericParity.cpp
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/gemm_wmma_universal/family.json
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/gemm_wmma_universal/produce_gemm_universal_co.py
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/rmsnorm2d/CMakeLists.txt
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/rmsnorm2d/TestRmsNormNumericParity.cpp
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/rmsnorm2d/TestRmsNormSelection.cpp
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/rmsnorm2d/family.json
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/rmsnorm2d/produce_rmsnorm2d_co.py
  dnn-providers/hip-kernel-provider/src/engines/aot_catalog_engine/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/engines/aot_catalog_engine/README.md
  dnn-providers/hip-kernel-provider/src/tests/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(aot-catalog-engine): install AOT catalog under arch_content for packaging
  dnn-providers/hip-kernel-provider/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/engines/aot_catalog_engine/README.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

- Fix typo.
  projects/rocfft/library/src/rtc_transpose_gen.cpp
  projects/rocfft/library/src/rtc_transpose_kernel.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): Fix LocalRead comments to list all LDS mem tokens (#10557)
  projects/hipblaslt/tensilelite/Tensile/Component.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): complete amd-smi-first arch detection across the dispatcher
  projects/composablekernel/dispatcher/python/ctypes_utils.py
  projects/composablekernel/dispatcher/python/dispatcher_common.py
  projects/composablekernel/dispatcher/python/gemm_utils.py
  projects/composablekernel/dispatcher/python/grouped_conv_utils.py
  projects/composablekernel/tile_engine/ops/common/smi_utils.py
  projects/composablekernel/tile_engine/ops/common/test_smi_utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Reconfiguring hipSPARSELt API reference
  projects/hipsparselt/docs/doxygen/modules.dox
  projects/hipsparselt/docs/index.rst
  projects/hipsparselt/docs/sphinx/_toc.yml.in
  projects/hipsparselt/library/include/hipsparselt.h
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

More changes to the hipSPARSELt documentation: Removed the supported-functions page and updated what-is-hipsparselt.
  projects/hipsparselt/docs/reference/supported-functions.rst
  projects/hipsparselt/docs/what-is-hipsparselt.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): give the AOT producer a comgr location
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/CMakeLists.txt
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/runtime/comgr.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

address comments
  projects/hipblaslt/tensilelite/Tensile/CustomKernels.py
  projects/hipblaslt/tensilelite/Tensile/LibraryIO.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Naming.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/TensileLogic/HandleCustomKernel.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_CustomKernels_config_detection.py
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
  projects/hipblaslt/tensilelite/src/DataTypes.cpp
  projects/hipblaslt/tensilelite/tests/CMakeLists.txt
  projects/hipblaslt/tensilelite/tests/CustomKernel_test.cpp
  projects/hipblaslt/tensilelite/tests/DataTypes_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

(CMCL) docs(hipdnn): address RFC 0020 review feedback (UUID, schema pin, knob validation, min-version lint)
  projects/hipdnn/docs/rfcs/0020_UniversalEngineDescriptor.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocke): drop stray code fence that swallowed the conv addendum
  dnn-providers/hip-kernel-provider/ROCKE_LAYOUT_RESTRUCTURE.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove invalid kernels of gfx1250 BBS NN and BBS NT type
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Equality/gfx1250_Cijk_Ailk_Bjlk_BBS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Equality/gfx1250_Cijk_Ailk_Bljk_BBS_BH_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[docs] Expand gardener triage for a single-rotation gardener
  docs/gardening.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(hip-kernel-provider): satisfy black + clang-format on AOT catalog files
  .claude/cf_check.sh
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/fmha_wmma_fwd/TestSdpaNumericParity.cpp
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/gemm_wmma/TestGemmWmmaNumericParity.cpp
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/gemm_wmma_universal/TestGemmUniversalNumericParity.cpp
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/rmsnorm2d/TestRmsNormNumericParity.cpp
  dnn-providers/hip-kernel-provider/rocke/aot_catalog/gfx1151/rmsnorm2d/TestRmsNormSelection.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/rmsnorm2d_dynamic.py
  dnn-providers/hip-kernel-provider/src/engines/aot_catalog_engine/catalog/Catalog.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/aot_catalog_engine/AotCatalogTestSupport.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix sparse metadata LDS padding for TDM and add bank-conflict-aware TileMajor derivation
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/LdsPadding.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_tdm_ldspadding.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[docs] Restructure the gardener guidance into keypoint tables
  docs/gardening.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(fmha): add sink pipeline regression cases to smoke_test_fwd
  projects/composablekernel/example/ck_tile/01_fmha/script/smoke_test_fwd.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(fmha): fix sink window-jump bugs in qr/qr_async/qr_tdm pipelines
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qr_ks_vs.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qr_ks_vs_async.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qr_ks_vs_tdm.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(integration-tests): exclude failing RMSNorm bf16 Standard tests (#10575)
  dnn-providers/integration-tests/test_categories.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): support the gfx1250 v0 silicon stepping
  projects/hipblaslt/tensilelite/Tensile/ClientWriter.py
  projects/hipblaslt/tensilelite/Tensile/Common/Architectures.py
  projects/hipblaslt/tensilelite/Tensile/Common/Capabilities.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tensile.py
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/Run.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_gfx1250_stepping.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): normalize ISA to a tuple in the SwInstructionPrefetch guard
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_sw_instruction_prefetch.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(stinkytofu): add gfx1250 v0 stepping as a cost-only variant
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/Tensile.py
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/Run.py
  projects/hipblaslt/tensilelite/rocisa/CMakeLists.txt
  projects/hipblaslt/tensilelite/rocisa/rocisa/__init__.py
  projects/hipblaslt/tensilelite/rocisa/test/test_staleness.py
  shared/stinkytofu/CMakeLists.txt
  shared/stinkytofu/cmake/StinkytofuArchList.cmake
  shared/stinkytofu/docs/developer/adding-architecture.md
  shared/stinkytofu/hardware/src/gfx/Gfx1250/Gfx1250.cpp
  shared/stinkytofu/hardware/src/gfx/Gfx1250v0/Gfx1250v0.cpp
  shared/stinkytofu/hardware/src/gfx/Gfx1250v0/Gfx1250v0Formats.def
  shared/stinkytofu/hardware/src/gfx/Gfx1250v0/Gfx1250v0Instructions.def
  shared/stinkytofu/hardware/src/gfx/common/Gfx125xRocisaMaps.hpp
  shared/stinkytofu/include/stinkytofu/bindings/python/Module.hpp
  shared/stinkytofu/include/stinkytofu/hardware/ArchHelper.hpp
  shared/stinkytofu/python_module/src/python_bindings.cpp
  shared/stinkytofu/python_module/tests/test_staleness_guard.py
  shared/stinkytofu/src/conversion/rocisa/Gfx1250v0RocisaArchInfo.hpp
  shared/stinkytofu/src/conversion/rocisa/RocisaArchInfo.hpp
  shared/stinkytofu/src/conversion/rocisa/ToStinkyTofuUtils.cpp
  shared/stinkytofu/src/hardware/ArchHelper.cpp
  shared/stinkytofu/src/hardware/HwReg.cpp
  shared/stinkytofu/src/pipeline/backend/Gfx1250Backend.cpp
  shared/stinkytofu/src/serialization/asm/RawAsmParser.cpp
  shared/stinkytofu/src/transforms/asm/EstimateAsmCyclesPass.cpp
  shared/stinkytofu/src/transforms/asm/LegalizationUtils.cpp
  shared/stinkytofu/tests/CMakeLists.txt
  shared/stinkytofu/tests/unit/asm/LegalizationUtilsTest.cpp
  shared/stinkytofu/tools/tablegen/CMakeLists.txt
  shared/stinkytofu/tools/tablegen/GenInstructions.cpp
  shared/stinkytofu/tools/tablegen/GenInstructionsMain.cpp
  shared/stinkytofu/tools/tablegen/README.md
  shared/stinkytofu/tools/tablegen/test_gen_instructions.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

refactor(stinkytofu): select cost table by ArchName instead of UseV0CostTable
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/Tensile.py
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/Run.py
  shared/stinkytofu/CMakeLists.txt
  shared/stinkytofu/include/stinkytofu/bindings/python/Module.hpp
  shared/stinkytofu/include/stinkytofu/hardware/ArchHelper.hpp
  shared/stinkytofu/python_module/tests/test_staleness_guard.py
  shared/stinkytofu/src/conversion/rocisa/ToStinkyTofuUtils.cpp
  shared/stinkytofu/src/hardware/ArchHelper.cpp
  shared/stinkytofu/tests/CMakeLists.txt
  shared/stinkytofu/tests/filecheck/default_arch_is_v1.stir
  shared/stinkytofu/tests/filecheck/v0/coissue_matrix_fmt_override_v0.stir
  shared/stinkytofu/tools/stinkytofu-opt/stinkytofu-opt.cpp
  shared/stinkytofu/tools/tablegen/GenInstructions.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): support gfx1250 v0 via one capability-delta table; detect asicRevision in tox
  projects/hipblaslt/tensilelite/Tensile/Common/Architectures.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_GpuRevisionTarget.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_cpu_only_switch.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_gfx1250_stepping.py
  projects/hipblaslt/tensilelite/rocisa/rocisa/__init__.py
  projects/hipblaslt/tensilelite/tasks.py
  projects/hipblaslt/tensilelite/tools/gpu_revision_probe.cpp
  projects/hipblaslt/tensilelite/tox.ini
  shared/stinkytofu/python_module/tests/test_staleness_guard.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[MIOpen][CI] key the ref-repo lock on the machine, matching CK
  projects/composablekernel/groovy/vars/ck.groovy
  projects/miopen/Jenkinsfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hipdnn): split Uuid.hpp tests into their own file
  projects/hipdnn/backend/tests/TestGraphAndPlanSerializationApi.cpp
  projects/hipdnn/backend/tests/TestPlatformUtils.cpp
  projects/hipdnn/flatbuffers_sdk/tests/CMakeLists.txt
  projects/hipdnn/flatbuffers_sdk/tests/utilities/TestJson.cpp
  projects/hipdnn/flatbuffers_sdk/tests/utilities/TestUuid.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipSPARSELt] Cover NN/NT/TT transposes in spmm_tdm_ldspadding
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_tdm_ldspadding.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

mut(mut-base): ignore mutation fixture tree in unit collection
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/mutation/tests/fixtures/conftest.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

mut(mut-base): ignore mutation fixture tree in unit collection
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/mutation/tests/fixtures/conftest.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

mut(slice-1): repair pragma breach + close _validateChipId coverage gap
  projects/hipblaslt/tensilelite/Tensile/Common/Utilities.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/CommonUtilities/test_mut_Utilities__SpinnyThing_increment_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/CommonUtilities/test_mut_Utilities__ceilDivide_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/CommonUtilities/test_mut_Utilities__clusterEnabled_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/CommonUtilities/test_mut_Utilities__isRhel8_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/CommonUtilities/test_mut_Utilities__isSubtileMultiDU_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileLogic/test_mut_ValidChipId__reportChipIdFailure_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileLogic/test_mut_ValidChipId__validateChipIdPlacement_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileLogic/test_mut_ValidChipId__validateChipId_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

mut(slice-1): pin real SpinnyThing.increment + validateChipId behavior
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/CommonUtilities/test_mut_Utilities__SpinnyThing_increment_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileLogic/test_mut_ValidChipId__validateChipId_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

mut(slice-1): pin real SpinnyThing.increment + validateChipId behavior
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/CommonUtilities/test_mut_Utilities__SpinnyThing_increment_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileLogic/test_mut_ValidChipId__validateChipId_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(LibraryIO char): kill _fast_yaml_str + getCUCount mutation survivors
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/LibraryIO/__snapshots__/test_serializers_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/LibraryIO/test_logiccontract_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/LibraryIO/test_serializers_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

mut(slice-2): kill all 22 LibraryIO read/write dispatch survivors
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/LibraryIO/test_readwrite_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

mut(slice-2): kill all 27 LibraryIO logic-contract survivors
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/LibraryIO/test_logiccontract_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
