Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

change to use output instead of env
  .github/workflows/docs-update.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs: update todos comments and readme and add code cov
  projects/hipsparselt/next-cmake/CMakeLists.txt
  projects/hipsparselt/next-cmake/README.rst
  projects/hipsparselt/next-cmake/clients/bench/CMakeLists.txt
  projects/hipsparselt/next-cmake/clients/samples/CMakeLists.txt
  projects/hipsparselt/next-cmake/clients/test/CMakeLists.txt
  projects/hipsparselt/next-cmake/library/src/hcc_detail/rocsparselt/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix: restore install.sh
  projects/hipsparselt/install.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add pipeline id
  .github/scripts/azure_resolve_subtree_deps.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Added unit test for SeqTensorDescriptor
  test/gtest/unit_SeqTensorDescriptor.cpp
  test/gtest/unit_SeqTensorDescriptor.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

updated doc to contain device side
  projects/rocthrust/docs/how-to/compile-rocThrust-with-different-backends.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipsparse] docs: Change GitHub links and install guides for mono-repo
  projects/hipsparse/README.md
  projects/hipsparse/docs/index.rst
  projects/hipsparse/docs/install/install.rst
  projects/hipsparse/docs/sphinx/_toc.yml.in
  projects/hipsparse/docs/what-is-hipsparse.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

clean up code
  shared/rocroller/hip.cpp
  shared/rocroller/loop.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

When passing tests are run on CI, only print the routine test summary and not every individual test name
  projects/rocsparse/clients/tests/rocsparse_test_listeners.cpp
  projects/rocsparse/clients/tests/rocsparse_test_listeners.hpp
  projects/rocsparse/clients/tests/rocsparse_test_main.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Uncomment spmv_csr tests that were mistakenly disabled in a previous merge
  projects/rocsparse/clients/tests/test_spmv_csr.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove unused codes
  shared/rocroller/lib/source/CodeGen/LoadStoreTileGenerator.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add BenchmarkParameters and RunParameters and serialization of RunParameters
  shared/rocroller/client/include/client/BenchmarkSolution.hpp
  shared/rocroller/client/include/client/DataParallelGEMMSolution.hpp
  shared/rocroller/client/include/client/GEMMParameters_serialization.hpp
  shared/rocroller/client/include/client/GEMMSolution.hpp
  shared/rocroller/client/include/client/StreamKGEMMSolution.hpp
  shared/rocroller/client/src/gemm.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

empty check added to EvaluateConvSolutions, set find mode for find_mode_trust_verify test
  src/ocl/convolutionocl.cpp
  test/gtest/find_mode_trust_verify.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

MIOpen Mirgration Complete
  README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Delete debug code
  shared/rocroller/lib/source/KernelGraph/LastRWTracer.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

MIOpen Mirgration Complete
  .github/repos-config.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Switching mi300 to mi325
  .github/workflows/therock-ci-linux.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[miopen] make sure we recheckout scm between test and nightly stages
  projects/miopen/Jenkinsfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

automate parsing latency with script; make instr width a param
  shared/rocroller/hip.cpp
  shared/rocroller/loop.sh
  shared/rocroller/parse.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update repos-config.json hipblas subtree push back branch to release
  .github/repos-config.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

updating source of truth for miopen to monorepo
  .github/repos-config.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix Origami data type for TF32 on gfx950
  projects/hipblaslt/tensilelite/Tensile/Source/lib/source/analytical/Hardware.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Force checkout for every script call, and disable default checkout
  projects/miopen/Jenkinsfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixing a name typo in Im2d2ColGPU() and update network config (#3874)
  projects/miopen/src/ocl/utilocl.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

MI300 tuning update (#3875)
  projects/miopen/src/kernels/gfx942.kdb.bz2
  projects/miopen/src/kernels/gfx942130.HIP.fdb.txt.bz2
  projects/miopen/src/kernels/gfx942130.db.txt.bz2
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix the workspace calculation in miopenConvolutionABBackwardWeightsGetWorkSpaceSize (#3876)
  projects/miopen/src/convolution_api.cpp
  projects/miopen/src/include/miopen/miopen_internal.h
  projects/miopen/src/include/miopen/solver/implicitgemm_ck_util.hpp
  projects/miopen/test/gtest/group_conv.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Igemm asm solver update (#3885)
  projects/miopen/src/kernels/gfx908.kdb.bz2
  projects/miopen/src/kernels/gfx90a.kdb.bz2
  projects/miopen/src/kernels/gfx942.kdb.bz2
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_gtc_bwd_nhwc.cpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_gtc_fwd_nhwc.cpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_gtc_wrw_nhwc.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Use the shortlist of half transpose kernels for gfx942 or if forced by env var (#3895)
  projects/miopen/src/hip/batched_transpose_sol.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update MIOpen version and changelog for ROCm 7.0.0 (#3899)
  projects/miopen/CHANGELOG.md
  projects/miopen/CMakeLists.txt
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

eanble ck wrw solver on gfx950 for bf16 datatype (#3898)
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_grouped_wrw_xdlops.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[BUG] [CONV] Fix incorrect stride calculation in MISA solvers (#3867)
  projects/miopen/src/conv/invokers/impl_gemm_dynamic.cpp
  projects/miopen/src/include/miopen/conv/asm_implicit_gemm.hpp
  projects/miopen/src/include/miopen/solver/problem_description_interpreter.hpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_bwd_v4r1_dynamic.cpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_gtc_bwd.cpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_gtc_bwd_nhwc.cpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_gtc_fwd.cpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_gtc_fwd_nchwc.cpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_gtc_fwd_nhwc.cpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_gtc_wrw_nhwc.cpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_v4r1_dynamic.cpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_wrw_gtc_dynamic_xdlops.cpp
  projects/miopen/src/solver/conv/conv_asm_implicit_gemm_wrw_v4r1_dynamic.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvAsmImplicitGemmGTCDynamicBwdXdlopsNHWC.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvAsmImplicitGemmGTCDynamicFwdXdlopsNHWC.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvAsmImplicitGemmGTCDynamicWrwXdlopsNHWC.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvAsmImplicitGemmV4R1DynamicBwd.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvAsmImplicitGemmV4R1DynamicFwd.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvAsmImplicitGemmV4R1DynamicFwd_1x1.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvAsmImplicitGemmV4R1DynamicWrw.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update changelog for 7.0 RC2 (#3912)
  projects/miopen/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

swaitcnt refactor
  projects/hipblaslt/tensilelite/AMaxGenerator.py
  projects/hipblaslt/tensilelite/LayerNormGenerator.py
  projects/hipblaslt/tensilelite/SoftmaxGenerator.py
  projects/hipblaslt/tensilelite/Tensile/Component.py
  projects/hipblaslt/tensilelite/Tensile/Components/GSU.py
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
  projects/hipblaslt/tensilelite/Tensile/Components/LSU.py
  projects/hipblaslt/tensilelite/Tensile/Components/LocalRead.py
  projects/hipblaslt/tensilelite/Tensile/Components/SIA.py
  projects/hipblaslt/tensilelite/Tensile/Components/ShiftVectorComponents.py
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterModules.py
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/hardware_caps.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/common.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/functions/functions.cpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/instruction/common.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Change python side variable name to match rocIsa
  projects/hipblaslt/tensilelite/Tensile/Components/GSU.py
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
  projects/hipblaslt/tensilelite/Tensile/Components/SIA.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterModules.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Added hss swizzle logic yaml
  projects/hipblaslt/clients/include/hipblaslt_common.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/aquavanjaram/gfx942/GridBased/aquavanjaram_Cijk_Alik_Bljk_HSS_STA_BH_Bias_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/swizzleA.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update BenchmarkTimer.cpp
  projects/hipblaslt/tensilelite/Tensile/Source/client/source/BenchmarkTimer.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add getIssueLatency and getIssueCycle
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/instruction.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/mem.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/mfma.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Backport to 2.8: Deprecate cub::AliasTemporaries and cub::PolicyWrapper
  projects/rocthrust/thrust/system/cuda/detail/copy_if.h
  projects/rocthrust/thrust/system/cuda/detail/core/util.h
  projects/rocthrust/thrust/system/cuda/detail/extrema.h
  projects/rocthrust/thrust/system/cuda/detail/partition.h
  projects/rocthrust/thrust/system/cuda/detail/reduce.h
  projects/rocthrust/thrust/system/cuda/detail/reduce_by_key.h
  projects/rocthrust/thrust/system/cuda/detail/unique.h
  projects/rocthrust/thrust/system/cuda/detail/unique_by_key.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Consolidate packages and install rules
  projects/rocthrust/.gitlab-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

move msvc compiler macros to new version
  projects/rocthrust/test/test_async_sort.cpp
  projects/rocthrust/test/test_vector_manipulation.cpp
  projects/rocthrust/testing/async_sort.cu
  projects/rocthrust/testing/cuda/transform.cu
  projects/rocthrust/thrust/iterator/transform_iterator.h
  projects/rocthrust/thrust/type_traits/is_contiguous_iterator.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
