Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

Enable last-K PLSIN Weave for MT256x320.
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950_id75a3/Equality/gfx950_Cijk_Alik_Bljk_F4BS_MXAE8B32_MXBE8B32_BH_BiasSB_HAS_SAB_SAV_STB_UserArgs.yaml
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_SubtileBasedLogicalScheduler.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): decouple PrefetchGlobalRead per tensor on a TDM grouping table (AIHPBLAS-4159)
  projects/hipblaslt/tensilelite/Tensile/Common/RequiredParameters.py
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/Component.py
  projects/hipblaslt/tensilelite/Tensile/Components/DecouplePGR.py
  projects/hipblaslt/tensilelite/Tensile/Components/TDMFuse.py
  projects/hipblaslt/tensilelite/Tensile/Components/TensorDataMover.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Naming.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/tdm_multicast_gfx1250.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/test_config_helpers.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/Component/test_component_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/Naming/test_mut_Naming_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/ValidParameters/__snapshots__/test_builders_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_emit_gfx1250_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/data/gfx1250/F4_MX_DecouplePGR_TDMFuse.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_ClusterBarrierPairing.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_DecouplePGR.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_PrefetchAcrossPersistent.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_TDMFuse.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_custom_kernel_staggeru_metadata.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_halfplr_streamk_rejects.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_streamk_dponly_sgpr_reduction.py
  shared/stinkytofu/include/stinkytofu/transforms/asm/InstructionSizeCosting.hpp
  shared/stinkytofu/src/analysis/asm/AsmVerifierPass.cpp
  shared/stinkytofu/src/pipeline/backend/Gfx1250Backend.cpp
  shared/stinkytofu/src/transforms/asm/AsmMovePropagationPass.cpp
  shared/stinkytofu/tests/CMakeLists.txt
  shared/stinkytofu/tests/unit/asm/AccumulateInstructionSizePassTest.cpp
  shared/stinkytofu/tests/unit/asm/AsmMovePropagationPassTest.cpp
  shared/stinkytofu/tests/unit/asm/ReadWriteOperandTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): add TDMCross to arrange a grouping across waves
  projects/hipblaslt/tensilelite/Tensile/Common/RequiredParameters.py
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/Components/TDMCross.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Naming.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/decouple_pgr_tdm_fuse_tdm_cross_gfx1250.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/ValidParameters/__snapshots__/test_builders_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_PrefetchAcrossPersistent.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_TDMCross.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_TDMFuse.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensile): Added `gfx1250-strict` as a supported offload target
  shared/tensile/Tensile/Common.py
  shared/tensile/Tensile/Hardware.py
  shared/tensile/Tensile/Source/cmake/TensileSupportedArchitectures.cmake
  shared/tensile/Tensile/TensileCreateLibrary.py
  shared/tensile/Tensile/cmake/TensileConfig.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): make PrefetchGL2 swizzle-aware so it engages for swizzled-TDM
  projects/hipblaslt/tensilelite/Tensile/Components/GL2Prefetch.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

widen search grid for segmented sort
  projects/rocprim/tuning/tuner/tuning_device_segmented_radix_sort.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hipdnn): pin the per-attempt arm() error reset, and rename the engine count
  projects/hipdnn/backend/tests/descriptors/TestProfilingControlDescriptor.cpp
  projects/hipdnn/tests/test_plugins/TestAutotunePlugin.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci: pin ROCr isolated-target fix
  .github/workflows/therock-multi-arch-ci-asan.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

added warp config check
  projects/rocprim/tuning/tuner/tuning_device_segmented_radix_sort.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocrand): LDS optimization for discrete distributions (#10924)
  projects/rocrand/CHANGELOG.md
  projects/rocrand/README.md
  projects/rocrand/benchmark/benchmark_device_api.hpp
  projects/rocrand/library/src/rng/distribution/discrete.hpp
  projects/rocrand/library/src/rng/distribution/poisson.hpp
  projects/rocrand/library/src/rng/lfsr113.hpp
  projects/rocrand/library/src/rng/mrg.hpp
  projects/rocrand/library/src/rng/mt19937.hpp
  projects/rocrand/library/src/rng/mtgp32.hpp
  projects/rocrand/library/src/rng/philox4x32_10.hpp
  projects/rocrand/library/src/rng/sobol.hpp
  projects/rocrand/library/src/rng/threefry.hpp
  projects/rocrand/library/src/rng/xorwow.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fixed key error
  projects/rocprim/tuning/tuner/tuning_device_segmented_radix_sort.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

added radix bits check
  projects/rocprim/tuning/tuner/tuning_device_segmented_radix_sort.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): start the watchdog test's clock before arm(), not after
  projects/hipdnn/backend/tests/descriptors/TestProfilingControlDescriptor.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove hardware specific numbers from README
  projects/rpp/utilities/test/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

graph-studio now uses the in-tree hipDNN, and builds to the build folder. Added a preset
  CMakeLists.txt
  CMakePresets.json
  projects/hipdnn/docs/Building.md
  projects/hipdnn/tools/ai/skills/hipdnn-superbuild/SKILL.md
  projects/hipdnn/tools/graph-studio/.gitignore
  projects/hipdnn/tools/graph-studio/CMakeLists.txt
  projects/hipdnn/tools/graph-studio/README.md
  projects/hipdnn/tools/graph-studio/electron/main.cjs
  projects/hipdnn/tools/graph-studio/electron/native/binding.gyp
  projects/hipdnn/tools/graph-studio/electron/native/build-addon.cjs
  projects/hipdnn/tools/graph-studio/electron/native/package.json
  projects/hipdnn/tools/graph-studio/electron/paths.cjs
  projects/hipdnn/tools/graph-studio/package.json
  projects/hipdnn/tools/graph-studio/vite.config.ts
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

graph-studio now uses the in-tree hipDNN, and builds to the build folder. Added a preset
  CMakeLists.txt
  CMakePresets.json
  projects/hipdnn/docs/Building.md
  projects/hipdnn/tools/ai/skills/hipdnn-superbuild/SKILL.md
  projects/hipdnn/tools/graph-studio/.gitignore
  projects/hipdnn/tools/graph-studio/CMakeLists.txt
  projects/hipdnn/tools/graph-studio/README.md
  projects/hipdnn/tools/graph-studio/electron/main.cjs
  projects/hipdnn/tools/graph-studio/electron/native/binding.gyp
  projects/hipdnn/tools/graph-studio/electron/native/build-addon.cjs
  projects/hipdnn/tools/graph-studio/electron/native/package.json
  projects/hipdnn/tools/graph-studio/electron/paths.cjs
  projects/hipdnn/tools/graph-studio/package.json
  projects/hipdnn/tools/graph-studio/vite.config.ts
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(hipdnn): release HipStallGate from the host on Windows
  projects/hipdnn/python/frontend_bindings/src/hip_bindings.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): release HipStallGate from the host on Windows
  projects/hipdnn/python/frontend_bindings/src/hip_bindings.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke/platform): add quad_perm crosslane intrinsic + kernarg-packer precompile
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/ir/core_types.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/ir/ir_flow.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/lower_hip/lower_hip_mma.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/lower_llvm/crosslane.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/include/rocke/ir.h
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/ir.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/lower_hip.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/lower_llvm.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/runtime/launcher.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/runtime/packing.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/future_intrinsic_lowering.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/parity/target_intrinsics_emit.c
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/parity/target_intrinsics_emit.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/test_rocke.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocke): document C++ touchpoints for adding an IR op (#10801)
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/development/extending.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hip-kernel-provider): register the census per packed target
  dnn-providers/hip-kernel-provider/CMakeLists.txt
  dnn-providers/hip-kernel-provider/descriptor-packaging/cmake/HkpPackaging.cmake
  dnn-providers/hip-kernel-provider/src/tests/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(ingestor-gen): emit descriptor paths for the split descriptor trees
  projects/hipdnn/tools/IngestorGenerator/codegen/config_loader.py
  projects/hipdnn/tools/IngestorGenerator/codegen/generator.py
  projects/hipdnn/tools/IngestorGenerator/codegen/models.py
  projects/hipdnn/tools/IngestorGenerator/configs/binary_ops.yaml
  projects/hipdnn/tools/IngestorGenerator/configs/scale_add.yaml
  projects/hipdnn/tools/IngestorGenerator/templates/fragments/cmake_descriptor_files.j2
  projects/hipdnn/tools/IngestorGenerator/templates/fragments/cmake_ingestor_kernels.j2
  projects/hipdnn/tools/IngestorGenerator/templates/fragments/cmake_test_sources.j2
  projects/hipdnn/tools/IngestorGenerator/tests/helpers.py
  projects/hipdnn/tools/IngestorGenerator/tests/test_config_loader.py
  projects/hipdnn/tools/IngestorGenerator/tests/test_fragment_contracts.py
  projects/hipdnn/tools/IngestorGenerator/tests/test_generate.py
  projects/hipdnn/tools/IngestorGenerator/tests/test_generator.py
  projects/hipdnn/tools/IngestorGenerator/tests/test_packaged_dialect.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add bf16 in universal_gemm_verify
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/common/universal_gemm_verify.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/common/universal_gemm_verify_hip.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/helpers/manifest.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/common/manifest_runner/gemm.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/run_manifest.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/test_manifest_runner_registry.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

sweep and plan
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/bf16_gemm_sweep.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/bf16_gemm_sweep_config.json
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/sweep.py
  projects/composablekernel/opt_workspace/problems_bf16.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Simplify audio FFT: always use in-house CPU FFT and rocFFT for GPU
  projects/rpp/CMakeLists.txt
  projects/rpp/cmake/FindFFTS.cmake
  projects/rpp/src/include/common/cpu/rpp_cpu_fft.hpp
  projects/rpp/src/include/tensor/hip_tensor_executors.hpp
  projects/rpp/src/include/tensor/host_tensor_executors.hpp
  projects/rpp/src/modules/CMakeLists.txt
  projects/rpp/src/modules/handle_hip.cpp
  projects/rpp/src/modules/tensor/cpu/kernel/spectrogram.cpp
  projects/rpp/src/modules/tensor/hip/kernel/spectrogram.cpp
  projects/rpp/src/modules/tensor/rppt_tensor_audio_augmentations.cpp
  projects/rpp/utilities/test_suite/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck): fix aiter requirement (#12058)
  projects/composablekernel/requirements-aiter.in
  projects/composablekernel/requirements-aiter.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove test_categories.yaml added by mistake
  projects/rpp/utilities/test_suite/test_categories.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(orchestrator): add naive-kernel loop exercise and test graphs
  projects/hipdnn/tools/orchestrator/configs/flows/rtc-kernel-review-naive.yaml
  projects/hipdnn/tools/orchestrator/configs/prompts/generate_kernel_naive.md
  projects/hipdnn/tools/orchestrator/test-graphs/README.md
  projects/hipdnn/tools/orchestrator/test-graphs/batchnorm_inference_fp32_nchw.json
  projects/hipdnn/tools/orchestrator/test-graphs/conv_fwd_pointwise_fp32_nchw.json
  projects/hipdnn/tools/orchestrator/test-graphs/matmul_fp32_batched.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(orchestrator): add naive-kernel loop exercise and test graphs
  projects/hipdnn/tools/orchestrator/configs/flows/rtc-kernel-review-naive.yaml
  projects/hipdnn/tools/orchestrator/configs/prompts/generate_kernel_naive.md
  projects/hipdnn/tools/orchestrator/test-graphs/README.md
  projects/hipdnn/tools/orchestrator/test-graphs/batchnorm_inference_fp32_nchw.json
  projects/hipdnn/tools/orchestrator/test-graphs/conv_fwd_pointwise_fp32_nchw.json
  projects/hipdnn/tools/orchestrator/test-graphs/matmul_fp32_batched.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(orchestrator): close false-success paths and preserve failure evidence
  projects/hipdnn/tools/orchestrator/DESIGN.md
  projects/hipdnn/tools/orchestrator/README.md
  projects/hipdnn/tools/orchestrator/configs/flows/rtc-kernel-review.yaml
  projects/hipdnn/tools/orchestrator/configs/prompts/generate_kernel.md
  projects/hipdnn/tools/orchestrator/configs/prompts/review_kernel.md
  projects/hipdnn/tools/orchestrator/orchestrate.py
  projects/hipdnn/tools/orchestrator/runner/engine.py
  projects/hipdnn/tools/orchestrator/runner/flow.py
  projects/hipdnn/tools/orchestrator/runner/outputs.py
  projects/hipdnn/tools/orchestrator/runner/process.py
  projects/hipdnn/tools/orchestrator/runner/refs.py
  projects/hipdnn/tools/orchestrator/tests/conftest.py
  projects/hipdnn/tools/orchestrator/tests/test_config.py
  projects/hipdnn/tools/orchestrator/tests/test_engine.py
  projects/hipdnn/tools/orchestrator/tests/test_outputs.py
  projects/hipdnn/tools/orchestrator/tests/test_refs.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(orchestrator): close false-success paths and preserve failure evidence
  projects/hipdnn/tools/orchestrator/DESIGN.md
  projects/hipdnn/tools/orchestrator/README.md
  projects/hipdnn/tools/orchestrator/configs/flows/rtc-kernel-review.yaml
  projects/hipdnn/tools/orchestrator/configs/prompts/generate_kernel.md
  projects/hipdnn/tools/orchestrator/configs/prompts/review_kernel.md
  projects/hipdnn/tools/orchestrator/orchestrate.py
  projects/hipdnn/tools/orchestrator/runner/engine.py
  projects/hipdnn/tools/orchestrator/runner/flow.py
  projects/hipdnn/tools/orchestrator/runner/outputs.py
  projects/hipdnn/tools/orchestrator/runner/process.py
  projects/hipdnn/tools/orchestrator/runner/refs.py
  projects/hipdnn/tools/orchestrator/tests/conftest.py
  projects/hipdnn/tools/orchestrator/tests/test_config.py
  projects/hipdnn/tools/orchestrator/tests/test_engine.py
  projects/hipdnn/tools/orchestrator/tests/test_outputs.py
  projects/hipdnn/tools/orchestrator/tests/test_refs.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add initial gfx1251-strict support
  projects/rocprim/rocprim/include/rocprim/config.hpp
  projects/rocprim/rocprim/include/rocprim/device/config_types.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/lookback_scan_state.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): desk-check against the fields a bundle declares
  dnn-providers/hip-kernel-provider/descriptor-packaging/python/hkp_pack/desk_check.py
  dnn-providers/hip-kernel-provider/descriptor-packaging/tests/test_desk_check_invariants.py
  dnn-providers/hip-kernel-provider/descriptor-packaging/tools/hkp_desk_check.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

broaden search space for onesweep
  projects/rocprim/tuning/tuner/tuning_device_radix_sort_onesweep.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): fix TDM pointer-array batch handling (#11334)
  projects/hipblaslt/clients/tests/data/known_bugs.yaml
  projects/hipblaslt/tensilelite/Tensile/ClientWriter.py
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGREmit.py
  projects/hipblaslt/tensilelite/Tensile/Components/TensorDataMover.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/tdm_general_batched_gfx1250.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_tdm_general_batched.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_tdm_subtile_general_batched.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/ClientConfigIni/test_client_config_ini_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_r3_datamover_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_r3_streamk_tdm_sgpr_budget_gfx1250_char.py
  projects/hipblaslt/tensilelite/client/include/ClientProblemFactory.hpp
  projects/hipblaslt/tensilelite/client/main.cpp
  projects/hipblaslt/tensilelite/client/src/ClientProblemFactory.cpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipblaslt): add F8 scale-A/B-vector GridBased logic for gfx1250 (#11362)
  projects/hipblaslt/clients/tests/data/matmul_gtest.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/gfx1250/GridBased/gfx1250_Cijk_Alik_Bljk_F8BS_BH_Bias_HA_S_SABV_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250v0/gfx1250v0/GridBased/gfx1250v0_Cijk_Alik_Bljk_F8BS_BH_Bias_HA_S_SABV_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hipblaslt): expand complex batch gtest coverage (#11653)
  projects/hipblaslt/clients/tests/data/known_bugs.yaml
  projects/hipblaslt/clients/tests/data/matmul_gtest.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Define RPP_PI and RPP_2PI constants, use throughout CPU FFT code
  projects/rpp/src/include/common/cpu/rpp_cpu_fft.hpp
  projects/rpp/src/modules/tensor/cpu/kernel/spectrogram.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

uhd_gen: address every kernel by ordinal-encoded knobs
  projects/hipdnn/tools/uhd_gen/addressing.py
  projects/hipdnn/tools/uhd_gen/generate.py
  projects/hipdnn/tools/uhd_gen/tests/test_addressing.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipdnn): RFC 0019 - measured order source, and a version in the cache key
  projects/hipdnn/docs/rfcs/0019_UniversalHeuristicDescriptor.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
