Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

Add pooling_common.hpp compatibility header for gtest pooling includes
  projects/miopen/test/pooling_common.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Align pooling3d NDHWC gtest coverage with legacy ctest
  projects/miopen/test/gtest/pooling3d_ndhwc.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Format
  projects/miopen/test/gtest/pooling2d.cpp
  projects/miopen/test/gtest/pooling2d_asymmetric.cpp
  projects/miopen/test/gtest/pooling2d_asymmetric_nhwc.cpp
  projects/miopen/test/gtest/pooling2d_wide.cpp
  projects/miopen/test/gtest/pooling2d_wide_nhwc.cpp
  projects/miopen/test/gtest/pooling3d.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Skip unstable NDHWC FP32/FP16 pooling3d gtests, keep BFP16
  projects/miopen/test/gtest/pooling3d_ndhwc.cpp
  projects/miopen/test/gtest/pooling_common.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Restore pooling2d.cpp , pooling3d.cpp to their original state
  projects/miopen/test/gtest/pooling2d.cpp
  projects/miopen/test/gtest/pooling3d.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[test][gtest] remove unused standard includes in pooling3d test
  projects/miopen/test/gtest/pooling3d.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix pooling gtest index verification and remove debug prints
  projects/miopen/test/gtest/pooling_common.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Gate pooling index verification for channel-last layouts
  projects/miopen/test/gtest/pooling_common.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Re-enable WORKAROUND_ISSUE_1670 in asymmetric pooling gtests
  projects/miopen/test/gtest/pooling2d_asymmetric.cpp
  projects/miopen/test/gtest/pooling2d_asymmetric_nhwc.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Correct the set of input shapes in pooling2d.cpp
  projects/miopen/test/gtest/pooling2d.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] Add hipDNN provider implementation plan.
  projects/composablekernel/python/ck_dsl/dsl_docs/hipdnn_provider/plan.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] Add provider skeleton (M1 step I-1).
  CMakeLists.txt
  CMakePresets.json
  dnn-providers/ck-dsl-provider/CMakeLists.txt
  dnn-providers/ck-dsl-provider/README.md
  dnn-providers/ck-dsl-provider/cmake/CkDslProviderVersion.cmake
  dnn-providers/ck-dsl-provider/src/CMakeLists.txt
  dnn-providers/ck-dsl-provider/src/CkDslContainer.cpp
  dnn-providers/ck-dsl-provider/src/CkDslContainer.hpp
  dnn-providers/ck-dsl-provider/src/CkDslContext.hpp
  dnn-providers/ck-dsl-provider/src/CkDslHandle.cpp
  dnn-providers/ck-dsl-provider/src/CkDslHandle.hpp
  dnn-providers/ck-dsl-provider/src/CkDslPluginPublic.cpp
  dnn-providers/ck-dsl-provider/src/CkDslSettings.hpp
  dnn-providers/ck-dsl-provider/src/engines/conv_implicit_gemm/CkDslConvImplicitGemmEngine.cpp
  dnn-providers/ck-dsl-provider/src/engines/conv_implicit_gemm/CkDslConvImplicitGemmEngine.hpp
  dnn-providers/ck-dsl-provider/templates/version.h.in
  dnn-providers/ck-dsl-provider/version.json
  projects/composablekernel/python/ck_dsl/dsl_docs/hipdnn_provider/plan.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[CK DSL] Embed CPython interpreter in provider plugin (M1 step I-2).
  dnn-providers/ck-dsl-provider/CMakeLists.txt
  dnn-providers/ck-dsl-provider/src/CMakeLists.txt
  dnn-providers/ck-dsl-provider/src/CkDslContainer.cpp
  dnn-providers/ck-dsl-provider/src/python/EmbeddedInterpreter.cpp
  dnn-providers/ck-dsl-provider/src/python/EmbeddedInterpreter.hpp
  dnn-providers/ck-dsl-provider/tests/CMakeLists.txt
  dnn-providers/ck-dsl-provider/tests/EmbeddedInterpreterTest.cpp
  dnn-providers/ck-dsl-provider/tests/main.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] Parameterize conv integration test across shapes.
  dnn-providers/ck-dsl-provider/integration_tests/IntegrationGpuCkDslConvFp16.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] Add ConvImplicitGemm plan builder + JIT path (M1 step I-7).
  dnn-providers/ck-dsl-provider/python/ck_dsl_provider/compile_service.py
  dnn-providers/ck-dsl-provider/src/CMakeLists.txt
  dnn-providers/ck-dsl-provider/src/CkDslContainer.cpp
  dnn-providers/ck-dsl-provider/src/CkDslContainer.hpp
  dnn-providers/ck-dsl-provider/src/engines/conv_implicit_gemm/CkDslConvImplicitGemmEngine.cpp
  dnn-providers/ck-dsl-provider/src/engines/conv_implicit_gemm/CkDslConvImplicitGemmEngine.hpp
  dnn-providers/ck-dsl-provider/src/engines/conv_implicit_gemm/ConvImplicitGemmPlan.cpp
  dnn-providers/ck-dsl-provider/src/engines/conv_implicit_gemm/ConvImplicitGemmPlan.hpp
  dnn-providers/ck-dsl-provider/src/engines/conv_implicit_gemm/ConvImplicitGemmPlanBuilder.cpp
  dnn-providers/ck-dsl-provider/src/engines/conv_implicit_gemm/ConvImplicitGemmPlanBuilder.hpp
  dnn-providers/ck-dsl-provider/src/graph/GraphSignature.cpp
  dnn-providers/ck-dsl-provider/src/graph/GraphSignature.hpp
  dnn-providers/ck-dsl-provider/src/python/CompileServiceBridge.cpp
  dnn-providers/ck-dsl-provider/src/python/CompileServiceBridge.hpp
  dnn-providers/ck-dsl-provider/src/runtime/HipModule.cpp
  dnn-providers/ck-dsl-provider/src/runtime/HipModule.hpp
  dnn-providers/ck-dsl-provider/tests/CMakeLists.txt
  dnn-providers/ck-dsl-provider/tests/ConvImplicitGemmPlanBuilderTest.cpp
  dnn-providers/ck-dsl-provider/tests/GraphSignatureTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] Add architecture diagrams to ck-dsl-provider README
  dnn-providers/ck-dsl-provider/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] Add Python compile-service bridge (M1 step I-3).
  dnn-providers/ck-dsl-provider/CMakeLists.txt
  dnn-providers/ck-dsl-provider/cmake/CkDslProviderPaths.cmake
  dnn-providers/ck-dsl-provider/python/ck_dsl_provider/__init__.py
  dnn-providers/ck-dsl-provider/python/ck_dsl_provider/compile_service.py
  dnn-providers/ck-dsl-provider/src/CMakeLists.txt
  dnn-providers/ck-dsl-provider/src/CkDslContainer.cpp
  dnn-providers/ck-dsl-provider/src/CkDslContainer.hpp
  dnn-providers/ck-dsl-provider/src/python/CompileServiceBridge.cpp
  dnn-providers/ck-dsl-provider/src/python/CompileServiceBridge.hpp
  dnn-providers/ck-dsl-provider/src/python/PythonError.cpp
  dnn-providers/ck-dsl-provider/src/python/PythonError.hpp
  dnn-providers/ck-dsl-provider/templates/ckdsl_provider_paths.h.in
  dnn-providers/ck-dsl-provider/tests/CMakeLists.txt
  dnn-providers/ck-dsl-provider/tests/CompileServiceBridgeTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] Add KernelArtifact/HipModule round-trip (M1 step I-4).
  dnn-providers/ck-dsl-provider/python/ck_dsl_provider/compile_service.py
  dnn-providers/ck-dsl-provider/src/CMakeLists.txt
  dnn-providers/ck-dsl-provider/src/python/CompileServiceBridge.cpp
  dnn-providers/ck-dsl-provider/src/python/CompileServiceBridge.hpp
  dnn-providers/ck-dsl-provider/src/runtime/HipModule.cpp
  dnn-providers/ck-dsl-provider/src/runtime/HipModule.hpp
  dnn-providers/ck-dsl-provider/src/runtime/KernelArtifact.cpp
  dnn-providers/ck-dsl-provider/src/runtime/KernelArtifact.hpp
  dnn-providers/ck-dsl-provider/src/runtime/LaunchAbi.cpp
  dnn-providers/ck-dsl-provider/src/runtime/LaunchAbi.hpp
  dnn-providers/ck-dsl-provider/tests/CMakeLists.txt
  dnn-providers/ck-dsl-provider/tests/HipModuleSmokeTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] Wire ConvImplicitGemmPlan::execute() (M1 step I-8).
  dnn-providers/ck-dsl-provider/src/engines/conv_implicit_gemm/ConvImplicitGemmPlan.cpp
  dnn-providers/ck-dsl-provider/src/engines/conv_implicit_gemm/ConvImplicitGemmPlan.hpp
  dnn-providers/ck-dsl-provider/src/engines/conv_implicit_gemm/ConvImplicitGemmPlanBuilder.cpp
  dnn-providers/ck-dsl-provider/tests/ConvImplicitGemmPlanBuilderTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] Add ConvImplicitGemm spec + adapter + payload (M1 step I-6).
  dnn-providers/ck-dsl-provider/src/CMakeLists.txt
  dnn-providers/ck-dsl-provider/src/adapters/conv_implicit_gemm/ConvImplicitGemmAdapter.cpp
  dnn-providers/ck-dsl-provider/src/adapters/conv_implicit_gemm/ConvImplicitGemmAdapter.hpp
  dnn-providers/ck-dsl-provider/src/adapters/conv_implicit_gemm/ConvImplicitGemmPayload.cpp
  dnn-providers/ck-dsl-provider/src/adapters/conv_implicit_gemm/ConvImplicitGemmPayload.hpp
  dnn-providers/ck-dsl-provider/src/adapters/conv_implicit_gemm/ConvImplicitGemmSpec.hpp
  dnn-providers/ck-dsl-provider/tests/CMakeLists.txt
  dnn-providers/ck-dsl-provider/tests/ConvImplicitGemmAdapterTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] Hold GIL while releasing CompileServiceBridge module ref.
  dnn-providers/ck-dsl-provider/src/python/CompileServiceBridge.cpp
  dnn-providers/ck-dsl-provider/src/python/CompileServiceBridge.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixed PR feedback
  dnn-providers/ck-dsl-provider/CMakeLists.txt
  dnn-providers/ck-dsl-provider/README.md
  dnn-providers/ck-dsl-provider/integration_tests/CMakeLists.txt
  dnn-providers/ck-dsl-provider/integration_tests/IntegrationGpuCkDslConvFp16.cpp
  dnn-providers/ck-dsl-provider/python/ck_dsl_provider/compile_service.py
  dnn-providers/ck-dsl-provider/src/CkDslContainer.cpp
  dnn-providers/ck-dsl-provider/src/CkDslContainer.hpp
  dnn-providers/ck-dsl-provider/src/engines/conv_implicit_gemm/CkDslConvImplicitGemmEngine.cpp
  dnn-providers/ck-dsl-provider/src/engines/conv_implicit_gemm/CkDslConvImplicitGemmEngine.hpp
  dnn-providers/ck-dsl-provider/src/engines/conv_implicit_gemm/ConvImplicitGemmPlan.cpp
  dnn-providers/ck-dsl-provider/src/engines/conv_implicit_gemm/ConvImplicitGemmPlan.hpp
  dnn-providers/ck-dsl-provider/src/engines/conv_implicit_gemm/ConvImplicitGemmPlanBuilder.cpp
  dnn-providers/ck-dsl-provider/src/engines/conv_implicit_gemm/ConvImplicitGemmPlanBuilder.hpp
  dnn-providers/ck-dsl-provider/src/graph/GraphSignature.cpp
  dnn-providers/ck-dsl-provider/src/graph/GraphSignature.hpp
  dnn-providers/ck-dsl-provider/src/perf/PerfMeasurement.cpp
  dnn-providers/ck-dsl-provider/src/perf/PerfMeasurement.hpp
  dnn-providers/ck-dsl-provider/src/python/CompileServiceBridge.cpp
  dnn-providers/ck-dsl-provider/src/python/EmbeddedInterpreter.cpp
  dnn-providers/ck-dsl-provider/src/python/EmbeddedInterpreter.hpp
  dnn-providers/ck-dsl-provider/src/runtime/HipModule.cpp
  dnn-providers/ck-dsl-provider/src/runtime/HipModule.hpp
  dnn-providers/ck-dsl-provider/src/runtime/JitCache.cpp
  dnn-providers/ck-dsl-provider/src/runtime/JitCache.hpp
  dnn-providers/ck-dsl-provider/src/runtime/LaunchAbi.cpp
  dnn-providers/ck-dsl-provider/tests/ConvImplicitGemmAdapterTest.cpp
  dnn-providers/ck-dsl-provider/tests/ConvImplicitGemmPlanBuilderTest.cpp
  dnn-providers/ck-dsl-provider/tests/HipModuleSmokeTest.cpp
  dnn-providers/ck-dsl-provider/tests/JitCacheTest.cpp
  dnn-providers/ck-dsl-provider/tests/PerfMeasurementTest.cpp
  dnn-providers/ck-dsl-provider/tests/TestUtils.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[CK DSL] Wire ck-dsl-provider check targets (M1 step I-11).
  WIP/STATUS.md
  dnn-providers/ck-dsl-provider/CMakeLists.txt
  dnn-providers/ck-dsl-provider/integration_tests/CMakeLists.txt
  dnn-providers/ck-dsl-provider/integration_tests/IntegrationGpuCkDslConvFp16.cpp
  dnn-providers/ck-dsl-provider/integration_tests/main.cpp
  dnn-providers/ck-dsl-provider/tests/CMakeLists.txt
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] Add in-memory JitCache (M1 step I-5).
  dnn-providers/ck-dsl-provider/src/CMakeLists.txt
  dnn-providers/ck-dsl-provider/src/runtime/JitCache.cpp
  dnn-providers/ck-dsl-provider/src/runtime/JitCache.hpp
  dnn-providers/ck-dsl-provider/tests/CMakeLists.txt
  dnn-providers/ck-dsl-provider/tests/JitCacheTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] Add IntegrationGpuCkDslConvFp16 (M1 step I-10).
  dnn-providers/ck-dsl-provider/tests/CMakeLists.txt
  dnn-providers/ck-dsl-provider/tests/IntegrationGpuCkDslConvFp16Test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] Add PerfMeasurement hipEvent helper (M1 step I-9).
  dnn-providers/ck-dsl-provider/src/CMakeLists.txt
  dnn-providers/ck-dsl-provider/src/perf/PerfMeasurement.cpp
  dnn-providers/ck-dsl-provider/src/perf/PerfMeasurement.hpp
  dnn-providers/ck-dsl-provider/tests/CMakeLists.txt
  dnn-providers/ck-dsl-provider/tests/PerfMeasurementTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] Commit transient WIP scratch for session handoff.
  WIP/.gitignore
  WIP/STATUS.md
  WIP/prep_findings/PREP_FINDINGS.md
  WIP/pybind11_rtld_local_spike/CMakeLists.txt
  WIP/pybind11_rtld_local_spike/host_main.cpp
  WIP/pybind11_rtld_local_spike/pyplugin.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[CK DSL] Address arch-threading PR feedback: memoize arch detection, doc cleanup
  dnn-providers/ck-dsl-provider/python/ck_dsl_provider/compile_service.py
  dnn-providers/ck-dsl-provider/src/adapters/conv_implicit_gemm/ConvImplicitGemmAdapter.hpp
  dnn-providers/ck-dsl-provider/src/adapters/conv_implicit_gemm/ConvImplicitGemmSpec.hpp
  dnn-providers/ck-dsl-provider/src/engines/conv_implicit_gemm/ConvImplicitGemmPlanBuilder.cpp
  dnn-providers/ck-dsl-provider/src/runtime/DeviceArch.cpp
  dnn-providers/ck-dsl-provider/src/runtime/DeviceArch.hpp
  dnn-providers/ck-dsl-provider/tests/CMakeLists.txt
  dnn-providers/ck-dsl-provider/tests/ConvImplicitGemmPlanBuilderTest.cpp
  dnn-providers/ck-dsl-provider/tests/DeviceArchTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[ci][hipdnn-superbuild]: Fix hipdnn labeler issue (#7467)
  .github/workflows/hipdnn-superbuild-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] Make smoke path arch-aware; refocus the gfx950 test gate
  dnn-providers/ck-dsl-provider/python/ck_dsl_provider/compile_service.py
  dnn-providers/ck-dsl-provider/src/python/CompileServiceBridge.cpp
  dnn-providers/ck-dsl-provider/src/python/CompileServiceBridge.hpp
  dnn-providers/ck-dsl-provider/src/runtime/KernelArtifact.hpp
  dnn-providers/ck-dsl-provider/tests/ConvImplicitGemmPlanBuilderTest.cpp
  dnn-providers/ck-dsl-provider/tests/HipModuleSmokeTest.cpp
  dnn-providers/ck-dsl-provider/tests/JitCacheTest.cpp
  dnn-providers/ck-dsl-provider/tests/PerfMeasurementTest.cpp
  dnn-providers/ck-dsl-provider/tests/TestUtils.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] Link provider README to design plan
  dnn-providers/ck-dsl-provider/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] Thread target arch through conv compile path; fail closed on missing arch
  dnn-providers/ck-dsl-provider/README.md
  dnn-providers/ck-dsl-provider/integration_tests/IntegrationGpuCkDslConvFp16.cpp
  dnn-providers/ck-dsl-provider/python/ck_dsl_provider/compile_service.py
  dnn-providers/ck-dsl-provider/src/CMakeLists.txt
  dnn-providers/ck-dsl-provider/src/adapters/conv_implicit_gemm/ConvImplicitGemmAdapter.cpp
  dnn-providers/ck-dsl-provider/src/adapters/conv_implicit_gemm/ConvImplicitGemmAdapter.hpp
  dnn-providers/ck-dsl-provider/src/adapters/conv_implicit_gemm/ConvImplicitGemmSpec.hpp
  dnn-providers/ck-dsl-provider/src/engines/conv_implicit_gemm/ConvImplicitGemmPlanBuilder.cpp
  dnn-providers/ck-dsl-provider/src/graph/GraphSignature.cpp
  dnn-providers/ck-dsl-provider/src/graph/GraphSignature.hpp
  dnn-providers/ck-dsl-provider/src/python/CompileServiceBridge.cpp
  dnn-providers/ck-dsl-provider/src/python/CompileServiceBridge.hpp
  dnn-providers/ck-dsl-provider/src/runtime/DeviceArch.cpp
  dnn-providers/ck-dsl-provider/src/runtime/DeviceArch.hpp
  dnn-providers/ck-dsl-provider/src/runtime/JitCache.hpp
  dnn-providers/ck-dsl-provider/tests/ConvImplicitGemmAdapterTest.cpp
  dnn-providers/ck-dsl-provider/tests/ConvImplicitGemmPlanBuilderTest.cpp
  dnn-providers/ck-dsl-provider/tests/GraphSignatureTest.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Updated architecture diagrams
  dnn-providers/ck-dsl-provider/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Added end to end tests with a single shape on all supported archs (gfx942, gfx950, gfx1151)
  dnn-providers/ck-dsl-provider/README.md
  dnn-providers/ck-dsl-provider/integration_tests/IntegrationGpuCkDslConvFp16.cpp
  dnn-providers/ck-dsl-provider/src/adapters/conv_implicit_gemm/ConvImplicitGemmAdapter.cpp
  dnn-providers/ck-dsl-provider/src/adapters/conv_implicit_gemm/ConvImplicitGemmAdapter.hpp
  dnn-providers/ck-dsl-provider/src/adapters/conv_implicit_gemm/ConvImplicitGemmSpec.hpp
  dnn-providers/ck-dsl-provider/src/engines/conv_implicit_gemm/ConvImplicitGemmPlanBuilder.cpp
  dnn-providers/ck-dsl-provider/tests/ConvImplicitGemmAdapterTest.cpp
  dnn-providers/ck-dsl-provider/tests/ConvImplicitGemmPlanBuilderTest.cpp
  dnn-providers/ck-dsl-provider/tests/TestUtils.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] Provider cleanup: dedup graph signature, drop dead code
  dnn-providers/ck-dsl-provider/src/adapters/conv_implicit_gemm/ConvImplicitGemmAdapter.cpp
  dnn-providers/ck-dsl-provider/src/engines/conv_implicit_gemm/CkDslConvImplicitGemmEngine.hpp
  dnn-providers/ck-dsl-provider/src/graph/GraphSignature.cpp
  dnn-providers/ck-dsl-provider/src/graph/GraphSignature.hpp
  dnn-providers/ck-dsl-provider/src/python/EmbeddedInterpreter.cpp
  dnn-providers/ck-dsl-provider/src/python/EmbeddedInterpreter.hpp
  dnn-providers/ck-dsl-provider/src/runtime/HipModule.cpp
  dnn-providers/ck-dsl-provider/src/runtime/HipModule.hpp
  dnn-providers/ck-dsl-provider/src/runtime/JitCache.hpp
  dnn-providers/ck-dsl-provider/tests/GraphSignatureTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] MicroPython eval: Phase 2 step 2 (in progress) — mp2 embed+freeze build
  MICROPYTHON-eval-plan.md
  spike/.gitignore
  spike/mp2/build.sh
  spike/mp2/frozen/frozen_test.py
  spike/mp2/gen.mk
  spike/mp2/main.c
  spike/mp2/manifest.py
  spike/mp2/mpconfigport.h
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] MicroPython eval: Phase 0 spike — comgr FFI go/no-go (PASS)
  MICROPYTHON-eval-plan.md
  spike/.gitignore
  spike/comgr_ffi_spike.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] MicroPython eval: G1b — conv -> HSACO end-to-end in MicroPython
  MICROPYTHON-eval-plan.md
  spike/mp1/comgr_ffi.py
  spike/mp1/compile_ll.py
  spike/mp1/run_g1b.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] MicroPython eval: add reproducible spike setup; correct overstated status
  MICROPYTHON-eval-plan.md
  spike/setup.sh
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK DSL] MicroPython eval: G1 conv ACHIEVED — confidence gate met
  MICROPYTHON-eval-plan.md
  spike/mp1/run_conv.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
