Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

fixes
  projects/hipsolver/clients/include/testing_larft.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

For rocWMMA gfx1250-strict is equivalent to gfx1250
  projects/rocwmma/library/include/rocwmma/internal/config.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): strengthen LibraryIO parse contracts
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/LibraryIO/test_logiccontract_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/LibraryIO/test_parse_integration_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): strengthen LibraryIO serialization contracts
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/LibraryIO/test_readwrite_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/LibraryIO/test_writesolutions_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): strengthen Configuration contracts
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_Configuration.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): strengthen Naming contracts
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/Naming/test_naming_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): strengthen BenchmarkSplitter contracts
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_BenchmarkSplitter.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): strengthen Problem range contracts
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/ProblemType/test_problemsizes_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): strengthen Solution derivation contracts
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionDerivation/test_derivation_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): strengthen Solution validation contracts
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionDerivation/test_derivation_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

poc(ci): enforce true Jenkins dtype parity, bump TheRock ref for failure-summary fix
  .github/workflows/therock-multi-arch-ci.yml
  projects/miopen/test/gtest/test_categories.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

(CMCL) Resolve the test kpack archive relative to the test binary
  dnn-providers/hip-kernel-provider/src/tests/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/tests/TestDescriptorRoot.hpp
  dnn-providers/hip-kernel-provider/src/tests/compilation/TestKpackKernelLoader.cpp
  dnn-providers/hip-kernel-provider/src/tests/compilation/TestKpackModuleCache.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

(CMCL) Ship the cross-process disk-cache ctest entries in the installed tree
  projects/hipdnn/cmake/Tests.cmake
  projects/hipdnn/plugin_sdk/tests/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

poc(ci): un-exclude HipGraphExist, test whether it's safe under 16-way sharding
  projects/miopen/test/gtest/test_categories.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

time a graph's candidates in one sweep, not one process each
  projects/hipdnn/tools/uhd_gen/README.md
  projects/hipdnn/tools/uhd_gen/generate.py
  projects/hipdnn/tools/uhd_gen/tests/test_generate.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipdnn): RFC 0019 13.2 - name the bench CLI as the timing substrate
  projects/hipdnn/docs/rfcs/0019_UniversalHeuristicDescriptor.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Point TheRock ref to fix branch for manual CI verification
  .github/actions/ci-env/action.yml
  .github/workflows/clang-tidy.yml
  .github/workflows/therock-ci-nightly.yml
  .github/workflows/therock-multi-arch-ci-asan-nightly.yml
  .github/workflows/therock-multi-arch-ci-asan.yml
  .github/workflows/therock-multi-arch-ci-nightly.yml
  .github/workflows/therock-multi-arch-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): fix rocisa adaptor test setup
  projects/hipblaslt/tensilelite/rocisa_stinkytofu_adaptor/tests/test_emission_consistency.py
  projects/hipblaslt/tensilelite/rocisa_stinkytofu_adaptor/tests/test_instruction.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

2-refactor(tensilelite): move remaining custom kernel namespace paths
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/Custom_Cijk_Alik_Bljk_BBS_BH_MT128x16x128_MI16x16x1_SN_GSUM_K1_MIWT2_1_01_gfx942.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/Custom_Cijk_Alik_Bljk_BBS_BH_MT16x16x128_MI16x16x1_SN_GSUM_K1_MIWT1_1_2.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/Custom_Cijk_Alik_Bljk_BBS_BH_MT16x16x128_MI16x16x1_SN_GSUM_K1_MIWT1_1_2_gfx942.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/Custom_Cijk_Alik_Bljk_BBS_BH_MT16x16x128_MI16x16x1_SN_GSUM_K1_MIWT1_1_3.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/Custom_Cijk_Alik_Bljk_BBS_BH_MT16x16x128_MI16x16x1_SN_GSUM_K1_MIWT1_1_3_gfx942.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/Custom_Cijk_Alik_Bljk_BBS_BH_MT256x256x64_MI16x16x1_UserArgs_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/Custom_Cijk_Alik_Bljk_BBS_BH_MT256x256x64_MI16x16x1_UserArgs_shortname1_gfx950.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/Custom_Cijk_Alik_Bljk_F8B8BS_BH_SAB_NTD_UserArgs_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/Custom_Cijk_Alik_Bljk_F8B8BS_BH_SAB_NTD_UserArgs_shortname1_gfx950.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/Custom_Cijk_Alik_Bljk_F8B8BS_BH_SAB_UserArgs_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/Custom_Cijk_Alik_Bljk_F8BS_BH_SAB_NTD_UserArgs_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/Custom_Cijk_Alik_Bljk_F8BS_BH_SAB_NTD_UserArgs_shortname1_gfx950.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/Custom_Cijk_Alik_Bljk_F8BS_BH_SAB_UserArgs_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/Custom_Cijk_Alik_Bljk_F8NBS_BH_BiasSB_AS_SABV_SAV_UserArgs_MT256x224x128_MI16x16x1_SN_K1_MIWT4_14_DTVA.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/Custom_Cijk_Alik_Bljk_F8NBS_BH_BiasSB_AS_SABV_SAV_UserArgs_MT256x224x128_MI16x16x1_SN_K1_MIWT4_14_WSGRB2_DTVA.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/Custom_Cijk_Alik_Bljk_F8NBS_BH_BiasSB_AS_SABV_SAV_UserArgs_MT256x256x128_MI16x16x1_SN_K1_MIWT4_16_DTVA.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/Custom_Cijk_Alik_Bljk_F8NBS_BH_BiasSB_AS_SABV_SAV_UserArgs_MT256x256x128_MI16x16x1_SN_K1_MIWT4_16_WSGRB2_DTVA.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/Custom_Cijk_Alik_Bljk_HHS_BH_MT256x256x64_MI16x16x1_UserArgs_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/Custom_Cijk_Alik_Bljk_HHS_BH_UserArgs_MT128x16x128_MI16x16x1_SN_K1_MIWT2_1_triple_buffer.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/Custom_Cijk_Alik_Bljk_S_MX_B_BIAS_HA_S_SAV_NTD_SK3_UserArgs_MT256x256x32_MI16x16x1_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/README.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

2-refactor(tensilelite): update integration and metadata namespace references
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/scripts/run_tensile_logic_check.py
  projects/hipblaslt/tensilelite/.gitignore
  projects/hipblaslt/tensilelite/AGENTS.md
  projects/hipblaslt/tensilelite/AGENTS_reference.md
  projects/hipblaslt/tensilelite/AMaxGenerator.py
  projects/hipblaslt/tensilelite/LayerNormGenerator.py
  projects/hipblaslt/tensilelite/MANIFEST.in
  projects/hipblaslt/tensilelite/README.md
  projects/hipblaslt/tensilelite/SoftmaxGenerator.py
  projects/hipblaslt/tensilelite/cmake/tensilelite_auto_build.cmake
  projects/hipblaslt/tensilelite/pyproject.toml
  projects/hipblaslt/tensilelite/pytest.ini
  projects/hipblaslt/tensilelite/scripts/precommit_affected_tests.py
  projects/hipblaslt/tensilelite/tasks.py
  projects/hipblaslt/tensilelite/test_categories.yaml
  projects/hipblaslt/tensilelite/tox.ini
  projects/hipblaslt/utilities/geko/README.md
  projects/hipblaslt/utilities/geko/geko/config_generator/fork_params/hw_profiles/gfx950/post_processor.py
  projects/hipblaslt/utilities/geko/geko/config_generator/fork_params/param_meta.py
  projects/hipblaslt/utilities/geko/geko/config_generator/output_writer.py
  projects/hipblaslt/utilities/geko/geko/library/operations.py
  projects/hipblaslt/utilities/geko/geko/optim/optim.py
  projects/hipblaslt/utilities/geko/tests/config_generator/test_config_merge_writer_sections_params_unit.py
  projects/hipblaslt/utilities/geko/tests/test_library_operations_unit.py
  projects/hipblaslt/utilities/geko/tests/test_optim_core_unit.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

2-fix(tensilelite): close package rename import fallout
  projects/hipblaslt/tensilelite/pyproject.toml
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_CustomKernels_ordering.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_CustomKernels_preload.py
  projects/hipblaslt/tensilelite/tensilelite/ductile/config/__init__.py
  projects/hipblaslt/utilities/geko/geko/library/operations.py
  projects/hipblaslt/utilities/geko/tests/test_library_operations_unit.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

2-refactor(tensilelite): finish Python namespace path migration
  projects/hipblaslt/tensilelite/Makefile
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/rocisa/test/test_streamk_fences.py
  projects/hipblaslt/tensilelite/tensilelite/SolutionStructs/Validators/MXScaleFormat.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/PublicInputSurface/test_pchaos_Tensile_L409_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/PublicInputSurface/test_pchaos_Tensile_L526_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/PublicInputSurface/test_pchaos_Tensile_L529_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/PublicInputSurface/test_pchaos_Tensile_L534_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/PublicInputSurfaceDeep/test_pchaos_Validators_L195_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/PublicInputSurfaceDeep/test_pchaos_Validators_L226_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/PublicInputSurfaceDeep/test_pchaos_Validators_L236_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/PublicInputSurfaceDeep/test_pchaos_Validators_L237_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/PublicInputSurfaceDeep/test_pchaos_Validators_L86_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/PublicInputSurfaceDeep/test_pchaos_Validators_L97_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/SolutionArms/test_solution_arms_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/SolutionBreadth/test_r6_sol_breadth_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/SolutionDerivation/test_r5_autolrvw_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/SolutionEdges/test_r7_sol_edges_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/SolutionValidity/test_r4_solvalidity_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/_codegen/GPU-MOCK.md
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/_codegen/test_r2_solution_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

2-fix(tensilelite): complete moved package consumer closure
  projects/hipblaslt/tensilelite/scripts/precommit_affected_tests.py
  projects/hipblaslt/tensilelite/tensilelite/TensileLogic/KnownBugs.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/common/flags/gfx942/test_build_only.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/common/flags/gfx942/test_use_cache.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/common/test_config_build.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/common/test_config_run.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/conftest.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/Naming/test_mut_Naming_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/SolutionStructsUtils/test_mut_Utilities_reject_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/_codegen/test_r3_streamk_tdm_sgpr_budget_gfx1250_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/_codegen/test_r4_localread3_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_TensileBenchmarkCluster.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_TensileUpdateLibrary.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_backend_selection.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_cgemm_gfx1250_codegen.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_cpu_only_switch.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_gfx1250_asic_revision.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_keep_build_tmp.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_precommit_affected_tests.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_tensile_backend_config.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_zgemm_gfx1250_codegen.py
  projects/hipblaslt/tensilelite/tensilelite/bin/Tensile
  projects/hipblaslt/tensilelite/tox.ini
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

2-fix(hipblaslt): update TensileLite codegen paths
  projects/hipblaslt/cmake/hipblaslt_codegen.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

2-fix(tensilelite): invoke moved coverage summary
  .github/workflows/component-ci-tensilelite-coverage.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

2-refactor(tensilelite): update custom kernel namespace references
  projects/hipblaslt/tensilelite/tensilelite/CustomKernels/README.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

2-fix(tensilelite): rename
  projects/hipblaslt/tensilelite/tasks.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

2-fix(tensilelite): repair legacy package imports
  projects/hipblaslt/tensilelite/tensilelite/TensileLogic/ValidCorpusConsistency.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/conftest.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/Activation/test_r4_activation2_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/Activation/test_r6_activation3_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/_codegen/codegen_harness.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/_codegen/config_harness.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/_codegen/test_harness_smoke.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/conftest.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_cluster_load_component.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_fused_gemm_a2a_rejects.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_valid_corpus_consistency.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

4-refactor(tensilelite): invoke library generation through package handlers
  projects/hipblaslt/tensilelite/tensilelite/ClientWriter.py
  projects/hipblaslt/tensilelite/tensilelite/GenerateSummations.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/ClientPath/test_clientwriter_path_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/GenerateSummations/test_generate_summations_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/ParseArguments/test_parse_arguments_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/TensileMain/test_tensile_helpers_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_TensileLogic_Run.py
  projects/hipblaslt/tensilelite/tensilelite/tensilelite.py
  projects/hipblaslt/tensilelite/tensilelite/tensilelite_create_library/parse_arguments.py
  projects/hipblaslt/tensilelite/tensilelite/tensilelite_create_library/run.py
  projects/hipblaslt/tensilelite/tensilelite/tensilelite_logic/parse_arguments.py
  projects/hipblaslt/tensilelite/tensilelite/tensilelite_logic/run.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

3-fix(tensilelite): preserve parse arguments characterization
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/ParseArguments/test_parse_arguments_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

3-refactor(tensilelite): lower-case library creation and logic packages
  projects/hipblaslt/tensilelite/tensilelite/TensileCreateLibrary/__init__.py
  projects/hipblaslt/tensilelite/tensilelite/TensileCreateLibrary/__main__.py
  projects/hipblaslt/tensilelite/tensilelite/TensileLogic/__init__.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/ClientPath/test_clientwriter_path_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/ParseArguments/test_parse_arguments_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/TensileCreateLibraryRun/test_r7_createlib_deep_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/TensileCreateLibraryRun/test_run_orchestration_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_GpuRevisionTarget.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_PlaceholderMerge.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_TensileLogic_Run.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_gfx1250_asic_revision.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_valid_corpus_consistency.py
  projects/hipblaslt/tensilelite/tensilelite/tensilelite_create_library/__init__.py
  projects/hipblaslt/tensilelite/tensilelite/tensilelite_create_library/__main__.py
  projects/hipblaslt/tensilelite/tensilelite/tensilelite_create_library/parse_arguments.py
  projects/hipblaslt/tensilelite/tensilelite/tensilelite_create_library/run.py
  projects/hipblaslt/tensilelite/tensilelite/tensilelite_logic/ValidCorpusConsistency.py
  projects/hipblaslt/tensilelite/tensilelite/tensilelite_logic/__init__.py
  projects/hipblaslt/tensilelite/tensilelite/tensilelite_logic/handle_custom_kernel.py
  projects/hipblaslt/tensilelite/tensilelite/tensilelite_logic/known_bugs.py
  projects/hipblaslt/tensilelite/tensilelite/tensilelite_logic/known_bugs.yaml
  projects/hipblaslt/tensilelite/tensilelite/tensilelite_logic/parse_arguments.py
  projects/hipblaslt/tensilelite/tensilelite/tensilelite_logic/run.py
  projects/hipblaslt/tensilelite/tensilelite/tensilelite_logic/valid_chip_id.py
  projects/hipblaslt/tensilelite/tensilelite/tensilelite_logic/valid_matrix_instruction.py
  projects/hipblaslt/tensilelite/tensilelite/tensilelite_logic/valid_work_group.py
  projects/hipblaslt/tensilelite/tensilelite/tensilelite_logic/valid_work_group_mapping_xcc.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

3-refactor(tensilelite): package private ext-op generators
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/device-library/extops/CMakeLists.txt
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_amax_true16_activation.py
  projects/hipblaslt/tensilelite/tensilelite/_extops/AMaxGenerator.py
  projects/hipblaslt/tensilelite/tensilelite/_extops/ExtOpCreateLibrary.py
  projects/hipblaslt/tensilelite/tensilelite/_extops/LayerNormGenerator.py
  projects/hipblaslt/tensilelite/tensilelite/_extops/SoftmaxGenerator.py
  projects/hipblaslt/tensilelite/tensilelite/_extops/__init__.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

4-cleanup(tensilelite): remove source client autobuild
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/CMakePresets.json
  projects/hipblaslt/tensilelite/CMakeLists.txt
  projects/hipblaslt/tensilelite/cmake/tensilelite_auto_build.cmake
  projects/hipblaslt/tensilelite/tensilelite/Source/EnableWarnings.cmake
  projects/hipblaslt/tensilelite/tensilelite/Source/FindOpenCL.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

3-fix(tensilelite): restore legacy client executable assertions
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/ClientPath/test_clientwriter_path_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

3-refactor(tensilelite): lower-case remaining internal entry modules
  projects/hipblaslt/tensilelite/tensilelite/benchmark_cluster.py
  projects/hipblaslt/tensilelite/tensilelite/benchmark_cluster_scripts.py
  projects/hipblaslt/tensilelite/tensilelite/lib_logic_to_yaml.py
  projects/hipblaslt/tensilelite/tensilelite/merge_library.py
  projects/hipblaslt/tensilelite/tensilelite/retune_library.py
  projects/hipblaslt/tensilelite/tensilelite/tensilelite.py
  projects/hipblaslt/tensilelite/tensilelite/update_library.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

3-refactor(tensilelite): change variable name to pep8 convention
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_backend_selection.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_gfx1250_asic_revision.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_tensile_backend_config.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

4-fix(tensilelite): Add documentation for test_setup_forwards_explicit_argv
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_TensileLogic_Run.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

4-docs(tensilelite): Add explanation for why CleanBuildPy exists
  projects/hipblaslt/tensilelite/setup.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

4-fix(tensilelite): preserve source-built rocisa
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/tensilelite/setup.py
  projects/hipblaslt/tensilelite/tasks.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/common/config_helpers.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/common/flags/gfx942/test_build_only.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/common/flags/gfx942/test_use_cache.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/conftest.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/Activation/test_r4_activation2_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/Activation/test_r6_activation3_char.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/_codegen/codegen_harness.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/_codegen/config_harness.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/characterization/_codegen/test_harness_smoke.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/conftest.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/gpu_test_helpers.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_GpuRevisionTarget.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_TensileLibLogicToYaml.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_WmmaSourceCacheOpt.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_cluster_load_component.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_packaging_metadata.py
  projects/hipblaslt/tensilelite/tensilelite/Tests/unit/test_segment_interleave_state.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(tensilelite): name canonical merge command
  projects/hipblaslt/tensilelite/tensilelite/Utilities/merge.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
