Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Add mutation tests for SolutionStructs/ Naming & Utilities
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/DECISIONS.md
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/Naming/test_mut_Naming_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionStructsUtils/test_mut_Utilities_reject_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/adr/0002-fix-split-gsu-naming-during-mutation-triage.md
  projects/hipblaslt/tensilelite/pyproject.toml
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Consider occupancy in stream-k grid when SM target is set (#10094)
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
  shared/origami/src/origami/streamk.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Include SM count in solution cache (#10027)
  projects/hipblaslt/tensilelite/include/Tensile/ContractionProblem_Detail.hpp
  projects/hipblaslt/tensilelite/tests/CMakeLists.txt
  projects/hipblaslt/tensilelite/tests/CachingLibrary_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ci): add git auth and --depth 1 to therock-ci fetch sources
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-windows.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): auto-install zstandard for kpack packing
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(miopen): address review feedback on naive solver timeout
  projects/miopen/docs/reference/env_variables.rst
  projects/miopen/src/conv/solver_finders.cpp
  projects/miopen/src/hip/handlehip.cpp
  projects/miopen/src/include/miopen/stream_tracker.hpp
  projects/miopen/test/gtest/stream_tracker.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

updated date to be more clear
  projects/rocrand/testing.md
  projects/rocthrust/testing.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[docs] Add first pass triage and infra bypass criteria for gardeners (#10463)
  docs/gardening.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(arch-specs): use gfx90a identifier in CDNA2 comment
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/arch/data/arch_specs.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): update GroupedGemm naming characterization
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/Naming/test_mut_Naming_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt] Equality tuning for BF16 (#10588)
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Equality/gfx1250_Cijk_Ailk_Bjlk_BBS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Equality/gfx1250_Cijk_Ailk_Bljk_BBS_BH_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Equality/gfx1250_Cijk_Alik_Bljk_BBS_BH_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(origami): Add Tile Scheduling Mode to Origami (#10458)
  shared/origami/include/origami/gemm.hpp
  shared/origami/include/origami/types.hpp
  shared/origami/python/src/origami/__init__.py
  shared/origami/python/src/origami/bindings.cpp
  shared/origami/src/origami/gemm.cpp
  shared/origami/src/origami/types.cpp
  shared/origami/tests/test_gemm.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add internal test case for module load failure
  projects/rocfft/library/src/tests/CMakeLists.txt
  projects/rocfft/library/src/tests/rtc_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): strengthen mutation characterization
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/Naming/test_mut_Naming_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionStructsUtils/test_mut_Utilities_reject_char.py
  projects/hipblaslt/tensilelite/pyproject.toml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test: trigger CI to test family expansion fix
  projects/rocprim/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci: add sparse checkout for rocm-libraries in test workflows
  .github/workflows/hipblaslt-asan-ci.yml
  .github/workflows/therock-test-component.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): install all rocm_kpack Python deps (zstandard + msgpack)
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix package name example
  projects/hiptensor/docs/install/installation.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

added rocm theme info to the conf.py files
  projects/composablekernel/docs/conf.py
  projects/hipcub/docs/conf.py
  projects/hipthreads/docs/conf.py
  projects/rocprim/docs/conf.py
  projects/rocthrust/docs/conf.py
  projects/rpp/docs/conf.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Resolve merge conflict
  projects/hipcub/test/hipcub/test_utils.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(tensilelite): simplify naming mutation points
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Naming.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/DECISIONS.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

test: trigger CI with external repo family fix
  projects/rocprim/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[rocWMMA][Community] Add simple flash attention v2 sample
  projects/rocwmma/samples/community/CMakeLists.txt
  projects/rocwmma/samples/community/README.md
  projects/rocwmma/samples/community/simple_flash_attn_v2.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

[rocWMMA][Community]Address PR review feedback for simple flash attention v2 sample (ROCm#8510)
  projects/rocwmma/samples/community/simple_flash_attn_v2.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(tensilelite): link split-GSU defect
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/adr/0002-fix-split-gsu-naming-during-mutation-triage.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(ci): enable ASAN presubmit, disable postsubmit (#10411)
  .github/workflows/therock-multi-arch-ci-asan.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke/attention): derive K-single geometry guard instead of block_size>=32 proxy
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/attention_unified.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_builds.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test: trigger CI with lenient artifact matching
  projects/rocprim/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke/attention): route fp16 D128 sliding-window prefill to transposed-32x32 (gfx950)
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/attention_unified.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke/attention): scope fp16 D128 SW combo admission to block_size==16
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/attention_unified.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocke/attention): regression for fp16 D128 SW routing + block_size==16 scoping
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_builds.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocke/attention): reword fp16 D128 SW routing comments as perf, not correctness
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/attention_unified.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ci): add timeout-minutes to checkout rocm-libraries step in test job
  .github/workflows/therock-test-component.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix merge conflict
  projects/rocthrust/CHANGELOG.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ci): add timeout-minutes: 30 to remaining checkout rocm-libraries steps
  .github/workflows/clang-tidy.yml
  .github/workflows/hipblaslt-asan-ci.yml
  .github/workflows/therock-rocjitsu-race-check-linux.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocke/attention): reframe bs16 SW scoping as measured-cohort, not crash-avoidance
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/attention_unified.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): allocate scale VGPRs before data tiles to avoid VGPR MSB collision
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/subtile_mxf4_basic.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): add asymmetric MIWT multi-wave configs to subtile MXFP4 test
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileScaleEmit.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/subtile_mxf4_basic.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): match InMemorySwizzle TDM layout for subtile MXFP4 scale loads
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileScaleEmit.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): use mxScaleASel/mxScaleBSel for WMMA scale lane-half selection
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/Kernel.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
