Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

feat(stinkytofu): gate the mode2 WAR gate on EnableESM2TrackValuVsrc
  shared/stinkytofu/include/stinkytofu/core/Types.hpp
  shared/stinkytofu/src/pipeline/backend/Gfx1250Backend.cpp
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(stinkytofu): correct DISABLE_XDL_ARB_STALL bit position for gfx1250
  shared/stinkytofu/python_module/src/HardwareCaps.cpp
  shared/stinkytofu/python_module/tests/test_comgr.py
  shared/stinkytofu/src/hardware/HwReg.cpp
  shared/stinkytofu/tests/filecheck/remove_wait_alu_setreg.s
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): emit DISABLE_XDL_ARB_STALL at the arch-declared bit
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_arch_steppings.py
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/hardware_caps.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(stinkytofu): add flat_prefetch_b8, the FLAT-ordered form of global_prefetch_b8
  shared/stinkytofu/hardware/src/gfx/Gfx1250/Gfx1250Instructions.def
  shared/stinkytofu/hardware/src/gfx/Gfx1250v0/Gfx1250v0Instructions.def
  shared/stinkytofu/include/stinkytofu/hardware/Flags.def
  shared/stinkytofu/include/stinkytofu/ir/asm/StinkyAsmIR.hpp
  shared/stinkytofu/src/transforms/asm/InsertWaitAluPass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): enable ESM2 valu vsrc tracking
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_EnableESM2TrackValuVsrc.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): add code coverage test
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_EnableESM2TrackValuVsrc_derived.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_disableWmmaArbStall.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(stinkytofu): pin prefetch hints ahead of matrix instructions in wait-aware schedule repair
  shared/stinkytofu/docs/developer/matrix-to-ds-gap-preservation.md
  shared/stinkytofu/src/transforms/asm/WaitAwareScheduleRepairPass.cpp
  shared/stinkytofu/src/transforms/asm/dag/WaitAnchoredReadyQueue.hpp
  shared/stinkytofu/tests/filecheck/wait_aware_schedule_repair_carry_test.stir
  shared/stinkytofu/tests/filecheck/wait_aware_schedule_repair_dependency_flush_test.stir
  shared/stinkytofu/tests/filecheck/wait_aware_schedule_repair_matrix_gap_test.stir
  shared/stinkytofu/tests/filecheck/wait_aware_schedule_repair_matrix_gap_unconstrained_test.stir
  shared/stinkytofu/tests/filecheck/wait_aware_schedule_repair_prefetch_pin_test.stir
  shared/stinkytofu/tests/filecheck/wait_aware_schedule_repair_test.stir
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(stinkytofu): expose wait-aware schedule repair slot count as module option
  shared/stinkytofu/docs/developer/wait-aware-schedule-repair-pass.md
  shared/stinkytofu/include/stinkytofu/bindings/python/Module.hpp
  shared/stinkytofu/src/pipeline/backend/Gfx1250Backend.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(stinkytofu): preserve matrix-to-DS gap in wait-aware schedule repair
  shared/stinkytofu/docs/developer/matrix-to-ds-gap-preservation.md
  shared/stinkytofu/src/transforms/asm/dag/WaitAnchoredReadyQueue.hpp
  shared/stinkytofu/tests/filecheck/wait_aware_schedule_repair_matrix_gap_test.stir
  shared/stinkytofu/tests/filecheck/wait_aware_schedule_repair_matrix_gap_unconstrained_test.stir
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(stinkytofu): complete single-wave MX scale TDM descriptor setup and add DepthU guard
  projects/hipblaslt/tensilelite/Tensile/Components/TensorDataMover.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/config_harness.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/data/test_data/_designed/gfx1250/datamover_mx.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_r5_datamover_mx_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_setcover_gemm_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_tdm_mx_singlewave_guard.py
  shared/stinkytofu/dev_ra_sgpr_overflow/sgpr_overflow.md
  shared/stinkytofu/dev_ra_sgpr_overflow/stinky_sia4.overflow.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(tensilelite): skip the WMMA arb stall setreg for sparse and StreamK kernels
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionClass/__snapshots__/test_solution_class_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_disableWmmaArbStall.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(stinkytofu): note that FLAT prefetch takes the same saddr modes as GLOBAL
  shared/stinkytofu/hardware/src/gfx/Gfx1250/Gfx1250Instructions.def
  shared/stinkytofu/hardware/src/gfx/Gfx1250v0/Gfx1250v0Instructions.def
  shared/stinkytofu/src/transforms/asm/PrefetchBridgeSubstitutionPass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(stinkytofu): keep InsertWaitAlu configuration on the pass instead of globals
  shared/stinkytofu/src/transforms/asm/InsertWaitAluPass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(stinkytofu): correct XDL hide step and one-sided nextAnchorShared join
  shared/stinkytofu/src/transforms/asm/InsertWaitAluPass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(stinkytofu): key the mode2 WAR gate on counts, not WMMA readiness
  shared/stinkytofu/include/stinkytofu/core/Types.hpp
  shared/stinkytofu/src/pipeline/backend/Gfx1250Backend.cpp
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
  shared/stinkytofu/tests/filecheck/dag_mode2_war_gate.stir
  shared/stinkytofu/tools/stinkytofu-opt/stinkytofu-opt.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(stinkytofu): use valid gfx1250 address modes for prefetch in InsertWaitAluPass tests
  shared/stinkytofu/tests/filecheck/InsertWaitAluPass_anchor_test.stir
  shared/stinkytofu/tests/filecheck/InsertWaitAluPass_paired_flat_join_test.stir
  shared/stinkytofu/tests/filecheck/InsertWaitAluPass_test.stir
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

TDM: port the universal GEMM TDM load path to C++
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/bindings/rocke_engine.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/include/rocke/instance_gemm_internal.h
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/include/rocke/instance_gemm_universal.h
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/instances/common/gemm_build_compute.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/instances/common/gemm_build_load.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/instances/common/gemm_spec.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/instances/common/gemm_universal.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/backend.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/parity/gemm_emit.c
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/parity/gemm_emit.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): superbuild CI on the sizing and regime-focus commits
  projects/hipdnn/tools/corpus_gen/CorpusGen.cpp
  projects/hipdnn/tools/corpus_gen/include/hipdnn_corpus_gen/RegimeFocus.hpp
  projects/hipdnn/tools/corpus_gen/tests/TestPoolAssembly.cpp
  projects/hipdnn/tools/uhd_gen/tests/test_addressing.py
  projects/hipdnn/tools/uhd_gen/tests/test_promote.py
  projects/hipdnn/tools/uhd_gen/tests/test_train.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): enable TDMSplit for sparse (2:4) kernels (#11356)
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/Component.py
  projects/hipblaslt/tensilelite/Tensile/Components/LocalRead.py
  projects/hipblaslt/tensilelite/Tensile/Components/TensorDataMover.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_tdm_all.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_tdm_split_xfail.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_setcover_sparse_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/coverage-baseline.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): let sweep.py take graphs that share a name across sources
  projects/hipdnn/tools/IngestorGenerator/configs/sweep-isolation.sweep.yaml.example
  projects/hipdnn/tools/IngestorGenerator/tests/test_sweep_tools.py
  projects/hipdnn/tools/IngestorGenerator/tools/README-sweeps.md
  projects/hipdnn/tools/IngestorGenerator/tools/sweep.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(hipdnn): let the installed hipdnn_list_engines find libhipdnn_backend
  projects/hipdnn/tools/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hkp): wait out the pack stamp before editing a staged source
  dnn-providers/hip-kernel-provider/descriptor-packaging/tests/test_hkp_python_environment.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(stinkytofu): annotate generated waitcnt dependencies
  shared/stinkytofu/include/stinkytofu/transforms/asm/waitcnt/WaitDataflow.hpp
  shared/stinkytofu/include/stinkytofu/transforms/asm/waitcnt/WaitPlan.hpp
  shared/stinkytofu/src/transforms/asm/StinkyWaitCntInsertionPass.cpp
  shared/stinkytofu/src/transforms/asm/waitcnt/WaitDataflow.cpp
  shared/stinkytofu/tests/filecheck/waitcnt_insertion_lds_ring_comments.stir
  shared/stinkytofu/tests/filecheck/waitcnt_insertion_lds_ring_war_comments.stir
  shared/stinkytofu/tests/unit/asm/WaitCntInsertionTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(stinkytofu): model frame-aware LDS ring dependencies
  projects/hipblaslt/tensilelite/Tensile/Component.py
  projects/hipblaslt/tensilelite/Tensile/Components/TensorDataMover.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/container.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/include/instruction/instruction.hpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/container.cpp
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/instruction/instruction.cpp
  projects/hipblaslt/tensilelite/rocisa_stinkytofu_adaptor/rocisa_stinkytofu_adaptor/code.py
  projects/hipblaslt/tensilelite/rocisa_stinkytofu_adaptor/rocisa_stinkytofu_adaptor/container.py
  projects/hipblaslt/tensilelite/rocisa_stinkytofu_adaptor/rocisa_stinkytofu_adaptor/instruction.py
  projects/hipblaslt/tensilelite/rocisa_stinkytofu_adaptor/tests/test_container.py
  projects/hipblaslt/tensilelite/rocisa_stinkytofu_adaptor/tests/test_instruction.py
  shared/stinkytofu/include/stinkytofu/ir/asm/StinkyModifiers.hpp
  shared/stinkytofu/include/stinkytofu/ir/logical/LogicalInstructions.hpp
  shared/stinkytofu/include/stinkytofu/transforms/asm/waitcnt/WaitDataflow.hpp
  shared/stinkytofu/python_module/src/python_bindings.cpp
  shared/stinkytofu/src/conversion/rocisa/ToStinkyTofuUtils.cpp
  shared/stinkytofu/src/serialization/asm/ModifierSerializer.cpp
  shared/stinkytofu/src/transforms/asm/waitcnt/WaitDataflow.cpp
  shared/stinkytofu/src/transforms/logical/ToStinkyAsmPass.cpp
  shared/stinkytofu/tests/filecheck/waitcnt_insertion_lds_ring_multiclass.stir
  shared/stinkytofu/tests/filecheck/waitcnt_insertion_lds_ring_raw.stir
  shared/stinkytofu/tests/filecheck/waitcnt_insertion_lds_ring_raw_distance1.stir
  shared/stinkytofu/tests/filecheck/waitcnt_insertion_lds_ring_war.stir
  shared/stinkytofu/tests/filecheck/waitcnt_insertion_lds_ring_war_already_drained.stir
  shared/stinkytofu/tests/filecheck/waitcnt_insertion_lds_ring_war_single_wave.stir
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix ci
  shared/stinkytofu/include/stinkytofu/transforms/asm/waitcnt/WaitDataflow.hpp
  shared/stinkytofu/src/conversion/rocisa/ToStinkyTofuUtils.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(stinkytofu): place ring tensor waits at publish barriers
  shared/stinkytofu/include/stinkytofu/ir/asm/StinkyModifiers.hpp
  shared/stinkytofu/src/conversion/rocisa/AllHwMappings.cpp
  shared/stinkytofu/src/serialization/asm/ModifierSerializer.cpp
  shared/stinkytofu/src/transforms/asm/LegalizationUtils.cpp
  shared/stinkytofu/src/transforms/asm/StinkyWaitCntInsertionPass.cpp
  shared/stinkytofu/src/transforms/asm/waitcnt/WaitDataflow.cpp
  shared/stinkytofu/tests/filecheck/waitcnt_insertion_lds_ring_protect_write_publish.stir
  shared/stinkytofu/tests/unit/asm/BarrierTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ites
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
  shared/stinkytofu/tests/unit/asm/CDNA5ReadyQueueTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

enable TDMPlusLdsBuf
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): log why Gfx950AttentionDense declines a graph
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/Gfx950AttentionDenseNative.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/TestGfx950AttentionDenseMatchers.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): default an absent SDPA scale to 1/sqrt(head_size) in Gfx950AttentionDense
  dnn-providers/hip-kernel-provider/src/engines/kernel_ingestor_engine/packs/Gfx950AttentionDenseNative.cpp
  dnn-providers/hip-kernel-provider/src/integration_tests/kernel_ingestor_engine/IntegrationGpuGfx950AttentionDenseKnobs.cpp
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/TestGfx950AttentionDenseMatchers.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocke): explain the static GDN decode default tile
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/gdn/gfx950.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add unit test
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_initc_iter_wmma.py
  shared/stinkytofu/src/transforms/asm/RegionClonePass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke): distinguish scaled GEMM output variants
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/SUPPORT_MATRIX.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/instances/gfx1250/block_scaled_gemm.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/gfx1250_scaled_wmma_llvm23.json
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_gfx1250_block_scaled_gemm_names.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/golden/rocke_representative_ir_sha256.json
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocke): note the GDN decode fallback-tile limitation
  dnn-providers/hip-kernel-provider/rocke/library/dispatch/gdn/gfx950.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocke): compile every registered GDN decode tile for scratch
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_gdn_decode_spec.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocke): report a failing GDN tuner default and keep sweeping
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx950/gdn/tune.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_gdn_decode_tune.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci(rocke): clarify Copilot review rules 5, 6, 8, 10 and 11
  .github/instructions/rocke-pr-review.instructions.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ds_load_stalls_investigating
  projects/hipblaslt/tensilelite/f8_tn_maf_b/1_BenchmarkProblems/Cijk_Alik_Bljk_F8BS_BH_UserArgs_00/00_Final/build/run.sh
  projects/hipblaslt/tensilelite/f8_tn_maf_b/1_BenchmarkProblems/Cijk_Alik_Bljk_F8BS_BH_UserArgs_00/00_Final/caches/27f18e29975b/cache.yaml
  projects/hipblaslt/tensilelite/f8_tn_maf_b/1_BenchmarkProblems/Cijk_Alik_Bljk_F8BS_BH_UserArgs_00/00_Final/caches/27f18e29975b/source/ClientParameters.ini
  projects/hipblaslt/tensilelite/f8_tn_maf_b/1_BenchmarkProblems/Cijk_Alik_Bljk_F8BS_BH_UserArgs_00/00_Final/caches/27f18e29975b/source/KernelHeader.h
  projects/hipblaslt/tensilelite/f8_tn_maf_b/1_BenchmarkProblems/Cijk_Alik_Bljk_F8BS_BH_UserArgs_00/00_Final/caches/27f18e29975b/source/Kernels.cpp
  projects/hipblaslt/tensilelite/f8_tn_maf_b/1_BenchmarkProblems/Cijk_Alik_Bljk_F8BS_BH_UserArgs_00/00_Final/caches/27f18e29975b/source/Kernels.h
  projects/hipblaslt/tensilelite/f8_tn_maf_b/1_BenchmarkProblems/Cijk_Alik_Bljk_F8BS_BH_UserArgs_00/00_Final/caches/27f18e29975b/source/ReductionTemplate.h
  projects/hipblaslt/tensilelite/f8_tn_maf_b/1_BenchmarkProblems/Cijk_Alik_Bljk_F8BS_BH_UserArgs_00/00_Final/caches/27f18e29975b/source/TensileTypes.h
  projects/hipblaslt/tensilelite/f8_tn_maf_b/1_BenchmarkProblems/Cijk_Alik_Bljk_F8BS_BH_UserArgs_00/00_Final/caches/27f18e29975b/source/library/gfx1250/Kernels.so-000-gfx1250.hsaco
  projects/hipblaslt/tensilelite/f8_tn_maf_b/1_BenchmarkProblems/Cijk_Alik_Bljk_F8BS_BH_UserArgs_00/00_Final/caches/27f18e29975b/source/library/gfx1250/TensileLibrary.yaml
  projects/hipblaslt/tensilelite/f8_tn_maf_b/1_BenchmarkProblems/Cijk_Alik_Bljk_F8BS_BH_UserArgs_00/00_Final/caches/27f18e29975b/source/library/gfx1250/TensileLibrary_gfx1250.co
  projects/hipblaslt/tensilelite/f8_tn_maf_b/1_BenchmarkProblems/Cijk_Alik_Bljk_F8BS_BH_UserArgs_00/00_Final/caches/27f18e29975b/source/memory_gfx.h
  projects/hipblaslt/tensilelite/f8_tn_maf_b/1_BenchmarkProblems/Cijk_Alik_Bljk_F8BS_BH_UserArgs_00/00_Final/caches/27f18e29975b/source/tensile_bfloat16.h
  projects/hipblaslt/tensilelite/f8_tn_maf_b/1_BenchmarkProblems/Cijk_Alik_Bljk_F8BS_BH_UserArgs_00/00_Final/caches/27f18e29975b/source/tensile_float8_bfloat8.h
  projects/hipblaslt/tensilelite/f8_tn_maf_b/1_BenchmarkProblems/Cijk_Alik_Bljk_F8BS_BH_UserArgs_00/Data/00_Final.csv
  projects/hipblaslt/tensilelite/f8_tn_maf_b/1_BenchmarkProblems/Cijk_Alik_Bljk_F8BS_BH_UserArgs_00/Data/00_Final.yaml
  projects/hipblaslt/tensilelite/f8_tn_maf_b/2_BenchmarkData/Cijk_Alik_Bljk_F8BS_BH_UserArgs_00.csv
  projects/hipblaslt/tensilelite/f8_tn_maf_b/2_BenchmarkData/Cijk_Alik_Bljk_F8BS_BH_UserArgs_00.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): normalize StinkyTofu label hashes before canonicalize_asm
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_arch_steppings.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck): subtract unwanted offload archs so per-source filtering actually binds
  projects/composablekernel/CMakeLists.txt
  projects/composablekernel/include/ck/config.h.in
  projects/composablekernel/include/ck/host_utility/device_prop.hpp
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_backward_data.hpp
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_backward_weight.hpp
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward.hpp
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward_bias_clamp.hpp
  projects/composablekernel/library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward_clamp.hpp
  projects/composablekernel/library/src/tensor_operation_instance/gpu/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
