Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

version bumps for rocm next
  projects/hipblas/CHANGELOG.md
  projects/hipblas/CMakeLists.txt
  projects/hipblas/bump_develop_version.sh
  projects/hipblas/library/CMakeLists.txt
  projects/rocblas/CHANGELOG.md
  projects/rocblas/CMakeLists.txt
  projects/rocblas/bump_develop_version.sh
  projects/rocblas/library/CMakeLists.txt
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Potential fix for pull request finding
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/subtile_bf16_gfx1250.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci: narrow rocKE platform CODEOWNERS path to platform/ subtree
  .github/CODEOWNERS
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci: add rocKE style/ ownership to rocke-platform team
  .github/CODEOWNERS
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci: label rocKE style/ with rocke: platform
  .github/labeler.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): use warp_tile_k=32 in default aquant configs for gfx9 correctness
  projects/composablekernel/dispatcher/examples/gemm/python/14_grouped_gemm_aquant.py
  projects/composablekernel/dispatcher/python/grouped_gemm_aquant_utils.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

(CMCL) stage shadowed ROCm DLLs for all Windows builds and wire to test/sample targets
  dnn-providers/cmake/Sanitizers.cmake
  dnn-providers/cmake/Tests.cmake
  projects/hipdnn/cmake/Sanitizers.cmake
  projects/hipdnn/cmake/Tests.cmake
  projects/hipdnn/samples/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(tensilelite): reduce SGPR usage on gfx1250 StreamKForceDPOnly kernels (#9730)
  projects/hipblaslt/tensilelite/Tensile/Components/Signature.py
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/SubtileGREmit.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_streamk_dponly_sgpr_reduction.py
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Emboss test and reference
  projects/rpp/utilities/test/CMakeLists.txt
  projects/rpp/utilities/test/src/reference/emboss_ref.hpp
  projects/rpp/utilities/test/src/tests/image/filter/emboss_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci(hipthreads): Add hipthreads to TheRock CI matrix (#9705)
  .github/scripts/tests/therock_matrix_test.py
  .github/scripts/therock_matrix.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocke): surface per-test ctest results on the CI Summary page
  test/therock/test_hipkernelprovider.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

perf(rocke/attention): restore LDS K padding at D=64 in gfx950 attention_dense
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx950/attention_dense.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_d64_lds.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Embedding similarity changes
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950/Embedding/gfx950_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.logic.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/gfx950_id75a3/Embedding/gfx950_Cijk_Ailk_Bjlk_S_MX_B_BiasS_HAS_SAV_UserArgs.logic.yaml
  projects/hipblaslt/tasks.py
  projects/hipblaslt/tensilelite/Tensile/Contractions.py
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Custom_Cijk_Ailk_Bjlk_S_MX_B_BIAS_HA_S_SAV_NTD_SK3_UserArgs_MT256x256x32_MI16x16x1_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/Tensile/LibraryIO.py
  projects/hipblaslt/tensilelite/Tensile/Properties.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_Properties.py
  projects/hipblaslt/tensilelite/include/Tensile/ContractionProblemPredicates.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Debug.hpp
  projects/hipblaslt/tensilelite/include/Tensile/EmbeddingSimilarityLibrary.hpp
  projects/hipblaslt/tensilelite/include/Tensile/ExactLogicLibrary.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Serialization.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Serialization/ContractionPredicates.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Serialization/EmbeddingSimilarityLibrary.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Serialization/SolutionLibrary.hpp
  projects/hipblaslt/tensilelite/src/Debug.cpp
  shared/origami/CMakeLists.txt
  shared/rocroller/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocke): move step-summary renderer into the rocKE tree + tests
  dnn-providers/hip-kernel-provider/rocke/platform/tests/ctest_summary.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/test_ctest_summary.py
  test/therock/test_hipkernelprovider.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rocke): refresh rocKE architecture foundations (#9764)
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/README.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/architecture/authoring_model.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/architecture/backend_support_agpr_res.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/architecture/dual_backend_unification_rfc.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/architecture/index.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/architecture/kernel_taxonomy.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/architecture/mental_model.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/architecture/transform_dag.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/instances/index.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(ck-tile): guard shuffled-B cache cleanup with GEMM_KEY_PRESHUFFLE != 0
  projects/composablekernel/dispatcher/bindings/ctypes/gemm_ctypes_lib.cpp
  projects/composablekernel/dispatcher/tests/test_preshuffle_bridge.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hip-kernel-provider): relocate gfx950 attention case study
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/architecture/attention_2d_experiment_summary.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/examples/attention_2d_gfx950_experiment_summary.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/measured_results.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hip-kernel-provider): retain gfx950 attention decisions
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/examples/attention_2d_gfx950_experiment_summary.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/measured_results.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hip-kernel-provider): group attention case study by arch
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/architecture/attention_2d_experiment_summary.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/examples/gfx950/attention_2d_experiment_summary.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/measured_results.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hip-kernel-provider): relocate gfx942 attention case study
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/architecture/attention_2d_gfx942_experiment_summary.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/examples/attention_2d_gfx942_experiment_summary.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/arch/gfx942.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hip-kernel-provider): retain gfx942 attention decisions
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/examples/attention_2d_gfx942_experiment_summary.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/arch/gfx942.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hip-kernel-provider): group attention case study by arch
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/architecture/attention_2d_gfx942_experiment_summary.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/examples/gfx942/attention_2d_experiment_summary.md
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/optimization/arch/gfx942.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Origami using the AIF
  shared/origami/CMakeLists.txt
  shared/origami/data/hardware/gfx1150.json
  shared/origami/data/hardware/gfx1152.json
  shared/origami/data/hardware/gfx1153.json
  shared/origami/data/hardware/gfx1200.json
  shared/origami/data/hardware/gfx90a.json
  shared/origami/data/hardware/rocjitsu/gfx1100_w7900.json
  shared/origami/data/hardware/rocjitsu/gfx1151.json
  shared/origami/data/hardware/rocjitsu/gfx1201_r9700.json
  shared/origami/data/hardware/rocjitsu/gfx1250.json
  shared/origami/data/hardware/rocjitsu/gfx942_cdna3.json
  shared/origami/data/hardware/rocjitsu/gfx942_cdna3_kmd.json
  shared/origami/data/hardware/rocjitsu/gfx950_cdna4.json
  shared/origami/data/hardware/rocjitsu/gfx950_cdna4_kmd.json
  shared/origami/data/hardware/rocjitsu/gfx950_cdna4_kmd_2gpu.json
  shared/origami/data/hardware/rocjitsu/guest_gfx950_on_gfx1201.json
  shared/origami/data/hardware/rocjitsu/guest_gfx950_on_gfx942.json
  shared/origami/data/hardware/rocjitsu/guest_gfx950_on_simulated_gfx942.json
  shared/origami/src/origami/hardware.cpp
  shared/origami/tests/CMakeLists.txt
  shared/origami/tests/test_hardware.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hip-kernel-provider): link attention source anchors
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/examples/gfx950/attention_2d_experiment_summary.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hip-kernel-provider): link attention source anchors
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/examples/gfx942/attention_2d_experiment_summary.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Potential fix for pull request finding
  .github/labeler.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipThreads] [Documentation] Add hipThreads to docs CI (#9706)
  .github/docs-config.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

address review comments on tests, added c++ parity for 24 new intrinsic cases, clamped LLVM_FLAVORS version ladder, fixes llvm23 rejection bugs in c++ mirror
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/lower_llvm/core.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/ir_lowering/backend_details.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/backend.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/lower_llvm.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/runtime/comgr.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/CMakeLists.txt
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/future_intrinsic_lowering.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/tests/test_rocke.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

docs(rfc-0017): scope the descriptor roles and the runtime order
  projects/hipdnn/docs/rfcs/0017_UniversalKernelDescriptor.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rfc-0017): name the descriptor family plainly, mark the KMD engine-scoped
  projects/hipdnn/docs/rfcs/0017_UniversalKernelDescriptor.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rfc-0017): untangle the UKD definitions
  projects/hipdnn/docs/rfcs/0017_UniversalKernelDescriptor.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): support non-multiple sizes for gfx1250 cluster launch (#9690)
  projects/hipblaslt/tensilelite/Tensile/Components/GL2Prefetch.py
  projects/hipblaslt/tensilelite/Tensile/Contractions.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/subtile_bf16_gfx1250_cluster.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/tdm_multicast_gfx1250.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_tdm_multicast.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/Contractions/__snapshots__/test_contractions_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/data/test_data/_designed/gfx1250/cluster_padding.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_cluster_padding_gfx1250_char.py
  projects/hipblaslt/tensilelite/include/Tensile/ContractionProblemPredicates.hpp
  projects/hipblaslt/tensilelite/include/Tensile/Serialization/ContractionPredicates.hpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rfc-0017): drop the fusion-matching aside
  projects/hipdnn/docs/rfcs/0017_UniversalKernelDescriptor.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hip-kernel-provider): restore gfx950 attention decisions
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/examples/gfx950/attention_2d_experiment_summary.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hip-kernel-provider): restore gfx942 attention decisions
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/examples/gfx942/attention_2d_experiment_summary.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rfc-0017): stop ruling out cross-engine use of UHD scores
  projects/hipdnn/docs/rfcs/0017_UniversalKernelDescriptor.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rfc-0017): tie the heuristic load to ranking, not to selection
  projects/hipdnn/docs/rfcs/0017_UniversalKernelDescriptor.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rfc-0017): stop pinning the inventory refresh to every applicability call
  projects/hipdnn/docs/rfcs/0017_UniversalKernelDescriptor.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(miopen): fix Bwd grid-overflow shape and namespace placement
  projects/miopen/test/gtest/unit_conv_solver_ConvDirectNaiveConvBwd.cpp
  projects/miopen/test/gtest/unit_conv_solver_ConvDirectNaiveConvWrw.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(rfc-0017): separate the UMD schema-version rule from its example
  projects/hipdnn/docs/rfcs/0017_UniversalKernelDescriptor.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
