Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

Add `cuda::std::aligned_accessor` (#3731)
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/standard_api/container_library/mdspan.rst
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__mdspan/aligned_accessor.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__memory/is_sufficiently_aligned.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/containers/views/mdspan/mdspan.aligned_accessor/aligned_accessor.alignment.fail.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/containers/views/mdspan/mdspan.aligned_accessor/aligned_accessor.pass.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Initial Execution Model documentation (#3955)
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api/execution_model.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

implement `<cuda/std/numbers>` (#3355)
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/standard_api.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/standard_api/numerics_library.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/standard_api/numerics_library/numbers.rst
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__cccl/execution_space.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/version
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/numbers
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/numbers/defined.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/numbers/illformed.fail.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/numbers/user_type.compile.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/numbers/value.pass.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix typo (#3965)
  projects/hipccl/hipccl3/libhipcxx/include/cuda/__ptx/instructions/cp_reduce_async_bulk.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/cuda/ptx/ptx.cp.reduce.async.bulk.compile.pass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix popc parentheses warning (#3820)
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__bit/popc.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Specialize `numeric_limits` for CUDA 12.8 FP types (#3832)
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/is_specialized.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/common.h
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/const_data_members.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/denorm_min.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/digits.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/digits10.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/epsilon.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/has_denorm.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/has_denorm_loss.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/has_infinity.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/has_quiet_NaN.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/has_signaling_NaN.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/infinity.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/is_bounded.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/is_exact.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/is_iec559.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/is_integer.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/is_modulo.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/is_signed.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/lowest.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/max.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/max_digits10.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/max_exponent.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/max_exponent10.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/min.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/min_exponent.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/min_exponent10.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/quiet_NaN.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/radix.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/round_error.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/round_style.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/signaling_NaN.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/tinyness_before.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/traps.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__type_traits/is_extended_floating_point.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/limits
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__cccl/extended_data_types.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__limits/numeric_limits.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__limits/numeric_limits_ext.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Refactor `assume_aligned` implementation (#3765)
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/utilities/memory/ptr.align/assume_aligned.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/utilities/memory/ptr.align/assume_aligned.runfail.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/utils/libcudacxx/test/executor.py
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__memory/assume_aligned.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Optimize and clean up `countl`, `countr`, `popcount`, `has_single_bit` (#3414)
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__bit/clz.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__bit/countl.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__bit/countr.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__bit/ctz.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__bit/has_single_bit.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__bit/integral.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__bit/popc.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__bit/popcount.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__bit/rotate.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__cccl/builtin.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__type_traits/is_unsigned_integer.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs: Update PTX instruction availability tables (#3894)
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/ptx/instructions.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Refactor `<cuda/std/cstring>` (#3484)
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/numerics/bit/bit.cast/bit_cast.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/standard_api/c_library.rst
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__algorithm/copy.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__atomic/functions/cuda_local.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__atomic/types/common.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__atomic/types/small.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__atomic/wait/notify_wait.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__bit/bit_cast.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__bit/reference.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__cccl/builtin.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__functional/hash.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__memory/allocator_traits.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/detail/libcxx/include/algorithm
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/detail/libcxx/include/cstring
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/__memcpy_async/dispatch_memcpy_async.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__cstdlib/aligned_alloc.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__cstdlib/malloc.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/cstring
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/language.support/cstring/cstring.array_func/memchr.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/language.support/cstring/cstring.array_func/memcmp.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/language.support/cstring/cstring.array_func/memcpy.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/language.support/cstring/cstring.array_func/memmove.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/language.support/cstring/cstring.array_func/memset.pass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Enable `cuda::std::ssize` for C++17 (#3813)
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/iterators/iterator.container/ssize.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__iterator/size.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Define is_floating_point_v in terms of is_floating_point (#3923)
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/__type_traits/is_floating_point.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Implement `ranges::ref_view` (#3316)
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__ranges/dangling.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__ranges/ref_view.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__ranges/subrange.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/ranges
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/ranges/range.adaptors/range.all/range.ref.view/borrowing.compile.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/ranges/range.adaptors/range.all/range.ref.view/range.ref.view.pass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Remove unused function parameter (#3828)
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__atomic/types/locked.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[PTX] Add shl,shr, bmsk, prmt (#3939)
  projects/hipccl/hipccl3/libhipcxx/codegen/add_ptx_instruction.py
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/ptx/instructions.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/ptx/instructions/bmsk.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/ptx/instructions/generated/bmsk.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/ptx/instructions/generated/prmt.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/ptx/instructions/generated/shl.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/ptx/instructions/generated/shr.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/ptx/instructions/prmt.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/ptx/instructions/shl.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/ptx/instructions/shr.rst
  projects/hipccl/hipccl3/libhipcxx/include/cuda/ptx
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/__ptx/instructions/bmsk.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/__ptx/instructions/generated/bmsk.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/__ptx/instructions/generated/prmt.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/__ptx/instructions/generated/shl.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/__ptx/instructions/generated/shr.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/__ptx/instructions/prmt.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/__ptx/instructions/shl.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/__ptx/instructions/shr.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/cuda/ptx/generated/bmsk.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/cuda/ptx/generated/prmt.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/cuda/ptx/generated/shl.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/cuda/ptx/generated/shr.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/cuda/ptx/ptx.bmsk.compile.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/cuda/ptx/ptx.prmt.compile.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/cuda/ptx/ptx.shl.compile.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/cuda/ptx/ptx.shr.compile.pass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

add st/ld instructions (#3974)
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/ptx/instructions.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/ptx/instructions/generated/ld.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/ptx/instructions/generated/st.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/ptx/instructions/ld.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/ptx/instructions/st.rst
  projects/hipccl/hipccl3/libhipcxx/include/cuda/ptx
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/__ptx/instructions/generated/ld.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/__ptx/instructions/generated/st.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/__ptx/instructions/ld.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/__ptx/instructions/st.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/cuda/ptx/generated/ld.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/cuda/ptx/generated/st.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/cuda/ptx/ptx.ld.compile.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/cuda/ptx/ptx.st.compile.pass.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Initial CUDA C++ Execution Model documentation (#3873)
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api/execution_model.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Revert "Initial CUDA C++ Execution Model documentation (#3873)" (#3950)
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api/execution_model.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Consider specializations of `std::iterator_traits` (#3837)
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/iterators/iterator.primitives/iterator.traits/iterator.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/ranges/range.req/range.refinements/subsumption.compile.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__fwd/iterator_traits.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__iterator/incrementable_traits.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__iterator/iterator_traits.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__iterator/readable_traits.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__type_traits/is_primary_template.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix atomic_thread_fence codegen (#3957)
  projects/hipccl/hipccl3/libhipcxx/codegen/generators/fence.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__atomic/functions/cuda_ptx_generated.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Increase libcudacxx test timeout (#3850)
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Implement `__cccl_is_integer` trait (#3962)
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__concepts/arithmetic.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__type_traits/is_integer.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__type_traits/is_signed_integer.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__type_traits/is_unsigned_integer.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__utility/cmp.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/type_traits
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

PTX `shfl_sync` (#3241)
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/ptx/instructions.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/ptx/instructions/generated/shfl_sync.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/ptx/instructions/shfl_sync.rst
  projects/hipccl/hipccl3/libhipcxx/include/cuda/ptx
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/__ptx/instructions/shfl_sync.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/cuda/ptx/ptx.shfl.compile.pass.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix `-Werror=unused-result` (#3810)
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/utils/libcudacxx/test/format.py
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/iterators/iterator.container/empty.array.fail.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/iterators/iterator.container/empty.container.fail.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/iterators/iterator.container/empty.initializer_list.fail.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[libcudacxx] Stable abstraction for Blackwell work-stealing (PTX try_cancel) (#3671)
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api/work_stealing.rst
  projects/hipccl/hipccl3/libhipcxx/include/cuda/__functional/for_each_canceled.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/work_stealing
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/cuda/work_stealing/for_each_canceled/for_each_canceled.pass.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Improve `<cuda/std/bit>` documentation (#3959)
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/standard_api/numerics_library/bit.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Optimize `bit_floor`, `bit_ceil`, `bit_width` (#3296)
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__bit/integral.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Implement more of cmath (#3963)
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/numerics/complex.number/cases.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__cccl/builtin.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/detail/libcxx/include/cmath
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/detail/libcxx/include/complex
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__cmath/gamma.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__cmath/hyperbolic_functions.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__cmath/hypot.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__cmath/inverse_hyperbolic_functions.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__cmath/inverse_trigonometric_functions.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__cmath/nvbf16.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__cmath/nvfp16.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__cmath/trigonometric_functions.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__internal/features.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/c.math/comparison.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/c.math/exponential_functions.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/c.math/fp_abs.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/c.math/fp_min_max.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/c.math/fp_traits.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/c.math/gamma.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/c.math/hyperbolic_functions.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/c.math/hypot.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/c.math/inverse_hyperbolic_functions.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/c.math/inverse_trigonometric_functions.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/c.math/lerp.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/c.math/logarithms.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/c.math/roots.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/c.math/rounding.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/c.math/trigonometric_functions.pass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

More stylistic changes (#4039)
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api/execution_model.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix numeric_limits digits for nvfp8/6/4 (#4070)
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/language.support/support.limits/limits/numeric.limits.members/digits.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__limits/numeric_limits_ext.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Enable mdspan for all MSVC versions (#4017)
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__mdspan/aligned_accessor.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/version
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__linalg/conj_if_needed.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__linalg/conjugate_transposed.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__linalg/conjugated.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__linalg/scaled.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__linalg/transposed.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/linalg/accessors/conjugate_transposed.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/linalg/accessors/conjugated.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/linalg/accessors/scaled.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/linalg/layouts/transposed.pass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Bump devcontainer and nvhpc versions. (#4136)
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/std/utilities/meta/meta.unary/meta.unary.prop/is_constructible.pass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

enable fp traits for `__half` and `__nv_bfloat16` before CUDA 12.2 (#4105)
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__cmath/abs.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__cmath/copysign.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__cmath/fpclassify.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__cmath/isfinite.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__cmath/isinf.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__cmath/isnan.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__cmath/isnormal.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/__cmath/signbit.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/c.math/fp_manip/copysign.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/c.math/fp_traits/fpclassify.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/c.math/fp_traits/isfinite.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/c.math/fp_traits/isinf.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/c.math/fp_traits/isnan.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/c.math/fp_traits/isnormal.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/c.math/fp_traits/signbit.pass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Extended `<cuda/bit>` operations: `bitfield_insert`, `bitfield_extract`, `bit_reverse`, `bitmask` (#3941)
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api/bit.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api/bit/bit_reverse.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api/bit/bitfield_extract.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api/bit/bitfield_insert.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api/bit/bitmask.rst
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__cccl/builtin.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/__bit/bit_reverse.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/__bit/bitfield.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/__bit/bitmask.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/bit
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/cuda/bit/bit_reverse.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/cuda/bit/bitfield.fail.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/cuda/bit/bitfield.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/cuda/bit/bitmask.pass.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix definition of `<cuda/std/numbers>` (#4047)
  projects/hipccl/hipccl3/libhipcxx/.upstream-tests/test/support/test_macros.h
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/standard_api/numerics_library/numbers.rst
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__cccl/dialect.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__cccl/execution_space.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/std/numbers
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/language.support/support.srcloc/general.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/numbers/defined.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/std/numerics/numbers/value.pass.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Improve `libcu++` documentation (#4030)
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api/bit.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api/bit/bit_reverse.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api/bit/bitfield_extract.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api/bit/bitfield_insert.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api/bit/bitmask.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api/math.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api/math/ceil_div.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api/math/round_down.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api/math/round_up.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/standard_api.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/standard_api/c_library.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/standard_api/container_library.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/standard_api/container_library/mdspan.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/standard_api/numerics_library.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/standard_api/utility_library.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Allow zero size bitmask (#4087)
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api/bit/bitfield_extract.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api/bit/bitfield_insert.rst
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api/bit/bitmask.rst
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/__bit/bitfield.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/include/cuda/__bit/bitmask.h
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/cuda/bit/bitfield.fail.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/cuda/bit/bitfield.pass.cpp
  projects/hipccl/hipccl3/libhipcxx/libcudacxx/test/libcudacxx/cuda/bit/bitmask.pass.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix `cuda::std::assume_aligned` assertion (#4023)
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__memory/assume_aligned.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Implement bit sized int types (#3956)
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__bit/byteswap.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__cccl/builtin.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__cccl/compiler.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__type_traits/always_false.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__type_traits/make_32_64_or_128_bit.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__type_traits/make_nbit_int.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__type_traits/reference_constructs_from_temporary.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/__type_traits/reference_converts_from_temporary.h
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/cstdint
  projects/hipccl/hipccl3/libhipcxx/include/cuda/std/type_traits
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Try to fix styling (#4019)
  projects/hipccl/hipccl3/libhipcxx/docs/libcudacxx/extended_api/execution_model.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
