Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

hipblaslt: close the true16 gap the rebase left on gfx1250-strict
  projects/hipblaslt/device-library/extops/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hipblaslt: stop the build detecting a bare gfx1250 on strict silicon
  projects/hipblaslt/tensilelite/Tensile/Common/Architectures.py
  projects/hipblaslt/tensilelite/Tensile/GpuArch.py
  projects/hipblaslt/tensilelite/Tensile/Tests/gpu_detection.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_arch_steppings.py
  projects/hipblaslt/tensilelite/tox.ini
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hipblaslt: build v0 kernels for gfx1250 and pick them by ASIC revision
  projects/hipblaslt/clients/tests/src/CMakeLists.txt
  projects/hipblaslt/clients/tests/src/arch_revision_gtest.cpp
  projects/hipblaslt/clients/tests/src/row_uniformity_gtest.cpp
  projects/hipblaslt/cmake/hipblaslt_codegen.cmake
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/rocblaslt_arch_revision.hpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
  projects/hipblaslt/tensilelite/Tensile/Common/Architectures.py
  projects/hipblaslt/tensilelite/Tensile/Common/Capabilities.py
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/LibraryIO.py
  projects/hipblaslt/tensilelite/Tensile/Tensile.py
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/ParseArguments.py
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/Run.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250-strict/spmm_f16_sia4.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileCreateLibraryRun/test_r7_createlib_deep_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_MatrixInstructionConversion.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_arch_steppings.py
  projects/hipblaslt/tensilelite/Tensile/Toolchain/Assembly.py
  projects/hipblaslt/tensilelite/Tensile/Toolchain/Component.py
  projects/hipblaslt/tensilelite/Tensile/Toolchain/Source.py
  projects/hipblaslt/tools/scripts/tests/test_validate_library_layout.py
  projects/hipblaslt/tools/scripts/validate_library_layout.py
  projects/hipsparselt/library/src/hcc_detail/rocsparselt/src/tensile_host.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hipblaslt: make the gfx1250-strict stepping work at runtime, in the test data and under the coverage gate
  projects/hipblaslt/clients/tests/data/known_bugs.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/subtile_bf16_gfx1250.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/subtile_bf16_gfx1250_bench.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/subtile_bf16_gfx1250_cluster.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_arch_steppings.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_valid_corpus_consistency.py
  projects/hipblaslt/tensilelite/src/hip/HipHardware.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hipblaslt: build gfx1250-strict from "all" and drop the gfx1250v0 overlay
  projects/hipblaslt/cmake/hipblaslt_codegen.cmake
  projects/hipblaslt/tensilelite/Tensile/Common/Architectures.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/Run.py
  projects/hipblaslt/tensilelite/Tensile/TensileLogic/ParseArguments.py
  projects/hipblaslt/tensilelite/Tensile/TensileLogic/Run.py
  projects/hipblaslt/tensilelite/Tensile/TensileLogic/ValidCorpusConsistency.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/config_helpers.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileLogic/__snapshots__/test_parsearguments_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/TensileLogic/test_run_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_arch_steppings.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_valid_corpus_consistency.py
  projects/hipblaslt/tensilelite/pytest.ini
  projects/hipblaslt/tools/scripts/tests/test_validate_library_layout.py
  projects/hipblaslt/tools/scripts/validate_library_layout.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hipblaslt: restore what the rebase dropped and build gfx1250-strict again
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/__init__.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/comm/gfx950/fused_a2a.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/config_helpers.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/test_config_helpers.py
  projects/hipblaslt/tensilelite/Tensile/Tests/custom/custom_aiter_bf16.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/custom/custom_aiter_f4.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/custom/custom_ck.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/custom/custom_rr.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/custom/custom_tensile_sk.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/custom/custom_triton_f4.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/custom/custom_wave_bf16.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_ClientWriter_library_files.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_arch_steppings.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_occupancy_hip.py
  projects/hipblaslt/tensilelite/Tensile/Toolchain/Component.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

hipblaslt: strip probe features from GPU_TARGETS and ship generator scripts
  projects/hipblaslt/CMakeLists.txt
  projects/hipblaslt/tensilelite/Tensile/GpuArch.py
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/Run.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_arch_steppings.py
  projects/hipblaslt/tensilelite/tasks.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(hipblaslt): split the op-agnostic multi-GPU client code out of A2A (#12634)
  projects/hipblaslt/clients/bench/src/client_a2a.cpp
  projects/hipblaslt/clients/common/include/CMakeLists.txt
  projects/hipblaslt/clients/common/include/a2a_bench.hpp
  projects/hipblaslt/clients/common/include/a2a_rank_child.hpp
  projects/hipblaslt/clients/common/include/multi_gpu.hpp
  projects/hipblaslt/clients/common/include/testing_multi_gpu.hpp
  projects/hipblaslt/clients/tests/src/CMakeLists.txt
  projects/hipblaslt/clients/tests/src/fused_a2a_multiprocess_gtest.cpp
  projects/hipblaslt/clients/tests/src/hipblaslt_gtest_main.cpp
  projects/hipblaslt/clients/tests/src/multi_gpu_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(hipblaslt): add a per-device context to the TensileLite client
  projects/hipblaslt/tensilelite/client/include/CMakeLists.txt
  projects/hipblaslt/tensilelite/client/include/DeviceContext.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): keep the A2A multi-process gtest from clearing a buffer a peer is writing
  projects/hipblaslt/clients/bench/src/client_a2a.cpp
  projects/hipblaslt/clients/common/include/a2a_bench.hpp
  projects/hipblaslt/clients/tests/src/fused_a2a_multiprocess_gtest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(ck_tile): fp8 sink support for gfx1250 qr_tdm (#11526)
  projects/composablekernel/example/ck_tile/01_fmha/CMakeLists.txt
  projects/composablekernel/example/ck_tile/01_fmha/codegen/ops/fmha_fwd.py
  projects/composablekernel/example/ck_tile/01_fmha/fmha_fwd_runner.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/block/block_masking.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/block/cast_tile_mx.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/kernel/fmha_fwd_kernel.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qr_ks_vs_tdm.hpp
  projects/composablekernel/test/ck_tile/fmha/CMakeLists.txt
  projects/composablekernel/test/ck_tile/fmha/test_fmha_fwd.cpp
  projects/composablekernel/test/ck_tile/fmha/test_fmha_fwd_sink_exact.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(hipsparselt): xfail spmm_tdm_split.yaml pending repo-wide TDMSplit re-enable
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_tdm_split_xfail.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): enable TDMSplit for sparse (2:4) kernels
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/Component.py
  projects/hipblaslt/tensilelite/Tensile/Components/LocalRead.py
  projects/hipblaslt/tensilelite/Tensile/Components/TensorDataMover.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_tdm_all.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/sparse/gfx1250/spmm_tdm_split.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_setcover_sparse_char.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

chore(tensilelite): add tuning yamls for flydsl+mn-swap
  projects/hipblaslt/tensilelite/flydsl_swap_mn/flydsl_mxf8_tn_30_winner.yaml
  projects/hipblaslt/tensilelite/flydsl_swap_mn/flydsl_mxf8_tn_31_winner.yaml
  projects/hipblaslt/tensilelite/flydsl_swap_mn/flydsl_mxf8_tn_32_winner.yaml
  projects/hipblaslt/tensilelite/flydsl_swap_mn/flydsl_mxf8_tn_33_winner.yaml
  projects/hipblaslt/tensilelite/flydsl_swap_mn/flydsl_mxf8_tn_34_winner.yaml
  projects/hipblaslt/tensilelite/flydsl_swap_mn/flydsl_mxf8_tn_35_winner.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(rocsparse): define the hyb_partition enum check in rocsparse_auxiliary.cpp (AISPARSE-681)
  projects/rocsparse/library/src/auxiliary/rocsparse_auxiliary.cpp
  projects/rocsparse/library/src/level2/rocsparse_hybmv.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocsparse): force grid.y clamp in csrmm row_split / coomm (AISPARSE-696)
  projects/rocsparse/clients/unittests/CMakeLists.txt
  projects/rocsparse/clients/unittests/unit_test_internal_level3_mm_grid_y.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

refactor(rocsparse): use static_cast for casts added in this PR (AISPARSE-696)
  projects/rocsparse/library/src/common/rocsparse_common.cpp
  projects/rocsparse/library/src/level3/rocsparse_coomm_template_segmented_atomic.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): preserve TF32 store alignment and MMA result contracts
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/lower_hip/lower_hip_mem.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/lower_llvm/mem.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/include/rocke/tf32_internal.h
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/reference/dtype_support.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/ir.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/lower_hip.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/lower_llvm.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/tf32.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_tf32.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_tf32.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

test(hipblaslt): sweep the fused GEMM + all-to-all multi-process test over 2 to 8 GPUs
  projects/hipblaslt/clients/tests/src/fused_a2a_multiprocess_gtest.cpp
  projects/hipblaslt/tensilelite/Tensile/Tests/common/comm/gfx950/fused_a2a.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(miopen): restore re-tuned CK entries on gfx1101
  projects/miopen/src/kernels/gfx110136.HIP.fdb.txt.bz2
  projects/miopen/src/kernels/gfx110136.db.txt.bz2
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

rocsolver: leaner grid barrier for the HSEQR chase
  projects/rocsolver/library/src/auxiliary/rocauxiliary_laqr.hpp
  projects/rocsolver/library/src/include/ideal_sizes.hpp
  projects/rocsolver/library/src/lapack/roclapack_hseqr.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

TEST: changed_projects - ctest detection
  .github/workflows/therock-multi-arch-ci.yml
  shared/ctest/test_changed_projects_detection.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

TEST: changed_projects - mxdatagenerator detection
  .github/workflows/therock-multi-arch-ci.yml
  shared/mxdatagenerator/test_changed_projects_detection.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

TEST: changed_projects - origami detection
  .github/workflows/therock-multi-arch-ci.yml
  shared/origami/test_changed_projects_detection.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

TEST: changed_projects - primbench detection
  .github/workflows/therock-multi-arch-ci.yml
  shared/primbench/test_changed_projects_detection.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

TEST: changed_projects - rocroller detection
  .github/workflows/therock-multi-arch-ci.yml
  shared/rocroller/test_changed_projects_detection.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

TEST: changed_projects - stinkytofu detection
  .github/workflows/therock-multi-arch-ci.yml
  shared/stinkytofu/test_changed_projects_detection.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

TEST: changed_projects - tensile detection
  .github/workflows/therock-multi-arch-ci.yml
  shared/tensile/test_changed_projects_detection.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

move hplr block before wlr rejection
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Move the subtile store's cross-wave barrier to the last batch
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipdnn): re-measure unstalled when stalled timing stays negative
  projects/hipdnn/backend/tests/descriptors/TestProfilingControlDescriptor.cpp
  projects/hipdnn/docs/user-guides/how-to/build-execute-hipdnn.rst
  projects/hipdnn/frontend/include/hipdnn_frontend/Graph.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/autotune/TimedRunLoop.hpp
  projects/hipdnn/frontend/tests/TestAutotune.cpp
  projects/hipdnn/frontend/tests/TestGraph.cpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/BenchmarkPlan.hpp
  projects/hipdnn/plugin_sdk/tests/CMakeLists.txt
  projects/hipdnn/plugin_sdk/tests/ingestor/TestBenchmarkPlan.cpp
  projects/hipdnn/python/frontend_wheel_package/tests/test_graph_api.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

rocke: cluster support for gfx1250
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/ir/core_types.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/ir/ir_flow.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/ir/ir_mem.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/lower_llvm/control.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/lower_llvm/data.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/include/rocke/ir.h
  dnn-providers/hip-kernel-provider/rocke/platform/dsl_docs/development/known_gaps.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/ir.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/lower_llvm.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/isa_features/README.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/gfx1250/isa_features/cluster_ids_verify.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/future_intrinsic_lowering.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/tests/core/test_gfx1250_cluster.py
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/parity/gfx1250_lowering_emit.c
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/parity/gfx1250_lowering_emit.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

feat(hipdnn): catalog rankers read the problem's graph features (UHD Phase 3)
  projects/hipdnn/docs/rfcs/0019_UniversalHeuristicDescriptor.md
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/heuristics/EngineFeatures.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/heuristics/uhd/FeatureExtractor.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/GenericPlanBuilder.hpp
  projects/hipdnn/plugin_sdk/include/hipdnn_plugin_sdk/ingestor/UhdKernelHeuristic.hpp
  projects/hipdnn/plugin_sdk/tests/ingestor/KernelIngestorTestFixtures.hpp
  projects/hipdnn/plugin_sdk/tests/ingestor/TestGenericPlanBuilder.cpp
  projects/hipdnn/plugin_sdk/tests/ingestor/uhd/TestUhdKernelHeuristic.cpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): let RAP serve any M that is a multiple of MacroTile0
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
  projects/hipblaslt/tensilelite/Tensile/Components/WorkGroupMappingAlgos.py
  projects/hipblaslt/tensilelite/Tensile/Contractions.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_PrefetchAcrossPersistent.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_ReuseAcrossPersistent.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_streamk_dponly_sgpr_reduction.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): let RAP serve any M and N, edge tiles included
  projects/hipblaslt/tensilelite/Tensile/Contractions.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/rap_gfx1250.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_ReuseAcrossPersistent.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): let RAP serve K % DepthU != 0 without a tail loop
  projects/hipblaslt/tensilelite/Tensile/Components/TDMFuse.py
  projects/hipblaslt/tensilelite/Tensile/Contractions.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/rap_gfx1250.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_ReuseAcrossPersistent.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

rocsolver: blocked computation of the ORGQR block columns
  projects/rocsolver/library/src/auxiliary/rocauxiliary_orgqr_ungqr.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(stinkytofu): Lock ds order (#12701)
  shared/stinkytofu/include/stinkytofu/bindings/python/Module.hpp
  shared/stinkytofu/include/stinkytofu/core/Types.hpp
  shared/stinkytofu/src/pipeline/backend/Gfx1250Backend.cpp
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
  shared/stinkytofu/tests/unit/asm/DAGSchedulerPassTest.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): lower coverage ratchet floor for KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/coverage-baseline.json
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke): persistent bt_hkv_minor decode
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx942/attention/prefill/attention_dense_prefill.py
  dnn-providers/hip-kernel-provider/rocke/library/builders/gfx950/attention/prefill/attention_dense_prefill.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/attention_dense_decode.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/attention_dense_spec.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx942/attention_dense.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/gfx950/attention_dense.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_builds.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attention_dense_gfx942.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
