Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Add Coverage
  dnn-providers/hip-kernel-provider/CMakeLists.txt
  dnn-providers/hip-kernel-provider/cmake/Tests.cmake
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

chore: bump tensile version in rocblas
  projects/rocblas/CMakeLists.txt
  projects/rocblas/bump_develop_version.sh
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Super build fixes for windows.
  CMakeLists.txt
  CMakePresets.json
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/VersionUtils.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

chore: test math-ci on null changes
  shared/rocroller/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

cleaning
  projects/rocsparse/clients/testings/testing_spilu0.cpp
  projects/rocsparse/library/src/include/rocsparse_csrilu0_info.hpp
  projects/rocsparse/library/src/precond/bsrilu0/rocsparse_bsrilu0_kernel_launch.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix tidy
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/VersionUtils.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

More tests, no with ct memcp
  projects/hipfft/clients/tests/hipffxt_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

TheRock hash bump
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci-nightly.yml
  .github/workflows/therock-ci-windows.yml
  .github/workflows/therock-ci.yml
  .github/workflows/therock-test-component.yml
  .github/workflows/therock-test-packages.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix codegen naming bugs and correct YAML config mismatches
  projects/hipdnn/tools/DescriptorGenerator/codegen/models.py
  projects/hipdnn/tools/DescriptorGenerator/configs/batchnorm_inference.yaml
  projects/hipdnn/tools/DescriptorGenerator/configs/batchnorm_inference_variance_ext.yaml
  projects/hipdnn/tools/DescriptorGenerator/configs/convolution_bwd.yaml
  projects/hipdnn/tools/DescriptorGenerator/templates/packer.hpp.j2
  projects/hipdnn/tools/DescriptorGenerator/templates/test_descriptor.cpp.j2
  projects/hipdnn/tools/DescriptorGenerator/templates/test_graph_ops.cpp.j2
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add descriptor code generator tool to convert flatbuffer schema -> backend descriptors + lowering code
  projects/hipdnn/tools/DescriptorGenerator/.gitignore
  projects/hipdnn/tools/DescriptorGenerator/CLAUDE.md
  projects/hipdnn/tools/DescriptorGenerator/README.md
  projects/hipdnn/tools/DescriptorGenerator/THIRD_PARTY_LICENSES.md
  projects/hipdnn/tools/DescriptorGenerator/codegen/__init__.py
  projects/hipdnn/tools/DescriptorGenerator/codegen/config_loader.py
  projects/hipdnn/tools/DescriptorGenerator/codegen/generator.py
  projects/hipdnn/tools/DescriptorGenerator/codegen/models.py
  projects/hipdnn/tools/DescriptorGenerator/configs/batchnorm.yaml
  projects/hipdnn/tools/DescriptorGenerator/configs/batchnorm_backward.yaml
  projects/hipdnn/tools/DescriptorGenerator/configs/batchnorm_inference.yaml
  projects/hipdnn/tools/DescriptorGenerator/configs/batchnorm_inference_variance_ext.yaml
  projects/hipdnn/tools/DescriptorGenerator/configs/convolution_bwd.yaml
  projects/hipdnn/tools/DescriptorGenerator/configs/convolution_fwd.yaml
  projects/hipdnn/tools/DescriptorGenerator/configs/convolution_wrw.yaml
  projects/hipdnn/tools/DescriptorGenerator/configs/matmul.yaml
  projects/hipdnn/tools/DescriptorGenerator/configs/pointwise.yaml
  projects/hipdnn/tools/DescriptorGenerator/generate.py
  projects/hipdnn/tools/DescriptorGenerator/requirements.txt
  projects/hipdnn/tools/DescriptorGenerator/templates/descriptor.cpp.j2
  projects/hipdnn/tools/DescriptorGenerator/templates/descriptor.hpp.j2
  projects/hipdnn/tools/DescriptorGenerator/templates/fragments/attribute_enum_block.j2
  projects/hipdnn/tools/DescriptorGenerator/templates/fragments/cmake_entries.j2
  projects/hipdnn/tools/DescriptorGenerator/templates/fragments/descriptor_type_enum.j2
  projects/hipdnn/tools/DescriptorGenerator/templates/fragments/factory_case.j2
  projects/hipdnn/tools/DescriptorGenerator/templates/fragments/string_utils_block.j2
  projects/hipdnn/tools/DescriptorGenerator/templates/packer.hpp.j2
  projects/hipdnn/tools/DescriptorGenerator/templates/test_descriptor.cpp.j2
  projects/hipdnn/tools/DescriptorGenerator/templates/test_graph_ops.cpp.j2
  projects/hipdnn/tools/DescriptorGenerator/templates/test_integration.cpp.j2
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

Update descriptor codegen templates to match graph-descriptor-lowering ground truth
  projects/hipdnn/tools/DescriptorGenerator/codegen/config_loader.py
  projects/hipdnn/tools/DescriptorGenerator/codegen/models.py
  projects/hipdnn/tools/DescriptorGenerator/configs/convolution_fwd.yaml
  projects/hipdnn/tools/DescriptorGenerator/templates/descriptor.cpp.j2
  projects/hipdnn/tools/DescriptorGenerator/templates/packer.hpp.j2
  projects/hipdnn/tools/DescriptorGenerator/templates/test_descriptor.cpp.j2
  projects/hipdnn/tools/DescriptorGenerator/templates/test_graph_ops.cpp.j2
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Testing Skip Filter
  projects/composablekernel/.github/ISSUE_TEMPLATE.md
  projects/composablekernel/.github/dependabot.yml
  projects/composablekernel/.gitignore
  projects/composablekernel/Jenkinsfile
  projects/composablekernel/README.md
  projects/composablekernel/docs/conceptual/ck_tile/index.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Testing Git Command
  projects/composablekernel/Jenkinsfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Make LoadLDSTile parallel to Direct2LDS if mixing memory ops
  shared/rocroller/lib/source/KernelGraph/Transformations/AddPrefetch.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Rename GetSerializedGraph_ext to GetSerializedBinaryGraph_ext
  projects/hipdnn/backend/include/hipdnn_backend.h
  projects/hipdnn/backend/src/HipdnnBackend.cpp
  projects/hipdnn/tests/backend/IntegrationGraphDescriptorApi.cpp
  projects/hipdnn/tests/frontend/IntegrationConvFpropDescriptorLowering.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update block_fmha_pipeline_qr_ks_vs_async.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qr_ks_vs_async.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add buffer load fence in FMHA pipeline
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qr_ks_vs.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update sink value handling in block_fmha_pipeline
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qr_ks_vs.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Added tests for half_float and double types
  projects/miopen/test/gtest/deepbench_lstm.cpp
  projects/miopen/test/gtest/lstm.cpp
  projects/miopen/test/gtest/lstm.hpp
  projects/miopen/test/gtest/lstm_dropout.cpp
  projects/miopen/test/gtest/lstm_extra.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

cleaning
  projects/rocsparse/clients/testings/testing_spic0.cpp
  projects/rocsparse/clients/testings/testing_spilu0.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix a issue
  projects/composablekernel/include/ck_tile/ops/gemm/kernel/universal_gemm_kernel.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixing test function
  projects/composablekernel/Jenkinsfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Always use segment boundary even when pred by Sequence
  shared/rocroller/lib/source/KernelGraph/Transformations/AddPrefetch.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

add layernorm serialization round-trip tests
  projects/hipdnn/frontend/tests/TestGraphSerialization.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

address review comments
  projects/hipdnn/docs/doxygen-guidelines.md
  projects/hipdnn/frontend/include/hipdnn_frontend/Graph.hpp
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipDNN] Add batchnorm inference c-api descriptor, lowering, and integration test
  projects/hipdnn/backend/include/HipdnnBackendAttributeName.h
  projects/hipdnn/backend/include/HipdnnBackendDescriptorType.h
  projects/hipdnn/backend/src/BackendEnumStringUtils.hpp
  projects/hipdnn/backend/src/CMakeLists.txt
  projects/hipdnn/backend/src/descriptors/BatchnormInferenceOperationDescriptor.cpp
  projects/hipdnn/backend/src/descriptors/BatchnormInferenceOperationDescriptor.hpp
  projects/hipdnn/backend/src/descriptors/DescriptorFactory.cpp
  projects/hipdnn/backend/tests/CMakeLists.txt
  projects/hipdnn/backend/tests/TestBackendEnumStringUtils.cpp
  projects/hipdnn/backend/tests/descriptors/TestBatchnormInferenceOperationDescriptor.cpp
  projects/hipdnn/backend/tests/descriptors/TestGraphDescriptorBatchnormInference.cpp
  projects/hipdnn/frontend/include/hipdnn_frontend/detail/BatchnormInferencePacker.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/BatchnormInferenceNode.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/constants/BnInferenceConstants.hpp
  projects/hipdnn/tests/frontend/CMakeLists.txt
  projects/hipdnn/tests/frontend/IntegrationBatchnormInferenceDescriptorLowering.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix incorrect FLOPS calculation in fwd for large seqlens
  projects/composablekernel/example/ck_tile/01_fmha/mask.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Build "t", "t", "f", "f" (pssk) pipelines for gfx11/12
  projects/composablekernel/example/ck_tile/01_fmha/codegen/ops/fmha_fwd.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add Doxygen file and class documentation to RMSNormAttributes
  projects/hipdnn/frontend/include/hipdnn_frontend/attributes/RMSNormAttributes.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add HIP_DNN_SKIP_TESTS backwards compatibility to miopen-provider
  dnn-providers/miopen-provider/CMakeLists.txt
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

name change to LayerNormNode
  projects/hipdnn/frontend/include/hipdnn_frontend/Graph.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/LayerNormNode.hpp
  projects/hipdnn/frontend/tests/CMakeLists.txt
  projects/hipdnn/frontend/tests/TestGraph.cpp
  projects/hipdnn/frontend/tests/TestLayerNormNode.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Test mxfp4 deterministic data gen
  projects/hipblaslt/tensilelite/tests/MXDataGen_test.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fix ambiguity in oob loading with customized_value for e8m0_t
  projects/composablekernel/include/ck_tile/core/arch/amd_buffer_addressing.hpp
  projects/composablekernel/include/ck_tile/core/arch/amd_buffer_addressing_builtins.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Completing rocprim device_segmented scan
  projects/rocprim/benchmark/benchmark_device_segmented_reduce.hpp
  projects/rocprim/benchmark/benchmark_device_segmented_scan.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix mixing positional and named arguments
  projects/miopen/Jenkinsfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Fixed clang format violations in lstm.hpp
  projects/miopen/test/gtest/lstm.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Change method to accept a map of parameters instead of individual arguments.
  projects/miopen/Jenkinsfile
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update block_fmha_pipeline_qr_ks_vs.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qr_ks_vs.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Removed 32x32 impl from the sparse wmma selector
  projects/composablekernel/include/ck_tile/core/arch/mma/sparse/wmma/selector.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix
  projects/composablekernel/include/ck/tensor_operation/gpu/grid/gridwise_gemm_multiple_d_xdl_cshuffle.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
