Repository ROCm/rocm-libraries, changes with the owners that CODEOWNERS names for each.
All owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

CODEOWNERS:

* @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
# Documentation files
docs/ @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.md @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
*.rst @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss
.readthedocs.yaml @ROCm/rocm-documentation @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss

feat(hip-kernel-provider): resolve rocm_kpack from the dev container by default
  .github/actions/ci-env/action.yml
  .github/workflows/hipdnn-superbuild-ci.yml
  .pre-commit-config.yaml
  dnn-providers/hip-kernel-provider/cmake/KpackPython.cmake
  dnn-providers/hip-kernel-provider/descriptor-packaging/cmake/HkpPackaging.cmake
  dnn-providers/hip-kernel-provider/src/engines/asm_sdpa_engine/CMakeLists.txt
  projects/hipdnn/dockerfiles/Dockerfile.ubuntu24
  projects/hipdnn/dockerfiles/README.md
  projects/hipdnn/docs/Building.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

fix(hip-kernel-provider): address review of the kpack resolution trim
  .github/workflows/hipdnn-superbuild-ci.yml
  .pre-commit-config.yaml
  dnn-providers/hip-kernel-provider/cmake/KpackPython.cmake
  dnn-providers/hip-kernel-provider/descriptor-packaging/cmake/HkpPackaging.cmake
  projects/hipdnn/dockerfiles/Dockerfile.ubuntu24
  projects/hipdnn/dockerfiles/README.md
  projects/hipdnn/docs/Building.md
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss, @ROCm/rocm-documentation

revert(hiptensor): Remove stub implementation (#11034)
  projects/hiptensor/CHANGELOG.md
  projects/hiptensor/CMakeLists.txt
  projects/hiptensor/docs/conceptual/programmers-guide.rst
  projects/hiptensor/docs/install/installation.rst
  projects/hiptensor/library/stub/CMakeLists.txt
  projects/hiptensor/library/stub/generate_api_stub.py
  projects/hiptensor/library/stub/hiptensor_stub_special.cpp
  projects/hiptensor/test/CMakeLists.txt
  projects/hiptensor/test/python/CMakeLists.txt
  projects/hiptensor/test/python/test_generate_api_stub.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Improved the comment
  projects/composablekernel/include/ck/tensor_operation/gpu/grid/gridwise_gemm_xdl_cshuffle_v3_mx.hpp
  projects/composablekernel/include/ck/tensor_operation/gpu/grid/gridwise_gemm_xdl_cshuffle_v3_mx_bpreshuffle.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

added gfx950 to config
  projects/rocrand/library/src/rng/config_types.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(tensilelite): add ffm_fail marker for FFM-only emulation failures (#11114)
  projects/hipblaslt/tensilelite/Tensile/Tests/common/config_helpers.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/tdm_multicast_gfx1250.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_dynamic_hgemm_quick.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_dynamic_sgemm_quick.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx1250/core/sk_hybrid_quick.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/test_config_helpers.py
  projects/hipblaslt/tensilelite/pytest.ini
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(data_sdk): pack FP4 draws at the nibble the strides choose
  projects/hipdnn/data_sdk/include/hipdnn_data_sdk/utilities/PackedFp4Tensor.hpp
  projects/hipdnn/data_sdk/tests/utilities/TestPackedFp4Tensor.cpp
  projects/hipdnn/data_sdk/tests/utilities/TestTensor.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(hipdnn): add MoE grouped matmul backward CPU reference (#10482)
  dnn-providers/integration-tests/src/harness/input-init/FillInputs.cpp
  dnn-providers/integration-tests/src/harness/tolerance/ToleranceResolver.hpp
  dnn-providers/integration-tests/src/integration-tests/moe/CMakeLists.txt
  dnn-providers/integration-tests/src/integration-tests/moe/IntegrationGpuMoeGroupedMatmulBwd.cpp
  dnn-providers/integration-tests/tests/TestFillInputs.cpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/CpuFpReferenceMoeGroupedMatmulBwd.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/TestTolerances.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/CpuReferenceGraphExecutor.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/MoeGroupedMatmulBwdPlan.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/MoeGroupedMatmulBwdSignatureKey.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/PlanBuilderRegistry.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/cpu_graph_executor/detail/PlanRegistrySignatureKey.hpp
  projects/hipdnn/test_sdk/include/hipdnn_test_sdk/utilities/detail/CpuFpReferenceUtilities.hpp
  projects/hipdnn/test_sdk/tests/CMakeLists.txt
  projects/hipdnn/test_sdk/tests/utilities/TestCpuFpReferenceMoeGroupedMatmulBwd.cpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/MoeGroupedMatmulBwdGraphUtils.hpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/MoeGroupedMatmulBwdTensorBundles.hpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestCpuReferenceGraphExecutor.cpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestCpuReferenceRaggedRejection.cpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestMoeGroupedMatmulBwdPlan.cpp
  projects/hipdnn/test_sdk/tests/utilities/cpu_graph_executor/TestMoeGroupedMatmulBwdSignatureKey.cpp
  projects/hipdnn/tests/frontend/IntegrationMoeGroupedMatmulBwd.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add batch_mode 1 for BBS TN to known_bugs
  projects/hipblaslt/clients/tests/data/known_bugs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): add emu_fast/emu_full markers and equivalent categories (#10360)
  projects/hipblaslt/tensilelite/pytest.ini
  projects/hipblaslt/tensilelite/test_categories.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

style(rocblas): apply clang-format
  projects/rocblas/library/src/blas2/rocblas_gemv_kernels.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

- Bluestein single-kernel.
  projects/rocfft/library/src/device/generator/fftgenerator.h
  projects/rocfft/library/src/rtc_bluestein_kernel.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[CK] De-duplicate enumerated ck4inductor instances
  projects/composablekernel/python/ck4inductor/batched_universal_gemm/gen_instances.py
  projects/composablekernel/python/ck4inductor/grouped_conv_fwd/gen_instances.py
  projects/composablekernel/python/ck4inductor/universal_gemm/gen_instances.py
  projects/composablekernel/python/ck4inductor/util.py
  projects/composablekernel/python/test/test_gen_instances.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(navi32): record post-ship verification of the lean catalogs
  docs/navi32/LEAN_GRID_REPORT.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add BBS TN quick small tests
  projects/hipblaslt/clients/tests/data/known_bugs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(rocke): close HIP debug-lowering gap for WMMA bf16, fp8 hero MFMA, async DRAM->LDS, and scalef32 dequant
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/core/lower_hip.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/examples/common/hip_lowering_parity.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[hipblaslt] size the Stream-K synchronizer per stream and per problem
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/handle.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/include/handle.h
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/rocblaslt_mat.cpp
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
  projects/hipblaslt/tensilelite/include/Tensile/ContractionProblemPredicates.hpp
  projects/hipblaslt/tensilelite/include/Tensile/ContractionSolution.hpp
  projects/hipblaslt/tensilelite/src/ContractionSolution.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update Pin for TheRock multi-arch workflows fbc5ee9 - 08/04/2026
  .github/actions/ci-env/action.yml
  .github/workflows/therock-multi-arch-ci.yml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

- Fix template in fused Bluestein.
  projects/rocfft/library/src/device/generator/bluestein_generator.h
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

docs(hipdnn): specify the engine estimate, and stop authoring the problem space
  projects/hipdnn/docs/rfcs/0019.13_TrainingMethodology.md
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Scope PLSIN SGPR changes, fix comments, add coverage
  projects/hipblaslt/tensilelite/Tensile/Components/GlobalWriteBatch.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/InstructionEmitter.py
  projects/hipblaslt/tensilelite/Tensile/Components/Subtile/LogicalScheduler.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/sk_mxfp4_bf16_plsin.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/data/test_data/_designed/gfx950/plsin_mxf4_bf16.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_plsin_mxf4_gfx950_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtile_plsin.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtile_plsin_codegen.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtile_plsin_scheduler.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

added configs for gfx950
  projects/rocrand/library/src/rng/config/lfsr113_config.hpp
  projects/rocrand/library/src/rng/config/mrg31k3p_config.hpp
  projects/rocrand/library/src/rng/config/mrg32k3a_config.hpp
  projects/rocrand/library/src/rng/config/mt19937_config.hpp
  projects/rocrand/library/src/rng/config/mtgp32_config.hpp
  projects/rocrand/library/src/rng/config/philox4_32_10_config.hpp
  projects/rocrand/library/src/rng/config/threefry2_32_20_config.hpp
  projects/rocrand/library/src/rng/config/threefry2_64_20_config.hpp
  projects/rocrand/library/src/rng/config/threefry4_32_20_config.hpp
  projects/rocrand/library/src/rng/config/threefry4_64_20_config.hpp
  projects/rocrand/library/src/rng/config/xorwow_config.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Update GEMM Batched sample docs and code for inclusion in docs
  projects/hipblaslt/docs/data/how-to/example_general_batched_gemm_standalone.cpp
  projects/hipblaslt/docs/how-to/how-to-general-batched-gemm.rst
  projects/hipblaslt/docs/index.rst
  projects/hipblaslt/docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hipblaslt): correct MIInputPerThread metadata on 3 gfx950 Custom kernels (ROCM-7144)
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Custom_Cijk_Ailk_Bjlk_S_MX_B_BIAS_HA_S_SAV_NTD_SK3_UserArgs_MT256x256x32_MI16x16x1_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Custom_Cijk_Ailk_Bljk_S_MX_B_BIAS_HA_S_SAV_NTD_SK3_UserArgs_MT256x256x32_MI16x16x1_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/Tensile/CustomKernels/Custom_Cijk_Alik_Bljk_S_MX_B_BIAS_HA_S_SAV_NTD_SK3_UserArgs_MT256x256x32_MI16x16x1_shortname0_gfx950.s
  projects/hipblaslt/tensilelite/Tensile/TensileLogic/known_bugs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

match test-side JIT cbdata allocation logic with what library expects
  projects/rocfft/shared/fft_params.h
  projects/rocfft/shared/rocfft_params.h
  projects/rocfft/shared/test_callbacks.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

sync shared again
  projects/hipfft/shared/fft_params.h
  projects/hipfft/shared/rocfft_params.h
  projects/hipfft/shared/test_callbacks.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

use correct fields when allocating jit data
  projects/hipfft/shared/test_callbacks.cpp
  projects/rocfft/shared/test_callbacks.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Add note
  projects/hipblaslt/docs/how-to/how-to-general-batched-gemm.rst
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(tensilelite): reject WMMA shapes StinkyTofu cannot lower (#10837)
  projects/hipblaslt/tensilelite/Tensile/BenchmarkProblems.py
  projects/hipblaslt/tensilelite/Tensile/Common/MatrixInstructionNaming.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Validators/MatrixInstruction.py
  projects/hipblaslt/tensilelite/Tensile/TensileLogic/Run.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_MatrixInstructionNaming.py
  projects/hipblaslt/tensilelite/rocisa/rocisa/__init__.py
  projects/hipblaslt/tensilelite/rocisa/rocisa/src/instruction/instruction.cpp
  projects/hipblaslt/tensilelite/rocisa_stinkytofu_adaptor/rocisa_stinkytofu_adaptor/__init__.py
  projects/hipblaslt/tensilelite/rocisa_stinkytofu_adaptor/rocisa_stinkytofu_adaptor/base.py
  shared/stinkytofu/python_module/src/python_bindings.cpp
  shared/stinkytofu/src/conversion/rocisa/ToStinkyTofuUtils.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat(skills): add worktree-venv for per-worktree Python environments (#10471)
  skills/worktree-venv/SKILL.md
  skills/worktree-venv/scripts/setup_worktree_venv.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

test(rocisa): cover gfx942 alongside gfx950 in the atomics tests
  projects/hipblaslt/tensilelite/rocisa/test/test_atomics.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

ci(ck-tile): split dispatcher CI into smoke and daily tiers
  projects/composablekernel/Jenkinsfile
  projects/composablekernel/groovy/vars/ck.groovy
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

feat: [hipblaslt][origami] Add gfx1250 BBS TN Origami library skipping batch_mode 1 in known_bugs (#11182)
  projects/hipblaslt/clients/tests/data/known_bugs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Origami/gfx1250_Cijk_Alik_Bljk_BBS_BH_Bias_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250v0/Origami/gfx1250v0_Cijk_Alik_Bljk_BBS_BH_Bias_HA_S_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

Added origami libs for mxfp4/fp8 bs/ss TN (#11148)
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Origami/gfx1250_Cijk_Alik_Bljk_F4BS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Origami/gfx1250_Cijk_Alik_Bljk_F4SS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Origami/gfx1250_Cijk_Alik_Bljk_F8BS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/Origami/gfx1250_Cijk_Alik_Bljk_F8SS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250v0/Origami/gfx1250v0_Cijk_Alik_Bljk_F4BS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250v0/Origami/gfx1250v0_Cijk_Alik_Bljk_F4SS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250v0/Origami/gfx1250v0_Cijk_Alik_Bljk_F8BS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250v0/Origami/gfx1250v0_Cijk_Alik_Bljk_F8SS_MXAE8B32_MXBE8B32_BH_Bias_HA_S_SAB_SAV_UserArgs.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

[stinkytofu] Add WaitAwareScheduleRepairPass
  shared/stinkytofu/docs/README.md
  shared/stinkytofu/docs/developer/wait-aware-schedule-repair-pass.md
  shared/stinkytofu/docs/sphinx/_toc.yml.in
  shared/stinkytofu/include/stinkytofu/transforms/asm/WaitAwareScheduleRepairPass.hpp
  shared/stinkytofu/src/pipeline/backend/Gfx1250Backend.cpp
  shared/stinkytofu/src/transforms/asm/CMakeLists.txt
  shared/stinkytofu/src/transforms/asm/StinkyDAGSchedulerPass.cpp
  shared/stinkytofu/src/transforms/asm/WaitAwareScheduleRepairPass.cpp
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
  shared/stinkytofu/src/transforms/asm/dag/ReadyQueue.hpp
  shared/stinkytofu/src/transforms/asm/dag/RegionDAG.cpp
  shared/stinkytofu/src/transforms/asm/dag/RegionDAG.hpp
  shared/stinkytofu/src/transforms/asm/dag/WaitAnchoredReadyQueue.hpp
  shared/stinkytofu/tests/api/ApiExportTest.cpp
  shared/stinkytofu/tests/filecheck/wait_aware_schedule_repair_carry_test.stir
  shared/stinkytofu/tests/filecheck/wait_aware_schedule_repair_dependency_flush_test.stir
  shared/stinkytofu/tests/filecheck/wait_aware_schedule_repair_directive_anchor_test.stir
  shared/stinkytofu/tests/filecheck/wait_aware_schedule_repair_disabled_test.stir
  shared/stinkytofu/tests/filecheck/wait_aware_schedule_repair_test.stir
  shared/stinkytofu/tools/stinkytofu-opt/stinkytofu-opt.hpp
  shared/stinkytofu/tools/visualize_dag.py
Owners: @ROCm/rocm-documentation, @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

unmtr_hb2st: clang-format
  projects/rocsolver/clients/common/auxiliary/testing_ormtr_unmtr_hb2st.hpp
  projects/rocsolver/clients/common/misc/lapack_host_reference.cpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sb2st_hb2st.hpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_sy2sb_he2hb.hpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(tensilelite): guard the fused-A2A ISA and shorten its scalar setup
  projects/hipblaslt/tensilelite/Tensile/Components/SdmaPacketEmitter.py
  projects/hipblaslt/tensilelite/Tensile/Components/WorkGroupMappingAlgos.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(stinkytofu): block the LD_SCALE cycle of scale WMMA co-issue windows
  shared/stinkytofu/hardware/src/gfx/Gfx1250/Gfx1250Formats.def
  shared/stinkytofu/hardware/src/gfx/Gfx1250v0/Gfx1250v0Formats.def
  shared/stinkytofu/include/stinkytofu/hardware/GfxIsa.hpp
  shared/stinkytofu/include/stinkytofu/ir/asm/StinkyAsmIR.hpp
  shared/stinkytofu/src/ir/asm/StinkyAsmIR.cpp
  shared/stinkytofu/src/transforms/asm/InsertClusterBarrierPass.cpp
  shared/stinkytofu/src/transforms/asm/SwInstructionPrefetchAbsDynamicPass.cpp
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
  shared/stinkytofu/src/transforms/logical/ToStinkyAsmPass.cpp
  shared/stinkytofu/tests/filecheck/dag_wmma_scale_blocked_tail.stir
  shared/stinkytofu/tools/tablegen/GenInstructions.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(stinkytofu): block the LD_SCALE cycle of scale WMMA co-issue windows (#11156)
  shared/stinkytofu/hardware/src/gfx/Gfx1250/Gfx1250Formats.def
  shared/stinkytofu/hardware/src/gfx/Gfx1250v0/Gfx1250v0Formats.def
  shared/stinkytofu/include/stinkytofu/hardware/GfxIsa.hpp
  shared/stinkytofu/include/stinkytofu/ir/asm/StinkyAsmIR.hpp
  shared/stinkytofu/src/ir/asm/StinkyAsmIR.cpp
  shared/stinkytofu/src/transforms/asm/InsertClusterBarrierPass.cpp
  shared/stinkytofu/src/transforms/asm/SwInstructionPrefetchAbsDynamicPass.cpp
  shared/stinkytofu/src/transforms/asm/dag/CDNA5.hpp
  shared/stinkytofu/src/transforms/logical/ToStinkyAsmPass.cpp
  shared/stinkytofu/tests/filecheck/dag_wmma_scale_blocked_tail.stir
  shared/stinkytofu/tools/tablegen/GenInstructions.cpp
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss

fix(hip-kernel-provider): restore quick/comprehensive/full external-integration tiers
  dnn-providers/hip-kernel-provider/HIP_MLOPS_ENGINE_test_categories_integration.yaml
Owners: @jichangjichang, @KKyang, @vin-huang, @imcarsonliao, @hcman2, @Serge45, @Jinp800125, @TonyYHsieh, @solaslin, @aazz44ss
